GO:0003674	1.000000	0.000000	0.000000	molecular_function
GO:0005488	0.531308	0.632414	0.632414	binding
GO:0003824	0.464503	0.766788	0.766788	catalytic activity
GO:0005515	0.306438	1.182739	0.550325	protein binding
GO:0097159	0.204634	1.586531	0.954118	organic cyclic compound binding
GO:1901363	0.201186	1.603527	0.971114	heterocyclic compound binding
GO:0016740	0.176077	1.736836	0.970048	transferase activity
GO:0016787	0.160116	1.831855	1.065067	hydrolase activity
GO:0003676	0.150084	1.896560	0.292891	nucleic acid binding
GO:0043167	0.114715	2.165306	1.532892	ion binding
GO:0003677	0.092370	2.381949	0.485389	DNA binding
GO:0005215	0.080885	2.514731	2.514731	transporter activity
GO:0016491	0.080030	2.525358	1.758570	oxidoreductase activity
GO:0016772	0.075726	2.580633	0.843797	transferase activity, transferring phosphorus-containing groups
GO:0022892	0.071850	2.633175	0.118444	substrate-specific transporter activity
GO:0042802	0.071080	2.643943	1.461204	identical protein binding
GO:0019899	0.069370	2.668295	1.485556	enzyme binding
GO:0022857	0.068971	2.674063	0.159332	transmembrane transporter activity
GO:0043168	0.067347	2.697899	0.532593	anion binding
GO:0022891	0.064269	2.744681	0.003099	substrate-specific transmembrane transporter activity
GO:0003723	0.063300	2.759873	0.863314	RNA binding
GO:0016301	0.060763	2.800770	0.220137	kinase activity
GO:0036094	0.060336	2.807831	2.175417	small molecule binding
GO:0044877	0.059281	2.825463	2.193049	macromolecular complex binding
GO:0043169	0.058711	2.835125	0.669819	cation binding
GO:0005102	0.057115	2.862686	1.679947	receptor binding
GO:0004871	0.056203	2.878782	2.878782	signal transducer activity
GO:0098772	0.056061	2.881321	2.881321	molecular function regulator
GO:0016788	0.055548	2.890514	1.058659	hydrolase activity, acting on ester bonds
GO:0016773	0.055291	2.895143	0.314510	phosphotransferase activity, alcohol group as acceptor
GO:0046872	0.054864	2.902905	0.067780	metal ion binding
GO:0060089	0.054579	2.908113	2.908113	molecular transducer activity
GO:0004872	0.054493	2.909681	0.001568	receptor activity
GO:0015075	0.053496	2.928156	0.183475	ion transmembrane transporter activity
GO:0001071	0.049791	2.999931	2.999931	nucleic acid binding transcription factor activity
GO:0003700	0.049591	3.003946	0.004015	transcription factor activity, sequence-specific DNA binding
GO:0046983	0.049249	3.010866	1.828127	protein dimerization activity
GO:0043565	0.048023	3.036065	0.654116	sequence-specific DNA binding
GO:0097367	0.045515	3.089704	2.457290	carbohydrate derivative binding
GO:0000166	0.044575	3.110584	0.000000	nucleotide binding
GO:1901265	0.044575	3.110584	1.506915	nucleoside phosphate binding
GO:0038023	0.043492	3.135181	0.002618	signaling receptor activity
GO:0004672	0.043406	3.137149	0.215366	protein kinase activity
GO:0099600	0.041782	3.175293	0.265612	transmembrane receptor activity
GO:0016817	0.040357	3.209995	1.378140	hydrolase activity, acting on acid anhydrides
GO:0016818	0.040214	3.213532	0.003537	hydrolase activity, acting on acid anhydrides, in phosphorus-containing anhydrides
GO:0016462	0.039958	3.219931	0.006399	pyrophosphatase activity
GO:0030234	0.039844	3.222788	0.341467	enzyme regulator activity
GO:0044822	0.039245	3.237923	0.478050	poly(A) RNA binding
GO:0008324	0.037621	3.280199	0.352043	cation transmembrane transporter activity
GO:0004888	0.037364	3.287040	0.000000	transmembrane signaling receptor activity
GO:0001067	0.037279	3.289331	1.392772	regulatory region nucleic acid binding
GO:0000975	0.037136	3.293161	0.001534	regulatory region DNA binding
GO:0044212	0.036965	3.297777	0.004615	transcription regulatory region DNA binding
GO:0032403	0.035768	3.330695	0.209828	protein complex binding
GO:0017111	0.035455	3.339499	0.119568	nucleoside-triphosphatase activity
GO:0042803	0.034942	3.354074	0.018586	protein homodimerization activity
GO:0003690	0.034856	3.356524	0.974575	double-stranded DNA binding
GO:0008233	0.034742	3.359800	1.527945	peptidase activity
GO:0032553	0.032035	3.440937	0.007092	ribonucleotide binding
GO:0070011	0.032006	3.441827	0.082027	peptidase activity, acting on L-amino acid peptides
GO:0008092	0.031265	3.465252	2.282513	cytoskeletal protein binding
GO:0017076	0.031009	3.473490	0.362905	purine nucleotide binding
GO:0032555	0.030211	3.499562	0.000943	purine ribonucleotide binding
GO:0046914	0.030154	3.501450	0.598546	transition metal ion binding
GO:0016829	0.030125	3.502396	2.735608	lyase activity
GO:0022890	0.029128	3.536069	0.255870	inorganic cation transmembrane transporter activity
GO:1990837	0.028871	3.544914	0.041572	sequence-specific double-stranded DNA binding
GO:0001882	0.028757	3.548871	0.125571	nucleoside binding
GO:0001883	0.028558	3.555833	0.006962	purine nucleoside binding
GO:0032549	0.028558	3.555833	0.006962	ribonucleoside binding
GO:0032550	0.028472	3.558831	0.000000	purine ribonucleoside binding
GO:0042578	0.026990	3.612287	0.721773	phosphoric ester hydrolase activity
GO:0035639	0.026962	3.613343	0.333144	purine ribonucleoside triphosphate binding
GO:0000981	0.026734	3.621836	0.617890	RNA polymerase II transcription factor activity, sequence-specific DNA binding
GO:0004674	0.026648	3.625039	0.487891	protein serine/threonine kinase activity
GO:0016757	0.025508	3.668762	1.931926	transferase activity, transferring glycosyl groups
GO:0019900	0.025480	3.669880	1.001585	kinase binding
GO:0008134	0.025394	3.673242	2.490503	transcription factor binding
GO:0000976	0.025195	3.681129	0.009009	transcription regulatory region sequence-specific DNA binding
GO:0005198	0.024596	3.705171	3.705171	structural molecule activity
GO:0000988	0.024539	3.707491	3.707491	transcription factor activity, protein binding
GO:0008289	0.024425	3.712148	3.079734	lipid binding
GO:0022803	0.023798	3.738154	1.064091	passive transmembrane transporter activity
GO:0015267	0.023769	3.739353	0.001198	channel activity
GO:0000989	0.023427	3.753846	0.046354	transcription factor activity, transcription factor binding
GO:0046873	0.023171	3.764855	0.228786	metal ion transmembrane transporter activity
GO:0019904	0.022430	3.797358	2.614619	protein domain specific binding
GO:0019901	0.022344	3.801177	0.131297	protein kinase binding
GO:0030554	0.022002	3.816601	0.343112	adenyl nucleotide binding
GO:0016746	0.021945	3.819195	2.082359	transferase activity, transferring acyl groups
GO:0022838	0.021831	3.824404	0.024502	substrate-specific channel activity
GO:0032559	0.021461	3.841521	0.000000	adenyl ribonucleotide binding
GO:0016887	0.021261	3.850860	0.511362	ATPase activity
GO:0005216	0.020577	3.883561	0.005525	ion channel activity
GO:0016791	0.020435	3.890510	0.278223	phosphatase activity
GO:0001012	0.020292	3.897508	0.599731	RNA polymerase II regulatory region DNA binding
GO:0003682	0.020064	3.908808	1.083345	chromatin binding
GO:0000977	0.019836	3.920236	0.002869	RNA polymerase II regulatory region sequence-specific DNA binding
GO:0008509	0.019836	3.920236	0.992080	anion transmembrane transporter activity
GO:0003712	0.019323	3.946439	0.192593	transcription cofactor activity
GO:0005524	0.019266	3.949393	0.002954	ATP binding
GO:0022804	0.019124	3.956817	1.282754	active transmembrane transporter activity
GO:0004930	0.019010	3.962796	0.675755	G-protein coupled receptor activity
GO:0046982	0.018981	3.964296	0.953430	protein heterodimerization activity
GO:0004175	0.018953	3.965799	0.523972	endopeptidase activity
GO:0016747	0.018582	3.985541	0.166346	transferase activity, transferring acyl groups other than amino-acyl groups
GO:0016758	0.018582	3.985541	0.316779	transferase activity, transferring hexosyl groups
GO:0015077	0.018411	3.994786	0.458717	monovalent inorganic cation transmembrane transporter activity
GO:0048037	0.018212	4.005682	3.373268	cofactor binding
GO:0016741	0.018098	4.011961	2.275125	transferase activity, transferring one-carbon groups
GO:0016853	0.017756	4.031039	3.264251	isomerase activity
GO:0008047	0.017642	4.037481	0.814693	enzyme activator activity
GO:0016614	0.017157	4.065329	1.539970	oxidoreductase activity, acting on CH-OH group of donors
GO:0016798	0.017100	4.068656	2.236801	hydrolase activity, acting on glycosyl bonds
GO:0019787	0.016958	4.077025	2.340188	ubiquitin-like protein transferase activity
GO:0008168	0.016530	4.102558	0.090597	methyltransferase activity
GO:0022836	0.015590	4.161137	0.421785	gated channel activity
GO:0004842	0.015419	4.172167	0.095142	ubiquitin-protein transferase activity
GO:0005261	0.015333	4.177727	0.005561	cation channel activity
GO:0000982	0.015276	4.181452	0.559616	transcription factor activity, RNA polymerase II core promoter proximal region sequence-specific binding
GO:0004857	0.015276	4.181452	0.958664	enzyme inhibitor activity
GO:0016616	0.015191	4.187065	0.121736	oxidoreductase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0016874	0.015048	4.196490	3.429701	ligase activity
GO:0042623	0.014906	4.206005	0.355144	ATPase activity, coupled
GO:0008270	0.014678	4.221419	0.719969	zinc ion binding
GO:0004518	0.014421	4.239049	1.348535	nuclease activity
GO:0016705	0.014393	4.241028	1.715669	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen
GO:0016835	0.014336	4.244996	0.742600	carbon-oxygen lyase activity
GO:0050839	0.014079	4.263050	3.080312	cell adhesion molecule binding
GO:0001228	0.014022	4.267107	0.645271	transcriptional activator activity, RNA polymerase II transcription regulatory region sequence-specific binding
GO:0004553	0.013965	4.271181	0.202524	hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0005543	0.013965	4.271181	0.222327	phospholipid binding
GO:0000287	0.013623	4.295975	1.393071	magnesium ion binding
GO:0016810	0.013025	4.340903	2.509048	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds
GO:0008514	0.012825	4.356338	0.436102	organic anion transmembrane transporter activity
GO:0050662	0.012740	4.363027	0.357346	coenzyme binding
GO:0001159	0.012711	4.365267	1.067490	core promoter proximal region DNA binding
GO:0000987	0.012569	4.376541	0.000000	core promoter proximal region sequence-specific DNA binding
GO:0005509	0.012540	4.378811	1.475907	calcium ion binding
GO:0008757	0.012455	4.385653	0.283095	S-adenosylmethionine-dependent methyltransferase activity
GO:0003779	0.012027	4.420581	0.955329	actin binding
GO:0017171	0.011571	4.459233	2.627378	serine hydrolase activity
GO:0060589	0.011514	4.464171	1.241383	nucleoside-triphosphatase regulator activity
GO:0008236	0.011429	4.471625	0.000000	serine-type peptidase activity
GO:0015291	0.011258	4.486700	0.529883	secondary active transmembrane transporter activity
GO:0008194	0.011201	4.491776	0.823014	UDP-glycosyltransferase activity
GO:0033218	0.011172	4.494324	3.861911	amide binding
GO:0000978	0.011144	4.496878	0.010178	RNA polymerase II core promoter proximal region sequence-specific DNA binding
GO:0004497	0.010944	4.514943	1.989585	monooxygenase activity
GO:0001077	0.010745	4.533341	0.005291	transcriptional activator activity, RNA polymerase II core promoter proximal region sequence-specific binding
GO:0005342	0.010631	4.544008	1.799327	organic acid transmembrane transporter activity
GO:0016779	0.010545	4.552083	1.971450	nucleotidyltransferase activity
GO:0046943	0.010346	4.571183	0.002751	carboxylic acid transmembrane transporter activity
GO:0015631	0.010317	4.573942	1.108690	tubulin binding
GO:0052689	0.010317	4.573942	1.683427	carboxylic ester hydrolase activity
GO:0003713	0.010146	4.590655	0.644217	transcription coactivator activity
GO:0005085	0.010004	4.604800	1.723479	guanyl-nucleotide exchange factor activity
GO:0019001	0.009975	4.607653	1.134163	guanyl nucleotide binding
GO:0004721	0.009890	4.616261	0.725751	phosphoprotein phosphatase activity
GO:0003924	0.009890	4.616261	1.276762	GTPase activity
GO:0001664	0.009861	4.619147	1.756462	G-protein coupled receptor binding
GO:0032561	0.009776	4.627856	0.000000	guanyl ribonucleotide binding
GO:0003729	0.009719	4.633703	1.395780	mRNA binding
GO:0043177	0.009719	4.633703	1.825873	organic acid binding
GO:0031406	0.009633	4.642540	0.000000	carboxylic acid binding
GO:0072509	0.009576	4.648475	1.112406	divalent inorganic cation transmembrane transporter activity
GO:0051020	0.009519	4.654445	1.986150	GTPase binding
GO:0042277	0.009491	4.657443	0.163119	peptide binding
GO:0030695	0.009491	4.657443	0.193272	GTPase regulator activity
GO:0016836	0.009320	4.675626	0.430630	hydro-lyase activity
GO:0016830	0.009149	4.694145	1.191749	carbon-carbon lyase activity
GO:0022853	0.009035	4.706684	0.504496	active ion transmembrane transporter activity
GO:0044389	0.008978	4.713013	2.044719	ubiquitin-like protein ligase binding
GO:0045296	0.008892	4.722583	0.459532	cadherin binding
GO:0016298	0.008892	4.722583	1.832069	lipase activity
GO:0004519	0.008864	4.725793	0.486744	endonuclease activity
GO:0005126	0.008864	4.725793	1.863108	cytokine receptor binding
GO:0004252	0.008750	4.738738	0.025725	serine-type endopeptidase activity
GO:0031625	0.008750	4.738738	0.025725	ubiquitin protein ligase binding
GO:0003735	0.008693	4.745274	1.040103	structural constituent of ribosome
GO:0031267	0.008408	4.778611	0.124166	small GTPase binding
GO:0035091	0.008408	4.778611	0.507430	phosphatidylinositol binding
GO:0098631	0.008408	4.778611	3.595872	protein binding involved in cell adhesion
GO:0005525	0.008294	4.792263	0.006849	GTP binding
GO:0098632	0.008265	4.795705	0.017094	protein binding involved in cell-cell adhesion
GO:0016765	0.008237	4.799159	3.062323	transferase activity, transferring alkyl or aryl (other than methyl) groups
GO:0005057	0.008208	4.802625	1.923843	receptor signaling protein activity
GO:0003714	0.008180	4.806104	0.859665	transcription corepressor activity
GO:0019207	0.008094	4.816612	1.593824	kinase regulator activity
GO:0008234	0.007980	4.830796	1.388969	cysteine-type peptidase activity
GO:0017016	0.007952	4.834374	0.055764	Ras GTPase binding
GO:0098641	0.007923	4.837965	0.003591	cadherin binding involved in cell-cell adhesion
GO:1901681	0.007923	4.837965	4.205551	sulfur compound binding
GO:0061134	0.007866	4.845185	1.622397	peptidase regulator activity
GO:0005096	0.007838	4.848815	0.000000	GTPase activator activity
GO:0004713	0.007838	4.848815	1.711666	protein tyrosine kinase activity
GO:0030246	0.007752	4.859784	4.227370	carbohydrate binding
GO:0022832	0.007667	4.870875	0.709737	voltage-gated channel activity
GO:0005244	0.007610	4.878337	0.000000	voltage-gated ion channel activity
GO:0022834	0.007524	4.889637	0.015038	ligand-gated channel activity
GO:0015276	0.007467	4.897241	0.003810	ligand-gated ion channel activity
GO:0019887	0.007439	4.901066	0.084454	protein kinase regulator activity
GO:0005088	0.007382	4.908758	0.303958	Ras guanyl-nucleotide exchange factor activity
GO:0008017	0.007353	4.912626	0.015385	microtubule binding
GO:0060090	0.007182	4.936157	4.303743	binding, bridging
GO:0016811	0.007154	4.940133	0.599230	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amides
GO:0015079	0.007125	4.944125	0.576613	potassium ion transmembrane transporter activity
GO:0015399	0.007097	4.948133	0.991316	primary active transmembrane transporter activity
GO:0042393	0.007097	4.948133	3.765394	histone binding
GO:0016209	0.007068	4.952157	4.952157	antioxidant activity
GO:0008237	0.007040	4.956198	1.514371	metallopeptidase activity
GO:0015405	0.006954	4.968418	0.020285	P-P-bond-hydrolysis-driven transmembrane transporter activity
GO:0004540	0.006926	4.972525	0.733475	ribonuclease activity
GO:0001653	0.006926	4.972525	1.837344	peptide receptor activity
GO:0015085	0.006897	4.976648	0.322203	calcium ion transmembrane transporter activity
GO:0051213	0.006869	4.980789	2.455431	dioxygenase activity
GO:0008022	0.006869	4.980789	3.798050	protein C-terminus binding
GO:0016407	0.006812	4.989122	1.003581	acetyltransferase activity
GO:0004620	0.006726	5.001754	0.279171	phospholipase activity
GO:0030414	0.006641	5.014548	0.004283	peptidase inhibitor activity
GO:0016627	0.006641	5.014548	2.489189	oxidoreductase activity, acting on the CH-CH group of donors
GO:0043492	0.006612	5.018849	0.812844	ATPase activity, coupled to movement of substances
GO:0016667	0.006584	5.023168	2.497810	oxidoreductase activity, acting on a sulfur group of donors
GO:0015081	0.006555	5.027507	0.659995	sodium ion transmembrane transporter activity
GO:0015103	0.006555	5.027507	1.107270	inorganic anion transmembrane transporter activity
GO:0008528	0.006498	5.036240	0.008734	G-protein coupled peptide receptor activity
GO:0061135	0.006498	5.036240	0.191055	endopeptidase regulator activity
GO:0001047	0.006498	5.036240	1.738464	core promoter binding
GO:0016903	0.006470	5.040636	2.515278	oxidoreductase activity, acting on the aldehyde or oxo group of donors
GO:0015171	0.006413	5.049486	0.478302	amino acid transmembrane transporter activity
GO:0030674	0.006384	5.053940	0.113807	protein binding, bridging
GO:1901981	0.006356	5.058414	0.279804	phosphatidylinositol phosphate binding
GO:0016879	0.006356	5.058414	0.861925	ligase activity, forming carbon-nitrogen bonds
GO:0001227	0.006299	5.067423	1.445587	transcriptional repressor activity, RNA polymerase II transcription regulatory region sequence-specific binding
GO:0008081	0.006270	5.071958	1.459672	phosphoric diester hydrolase activity
GO:0004866	0.006242	5.076514	0.000000	endopeptidase inhibitor activity
GO:0008170	0.006242	5.076514	0.973956	N-methyltransferase activity
GO:0042626	0.006213	5.081091	0.000000	ATPase activity, coupled to transmembrane movement of substances
GO:0016820	0.006213	5.081091	0.018182	hydrolase activity, acting on acid anhydrides, catalyzing transmembrane movement of substances
GO:0019902	0.006099	5.099610	2.431315	phosphatase binding
GO:0005507	0.006014	5.113728	1.612277	copper ion binding
GO:0008238	0.006014	5.113728	1.671901	exopeptidase activity
GO:0016651	0.005928	5.128048	2.602690	oxidoreductase activity, acting on NAD(P)H
GO:0051015	0.005871	5.137710	0.101469	actin filament binding
GO:0001076	0.005843	5.142576	1.388730	transcription factor activity, RNA polymerase II transcription factor binding
GO:0004386	0.005814	5.147466	1.807967	helicase activity
GO:0016247	0.005814	5.147466	2.266145	channel regulator activity
GO:0016410	0.005729	5.162281	1.176740	N-acyltransferase activity
GO:0005539	0.005729	5.162281	2.072577	glycosaminoglycan binding
GO:0022843	0.005672	5.172281	0.153433	voltage-gated cation channel activity
GO:0046906	0.005615	5.182382	3.578713	tetrapyrrole binding
GO:0008276	0.005529	5.197728	1.095170	protein methyltransferase activity
GO:0003697	0.005529	5.197728	2.815779	single-stranded DNA binding
GO:0001085	0.005472	5.208091	1.534849	RNA polymerase II transcription factor binding
GO:0051427	0.005472	5.208091	2.345405	hormone receptor binding
GO:0032182	0.005444	5.213313	4.030574	ubiquitin-like protein binding
GO:0061659	0.005415	5.218562	1.141537	ubiquitin-like protein ligase activity
GO:0005506	0.005415	5.218562	1.717112	iron ion binding
GO:0004536	0.005387	5.223839	0.984790	deoxyribonuclease activity
GO:0016866	0.005244	5.250650	1.219611	intramolecular transferase activity
GO:0005262	0.005216	5.256100	0.000000	calcium channel activity
GO:0005267	0.005216	5.256100	0.000000	potassium channel activity
GO:0015293	0.005187	5.261579	0.774879	symporter activity
GO:0016782	0.005187	5.261579	3.524743	transferase activity, transferring sulfur-containing groups
GO:0016831	0.005159	5.267089	0.572944	carboxy-lyase activity
GO:0008374	0.005159	5.267089	1.281548	O-acyltransferase activity
GO:0009055	0.005159	5.267089	5.267089	electron carrier activity
GO:0008144	0.005130	5.272629	4.640216	drug binding
GO:0061630	0.005073	5.283802	0.000000	ubiquitin protein ligase activity
GO:0005516	0.005073	5.283802	4.101064	calmodulin binding
GO:0016860	0.004988	5.300800	1.269761	intramolecular oxidoreductase activity
GO:0005125	0.004988	5.300800	2.438114	cytokine activity
GO:1901476	0.004988	5.300800	2.786069	carbohydrate transporter activity
GO:0004527	0.004959	5.306531	1.067481	exonuclease activity
GO:0015144	0.004931	5.312294	0.000000	carbohydrate transmembrane transporter activity
GO:0043566	0.004931	5.312294	2.930346	structure-specific DNA binding
GO:0015294	0.004902	5.318091	0.028655	solute:cation symporter activity
GO:0016597	0.004845	5.329788	0.687247	amino acid binding
GO:0020037	0.004817	5.335687	0.153305	heme binding
GO:0043130	0.004788	5.341622	0.128309	ubiquitin binding
GO:0043021	0.004788	5.341622	2.516159	ribonucleoprotein complex binding
GO:0005319	0.004760	5.347592	2.714417	lipid transporter activity
GO:0019903	0.004731	5.353598	0.253988	protein phosphatase binding
GO:0050660	0.004731	5.353598	0.482724	flavin adenine dinucleotide binding
GO:0046527	0.004731	5.353598	1.368057	glucosyltransferase activity
GO:0016763	0.004703	5.359640	1.690878	transferase activity, transferring pentosyl groups
GO:0015078	0.004674	5.365720	1.370933	hydrogen ion transmembrane transporter activity
GO:0016620	0.004646	5.371836	0.331200	oxidoreductase activity, acting on the aldehyde or oxo group of donors, NAD or NADP as acceptor
GO:0030145	0.004646	5.371836	1.870385	manganese ion binding
GO:0019838	0.004646	5.371836	4.189097	growth factor binding
GO:0016709	0.004560	5.390412	0.591253	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of one atom of oxygen
GO:0051536	0.004532	5.396682	0.000000	iron-sulfur cluster binding
GO:0051540	0.004532	5.396682	4.764268	metal cluster binding
GO:0035257	0.004503	5.402991	0.194900	nuclear hormone receptor binding
GO:0003727	0.004503	5.402991	2.643118	single-stranded RNA binding
GO:0016684	0.004503	5.402991	2.877633	oxidoreductase activity, acting on peroxide as acceptor
GO:0005179	0.004475	5.409340	2.546655	hormone activity
GO:0008080	0.004446	5.415730	0.000000	N-acetyltransferase activity
GO:0001078	0.004446	5.415730	0.031548	transcriptional repressor activity, RNA polymerase II core promoter proximal region sequence-specific binding
GO:0003774	0.004446	5.415730	2.076231	motor activity
GO:0051082	0.004446	5.415730	4.232991	unfolded protein binding
GO:0016877	0.004418	5.422161	1.225671	ligase activity, forming carbon-sulfur bonds
GO:0070851	0.004418	5.422161	2.559475	growth factor receptor binding
GO:0019783	0.004389	5.428633	0.597837	ubiquitin-like protein-specific protease activity
GO:0003705	0.004389	5.428633	1.806797	transcription factor activity, RNA polymerase II distal enhancer sequence-specific binding
GO:0008094	0.004332	5.441705	1.235701	DNA-dependent ATPase activity
GO:0042625	0.004275	5.454951	0.000000	ATPase coupled ion transmembrane transporter activity
GO:0001046	0.004275	5.454951	0.107359	core promoter sequence-specific DNA binding
GO:0046915	0.004247	5.461640	1.696785	transition metal ion transmembrane transporter activity
GO:1901505	0.004218	5.468374	2.953643	carbohydrate derivative transporter activity
GO:0004601	0.004190	5.475153	0.046520	peroxidase activity
GO:0044325	0.004133	5.488852	4.306113	ion channel binding
GO:0051287	0.004076	5.502741	0.992993	NAD binding
GO:0002020	0.004076	5.502741	2.834447	protease binding
GO:0008565	0.004076	5.502741	2.869566	protein transporter activity
GO:0042562	0.004076	5.502741	4.870328	hormone binding
GO:0004520	0.004047	5.509759	0.027780	endodeoxyribonuclease activity
GO:0008201	0.003990	5.523944	0.041964	heparin binding
GO:0043178	0.003990	5.523944	2.716113	alcohol binding
GO:0004521	0.003962	5.531112	0.028371	endoribonuclease activity
GO:0015179	0.003962	5.531112	0.481626	L-amino acid transmembrane transporter activity
GO:0043621	0.003962	5.531112	4.348373	protein self-association
GO:0019199	0.003933	5.538332	0.049480	transmembrane receptor protein kinase activity
GO:0033293	0.003876	5.552931	0.910391	monocarboxylic acid binding
GO:0004722	0.003848	5.560311	0.944050	protein serine/threonine phosphatase activity
GO:0004725	0.003819	5.567746	0.951485	protein tyrosine phosphatase activity
GO:0101005	0.003819	5.567746	3.735891	ubiquitinyl hydrolase activity
GO:0035251	0.003791	5.575237	0.014926	UDP-glucosyltransferase activity
GO:0015297	0.003791	5.575237	1.088537	antiporter activity
GO:0050661	0.003762	5.582784	1.073035	NADP binding
GO:0016769	0.003762	5.582784	3.845948	transferase activity, transferring nitrogenous groups
GO:0008026	0.003734	5.590389	0.000000	ATP-dependent helicase activity
GO:0051119	0.003734	5.590389	0.278094	sugar transmembrane transporter activity
GO:0070035	0.003734	5.590389	0.442923	purine NTP-dependent helicase activity
GO:0008173	0.003734	5.590389	1.487831	RNA methyltransferase activity
GO:0030165	0.003734	5.590389	1.793031	PDZ domain binding
GO:0004222	0.003705	5.598052	0.052446	metalloendopeptidase activity
GO:0005230	0.003705	5.598052	0.700810	extracellular ligand-gated ion channel activity
GO:0005200	0.003705	5.598052	1.892880	structural constituent of cytoskeleton
GO:0036459	0.003677	5.605774	0.007722	thiol-dependent ubiquitinyl hydrolase activity
GO:0008135	0.003677	5.605774	2.845900	translation factor activity, RNA binding
GO:0019213	0.003677	5.605774	3.773919	deacetylase activity
GO:0019829	0.003648	5.613556	0.015504	cation-transporting ATPase activity
GO:0008483	0.003648	5.613556	0.030772	transaminase activity
GO:0001948	0.003648	5.613556	1.634131	glycoprotein binding
GO:0072341	0.003648	5.613556	4.981142	modified amino acid binding
GO:0004843	0.003620	5.621399	0.015625	thiol-dependent ubiquitin-specific protease activity
GO:0035326	0.003620	5.621399	2.323622	enhancer binding
GO:1902936	0.003591	5.629304	0.570890	phosphatidylinositol bisphosphate binding
GO:0005496	0.003534	5.645304	0.507595	steroid binding
GO:0008083	0.003534	5.645304	2.782619	growth factor activity
GO:0005178	0.003506	5.653402	0.085655	integrin binding
GO:0000149	0.003506	5.653402	4.470663	SNARE binding
GO:0047485	0.003506	5.653402	4.470663	protein N-terminus binding
GO:0017137	0.003477	5.661565	0.827191	Rab GTPase binding
GO:0019208	0.003477	5.661565	2.438777	phosphatase regulator activity
GO:0016701	0.003477	5.661565	3.136207	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen
GO:0031072	0.003477	5.661565	4.478826	heat shock protein binding
GO:0016854	0.003449	5.669795	1.638756	racemase and epimerase activity
GO:0016645	0.003449	5.669795	3.144437	oxidoreductase activity, acting on the CH-NH group of donors
GO:0005249	0.003420	5.678094	0.000000	voltage-gated potassium channel activity
GO:0016278	0.003392	5.686462	0.591515	lysine N-methyltransferase activity
GO:0015108	0.003392	5.686462	0.658956	chloride transmembrane transporter activity
GO:0019205	0.003363	5.694901	2.894131	nucleobase-containing compound kinase activity
GO:0016279	0.003335	5.703412	0.000000	protein-lysine N-methyltransferase activity
GO:0005253	0.003335	5.703412	0.016950	anion channel activity
GO:0019955	0.003335	5.703412	4.520673	cytokine binding
GO:0004197	0.003306	5.711996	0.025533	cysteine-type endopeptidase activity
GO:0042054	0.003306	5.711996	0.514268	histone methyltransferase activity
GO:0017022	0.003306	5.711996	2.246744	myosin binding
GO:0042826	0.003306	5.711996	3.043701	histone deacetylase binding
GO:0048029	0.003192	5.747087	0.068993	monosaccharide binding
GO:0016706	0.003192	5.747087	0.109815	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, 2-oxoglutarate as one donor, and incorporation of one atom each of oxygen into both donors
GO:0003678	0.003192	5.747087	0.599621	DNA helicase activity
GO:0001191	0.003192	5.747087	0.604511	transcriptional repressor activity, RNA polymerase II transcription factor binding
GO:0003730	0.003164	5.756056	1.122352	mRNA 3'-UTR binding
GO:0008013	0.003164	5.756056	4.573317	beta-catenin binding
GO:0016702	0.003135	5.765106	0.000000	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of two atoms of oxygen
GO:0001158	0.003135	5.765106	0.070204	enhancer sequence-specific DNA binding
GO:0015926	0.003135	5.765106	1.493925	glucosidase activity
GO:0004896	0.003135	5.765106	2.478065	cytokine receptor activity
GO:0030594	0.003135	5.765106	2.629925	neurotransmitter receptor activity
GO:0016796	0.003107	5.774238	0.467707	exonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0016628	0.003107	5.774238	0.759691	oxidoreductase activity, acting on the CH-CH group of donors, NAD or NADP as acceptor
GO:0019209	0.003078	5.783455	0.027399	kinase activator activity
GO:0001104	0.003078	5.783455	0.105361	RNA polymerase II transcription cofactor activity
GO:0008146	0.003078	5.783455	0.521875	sulfotransferase activity
GO:0015932	0.003078	5.783455	3.038774	nucleobase-containing compound transmembrane transporter activity
GO:0004702	0.003050	5.792757	0.106295	receptor signaling protein serine/threonine kinase activity
GO:0019888	0.003050	5.792757	0.131192	protein phosphatase regulator activity
GO:0004867	0.003050	5.792757	0.716243	serine-type endopeptidase inhibitor activity
GO:1901677	0.003021	5.802147	3.128084	phosphate transmembrane transporter activity
GO:0033613	0.002993	5.811626	2.138384	activating transcription factor binding
GO:0070491	0.002993	5.811626	2.138384	repressing transcription factor binding
GO:0019843	0.002964	5.821195	3.061322	rRNA binding
GO:0051087	0.002964	5.821195	4.638456	chaperone binding
GO:0008408	0.002936	5.830857	0.524326	3'-5' exonuclease activity
GO:0016881	0.002936	5.830857	0.772443	acid-amino acid ligase activity
GO:0051117	0.002936	5.830857	3.162562	ATPase binding
GO:0016776	0.002936	5.830857	3.250224	phosphotransferase activity, phosphate group as acceptor
GO:0009975	0.002936	5.830857	5.064069	cyclase activity
GO:0030295	0.002907	5.840613	0.000000	protein kinase activator activity
GO:0051539	0.002907	5.840613	0.443931	4 iron, 4 sulfur cluster binding
GO:0016799	0.002907	5.840613	1.771957	hydrolase activity, hydrolyzing N-glycosyl compounds
GO:0019200	0.002907	5.840613	3.039843	carbohydrate kinase activity
GO:0016814	0.002879	5.850465	1.509563	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amidines
GO:0019842	0.002879	5.850465	3.042635	vitamin binding
GO:0004714	0.002850	5.860416	0.000000	transmembrane receptor protein tyrosine kinase activity
GO:0031490	0.002822	5.870466	0.029853	chromatin DNA binding
GO:0032947	0.002822	5.870466	0.851618	protein complex scaffold
GO:0008227	0.002822	5.870466	1.907670	G-protein coupled amine receptor activity
GO:0016638	0.002822	5.870466	3.345108	oxidoreductase activity, acting on the CH-NH2 group of donors
GO:0019210	0.002793	5.880618	0.040005	kinase inhibitor activity
GO:0016893	0.002793	5.880618	1.154825	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0030170	0.002793	5.880618	1.398969	pyridoxal phosphate binding
GO:0003725	0.002793	5.880618	3.120745	double-stranded RNA binding
GO:0099516	0.002765	5.890875	0.000000	ion antiporter activity
GO:0070566	0.002765	5.890875	1.338792	adenylyltransferase activity
GO:0008519	0.002765	5.890875	1.896089	ammonium transmembrane transporter activity
GO:1901618	0.002765	5.890875	3.216812	organic hydroxy compound transmembrane transporter activity
GO:0003823	0.002736	5.901238	5.268824	antigen binding
GO:0033558	0.002708	5.911709	0.305936	protein deacetylase activity
GO:0005546	0.002679	5.922291	0.292987	phosphatidylinositol-4,5-bisphosphate binding
GO:0015036	0.002679	5.922291	0.899123	disulfide oxidoreductase activity
GO:0035591	0.002679	5.922291	0.986134	signaling adaptor activity
GO:0004860	0.002651	5.932986	0.000000	protein kinase inhibitor activity
GO:0016248	0.002651	5.932986	0.785521	channel inhibitor activity
GO:0017048	0.002651	5.932986	1.098612	Rho GTPase binding
GO:0008028	0.002651	5.932986	1.361803	monocarboxylic acid transmembrane transporter activity
GO:0016790	0.002651	5.932986	3.042472	thiolester hydrolase activity
GO:0004659	0.002622	5.943797	1.144638	prenyltransferase activity
GO:0034061	0.002622	5.943797	1.391714	DNA polymerase activity
GO:0005254	0.002594	5.954726	0.000000	chloride channel activity
GO:0008200	0.002594	5.954726	0.021740	ion channel inhibitor activity
GO:0016780	0.002594	5.954726	3.374093	phosphotransferase activity, for other substituted phosphate groups
GO:0046332	0.002594	5.954726	4.771988	SMAD binding
GO:0015662	0.002537	5.976950	0.521999	ATPase activity, coupled to transmembrane movement of ions, phosphorylative mechanism
GO:0000030	0.002537	5.976950	1.991408	mannosyltransferase activity
GO:0090484	0.002537	5.976950	3.462218	drug transporter activity
GO:0015605	0.002508	5.988249	0.186102	organophosphate ester transmembrane transporter activity
GO:0016838	0.002508	5.988249	1.743253	carbon-oxygen lyase activity, acting on phosphates
GO:0016849	0.002508	5.988249	2.485853	phosphorus-oxygen lyase activity
GO:0051219	0.002508	5.988249	4.805510	phosphoprotein binding
GO:0004177	0.002480	5.999678	0.885950	aminopeptidase activity
GO:0035064	0.002480	5.999678	1.051545	methylated histone binding
GO:0018024	0.002451	6.011239	0.011561	histone-lysine N-methyltransferase activity
GO:0042379	0.002451	6.011239	0.056512	chemokine receptor binding
GO:0015145	0.002451	6.011239	0.420850	monosaccharide transmembrane transporter activity
GO:0015459	0.002451	6.011239	0.863773	potassium channel regulator activity
GO:0015175	0.002451	6.011239	0.961753	neutral amino acid transmembrane transporter activity
GO:0017124	0.002451	6.011239	2.213881	SH3 domain binding
GO:0032451	0.002451	6.011239	5.244450	demethylase activity
GO:0016875	0.002423	6.022935	1.826445	ligase activity, forming carbon-oxygen bonds
GO:0004812	0.002394	6.034769	0.000000	aminoacyl-tRNA ligase activity
GO:0016876	0.002394	6.034769	0.011834	ligase activity, forming aminoacyl-tRNA and related compounds
GO:0004407	0.002394	6.034769	0.046520	histone deacetylase activity
GO:0043022	0.002394	6.034769	0.693147	ribosome binding
GO:0042162	0.002394	6.034769	2.998704	telomeric DNA binding
GO:0098531	0.002394	6.034769	3.030824	transcription factor activity, direct ligand regulated sequence-specific DNA binding
GO:0035004	0.002394	6.034769	3.233999	phosphatidylinositol 3-kinase activity
GO:0035258	0.002366	6.046745	0.643754	steroid hormone receptor binding
GO:0005231	0.002337	6.058867	0.460815	excitatory extracellular ligand-gated ion channel activity
GO:0005089	0.002337	6.058867	1.150109	Rho guanyl-nucleotide exchange factor activity
GO:0008378	0.002337	6.058867	2.073325	galactosyltransferase activity
GO:0004879	0.002309	6.071137	0.000000	RNA polymerase II transcription factor activity, ligand-activated sequence-specific DNA binding
GO:0015298	0.002309	6.071137	0.048202	solute:cation antiporter activity
GO:0004180	0.002309	6.071137	0.957409	carboxypeptidase activity
GO:0008171	0.002309	6.071137	1.968579	O-methyltransferase activity
GO:0048306	0.002309	6.071137	4.888398	calcium-dependent protein binding
GO:0003777	0.002280	6.083559	0.667829	microtubule motor activity
GO:0034212	0.002280	6.083559	0.667829	peptide N-acetyltransferase activity
GO:0004364	0.002280	6.083559	1.284400	glutathione transferase activity
GO:0005504	0.002252	6.096138	0.340082	fatty acid binding
GO:0019905	0.002252	6.096138	0.442737	syntaxin binding
GO:0019003	0.002252	6.096138	1.383125	GDP binding
GO:1990782	0.002252	6.096138	2.294961	protein tyrosine kinase binding
GO:0070405	0.002252	6.096138	3.261013	ammonium ion binding
GO:0042887	0.002252	6.096138	3.351457	amide transmembrane transporter activity
GO:0004623	0.002223	6.108877	0.495321	phospholipase A2 activity
GO:0003724	0.002223	6.108877	0.961411	RNA helicase activity
GO:0004112	0.002223	6.108877	1.036919	cyclic-nucleotide phosphodiesterase activity
GO:0000979	0.002195	6.121781	0.122103	RNA polymerase II core promoter sequence-specific DNA binding
GO:0019239	0.002195	6.121781	5.354992	deaminase activity
GO:0008375	0.002138	6.148098	1.587874	acetylglucosaminyltransferase activity
GO:1901682	0.002138	6.148098	3.474035	sulfur compound transmembrane transporter activity
GO:0000980	0.002109	6.161521	0.102654	RNA polymerase II distal enhancer sequence-specific DNA binding
GO:0005310	0.002109	6.161521	1.590338	dicarboxylic acid transmembrane transporter activity
GO:0003684	0.002109	6.161521	3.779572	damaged DNA binding
GO:0003887	0.002081	6.175127	0.231329	DNA-directed DNA polymerase activity
GO:0052866	0.002081	6.175127	2.284616	phosphatidylinositol phosphate phosphatase activity
GO:0045182	0.002081	6.175127	6.175127	translation regulator activity
GO:0016891	0.002052	6.188920	0.000000	endoribonuclease activity, producing 5'-phosphomonoesters
GO:0015296	0.002052	6.188920	0.013793	anion:cation symporter activity
GO:0015149	0.002052	6.188920	0.177681	hexose transmembrane transporter activity
GO:0003743	0.002052	6.188920	0.583146	translation initiation factor activity
GO:0060590	0.002052	6.188920	1.724749	ATPase regulator activity
GO:0000049	0.002052	6.188920	3.429047	tRNA binding
GO:0015238	0.002024	6.202906	0.131769	drug transmembrane transporter activity
GO:0016646	0.002024	6.202906	0.533111	oxidoreductase activity, acting on the CH-NH group of donors, NAD or NADP as acceptor
GO:0008188	0.002024	6.202906	1.166666	neuropeptide receptor activity
GO:0016859	0.002024	6.202906	2.171867	cis-trans isomerase activity
GO:0004003	0.001995	6.217091	0.000000	ATP-dependent DNA helicase activity
GO:0015491	0.001995	6.217091	0.000000	cation:cation antiporter activity
GO:0005245	0.001995	6.217091	0.014185	voltage-gated calcium channel activity
GO:0016538	0.001995	6.217091	1.316025	cyclin-dependent protein serine/threonine kinase regulator activity
GO:0050897	0.001995	6.217091	2.715640	cobalt ion binding
GO:0052742	0.001995	6.217091	3.295308	phosphatidylinositol kinase activity
GO:0005272	0.001967	6.231479	0.000000	sodium channel activity
GO:0015215	0.001967	6.231479	0.000000	nucleotide transmembrane transporter activity
GO:0030971	0.001967	6.231479	0.014389	receptor tyrosine kinase binding
GO:0061733	0.001967	6.231479	0.147920	peptide-lysine-N-acetyltransferase activity
GO:0005080	0.001967	6.231479	2.430303	protein kinase C binding
GO:0005518	0.001967	6.231479	2.900784	collagen binding
GO:0030545	0.001967	6.231479	3.350158	receptor regulator activity
GO:0002039	0.001967	6.231479	5.048741	p53 binding
GO:0051018	0.001967	6.231479	5.048741	protein kinase A binding
GO:0001190	0.001938	6.246078	0.000000	transcriptional activator activity, RNA polymerase II transcription factor binding
GO:0098811	0.001938	6.246078	0.498991	transcriptional repressor activity, RNA polymerase II activating transcription factor binding
GO:0008186	0.001938	6.246078	2.040074	RNA-dependent ATPase activity
GO:0019203	0.001938	6.246078	2.355568	carbohydrate phosphatase activity
GO:0016840	0.001938	6.246078	2.743682	carbon-nitrogen lyase activity
GO:0001102	0.001910	6.260893	0.043803	RNA polymerase II activating transcription factor binding
GO:0004532	0.001910	6.260893	0.099372	exoribonuclease activity
GO:0015370	0.001910	6.260893	0.214148	solute:sodium symporter activity
GO:0016878	0.001910	6.260893	0.838732	acid-thiol ligase activity
GO:0004869	0.001910	6.260893	1.184379	cysteine-type endopeptidase inhibitor activity
GO:0008066	0.001910	6.260893	2.973853	glutamate receptor activity
GO:0050840	0.001910	6.260893	5.628480	extracellular matrix binding
GO:0008009	0.001881	6.275931	0.029853	chemokine activity
GO:0031593	0.001881	6.275931	0.934309	polyubiquitin binding
GO:0016846	0.001881	6.275931	2.773535	carbon-sulfur lyase activity
GO:0071949	0.001853	6.291199	0.937601	FAD binding
GO:0015295	0.001853	6.291199	0.973107	solute:proton symporter activity
GO:0016861	0.001853	6.291199	0.990399	intramolecular oxidoreductase activity, interconverting aldoses and ketoses
GO:0004033	0.001853	6.291199	2.104134	aldo-keto reductase (NADP) activity
GO:0030551	0.001853	6.291199	3.180615	cyclic nucleotide binding
GO:0016833	0.001824	6.306703	1.612558	oxo-acid-lyase activity
GO:0004712	0.001824	6.306703	3.169554	protein serine/threonine/tyrosine kinase activity
GO:0016775	0.001824	6.306703	3.726070	phosphotransferase activity, nitrogenous group as acceptor
GO:0051183	0.001824	6.306703	3.791972	vitamin transporter activity
GO:0097110	0.001824	6.306703	5.123964	scaffold protein binding
GO:0010181	0.001796	6.322451	0.334202	FMN binding
GO:0016655	0.001796	6.322451	1.194403	oxidoreductase activity, acting on NAD(P)H, quinone or similar compound as acceptor
GO:0016671	0.001796	6.322451	1.299283	oxidoreductase activity, acting on a sulfur group of donors, disulfide as acceptor
GO:0052813	0.001796	6.322451	3.400668	phosphatidylinositol bisphosphate kinase activity
GO:0019825	0.001796	6.322451	5.690038	oxygen binding
GO:0016896	0.001767	6.338452	0.000000	exoribonuclease activity, producing 5'-phosphomonoesters
GO:0017046	0.001767	6.338452	0.031749	peptide hormone binding
GO:0004402	0.001767	6.338452	0.106972	histone acetyltransferase activity
GO:0004114	0.001767	6.338452	0.229574	3',5'-cyclic-nucleotide phosphodiesterase activity
GO:0032452	0.001767	6.338452	0.327213	histone demethylase activity
GO:0005337	0.001767	6.338452	0.416160	nucleoside transmembrane transporter activity
GO:0008175	0.001767	6.338452	0.748063	tRNA methyltransferase activity
GO:0005548	0.001767	6.338452	0.990859	phospholipid transporter activity
GO:0008198	0.001767	6.338452	1.119890	ferrous iron binding
GO:0016832	0.001767	6.338452	1.644307	aldehyde-lyase activity
GO:0071855	0.001767	6.338452	1.719304	neuropeptide receptor binding
GO:0034062	0.001767	6.338452	1.786369	RNA polymerase activity
GO:0004312	0.001767	6.338452	2.352910	fatty acid synthase activity
GO:0005201	0.001767	6.338452	2.633280	extracellular matrix structural constituent
GO:0016289	0.001739	6.354712	0.421726	CoA hydrolase activity
GO:0016857	0.001739	6.354712	0.684917	racemase and epimerase activity, acting on carbohydrates and derivatives
GO:0032266	0.001739	6.354712	1.296298	phosphatidylinositol-3-phosphate binding
GO:0019840	0.001739	6.354712	2.642564	isoprenoid binding
GO:0015197	0.001739	6.354712	3.721537	peptide transporter activity
GO:0031369	0.001739	6.354712	5.171973	translation initiation factor binding
GO:0004004	0.001710	6.371241	0.000000	ATP-dependent RNA helicase activity
GO:0046934	0.001710	6.371241	0.000000	phosphatidylinositol-4,5-bisphosphate 3-kinase activity
GO:0010333	0.001710	6.371241	0.382992	terpene synthase activity
GO:0015020	0.001710	6.371241	1.811017	glucuronosyltransferase activity
GO:0003755	0.001682	6.388049	0.185142	peptidyl-prolyl cis-trans isomerase activity
GO:0005070	0.001682	6.388049	0.185142	SH3/SH2 adaptor activity
GO:0019104	0.001682	6.388049	0.547435	DNA N-glycosylase activity
GO:0008422	0.001682	6.388049	0.622943	beta-glucosidase activity
GO:0022839	0.001682	6.388049	2.226911	ion gated channel activity
GO:0016409	0.001682	6.388049	2.402507	palmitoyltransferase activity
GO:0070063	0.001682	6.388049	3.719754	RNA polymerase binding
GO:0016229	0.001682	6.388049	3.862690	steroid dehydrogenase activity
GO:0004629	0.001653	6.405143	0.554678	phospholipase C activity
GO:0019201	0.001653	6.405143	0.710242	nucleotide kinase activity
GO:0015645	0.001653	6.405143	0.982982	fatty acid ligase activity
GO:0005048	0.001653	6.405143	1.747699	signal sequence binding
GO:0015101	0.001653	6.405143	3.124944	organic cation transmembrane transporter activity
GO:0022884	0.001653	6.405143	3.660462	macromolecule transmembrane transporter activity
GO:0001098	0.001653	6.405143	5.222404	basal transcription machinery binding
GO:0015299	0.001625	6.422535	0.000000	solute:proton antiporter activity
GO:0030247	0.001625	6.422535	0.000000	polysaccharide binding
GO:0032934	0.001625	6.422535	0.146603	sterol binding
GO:0005355	0.001625	6.422535	0.233615	glucose transmembrane transporter activity
GO:0016641	0.001625	6.422535	0.552069	oxidoreductase activity, acting on the CH-NH2 group of donors, oxygen as acceptor
GO:0008395	0.001625	6.422535	1.907591	steroid hydroxylase activity
GO:0016755	0.001625	6.422535	2.603339	transferase activity, transferring amino-acyl groups
GO:0001871	0.001625	6.422535	5.790121	pattern binding
GO:0030291	0.001596	6.440234	0.507248	protein serine/threonine kinase inhibitor activity
GO:0008187	0.001596	6.440234	1.037243	poly-pyrimidine tract binding
GO:0005217	0.001596	6.440234	1.542993	intracellular ligand-gated ion channel activity
GO:0001786	0.001568	6.458253	0.000000	phosphatidylserine binding
GO:0008235	0.001568	6.458253	0.167054	metalloexopeptidase activity
GO:0004707	0.001568	6.458253	0.665496	MAP kinase activity
GO:0015923	0.001568	6.458253	2.187072	mannosidase activity
GO:0043531	0.001568	6.458253	2.560745	ADP binding
GO:0030276	0.001568	6.458253	5.275514	clathrin binding
GO:0019212	0.001539	6.476602	0.018349	phosphatase inhibitor activity
GO:0003899	0.001539	6.476602	0.138150	DNA-directed RNA polymerase activity
GO:0004529	0.001539	6.476602	0.215709	exodeoxyribonuclease activity
GO:0016411	0.001539	6.476602	1.209513	acylglycerol O-acyltransferase activity
GO:0016868	0.001539	6.476602	1.225952	intramolecular transferase activity, phosphotransferases
GO:0003688	0.001539	6.476602	2.931687	DNA replication origin binding
GO:0016303	0.001511	6.495294	0.000000	1-phosphatidylinositol-3-kinase activity
GO:0035250	0.001511	6.495294	0.018692	UDP-galactosyltransferase activity
GO:0016668	0.001511	6.495294	0.037041	oxidoreductase activity, acting on a sulfur group of donors, NAD(P) as acceptor
GO:0001099	0.001511	6.495294	0.090151	basal RNA polymerase II transcription machinery binding
GO:0017080	0.001511	6.495294	1.347828	sodium channel regulator activity
GO:0008376	0.001511	6.495294	1.935070	acetylgalactosaminyltransferase activity
GO:0022829	0.001511	6.495294	2.755941	wide pore channel activity
GO:0008527	0.001511	6.495294	3.208254	taste receptor activity
GO:0072349	0.001511	6.495294	3.821231	modified amino acid transmembrane transporter activity
GO:0017147	0.001511	6.495294	5.312555	Wnt-protein binding
GO:0016895	0.001482	6.514342	0.000000	exodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0022824	0.001482	6.514342	0.000000	transmitter-gated ion channel activity
GO:0022835	0.001482	6.514342	0.207639	transmitter-gated channel activity
GO:0034593	0.001482	6.514342	0.339216	phosphatidylinositol bisphosphate phosphatase activity
GO:0005184	0.001482	6.514342	1.105002	neuropeptide hormone activity
GO:0004806	0.001482	6.514342	1.269112	triglyceride lipase activity
GO:0046912	0.001482	6.514342	2.695147	transferase activity, transferring acyl groups, acyl groups converted into alkyl on transfer
GO:0019894	0.001482	6.514342	3.049091	kinesin binding
GO:0005484	0.001482	6.514342	5.331603	SNAP receptor activity
GO:0008409	0.001454	6.533760	1.227230	5'-3' exonuclease activity
GO:0005547	0.001454	6.533760	1.475346	phosphatidylinositol-3,4,5-trisphosphate binding
GO:0016717	0.001454	6.533760	2.292733	oxidoreductase activity, acting on paired donors, with oxidation of a pair of donors resulting in the reduction of molecular oxygen to two molecules of water
GO:0008301	0.001454	6.533760	4.151812	DNA binding, bending
GO:0008320	0.001425	6.553563	0.000000	protein transmembrane transporter activity
GO:0004467	0.001425	6.553563	0.148420	long-chain fatty acid-CoA ligase activity
GO:0050308	0.001425	6.553563	0.307485	sugar-phosphatase activity
GO:0004016	0.001425	6.553563	0.530628	adenylate cyclase activity
GO:0000146	0.001425	6.553563	1.137833	microfilament motor activity
GO:0030374	0.001425	6.553563	1.962908	ligand-dependent nuclear receptor transcription coactivator activity
GO:0052745	0.001425	6.553563	2.663053	inositol phosphate phosphatase activity
GO:0004683	0.001425	6.553563	2.928524	calmodulin-dependent protein kinase activity
GO:0038024	0.001425	6.553563	3.643882	cargo receptor activity
GO:0015205	0.001425	6.553563	3.808882	nucleobase transmembrane transporter activity
GO:0001103	0.001397	6.573766	0.000000	RNA polymerase II repressing transcription factor binding
GO:0016413	0.001397	6.573766	0.020203	O-acetyltransferase activity
GO:0008266	0.001397	6.573766	0.133531	poly(U) RNA binding
GO:0005501	0.001397	6.573766	0.219054	retinoid binding
GO:0051879	0.001397	6.573766	0.912201	Hsp90 protein binding
GO:0005381	0.001397	6.573766	1.112126	iron ion transmembrane transporter activity
GO:0051537	0.001397	6.573766	1.177084	2 iron, 2 sulfur cluster binding
GO:0005246	0.001397	6.573766	1.426300	calcium channel regulator activity
GO:0032813	0.001397	6.573766	1.847973	tumor necrosis factor receptor superfamily binding
GO:0070888	0.001397	6.573766	3.275989	E-box binding
GO:0000175	0.001368	6.594385	0.020619	3'-5'-exoribonuclease activity
GO:0015665	0.001368	6.594385	0.703510	alcohol transmembrane transporter activity
GO:0061650	0.001368	6.594385	2.517360	ubiquitin-like protein conjugating enzyme activity
GO:0033612	0.001368	6.594385	3.731699	receptor serine/threonine kinase binding
GO:0035254	0.001368	6.594385	3.731699	glutamate receptor binding
GO:0016722	0.001368	6.594385	4.069027	oxidoreductase activity, oxidizing metal ions
GO:0045502	0.001368	6.594385	5.411646	dynein binding
GO:0004673	0.001340	6.615438	0.021053	protein histidine kinase activity
GO:0004864	0.001340	6.615438	0.061875	protein phosphatase inhibitor activity
GO:0008106	0.001340	6.615438	0.324240	alcohol dehydrogenase (NADP+) activity
GO:0030331	0.001340	6.615438	0.568693	estrogen receptor binding
GO:0097472	0.001340	6.615438	3.478290	cyclin-dependent protein kinase activity
GO:0003707	0.001340	6.615438	3.480258	steroid hormone receptor activity
GO:0016661	0.001340	6.615438	4.090080	oxidoreductase activity, acting on other nitrogenous compounds as donors
GO:0008649	0.001311	6.636945	0.871839	rRNA methyltransferase activity
GO:0036442	0.001311	6.636945	1.023389	hydrogen-exporting ATPase activity
GO:0004029	0.001311	6.636945	1.265109	aldehyde dehydrogenase (NAD) activity
GO:0016813	0.001311	6.636945	2.296042	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amidines
GO:0008307	0.001311	6.636945	2.931773	structural constituent of muscle
GO:0005372	0.001311	6.636945	3.892264	water transmembrane transporter activity
GO:0004693	0.001283	6.658923	0.000000	cyclin-dependent protein serine/threonine kinase activity
GO:0061631	0.001283	6.658923	0.000000	ubiquitin conjugating enzyme activity
GO:0047617	0.001283	6.658923	0.304211	acyl-CoA hydrolase activity
GO:0005385	0.001283	6.658923	0.483797	zinc ion transmembrane transporter activity
GO:0048365	0.001283	6.658923	0.725937	Rac GTPase binding
GO:0070717	0.001283	6.658923	1.255933	poly-purine tract binding
GO:0016863	0.001283	6.658923	1.358123	intramolecular oxidoreductase activity, transposing C=C bonds
GO:0016783	0.001283	6.658923	1.397344	sulfurtransferase activity
GO:0048487	0.001283	6.658923	2.084982	beta-tubulin binding
GO:0003916	0.001283	6.658923	2.627884	DNA topoisomerase activity
GO:0000990	0.001283	6.658923	2.951432	transcription factor activity, core RNA polymerase binding
GO:0043425	0.001283	6.658923	2.985682	bHLH transcription factor binding
GO:0070001	0.001283	6.658923	3.217096	aspartic-type peptidase activity
GO:0003906	0.001254	6.681396	0.000000	DNA-(apurinic or apyrimidinic site) lyase activity
GO:0015250	0.001254	6.681396	0.000000	water channel activity
GO:0016504	0.001254	6.681396	0.107631	peptidase activator activity
GO:0030544	0.001254	6.681396	1.019831	Hsp70 protein binding
GO:0015174	0.001254	6.681396	1.631911	basic amino acid transmembrane transporter activity
GO:0042805	0.001254	6.681396	3.216145	actinin binding
GO:0051184	0.001254	6.681396	4.166665	cofactor transporter activity
GO:0001105	0.001226	6.704386	0.000000	RNA polymerase II transcription coactivator activity
GO:0004190	0.001226	6.704386	0.000000	aspartic-type endopeptidase activity
GO:1904680	0.001226	6.704386	0.022990	peptide transmembrane transporter activity
GO:0033764	0.001226	6.704386	0.045462	steroid dehydrogenase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0042605	0.001226	6.704386	0.045462	peptide antigen binding
GO:0005227	0.001226	6.704386	0.067441	calcium activated cation channel activity
GO:0004115	0.001226	6.704386	0.365934	3',5'-cyclic-AMP phosphodiesterase activity
GO:0031491	0.001226	6.704386	0.515466	nucleosome binding
GO:0070402	0.001226	6.704386	0.620827	NADPH binding
GO:0070273	0.001226	6.704386	1.645972	phosphatidylinositol-4-phosphate binding
GO:0001637	0.001226	6.704386	1.668146	G-protein coupled chemoattractant receptor activity
GO:0016408	0.001226	6.704386	2.718844	C-acyltransferase activity
GO:0043028	0.001226	6.704386	3.481598	cysteine-type endopeptidase regulator activity involved in apoptotic process
GO:0046875	0.001226	6.704386	3.841700	ephrin receptor binding
GO:0001965	0.001226	6.704386	5.521647	G-protein alpha-subunit binding
GO:0050997	0.001226	6.704386	6.071972	quaternary ammonium group binding
GO:0004950	0.001197	6.727916	0.000000	chemokine receptor activity
GO:0015485	0.001197	6.727916	0.305382	cholesterol binding
GO:0004089	0.001197	6.727916	2.052291	carbonate dehydratase activity
GO:0008172	0.001197	6.727916	2.625358	S-methyltransferase activity
GO:0019789	0.001197	6.727916	2.650892	SUMO transferase activity
GO:0008373	0.001197	6.727916	3.059154	sialyltransferase activity
GO:0015562	0.001197	6.727916	4.053853	efflux transmembrane transporter activity
GO:0004708	0.001169	6.752014	0.000000	MAP kinase kinase activity
GO:0005242	0.001169	6.752014	0.070618	inward rectifier potassium channel activity
GO:0016405	0.001169	6.752014	1.329853	CoA-ligase activity
GO:0016812	0.001169	6.752014	2.411111	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amides
GO:0004022	0.001169	6.752014	2.564949	alcohol dehydrogenase (NAD) activity
GO:0017069	0.001169	6.752014	3.992141	snRNA binding
GO:0030515	0.001169	6.752014	3.992141	snoRNA binding
GO:0004970	0.001140	6.776707	0.000000	ionotropic glutamate receptor activity
GO:0043175	0.001140	6.776707	0.388658	RNA polymerase core enzyme binding
GO:0005537	0.001140	6.776707	1.029619	mannose binding
GO:0005154	0.001140	6.776707	1.354546	epidermal growth factor receptor binding
GO:0001530	0.001140	6.776707	1.380025	lipopolysaccharide binding
GO:1900750	0.001140	6.776707	2.119263	oligopeptide binding
GO:0005109	0.001140	6.776707	2.157559	frizzled binding
GO:0015929	0.001140	6.776707	2.505526	hexosaminidase activity
GO:0042169	0.001140	6.776707	2.979349	SH2 domain binding
GO:0016917	0.001140	6.776707	3.489666	GABA receptor activity
GO:0016721	0.001140	6.776707	4.251348	oxidoreductase activity, acting on superoxide radicals as acceptor
GO:0043548	0.001140	6.776707	5.593968	phosphatidylinositol 3-kinase binding
GO:0003756	0.001112	6.802024	0.000000	protein disulfide isomerase activity
GO:0004784	0.001112	6.802024	0.000000	superoxide dismutase activity
GO:0043295	0.001112	6.802024	0.000000	glutathione binding
GO:0030552	0.001112	6.802024	0.074108	cAMP binding
GO:0016841	0.001112	6.802024	0.555946	ammonia-lyase activity
GO:0015035	0.001112	6.802024	0.879733	protein disulfide oxidoreductase activity
GO:0004602	0.001112	6.802024	1.326871	glutathione peroxidase activity
GO:0016864	0.001112	6.802024	1.501224	intramolecular oxidoreductase activity, transposing S-S bonds
GO:0015172	0.001112	6.802024	1.752539	acidic amino acid transmembrane transporter activity
GO:0001221	0.001112	6.802024	3.128783	transcription cofactor binding
GO:0009881	0.001112	6.802024	3.666844	photoreceptor activity
GO:0004675	0.001083	6.828000	0.051293	transmembrane receptor protein serine/threonine kinase activity
GO:0004435	0.001083	6.828000	0.422857	phosphatidylinositol phospholipase C activity
GO:0015198	0.001083	6.828000	0.473288	oligopeptide transporter activity
GO:0030546	0.001083	6.828000	0.596520	receptor activator activity
GO:0030371	0.001083	6.828000	0.652873	translation repressor activity
GO:0090599	0.001083	6.828000	1.062894	alpha-glucosidase activity
GO:0051721	0.001083	6.828000	1.474402	protein phosphatase 2A binding
GO:0015157	0.001083	6.828000	1.515705	oligosaccharide transmembrane transporter activity
GO:0015925	0.001083	6.828000	2.556819	galactosidase activity
GO:0071617	0.001083	6.828000	2.842458	lysophospholipid acyltransferase activity
GO:0004984	0.001083	6.828000	3.540959	olfactory receptor activity
GO:0015026	0.001083	6.828000	3.692819	coreceptor activity
GO:0005112	0.001083	6.828000	3.965314	Notch binding
GO:0030332	0.001083	6.828000	5.645261	cyclin binding
GO:0001671	0.001055	6.854668	0.000000	ATPase activator activity
GO:0015154	0.001055	6.854668	0.000000	disaccharide transmembrane transporter activity
GO:0005345	0.001055	6.854668	0.301105	purine nucleobase transmembrane transporter activity
GO:0004889	0.001055	6.854668	0.466620	acetylcholine-activated cation-selective channel activity
GO:0034595	0.001055	6.854668	0.679542	phosphatidylinositol phosphate 5-phosphatase activity
GO:0042974	0.001055	6.854668	0.854990	retinoic acid receptor binding
GO:0016273	0.001055	6.854668	1.759720	arginine N-methyltransferase activity
GO:0004715	0.001055	6.854668	2.005853	non-membrane spanning protein tyrosine kinase activity
GO:0001540	0.001055	6.854668	2.197225	beta-amyloid binding
GO:0003993	0.001055	6.854668	2.964158	acid phosphatase activity
GO:0050699	0.001055	6.854668	3.057310	WW domain binding
GO:0001134	0.001055	6.854668	3.100822	transcription factor activity, transcription factor recruiting
GO:0031420	0.001055	6.854668	3.951763	alkali metal ion binding
GO:0016274	0.001026	6.882067	0.000000	protein-arginine N-methyltransferase activity
GO:0005451	0.001026	6.882067	0.245122	monovalent cation:proton antiporter activity
GO:0001205	0.001026	6.882067	0.510826	transcriptional activator activity, RNA polymerase II distal enhancer sequence-specific binding
GO:0043539	0.001026	6.882067	1.041454	protein serine/threonine kinase activator activity
GO:0004622	0.001026	6.882067	1.268511	lysophospholipase activity
GO:0008641	0.001026	6.882067	1.459906	small protein activating enzyme activity
GO:0015114	0.001026	6.882067	1.854560	phosphate ion transmembrane transporter activity
GO:0003785	0.001026	6.882067	2.461486	actin monomer binding
GO:0005544	0.001026	6.882067	2.610886	calcium-dependent phospholipid binding
GO:0008252	0.001026	6.882067	2.991557	nucleotidase activity
GO:0017091	0.001026	6.882067	4.122194	AU-rich element binding
GO:0005487	0.001026	6.882067	4.367336	nucleocytoplasmic transporter activity
GO:0019870	0.000998	6.910238	0.055570	potassium channel inhibitor activity
GO:0008143	0.000998	6.910238	0.251314	poly(A) binding
GO:0005343	0.000998	6.910238	0.273293	organic acid:sodium symporter activity
GO:0004653	0.000998	6.910238	0.414944	polypeptide N-acetylgalactosaminyltransferase activity
GO:0090079	0.000998	6.910238	0.414944	translation regulator activity, nucleic acid binding
GO:0015211	0.000998	6.910238	0.571786	purine nucleoside transmembrane transporter activity
GO:0070403	0.000998	6.910238	0.664160	NAD+ binding
GO:0004383	0.000998	6.910238	0.887303	guanylate cyclase activity
GO:0005375	0.000998	6.910238	1.448598	copper ion transmembrane transporter activity
GO:0051920	0.000998	6.910238	1.481605	peroxiredoxin activity
GO:0000217	0.000998	6.910238	1.597944	DNA secondary structure binding
GO:0070569	0.000998	6.910238	2.358155	uridylyltransferase activity
GO:0016742	0.000998	6.910238	2.898277	hydroxymethyl-, formyl- and related transferase activity
GO:0019865	0.000998	6.910238	3.579543	immunoglobulin binding
GO:0070628	0.000998	6.910238	3.579543	proteasome binding
GO:0099589	0.000998	6.910238	3.623197	serotonin receptor activity
GO:0047429	0.000998	6.910238	3.690307	nucleoside-triphosphate diphosphatase activity
GO:0036002	0.000998	6.910238	4.150365	pre-mRNA binding
GO:0016725	0.000998	6.910238	4.384880	oxidoreductase activity, acting on CH or CH2 groups
GO:0004993	0.000969	6.939225	0.000000	G-protein coupled serotonin receptor activity
GO:0005248	0.000969	6.939225	0.000000	voltage-gated sodium channel activity
GO:0008556	0.000969	6.939225	0.000000	potassium-transporting ATPase activity
GO:0005313	0.000969	6.939225	0.084557	L-glutamate transmembrane transporter activity
GO:0099528	0.000969	6.939225	0.111226	G-protein coupled neurotransmitter receptor activity
GO:0010334	0.000969	6.939225	0.567984	sesquiterpene synthase activity
GO:0045309	0.000969	6.939225	0.950976	protein phosphorylated amino acid binding
GO:0008443	0.000969	6.939225	0.995428	phosphofructokinase activity
GO:0015037	0.000969	6.939225	1.016934	peptide disulfide oxidoreductase activity
GO:0016855	0.000969	6.939225	1.269430	racemase and epimerase activity, acting on amino acids and derivatives
GO:0043394	0.000969	6.939225	1.325670	proteoglycan binding
GO:0044769	0.000969	6.939225	1.484275	ATPase activity, coupled to transmembrane movement of ions, rotational mechanism
GO:0003950	0.000969	6.939225	1.579585	NAD+ ADP-ribosyltransferase activity
GO:0017112	0.000969	6.939225	2.030468	Rab guanyl-nucleotide exchange factor activity
GO:1905030	0.000969	6.939225	2.060888	voltage-gated ion channel activity involved in regulation of postsynaptic membrane potential
GO:0051059	0.000969	6.939225	3.265984	NF-kappaB binding
GO:0042287	0.000969	6.939225	4.076540	MHC protein binding
GO:0000339	0.000969	6.939225	4.179352	RNA cap binding
GO:0044390	0.000969	6.939225	4.270931	ubiquitin-like protein conjugating enzyme binding
GO:0016744	0.000969	6.939225	5.202389	transferase activity, transferring aldehyde or ketonic groups
GO:0001968	0.000969	6.939225	5.756487	fibronectin binding
GO:0000155	0.000941	6.969078	0.000000	phosphorelay sensor kinase activity
GO:0015278	0.000941	6.969078	0.000000	calcium-release channel activity
GO:0099604	0.000941	6.969078	0.114410	ligand-gated calcium channel activity
GO:0043236	0.000941	6.969078	0.310155	laminin binding
GO:0019238	0.000941	6.969078	1.118613	cyclohydrolase activity
GO:0004709	0.000941	6.969078	1.176321	MAP kinase kinase kinase activity
GO:0019206	0.000941	6.969078	1.274177	nucleoside kinase activity
GO:0080025	0.000941	6.969078	1.339774	phosphatidylinositol-3,5-bisphosphate binding
GO:0031559	0.000941	6.969078	1.718428	oxidosqualene cyclase activity
GO:0004549	0.000941	6.969078	1.996554	tRNA-specific ribonuclease activity
GO:0016886	0.000941	6.969078	2.772589	ligase activity, forming phosphoric ester bonds
GO:0016615	0.000941	6.969078	2.903750	malate dehydrogenase activity
GO:0051019	0.000941	6.969078	3.167901	mitogen-activated protein kinase binding
GO:0017056	0.000941	6.969078	3.263907	structural constituent of nuclear pore
GO:0030507	0.000941	6.969078	3.503827	spectrin binding
GO:0016774	0.000941	6.969078	4.388445	phosphotransferase activity, carboxyl group as acceptor
GO:0015038	0.000912	6.999850	0.060625	glutathione disulfide oxidoreductase activity
GO:0042171	0.000912	6.999850	0.171850	lysophosphatidic acid acyltransferase activity
GO:0005402	0.000912	6.999850	0.271934	cation:sugar symporter activity
GO:0051393	0.000912	6.999850	0.318454	alpha-actinin binding
GO:0004559	0.000912	6.999850	0.541597	alpha-mannosidase activity
GO:0098847	0.000912	6.999850	0.559616	sequence-specific single stranded DNA binding
GO:0005338	0.000912	6.999850	0.594707	nucleotide-sugar transmembrane transporter activity
GO:1990939	0.000912	6.999850	0.916291	ATP-dependent microtubule motor activity
GO:0046966	0.000912	6.999850	1.000172	thyroid hormone receptor binding
GO:0005158	0.000912	6.999850	2.039596	insulin receptor binding
GO:0043014	0.000912	6.999850	2.425908	alpha-tubulin binding
GO:0008417	0.000912	6.999850	3.014309	fucosyltransferase activity
GO:0017025	0.000912	6.999850	3.326609	TBP-class protein binding
GO:0004551	0.000912	6.999850	3.779919	nucleotide diphosphatase activity
GO:0015203	0.000912	6.999850	4.255169	polyamine transmembrane transporter activity
GO:0035035	0.000912	6.999850	4.331555	histone acetyltransferase binding
GO:0043047	0.000884	7.031599	0.000000	single-stranded telomeric DNA binding
GO:0008308	0.000884	7.031599	0.062520	voltage-gated anion channel activity
GO:0001106	0.000884	7.031599	0.092373	RNA polymerase II transcription corepressor activity
GO:0036361	0.000884	7.031599	0.092373	racemase activity, acting on amino acids and derivatives
GO:0070008	0.000884	7.031599	0.350202	serine-type exopeptidase activity
GO:0016723	0.000884	7.031599	0.437214	oxidoreductase activity, oxidizing metal ions, NAD or NADP as acceptor
GO:0035255	0.000884	7.031599	0.437214	ionotropic glutamate receptor binding
GO:0004935	0.000884	7.031599	1.161133	adrenergic receptor activity
GO:0008601	0.000884	7.031599	1.238842	protein phosphatase type 2A regulator activity
GO:0005251	0.000884	7.031599	1.353505	delayed rectifier potassium channel activity
GO:0017134	0.000884	7.031599	1.659763	fibroblast growth factor binding
GO:0015248	0.000884	7.031599	1.684007	sterol transporter activity
GO:0050664	0.000884	7.031599	1.903551	oxidoreductase activity, acting on NAD(P)H, oxygen as acceptor
GO:0016884	0.000884	7.031599	1.973185	carbon-nitrogen ligase activity, with glutamine as amido-N-donor
GO:0016713	0.000884	7.031599	2.232439	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced iron-sulfur protein as one donor, and incorporation of one atom of oxygen
GO:0005160	0.000884	7.031599	2.305806	transforming growth factor beta receptor binding
GO:0008138	0.000884	7.031599	2.415338	protein tyrosine/serine/threonine phosphatase activity
GO:0070300	0.000884	7.031599	2.760418	phosphatidic acid binding
GO:0016307	0.000884	7.031599	4.109816	phosphatidylinositol phosphate kinase activity
GO:0042056	0.000884	7.031599	7.031599	chemoattractant activity
GO:0004181	0.000855	7.064389	0.000000	metallocarboxypeptidase activity
GO:0071813	0.000855	7.064389	0.000000	lipoprotein particle binding
GO:0015385	0.000855	7.064389	0.032790	sodium:proton antiporter activity
GO:0031624	0.000855	7.064389	0.125163	ubiquitin conjugating enzyme binding
GO:0015216	0.000855	7.064389	0.832909	purine nucleotide transmembrane transporter activity
GO:0030547	0.000855	7.064389	0.832909	receptor inhibitor activity
GO:0050681	0.000855	7.064389	1.017643	androgen receptor binding
GO:0015464	0.000855	7.064389	1.233532	acetylcholine receptor activity
GO:0043138	0.000855	7.064389	1.317301	3'-5' DNA helicase activity
GO:0004096	0.000855	7.064389	1.589235	catalase activity
GO:0042285	0.000855	7.064389	1.704748	xylosyltransferase activity
GO:0008157	0.000855	7.064389	1.710790	protein phosphatase 1 binding
GO:0015095	0.000855	7.064389	2.409944	magnesium ion transmembrane transporter activity
GO:0070567	0.000855	7.064389	2.512306	cytidylyltransferase activity
GO:0004697	0.000855	7.064389	3.439349	protein kinase C activity
GO:0030506	0.000855	7.064389	3.599137	ankyrin binding
GO:0017110	0.000855	7.064389	3.844458	nucleoside-diphosphatase activity
GO:0071814	0.000855	7.064389	4.238926	protein-lipid complex binding
GO:0032794	0.000855	7.064389	5.881650	GTPase activating protein binding
GO:0003918	0.000827	7.098290	0.000000	DNA topoisomerase type II (ATP-hydrolyzing) activity
GO:0005351	0.000827	7.098290	0.000000	sugar:proton symporter activity
GO:0015368	0.000827	7.098290	0.000000	calcium:cation antiporter activity
GO:0046961	0.000827	7.098290	0.000000	proton-transporting ATPase activity, rotational mechanism
GO:0015301	0.000827	7.098290	0.098440	anion:anion antiporter activity
GO:0061505	0.000827	7.098290	0.439367	DNA topoisomerase II activity
GO:0047555	0.000827	7.098290	0.759839	3',5'-cyclic-GMP phosphodiesterase activity
GO:0004550	0.000827	7.098290	0.976510	nucleoside diphosphate kinase activity
GO:0003954	0.000827	7.098290	1.970242	NADH dehydrogenase activity
GO:0016894	0.000827	7.098290	2.372497	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 3'-phosphomonoesters
GO:0005092	0.000827	7.098290	2.440847	GDP-dissociation inhibitor activity
GO:0043015	0.000827	7.098290	2.524348	gamma-tubulin binding
GO:0031435	0.000827	7.098290	3.297113	mitogen-activated protein kinase kinase kinase binding
GO:0005212	0.000827	7.098290	3.393119	structural constituent of eye lens
GO:0035173	0.000827	7.098290	3.961142	histone kinase activity
GO:0015002	0.000827	7.098290	4.572932	heme-copper terminal oxidase activity
GO:0016801	0.000827	7.098290	5.266435	hydrolase activity, acting on ether bonds
GO:0043495	0.000827	7.098290	5.915551	protein anchor
GO:0000993	0.000798	7.133381	0.000000	RNA polymerase II core binding
GO:0004185	0.000798	7.133381	0.000000	serine-type carboxypeptidase activity
GO:0016888	0.000798	7.133381	0.101783	endodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0047661	0.000798	7.133381	0.101783	amino-acid racemase activity
GO:0004890	0.000798	7.133381	0.356675	GABA-A receptor activity
GO:0008327	0.000798	7.133381	0.428996	methyl-CpG binding
GO:0005243	0.000798	7.133381	0.638087	gap junction channel activity
GO:0015556	0.000798	7.133381	0.971861	C4-dicarboxylate transmembrane transporter activity
GO:0004396	0.000798	7.133381	1.189584	hexokinase activity
GO:0016639	0.000798	7.133381	1.262915	oxidoreductase activity, acting on the CH-NH2 group of donors, NAD or NADP as acceptor
GO:0031543	0.000798	7.133381	1.386294	peptidyl-proline dioxygenase activity
GO:0005520	0.000798	7.133381	1.761546	insulin-like growth factor binding
GO:0009982	0.000798	7.133381	1.882731	pseudouridine synthase activity
GO:0008536	0.000798	7.133381	2.299007	Ran GTPase binding
GO:0050780	0.000798	7.133381	2.514234	dopamine receptor binding
GO:0097599	0.000798	7.133381	2.862201	xylanase activity
GO:0016885	0.000798	7.133381	2.936892	ligase activity, forming carbon-carbon bonds
GO:0004645	0.000798	7.133381	3.147840	phosphorylase activity
GO:0004953	0.000798	7.133381	3.170586	icosanoid receptor activity
GO:0004690	0.000798	7.133381	3.508342	cyclic nucleotide-dependent protein kinase activity
GO:0000182	0.000798	7.133381	3.588467	rDNA binding
GO:0016151	0.000798	7.133381	3.631931	nickel cation binding
GO:0008484	0.000798	7.133381	4.242867	sulfuric ester hydrolase activity
GO:0016675	0.000798	7.133381	4.608023	oxidoreductase activity, acting on a heme group of donors
GO:0071889	0.000798	7.133381	5.950643	14-3-3 protein binding
GO:0005388	0.000770	7.169749	0.000000	calcium-transporting ATPase activity
GO:0043027	0.000770	7.169749	0.000000	cysteine-type endopeptidase inhibitor activity involved in apoptotic process
GO:0008296	0.000770	7.169749	0.036368	3'-5'-exodeoxyribonuclease activity
GO:0015269	0.000770	7.169749	0.071459	calcium-activated potassium channel activity
GO:0000295	0.000770	7.169749	0.105361	adenine nucleotide transmembrane transporter activity
GO:0046965	0.000770	7.169749	0.315081	retinoid X receptor binding
GO:0015166	0.000770	7.169749	0.575364	polyol transmembrane transporter activity
GO:0030228	0.000770	7.169749	0.616186	lipoprotein particle receptor activity
GO:0004017	0.000770	7.169749	0.674455	adenylate kinase activity
GO:0005353	0.000770	7.169749	0.980829	fructose transmembrane transporter activity
GO:0048020	0.000770	7.169749	1.158510	CCR chemokine receptor binding
GO:0045118	0.000770	7.169749	1.192800	azole transporter activity
GO:0005536	0.000770	7.169749	1.422662	glucose binding
GO:0005384	0.000770	7.169749	1.708109	manganese ion transmembrane transporter activity
GO:0005104	0.000770	7.169749	1.747588	fibroblast growth factor receptor binding
GO:0043891	0.000770	7.169749	1.797913	glyceraldehyde-3-phosphate dehydrogenase (NAD(P)+) (phosphorylating) activity
GO:0016634	0.000770	7.169749	2.155202	oxidoreductase activity, acting on the CH-CH group of donors, oxygen as acceptor
GO:0070577	0.000770	7.169749	2.221616	lysine-acetylated histone binding
GO:0070325	0.000770	7.169749	4.307064	lipoprotein particle receptor binding
GO:0005521	0.000770	7.169749	5.987010	lamin binding
GO:0042165	0.000770	7.169749	6.537336	neurotransmitter binding
GO:0004861	0.000741	7.207489	0.000000	cyclin-dependent protein serine/threonine kinase inhibitor activity
GO:0005346	0.000741	7.207489	0.000000	purine ribonucleotide transmembrane transporter activity
GO:0004439	0.000741	7.207489	0.175891	phosphatidylinositol-4,5-bisphosphate 5-phosphatase activity
GO:0050431	0.000741	7.207489	0.479573	transforming growth factor beta binding
GO:0000062	0.000741	7.207489	0.693147	fatty-acyl-CoA binding
GO:0015651	0.000741	7.207489	0.802346	quaternary ammonium group transmembrane transporter activity
GO:0004630	0.000741	7.207489	1.357024	phospholipase D activity
GO:0051861	0.000741	7.207489	1.810808	glycolipid binding
GO:0016653	0.000741	7.207489	2.079442	oxidoreductase activity, acting on NAD(P)H, heme protein as acceptor
GO:0070568	0.000741	7.207489	2.655406	guanylyltransferase activity
GO:0016160	0.000741	7.207489	2.936309	amylase activity
GO:0035586	0.000741	7.207489	3.920449	purinergic receptor activity
GO:0050998	0.000741	7.207489	4.539195	nitric-oxide synthase binding
GO:0016679	0.000741	7.207489	4.682131	oxidoreductase activity, acting on diphenols and related substances as donors
GO:0044183	0.000741	7.207489	6.024751	protein binding involved in protein folding
GO:0004129	0.000713	7.246710	0.000000	cytochrome-c oxidase activity
GO:0015450	0.000713	7.246710	0.000000	P-P-bond-hydrolysis-driven protein transmembrane transporter activity
GO:0019871	0.000713	7.246710	0.000000	sodium channel inhibitor activity
GO:0035673	0.000713	7.246710	0.000000	oligopeptide transmembrane transporter activity
GO:0016676	0.000713	7.246710	0.113329	oxidoreductase activity, acting on a heme group of donors, oxygen as acceptor
GO:0015280	0.000713	7.246710	0.148420	ligand-gated sodium channel activity
GO:0003988	0.000713	7.246710	0.542324	acetyl-CoA C-acyltransferase activity
GO:0034237	0.000713	7.246710	1.015231	protein kinase A regulatory subunit binding
GO:0008239	0.000713	7.246710	1.247032	dipeptidyl-peptidase activity
GO:0070412	0.000713	7.246710	1.291984	R-SMAD binding
GO:0043325	0.000713	7.246710	1.617406	phosphatidylinositol-3,4-bisphosphate binding
GO:0043024	0.000713	7.246710	1.905088	ribosomal small subunit binding
GO:0004611	0.000713	7.246710	1.979621	phosphoenolpyruvate carboxykinase activity
GO:0042834	0.000713	7.246710	2.084429	peptidoglycan binding
GO:0016880	0.000713	7.246710	2.188296	acid-ammonia (or amide) ligase activity
GO:0051010	0.000713	7.246710	2.334084	microtubule plus-end binding
GO:0000156	0.000713	7.246710	2.444085	phosphorelay response regulator activity
GO:0016712	0.000713	7.246710	2.447551	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced flavin or flavoprotein as one donor, and incorporation of one atom of oxygen
GO:0031690	0.000713	7.246710	2.627563	adrenergic receptor binding
GO:0043424	0.000713	7.246710	3.445533	protein histidine kinase binding
GO:0003680	0.000713	7.246710	3.701796	AT DNA binding
GO:0008061	0.000713	7.246710	4.157006	chitin binding
GO:0005159	0.000713	7.246710	4.384025	insulin-like growth factor receptor binding
GO:0019202	0.000713	7.246710	4.445940	amino acid kinase activity
GO:0001848	0.000713	7.246710	6.063971	complement binding
GO:0001091	0.000684	7.287532	0.000000	RNA polymerase II basal transcription factor binding
GO:0004526	0.000684	7.287532	0.000000	ribonuclease P activity
GO:0004365	0.000684	7.287532	0.117783	glyceraldehyde-3-phosphate dehydrogenase (NAD+) (phosphorylating) activity
GO:0008379	0.000684	7.287532	0.189242	thioredoxin peroxidase activity
GO:0016423	0.000684	7.287532	0.733969	tRNA (guanine) methyltransferase activity
GO:0052744	0.000684	7.287532	1.112406	phosphatidylinositol monophosphate phosphatase activity
GO:0017075	0.000684	7.287532	1.191394	syntaxin-1 binding
GO:0042800	0.000684	7.287532	1.276293	histone methyltransferase activity (H3-K4 specific)
GO:0034979	0.000684	7.287532	1.375823	NAD-dependent protein deacetylase activity
GO:0034483	0.000684	7.287532	1.504077	heparan sulfate sulfotransferase activity
GO:0004198	0.000684	7.287532	1.575536	calcium-dependent cysteine-type endopeptidase activity
GO:0032036	0.000684	7.287532	1.575536	myosin heavy chain binding
GO:0003746	0.000684	7.287532	1.681759	translation elongation factor activity
GO:0080043	0.000684	7.287532	1.712295	quercetin 3-O-glucosyltransferase activity
GO:0048256	0.000684	7.287532	1.777773	flap endonuclease activity
GO:0015245	0.000684	7.287532	1.939940	fatty acid transporter activity
GO:0047372	0.000684	7.287532	2.042302	acylglycerol lipase activity
GO:0010314	0.000684	7.287532	2.229118	phosphatidylinositol-5-phosphate binding
GO:0008169	0.000684	7.287532	3.184974	C-methyltransferase activity
GO:0004143	0.000684	7.287532	4.365749	diacylglycerol kinase activity
GO:0016922	0.000684	7.287532	4.424847	ligand-dependent nuclear receptor binding
GO:0030742	0.000684	7.287532	6.104793	GTP-dependent protein binding
GO:0070064	0.000684	7.287532	6.104793	proline-rich region binding
GO:0003841	0.000656	7.330092	0.000000	1-acylglycerol-3-phosphate O-acyltransferase activity
GO:0008329	0.000656	7.330092	0.000000	signaling pattern recognition receptor activity
GO:0000099	0.000656	7.330092	0.042560	sulfur amino acid transmembrane transporter activity
GO:0000293	0.000656	7.330092	0.298493	ferric-chelate reductase activity
GO:0015165	0.000656	7.330092	0.330242	pyrimidine nucleotide-sugar transmembrane transporter activity
GO:0034236	0.000656	7.330092	0.390866	protein kinase A catalytic subunit binding
GO:0004791	0.000656	7.330092	0.475424	thioredoxin-disulfide reductase activity
GO:0008515	0.000656	7.330092	0.475424	sucrose transmembrane transporter activity
GO:0030955	0.000656	7.330092	0.475424	potassium ion binding
GO:0004563	0.000656	7.330092	0.553385	beta-N-acetylhexosaminidase activity
GO:0070696	0.000656	7.330092	0.735707	transmembrane receptor protein serine/threonine kinase binding
GO:0046030	0.000656	7.330092	0.776529	inositol trisphosphate phosphatase activity
GO:0015288	0.000656	7.330092	0.834798	porin activity
GO:0004144	0.000656	7.330092	0.853490	diacylglycerol O-acyltransferase activity
GO:0036041	0.000656	7.330092	1.233954	long-chain fatty acid binding
GO:0010340	0.000656	7.330092	1.258955	carboxyl-O-methyltransferase activity
GO:0048531	0.000656	7.330092	1.271225	beta-1,3-galactosyltransferase activity
GO:0017169	0.000656	7.330092	1.375365	CDP-alcohol phosphatidyltransferase activity
GO:0005003	0.000656	7.330092	1.469676	ephrin receptor activity
GO:0003995	0.000656	7.330092	2.315544	acyl-CoA dehydrogenase activity
GO:0002161	0.000656	7.330092	2.756150	aminoacyl-tRNA editing activity
GO:0016500	0.000656	7.330092	3.367296	protein-hormone receptor activity
GO:1990841	0.000656	7.330092	3.421284	promoter-specific chromatin binding
GO:0071837	0.000656	7.330092	3.532734	HMG box domain binding
GO:0005199	0.000656	7.330092	3.624920	structural constituent of cell wall
GO:0038187	0.000656	7.330092	4.420411	pattern recognition receptor activity
GO:0043274	0.000656	7.330092	4.661797	phospholipase binding
GO:0046977	0.000656	7.330092	6.147353	TAP binding
GO:0051787	0.000656	7.330092	6.147353	misfolded protein binding
GO:0005221	0.000627	7.374544	0.000000	intracellular cyclic nucleotide activated cation channel activity
GO:0030548	0.000627	7.374544	0.000000	acetylcholine receptor regulator activity
GO:1901474	0.000627	7.374544	0.044452	azole transmembrane transporter activity
GO:0004438	0.000627	7.374544	0.087011	phosphatidylinositol-3-phosphatase activity
GO:0048018	0.000627	7.374544	0.167054	receptor agonist activity
GO:0050750	0.000627	7.374544	0.204794	low-density lipoprotein particle receptor binding
GO:0016803	0.000627	7.374544	0.276253	ether hydrolase activity
GO:0004936	0.000627	7.374544	0.342945	alpha-adrenergic receptor activity
GO:0090482	0.000627	7.374544	0.405465	vitamin transmembrane transporter activity
GO:0004565	0.000627	7.374544	0.546544	beta-galactosidase activity
GO:0005315	0.000627	7.374544	0.646627	inorganic phosphate transmembrane transporter activity
GO:0000996	0.000627	7.374544	0.715620	core DNA-dependent RNA polymerase binding promoter specificity activity
GO:0004032	0.000627	7.374544	0.759105	alditol:NADP+ 1-oxidoreductase activity
GO:0005123	0.000627	7.374544	0.800778	death receptor binding
GO:0016215	0.000627	7.374544	0.840783	acyl-CoA desaturase activity
GO:0036440	0.000627	7.374544	0.860201	citrate synthase activity
GO:0008139	0.000627	7.374544	0.969401	nuclear localization sequence binding
GO:0016842	0.000627	7.374544	1.128465	amidine-lyase activity
GO:0099602	0.000627	7.374544	1.143064	neurotransmitter receptor regulator activity
GO:0008599	0.000627	7.374544	1.581786	protein phosphatase type 1 regulator activity
GO:0019956	0.000627	7.374544	1.671131	chemokine binding
GO:0015271	0.000627	7.374544	1.696449	outward rectifier potassium channel activity
GO:0008970	0.000627	7.374544	1.760988	phosphatidylcholine 1-acylhydrolase activity
GO:0032183	0.000627	7.374544	2.161231	SUMO binding
GO:0051428	0.000627	7.374544	2.166453	peptide hormone receptor binding
GO:0043855	0.000627	7.374544	2.477302	cyclic nucleotide-gated ion channel activity
GO:0005545	0.000627	7.374544	2.595933	1-phosphatidylinositol binding
GO:0003994	0.000627	7.374544	2.698918	aconitate hydratase activity
GO:0004300	0.000627	7.374544	2.698918	enoyl-CoA hydratase activity
GO:0008927	0.000627	7.374544	2.698918	mannonate dehydratase activity
GO:0033549	0.000627	7.374544	2.758282	MAP kinase phosphatase activity
GO:0004568	0.000627	7.374544	3.103363	chitinase activity
GO:0016837	0.000627	7.374544	3.129548	carbon-oxygen lyase activity, acting on polysaccharides
GO:0003857	0.000627	7.374544	3.187479	3-hydroxyacyl-CoA dehydrogenase activity
GO:0004745	0.000627	7.374544	3.187479	retinol dehydrogenase activity
GO:0016899	0.000627	7.374544	3.309215	oxidoreductase activity, acting on the CH-OH group of donors, oxygen as acceptor
GO:0048038	0.000627	7.374544	3.368862	quinone binding
GO:0019237	0.000627	7.374544	3.829629	centromeric DNA binding
GO:0097617	0.000627	7.374544	5.477984	annealing activity
GO:0016889	0.000599	7.421064	0.000000	endodeoxyribonuclease activity, producing 3'-phosphomonoesters
GO:0022821	0.000599	7.421064	0.000000	potassium ion antiporter activity
GO:0031210	0.000599	7.421064	0.000000	phosphatidylcholine binding
GO:0016987	0.000599	7.421064	0.046520	sigma factor activity
GO:0035312	0.000599	7.421064	0.046520	5'-3' exodeoxyribonuclease activity
GO:0005391	0.000599	7.421064	0.090972	sodium:potassium-exchanging ATPase activity
GO:0015116	0.000599	7.421064	0.090972	sulfate transmembrane transporter activity
GO:0023023	0.000599	7.421064	0.213574	MHC protein complex binding
GO:0043395	0.000599	7.421064	0.213574	heparan sulfate proteoglycan binding
GO:0016421	0.000599	7.421064	0.287682	CoA carboxylase activity
GO:0030169	0.000599	7.421064	0.356675	low-density lipoprotein particle binding
GO:0008574	0.000599	7.421064	0.389465	ATP-dependent microtubule motor activity, plus-end-directed
GO:0016308	0.000599	7.421064	0.389465	1-phosphatidylinositol-4-phosphate 5-kinase activity
GO:0004952	0.000599	7.421064	0.481838	dopamine neurotransmitter receptor activity
GO:0042288	0.000599	7.421064	0.481838	MHC class I protein binding
GO:0008297	0.000599	7.421064	0.906721	single-stranded DNA exodeoxyribonuclease activity
GO:0009922	0.000599	7.421064	1.082612	fatty acid elongase activity
GO:0032453	0.000599	7.421064	1.082612	histone demethylase activity (H3-K4 specific)
GO:0005172	0.000599	7.421064	1.189584	vascular endothelial growth factor receptor binding
GO:0034594	0.000599	7.421064	1.245937	phosphatidylinositol trisphosphate phosphatase activity
GO:0004311	0.000599	7.421064	1.477266	farnesyltranstransferase activity
GO:0004337	0.000599	7.421064	1.477266	geranyltranstransferase activity
GO:0008318	0.000599	7.421064	1.477266	protein prenyltransferase activity
GO:0031489	0.000599	7.421064	1.709068	myosin V binding
GO:0000014	0.000599	7.421064	1.911305	single-stranded DNA endodeoxyribonuclease activity
GO:0016208	0.000599	7.421064	2.307336	AMP binding
GO:0004634	0.000599	7.421064	2.745438	phosphopyruvate hydratase activity
GO:0048027	0.000599	7.421064	2.787360	mRNA 5'-UTR binding
GO:0004564	0.000599	7.421064	3.149883	beta-fructofuranosidase activity
GO:0030898	0.000599	7.421064	3.215059	actin-dependent ATPase activity
GO:0008195	0.000599	7.421064	3.530553	phosphatidate phosphatase activity
GO:0030983	0.000599	7.421064	4.064540	mismatched DNA binding
GO:0048185	0.000599	7.421064	4.090368	activin binding
GO:0001017	0.000599	7.421064	4.123287	bacterial-type RNA polymerase regulatory region DNA binding
GO:0046703	0.000599	7.421064	4.558378	natural killer cell lectin-like receptor binding
GO:0035198	0.000599	7.421064	4.661190	miRNA binding
GO:0016778	0.000599	7.421064	4.840431	diphosphotransferase activity
GO:0005522	0.000599	7.421064	6.238325	profilin binding
GO:0015643	0.000599	7.421064	6.788650	toxic substance binding
GO:0016530	0.000599	7.421064	7.421064	metallochaperone activity
GO:0000900	0.000570	7.469854	0.000000	translation repressor activity, nucleic acid binding
GO:0008137	0.000570	7.469854	0.000000	NADH dehydrogenase (ubiquinone) activity
GO:0016823	0.000570	7.469854	0.000000	hydrolase activity, acting on acid carbon-carbon bonds, in ketonic substances
GO:0019855	0.000570	7.469854	0.000000	calcium channel inhibitor activity
GO:0050136	0.000570	7.469854	0.000000	NADH dehydrogenase (quinone) activity
GO:0051998	0.000570	7.469854	0.000000	protein carboxyl O-methyltransferase activity
GO:0000984	0.000570	7.469854	0.048790	bacterial-type RNA polymerase regulatory region sequence-specific DNA binding
GO:0005078	0.000570	7.469854	0.048790	MAP-kinase scaffold activity
GO:0043140	0.000570	7.469854	0.048790	ATP-dependent 3'-5' DNA helicase activity
GO:0004691	0.000570	7.469854	0.336472	cAMP-dependent protein kinase activity
GO:0015181	0.000570	7.469854	0.405465	arginine transmembrane transporter activity
GO:0003872	0.000570	7.469854	0.530628	6-phosphofructokinase activity
GO:0005416	0.000570	7.469854	0.587787	cation:amino acid symporter activity
GO:0008253	0.000570	7.469854	0.587787	5'-nucleotidase activity
GO:0042936	0.000570	7.469854	0.641854	dipeptide transporter activity
GO:0001223	0.000570	7.469854	0.667829	transcription coactivator binding
GO:0005164	0.000570	7.469854	0.896088	tumor necrosis factor receptor binding
GO:0033038	0.000570	7.469854	0.974560	bitter taste receptor activity
GO:0004619	0.000570	7.469854	0.993252	phosphoglycerate mutase activity
GO:0004567	0.000570	7.469854	1.011601	beta-mannosidase activity
GO:0016594	0.000570	7.469854	1.131402	glycine binding
GO:0015193	0.000570	7.469854	1.208960	L-proline transmembrane transporter activity
GO:0015578	0.000570	7.469854	1.280934	mannose transmembrane transporter activity
GO:0070401	0.000570	7.469854	1.386294	NADP+ binding
GO:0005527	0.000570	7.469854	1.435085	macrolide binding
GO:0030296	0.000570	7.469854	1.629241	protein tyrosine kinase activator activity
GO:0043023	0.000570	7.469854	2.128232	ribosomal large subunit binding
GO:0034450	0.000570	7.469854	2.186051	ubiquitin-ubiquitin ligase activity
GO:0001083	0.000570	7.469854	2.327278	transcription factor activity, RNA polymerase II basal transcription factor binding
GO:0015112	0.000570	7.469854	2.442347	nitrate transmembrane transporter activity
GO:0017160	0.000570	7.469854	2.635480	Ral GTPase binding
GO:0003796	0.000570	7.469854	3.198673	lysozyme activity
GO:0004124	0.000570	7.469854	3.224858	cysteine synthase activity
GO:0004448	0.000570	7.469854	3.282789	isocitrate dehydrogenase activity
GO:0009008	0.000570	7.469854	3.367296	DNA-methyltransferase activity
GO:0016872	0.000570	7.469854	3.438814	intramolecular lyase activity
GO:0016743	0.000570	7.469854	3.457893	carboxyl- or carbamoyltransferase activity
GO:0030275	0.000570	7.469854	3.672496	LRR domain binding
GO:0016502	0.000570	7.469854	4.182813	nucleotide receptor activity
GO:0016730	0.000570	7.469854	4.944495	oxidoreductase activity, acting on iron-sulfur proteins as donors
GO:0016822	0.000570	7.469854	5.637999	hydrolase activity, acting on acid carbon-carbon bonds
GO:0008553	0.000542	7.521147	0.000000	hydrogen-exporting ATPase activity, phosphorylative mechanism
GO:0017136	0.000542	7.521147	0.000000	NAD-dependent histone deacetylase activity
GO:0042030	0.000542	7.521147	0.000000	ATPase inhibitor activity
GO:0035925	0.000542	7.521147	0.051293	mRNA 3'-UTR AU-rich region binding
GO:0043225	0.000542	7.521147	0.146603	anion transmembrane-transporting ATPase activity
GO:0035252	0.000542	7.521147	0.233615	UDP-xylosyltransferase activity
GO:0005347	0.000542	7.521147	0.313658	ATP transmembrane transporter activity
GO:0016682	0.000542	7.521147	0.313658	oxidoreductase activity, acting on diphenols and related substances as donors, oxygen as acceptor
GO:0005041	0.000542	7.521147	0.351398	low-density lipoprotein receptor activity
GO:0004954	0.000542	7.521147	0.387766	prostanoid receptor activity
GO:0017127	0.000542	7.521147	0.489548	cholesterol transporter activity
GO:0003909	0.000542	7.521147	0.552069	DNA ligase activity
GO:0000340	0.000542	7.521147	0.581922	RNA 7-methylguanosine cap binding
GO:0016493	0.000542	7.521147	0.793231	C-C chemokine receptor activity
GO:0000991	0.000542	7.521147	0.862224	transcription factor activity, core RNA polymerase II binding
GO:0032454	0.000542	7.521147	1.182695	histone demethylase activity (H3-K9 specific)
GO:0004000	0.000542	7.521147	1.260254	adenosine deaminase activity
GO:0004523	0.000542	7.521147	1.332227	RNA-DNA hybrid ribonuclease activity
GO:0015204	0.000542	7.521147	1.425009	urea transmembrane transporter activity
GO:0003964	0.000542	7.521147	1.577350	RNA-directed DNA polymerase activity
GO:0005534	0.000542	7.521147	1.774060	galactose binding
GO:0016595	0.000542	7.521147	2.191359	glutamate binding
GO:0004106	0.000542	7.521147	2.270497	chorismate mutase activity
GO:0008191	0.000542	7.521147	2.444633	metalloendopeptidase inhibitor activity
GO:0016635	0.000542	7.521147	2.506599	oxidoreductase activity, acting on the CH-CH group of donors, quinone or related compound as acceptor
GO:0070492	0.000542	7.521147	2.661363	oligosaccharide binding
GO:0005086	0.000542	7.521147	2.916347	ARF guanyl-nucleotide exchange factor activity
GO:0004457	0.000542	7.521147	3.455818	lactate dehydrogenase activity
GO:0070742	0.000542	7.521147	3.723789	C2H2 zinc finger domain binding
GO:0046625	0.000542	7.521147	3.808999	sphingolipid binding
GO:0000983	0.000542	7.521147	3.899311	transcription factor activity, RNA polymerase II core promoter sequence-specific
GO:0017166	0.000542	7.521147	4.055895	vinculin binding
GO:0031005	0.000542	7.521147	4.055895	filamin binding
GO:0042813	0.000542	7.521147	4.234107	Wnt-activated receptor activity
GO:0017151	0.000542	7.521147	4.852852	DEAD/H-box RNA helicase binding
GO:1901338	0.000542	7.521147	5.934616	catecholamine binding
GO:0031681	0.000542	7.521147	6.338408	G-protein beta-subunit binding
GO:0034185	0.000542	7.521147	6.338408	apolipoprotein binding
GO:0045294	0.000542	7.521147	6.338408	alpha-catenin binding
GO:0043176	0.000542	7.521147	6.888733	amine binding
GO:0005001	0.000513	7.575214	0.000000	transmembrane receptor protein tyrosine phosphatase activity
GO:0005229	0.000513	7.575214	0.000000	intracellular calcium activated chloride channel activity
GO:0008499	0.000513	7.575214	0.000000	UDP-galactose:beta-N-acetylglucosamine beta-1,3-galactosyltransferase activity
GO:0015377	0.000513	7.575214	0.000000	cation:chloride symporter activity
GO:0017108	0.000513	7.575214	0.000000	5'-flap endonuclease activity
GO:0030550	0.000513	7.575214	0.000000	acetylcholine receptor inhibitor activity
GO:0030976	0.000513	7.575214	0.000000	thiamine pyrophosphate binding
GO:0001135	0.000513	7.575214	0.054067	transcription factor activity, RNA polymerase II transcription factor recruiting
GO:0019198	0.000513	7.575214	0.054067	transmembrane receptor protein phosphatase activity
GO:0001972	0.000513	7.575214	0.154151	retinoic acid binding
GO:0008469	0.000513	7.575214	0.154151	histone-arginine N-methyltransferase activity
GO:0015093	0.000513	7.575214	0.154151	ferrous iron transmembrane transporter activity
GO:0023026	0.000513	7.575214	0.154151	MHC class II protein complex binding
GO:0003691	0.000513	7.575214	0.200671	double-stranded telomeric DNA binding
GO:1990239	0.000513	7.575214	0.476924	steroid hormone binding
GO:0030553	0.000513	7.575214	0.510826	cGMP binding
GO:0018685	0.000513	7.575214	0.543615	alkane 1-monooxygenase activity
GO:0019863	0.000513	7.575214	0.664976	IgE binding
GO:0016505	0.000513	7.575214	0.893818	peptidase activator activity involved in apoptotic process
GO:0004792	0.000513	7.575214	0.916291	thiosulfate sulfurtransferase activity
GO:0052834	0.000513	7.575214	1.021651	inositol monophosphate phosphatase activity
GO:0000702	0.000513	7.575214	1.187166	oxidized base lesion DNA N-glycosylase activity
GO:0004332	0.000513	7.575214	1.236763	fructose-bisphosphate aldolase activity
GO:0070530	0.000513	7.575214	1.299283	K63-linked polyubiquitin binding
GO:0004652	0.000513	7.575214	1.684339	polynucleotide adenylyltransferase activity
GO:0008097	0.000513	7.575214	1.754019	5S rRNA binding
GO:0043142	0.000513	7.575214	2.133509	single-stranded DNA-dependent ATPase activity
GO:0004030	0.000513	7.575214	2.203378	aldehyde dehydrogenase [NAD(P)+] activity
GO:0008410	0.000513	7.575214	2.313635	CoA-transferase activity
GO:0005540	0.000513	7.575214	2.412933	hyaluronic acid binding
GO:0016805	0.000513	7.575214	2.461486	dipeptidase activity
GO:0016624	0.000513	7.575214	2.534578	oxidoreductase activity, acting on the aldehyde or oxo group of donors, disulfide as acceptor
GO:0016670	0.000513	7.575214	2.552046	oxidoreductase activity, acting on a sulfur group of donors, oxygen as acceptor
GO:0035381	0.000513	7.575214	2.677973	ATP-gated ion channel activity
GO:0016714	0.000513	7.575214	2.776055	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced pteridine as one donor, and incorporation of one atom of oxygen
GO:0005165	0.000513	7.575214	2.849421	neurotrophin receptor binding
GO:0015927	0.000513	7.575214	3.304034	trehalase activity
GO:0016417	0.000513	7.575214	3.589673	S-acyltransferase activity
GO:0031434	0.000513	7.575214	3.774037	mitogen-activated protein kinase kinase binding
GO:0043422	0.000513	7.575214	3.774037	protein kinase B binding
GO:0008353	0.000513	7.575214	3.950175	RNA polymerase II carboxy-terminal domain kinase activity
GO:0046870	0.000513	7.575214	4.073764	cadmium ion binding
GO:0048156	0.000513	7.575214	4.109963	tau protein binding
GO:0044213	0.000513	7.575214	4.277437	intronic transcription regulatory region DNA binding
GO:0005035	0.000513	7.575214	4.288174	death receptor activity
GO:0051766	0.000513	7.575214	4.653431	inositol trisphosphate kinase activity
GO:0001618	0.000513	7.575214	4.665533	virus receptor activity
GO:0070034	0.000513	7.575214	4.815341	telomerase RNA binding
GO:0070182	0.000513	7.575214	4.906920	DNA polymerase binding
GO:0005344	0.000513	7.575214	4.942039	oxygen transporter activity
GO:0005326	0.000513	7.575214	5.060483	neurotransmitter transporter activity
GO:0044548	0.000513	7.575214	6.392475	S100 protein binding
GO:0008430	0.000513	7.575214	6.942801	selenium binding
GO:0031386	0.000513	7.575214	7.575214	protein tag
GO:0000774	0.000485	7.632373	0.000000	adenyl-nucleotide exchange factor activity
GO:0000986	0.000485	7.632373	0.000000	bacterial-type RNA polymerase core promoter proximal region sequence-specific DNA binding
GO:0001614	0.000485	7.632373	0.000000	purinergic nucleotide receptor activity
GO:0004931	0.000485	7.632373	0.000000	extracellular ATP-gated cation channel activity
GO:0005247	0.000485	7.632373	0.000000	voltage-gated chloride channel activity
GO:0015125	0.000485	7.632373	0.000000	bile acid transmembrane transporter activity
GO:0015199	0.000485	7.632373	0.000000	amino-acid betaine transmembrane transporter activity
GO:0042166	0.000485	7.632373	0.000000	acetylcholine binding
GO:0051378	0.000485	7.632373	0.000000	serotonin binding
GO:0005528	0.000485	7.632373	0.162519	FK506 binding
GO:0090563	0.000485	7.632373	0.211309	protein-phosphocysteine-sugar phosphotransferase activity
GO:0004768	0.000485	7.632373	0.257829	stearoyl-CoA 9-desaturase activity
GO:0015189	0.000485	7.632373	0.302281	L-lysine transmembrane transporter activity
GO:0016211	0.000485	7.632373	0.385662	ammonia ligase activity
GO:0004556	0.000485	7.632373	0.424883	alpha-amylase activity
GO:0004065	0.000485	7.632373	0.498991	arylsulfatase activity
GO:0004340	0.000485	7.632373	0.498991	glucokinase activity
GO:0034335	0.000485	7.632373	0.534082	DNA supercoiling activity
GO:0016175	0.000485	7.632373	0.600774	superoxide-generating NADPH oxidase activity
GO:0003933	0.000485	7.632373	0.663294	GTP cyclohydrolase activity
GO:0004470	0.000485	7.632373	0.663294	malic enzyme activity
GO:0001784	0.000485	7.632373	0.693147	phosphotyrosine binding
GO:0000400	0.000485	7.632373	0.722135	four-way junction DNA binding
GO:0005024	0.000485	7.632373	0.804373	transforming growth factor beta-activated receptor activity
GO:0001222	0.000485	7.632373	0.830348	transcription corepressor binding
GO:0016662	0.000485	7.632373	1.016934	oxidoreductase activity, acting on other nitrogenous compounds as donors, cytochrome as acceptor
GO:0042132	0.000485	7.632373	1.078810	fructose 1,6-bisphosphate 1-phosphatase activity
GO:0004614	0.000485	7.632373	1.155771	phosphoglucomutase activity
GO:0070404	0.000485	7.632373	1.386294	NADH binding
GO:0034596	0.000485	7.632373	1.457246	phosphatidylinositol phosphate 4-phosphatase activity
GO:0000026	0.000485	7.632373	1.655423	alpha-1,2-mannosyltransferase activity
GO:0030159	0.000485	7.632373	1.761907	receptor signaling complex scaffold activity
GO:0008079	0.000485	7.632373	2.026599	translation termination factor activity
GO:0080044	0.000485	7.632373	2.057136	quercetin 7-O-glucosyltransferase activity
GO:0004499	0.000485	7.632373	2.241960	N,N-dimethylaniline monooxygenase activity
GO:0015658	0.000485	7.632373	2.582887	branched-chain amino acid transmembrane transporter activity
GO:0008603	0.000485	7.632373	2.731307	cAMP-dependent protein kinase regulator activity
GO:0008810	0.000485	7.632373	3.361192	cellulase activity
GO:0008504	0.000485	7.632373	3.576962	monoamine transmembrane transporter activity
GO:0060229	0.000485	7.632373	3.594892	lipase activator activity
GO:0005523	0.000485	7.632373	4.167121	tropomyosin binding
GO:0055103	0.000485	7.632373	4.409585	ligase regulator activity
GO:0004427	0.000485	7.632373	4.412442	inorganic diphosphatase activity
GO:0050321	0.000485	7.632373	4.495224	tau-protein kinase activity
GO:0004743	0.000485	7.632373	4.737230	pyruvate kinase activity
GO:0030215	0.000485	7.632373	4.769687	semaphorin receptor binding
GO:0042975	0.000485	7.632373	4.769687	peroxisome proliferator activated receptor binding
GO:0042301	0.000485	7.632373	4.934474	phosphate ion binding
GO:0042910	0.000485	7.632373	5.117642	xenobiotic transporter activity
GO:0005549	0.000485	7.632373	6.999959	odorant binding
GO:0005283	0.000456	7.692997	0.000000	sodium:amino acid symporter activity
GO:0008559	0.000456	7.692997	0.000000	xenobiotic-transporting ATPase activity
GO:0008656	0.000456	7.692997	0.000000	cysteine-type endopeptidase activator activity involved in apoptotic process
GO:0016453	0.000456	7.692997	0.000000	C-acetyltransferase activity
GO:0019211	0.000456	7.692997	0.000000	phosphatase activator activity
GO:0031492	0.000456	7.692997	0.000000	nucleosomal DNA binding
GO:0003747	0.000456	7.692997	0.060625	translation release factor activity
GO:0004575	0.000456	7.692997	0.060625	sucrose alpha-glucosidase activity
GO:0055106	0.000456	7.692997	0.060625	ubiquitin-protein transferase regulator activity
GO:0001161	0.000456	7.692997	0.117783	intronic transcription regulatory region sequence-specific DNA binding
GO:0005031	0.000456	7.692997	0.117783	tumor necrosis factor-activated receptor activity
GO:0004955	0.000456	7.692997	0.171850	prostaglandin receptor activity
GO:0005095	0.000456	7.692997	0.171850	GTPase inhibitor activity
GO:0015217	0.000456	7.692997	0.485508	ADP transmembrane transporter activity
GO:0031545	0.000456	7.692997	0.559616	peptidyl-proline 4-dioxygenase activity
GO:0015924	0.000456	7.692997	0.693147	mannosyl-oligosaccharide mannosidase activity
GO:0004972	0.000456	7.692997	0.916291	NMDA glutamate receptor activity
GO:0030284	0.000456	7.692997	1.077559	estrogen receptor activity
GO:0004862	0.000456	7.692997	1.252763	cAMP-dependent protein kinase inhibitor activity
GO:0008131	0.000456	7.692997	1.270463	primary amine oxidase activity
GO:0055056	0.000456	7.692997	1.270463	D-glucose transmembrane transporter activity
GO:0008526	0.000456	7.692997	1.354546	phosphatidylinositol transporter activity
GO:0010484	0.000456	7.692997	1.354546	H3 histone acetyltransferase activity
GO:0010485	0.000456	7.692997	1.354546	H4 histone acetyltransferase activity
GO:0004049	0.000456	7.692997	1.386294	anthranilate synthase activity
GO:0032217	0.000456	7.692997	1.386294	riboflavin transporter activity
GO:0004126	0.000456	7.692997	1.432104	cytidine deaminase activity
GO:0015186	0.000456	7.692997	1.432104	L-glutamine transmembrane transporter activity
GO:0015187	0.000456	7.692997	1.432104	glycine transmembrane transporter activity
GO:0004805	0.000456	7.692997	1.446919	trehalose-phosphatase activity
GO:0008331	0.000456	7.692997	1.475907	high voltage-gated calcium channel activity
GO:0047498	0.000456	7.692997	1.584120	calcium-dependent phospholipase A2 activity
GO:0035259	0.000456	7.692997	1.646252	glucocorticoid receptor binding
GO:0070180	0.000456	7.692997	1.871802	large ribosomal subunit rRNA binding
GO:0070181	0.000456	7.692997	1.871802	small ribosomal subunit rRNA binding
GO:0004062	0.000456	7.692997	1.909543	aryl sulfotransferase activity
GO:0008174	0.000456	7.692997	1.927892	mRNA methyltransferase activity
GO:0043139	0.000456	7.692997	1.945910	5'-3' DNA helicase activity
GO:0016647	0.000456	7.692997	2.023202	oxidoreductase activity, acting on the CH-NH group of donors, oxygen as acceptor
GO:0005237	0.000456	7.692997	2.094946	inhibitory extracellular ligand-gated ion channel activity
GO:0042947	0.000456	7.692997	2.147392	glucoside transmembrane transporter activity
GO:1990381	0.000456	7.692997	2.190256	ubiquitin-specific protease binding
GO:0016929	0.000456	7.692997	2.264364	SUMO-specific protease activity
GO:0005161	0.000456	7.692997	2.270836	platelet-derived growth factor receptor binding
GO:0043121	0.000456	7.692997	2.321161	neurotrophin binding
GO:0015279	0.000456	7.692997	2.436897	store-operated calcium channel activity
GO:0017081	0.000456	7.692997	2.545531	chloride channel regulator activity
GO:0008242	0.000456	7.692997	2.579269	omega peptidase activity
GO:0015173	0.000456	7.692997	2.643512	aromatic amino acid transmembrane transporter activity
GO:0000104	0.000456	7.692997	2.678450	succinate dehydrogenase activity
GO:0004067	0.000456	7.692997	2.752864	asparaginase activity
GO:0008391	0.000456	7.692997	2.893838	arachidonic acid monooxygenase activity
GO:0004345	0.000456	7.692997	3.505933	glucose-6-phosphate dehydrogenase activity
GO:0022833	0.000456	7.692997	3.531860	mechanically gated channel activity
GO:0016748	0.000456	7.692997	3.707456	succinyltransferase activity
GO:0004035	0.000456	7.692997	3.802487	alkaline phosphatase activity
GO:0008432	0.000456	7.692997	3.891820	JUN kinase binding
GO:0016989	0.000456	7.692997	3.939152	sigma factor antagonist activity
GO:0019103	0.000456	7.692997	4.582413	pyrimidine nucleotide binding
GO:0015563	0.000456	7.692997	5.018934	uptake transmembrane transporter activity
GO:0019534	0.000456	7.692997	5.178266	toxin transporter activity
GO:0045295	0.000456	7.692997	6.510258	gamma-catenin binding
GO:0004322	0.000428	7.757536	0.000000	ferroxidase activity
GO:0004844	0.000428	7.757536	0.000000	uracil DNA N-glycosylase activity
GO:0005068	0.000428	7.757536	0.000000	transmembrane receptor protein tyrosine kinase adaptor activity
GO:0005542	0.000428	7.757536	0.000000	folic acid binding
GO:0015168	0.000428	7.757536	0.000000	glycerol transmembrane transporter activity
GO:0034485	0.000428	7.757536	0.000000	phosphatidylinositol-3,4,5-trisphosphate 5-phosphatase activity
GO:0004012	0.000428	7.757536	0.064539	phospholipid-translocating ATPase activity
GO:0031419	0.000428	7.757536	0.064539	cobalamin binding
GO:0004356	0.000428	7.757536	0.125163	glutamate-ammonia ligase activity
GO:0005131	0.000428	7.757536	0.125163	growth hormone receptor binding
GO:0015220	0.000428	7.757536	0.125163	choline transmembrane transporter activity
GO:0016004	0.000428	7.757536	0.125163	phospholipase activator activity
GO:0003886	0.000428	7.757536	0.182322	DNA (cytosine-5-)-methyltransferase activity
GO:0004072	0.000428	7.757536	0.236389	aspartate kinase activity
GO:0004661	0.000428	7.757536	0.336472	protein geranylgeranyltransferase activity
GO:0001010	0.000428	7.757536	0.510826	transcription factor activity, sequence-specific DNA binding transcription factor recruiting
GO:0031176	0.000428	7.757536	0.624154	endo-1,4-beta-xylanase activity
GO:0031748	0.000428	7.757536	0.624154	D1 dopamine receptor binding
GO:0019136	0.000428	7.757536	0.788457	deoxynucleoside kinase activity
GO:0008494	0.000428	7.757536	0.847298	translation activator activity
GO:0031402	0.000428	7.757536	0.902868	sodium ion binding
GO:0004558	0.000428	7.757536	0.929536	alpha-1,4-glucosidase activity
GO:0015277	0.000428	7.757536	0.980829	kainate selective glutamate receptor activity
GO:0004303	0.000428	7.757536	1.053150	estradiol 17-beta-dehydrogenase activity
GO:0016290	0.000428	7.757536	1.098612	palmitoyl-CoA hydrolase activity
GO:0016724	0.000428	7.757536	1.163151	oxidoreductase activity, oxidizing metal ions, oxygen as acceptor
GO:0005044	0.000428	7.757536	1.203973	scavenger receptor activity
GO:0008309	0.000428	7.757536	1.243194	double-stranded DNA exodeoxyribonuclease activity
GO:0004385	0.000428	7.757536	1.262242	guanylate kinase activity
GO:0001054	0.000428	7.757536	1.280934	RNA polymerase I activity
GO:0003896	0.000428	7.757536	1.280934	DNA primase activity
GO:0001716	0.000428	7.757536	1.335001	L-amino-acid oxidase activity
GO:0003840	0.000428	7.757536	1.335001	gamma-glutamyltransferase activity
GO:0031957	0.000428	7.757536	1.352393	very long-chain fatty acid-CoA ligase activity
GO:0097506	0.000428	7.757536	1.369487	deaminated base DNA N-glycosylase activity
GO:0004430	0.000428	7.757536	1.540445	1-phosphatidylinositol 4-kinase activity
GO:0004596	0.000428	7.757536	1.673976	peptide alpha-N-acetyltransferase activity
GO:0030676	0.000428	7.757536	1.698669	Rac guanyl-nucleotide exchange factor activity
GO:0046975	0.000428	7.757536	1.746297	histone methyltransferase activity (H3-K36 specific)
GO:0017049	0.000428	7.757536	1.824549	GTP-Rho binding
GO:0070735	0.000428	7.757536	1.926679	protein-glycine ligase activity
GO:0042806	0.000428	7.757536	2.010449	fucose binding
GO:0045159	0.000428	7.757536	2.045540	myosin II binding
GO:0004084	0.000428	7.757536	2.143980	branched-chain-amino-acid transaminase activity
GO:0004517	0.000428	7.757536	2.367124	nitric-oxide synthase activity
GO:0016406	0.000428	7.757536	2.490447	carnitine O-acyltransferase activity
GO:0008199	0.000428	7.757536	2.538974	ferric iron binding
GO:0050291	0.000428	7.757536	2.595255	sphingosine N-acyltransferase activity
GO:0004738	0.000428	7.757536	2.716900	pyruvate dehydrogenase activity
GO:0001595	0.000428	7.757536	2.721295	angiotensin receptor activity
GO:0015142	0.000428	7.757536	3.186353	tricarboxylic acid transmembrane transporter activity
GO:0043546	0.000428	7.757536	3.336955	molybdopterin cofactor binding
GO:0004650	0.000428	7.757536	3.486355	polygalacturonase activity
GO:0055102	0.000428	7.757536	3.576084	lipase inhibitor activity
GO:0019215	0.000428	7.757536	4.426841	intermediate filament binding
GO:0001013	0.000428	7.757536	4.459759	RNA polymerase I regulatory region DNA binding
GO:0017154	0.000428	7.757536	4.470495	semaphorin receptor activity
GO:0010857	0.000428	7.757536	4.620387	calcium-dependent protein kinase activity
GO:0034987	0.000428	7.757536	4.894850	immunoglobulin receptor binding
GO:0050811	0.000428	7.757536	4.894850	GABA receptor binding
GO:0035197	0.000428	7.757536	4.997663	siRNA binding
GO:0008179	0.000428	7.757536	5.089241	adenylate cyclase binding
GO:0001846	0.000428	7.757536	6.574797	opsonin binding
GO:0004308	0.000399	7.826529	0.000000	exo-alpha-sialidase activity
GO:0004362	0.000399	7.826529	0.000000	glutathione-disulfide reductase activity
GO:0004534	0.000399	7.826529	0.000000	5'-3' exoribonuclease activity
GO:0008310	0.000399	7.826529	0.000000	single-stranded DNA 3'-5' exodeoxyribonuclease activity
GO:0008658	0.000399	7.826529	0.000000	penicillin binding
GO:0015226	0.000399	7.826529	0.000000	carnitine transmembrane transporter activity
GO:0016531	0.000399	7.826529	0.000000	copper chaperone activity
GO:0016907	0.000399	7.826529	0.000000	G-protein coupled acetylcholine receptor activity
GO:0019841	0.000399	7.826529	0.000000	retinol binding
GO:0050815	0.000399	7.826529	0.000000	phosphoserine binding
GO:0008381	0.000399	7.826529	0.068993	mechanically-gated ion channel activity
GO:0009931	0.000399	7.826529	0.068993	calcium-dependent protein serine/threonine kinase activity
GO:0004571	0.000399	7.826529	0.133531	mannosyl-oligosaccharide 1,2-alpha-mannosidase activity
GO:0008534	0.000399	7.826529	0.251314	oxidized purine nucleobase lesion DNA N-glycosylase activity
GO:0001132	0.000399	7.826529	0.356675	RNA polymerase II transcription factor activity, TBP-class protein binding
GO:0016731	0.000399	7.826529	0.356675	oxidoreductase activity, acting on iron-sulfur proteins as donors, NAD or NADP as acceptor
GO:0004938	0.000399	7.826529	0.451985	alpha2-adrenergic receptor activity
GO:0001640	0.000399	7.826529	0.496437	adenylate cyclase inhibiting G-protein coupled glutamate receptor activity
GO:0015106	0.000399	7.826529	0.496437	bicarbonate transmembrane transporter activity
GO:0001094	0.000399	7.826529	0.538997	TFIID-class transcription factor binding
GO:0008964	0.000399	7.826529	0.579818	phosphoenolpyruvate carboxylase activity
GO:0003997	0.000399	7.826529	0.656780	acyl-CoA oxidase activity
GO:0034713	0.000399	7.826529	0.794930	type I transforming growth factor beta receptor binding
GO:0008452	0.000399	7.826529	0.857450	RNA ligase activity
GO:0015321	0.000399	7.826529	0.944462	sodium-dependent phosphate transmembrane transporter activity
GO:0019781	0.000399	7.826529	0.944462	NEDD8 activating enzyme activity
GO:0035241	0.000399	7.826529	0.944462	protein-arginine omega-N monomethyltransferase activity
GO:0035242	0.000399	7.826529	0.944462	protein-arginine omega-N asymmetric methyltransferase activity
GO:0042937	0.000399	7.826529	0.998529	tripeptide transporter activity
GO:0015232	0.000399	7.826529	1.145132	heme transporter activity
GO:0003917	0.000399	7.826529	1.167605	DNA topoisomerase type I activity
GO:0004053	0.000399	7.826529	1.189584	arginase activity
GO:0016435	0.000399	7.826529	1.189584	rRNA (guanine) methyltransferase activity
GO:0004535	0.000399	7.826529	1.232144	poly(A)-specific ribonuclease activity
GO:0016427	0.000399	7.826529	1.272966	tRNA (cytosine) methyltransferase activity
GO:0052629	0.000399	7.826529	1.312186	phosphatidylinositol-3,5-bisphosphate 3-phosphatase activity
GO:0003978	0.000399	7.826529	1.471817	UDP-glucose 4-epimerase activity
GO:0008190	0.000399	7.826529	1.471817	eukaryotic initiation factor 4E binding
GO:0005149	0.000399	7.826529	1.595049	interleukin-1 receptor binding
GO:0005354	0.000399	7.826529	1.637609	galactose transmembrane transporter activity
GO:0046974	0.000399	7.826529	1.815290	histone methyltransferase activity (H3-K9 specific)
GO:0000009	0.000399	7.826529	1.849579	alpha-1,6-mannosyltransferase activity
GO:0070411	0.000399	7.826529	1.871802	I-SMAD binding
GO:0004779	0.000399	7.826529	1.935654	sulfate adenylyltransferase activity
GO:0005021	0.000399	7.826529	1.966113	vascular endothelial growth factor-activated receptor activity
GO:0070739	0.000399	7.826529	1.995672	protein-glutamic acid ligase activity
GO:0033691	0.000399	7.826529	2.014903	sialic acid binding
GO:0097153	0.000399	7.826529	2.114533	cysteine-type endopeptidase activity involved in apoptotic process
GO:0036122	0.000399	7.826529	2.123117	BMP binding
GO:0070324	0.000399	7.826529	2.323787	thyroid hormone binding
GO:0015087	0.000399	7.826529	2.364889	cobalt ion transmembrane transporter activity
GO:0048407	0.000399	7.826529	2.454693	platelet-derived growth factor binding
GO:0016412	0.000399	7.826529	2.559440	serine O-acyltransferase activity
GO:0016882	0.000399	7.826529	2.768114	cyclo-ligase activity
GO:0004977	0.000399	7.826529	2.790288	melanocortin receptor activity
GO:0004985	0.000399	7.826529	2.790288	opioid receptor activity
GO:0017040	0.000399	7.826529	2.886396	ceramidase activity
GO:0009927	0.000399	7.826529	3.249821	histidine phosphotransfer kinase activity
GO:0015928	0.000399	7.826529	3.555348	fucosidase activity
GO:0016997	0.000399	7.826529	3.555348	alpha-sialidase activity
GO:0046556	0.000399	7.826529	3.555348	alpha-L-arabinofuranosidase activity
GO:0005275	0.000399	7.826529	3.771118	amine transmembrane transporter activity
GO:0004679	0.000399	7.826529	4.201489	AMP-activated protein kinase activity
GO:0030151	0.000399	7.826529	4.325078	molybdenum ion binding
GO:0031432	0.000399	7.826529	4.361277	titin binding
GO:0010385	0.000399	7.826529	4.470005	double-stranded methylated DNA binding
GO:0001130	0.000399	7.826529	4.822583	bacterial-type RNA polymerase transcription factor activity, sequence-specific DNA binding
GO:0003951	0.000399	7.826529	4.904746	NAD+ kinase activity
GO:0005186	0.000399	7.826529	4.963843	pheromone activity
GO:0033130	0.000399	7.826529	4.963843	acetylcholine receptor binding
GO:0042043	0.000399	7.826529	4.963843	neurexin family protein binding
GO:0031996	0.000399	7.826529	5.158234	thioesterase binding
GO:0042927	0.000399	7.826529	5.311798	siderophore transporter activity
GO:0042123	0.000399	7.826529	6.089693	glucanosyltransferase activity
GO:0043008	0.000399	7.826529	6.643790	ATP-dependent protein binding
GO:0043560	0.000399	7.826529	6.643790	insulin receptor substrate binding
GO:0046790	0.000399	7.826529	7.194115	virion binding
GO:0046812	0.000399	7.826529	7.194115	host cell surface binding
GO:0003985	0.000371	7.900637	0.000000	acetyl-CoA C-acetyltransferase activity
GO:0004176	0.000371	7.900637	0.000000	ATP-dependent peptidase activity
GO:0008020	0.000371	7.900637	0.000000	G-protein coupled photoreceptor activity
GO:0015386	0.000371	7.900637	0.000000	potassium:proton antiporter activity
GO:0035240	0.000371	7.900637	0.000000	dopamine binding
GO:0042124	0.000371	7.900637	0.074108	1,3-beta-glucanosyltransferase activity
GO:0001162	0.000371	7.900637	0.143101	RNA polymerase II intronic transcription regulatory region sequence-specific DNA binding
GO:0001163	0.000371	7.900637	0.143101	RNA polymerase I regulatory region sequence-specific DNA binding
GO:0004459	0.000371	7.900637	0.143101	L-lactate dehydrogenase activity
GO:0033765	0.000371	7.900637	0.143101	steroid dehydrogenase activity, acting on the CH-CH group of donors
GO:0061665	0.000371	7.900637	0.143101	SUMO ligase activity
GO:0015440	0.000371	7.900637	0.207639	peptide-transporting ATPase activity
GO:0015489	0.000371	7.900637	0.268264	putrescine transmembrane transporter activity
GO:0004555	0.000371	7.900637	0.325422	alpha,alpha-trehalase activity
GO:0043522	0.000371	7.900637	0.430783	leucine zipper domain binding
GO:0005432	0.000371	7.900637	0.479573	calcium:sodium antiporter activity
GO:0008821	0.000371	7.900637	0.479573	crossover junction endodeoxyribonuclease activity
GO:0004108	0.000371	7.900637	0.526093	citrate (Si)-synthase activity
GO:0005223	0.000371	7.900637	0.526093	intracellular cGMP activated cation channel activity
GO:0019957	0.000371	7.900637	0.526093	C-C chemokine binding
GO:0048039	0.000371	7.900637	0.526093	ubiquinone binding
GO:0005459	0.000371	7.900637	0.570545	UDP-galactose transmembrane transporter activity
GO:0005324	0.000371	7.900637	0.613104	long-chain fatty acid transporter activity
GO:0035174	0.000371	7.900637	0.653926	histone serine kinase activity
GO:0004128	0.000371	7.900637	0.693147	cytochrome-b5 reductase activity, acting on NAD(P)H
GO:0031177	0.000371	7.900637	0.730888	phosphopantetheine binding
GO:0008184	0.000371	7.900637	0.767255	glycogen phosphorylase activity
GO:0015141	0.000371	7.900637	0.767255	succinate transmembrane transporter activity
GO:0019798	0.000371	7.900637	0.767255	procollagen-proline dioxygenase activity
GO:0030060	0.000371	7.900637	0.767255	L-malate dehydrogenase activity
GO:0031994	0.000371	7.900637	0.767255	insulin-like growth factor I binding
GO:0016174	0.000371	7.900637	0.869038	NAD(P)H oxidase activity
GO:0046920	0.000371	7.900637	0.900787	alpha-(1->3)-fucosyltransferase activity
GO:0016728	0.000371	7.900637	0.990399	oxidoreductase activity, acting on CH or CH2 groups, disulfide as acceptor
GO:0015467	0.000371	7.900637	1.148623	G-protein activated inward rectifier potassium channel activity
GO:0030620	0.000371	7.900637	1.148623	U2 snRNA binding
GO:0051139	0.000371	7.900637	1.219240	metal ion:proton antiporter activity
GO:0008940	0.000371	7.900637	1.285198	nitrate reductase activity
GO:0003708	0.000371	7.900637	1.306252	retinoic acid receptor activity
GO:0016909	0.000371	7.900637	1.442384	SAP kinase activity
GO:0004111	0.000371	7.900637	1.562185	creatine kinase activity
GO:0003955	0.000371	7.900637	1.578185	NAD(P)H dehydrogenase (quinone) activity
GO:0004347	0.000371	7.900637	1.609438	glucose-6-phosphate isomerase activity
GO:0005452	0.000371	7.900637	1.697731	inorganic anion exchanger activity
GO:0016933	0.000371	7.900637	1.841770	extracellular-glycine-gated ion channel activity
GO:0032027	0.000371	7.900637	2.188641	myosin light chain binding
GO:0016708	0.000371	7.900637	2.263364	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of two atoms of oxygen into one donor
GO:0004723	0.000371	7.900637	2.340325	calcium-dependent protein serine/threonine phosphatase activity
GO:0030346	0.000371	7.900637	2.547038	protein phosphatase 2B binding
GO:0004366	0.000371	7.900637	2.633548	glycerol-3-phosphate O-acyltransferase activity
GO:0016669	0.000371	7.900637	2.877468	oxidoreductase activity, acting on a sulfur group of donors, cytochrome as acceptor
GO:0017034	0.000371	7.900637	2.991879	Rap guanyl-nucleotide exchange factor activity
GO:0019172	0.000371	7.900637	3.225011	glyoxalase III activity
GO:0004392	0.000371	7.900637	3.659609	heme oxygenase (decyclizing) activity
GO:0016901	0.000371	7.900637	3.835308	oxidoreductase activity, acting on the CH-OH group of donors, quinone or similar compound as acceptor
GO:0045125	0.000371	7.900637	3.937841	bioactive lipid receptor activity
GO:0004647	0.000371	7.900637	4.010126	phosphoserine phosphatase activity
GO:0051400	0.000371	7.900637	4.103279	BH domain binding
GO:0070016	0.000371	7.900637	4.103279	armadillo repeat domain binding
GO:0004694	0.000371	7.900637	4.275597	eukaryotic translation initiation factor 2alpha kinase activity
GO:0003696	0.000371	7.900637	4.355722	satellite DNA binding
GO:0031683	0.000371	7.900637	4.569941	G-protein beta/gamma-subunit complex binding
GO:0010851	0.000371	7.900637	4.677849	cyclase regulator activity
GO:0030235	0.000371	7.900637	4.677849	nitric-oxide synthase regulator activity
GO:0042979	0.000371	7.900637	4.677849	ornithine decarboxylase regulator activity
GO:0050072	0.000371	7.900637	4.680706	m7G(5')pppN diphosphatase activity
GO:0035325	0.000371	7.900637	5.037951	Toll-like receptor binding
GO:0016015	0.000371	7.900637	7.900637	morphogen activity
GO:0045499	0.000371	7.900637	7.900637	chemorepellent activity
GO:0004748	0.000342	7.980679	0.000000	ribonucleoside-diphosphate reductase activity, thioredoxin disulfide as acceptor
GO:0005436	0.000342	7.980679	0.000000	sodium:phosphate symporter activity
GO:0016416	0.000342	7.980679	0.000000	O-palmitoyltransferase activity
GO:0016749	0.000342	7.980679	0.000000	N-succinyltransferase activity
GO:0033592	0.000342	7.980679	0.000000	RNA strand annealing activity
GO:0050542	0.000342	7.980679	0.000000	icosanoid binding
GO:0030249	0.000342	7.980679	0.080043	guanylate cyclase regulator activity
GO:0042879	0.000342	7.980679	0.080043	aldonate transmembrane transporter activity
GO:0061731	0.000342	7.980679	0.080043	ribonucleoside-diphosphate reductase activity
GO:0001129	0.000342	7.980679	0.154151	RNA polymerase II transcription factor activity, TBP-class protein binding, involved in preinitiation complex assembly
GO:0001609	0.000342	7.980679	0.287682	G-protein coupled adenosine receptor activity
GO:0032052	0.000342	7.980679	0.287682	bile acid binding
GO:0070006	0.000342	7.980679	0.348307	metalloaminopeptidase activity
GO:0008934	0.000342	7.980679	0.405465	inositol monophosphate 1-phosphatase activity
GO:0003910	0.000342	7.980679	0.459532	DNA ligase (ATP) activity
GO:0016018	0.000342	7.980679	0.459532	cyclosporin A binding
GO:0001591	0.000342	7.980679	0.559616	dopamine neurotransmitter receptor activity, coupled via Gi/Go
GO:0003989	0.000342	7.980679	0.559616	acetyl-CoA carboxylase activity
GO:0004301	0.000342	7.980679	0.606136	epoxide hydrolase activity
GO:0050543	0.000342	7.980679	0.650588	icosatetraenoic acid binding
GO:0035184	0.000342	7.980679	0.733969	histone threonine kinase activity
GO:0003958	0.000342	7.980679	0.773190	NADPH-hemoprotein reductase activity
GO:0004352	0.000342	7.980679	0.847298	glutamate dehydrogenase (NAD+) activity
GO:0047580	0.000342	7.980679	0.847298	4-hydroxyproline epimerase activity
GO:0035438	0.000342	7.980679	0.916291	cyclic-di-GMP binding
GO:0008569	0.000342	7.980679	0.949081	ATP-dependent microtubule motor activity, minus-end-directed
GO:0043813	0.000342	7.980679	0.949081	phosphatidylinositol-3,5-bisphosphate 5-phosphatase activity
GO:0003984	0.000342	7.980679	1.041454	acetolactate synthase activity
GO:0004170	0.000342	7.980679	1.070441	dUTP diphosphatase activity
GO:0004372	0.000342	7.980679	1.070441	glycine hydroxymethyltransferase activity
GO:0016726	0.000342	7.980679	1.070441	oxidoreductase activity, acting on CH or CH2 groups, NAD or NADP as acceptor
GO:0005363	0.000342	7.980679	1.126011	maltose transmembrane transporter activity
GO:0003987	0.000342	7.980679	1.152680	acetate-CoA ligase activity
GO:0004774	0.000342	7.980679	1.152680	succinate-CoA ligase activity
GO:0003941	0.000342	7.980679	1.178655	L-serine ammonia-lyase activity
GO:0004415	0.000342	7.980679	1.203973	hyalurononglucosaminidase activity
GO:0036312	0.000342	7.980679	1.203973	phosphatidylinositol 3-kinase regulatory subunit binding
GO:0008800	0.000342	7.980679	1.228665	beta-lactamase activity
GO:0003828	0.000342	7.980679	1.252763	alpha-N-acetylneuraminate alpha-2,8-sialyltransferase activity
GO:0051185	0.000342	7.980679	1.299283	coenzyme transporter activity
GO:0004165	0.000342	7.980679	1.321756	dodecenoyl-CoA delta-isomerase activity
GO:0034046	0.000342	7.980679	1.321756	poly(G) binding
GO:0004668	0.000342	7.980679	1.343735	protein-arginine deiminase activity
GO:0016436	0.000342	7.980679	1.343735	rRNA (uridine) methyltransferase activity
GO:0004865	0.000342	7.980679	1.365241	protein serine/threonine phosphatase inhibitor activity
GO:0004887	0.000342	7.980679	1.386294	thyroid hormone receptor activity
GO:0005350	0.000342	7.980679	1.427116	pyrimidine nucleobase transmembrane transporter activity
GO:0016312	0.000342	7.980679	1.427116	inositol bisphosphate phosphatase activity
GO:0016426	0.000342	7.980679	1.427116	tRNA (adenine) methyltransferase activity
GO:0052743	0.000342	7.980679	1.427116	inositol tetrakisphosphate phosphatase activity
GO:0004465	0.000342	7.980679	1.466337	lipoprotein lipase activity
GO:0003810	0.000342	7.980679	1.558145	protein-glutamine gamma-glutamyltransferase activity
GO:0004315	0.000342	7.980679	1.642228	3-oxoacyl-[acyl-carrier-protein] synthase activity
GO:0008113	0.000342	7.980679	1.658228	peptide-methionine (S)-S-oxide reductase activity
GO:0004807	0.000342	7.980679	1.689481	triose-phosphate isomerase activity
GO:0004994	0.000342	7.980679	1.777773	somatostatin receptor activity
GO:0015086	0.000342	7.980679	1.805553	cadmium ion transmembrane transporter activity
GO:0016262	0.000342	7.980679	1.832581	protein N-acetylglucosaminyltransferase activity
GO:0000822	0.000342	7.980679	1.909543	inositol hexakisphosphate binding
GO:0070679	0.000342	7.980679	1.909543	inositol 1,4,5 trisphosphate binding
GO:0045236	0.000342	7.980679	1.969441	CXCR chemokine receptor binding
GO:0004376	0.000342	7.980679	2.003730	glycolipid mannosyltransferase activity
GO:0019187	0.000342	7.980679	2.003730	beta-1,4-mannosyltransferase activity
GO:0002094	0.000342	7.980679	2.036882	polyprenyltransferase activity
GO:0070733	0.000342	7.980679	2.089804	protein adenylyltransferase activity
GO:0004767	0.000342	7.980679	2.130214	sphingomyelin phosphodiesterase activity
GO:0008477	0.000342	7.980679	2.140066	purine nucleosidase activity
GO:0042134	0.000342	7.980679	2.159484	rRNA primary transcript binding
GO:0004052	0.000342	7.980679	2.215574	arachidonate 12-lipoxygenase activity
GO:0016165	0.000342	7.980679	2.215574	linoleate 13S-lipoxygenase activity
GO:0019139	0.000342	7.980679	2.310884	cytokinin dehydrogenase activity
GO:0070548	0.000342	7.980679	2.367124	L-glutamine aminotransferase activity
GO:0015616	0.000342	7.980679	2.538974	DNA translocase activity
GO:0001758	0.000342	7.980679	2.608844	retinal dehydrogenase activity
GO:0004028	0.000342	7.980679	2.608844	3-chloroallyl aldehyde dehydrogenase activity
GO:0004014	0.000342	7.980679	2.713590	adenosylmethionine decarboxylase activity
GO:0004351	0.000342	7.980679	2.713590	glutamate decarboxylase activity
GO:0004609	0.000342	7.980679	2.713590	phosphatidylserine decarboxylase activity
GO:0016623	0.000342	7.980679	2.940043	oxidoreductase activity, acting on the aldehyde or oxo group of donors, oxygen as acceptor
GO:0018492	0.000342	7.980679	2.940043	carbon-monoxide dehydrogenase (acceptor) activity
GO:0016672	0.000342	7.980679	2.957511	oxidoreductase activity, acting on a sulfur group of donors, quinone or similar compound as acceptor
GO:0032296	0.000342	7.980679	3.008155	double-stranded RNA-specific ribonuclease activity
GO:0005072	0.000342	7.980679	3.178054	transforming growth factor beta receptor, cytoplasmic mediator activity
GO:0004478	0.000342	7.980679	3.181520	methionine adenosyltransferase activity
GO:0003938	0.000342	7.980679	3.793615	IMP dehydrogenase activity
GO:0003979	0.000342	7.980679	3.793615	UDP-glucose 6-dehydrogenase activity
GO:0004090	0.000342	7.980679	3.793615	carbonyl reductase (NADPH) activity
GO:0042083	0.000342	7.980679	3.878121	5,10-methylenetetrahydrofolate-dependent methyltransferase activity
GO:0051192	0.000342	7.980679	3.974998	prosthetic group binding
GO:0098518	0.000342	7.980679	4.090169	polynucleotide phosphatase activity
GO:0001884	0.000342	7.980679	4.431808	pyrimidine nucleoside binding
GO:0032552	0.000342	7.980679	4.546835	deoxyribonucleotide binding
GO:0051765	0.000342	7.980679	5.058896	inositol tetrakisphosphate kinase activity
GO:0005113	0.000342	7.980679	5.117994	patched binding
GO:0050786	0.000342	7.980679	5.117994	RAGE receptor binding
GO:0035613	0.000342	7.980679	5.220806	RNA stem-loop binding
GO:0080161	0.000342	7.980679	5.235999	auxin transmembrane transporter activity
GO:1901567	0.000342	7.980679	7.348266	fatty acid derivative binding
GO:0000036	0.000314	8.067691	0.000000	ACP phosphopantetheine attachment site binding involved in fatty acid biosynthetic process
GO:0001164	0.000314	8.067691	0.000000	RNA polymerase I CORE element sequence-specific DNA binding
GO:0004346	0.000314	8.067691	0.000000	glucose-6-phosphatase activity
GO:0005290	0.000314	8.067691	0.000000	L-histidine transmembrane transporter activity
GO:0005471	0.000314	8.067691	0.000000	ATP:ADP antiporter activity
GO:0016934	0.000314	8.067691	0.000000	extracellular-glycine-gated chloride channel activity
GO:0022840	0.000314	8.067691	0.000000	leak channel activity
GO:0030250	0.000314	8.067691	0.000000	guanylate cyclase activator activity
GO:0050544	0.000314	8.067691	0.000000	arachidonic acid binding
GO:0072542	0.000314	8.067691	0.000000	protein phosphatase activator activity
GO:0004031	0.000314	8.067691	0.087011	aldehyde oxidase activity
GO:0004318	0.000314	8.067691	0.087011	enoyl-[acyl-carrier-protein] reductase (NADH) activity
GO:0004739	0.000314	8.067691	0.087011	pyruvate dehydrogenase (acetyl-transferring) activity
GO:0004775	0.000314	8.067691	0.087011	succinate-CoA ligase (ADP-forming) activity
GO:0004799	0.000314	8.067691	0.087011	thymidylate synthase activity
GO:0015184	0.000314	8.067691	0.087011	L-cystine transmembrane transporter activity
GO:0044620	0.000314	8.067691	0.087011	ACP phosphopantetheine attachment site binding
GO:0051864	0.000314	8.067691	0.087011	histone demethylase activity (H3-K36 specific)
GO:0004705	0.000314	8.067691	0.167054	JUN kinase activity
GO:0010853	0.000314	8.067691	0.167054	cyclase activator activity
GO:0000772	0.000314	8.067691	0.241162	mating pheromone activity
GO:0004560	0.000314	8.067691	0.241162	alpha-L-fucosidase activity
GO:0004781	0.000314	8.067691	0.241162	sulfate adenylyltransferase (ATP) activity
GO:0001133	0.000314	8.067691	0.310155	RNA polymerase II transcription factor activity, sequence-specific transcription regulatory region DNA binding
GO:0015137	0.000314	8.067691	0.310155	citrate transmembrane transporter activity
GO:0008392	0.000314	8.067691	0.374693	arachidonic acid epoxygenase activity
GO:0048019	0.000314	8.067691	0.374693	receptor antagonist activity
GO:0003934	0.000314	8.067691	0.435318	GTP cyclohydrolase I activity
GO:0036310	0.000314	8.067691	0.435318	annealing helicase activity
GO:0016972	0.000314	8.067691	0.492476	thiol oxidase activity
GO:0031493	0.000314	8.067691	0.492476	nucleosomal histone binding
GO:0048030	0.000314	8.067691	0.546544	disaccharide binding
GO:0003880	0.000314	8.067691	0.597837	protein C-terminal carboxyl O-methyltransferase activity
GO:0004449	0.000314	8.067691	0.597837	isocitrate dehydrogenase (NAD+) activity
GO:0016985	0.000314	8.067691	0.597837	mannan endo-1,4-beta-mannosidase activity
GO:0016767	0.000314	8.067691	0.646627	geranylgeranyl-diphosphate geranylgeranyltransferase activity
GO:0015140	0.000314	8.067691	0.934309	malate transmembrane transporter activity
GO:0043559	0.000314	8.067691	0.934309	insulin binding
GO:0005114	0.000314	8.067691	1.036092	type II transforming growth factor beta receptor binding
GO:0098505	0.000314	8.067691	1.036092	G-rich strand telomeric DNA binding
GO:0051371	0.000314	8.067691	1.067841	muscle alpha-actinin binding
GO:0046933	0.000314	8.067691	1.128465	proton-transporting ATP synthase activity, rotational mechanism
GO:0015088	0.000314	8.067691	1.157453	copper uptake transmembrane transporter activity
GO:0050265	0.000314	8.067691	1.157453	RNA uridylyltransferase activity
GO:0004557	0.000314	8.067691	1.239691	alpha-galactosidase activity
GO:0052650	0.000314	8.067691	1.452252	NADP-retinol dehydrogenase activity
GO:0098809	0.000314	8.067691	1.452252	nitrite reductase activity
GO:0004331	0.000314	8.067691	1.514128	fructose-2,6-bisphosphate 2-phosphatase activity
GO:0050309	0.000314	8.067691	1.514128	sugar-terminal-phosphatase activity
GO:0050440	0.000314	8.067691	1.553348	2-methylcitrate synthase activity
GO:0003831	0.000314	8.067691	1.572397	beta-N-acetylglucosaminylglycopeptide beta-1,4-galactosyltransferase activity
GO:0009041	0.000314	8.067691	1.572397	uridylate kinase activity
GO:0033041	0.000314	8.067691	1.572397	sweet taste receptor activity
GO:0004338	0.000314	8.067691	1.679642	glucan exo-1,3-beta-glucosidase activity
GO:0042973	0.000314	8.067691	1.679642	glucan endo-1,3-beta-D-glucosidase activity
GO:0019826	0.000314	8.067691	1.745239	oxygen sensor activity
GO:0004451	0.000314	8.067691	1.760988	isocitrate lyase activity
GO:0004983	0.000314	8.067691	1.864785	neuropeptide Y receptor activity
GO:0004169	0.000314	8.067691	2.090741	dolichyl-phosphate-mannose-protein mannosyltransferase activity
GO:0030572	0.000314	8.067691	2.112964	phosphatidyltransferase activity
GO:0070410	0.000314	8.067691	2.112964	co-SMAD binding
GO:0004161	0.000314	8.067691	2.123893	dimethylallyltranstransferase activity
GO:0010283	0.000314	8.067691	2.293453	pinoresinol reductase activity
GO:0009378	0.000314	8.067691	2.320604	four-way junction helicase activity
GO:0002162	0.000314	8.067691	2.454135	dystroglycan binding
GO:0004726	0.000314	8.067691	2.499945	non-membrane spanning protein tyrosine phosphatase activity
GO:0004060	0.000314	8.067691	2.651961	arylamine N-acetyltransferase activity
GO:0003999	0.000314	8.067691	2.708050	adenine phosphoribosyltransferase activity
GO:0051880	0.000314	8.067691	2.755396	G-quadruplex DNA binding
GO:0004772	0.000314	8.067691	2.800602	sterol O-acyltransferase activity
GO:0050497	0.000314	8.067691	2.806111	transferase activity, transferring alkylthio groups
GO:0016869	0.000314	8.067691	2.817040	intramolecular transferase activity, transferring amino groups
GO:0004359	0.000314	8.067691	3.127558	glutaminase activity
GO:0086080	0.000314	8.067691	3.271986	protein binding involved in heterotypic cell-cell adhesion
GO:0003913	0.000314	8.067691	3.373546	DNA photolyase activity
GO:0047929	0.000314	8.067691	3.392065	gluconate dehydratase activity
GO:0042923	0.000314	8.067691	3.410247	neuropeptide binding
GO:0031701	0.000314	8.067691	3.448544	angiotensin receptor binding
GO:0030599	0.000314	8.067691	3.493749	pectinesterase activity
GO:0030600	0.000314	8.067691	3.493749	feruloyl esterase activity
GO:0034338	0.000314	8.067691	3.493749	short-chain carboxylesterase activity
GO:0045551	0.000314	8.067691	3.880626	cinnamyl-alcohol dehydrogenase activity
GO:0008428	0.000314	8.067691	3.886239	ribonuclease inhibitor activity
GO:0003844	0.000314	8.067691	4.082149	1,4-alpha-glucan branching enzyme activity
GO:0030274	0.000314	8.067691	4.270333	LIM domain binding
GO:0070513	0.000314	8.067691	4.270333	death domain binding
GO:0022842	0.000314	8.067691	4.328338	narrow pore channel activity
GO:0004325	0.000314	8.067691	4.565295	ferrochelatase activity
GO:0071933	0.000314	8.067691	4.736996	Arp2/3 complex binding
GO:0035497	0.000314	8.067691	4.769914	cAMP response element binding
GO:0047631	0.000314	8.067691	4.847760	ADP-ribose diphosphatase activity
GO:0008312	0.000314	8.067691	5.307818	7S RNA binding
GO:0034584	0.000314	8.067691	5.307818	piRNA binding
GO:0039706	0.000314	8.067691	6.884952	co-receptor binding
GO:0097602	0.000314	8.067691	6.884952	cullin family protein binding
GO:0070283	0.000314	8.067691	7.300902	radical SAM enzyme activity
GO:0000257	0.000285	8.163001	0.000000	nitrilase activity
GO:0004656	0.000285	8.163001	0.000000	procollagen-proline 4-dioxygenase activity
GO:0004698	0.000285	8.163001	0.000000	calcium-dependent protein kinase C activity
GO:0008073	0.000285	8.163001	0.000000	ornithine decarboxylase inhibitor activity
GO:0009001	0.000285	8.163001	0.000000	serine O-acetyltransferase activity
GO:0009977	0.000285	8.163001	0.000000	proton motive force dependent protein transmembrane transporter activity
GO:0015180	0.000285	8.163001	0.000000	L-alanine transmembrane transporter activity
GO:0015343	0.000285	8.163001	0.000000	siderophore transmembrane transporter activity
GO:0015369	0.000285	8.163001	0.000000	calcium:proton antiporter activity
GO:0019869	0.000285	8.163001	0.000000	chloride channel inhibitor activity
GO:0022841	0.000285	8.163001	0.000000	potassium ion leak channel activity
GO:0030598	0.000285	8.163001	0.000000	rRNA N-glycosylase activity
GO:0032554	0.000285	8.163001	0.000000	purine deoxyribonucleotide binding
GO:0032557	0.000285	8.163001	0.000000	pyrimidine ribonucleotide binding
GO:0061133	0.000285	8.163001	0.000000	endopeptidase activator activity
GO:0071916	0.000285	8.163001	0.000000	dipeptide transmembrane transporter activity
GO:0004525	0.000285	8.163001	0.095310	ribonuclease III activity
GO:0008506	0.000285	8.163001	0.095310	sucrose:proton symporter activity
GO:0017017	0.000285	8.163001	0.095310	MAP kinase tyrosine/serine/threonine phosphatase activity
GO:0032551	0.000285	8.163001	0.095310	pyrimidine ribonucleoside binding
GO:0043141	0.000285	8.163001	0.095310	ATP-dependent 5'-3' DNA helicase activity
GO:0043208	0.000285	8.163001	0.095310	glycosphingolipid binding
GO:0003870	0.000285	8.163001	0.182322	5-aminolevulinate synthase activity
GO:0015183	0.000285	8.163001	0.182322	L-aspartate transmembrane transporter activity
GO:0015266	0.000285	8.163001	0.182322	protein channel activity
GO:0003972	0.000285	8.163001	0.336472	RNA ligase (ATP) activity
GO:0070740	0.000285	8.163001	0.336472	tubulin-glutamic acid ligase activity
GO:0004859	0.000285	8.163001	0.405465	phospholipase inhibitor activity
GO:0015151	0.000285	8.163001	0.470004	alpha-glucoside transmembrane transporter activity
GO:0046592	0.000285	8.163001	0.470004	polyamine oxidase activity
GO:0048406	0.000285	8.163001	0.470004	nerve growth factor binding
GO:0097027	0.000285	8.163001	0.470004	ubiquitin-protein transferase activator activity
GO:0000703	0.000285	8.163001	0.587787	oxidized pyrimidine nucleobase lesion DNA N-glycosylase activity
GO:0004505	0.000285	8.163001	0.587787	phenylalanine 4-monooxygenase activity
GO:0008440	0.000285	8.163001	0.587787	inositol-1,4,5-trisphosphate 3-kinase activity
GO:0004152	0.000285	8.163001	0.641854	dihydroorotate dehydrogenase activity
GO:0004512	0.000285	8.163001	0.693147	inositol-3-phosphate synthase activity
GO:0004585	0.000285	8.163001	0.693147	ornithine carbamoyltransferase activity
GO:0032135	0.000285	8.163001	0.741937	DNA insertion or deletion binding
GO:0051731	0.000285	8.163001	0.741937	polynucleotide 5'-hydroxyl-kinase activity
GO:0004445	0.000285	8.163001	0.832909	inositol-polyphosphate 5-phosphatase activity
GO:0005005	0.000285	8.163001	0.832909	transmembrane-ephrin receptor activity
GO:0047144	0.000285	8.163001	0.832909	2-acylglycerol-3-phosphate O-acyltransferase activity
GO:0009019	0.000285	8.163001	0.875469	tRNA (guanine-N1-)-methyltransferase activity
GO:0031698	0.000285	8.163001	0.916291	beta-2 adrenergic receptor binding
GO:0008192	0.000285	8.163001	0.955511	RNA guanylyltransferase activity
GO:0008905	0.000285	8.163001	0.955511	mannose-phosphate guanylyltransferase activity
GO:0004974	0.000285	8.163001	1.029619	leukotriene receptor activity
GO:0004382	0.000285	8.163001	1.098612	guanosine-diphosphatase activity
GO:0004605	0.000285	8.163001	1.098612	phosphatidate cytidylyltransferase activity
GO:0045134	0.000285	8.163001	1.098612	uridine-diphosphatase activity
GO:0000285	0.000285	8.163001	1.131402	1-phosphatidylinositol-3-phosphate 5-kinase activity
GO:0004088	0.000285	8.163001	1.131402	carbamoyl-phosphate synthase (glutamine-hydrolyzing) activity
GO:0036080	0.000285	8.163001	1.163151	purine nucleotide-sugar transmembrane transporter activity
GO:0004802	0.000285	8.163001	1.223775	transketolase activity
GO:0042289	0.000285	8.163001	1.223775	MHC class II protein binding
GO:0000405	0.000285	8.163001	1.252763	bubble DNA binding
GO:0019864	0.000285	8.163001	1.252763	IgG binding
GO:0008441	0.000285	8.163001	1.280934	3'(2'),5'-bisphosphate nucleotidase activity
GO:0017002	0.000285	8.163001	1.335001	activin-activated receptor activity
GO:0047035	0.000285	8.163001	1.458615	testosterone dehydrogenase (NAD+) activity
GO:0008240	0.000285	8.163001	1.481605	tripeptidyl-peptidase activity
GO:0045505	0.000285	8.163001	1.568616	dynein intermediate chain binding
GO:0051959	0.000285	8.163001	1.568616	dynein light intermediate chain binding
GO:0008294	0.000285	8.163001	1.609438	calcium- and calmodulin-responsive adenylate cyclase activity
GO:0004474	0.000285	8.163001	1.648659	malate synthase activity
GO:0004148	0.000285	8.163001	1.667707	dihydrolipoyl dehydrogenase activity
GO:0003846	0.000285	8.163001	1.686399	2-acylglycerol O-acyltransferase activity
GO:0001872	0.000285	8.163001	1.740466	(1->3)-beta-D-glucan binding
GO:0003884	0.000285	8.163001	1.740466	D-amino-acid oxidase activity
GO:0000268	0.000285	8.163001	1.757858	peroxisome targeting sequence binding
GO:0016300	0.000285	8.163001	1.824549	tRNA (uracil) methyltransferase activity
GO:0033743	0.000285	8.163001	1.840550	peptide-methionine (R)-S-oxide reductase activity
GO:0033300	0.000285	8.163001	1.856298	dehydroascorbic acid transporter activity
GO:0004476	0.000285	8.163001	1.871802	mannose-6-phosphate isomerase activity
GO:0016847	0.000285	8.163001	1.887070	1-aminocyclopropane-1-carboxylate synthase activity
GO:0080146	0.000285	8.163001	1.887070	L-cysteine desulfhydrase activity
GO:0004995	0.000285	8.163001	1.960095	tachykinin receptor activity
GO:0022858	0.000285	8.163001	1.974081	alanine transmembrane transporter activity
GO:0035514	0.000285	8.163001	2.151762	DNA demethylase activity
GO:0004416	0.000285	8.163001	2.230014	hydroxyacylglutathione hydrolase activity
GO:0001730	0.000285	8.163001	2.272126	2'-5'-oligoadenylate synthetase activity
GO:0004969	0.000285	8.163001	2.292535	histamine receptor activity
GO:0005007	0.000285	8.163001	2.302585	fibroblast growth factor-activated receptor activity
GO:0030597	0.000285	8.163001	2.322388	RNA glycosylase activity
GO:0010436	0.000285	8.163001	2.397895	carotenoid dioxygenase activity
GO:0004657	0.000285	8.163001	2.493205	proline dehydrogenase activity
GO:0004373	0.000285	8.163001	2.587764	glycogen (starch) synthase activity
GO:0008420	0.000285	8.163001	2.602690	CTD phosphatase activity
GO:0015099	0.000285	8.163001	2.701361	nickel cation transmembrane transporter activity
GO:0019784	0.000285	8.163001	2.734368	NEDD8-specific protease activity
GO:0004468	0.000285	8.163001	2.747271	lysine N-acetyltransferase activity, acting on acetyl phosphate as donor
GO:0034069	0.000285	8.163001	2.747271	aminoglycoside N-acetyltransferase activity
GO:0004422	0.000285	8.163001	2.803360	hypoxanthine phosphoribosyltransferase activity
GO:0004731	0.000285	8.163001	2.803360	purine-nucleoside phosphorylase activity
GO:1904264	0.000285	8.163001	2.879198	ubiquitin protein ligase activity involved in ERAD pathway
GO:0047184	0.000285	8.163001	2.895912	1-acylglycerophosphocholine O-acyltransferase activity
GO:0050486	0.000285	8.163001	2.912351	intramolecular transferase activity, transferring hydroxy groups
GO:0004771	0.000285	8.163001	2.917771	sterol esterase activity
GO:0016652	0.000285	8.163001	3.034953	oxidoreductase activity, acting on NAD(P)H, NAD(P) as acceptor
GO:0016657	0.000285	8.163001	3.034953	oxidoreductase activity, acting on NAD(P)H, nitrogenous group as acceptor
GO:0004019	0.000285	8.163001	3.104587	adenylosuccinate synthase activity
GO:0004982	0.000285	8.163001	3.126761	N-formyl peptide receptor activity
GO:0005000	0.000285	8.163001	3.126761	vasopressin receptor activity
GO:0097642	0.000285	8.163001	3.126761	calcitonin family receptor activity
GO:0004046	0.000285	8.163001	3.222868	aminoacylase activity
GO:0008745	0.000285	8.163001	3.222868	N-acetylmuramoyl-L-alanine amidase activity
GO:0051011	0.000285	8.163001	3.250374	microtubule minus-end binding
GO:0005087	0.000285	8.163001	3.254243	Ran guanyl-nucleotide exchange factor activity
GO:0010487	0.000285	8.163001	3.363842	thermospermine synthase activity
GO:0016716	0.000285	8.163001	3.363842	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, another compound as one donor, and incorporation of one atom of oxygen
GO:0005148	0.000285	8.163001	3.437208	prolactin receptor binding
GO:0003855	0.000285	8.163001	3.487375	3-dehydroquinate dehydratase activity
GO:0018812	0.000285	8.163001	3.487375	3-hydroxyacyl-CoA dehydratase activity
GO:0004064	0.000285	8.163001	3.589059	arylesterase activity
GO:0004104	0.000285	8.163001	3.589059	cholinesterase activity
GO:0016815	0.000285	8.163001	3.822098	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in nitriles
GO:0004367	0.000285	8.163001	3.975936	glycerol-3-phosphate dehydrogenase [NAD+] activity
GO:0019788	0.000285	8.163001	4.085976	NEDD8 transferase activity
GO:0016415	0.000285	8.163001	4.177459	octanoyltransferase activity
GO:0001608	0.000285	8.163001	4.200205	G-protein coupled nucleotide receptor activity
GO:0030957	0.000285	8.163001	4.489759	Tat protein binding
GO:0010997	0.000285	8.163001	4.832306	anaphase-promoting complex binding
GO:0035612	0.000285	8.163001	4.832306	AP-2 adaptor complex binding
GO:0005034	0.000285	8.163001	4.875960	osmosensor activity
GO:0008046	0.000285	8.163001	4.875960	axon guidance receptor activity
GO:0004740	0.000285	8.163001	5.025852	pyruvate dehydrogenase (acetyl-transferring) kinase activity
GO:0005030	0.000285	8.163001	5.027820	neurotrophin receptor activity
GO:0004020	0.000285	8.163001	5.241218	adenylylsulfate kinase activity
GO:0097109	0.000285	8.163001	5.300315	neuroligin family protein binding
GO:1990459	0.000285	8.163001	5.300315	transferrin receptor binding
GO:0001727	0.000285	8.163001	5.362231	lipid kinase activity
GO:0017050	0.000285	8.163001	5.362231	D-erythro-sphingosine kinase activity
GO:1990247	0.000285	8.163001	5.403128	N6-methyladenosine-containing RNA binding
GO:0031404	0.000285	8.163001	5.465102	chloride ion binding
GO:0015603	0.000285	8.163001	5.488938	iron chelate transmembrane transporter activity
GO:0004800	0.000285	8.163001	5.637643	thyroxine 5'-deiodinase activity
GO:0016695	0.000285	8.163001	5.637643	oxidoreductase activity, acting on hydrogen as donor
GO:0098599	0.000285	8.163001	6.331146	palmitoyl hydrolase activity
GO:0045545	0.000285	8.163001	6.980262	syndecan binding
GO:0070097	0.000285	8.163001	6.980262	delta-catenin binding
GO:0097371	0.000285	8.163001	6.980262	MDM2/MDM4 family protein binding
GO:0004133	0.000285	8.163001	7.396213	glycogen debranching enzyme activity
GO:0003876	0.000257	8.268361	0.000000	AMP deaminase activity
GO:0003983	0.000257	8.268361	0.000000	UTP:glucose-1-phosphate uridylyltransferase activity
GO:0004021	0.000257	8.268361	0.000000	L-alanine:2-oxoglutarate aminotransferase activity
GO:0008177	0.000257	8.268361	0.000000	succinate dehydrogenase (ubiquinone) activity
GO:0008705	0.000257	8.268361	0.000000	methionine synthase activity
GO:0008893	0.000257	8.268361	0.000000	guanosine-3',5'-bis(diphosphate) 3'-diphosphatase activity
GO:0009374	0.000257	8.268361	0.000000	biotin binding
GO:0015417	0.000257	8.268361	0.000000	polyamine-transporting ATPase activity
GO:0016892	0.000257	8.268361	0.000000	endoribonuclease activity, producing 3'-phosphomonoesters
GO:0030269	0.000257	8.268361	0.000000	tetrahydromethanopterin S-methyltransferase activity
GO:0045174	0.000257	8.268361	0.000000	glutathione dehydrogenase (ascorbate) activity
GO:0046789	0.000257	8.268361	0.000000	host cell surface receptor binding
GO:0051429	0.000257	8.268361	0.000000	corticotropin-releasing hormone receptor binding
GO:0004475	0.000257	8.268361	0.105361	mannose-1-phosphate guanylyltransferase activity
GO:0004503	0.000257	8.268361	0.105361	monophenol monooxygenase activity
GO:0008746	0.000257	8.268361	0.105361	NAD(P)+ transhydrogenase activity
GO:0015185	0.000257	8.268361	0.105361	gamma-aminobutyric acid transmembrane transporter activity
GO:0016703	0.000257	8.268361	0.105361	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of one atom of oxygen (internal monooxygenases or internal mixed function oxidases)
GO:0017116	0.000257	8.268361	0.105361	single-stranded DNA-dependent ATP-dependent DNA helicase activity
GO:0045145	0.000257	8.268361	0.105361	single-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0004671	0.000257	8.268361	0.200671	protein C-terminal S-isoprenylcysteine carboxyl O-methyltransferase activity
GO:0008048	0.000257	8.268361	0.200671	calcium sensitive guanylate cyclase activator activity
GO:0008808	0.000257	8.268361	0.200671	cardiolipin synthase activity
GO:0009679	0.000257	8.268361	0.200671	hexose:proton symporter activity
GO:0015307	0.000257	8.268361	0.200671	drug:proton antiporter activity
GO:0042895	0.000257	8.268361	0.200671	antibiotic transporter activity
GO:0004360	0.000257	8.268361	0.287682	glutamine-fructose-6-phosphate transaminase (isomerizing) activity
GO:0015210	0.000257	8.268361	0.287682	uracil transmembrane transporter activity
GO:0052659	0.000257	8.268361	0.287682	inositol-1,3,4,5-tetrakisphosphate 5-phosphatase activity
GO:0001849	0.000257	8.268361	0.367725	complement component C1q binding
GO:0004886	0.000257	8.268361	0.367725	9-cis retinoic acid receptor activity
GO:0005314	0.000257	8.268361	0.367725	high-affinity glutamate transmembrane transporter activity
GO:0033192	0.000257	8.268361	0.367725	calmodulin-dependent protein phosphatase activity
GO:0001131	0.000257	8.268361	0.441833	transcription factor activity, bacterial-type RNA polymerase core promoter proximal region sequence-specific binding
GO:0004473	0.000257	8.268361	0.575364	malate dehydrogenase (decarboxylating) (NADP+) activity
GO:0004957	0.000257	8.268361	0.575364	prostaglandin E receptor activity
GO:0035256	0.000257	8.268361	0.635989	G-protein coupled glutamate receptor binding
GO:0005167	0.000257	8.268361	0.693147	neurotrophin TRK receptor binding
GO:0015379	0.000257	8.268361	0.693147	potassium:chloride symporter activity
GO:0001206	0.000257	8.268361	0.747214	transcriptional repressor activity, RNA polymerase II distal enhancer sequence-specific binding
GO:0008251	0.000257	8.268361	0.747214	tRNA-specific adenosine deaminase activity
GO:0052716	0.000257	8.268361	0.747214	hydroquinone:oxygen oxidoreductase activity
GO:0004719	0.000257	8.268361	0.798508	protein-L-isoaspartate (D-aspartate) O-methyltransferase activity
GO:0001588	0.000257	8.268361	0.847298	dopamine neurotransmitter receptor activity, coupled via Gs
GO:0004660	0.000257	8.268361	0.847298	protein farnesyltransferase activity
GO:0004056	0.000257	8.268361	0.893818	argininosuccinate lyase activity
GO:0004937	0.000257	8.268361	0.893818	alpha1-adrenergic receptor activity
GO:0005222	0.000257	8.268361	0.893818	intracellular cAMP activated cation channel activity
GO:0005004	0.000257	8.268361	0.938270	GPI-linked ephrin receptor activity
GO:0016231	0.000257	8.268361	0.938270	beta-N-acetylglucosaminidase activity
GO:0070700	0.000257	8.268361	0.938270	BMP receptor binding
GO:0008467	0.000257	8.268361	0.980829	[heparan sulfate]-glucosamine 3-sulfotransferase 1 activity
GO:0004692	0.000257	8.268361	1.134980	cGMP-dependent protein kinase activity
GO:0009044	0.000257	8.268361	1.134980	xylan 1,4-beta-xylosidase activity
GO:0071972	0.000257	8.268361	1.134980	peptidoglycan L,D-transpeptidase activity
GO:0004939	0.000257	8.268361	1.236763	beta-adrenergic receptor activity
GO:0008796	0.000257	8.268361	1.268511	bis(5'-nucleosyl)-tetraphosphatase activity
GO:0031127	0.000257	8.268361	1.268511	alpha-(1,2)-fucosyltransferase activity
GO:0086006	0.000257	8.268361	1.329136	voltage-gated sodium channel activity involved in cardiac muscle cell action potential
GO:0008108	0.000257	8.268361	1.358123	UDP-glucose:hexose-1-phosphate uridylyltransferase activity
GO:0051748	0.000257	8.268361	1.358123	UTP-monosaccharide-1-phosphate uridylyltransferase activity
GO:0097157	0.000257	8.268361	1.358123	pre-mRNA intronic binding
GO:0004839	0.000257	8.268361	1.386294	ubiquitin activating enzyme activity
GO:0001224	0.000257	8.268361	1.466337	RNA polymerase II transcription cofactor binding
GO:0009882	0.000257	8.268361	1.466337	blue light photoreceptor activity
GO:0004024	0.000257	8.268361	1.516347	alcohol dehydrogenase activity, zinc-dependent
GO:0004151	0.000257	8.268361	1.516347	dihydroorotase activity
GO:0017070	0.000257	8.268361	1.516347	U6 snRNA binding
GO:0034513	0.000257	8.268361	1.516347	box H/ACA snoRNA binding
GO:0019966	0.000257	8.268361	1.540445	interleukin-1 binding
GO:0004452	0.000257	8.268361	1.609438	isopentenyl-diphosphate delta-isomerase activity
GO:0031071	0.000257	8.268361	1.609438	cysteine desulfurase activity
GO:0016433	0.000257	8.268361	1.631417	rRNA (adenine) methyltransferase activity
GO:0016434	0.000257	8.268361	1.631417	rRNA (cytosine) methyltransferase activity
GO:0016663	0.000257	8.268361	1.652923	oxidoreductase activity, acting on other nitrogenous compounds as donors, oxygen as acceptor
GO:0004615	0.000257	8.268361	1.791759	phosphomannomutase activity
GO:0030248	0.000257	8.268361	1.845827	cellulose binding
GO:0080079	0.000257	8.268361	1.880313	cellobiose glucosidase activity
GO:0031370	0.000257	8.268361	1.913649	eukaryotic initiation factor 4G binding
GO:0071558	0.000257	8.268361	1.929910	histone demethylase activity (H3-K27 specific)
GO:0047623	0.000257	8.268361	2.007468	adenosine-phosphate deaminase activity
GO:0005134	0.000257	8.268361	2.036882	interleukin-2 receptor binding
GO:0004146	0.000257	8.268361	2.065455	dihydrofolate reductase activity
GO:0022889	0.000257	8.268361	2.079442	serine transmembrane transporter activity
GO:0004100	0.000257	8.268361	2.120264	chitin synthase activity
GO:0047499	0.000257	8.268361	2.159484	calcium-independent phospholipase A2 activity
GO:0034739	0.000257	8.268361	2.233592	histone deacetylase activity (H4-K16 specific)
GO:0015146	0.000257	8.268361	2.257123	pentose transmembrane transporter activity
GO:0042799	0.000257	8.268361	2.257123	histone methyltransferase activity (H4-K20 specific)
GO:0042809	0.000257	8.268361	2.268684	vitamin D receptor binding
GO:0000033	0.000257	8.268361	2.291412	alpha-1,3-mannosyltransferase activity
GO:0008897	0.000257	8.268361	2.313635	holo-[acyl-carrier-protein] synthase activity
GO:0000286	0.000257	8.268361	2.397895	alanine dehydrogenase activity
GO:0000828	0.000257	8.268361	2.407946	inositol hexakisphosphate kinase activity
GO:0004357	0.000257	8.268361	2.437504	glutamate-cysteine ligase activity
GO:0034481	0.000257	8.268361	2.484907	chondroitin sulfotransferase activity
GO:0010284	0.000257	8.268361	2.494123	lariciresinol reductase activity
GO:0019166	0.000257	8.268361	2.494123	trans-2-enoyl-CoA reductase (NADPH) activity
GO:0004833	0.000257	8.268361	2.503256	tryptophan 2,3-dioxygenase activity
GO:0004904	0.000257	8.268361	2.503256	interferon receptor activity
GO:0008503	0.000257	8.268361	2.503256	benzodiazepine receptor activity
GO:0017024	0.000257	8.268361	2.556366	myosin I binding
GO:0015347	0.000257	8.268361	2.581899	sodium-independent organic anion transmembrane transporter activity
GO:0003867	0.000257	8.268361	2.654806	4-aminobutyrate transaminase activity
GO:0008453	0.000257	8.268361	2.654806	alanine-glyoxylate transaminase activity
GO:0047635	0.000257	8.268361	2.654806	alanine-oxo-acid transaminase activity
GO:0017018	0.000257	8.268361	2.708050	myosin phosphatase activity
GO:0004145	0.000257	8.268361	2.852631	diamine N-acetyltransferase activity
GO:0003956	0.000257	8.268361	2.908721	NAD(P)+-protein-arginine ADP-ribosyltransferase activity
GO:0004586	0.000257	8.268361	3.001272	ornithine decarboxylase activity
GO:0004590	0.000257	8.268361	3.001272	orotidine-5'-phosphate decarboxylase activity
GO:0047714	0.000257	8.268361	3.023131	galactolipase activity
GO:0033677	0.000257	8.268361	3.120895	DNA/RNA helicase activity
GO:0016979	0.000257	8.268361	3.209947	lipoate-protein ligase activity
GO:0015105	0.000257	8.268361	3.240855	arsenite transmembrane transporter activity
GO:0003849	0.000257	8.268361	3.469202	3-deoxy-7-phosphoheptulonate synthase activity
GO:0008401	0.000257	8.268361	3.469202	retinoic acid 4-hydroxylase activity
GO:0030306	0.000257	8.268361	3.489751	ADP-ribosylation factor binding
GO:0004333	0.000257	8.268361	3.592736	fumarate hydratase activity
GO:0050525	0.000257	8.268361	3.694420	cutinase activity
GO:0080030	0.000257	8.268361	3.694420	methyl indole-3-acetate esterase activity
GO:0052621	0.000257	8.268361	3.716278	diguanylate cyclase activity
GO:0008429	0.000257	8.268361	3.997181	phosphatidylethanolamine binding
GO:0046996	0.000257	8.268361	4.027334	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, with NAD(P)H as one donor, and the other dehydrogenated
GO:0070704	0.000257	8.268361	4.027334	sterol desaturase activity
GO:0004616	0.000257	8.268361	4.081297	phosphogluconate dehydrogenase (decarboxylating) activity
GO:0004764	0.000257	8.268361	4.081297	shikimate 3-dehydrogenase (NADP+) activity
GO:0010521	0.000257	8.268361	4.086910	telomerase inhibitor activity
GO:0042084	0.000257	8.268361	4.165804	5-methyltetrahydrofolate-dependent methyltransferase activity
GO:0042086	0.000257	8.268361	4.165804	5-methyl-5,6,7,8-tetrahydromethanopterin-dependent methyltransferase activity
GO:0016176	0.000257	8.268361	4.230881	superoxide-generating NADPH oxidase activator activity
GO:0016420	0.000257	8.268361	4.282820	malonyltransferase activity
GO:0042392	0.000257	8.268361	4.377851	sphingosine-1-phosphate phosphatase activity
GO:0031208	0.000257	8.268361	4.471004	POZ domain binding
GO:0050700	0.000257	8.268361	4.471004	CARD domain binding
GO:0019992	0.000257	8.268361	4.556213	diacylglycerol binding
GO:0097493	0.000257	8.268361	4.563190	structural molecule activity conferring elasticity
GO:0001025	0.000257	8.268361	4.595120	RNA polymerase III transcription factor binding
GO:0008140	0.000257	8.268361	4.595120	cAMP response element binding protein binding
GO:0004703	0.000257	8.268361	4.643322	G-protein coupled receptor kinase activity
GO:0016794	0.000257	8.268361	4.656075	diphosphoric monoester hydrolase activity
GO:0031013	0.000257	8.268361	4.803110	troponin I binding
GO:0034452	0.000257	8.268361	4.803110	dynactin binding
GO:0070051	0.000257	8.268361	4.937666	fibrinogen binding
GO:0019763	0.000257	8.268361	4.981321	immunoglobulin receptor activity
GO:0070891	0.000257	8.268361	5.178658	lipoteichoic acid binding
GO:0004305	0.000257	8.268361	5.346578	ethanolamine kinase activity
GO:0004594	0.000257	8.268361	5.346578	pantothenate kinase activity
GO:0042609	0.000257	8.268361	5.405676	CD4 receptor binding
GO:0048495	0.000257	8.268361	5.405676	Roundabout binding
GO:0070025	0.000257	8.268361	5.433237	carbon monoxide binding
GO:0070883	0.000257	8.268361	5.508488	pre-miRNA binding
GO:0035473	0.000257	8.268361	5.600067	lipase binding
GO:0034711	0.000257	8.268361	7.085622	inhibin binding
GO:0097351	0.000257	8.268361	7.085622	toxin-antitoxin pair type II binding
GO:0000150	0.000257	8.268361	7.501573	recombinase activity
GO:0004803	0.000257	8.268361	7.501573	transposase activity
GO:0045735	0.000257	8.268361	8.268361	nutrient reservoir activity
GO:0004013	0.000228	8.386144	0.000000	adenosylhomocysteinase activity
GO:0004095	0.000228	8.386144	0.000000	carnitine O-palmitoyltransferase activity
GO:0004758	0.000228	8.386144	0.000000	serine C-palmitoyltransferase activity
GO:0004838	0.000228	8.386144	0.000000	L-tyrosine:2-oxoglutarate aminotransferase activity
GO:0005277	0.000228	8.386144	0.000000	acetylcholine transmembrane transporter activity
GO:0008311	0.000228	8.386144	0.000000	double-stranded DNA 3'-5' exodeoxyribonuclease activity
GO:0008474	0.000228	8.386144	0.000000	palmitoyl-(protein) hydrolase activity
GO:0010329	0.000228	8.386144	0.000000	auxin efflux transmembrane transporter activity
GO:0015234	0.000228	8.386144	0.000000	thiamine transmembrane transporter activity
GO:0015333	0.000228	8.386144	0.000000	peptide:proton symporter activity
GO:0016297	0.000228	8.386144	0.000000	acyl-[acyl-carrier-protein] hydrolase activity
GO:0016454	0.000228	8.386144	0.000000	C-palmitoyltransferase activity
GO:0031782	0.000228	8.386144	0.000000	type 4 melanocortin receptor binding
GO:0005049	0.000228	8.386144	0.117783	nuclear export signal receptor activity
GO:0015194	0.000228	8.386144	0.117783	L-serine transmembrane transporter activity
GO:0032558	0.000228	8.386144	0.117783	adenyl deoxyribonucleotide binding
GO:0043812	0.000228	8.386144	0.117783	phosphatidylinositol-4-phosphate phosphatase activity
GO:0051430	0.000228	8.386144	0.117783	corticotropin-releasing hormone receptor 1 binding
GO:0003990	0.000228	8.386144	0.223144	acetylcholinesterase activity
GO:0004001	0.000228	8.386144	0.223144	adenosine kinase activity
GO:0008273	0.000228	8.386144	0.223144	calcium, potassium:sodium antiporter activity
GO:0016361	0.000228	8.386144	0.223144	activin receptor activity, type I
GO:0045436	0.000228	8.386144	0.223144	lycopene beta cyclase activity
GO:0047663	0.000228	8.386144	0.223144	aminoglycoside 6'-N-acetyltransferase activity
GO:0004528	0.000228	8.386144	0.318454	phosphodiesterase I activity
GO:0004716	0.000228	8.386144	0.318454	receptor signaling protein tyrosine kinase activity
GO:0015254	0.000228	8.386144	0.318454	glycerol channel activity
GO:0031702	0.000228	8.386144	0.318454	type 1 angiotensin receptor binding
GO:0033862	0.000228	8.386144	0.318454	UMP kinase activity
GO:0035596	0.000228	8.386144	0.318454	methylthiotransferase activity
GO:0004651	0.000228	8.386144	0.405465	polynucleotide 5'-phosphatase activity
GO:0016429	0.000228	8.386144	0.405465	tRNA (adenine-N1-)-methyltransferase activity
GO:0017153	0.000228	8.386144	0.405465	sodium:dicarboxylate symporter activity
GO:0033229	0.000228	8.386144	0.405465	cysteine transmembrane transporter activity
GO:0089721	0.000228	8.386144	0.405465	phosphoenolpyruvate transmembrane transporter activity
GO:0004368	0.000228	8.386144	0.485508	glycerol-3-phosphate dehydrogenase activity
GO:0005329	0.000228	8.386144	0.485508	dopamine transmembrane transporter activity
GO:0004324	0.000228	8.386144	0.559616	ferredoxin-NADP+ reductase activity
GO:0005460	0.000228	8.386144	0.559616	UDP-glucose transmembrane transporter activity
GO:0016428	0.000228	8.386144	0.559616	tRNA (cytosine-5-)-methyltransferase activity
GO:0004663	0.000228	8.386144	0.628609	Rab geranylgeranyltransferase activity
GO:0004797	0.000228	8.386144	0.628609	thymidine kinase activity
GO:0005302	0.000228	8.386144	0.628609	L-tyrosine transmembrane transporter activity
GO:1990254	0.000228	8.386144	0.628609	keratin filament binding
GO:0015229	0.000228	8.386144	0.693147	L-ascorbic acid transporter activity
GO:0008898	0.000228	8.386144	0.753772	S-adenosylmethionine-homocysteine S-methyltransferase activity
GO:0022897	0.000228	8.386144	0.753772	proton-dependent peptide secondary active transmembrane transporter activity
GO:0052725	0.000228	8.386144	0.810930	inositol-1,3,4-trisphosphate 6-kinase activity
GO:0051379	0.000228	8.386144	0.864997	epinephrine binding
GO:0004450	0.000228	8.386144	0.916291	isocitrate dehydrogenase (NADP+) activity
GO:0016918	0.000228	8.386144	0.916291	retinal binding
GO:0005132	0.000228	8.386144	0.965081	type I interferon receptor binding
GO:0034647	0.000228	8.386144	0.965081	histone demethylase activity (H3-trimethyl-K4 specific)
GO:0034648	0.000228	8.386144	0.965081	histone demethylase activity (H3-dimethyl-K4 specific)
GO:0043184	0.000228	8.386144	0.965081	vascular endothelial growth factor receptor 2 binding
GO:0003973	0.000228	8.386144	1.011601	(S)-2-hydroxy-acid oxidase activity
GO:0005250	0.000228	8.386144	1.011601	A-type (transient outward) potassium channel activity
GO:0019958	0.000228	8.386144	1.011601	C-X-C chemokine binding
GO:0030570	0.000228	8.386144	1.011601	pectate lyase activity
GO:0008093	0.000228	8.386144	1.056053	cytoskeletal adaptor activity
GO:0016019	0.000228	8.386144	1.056053	peptidoglycan receptor activity
GO:0046978	0.000228	8.386144	1.056053	TAP1 binding
GO:0052658	0.000228	8.386144	1.056053	inositol-1,4,5-trisphosphate 5-phosphatase activity
GO:0070697	0.000228	8.386144	1.056053	activin receptor binding
GO:0016161	0.000228	8.386144	1.178655	beta-amylase activity
GO:0005365	0.000228	8.386144	1.216395	myo-inositol transmembrane transporter activity
GO:0031726	0.000228	8.386144	1.216395	CCR1 chemokine receptor binding
GO:0004353	0.000228	8.386144	1.252763	glutamate dehydrogenase [NAD(P)+] activity
GO:0008449	0.000228	8.386144	1.252763	N-acetylglucosamine-6-sulfatase activity
GO:0009002	0.000228	8.386144	1.252763	serine-type D-Ala-D-Ala carboxypeptidase activity
GO:0030378	0.000228	8.386144	1.252763	serine racemase activity
GO:0031749	0.000228	8.386144	1.252763	D2 dopamine receptor binding
GO:0033265	0.000228	8.386144	1.252763	choline binding
GO:0016802	0.000228	8.386144	1.287854	trialkylsulfonium hydrolase activity
GO:0004105	0.000228	8.386144	1.321756	choline-phosphate cytidylyltransferase activity
GO:0005219	0.000228	8.386144	1.417066	ryanodine-sensitive calcium-release channel activity
GO:0016871	0.000228	8.386144	1.417066	cycloartenol synthase activity
GO:0042300	0.000228	8.386144	1.417066	beta-amyrin synthase activity
GO:0043237	0.000228	8.386144	1.417066	laminin-1 binding
GO:0000403	0.000228	8.386144	1.475907	Y-form DNA binding
GO:0003977	0.000228	8.386144	1.475907	UDP-N-acetylglucosamine diphosphorylase activity
GO:0008413	0.000228	8.386144	1.475907	8-oxo-7,8-dihydroguanosine triphosphate pyrophosphatase activity
GO:0015207	0.000228	8.386144	1.531476	adenine transmembrane transporter activity
GO:0004574	0.000228	8.386144	1.558145	oligo-1,6-glucosidase activity
GO:0004794	0.000228	8.386144	1.584120	L-threonine ammonia-lyase activity
GO:0004971	0.000228	8.386144	1.609438	AMPA glutamate receptor activity
GO:0030619	0.000228	8.386144	1.634131	U1 snRNA binding
GO:0003836	0.000228	8.386144	1.658228	beta-galactoside (CMP) alpha-2,3-sialyltransferase activity
GO:0016494	0.000228	8.386144	1.658228	C-X-C chemokine receptor activity
GO:0043426	0.000228	8.386144	1.727221	MRF binding
GO:0046857	0.000228	8.386144	1.770706	oxidoreductase activity, acting on other nitrogenous compounds as donors, with NAD or NADP as acceptor
GO:0032050	0.000228	8.386144	1.927892	clathrin heavy chain binding
GO:0008142	0.000228	8.386144	1.963610	oxysterol binding
GO:2001070	0.000228	8.386144	1.963610	starch binding
GO:0004127	0.000228	8.386144	1.981001	cytidylate kinase activity
GO:0003986	0.000228	8.386144	2.031432	acetyl-CoA hydrolase activity
GO:0003968	0.000228	8.386144	2.047693	RNA-directed RNA polymerase activity
GO:0008525	0.000228	8.386144	2.047693	phosphatidylcholine transporter activity
GO:0008675	0.000228	8.386144	2.047693	2-dehydro-3-deoxy-phosphogluconate aldolase activity
GO:0031779	0.000228	8.386144	2.047693	melanocortin receptor binding
GO:0034618	0.000228	8.386144	2.047693	arginine binding
GO:0046421	0.000228	8.386144	2.079442	methylisocitrate lyase activity
GO:0004751	0.000228	8.386144	2.094946	ribose-5-phosphate isomerase activity
GO:0036435	0.000228	8.386144	2.110213	K48-linked polyubiquitin binding
GO:0047760	0.000228	8.386144	2.125251	butyrate-CoA ligase activity
GO:0008332	0.000228	8.386144	2.169054	low voltage-gated calcium channel activity
GO:0004489	0.000228	8.386144	2.183238	methylenetetrahydrofolate reductase (NAD(P)H) activity
GO:0004735	0.000228	8.386144	2.183238	pyrroline-5-carboxylate reductase activity
GO:0004966	0.000228	8.386144	2.183238	galanin receptor activity
GO:0004113	0.000228	8.386144	2.277267	2',3'-cyclic-nucleotide 3'-phosphodiesterase activity
GO:0005234	0.000228	8.386144	2.327278	extracellular-glutamate-gated ion channel activity
GO:1990714	0.000228	8.386144	2.327278	hydroxyproline O-galactosyltransferase activity
GO:0004825	0.000228	8.386144	2.351375	methionine-tRNA ligase activity
GO:0046976	0.000228	8.386144	2.374906	histone methyltransferase activity (H3-K27 specific)
GO:0015350	0.000228	8.386144	2.409195	methotrexate transporter activity
GO:0050520	0.000228	8.386144	2.431418	phosphatidylcholine synthase activity
GO:0004335	0.000228	8.386144	2.442347	galactokinase activity
GO:0050833	0.000228	8.386144	2.453158	pyruvate transmembrane transporter activity
GO:0003919	0.000228	8.386144	2.495269	FMN adenylyltransferase activity
GO:0043035	0.000228	8.386144	2.515678	chromatin insulator sequence binding
GO:0000829	0.000228	8.386144	2.525729	inositol heptakisphosphate kinase activity
GO:0004363	0.000228	8.386144	2.555287	glutathione synthase activity
GO:0000064	0.000228	8.386144	2.593387	L-ornithine transmembrane transporter activity
GO:0008759	0.000228	8.386144	2.611906	UDP-3-O-[3-hydroxymyristoyl] N-acetylglucosamine deacetylase activity
GO:0050343	0.000228	8.386144	2.611906	trans-2-enoyl-CoA reductase (NAD+) activity
GO:0004908	0.000228	8.386144	2.621039	interleukin-1 receptor activity
GO:0046820	0.000228	8.386144	2.772589	4-amino-4-deoxychorismate synthase activity
GO:0070547	0.000228	8.386144	2.772589	L-tyrosine aminotransferase activity
GO:0003825	0.000228	8.386144	2.810908	alpha,alpha-trehalose-phosphate synthase (UDP-forming) activity
GO:0080046	0.000228	8.386144	2.810908	quercetin 4'-O-glucosyltransferase activity
GO:1990380	0.000228	8.386144	2.818398	Lys48-specific deubiquitinase activity
GO:0089720	0.000228	8.386144	2.883403	caspase binding
GO:0035374	0.000228	8.386144	2.904165	chondroitin sulfate binding
GO:0004059	0.000228	8.386144	2.970414	aralkylamine N-acetyltransferase activity
GO:0047066	0.000228	8.386144	2.983153	phospholipid-hydroperoxide glutathione peroxidase activity
GO:0051538	0.000228	8.386144	2.989463	3 iron, 4 sulfur cluster binding
GO:0050062	0.000228	8.386144	3.014309	long-chain-fatty-acyl-CoA reductase activity
GO:0080019	0.000228	8.386144	3.014309	fatty-acyl-CoA reductase (alcohol-forming) activity
GO:0004044	0.000228	8.386144	3.026504	amidophosphoribosyltransferase activity
GO:0070990	0.000228	8.386144	3.044522	snRNP binding
GO:0003681	0.000228	8.386144	3.073850	bent DNA binding
GO:0008889	0.000228	8.386144	3.314186	glycerophosphodiester phosphodiesterase activity
GO:0071111	0.000228	8.386144	3.314186	cyclic-guanylate-specific phosphodiesterase activity
GO:0046715	0.000228	8.386144	3.358638	borate transmembrane transporter activity
GO:0017150	0.000228	8.386144	3.371597	tRNA dihydrouridine synthase activity
GO:0042608	0.000228	8.386144	3.425890	T cell receptor binding
GO:0004040	0.000228	8.386144	3.446011	amidase activity
GO:0004766	0.000228	8.386144	3.586985	spermidine synthase activity
GO:0009824	0.000228	8.386144	3.586985	AMP dimethylallyltransferase activity
GO:0016715	0.000228	8.386144	3.586985	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced ascorbate as one donor, and incorporation of one atom of oxygen
GO:0019171	0.000228	8.386144	3.710519	3-hydroxyacyl-[acyl-carrier-protein] dehydratase activity
GO:0050346	0.000228	8.386144	3.710519	trans-L-3-hydroxyproline dehydratase activity
GO:0031628	0.000228	8.386144	3.766997	opioid receptor binding
GO:0031685	0.000228	8.386144	3.766997	adenosine receptor binding
GO:0031716	0.000228	8.386144	3.766997	calcitonin receptor binding
GO:0031821	0.000228	8.386144	3.766997	G-protein coupled serotonin receptor binding
GO:0017057	0.000228	8.386144	3.812203	6-phosphogluconolactonase activity
GO:0046555	0.000228	8.386144	3.812203	acetylxylan esterase activity
GO:0050501	0.000228	8.386144	3.825920	hyaluronan synthase activity
GO:0008825	0.000228	8.386144	4.000492	cyclopropane-fatty-acyl-phospholipid synthase activity
GO:0004649	0.000228	8.386144	4.114964	poly(ADP-ribose) glycohydrolase activity
GO:0051575	0.000228	8.386144	4.141149	5'-deoxyribose-5-phosphate lyase activity
GO:0003939	0.000228	8.386144	4.199080	L-iditol 2-dehydrogenase activity
GO:0004617	0.000228	8.386144	4.199080	phosphoglycerate dehydrogenase activity
GO:0015252	0.000228	8.386144	4.208417	hydrogen ion channel activity
GO:0004576	0.000228	8.386144	4.400603	oligosaccharyl transferase activity
GO:0019107	0.000228	8.386144	4.400603	myristoyltransferase activity
GO:1990188	0.000228	8.386144	4.477337	euchromatin binding
GO:0019911	0.000228	8.386144	4.680973	structural constituent of myelin sheath
GO:0004687	0.000228	8.386144	4.761105	myosin light chain kinase activity
GO:0030172	0.000228	8.386144	4.920893	troponin C binding
GO:0032795	0.000228	8.386144	5.055449	heterotrimeric G-protein binding
GO:0036033	0.000228	8.386144	5.055449	mediator complex binding
GO:0070095	0.000228	8.386144	5.103670	fructose-6-phosphate binding
GO:0050355	0.000228	8.386144	5.166214	triphosphatase activity
GO:0050254	0.000228	8.386144	5.248996	rhodopsin kinase activity
GO:0016936	0.000228	8.386144	5.296441	galactoside binding
GO:0045322	0.000228	8.386144	5.350079	unmethylated CpG binding
GO:0002054	0.000228	8.386144	5.353042	nucleobase binding
GO:0001167	0.000228	8.386144	5.382199	RNA polymerase I transcription factor activity, sequence-specific DNA binding
GO:0001070	0.000228	8.386144	5.386214	RNA binding transcription factor activity
GO:0004765	0.000228	8.386144	5.464361	shikimate kinase activity
GO:0034190	0.000228	8.386144	5.523459	apolipoprotein receptor binding
GO:0002151	0.000228	8.386144	5.626271	G-quadruplex RNA binding
GO:0071917	0.000228	8.386144	5.641464	triose-phosphate transmembrane transporter activity
GO:1901375	0.000228	8.386144	5.712081	acetate ester transmembrane transporter activity
GO:0030881	0.000228	8.386144	7.203406	beta-2-microglobulin binding
GO:0030984	0.000228	8.386144	7.203406	kininogen binding
GO:0070026	0.000228	8.386144	7.753731	nitric oxide binding
GO:0004379	0.000200	8.519676	0.000000	glycylpeptide N-tetradecanoyltransferase activity
GO:0004482	0.000200	8.519676	0.000000	mRNA (guanine-N7-)-methyltransferase activity
GO:0004729	0.000200	8.519676	0.000000	oxygen-dependent protoporphyrinogen oxidase activity
GO:0004809	0.000200	8.519676	0.000000	tRNA (guanine-N2-)-methyltransferase activity
GO:0005356	0.000200	8.519676	0.000000	hydrogen:glucose symporter activity
GO:0005499	0.000200	8.519676	0.000000	vitamin D binding
GO:0008900	0.000200	8.519676	0.000000	hydrogen:potassium-exchanging ATPase activity
GO:0010427	0.000200	8.519676	0.000000	abscisic acid binding
GO:0015120	0.000200	8.519676	0.000000	phosphoglycerate transmembrane transporter activity
GO:0015143	0.000200	8.519676	0.000000	urate transmembrane transporter activity
GO:0016414	0.000200	8.519676	0.000000	O-octanoyltransferase activity
GO:0016532	0.000200	8.519676	0.000000	superoxide dismutase copper chaperone activity
GO:0016807	0.000200	8.519676	0.000000	cysteine-type carboxypeptidase activity
GO:0022851	0.000200	8.519676	0.000000	GABA-gated chloride ion channel activity
GO:0030023	0.000200	8.519676	0.000000	extracellular matrix constituent conferring elasticity
GO:0032564	0.000200	8.519676	0.000000	dATP binding
GO:0033680	0.000200	8.519676	0.000000	ATP-dependent DNA/RNA helicase activity
GO:0045028	0.000200	8.519676	0.000000	G-protein coupled purinergic nucleotide receptor activity
GO:0045437	0.000200	8.519676	0.000000	uridine nucleosidase activity
GO:0046935	0.000200	8.519676	0.000000	1-phosphatidylinositol-3-kinase regulator activity
GO:0046964	0.000200	8.519676	0.000000	3'-phosphoadenosine 5'-phosphosulfate transmembrane transporter activity
GO:0047627	0.000200	8.519676	0.000000	adenylylsulfatase activity
GO:0051434	0.000200	8.519676	0.000000	BH3 domain binding
GO:0061575	0.000200	8.519676	0.000000	cyclin-dependent protein serine/threonine kinase activator activity
GO:0001072	0.000200	8.519676	0.133531	transcription antitermination factor activity, RNA binding
GO:0004579	0.000200	8.519676	0.133531	dolichyl-diphosphooligosaccharide-protein glycotransferase activity
GO:0008398	0.000200	8.519676	0.133531	sterol 14-demethylase activity
GO:0030297	0.000200	8.519676	0.133531	transmembrane receptor protein tyrosine kinase activator activity
GO:0031852	0.000200	8.519676	0.133531	mu-type opioid receptor binding
GO:0004846	0.000200	8.519676	0.251314	urate oxidase activity
GO:0005168	0.000200	8.519676	0.251314	neurotrophin TRKA receptor binding
GO:0008107	0.000200	8.519676	0.251314	galactoside 2-alpha-L-fucosyltransferase activity
GO:0015574	0.000200	8.519676	0.251314	trehalose transmembrane transporter activity
GO:0034235	0.000200	8.519676	0.251314	GPI anchor binding
GO:0070573	0.000200	8.519676	0.251314	metallodipeptidase activity
GO:0002134	0.000200	8.519676	0.356675	UTP binding
GO:0002135	0.000200	8.519676	0.356675	CTP binding
GO:0008909	0.000200	8.519676	0.356675	isochorismate synthase activity
GO:0015265	0.000200	8.519676	0.356675	urea channel activity
GO:0045549	0.000200	8.519676	0.356675	9-cis-epoxycarotenoid dioxygenase activity
GO:0051734	0.000200	8.519676	0.356675	ATP-dependent polynucleotide kinase activity
GO:0001601	0.000200	8.519676	0.451985	peptide YY receptor activity
GO:0004507	0.000200	8.519676	0.451985	steroid 11-beta-monooxygenase activity
GO:0030395	0.000200	8.519676	0.451985	lactose binding
GO:0070004	0.000200	8.519676	0.451985	cysteine-type exopeptidase activity
GO:0086083	0.000200	8.519676	0.451985	cell adhesive protein binding involved in bundle of His cell-Purkinje myocyte communication
GO:0015188	0.000200	8.519676	0.538997	L-isoleucine transmembrane transporter activity
GO:0030618	0.000200	8.519676	0.538997	transforming growth factor beta receptor, pathway-specific cytoplasmic mediator activity
GO:0047724	0.000200	8.519676	0.538997	inosine nucleosidase activity
GO:0051753	0.000200	8.519676	0.538997	mannan synthase activity
GO:0008517	0.000200	8.519676	0.619039	folic acid transporter activity
GO:0008941	0.000200	8.519676	0.619039	nitric oxide dioxygenase activity
GO:0018628	0.000200	8.519676	0.619039	terephthalate 1,2-dioxygenase activity
GO:0035175	0.000200	8.519676	0.619039	histone kinase activity (H3-S10 specific)
GO:0035939	0.000200	8.519676	0.619039	microsatellite binding
GO:0038036	0.000200	8.519676	0.619039	sphingosine-1-phosphate receptor activity
GO:0001642	0.000200	8.519676	0.693147	group III metabotropic glutamate receptor activity
GO:0004980	0.000200	8.519676	0.693147	melanocyte-stimulating hormone receptor activity
GO:0004945	0.000200	8.519676	0.762140	angiotensin type II receptor activity
GO:0015196	0.000200	8.519676	0.762140	L-tryptophan transmembrane transporter activity
GO:0015349	0.000200	8.519676	0.762140	thyroid hormone transmembrane transporter activity
GO:0004471	0.000200	8.519676	0.826679	malate dehydrogenase (decarboxylating) (NAD+) activity
GO:0048403	0.000200	8.519676	0.826679	brain-derived neurotrophic factor binding
GO:0015606	0.000200	8.519676	0.887303	spermidine transmembrane transporter activity
GO:0005166	0.000200	8.519676	0.944462	neurotrophin p75 receptor binding
GO:0052726	0.000200	8.519676	0.944462	inositol-1,3,4-trisphosphate 5-kinase activity
GO:0003721	0.000200	8.519676	0.998529	telomerase RNA reverse transcriptase activity
GO:0004070	0.000200	8.519676	1.049822	aspartate carbamoyltransferase activity
GO:0046537	0.000200	8.519676	1.049822	2,3-bisphosphoglycerate-independent phosphoglycerate mutase activity
GO:0001053	0.000200	8.519676	1.098612	plastid sigma factor activity
GO:0004310	0.000200	8.519676	1.098612	farnesyl-diphosphate farnesyltransferase activity
GO:0004658	0.000200	8.519676	1.098612	propionyl-CoA carboxylase activity
GO:0008728	0.000200	8.519676	1.098612	GTP diphosphokinase activity
GO:0032184	0.000200	8.519676	1.145132	SUMO polymer binding
GO:0047490	0.000200	8.519676	1.145132	pectin lyase activity
GO:0001875	0.000200	8.519676	1.189584	lipopolysaccharide receptor activity
GO:0004307	0.000200	8.519676	1.189584	ethanolaminephosphotransferase activity
GO:0004466	0.000200	8.519676	1.189584	long-chain-acyl-CoA dehydrogenase activity
GO:0046979	0.000200	8.519676	1.189584	TAP2 binding
GO:0070538	0.000200	8.519676	1.189584	oleic acid binding
GO:0017095	0.000200	8.519676	1.232144	heparan sulfate 6-O-sulfotransferase activity
GO:0004109	0.000200	8.519676	1.349927	coproporphyrinogen oxidase activity
GO:0031730	0.000200	8.519676	1.349927	CCR5 chemokine receptor binding
GO:0004354	0.000200	8.519676	1.386294	glutamate dehydrogenase (NADP+) activity
GO:0008784	0.000200	8.519676	1.386294	alanine racemase activity
GO:0008865	0.000200	8.519676	1.386294	fructokinase activity
GO:0031995	0.000200	8.519676	1.386294	insulin-like growth factor II binding
GO:0005093	0.000200	8.519676	1.421386	Rab GDP-dissociation inhibitor activity
GO:0005094	0.000200	8.519676	1.421386	Rho GDP-dissociation inhibitor activity
GO:0005497	0.000200	8.519676	1.421386	androgen binding
GO:0008035	0.000200	8.519676	1.455287	high-density lipoprotein particle binding
GO:0043262	0.000200	8.519676	1.455287	adenosine-diphosphatase activity
GO:0050567	0.000200	8.519676	1.488077	glutaminyl-tRNA synthase (glutamine-hydrolyzing) activity
GO:0046922	0.000200	8.519676	1.519826	peptide-O-fucosyltransferase activity
GO:0047710	0.000200	8.519676	1.519826	bis(5'-adenosyl)-triphosphatase activity
GO:0000250	0.000200	8.519676	1.550597	lanosterol synthase activity
GO:0003937	0.000200	8.519676	1.550597	IMP cyclohydrolase activity
GO:0004477	0.000200	8.519676	1.550597	methenyltetrahydrofolate cyclohydrolase activity
GO:0004706	0.000200	8.519676	1.550597	JUN kinase kinase kinase activity
GO:0005220	0.000200	8.519676	1.550597	inositol 1,4,5-trisphosphate-sensitive calcium-release channel activity
GO:0042299	0.000200	8.519676	1.550597	lupeol synthase activity
GO:0003873	0.000200	8.519676	1.580450	6-phosphofructo-2-kinase activity
GO:0004801	0.000200	8.519676	1.580450	sedoheptulose-7-phosphate:D-glyceraldehyde-3-phosphate glyceronetransferase activity
GO:0003864	0.000200	8.519676	1.609438	3-methyl-2-oxobutanoate hydroxymethyltransferase activity
GO:0004643	0.000200	8.519676	1.609438	phosphoribosylaminoimidazolecarboxamide formyltransferase activity
GO:0019862	0.000200	8.519676	1.609438	IgA binding
GO:0019948	0.000200	8.519676	1.637609	SUMO activating enzyme activity
GO:0035243	0.000200	8.519676	1.637609	protein-arginine omega-N symmetric methyltransferase activity
GO:0010861	0.000200	8.519676	1.691676	thyroid hormone receptor activator activity
GO:0015129	0.000200	8.519676	1.691676	lactate transmembrane transporter activity
GO:0015272	0.000200	8.519676	1.767662	ATP-activated inward rectifier potassium channel activity
GO:0030621	0.000200	8.519676	1.767662	U4 snRNA binding
GO:0034511	0.000200	8.519676	1.767662	U3 snoRNA binding
GO:0097322	0.000200	8.519676	1.767662	7SK snRNA binding
GO:0003845	0.000200	8.519676	1.815290	11-beta-hydroxysteroid dehydrogenase [NAD(P)] activity
GO:0003854	0.000200	8.519676	1.815290	3-beta-hydroxy-delta5-steroid dehydrogenase activity
GO:0004321	0.000200	8.519676	1.815290	fatty-acyl-CoA synthase activity
GO:0004167	0.000200	8.519676	1.860752	dopachrome isomerase activity
GO:1990405	0.000200	8.519676	1.882731	protein antigen binding
GO:0045504	0.000200	8.519676	1.925291	dynein heavy chain binding
GO:0004102	0.000200	8.519676	1.945910	choline O-acetyltransferase activity
GO:1990538	0.000200	8.519676	1.945910	xylan O-acetyltransferase activity
GO:0060002	0.000200	8.519676	1.966113	plus-end directed microfilament motor activity
GO:0003852	0.000200	8.519676	2.005334	2-isopropylmalate synthase activity
GO:0004421	0.000200	8.519676	2.005334	hydroxymethylglutaryl-CoA synthase activity
GO:0004798	0.000200	8.519676	2.024382	thymidylate kinase activity
GO:0047134	0.000200	8.519676	2.024382	protein-disulfide reductase activity
GO:0016756	0.000200	8.519676	2.097141	glutathione gamma-glutamylcysteinyltransferase activity
GO:0050649	0.000200	8.519676	2.097141	testosterone 6-beta-hydroxylase activity
GO:0030943	0.000200	8.519676	2.114533	mitochondrion targeting sequence binding
GO:0004117	0.000200	8.519676	2.181224	calmodulin-dependent cyclic-nucleotide phosphodiesterase activity
GO:0004118	0.000200	8.519676	2.181224	cGMP-stimulated cyclic-nucleotide phosphodiesterase activity
GO:0008674	0.000200	8.519676	2.181224	2-dehydro-3-deoxy-6-phosphogalactonate aldolase activity
GO:0017128	0.000200	8.519676	2.181224	phospholipid scramblase activity
GO:0030021	0.000200	8.519676	2.181224	extracellular matrix structural constituent conferring compression resistance
GO:0031705	0.000200	8.519676	2.181224	bombesin receptor binding
GO:0070728	0.000200	8.519676	2.181224	leucine binding
GO:0032843	0.000200	8.519676	2.197225	hydroperoxide reductase activity
GO:0015235	0.000200	8.519676	2.212973	cobalamin transporter activity
GO:0004121	0.000200	8.519676	2.243745	cystathionine beta-lyase activity
GO:0004462	0.000200	8.519676	2.243745	lactoylglutathione lyase activity
GO:0050017	0.000200	8.519676	2.243745	L-3-cyanoalanine synthase activity
GO:0000034	0.000200	8.519676	2.258782	adenine deaminase activity
GO:0047844	0.000200	8.519676	2.258782	deoxycytidine deaminase activity
GO:0005138	0.000200	8.519676	2.288196	interleukin-6 receptor binding
GO:0019799	0.000200	8.519676	2.288196	tubulin N-acetyltransferase activity
GO:0042602	0.000200	8.519676	2.316770	riboflavin reductase (NADPH) activity
GO:0015119	0.000200	8.519676	2.330756	hexose phosphate transmembrane transporter activity
GO:0033142	0.000200	8.519676	2.472930	progesterone receptor binding
GO:0004813	0.000200	8.519676	2.484907	alanine-tRNA ligase activity
GO:0004815	0.000200	8.519676	2.484907	aspartate-tRNA ligase activity
GO:0004824	0.000200	8.519676	2.484907	lysine-tRNA ligase activity
GO:0004826	0.000200	8.519676	2.484907	phenylalanine-tRNA ligase activity
GO:0004832	0.000200	8.519676	2.484907	valine-tRNA ligase activity
GO:0042903	0.000200	8.519676	2.531427	tubulin deacetylase activity
GO:0008673	0.000200	8.519676	2.575878	2-dehydro-3-deoxygluconokinase activity
GO:0030292	0.000200	8.519676	2.586689	protein tyrosine kinase inhibitor activity
GO:0000309	0.000200	8.519676	2.628801	nicotinamide-nucleotide adenylyltransferase activity
GO:0004515	0.000200	8.519676	2.628801	nicotinate-nucleotide adenylyltransferase activity
GO:0004595	0.000200	8.519676	2.628801	pantetheine-phosphate adenylyltransferase activity
GO:0001594	0.000200	8.519676	2.649210	trace-amine receptor activity
GO:0000827	0.000200	8.519676	2.659260	inositol-1,3,4,5,6-pentakisphosphate kinase activity
GO:0005017	0.000200	8.519676	2.659260	platelet-derived growth factor-activated receptor activity
GO:0008976	0.000200	8.519676	2.659260	polyphosphate kinase activity
GO:0050263	0.000200	8.519676	2.679063	ribosylpyrimidine nucleosidase activity
GO:0004326	0.000200	8.519676	2.688819	tetrahydrofolylpolyglutamate synthase activity
GO:0010279	0.000200	8.519676	2.688819	indole-3-acetic acid amido synthetase activity
GO:0001517	0.000200	8.519676	2.736221	N-acetylglucosamine 6-O-sulfotransferase activity
GO:0001537	0.000200	8.519676	2.736221	N-acetylgalactosamine 4-O-sulfotransferase activity
GO:0004304	0.000200	8.519676	2.736221	estrone sulfotransferase activity
GO:0004897	0.000200	8.519676	2.754570	ciliary neurotrophic factor receptor activity
GO:0050473	0.000200	8.519676	2.754570	arachidonate 15-lipoxygenase activity
GO:0070579	0.000200	8.519676	2.772589	methylcytosine dioxygenase activity
GO:0070815	0.000200	8.519676	2.772589	peptidyl-lysine 5-dioxygenase activity
GO:0070853	0.000200	8.519676	2.807680	myosin VI binding
GO:0005225	0.000200	8.519676	2.816264	volume-sensitive anion channel activity
GO:0019972	0.000200	8.519676	2.816264	interleukin-12 binding
GO:0003992	0.000200	8.519676	2.906120	N2-acetyl-L-ornithine:2-oxoglutarate 5-aminotransferase activity
GO:0004069	0.000200	8.519676	2.906120	L-aspartate:2-oxoglutarate aminotransferase activity
GO:0004587	0.000200	8.519676	2.906120	ornithine-oxo-acid transaminase activity
GO:0003980	0.000200	8.519676	2.944439	UDP-glucose:glycoprotein glucosyltransferase activity
GO:0016157	0.000200	8.519676	2.944439	sucrose synthase activity
GO:0061578	0.000200	8.519676	2.951930	Lys63-specific deubiquitinase activity
GO:0016521	0.000200	8.519676	3.110336	pituitary adenylate cyclase activating polypeptide activity
GO:0000254	0.000200	8.519676	3.129264	C-4 methylsterol oxidase activity
GO:0038085	0.000200	8.519676	3.147840	vascular endothelial growth factor binding
GO:0003879	0.000200	8.519676	3.160035	ATP phosphoribosyltransferase activity
GO:0004514	0.000200	8.519676	3.160035	nicotinate-nucleotide diphosphorylase (carboxylating) activity
GO:0004588	0.000200	8.519676	3.160035	orotate phosphoribosyltransferase activity
GO:0080039	0.000200	8.519676	3.166078	xyloglucan endotransglucosylase activity
GO:0046624	0.000200	8.519676	3.172084	sphingolipid transporter activity
GO:0005047	0.000200	8.519676	3.178054	signal recognition particle binding
GO:0070336	0.000200	8.519676	3.207381	flap-structured DNA binding
GO:0097100	0.000200	8.519676	3.207381	supercoiled DNA binding
GO:0004667	0.000200	8.519676	3.218876	prostaglandin-D synthase activity
GO:0004853	0.000200	8.519676	3.252587	uroporphyrinogen decarboxylase activity
GO:0047196	0.000200	8.519676	3.252587	long-chain-alcohol O-fatty-acyltransferase activity
GO:0048040	0.000200	8.519676	3.252587	UDP-glucuronate decarboxylase activity
GO:0070259	0.000200	8.519676	3.447717	tyrosyl-DNA phosphodiesterase activity
GO:0004329	0.000200	8.519676	3.461262	formate-tetrahydrofolate ligase activity
GO:0098748	0.000200	8.519676	3.465736	endocytic adaptor activity
GO:0016625	0.000200	8.519676	3.479040	oxidoreductase activity, acting on the aldehyde or oxo group of donors, iron-sulfur protein as acceptor
GO:0052738	0.000200	8.519676	3.479040	oxidoreductase activity, acting on the aldehyde or oxo group of donors, with a quinone or similar compound as acceptor
GO:0016499	0.000200	8.519676	3.483435	orexin receptor activity
GO:0051912	0.000200	8.519676	3.496508	CoB--CoM heterodisulfide reductase activity
GO:0051989	0.000200	8.519676	3.505128	coproporphyrinogen dehydrogenase activity
GO:0052890	0.000200	8.519676	3.505128	oxidoreductase activity, acting on the CH-CH group of donors, with a flavin as acceptor
GO:0070818	0.000200	8.519676	3.505128	protoporphyrinogen oxidase activity
GO:0016941	0.000200	8.519676	3.547151	natriuretic peptide receptor activity
GO:0004061	0.000200	8.519676	3.579543	arylformamidase activity
GO:0010858	0.000200	8.519676	3.618610	calcium-dependent protein kinase regulator activity
GO:0035014	0.000200	8.519676	3.703064	phosphatidylinositol 3-kinase regulator activity
GO:0004418	0.000200	8.519676	3.720517	hydroxymethylbilane synthase activity
GO:0071614	0.000200	8.519676	3.720517	linoleic acid epoxygenase activity
GO:0098634	0.000200	8.519676	3.741065	protein binding involved in cell-matrix adhesion
GO:0005127	0.000200	8.519676	3.793883	ciliary neurotrophic factor receptor binding
GO:0004834	0.000200	8.519676	3.844050	tryptophan synthase activity
GO:0004852	0.000200	8.519676	3.844050	uroporphyrinogen-III synthase activity
GO:0008446	0.000200	8.519676	3.844050	GDP-mannose 4,6-dehydratase activity
GO:0018822	0.000200	8.519676	3.844050	nitrile hydratase activity
GO:0047547	0.000200	8.519676	3.844050	2-methylcitrate dehydratase activity
GO:0047769	0.000200	8.519676	3.844050	arogenate dehydratase activity
GO:0030350	0.000200	8.519676	3.885972	iron-responsive element binding
GO:0035368	0.000200	8.519676	3.885972	selenocysteine insertion sequence binding
GO:1990715	0.000200	8.519676	3.885972	mRNA CDS binding
GO:0004045	0.000200	8.519676	3.945734	aminoacyl-tRNA hydrolase activity
GO:0080031	0.000200	8.519676	3.945734	methyl salicylate esterase activity
GO:0008879	0.000200	8.519676	3.967593	glucose-1-phosphate thymidylyltransferase activity
GO:0015292	0.000200	8.519676	4.032976	uniporter activity
GO:0004566	0.000200	8.519676	4.248495	beta-glucuronidase activity
GO:0019137	0.000200	8.519676	4.248495	thioglucosidase activity
GO:0052736	0.000200	8.519676	4.248495	beta-glucanase activity
GO:0008568	0.000200	8.519676	4.313671	microtubule-severing ATPase activity
GO:0004412	0.000200	8.519676	4.332611	homoserine dehydrogenase activity
GO:0008743	0.000200	8.519676	4.332611	L-threonine 3-dehydrogenase activity
GO:0030267	0.000200	8.519676	4.332611	glyoxylate reductase (NADP) activity
GO:0016900	0.000200	8.519676	4.454347	oxidoreductase activity, acting on the CH-OH group of donors, disulfide as acceptor
GO:0060228	0.000200	8.519676	4.482195	phosphatidylcholine-sterol O-acyltransferase activator activity
GO:0008955	0.000200	8.519676	4.534134	peptidoglycan glycosyltransferase activity
GO:0043750	0.000200	8.519676	4.534134	phosphatidylinositol alpha-mannosyltransferase activity
GO:0004949	0.000200	8.519676	4.556880	cannabinoid receptor activity
GO:0016503	0.000200	8.519676	4.556880	pheromone receptor activity
GO:0016520	0.000200	8.519676	4.556880	growth hormone-releasing hormone receptor activity
GO:0043136	0.000200	8.519676	4.629166	glycerol-3-phosphatase activity
GO:0098519	0.000200	8.519676	4.629166	nucleotide phosphatase activity, acting on free nucleotides
GO:0032093	0.000200	8.519676	4.722318	SAM domain binding
GO:0050733	0.000200	8.519676	4.722318	RS domain binding
GO:0051425	0.000200	8.519676	4.722318	PTB domain binding
GO:0055131	0.000200	8.519676	4.722318	C3HC4-type RING finger domain binding
GO:0070087	0.000200	8.519676	4.722318	chromo shadow domain binding
GO:0001082	0.000200	8.519676	4.765830	transcription factor activity, RNA polymerase I transcription factor binding
GO:0043856	0.000200	8.519676	4.765830	anti-sigma factor antagonist activity
GO:0030527	0.000200	8.519676	4.814505	structural constituent of chromatin
GO:0001179	0.000200	8.519676	4.846434	RNA polymerase I transcription factor binding
GO:0051525	0.000200	8.519676	4.846434	NFAT protein binding
GO:0031014	0.000200	8.519676	5.054424	troponin T binding
GO:0031433	0.000200	8.519676	5.054424	telethonin binding
GO:0043515	0.000200	8.519676	5.188981	kinetochore binding
GO:0001016	0.000200	8.519676	5.221899	RNA polymerase III regulatory region DNA binding
GO:0034056	0.000200	8.519676	5.221899	estrogen response element binding
GO:0032393	0.000200	8.519676	5.232635	MHC class I receptor activity
GO:0032395	0.000200	8.519676	5.232635	MHC class II receptor activity
GO:0016819	0.000200	8.519676	5.309681	hydrolase activity, acting on acid anhydrides, in sulfonyl-containing anhydrides
GO:0047696	0.000200	8.519676	5.382527	beta-adrenergic receptor kinase activity
GO:0004103	0.000200	8.519676	5.597893	choline kinase activity
GO:0004140	0.000200	8.519676	5.597893	dephospho-CoA kinase activity
GO:0008478	0.000200	8.519676	5.597893	pyridoxal kinase activity
GO:0008902	0.000200	8.519676	5.597893	hydroxymethylpyrimidine kinase activity
GO:0035299	0.000200	8.519676	5.597893	inositol pentakisphosphate 2-kinase activity
GO:0001515	0.000200	8.519676	5.656990	opioid peptide activity
GO:0038191	0.000200	8.519676	5.656990	neuropilin binding
GO:0070878	0.000200	8.519676	5.759803	primary miRNA binding
GO:1901702	0.000200	8.519676	5.845613	salt transmembrane transporter activity
GO:0035375	0.000200	8.519676	5.851381	zymogen binding
GO:0097163	0.000200	8.519676	5.886501	sulfur carrier activity
GO:0016781	0.000200	8.519676	5.939043	phosphotransferase activity, paired acceptors
GO:0030611	0.000200	8.519676	5.994318	arsenate reductase activity
GO:0030492	0.000200	8.519676	7.336937	hemoglobin binding
GO:0038100	0.000200	8.519676	7.336937	nodal binding
GO:0051021	0.000200	8.519676	7.336937	GDP-dissociation inhibitor binding
GO:0071253	0.000200	8.519676	7.336937	connexin binding
GO:0046905	0.000200	8.519676	7.752888	phytoene synthase activity
GO:0001186	0.000171	8.673827	0.000000	transcription factor activity, RNA polymerase I transcription factor recruiting
GO:0001225	0.000171	8.673827	0.000000	RNA polymerase II transcription coactivator binding
GO:0004134	0.000171	8.673827	0.000000	4-alpha-glucanotransferase activity
GO:0004314	0.000171	8.673827	0.000000	[acyl-carrier-protein] S-malonyltransferase activity
GO:0004316	0.000171	8.673827	0.000000	3-oxoacyl-[acyl-carrier-protein] reductase (NADPH) activity
GO:0004965	0.000171	8.673827	0.000000	G-protein coupled GABA receptor activity
GO:0005364	0.000171	8.673827	0.000000	maltose:proton symporter activity
GO:0005412	0.000171	8.673827	0.000000	glucose:sodium symporter activity
GO:0005415	0.000171	8.673827	0.000000	nucleoside:sodium symporter activity
GO:0005427	0.000171	8.673827	0.000000	proton-dependent oligopeptide secondary active transmembrane transporter activity
GO:0008427	0.000171	8.673827	0.000000	calcium-dependent protein kinase inhibitor activity
GO:0009383	0.000171	8.673827	0.000000	rRNA (cytosine-C5-)-methyltransferase activity
GO:0015121	0.000171	8.673827	0.000000	phosphoenolpyruvate:phosphate antiporter activity
GO:0015182	0.000171	8.673827	0.000000	L-asparagine transmembrane transporter activity
GO:0015221	0.000171	8.673827	0.000000	lipopolysaccharide transmembrane transporter activity
GO:0015315	0.000171	8.673827	0.000000	organophosphate:inorganic phosphate antiporter activity
GO:0015410	0.000171	8.673827	0.000000	manganese-transporting ATPase activity
GO:0015415	0.000171	8.673827	0.000000	phosphate ion transmembrane-transporting ATPase activity
GO:0016419	0.000171	8.673827	0.000000	S-malonyltransferase activity
GO:0034634	0.000171	8.673827	0.000000	glutathione transmembrane transporter activity
GO:0035615	0.000171	8.673827	0.000000	clathrin adaptor activity
GO:0043211	0.000171	8.673827	0.000000	carbohydrate-transporting ATPase activity
GO:0043798	0.000171	8.673827	0.000000	glycerate 2-kinase activity
GO:0045148	0.000171	8.673827	0.000000	tripeptide aminopeptidase activity
GO:0051740	0.000171	8.673827	0.000000	ethylene binding
GO:0071862	0.000171	8.673827	0.000000	protein phosphatase type 1 activator activity
GO:0098639	0.000171	8.673827	0.000000	collagen binding involved in cell-matrix adhesion
GO:1990269	0.000171	8.673827	0.000000	RNA polymerase II C-terminal domain phosphoserine binding
GO:0008475	0.000171	8.673827	0.154151	procollagen-lysine 5-dioxygenase activity
GO:0016418	0.000171	8.673827	0.154151	S-acetyltransferase activity
GO:0017005	0.000171	8.673827	0.154151	3'-tyrosyl-DNA phosphodiesterase activity
GO:0030345	0.000171	8.673827	0.154151	structural constituent of tooth enamel
GO:0030375	0.000171	8.673827	0.154151	thyroid hormone receptor coactivator activity
GO:0031405	0.000171	8.673827	0.154151	lipoic acid binding
GO:0033946	0.000171	8.673827	0.154151	xyloglucan-specific endo-beta-1,4-glucanase activity
GO:0036397	0.000171	8.673827	0.154151	formate dehydrogenase (quinone) activity
GO:0046970	0.000171	8.673827	0.154151	NAD-dependent histone deacetylase activity (H4-K16 specific)
GO:0047057	0.000171	8.673827	0.154151	vitamin-K-epoxide reductase (warfarin-sensitive) activity
GO:0051022	0.000171	8.673827	0.154151	Rho GDP-dissociation inhibitor binding
GO:0051908	0.000171	8.673827	0.154151	double-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0001169	0.000171	8.673827	0.287682	transcription factor activity, RNA polymerase I CORE element sequence-specific binding
GO:0002060	0.000171	8.673827	0.287682	purine nucleobase binding
GO:0015230	0.000171	8.673827	0.287682	FAD transmembrane transporter activity
GO:1990446	0.000171	8.673827	0.287682	U1 snRNP binding
GO:0001156	0.000171	8.673827	0.405465	TFIIIC-class transcription factor binding
GO:0004905	0.000171	8.673827	0.405465	type I interferon receptor activity
GO:0015200	0.000171	8.673827	0.405465	methylammonium transmembrane transporter activity
GO:0035516	0.000171	8.673827	0.405465	oxidative DNA demethylase activity
GO:0047756	0.000171	8.673827	0.405465	chondroitin 4-sulfotransferase activity
GO:0004948	0.000171	8.673827	0.510826	calcitonin receptor activity
GO:0005457	0.000171	8.673827	0.510826	GDP-fucose transmembrane transporter activity
GO:0008193	0.000171	8.673827	0.510826	tRNA guanylyltransferase activity
GO:0015322	0.000171	8.673827	0.510826	secondary active oligopeptide transmembrane transporter activity
GO:0015620	0.000171	8.673827	0.510826	ferric-enterobactin transmembrane transporter activity
GO:0001602	0.000171	8.673827	0.606136	pancreatic polypeptide receptor activity
GO:0003904	0.000171	8.673827	0.606136	deoxyribodipyrimidine photo-lyase activity
GO:0008126	0.000171	8.673827	0.606136	acetylesterase activity
GO:0008990	0.000171	8.673827	0.606136	rRNA (guanine-N2-)-methyltransferase activity
GO:0050368	0.000171	8.673827	0.606136	tyrosine 2,3-aminomutase activity
GO:0060698	0.000171	8.673827	0.606136	endoribonuclease inhibitor activity
GO:0000824	0.000171	8.673827	0.693147	inositol tetrakisphosphate 3-kinase activity
GO:0004854	0.000171	8.673827	0.693147	xanthine dehydrogenase activity
GO:0010328	0.000171	8.673827	0.693147	auxin influx transmembrane transporter activity
GO:0015136	0.000171	8.673827	0.693147	sialic acid transmembrane transporter activity
GO:0047325	0.000171	8.673827	0.693147	inositol tetrakisphosphate 1-kinase activity
GO:0048248	0.000171	8.673827	0.693147	CXCR3 chemokine receptor binding
GO:0003865	0.000171	8.673827	0.773190	3-oxo-5-alpha-steroid 4-dehydrogenase activity
GO:0015222	0.000171	8.673827	0.773190	serotonin transmembrane transporter activity
GO:0015391	0.000171	8.673827	0.773190	nucleobase:cation symporter activity
GO:0015433	0.000171	8.673827	0.773190	peptide antigen-transporting ATPase activity
GO:0033550	0.000171	8.673827	0.773190	MAP kinase tyrosine phosphatase activity
GO:0001641	0.000171	8.673827	0.847298	group II metabotropic glutamate receptor activity
GO:0004641	0.000171	8.673827	0.847298	phosphoribosylformylglycinamidine cyclo-ligase activity
GO:0005462	0.000171	8.673827	0.847298	UDP-N-acetylglucosamine transmembrane transporter activity
GO:0016401	0.000171	8.673827	0.847298	palmitoyl-CoA oxidase activity
GO:0017089	0.000171	8.673827	0.847298	glycolipid transporter activity
GO:0043865	0.000171	8.673827	0.847298	methionine transmembrane transporter activity
GO:0097200	0.000171	8.673827	0.847298	cysteine-type endopeptidase activity involved in execution phase of apoptosis
GO:0004662	0.000171	8.673827	0.916291	CAAX-protein geranylgeranyltransferase activity
GO:0015192	0.000171	8.673827	0.916291	L-phenylalanine transmembrane transporter activity
GO:0070736	0.000171	8.673827	0.916291	protein-glycine ligase activity, initiating
GO:0005294	0.000171	8.673827	0.980829	neutral L-amino acid secondary active transmembrane transporter activity
GO:0005025	0.000171	8.673827	1.041454	transforming growth factor beta receptor activity, type I
GO:0005550	0.000171	8.673827	1.041454	pheromone binding
GO:0016966	0.000171	8.673827	1.041454	nitric oxide reductase activity
GO:0004591	0.000171	8.673827	1.098612	oxoglutarate dehydrogenase (succinyl-transferring) activity
GO:0008260	0.000171	8.673827	1.098612	3-oxoacid CoA-transferase activity
GO:0008511	0.000171	8.673827	1.098612	sodium:potassium:chloride symporter activity
GO:0019707	0.000171	8.673827	1.098612	protein-cysteine S-acyltransferase activity
GO:0030523	0.000171	8.673827	1.098612	dihydrolipoamide S-acyltransferase activity
GO:0044020	0.000171	8.673827	1.098612	histone methyltransferase activity (H4-R3 specific)
GO:0071723	0.000171	8.673827	1.098612	lipopeptide binding
GO:0003720	0.000171	8.673827	1.152680	telomerase activity
GO:0034040	0.000171	8.673827	1.152680	lipid-transporting ATPase activity
GO:0051380	0.000171	8.673827	1.152680	norepinephrine binding
GO:0004531	0.000171	8.673827	1.252763	deoxyribonuclease II activity
GO:0004788	0.000171	8.673827	1.252763	thiamine diphosphokinase activity
GO:0033699	0.000171	8.673827	1.252763	DNA 5'-adenosine monophosphate hydrolase activity
GO:0044374	0.000171	8.673827	1.252763	sequence-specific DNA binding, bending
GO:0004018	0.000171	8.673827	1.299283	N6-(1,2-dicarboxyethyl)AMP AMP-lyase (fumarate-forming) activity
GO:0016509	0.000171	8.673827	1.299283	long-chain-3-hydroxyacyl-CoA dehydrogenase activity
GO:0003838	0.000171	8.673827	1.343735	sterol 24-C-methyltransferase activity
GO:0004142	0.000171	8.673827	1.343735	diacylglycerol cholinephosphotransferase activity
GO:0004996	0.000171	8.673827	1.343735	thyroid-stimulating hormone receptor activity
GO:0008444	0.000171	8.673827	1.343735	CDP-diacylglycerol-glycerol-3-phosphate 3-phosphatidyltransferase activity
GO:0001093	0.000171	8.673827	1.386294	TFIIB-class transcription factor binding
GO:0015016	0.000171	8.673827	1.386294	[heparan sulfate]-glucosamine N-sulfotransferase activity
GO:0031694	0.000171	8.673827	1.427116	alpha-2A adrenergic receptor binding
GO:0044736	0.000171	8.673827	1.427116	acid-sensing ion channel activity
GO:0070330	0.000171	8.673827	1.427116	aromatase activity
GO:0005105	0.000171	8.673827	1.504077	type 1 fibroblast growth factor receptor binding
GO:0005111	0.000171	8.673827	1.504077	type 2 fibroblast growth factor receptor binding
GO:0016286	0.000171	8.673827	1.504077	small conductance calcium-activated potassium channel activity
GO:0030229	0.000171	8.673827	1.504077	very-low-density lipoprotein particle receptor activity
GO:0031727	0.000171	8.673827	1.504077	CCR2 chemokine receptor binding
GO:0031731	0.000171	8.673827	1.504077	CCR6 chemokine receptor binding
GO:0080084	0.000171	8.673827	1.540445	5S rDNA binding
GO:0004066	0.000171	8.673827	1.642228	asparagine synthase (glutamine-hydrolyzing) activity
GO:0004642	0.000171	8.673827	1.642228	phosphoribosylformylglycinamidine synthase activity
GO:0052811	0.000171	8.673827	1.642228	1-phosphatidylinositol-3-phosphate 4-kinase activity
GO:0052851	0.000171	8.673827	1.642228	ferric-chelate reductase (NADPH) activity
GO:0034432	0.000171	8.673827	1.673976	bis(5'-adenosyl)-pentaphosphatase activity
GO:0004849	0.000171	8.673827	1.704748	uridine kinase activity
GO:0047334	0.000171	8.673827	1.734601	diphosphate-fructose-6-phosphate 1-phosphotransferase activity
GO:0004644	0.000171	8.673827	1.763589	phosphoribosylglycinamide formyltransferase activity
GO:0008396	0.000171	8.673827	1.763589	oxysterol 7-alpha-hydroxylase activity
GO:0030628	0.000171	8.673827	1.763589	pre-mRNA 3'-splice site binding
GO:0035870	0.000171	8.673827	1.763589	dITP diphosphatase activity
GO:0016277	0.000171	8.673827	1.791759	[myelin basic protein]-arginine N-methyltransferase activity
GO:0035515	0.000171	8.673827	1.791759	oxidative RNA demethylase activity
GO:0031403	0.000171	8.673827	1.819158	lithium ion binding
GO:0042907	0.000171	8.673827	1.819158	xanthine transmembrane transporter activity
GO:0071936	0.000171	8.673827	1.845827	coreceptor activity involved in Wnt signaling pathway
GO:0008721	0.000171	8.673827	1.871802	D-serine ammonia-lyase activity
GO:0004157	0.000171	8.673827	1.921813	dihydropyrimidinase activity
GO:0001128	0.000171	8.673827	1.969441	RNA polymerase II transcription coactivator activity involved in preinitiation complex assembly
GO:0042500	0.000171	8.673827	1.969441	aspartic endopeptidase activity, intramembrane cleaving
GO:0051724	0.000171	8.673827	1.992430	NAD transporter activity
GO:0004769	0.000171	8.673827	2.014903	steroid delta-isomerase activity
GO:0008802	0.000171	8.673827	2.036882	betaine-aldehyde dehydrogenase activity
GO:0018479	0.000171	8.673827	2.036882	benzaldehyde dehydrogenase (NAD+) activity
GO:0045503	0.000171	8.673827	2.079442	dynein light chain binding
GO:0016287	0.000171	8.673827	2.100061	glycerone-phosphate O-acyltransferase activity
GO:0004686	0.000171	8.673827	2.120264	elongation factor-2 kinase activity
GO:0004689	0.000171	8.673827	2.120264	phosphorylase kinase activity
GO:0047216	0.000171	8.673827	2.178532	inositol 3-alpha-galactosyltransferase activity
GO:0047238	0.000171	8.673827	2.178532	glucuronosyl-N-acetylgalactosaminyl-proteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0003839	0.000171	8.673827	2.251292	gamma-glutamylcyclotransferase activity
GO:0004720	0.000171	8.673827	2.251292	protein-lysine 6-oxidase activity
GO:0004733	0.000171	8.673827	2.251292	pyridoxamine-phosphate oxidase activity
GO:0015922	0.000171	8.673827	2.251292	aspartate oxidase activity
GO:0052597	0.000171	8.673827	2.251292	diamine oxidase activity
GO:0001108	0.000171	8.673827	2.268684	bacterial-type RNA polymerase holo enzyme binding
GO:0000700	0.000171	8.673827	2.285778	mismatch base pair DNA N-glycosylase activity
GO:0080083	0.000171	8.673827	2.285778	beta-gentiobiose beta-glucosidase activity
GO:0015018	0.000171	8.673827	2.302585	galactosylgalactosylxylosylprotein 3-beta-glucuronosyltransferase activity
GO:0008761	0.000171	8.673827	2.319114	UDP-N-acetylglucosamine 2-epimerase activity
GO:0008830	0.000171	8.673827	2.319114	dTDP-4-dehydrorhamnose 3,5-epimerase activity
GO:0071074	0.000171	8.673827	2.319114	eukaryotic initiation factor eIF2 binding
GO:0001069	0.000171	8.673827	2.335375	regulatory region RNA binding
GO:0004793	0.000171	8.673827	2.335375	threonine aldolase activity
GO:0015214	0.000171	8.673827	2.335375	pyrimidine nucleoside transmembrane transporter activity
GO:0030020	0.000171	8.673827	2.335375	extracellular matrix structural constituent conferring tensile strength
GO:0031841	0.000171	8.673827	2.335375	neuropeptide Y receptor binding
GO:0003960	0.000171	8.673827	2.351375	NADPH:quinone reductase activity
GO:0004604	0.000171	8.673827	2.351375	phosphoadenylyl-sulfate reductase (thioredoxin) activity
GO:0019153	0.000171	8.673827	2.351375	protein-disulfide reductase (glutathione) activity
GO:0033744	0.000171	8.673827	2.351375	L-methionine:thioredoxin-disulfide S-oxidoreductase activity
GO:0008935	0.000171	8.673827	2.367124	1,4-dihydroxy-2-naphthoyl-CoA synthase activity
GO:0004640	0.000171	8.673827	2.382628	phosphoribosylanthranilate isomerase activity
GO:0055100	0.000171	8.673827	2.382628	adiponectin binding
GO:0009000	0.000171	8.673827	2.397895	selenocysteine lyase activity
GO:0047869	0.000171	8.673827	2.397895	dimethylpropiothetin dethiomethylase activity
GO:0003842	0.000171	8.673827	2.470920	1-pyrroline-5-carboxylate dehydrogenase activity
GO:0004488	0.000171	8.673827	2.470920	methylenetetrahydrofolate dehydrogenase (NADP+) activity
GO:0052873	0.000171	8.673827	2.470920	FMN reductase (NADPH) activity
GO:0042781	0.000171	8.673827	2.484907	3'-tRNA processing endoribonuclease activity
GO:0019531	0.000171	8.673827	2.512306	oxalate transmembrane transporter activity
GO:0008532	0.000171	8.673827	2.525729	N-acetyllactosaminide beta-1,3-N-acetylglucosaminyltransferase activity
GO:0050145	0.000171	8.673827	2.552046	nucleoside phosphate kinase activity
GO:0034458	0.000171	8.673827	2.564949	3'-5' RNA helicase activity
GO:0035276	0.000171	8.673827	2.602690	ethanol binding
GO:0043533	0.000171	8.673827	2.602690	inositol 1,3,4,5 tetrakisphosphate binding
GO:0004828	0.000171	8.673827	2.639057	serine-tRNA ligase activity
GO:0003856	0.000171	8.673827	2.685577	3-dehydroquinate synthase activity
GO:0003874	0.000171	8.673827	2.685577	6-pyruvoyltetrahydropterin synthase activity
GO:0003975	0.000171	8.673827	2.719100	UDP-N-acetylglucosamine-dolichyl-phosphate N-acetylglucosaminephosphotransferase activity
GO:0033188	0.000171	8.673827	2.719100	sphingomyelin synthase activity
GO:0051377	0.000171	8.673827	2.719100	mannose-ethanolamine phosphotransferase activity
GO:0018738	0.000171	8.673827	2.740840	S-formylglutathione hydrolase activity
GO:0008878	0.000171	8.673827	2.782952	glucose-1-phosphate adenylyltransferase activity
GO:0015930	0.000171	8.673827	2.803360	glutamate synthase activity
GO:0005009	0.000171	8.673827	2.813411	insulin-activated receptor activity
GO:0045127	0.000171	8.673827	2.833213	N-acetylglucosamine kinase activity
GO:0004639	0.000171	8.673827	2.842970	phosphoribosylaminoimidazolesuccinocarboxamide synthase activity
GO:1990932	0.000171	8.673827	2.852631	5.8S rRNA binding
GO:0004704	0.000171	8.673827	2.881069	NF-kappaB-inducing kinase activity
GO:0008349	0.000171	8.673827	2.881069	MAP kinase kinase kinase kinase activity
GO:0008476	0.000171	8.673827	2.890372	protein-tyrosine sulfotransferase activity
GO:0050294	0.000171	8.673827	2.890372	steroid sulfotransferase activity
GO:0008670	0.000171	8.673827	2.899588	2,4-dienoyl-CoA reductase (NADPH) activity
GO:0017113	0.000171	8.673827	2.899588	dihydropyrimidine dehydrogenase (NADP+) activity
GO:0050613	0.000171	8.673827	2.899588	delta14-sterol reductase activity
GO:0003834	0.000171	8.673827	2.908721	beta-carotene 15,15'-monooxygenase activity
GO:0004411	0.000171	8.673827	2.908721	homogentisate 1,2-dioxygenase activity
GO:0004911	0.000171	8.673827	2.908721	interleukin-2 receptor activity
GO:0033754	0.000171	8.673827	2.908721	indoleamine 2,3-dioxygenase activity
GO:0043734	0.000171	8.673827	2.926739	DNA-N1-methyladenine dioxygenase activity
GO:0070061	0.000171	8.673827	2.926739	fructose binding
GO:0086008	0.000171	8.673827	2.995732	voltage-gated potassium channel activity involved in cardiac muscle cell action potential repolarization
GO:0017162	0.000171	8.673827	3.004031	aryl hydrocarbon receptor binding
GO:0052856	0.000171	8.673827	3.004031	NADHX epimerase activity
GO:0008120	0.000171	8.673827	3.098590	ceramide glucosyltransferase activity
GO:0008466	0.000171	8.673827	3.098590	glycogenin glucosyltransferase activity
GO:0015666	0.000171	8.673827	3.164068	restriction endodeoxyribonuclease activity
GO:0032977	0.000171	8.673827	3.171085	membrane insertase activity
GO:0042954	0.000171	8.673827	3.171085	lipoprotein transporter activity
GO:0033170	0.000171	8.673827	3.232121	protein-DNA loading ATPase activity
GO:0033676	0.000171	8.673827	3.232121	double-stranded DNA-dependent ATPase activity
GO:0008084	0.000171	8.673827	3.251666	imaginal disc growth factor receptor binding
GO:0004042	0.000171	8.673827	3.258097	acetyl-CoA:L-glutamate N-acetyltransferase activity
GO:0004343	0.000171	8.673827	3.258097	glucosamine 6-phosphate N-acetyltransferase activity
GO:0008613	0.000171	8.673827	3.264486	diuretic hormone activity
GO:0036009	0.000171	8.673827	3.264486	protein-glutamine N-methyltransferase activity
GO:0047086	0.000171	8.673827	3.283414	ketosteroid monooxygenase activity
GO:0004777	0.000171	8.673827	3.301991	succinate-semialdehyde dehydrogenase (NAD+) activity
GO:0009013	0.000171	8.673827	3.301991	succinate-semialdehyde dehydrogenase [NAD(P)+] activity
GO:0033721	0.000171	8.673827	3.301991	aldehyde dehydrogenase (NADP+) activity
GO:0047110	0.000171	8.673827	3.301991	phenylglyoxylate dehydrogenase (acylating) activity
GO:0004516	0.000171	8.673827	3.314186	nicotinate phosphoribosyltransferase activity
GO:0047280	0.000171	8.673827	3.314186	nicotinamide phosphoribosyltransferase activity
GO:0052636	0.000171	8.673827	3.314186	arabinosyltransferase activity
GO:0004633	0.000171	8.673827	3.406738	phosphopantothenoylcysteine decarboxylase activity
GO:0008792	0.000171	8.673827	3.406738	arginine decarboxylase activity
GO:0050545	0.000171	8.673827	3.406738	sulfopyruvate decarboxylase activity
GO:0090447	0.000171	8.673827	3.406738	glycerol-3-phosphate 2-O-acyltransferase activity
GO:0061629	0.000171	8.673827	3.465736	RNA polymerase II sequence-specific DNA binding transcription factor binding
GO:0016168	0.000171	8.673827	3.491444	chlorophyll binding
GO:0003959	0.000171	8.673827	3.545779	NADPH dehydrogenase activity
GO:0008241	0.000171	8.673827	3.560099	peptidyl-dipeptidase activity
GO:0034701	0.000171	8.673827	3.560099	tripeptidase activity
GO:0017174	0.000171	8.673827	3.578879	glycine N-methyltransferase activity
GO:0047391	0.000171	8.673827	3.601868	alkylglycerophosphoethanolamine phosphodiesterase activity
GO:0003883	0.000171	8.673827	3.615412	CTP synthase activity
GO:0004055	0.000171	8.673827	3.615412	argininosuccinate synthase activity
GO:0004637	0.000171	8.673827	3.615412	phosphoribosylamine-glycine ligase activity
GO:0004942	0.000171	8.673827	3.637586	anaphylatoxin receptor activity
GO:0004962	0.000171	8.673827	3.637586	endothelin receptor activity
GO:0016636	0.000171	8.673827	3.659279	oxidoreductase activity, acting on the CH-CH group of donors, iron-sulfur protein as acceptor
GO:0008936	0.000171	8.673827	3.733693	nicotinamidase activity
GO:0042586	0.000171	8.673827	3.733693	peptide deformylase activity
GO:0004156	0.000171	8.673827	3.874667	dihydropteroate synthase activity
GO:0004746	0.000171	8.673827	3.874667	riboflavin synthase activity
GO:0033850	0.000171	8.673827	3.874667	Z-farnesyl diphosphate synthase activity
GO:0050314	0.000171	8.673827	3.874667	sym-norspermidine synthase activity
GO:0005146	0.000171	8.673827	3.948033	leukemia inhibitory factor receptor binding
GO:0019002	0.000171	8.673827	3.960813	GMP binding
GO:0008840	0.000171	8.673827	3.998201	4-hydroxy-tetrahydrodipicolinate synthase
GO:0016508	0.000171	8.673827	3.998201	long-chain-enoyl-CoA hydratase activity
GO:0031762	0.000171	8.673827	4.054679	follicle-stimulating hormone receptor binding
GO:0031849	0.000171	8.673827	4.054679	olfactory receptor binding
GO:0008330	0.000171	8.673827	4.057565	protein tyrosine/threonine phosphatase activity
GO:0080032	0.000171	8.673827	4.099885	methyl jasmonate esterase activity
GO:0030735	0.000171	8.673827	4.288174	carnosine N-methyltransferase activity
GO:0033907	0.000171	8.673827	4.402646	beta-D-fucosidase activity
GO:1901611	0.000171	8.673827	4.402646	phosphatidylglycerol binding
GO:0042284	0.000171	8.673827	4.432799	sphingolipid delta-4 desaturase activity
GO:0080107	0.000171	8.673827	4.432799	8-methylthiopropyl glucosinolate S-oxygenase activity
GO:0030899	0.000171	8.673827	4.467822	calcium-dependent ATPase activity
GO:0000253	0.000171	8.673827	4.486762	3-keto sterol reductase activity
GO:0003858	0.000171	8.673827	4.486762	3-hydroxybutyrate dehydrogenase activity
GO:0003862	0.000171	8.673827	4.486762	3-isopropylmalate dehydrogenase activity
GO:0047936	0.000171	8.673827	4.486762	glucose 1-dehydrogenase [NAD(P)] activity
GO:0050038	0.000171	8.673827	4.486762	L-xylulose reductase (NADP+) activity
GO:0050577	0.000171	8.673827	4.486762	GDP-L-fucose synthase activity
GO:0051903	0.000171	8.673827	4.486762	S-(hydroxymethyl)glutathione dehydrogenase activity
GO:0004047	0.000171	8.673827	4.571269	aminomethyltransferase activity
GO:0016898	0.000171	8.673827	4.608498	oxidoreductase activity, acting on the CH-OH group of donors, cytochrome as acceptor
GO:0031320	0.000171	8.673827	4.608498	hexitol dehydrogenase activity
GO:0047545	0.000171	8.673827	4.608498	2-hydroxyglutarate dehydrogenase activity
GO:0004991	0.000171	8.673827	4.711031	parathyroid hormone receptor activity
GO:0004401	0.000171	8.673827	4.783316	histidinol-phosphatase activity
GO:0004741	0.000171	8.673827	4.783316	[pyruvate dehydrogenase (lipoamide)] phosphatase activity
GO:0008962	0.000171	8.673827	4.783316	phosphatidylglycerophosphatase activity
GO:0008969	0.000171	8.673827	4.783316	phosphohistidine phosphatase activity
GO:0042577	0.000171	8.673827	4.783316	lipid phosphatase activity
GO:0030911	0.000171	8.673827	4.876469	TPR domain binding
GO:0035877	0.000171	8.673827	4.876469	death effector domain binding
GO:0071987	0.000171	8.673827	4.876469	WD40-repeat domain binding
GO:0005213	0.000171	8.673827	4.968655	structural constituent of chorion
GO:0042302	0.000171	8.673827	4.968655	structural constituent of cuticle
GO:0004677	0.000171	8.673827	5.048787	DNA-dependent protein kinase activity
GO:0005519	0.000171	8.673827	5.208575	cytoskeletal regulatory protein binding
GO:0043273	0.000171	8.673827	5.334328	CTPase activity
GO:0070840	0.000171	8.673827	5.343131	dynein complex binding
GO:0001847	0.000171	8.673827	5.386786	opsonin receptor activity
GO:0004875	0.000171	8.673827	5.386786	complement receptor activity
GO:0005042	0.000171	8.673827	5.386786	netrin receptor activity
GO:0008158	0.000171	8.673827	5.386786	hedgehog receptor activity
GO:0038064	0.000171	8.673827	5.386786	collagen receptor activity
GO:0035033	0.000171	8.673827	5.451038	histone deacetylase regulator activity
GO:0004309	0.000171	8.673827	5.453896	exopolyphosphatase activity
GO:0019144	0.000171	8.673827	5.453896	ADP-sugar diphosphatase activity
GO:0003998	0.000171	8.673827	5.460294	acylphosphatase activity
GO:0038181	0.000171	8.673827	5.538646	bile acid receptor activity
GO:0046871	0.000171	8.673827	5.584123	N-acetylgalactosamine binding
GO:0004370	0.000171	8.673827	5.752043	glycerol kinase activity
GO:0043125	0.000171	8.673827	5.811141	ErbB-3 class receptor binding
GO:0017077	0.000171	8.673827	5.999763	oxidative phosphorylation uncoupler activity
GO:1990226	0.000171	8.673827	6.005532	histone methyltransferase binding
GO:0030613	0.000171	8.673827	6.148468	oxidoreductase activity, acting on phosphorus or arsenic in donors
GO:0070576	0.000171	8.673827	6.148468	vitamin D 24-hydroxylase activity
GO:0003923	0.000171	8.673827	6.841972	GPI-anchor transamidase activity
GO:0005483	0.000171	8.673827	7.491088	soluble NSF attachment protein activity
GO:0061676	0.000171	8.673827	7.491088	importin-alpha family protein binding
GO:0008907	0.000171	8.673827	7.907038	integrase activity
GO:0009009	0.000171	8.673827	7.907038	site-specific recombinase activity
GO:0019808	0.000171	8.673827	8.041413	polyamine binding
GO:0046848	0.000171	8.673827	8.041413	hydroxyapatite binding
GO:0072328	0.000171	8.673827	8.041413	alkene binding
GO:0000095	0.000143	8.856148	0.000000	S-adenosyl-L-methionine transmembrane transporter activity
GO:0001030	0.000143	8.856148	0.000000	RNA polymerase III type 1 promoter DNA binding
GO:0001141	0.000143	8.856148	0.000000	transcriptional repressor activity, bacterial-type RNA polymerase core promoter proximal region sequence-specific binding
GO:0001187	0.000143	8.856148	0.000000	transcription factor activity, RNA polymerase I CORE element binding transcription factor recruiting
GO:0001226	0.000143	8.856148	0.000000	RNA polymerase II transcription corepressor binding
GO:0003871	0.000143	8.856148	0.000000	5-methyltetrahydropteroyltriglutamate-homocysteine S-methyltransferase activity
GO:0004092	0.000143	8.856148	0.000000	carnitine O-acetyltransferase activity
GO:0004174	0.000143	8.856148	0.000000	electron-transferring-flavoprotein dehydrogenase activity
GO:0004298	0.000143	8.856148	0.000000	threonine-type endopeptidase activity
GO:0004375	0.000143	8.856148	0.000000	glycine dehydrogenase (decarboxylating) activity
GO:0004377	0.000143	8.856148	0.000000	GDP-Man:Man3GlcNAc2-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0004483	0.000143	8.856148	0.000000	mRNA (nucleoside-2'-O-)-methyltransferase activity
GO:0004742	0.000143	8.856148	0.000000	dihydrolipoyllysine-residue acetyltransferase activity
GO:0004932	0.000143	8.856148	0.000000	mating-type factor pheromone receptor activity
GO:0005274	0.000143	8.856148	0.000000	allantoin uptake transmembrane transporter activity
GO:0005280	0.000143	8.856148	0.000000	hydrogen:amino acid symporter activity
GO:0005328	0.000143	8.856148	0.000000	neurotransmitter:sodium symporter activity
GO:0005332	0.000143	8.856148	0.000000	gamma-aminobutyric acid:sodium symporter activity
GO:0008068	0.000143	8.856148	0.000000	extracellular-glutamate-gated chloride channel activity
GO:0008121	0.000143	8.856148	0.000000	ubiquinol-cytochrome-c reductase activity
GO:0008445	0.000143	8.856148	0.000000	D-aspartate oxidase activity
GO:0008508	0.000143	8.856148	0.000000	bile acid:sodium symporter activity
GO:0008520	0.000143	8.856148	0.000000	L-ascorbate:sodium symporter activity
GO:0008650	0.000143	8.856148	0.000000	rRNA (uridine-2'-O-)-methyltransferase activity
GO:0008657	0.000143	8.856148	0.000000	DNA topoisomerase (ATP-hydrolyzing) inhibitor activity
GO:0015065	0.000143	8.856148	0.000000	uridine nucleotide receptor activity
GO:0015169	0.000143	8.856148	0.000000	glycerol-3-phosphate transmembrane transporter activity
GO:0015191	0.000143	8.856148	0.000000	L-methionine transmembrane transporter activity
GO:0015421	0.000143	8.856148	0.000000	oligopeptide-transporting ATPase activity
GO:0015432	0.000143	8.856148	0.000000	bile acid-exporting ATPase activity
GO:0015437	0.000143	8.856148	0.000000	lipopolysaccharide-transporting ATPase activity
GO:0015501	0.000143	8.856148	0.000000	glutamate:sodium symporter activity
GO:0015526	0.000143	8.856148	0.000000	hexose-phosphate:inorganic phosphate antiporter activity
GO:0015594	0.000143	8.856148	0.000000	putrescine-importing ATPase activity
GO:0016212	0.000143	8.856148	0.000000	kynurenine-oxoglutarate transaminase activity
GO:0019120	0.000143	8.856148	0.000000	hydrolase activity, acting on acid halide bonds, in C-halide compounds
GO:0019706	0.000143	8.856148	0.000000	protein-cysteine S-palmitoyltransferase activity
GO:0030343	0.000143	8.856148	0.000000	vitamin D3 25-hydroxylase activity
GO:0032037	0.000143	8.856148	0.000000	myosin I heavy chain binding
GO:0032357	0.000143	8.856148	0.000000	oxidized purine DNA binding
GO:0032841	0.000143	8.856148	0.000000	calcitonin binding
GO:0033164	0.000143	8.856148	0.000000	glycolipid 6-alpha-mannosyltransferase activity
GO:0034632	0.000143	8.856148	0.000000	retinol transporter activity
GO:0034875	0.000143	8.856148	0.000000	caffeine oxidase activity
GO:0035727	0.000143	8.856148	0.000000	lysophosphatidic acid binding
GO:0043682	0.000143	8.856148	0.000000	copper-transporting ATPase activity
GO:0045181	0.000143	8.856148	0.000000	glutamate synthase activity, NAD(P)H as acceptor
GO:0046969	0.000143	8.856148	0.000000	NAD-dependent histone deacetylase activity (H3-K9 specific)
GO:0050583	0.000143	8.856148	0.000000	hydrogen dehydrogenase (NADP+) activity
GO:0070968	0.000143	8.856148	0.000000	pyrroloquinoline quinone binding
GO:0071992	0.000143	8.856148	0.000000	phytochelatin transmembrane transporter activity
GO:0097001	0.000143	8.856148	0.000000	ceramide binding
GO:0004413	0.000143	8.856148	0.182322	homoserine kinase activity
GO:0004458	0.000143	8.856148	0.182322	D-lactate dehydrogenase (cytochrome) activity
GO:0015213	0.000143	8.856148	0.182322	uridine transmembrane transporter activity
GO:0030614	0.000143	8.856148	0.182322	oxidoreductase activity, acting on phosphorus or arsenic in donors, disulfide as acceptor
GO:0030882	0.000143	8.856148	0.182322	lipid antigen binding
GO:0034986	0.000143	8.856148	0.182322	iron chaperone activity
GO:0042279	0.000143	8.856148	0.182322	nitrite reductase (cytochrome, ammonia-forming) activity
GO:1901612	0.000143	8.856148	0.182322	cardiolipin binding
GO:0005358	0.000143	8.856148	0.336472	high-affinity hydrogen:glucose symporter activity
GO:0031708	0.000143	8.856148	0.336472	endothelin B receptor binding
GO:0034639	0.000143	8.856148	0.336472	L-amino acid efflux transmembrane transporter activity
GO:1902271	0.000143	8.856148	0.336472	D3 vitamins binding
GO:0004500	0.000143	8.856148	0.470004	dopamine beta-monooxygenase activity
GO:0008271	0.000143	8.856148	0.470004	secondary active sulfate transmembrane transporter activity
GO:0008891	0.000143	8.856148	0.470004	glycolate oxidase activity
GO:0031781	0.000143	8.856148	0.470004	type 3 melanocortin receptor binding
GO:0034191	0.000143	8.856148	0.470004	apolipoprotein A-I receptor binding
GO:0000248	0.000143	8.856148	0.587787	C-5 sterol desaturase activity
GO:0000249	0.000143	8.856148	0.587787	C-22 sterol desaturase activity
GO:0004081	0.000143	8.856148	0.587787	bis(5'-nucleosyl)-tetraphosphatase (asymmetrical) activity
GO:0004940	0.000143	8.856148	0.587787	beta1-adrenergic receptor activity
GO:0008750	0.000143	8.856148	0.587787	NAD(P)+ transhydrogenase (AB-specific) activity
GO:0019770	0.000143	8.856148	0.587787	IgG receptor activity
GO:0048408	0.000143	8.856148	0.587787	epidermal growth factor binding
GO:0001729	0.000143	8.856148	0.693147	ceramide kinase activity
GO:0004484	0.000143	8.856148	0.693147	mRNA guanylyltransferase activity
GO:0005458	0.000143	8.856148	0.693147	GDP-mannose transmembrane transporter activity
GO:0016696	0.000143	8.856148	0.693147	oxidoreductase activity, acting on hydrogen as donor, NAD or NADP as acceptor
GO:0019834	0.000143	8.856148	0.693147	phospholipase A2 inhibitor activity
GO:0051732	0.000143	8.856148	0.693147	polyribonucleotide kinase activity
GO:0051733	0.000143	8.856148	0.693147	polydeoxyribonucleotide kinase activity
GO:0071553	0.000143	8.856148	0.693147	G-protein coupled pyrimidinergic nucleotide receptor activity
GO:0080061	0.000143	8.856148	0.693147	indole-3-acetonitrile nitrilase activity
GO:0008386	0.000143	8.856148	0.788457	cholesterol monooxygenase (side-chain-cleaving) activity
GO:0008989	0.000143	8.856148	0.788457	rRNA (guanine-N1-)-methyltransferase activity
GO:0018488	0.000143	8.856148	0.788457	aryl-aldehyde oxidase activity
GO:0015128	0.000143	8.856148	0.875469	gluconate transmembrane transporter activity
GO:0015190	0.000143	8.856148	0.875469	L-leucine transmembrane transporter activity
GO:0035402	0.000143	8.856148	0.875469	histone kinase activity (H3-T11 specific)
GO:0046403	0.000143	8.856148	0.875469	polynucleotide 3'-phosphatase activity
GO:0050138	0.000143	8.856148	0.875469	nicotinate dehydrogenase activity
GO:0050656	0.000143	8.856148	0.875469	3'-phosphoadenosine 5'-phosphosulfate binding
GO:0070967	0.000143	8.856148	0.875469	coenzyme F420 binding
GO:0072354	0.000143	8.856148	0.875469	histone kinase activity (H3-T3 specific)
GO:0016316	0.000143	8.856148	0.955511	phosphatidylinositol-3,4-bisphosphate 4-phosphatase activity
GO:0035662	0.000143	8.856148	0.955511	Toll-like receptor 4 binding
GO:0035663	0.000143	8.856148	0.955511	Toll-like receptor 2 binding
GO:0050338	0.000143	8.856148	0.955511	thiosulfate dehydrogenase activity
GO:0061459	0.000143	8.856148	0.955511	L-arginine transmembrane transporter activity
GO:0001216	0.000143	8.856148	1.029619	bacterial-type RNA polymerase transcriptional activator activity, sequence-specific DNA binding
GO:0001217	0.000143	8.856148	1.029619	bacterial-type RNA polymerase transcriptional repressor activity, sequence-specific DNA binding
GO:0016402	0.000143	8.856148	1.029619	pristanoyl-CoA oxidase activity
GO:0030272	0.000143	8.856148	1.029619	5-formyltetrahydrofolate cyclo-ligase activity
GO:0034039	0.000143	8.856148	1.029619	8-oxo-7,8-dihydroguanine DNA N-glycosylase activity
GO:0001596	0.000143	8.856148	1.098612	angiotensin type I receptor activity
GO:0070737	0.000143	8.856148	1.098612	protein-glycine ligase activity, elongating
GO:0004956	0.000143	8.856148	1.163151	prostaglandin D receptor activity
GO:0008798	0.000143	8.856148	1.163151	beta-aspartyl-peptidase activity
GO:0016422	0.000143	8.856148	1.163151	mRNA (2'-O-methyladenosine-N6-)-methyltransferase activity
GO:0003935	0.000143	8.856148	1.223775	GTP cyclohydrolase II activity
GO:0018708	0.000143	8.856148	1.223775	thiol S-methyltransferase activity
GO:0030160	0.000143	8.856148	1.223775	GKAP/Homer scaffold activity
GO:0004510	0.000143	8.856148	1.280934	tryptophan 5-monooxygenase activity
GO:0004511	0.000143	8.856148	1.280934	tyrosine 3-monooxygenase activity
GO:0008775	0.000143	8.856148	1.280934	acetate CoA-transferase activity
GO:0000297	0.000143	8.856148	1.335001	spermine transmembrane transporter activity
GO:0004349	0.000143	8.856148	1.335001	glutamate 5-kinase activity
GO:0030158	0.000143	8.856148	1.335001	protein xylosyltransferase activity
GO:0004334	0.000143	8.856148	1.386294	fumarylacetoacetase activity
GO:0004882	0.000143	8.856148	1.386294	androgen receptor activity
GO:0080054	0.000143	8.856148	1.386294	low-affinity nitrate transmembrane transporter activity
GO:0003848	0.000143	8.856148	1.435085	2-amino-4-hydroxy-6-hydroxymethyldihydropteridine diphosphokinase activity
GO:0004485	0.000143	8.856148	1.435085	methylcrotonoyl-CoA carboxylase activity
GO:0004749	0.000143	8.856148	1.435085	ribose phosphate diphosphokinase activity
GO:0008982	0.000143	8.856148	1.435085	protein-N(PI)-phosphohistidine-sugar phosphotransferase activity
GO:0016314	0.000143	8.856148	1.435085	phosphatidylinositol-3,4,5-trisphosphate 3-phosphatase activity
GO:0032137	0.000143	8.856148	1.435085	guanine/thymine mispair binding
GO:0004598	0.000143	8.856148	1.481605	peptidylamidoglycolate lyase activity
GO:0008843	0.000143	8.856148	1.481605	endochitinase activity
GO:0019912	0.000143	8.856148	1.481605	cyclin-dependent protein kinase activating kinase activity
GO:0032896	0.000143	8.856148	1.481605	palmitoyl-CoA 9-desaturase activity
GO:0050105	0.000143	8.856148	1.481605	L-gulonolactone oxidase activity
GO:0003881	0.000143	8.856148	1.526056	CDP-diacylglycerol-inositol 3-phosphatidyltransferase activity
GO:0003882	0.000143	8.856148	1.526056	CDP-diacylglycerol-serine O-phosphatidyltransferase activity
GO:0008470	0.000143	8.856148	1.526056	isovaleryl-CoA dehydrogenase activity
GO:0043906	0.000143	8.856148	1.526056	Ala-tRNA(Pro) hydrolase activity
GO:0004394	0.000143	8.856148	1.568616	heparan sulfate 2-O-sulfotransferase activity
GO:0009020	0.000143	8.856148	1.568616	tRNA (guanosine-2'-O-)-methyltransferase activity
GO:0032028	0.000143	8.856148	1.568616	myosin head/neck binding
GO:0032029	0.000143	8.856148	1.568616	myosin tail binding
GO:0004613	0.000143	8.856148	1.609438	phosphoenolpyruvate carboxykinase (GTP) activity
GO:0004621	0.000143	8.856148	1.648659	glycosylphosphatidylinositol phospholipase D activity
GO:0016681	0.000143	8.856148	1.648659	oxidoreductase activity, acting on diphenols and related substances as donors, cytochrome as acceptor
GO:0070326	0.000143	8.856148	1.686399	very-low-density lipoprotein particle receptor binding
GO:0004530	0.000143	8.856148	1.722767	deoxyribonuclease I activity
GO:0004736	0.000143	8.856148	1.722767	pyruvate carboxylase activity
GO:0031544	0.000143	8.856148	1.722767	peptidyl-proline 3-dioxygenase activity
GO:0031750	0.000143	8.856148	1.722767	D3 dopamine receptor binding
GO:0080048	0.000143	8.856148	1.722767	GDP-D-glucose phosphorylase activity
GO:0009486	0.000143	8.856148	1.757858	cytochrome bo3 ubiquinol oxidase activity
GO:0048101	0.000143	8.856148	1.757858	calcium- and calmodulin-regulated 3',5'-cyclic-GMP phosphodiesterase activity
GO:0004306	0.000143	8.856148	1.791759	ethanolamine-phosphate cytidylyltransferase activity
GO:0004699	0.000143	8.856148	1.791759	calcium-independent protein kinase C activity
GO:0044715	0.000143	8.856148	1.791759	8-oxo-dGDP phosphatase activity
GO:0003922	0.000143	8.856148	1.824549	GMP synthase (glutamine-hydrolyzing) activity
GO:0034714	0.000143	8.856148	1.824549	type III transforming growth factor beta receptor binding
GO:0000210	0.000143	8.856148	1.856298	NAD+ diphosphatase activity
GO:0035529	0.000143	8.856148	1.856298	NADH pyrophosphatase activity
GO:0003991	0.000143	8.856148	1.887070	acetylglutamate kinase activity
GO:0004618	0.000143	8.856148	1.887070	phosphoglycerate kinase activity
GO:0008776	0.000143	8.856148	1.887070	acetate kinase activity
GO:0015355	0.000143	8.856148	1.887070	secondary active monocarboxylate transmembrane transporter activity
GO:0048273	0.000143	8.856148	1.887070	mitogen-activated protein kinase p38 binding
GO:0048763	0.000143	8.856148	1.887070	calcium-induced calcium release activity
GO:0023029	0.000143	8.856148	1.916923	MHC class Ib protein binding
GO:0004508	0.000143	8.856148	1.945910	steroid 17-alpha-monooxygenase activity
GO:0004509	0.000143	8.856148	1.945910	steroid 21-monooxygenase activity
GO:0033695	0.000143	8.856148	1.945910	oxidoreductase activity, acting on CH or CH2 groups, quinone or similar compound as acceptor
GO:0035539	0.000143	8.856148	1.945910	8-oxo-7,8-dihydrodeoxyguanosine triphosphate pyrophosphatase activity
GO:0052592	0.000143	8.856148	1.945910	oxidoreductase activity, acting on CH or CH2 groups, with an iron-sulfur protein as acceptor
GO:1904288	0.000143	8.856148	1.945910	BAT3 complex binding
GO:0015208	0.000143	8.856148	2.001480	guanine transmembrane transporter activity
GO:0016207	0.000143	8.856148	2.028148	4-coumarate-CoA ligase activity
GO:0032450	0.000143	8.856148	2.028148	maltose alpha-glucosidase activity
GO:0098821	0.000143	8.856148	2.028148	BMP receptor activity
GO:0009883	0.000143	8.856148	2.054124	red or far-red light photoreceptor activity
GO:0045548	0.000143	8.856148	2.054124	phenylalanine ammonia-lyase activity
GO:0001042	0.000143	8.856148	2.079442	RNA polymerase I core binding
GO:0001665	0.000143	8.856148	2.128232	alpha-N-acetylgalactosaminide alpha-2,6-sialyltransferase activity
GO:0003908	0.000143	8.856148	2.128232	methylated-DNA-[protein]-cysteine S-methyltransferase activity
GO:0047023	0.000143	8.856148	2.151762	androsterone dehydrogenase activity
GO:0000247	0.000143	8.856148	2.197225	C-8 sterol isomerase activity
GO:0000995	0.000143	8.856148	2.197225	transcription factor activity, core RNA polymerase III binding
GO:0016784	0.000143	8.856148	2.197225	3-mercaptopyruvate sulfurtransferase activity
GO:0070037	0.000143	8.856148	2.219203	rRNA (pseudouridine) methyltransferase activity
GO:0004883	0.000143	8.856148	2.240710	glucocorticoid receptor activity
GO:0008434	0.000143	8.856148	2.261763	calcitriol receptor activity
GO:0004414	0.000143	8.856148	2.282382	homoserine O-acetyltransferase activity
GO:0004873	0.000143	8.856148	2.302585	asialoglycoprotein receptor activity
GO:0016905	0.000143	8.856148	2.302585	myosin heavy chain kinase activity
GO:0052827	0.000143	8.856148	2.302585	inositol pentakisphosphate phosphatase activity
GO:0060001	0.000143	8.856148	2.302585	minus-end directed microfilament motor activity
GO:0055077	0.000143	8.856148	2.360854	gap junction hemi-channel activity
GO:0008426	0.000143	8.856148	2.415914	protein kinase C inhibitor activity
GO:0004057	0.000143	8.856148	2.433613	arginyltransferase activity
GO:2001065	0.000143	8.856148	2.433613	mannan binding
GO:0016206	0.000143	8.856148	2.451005	catechol O-methyltransferase activity
GO:0017096	0.000143	8.856148	2.451005	acetylserotonin O-methyltransferase activity
GO:0031956	0.000143	8.856148	2.451005	medium-chain fatty acid-CoA ligase activity
GO:0034480	0.000143	8.856148	2.451005	phosphatidylcholine phospholipase C activity
GO:0046923	0.000143	8.856148	2.451005	ER retention sequence binding
GO:0003905	0.000143	8.856148	2.468100	alkylbase DNA N-glycosylase activity
GO:0005232	0.000143	8.856148	2.468100	serotonin-activated cation-selective channel activity
GO:0046557	0.000143	8.856148	2.468100	glucan endo-1,6-beta-glucosidase activity
GO:0050510	0.000143	8.856148	2.484907	N-acetylgalactosaminyl-proteoglycan 3-beta-glucuronosyltransferase activity
GO:0050551	0.000143	8.856148	2.484907	myrcene synthase activity
GO:0080116	0.000143	8.856148	2.484907	glucuronoxylan glucuronosyltransferase activity
GO:0004750	0.000143	8.856148	2.501436	ribulose-phosphate 3-epimerase activity
GO:0047757	0.000143	8.856148	2.501436	chondroitin-glucuronate 5-epimerase activity
GO:0050373	0.000143	8.856148	2.501436	UDP-arabinose 4-epimerase activity
GO:0071991	0.000143	8.856148	2.501436	phytochelatin transporter activity
GO:0004119	0.000143	8.856148	2.517696	cGMP-inhibited cyclic-nucleotide phosphodiesterase activity
GO:0004150	0.000143	8.856148	2.517696	dihydroneopterin aldolase activity
GO:0051424	0.000143	8.856148	2.517696	corticotropin-releasing hormone binding
GO:0070905	0.000143	8.856148	2.517696	serine binding
GO:0097644	0.000143	8.856148	2.517696	calcitonin family binding
GO:0008753	0.000143	8.856148	2.533697	NADPH dehydrogenase (quinone) activity
GO:0070191	0.000143	8.856148	2.533697	methionine-R-sulfoxide reductase activity
GO:0004419	0.000143	8.856148	2.549445	hydroxymethylglutaryl-CoA lyase activity
GO:0050083	0.000143	8.856148	2.549445	malyl-CoA lyase activity
GO:0004464	0.000143	8.856148	2.580217	leukotriene-C4 synthase activity
GO:0001639	0.000143	8.856148	2.595255	PLC activating G-protein coupled glutamate receptor activity
GO:0004131	0.000143	8.856148	2.595255	cytosine deaminase activity
GO:0008892	0.000143	8.856148	2.595255	guanine deaminase activity
GO:0047475	0.000143	8.856148	2.595255	phenylacetate-CoA ligase activity
GO:0050218	0.000143	8.856148	2.595255	propionate-CoA ligase activity
GO:0005135	0.000143	8.856148	2.624669	interleukin-3 receptor binding
GO:0005143	0.000143	8.856148	2.624669	interleukin-12 receptor binding
GO:0070052	0.000143	8.856148	2.624669	collagen V binding
GO:0086007	0.000143	8.856148	2.639057	voltage-gated calcium channel activity involved in cardiac muscle cell action potential
GO:0004744	0.000143	8.856148	2.653242	retinal isomerase activity
GO:0004753	0.000143	8.856148	2.653242	saccharopine dehydrogenase activity
GO:0004946	0.000143	8.856148	2.653242	bombesin receptor activity
GO:0008419	0.000143	8.856148	2.667228	RNA lariat debranching enzyme activity
GO:0072586	0.000143	8.856148	2.667228	DNA topoisomerase (ATP-hydrolyzing) regulator activity
GO:0032356	0.000143	8.856148	2.694627	oxidized DNA binding
GO:0008109	0.000143	8.856148	2.708050	N-acetyllactosaminide beta-1,6-N-acetylglucosaminyltransferase activity
GO:0017176	0.000143	8.856148	2.708050	phosphatidylinositol N-acetylglucosaminyltransferase activity
GO:0004816	0.000143	8.856148	2.821379	asparagine-tRNA ligase activity
GO:0004818	0.000143	8.856148	2.821379	glutamate-tRNA ligase activity
GO:0004823	0.000143	8.856148	2.821379	leucine-tRNA ligase activity
GO:0004830	0.000143	8.856148	2.821379	tryptophan-tRNA ligase activity
GO:0004831	0.000143	8.856148	2.821379	tyrosine-tRNA ligase activity
GO:0031078	0.000143	8.856148	2.821379	histone deacetylase activity (H3-K14 specific)
GO:0032129	0.000143	8.856148	2.821379	histone deacetylase activity (H3-K9 specific)
GO:0004795	0.000143	8.856148	2.867899	threonine synthase activity
GO:0004582	0.000143	8.856148	2.879198	dolichyl-phosphate beta-D-mannosyltransferase activity
GO:0004584	0.000143	8.856148	2.879198	dolichyl-phosphate-mannose-glycolipid alpha-mannosyltransferase activity
GO:0004856	0.000143	8.856148	2.912351	xylulokinase activity
GO:0009384	0.000143	8.856148	2.912351	N-acylmannosamine kinase activity
GO:0015123	0.000143	8.856148	2.923162	acetate transmembrane transporter activity
GO:0004810	0.000143	8.856148	2.965273	tRNA adenylyltransferase activity
GO:0016642	0.000143	8.856148	2.985682	oxidoreductase activity, acting on the CH-NH2 group of donors, disulfide as acceptor
GO:0005006	0.000143	8.856148	2.995732	epidermal growth factor-activated receptor activity
GO:0005010	0.000143	8.856148	2.995732	insulin-like growth factor-activated receptor activity
GO:0003953	0.000143	8.856148	3.015535	NAD+ nucleosidase activity
GO:0004592	0.000143	8.856148	3.025291	pantoate-beta-alanine ligase activity
GO:0004632	0.000143	8.856148	3.025291	phosphopantothenate--cysteine ligase activity
GO:0008716	0.000143	8.856148	3.025291	D-alanine-D-alanine ligase activity
GO:0050694	0.000143	8.856148	3.072693	galactose 3-O-sulfotransferase activity
GO:0004074	0.000143	8.856148	3.081910	biliverdin reductase activity
GO:0008448	0.000143	8.856148	3.081910	N-acetylglucosamine-6-phosphate deacetylase activity
GO:0016631	0.000143	8.856148	3.081910	enoyl-[acyl-carrier-protein] reductase activity
GO:0035671	0.000143	8.856148	3.081910	enone reductase activity
GO:0000334	0.000143	8.856148	3.091042	3-hydroxyanthranilate 3,4-dioxygenase activity
GO:0004339	0.000143	8.856148	3.091042	glucan 1,4-alpha-glucosidase activity
GO:0016707	0.000143	8.856148	3.109061	gibberellin 3-beta-dioxygenase activity
GO:0045543	0.000143	8.856148	3.109061	gibberellin 2-beta-dioxygenase activity
GO:0045544	0.000143	8.856148	3.109061	gibberellin 20-oxidase activity
GO:0050341	0.000143	8.856148	3.109061	thymine dioxygenase activity
GO:0008384	0.000143	8.856148	3.169686	IkappaB kinase activity
GO:0016649	0.000143	8.856148	3.186353	oxidoreductase activity, acting on the CH-NH group of donors, quinone or similar compound as acceptor
GO:0046997	0.000143	8.856148	3.186353	oxidoreductase activity, acting on the CH-NH group of donors, flavin as acceptor
GO:0052857	0.000143	8.856148	3.186353	NADPHX epimerase activity
GO:0004015	0.000143	8.856148	3.242592	adenosylmethionine-8-amino-7-oxononanoate transaminase activity
GO:0004648	0.000143	8.856148	3.242592	O-phospho-L-serine:2-oxoglutarate aminotransferase activity
GO:0010326	0.000143	8.856148	3.242592	methionine-oxo-acid transaminase activity
GO:0036137	0.000143	8.856148	3.242592	kynurenine aminotransferase activity
GO:0047536	0.000143	8.856148	3.242592	2-aminoadipate transaminase activity
GO:0016906	0.000143	8.856148	3.280911	sterol 3-beta-glucosyltransferase activity
GO:0004724	0.000143	8.856148	3.295837	magnesium-dependent protein serine/threonine phosphatase activity
GO:0016608	0.000143	8.856148	3.446808	growth hormone-releasing hormone activity
GO:0004502	0.000143	8.856148	3.465736	kynurenine 3-monooxygenase activity
GO:0008774	0.000143	8.856148	3.484312	acetaldehyde dehydrogenase (acetylating) activity
GO:0008863	0.000143	8.856148	3.484312	formate dehydrogenase (NAD+) activity
GO:0004850	0.000143	8.856148	3.496508	uridine phosphorylase activity
GO:0004058	0.000143	8.856148	3.589059	aromatic-L-amino-acid decarboxylase activity
GO:0004068	0.000143	8.856148	3.589059	aspartate 1-decarboxylase activity
GO:0004398	0.000143	8.856148	3.589059	histidine decarboxylase activity
GO:0004425	0.000143	8.856148	3.589059	indole-3-glycerol-phosphate synthase activity
GO:0004607	0.000143	8.856148	3.589059	phosphatidylcholine-sterol O-acyltransferase activity
GO:0004638	0.000143	8.856148	3.589059	phosphoribosylaminoimidazole carboxylase activity
GO:0004737	0.000143	8.856148	3.589059	pyruvate decarboxylase activity
GO:0032216	0.000143	8.856148	3.589059	glucosaminyl-phosphotidylinositol O-acyltransferase activity
GO:0034318	0.000143	8.856148	3.589059	alcohol O-acyltransferase activity
GO:0045156	0.000143	8.856148	3.589059	electron transporter, transferring electrons within the cyclic electron transport pathway of photosynthesis activity
GO:0016867	0.000143	8.856148	3.605498	intramolecular transferase activity, transferring acyl groups
GO:0034784	0.000143	8.856148	3.605498	pivalyl-CoA mutase activity
GO:0047727	0.000143	8.856148	3.605498	isobutyryl-CoA mutase activity
GO:0004608	0.000143	8.856148	3.761200	phosphatidylethanolamine N-methyltransferase activity
GO:0052729	0.000143	8.856148	3.761200	dimethylglycine N-methyltransferase activity
GO:0052730	0.000143	8.856148	3.761200	sarcosine N-methyltransferase activity
GO:0047389	0.000143	8.856148	3.784190	glycerophosphocholine phosphodiesterase activity
GO:0009678	0.000143	8.856148	3.793239	hydrogen-translocating pyrophosphatase activity
GO:0004087	0.000143	8.856148	3.797734	carbamoyl-phosphate synthase (ammonia) activity
GO:0018271	0.000143	8.856148	3.797734	biotin-protein ligase activity
GO:0004947	0.000143	8.856148	3.819908	bradykinin receptor activity
GO:0004967	0.000143	8.856148	3.819908	glucagon receptor activity
GO:0015057	0.000143	8.856148	3.819908	thrombin receptor activity
GO:0015111	0.000143	8.856148	3.828641	iodide transmembrane transporter activity
GO:0009973	0.000143	8.856148	3.832980	adenylyl-sulfate reductase activity
GO:0016002	0.000143	8.856148	3.832980	sulfite reductase activity
GO:0015453	0.000143	8.856148	3.908015	oxidoreduction-driven active transmembrane transporter activity
GO:0000224	0.000143	8.856148	3.916015	peptide-N4-(N-acetyl-beta-glucosaminyl)asparagine amidase activity
GO:0008607	0.000143	8.856148	3.955082	phosphorylase kinase regulator activity
GO:1904047	0.000143	8.856148	4.018183	S-adenosyl-L-methionine binding
GO:0003866	0.000143	8.856148	4.056989	3-phosphoshikimate 1-carboxyvinyltransferase activity
GO:0003962	0.000143	8.856148	4.056989	cystathionine gamma-synthase activity
GO:0008609	0.000143	8.856148	4.056989	alkylglycerone-phosphate synthase activity
GO:0043918	0.000143	8.856148	4.056989	cadaverine aminopropyltransferase activity
GO:0043919	0.000143	8.856148	4.056989	agmatine aminopropyltransferase activity
GO:0005157	0.000143	8.856148	4.130355	macrophage colony-stimulating factor receptor binding
GO:0005173	0.000143	8.856148	4.130355	stem cell factor receptor binding
GO:0043765	0.000143	8.856148	4.130355	T/G mismatch-specific endonuclease activity
GO:0008686	0.000143	8.856148	4.162003	3,4-dihydroxy-2-butanone-4-phosphate synthase activity
GO:0003861	0.000143	8.856148	4.180522	3-isopropylmalate dehydratase activity
GO:0047453	0.000143	8.856148	4.180522	ATP-dependent NAD(P)H-hydrate dehydratase activity
GO:0080023	0.000143	8.856148	4.180522	3R-hydroxyacyl-CoA dehydratase activity
GO:1990422	0.000143	8.856148	4.180522	glyoxalase (glycolic acid-forming) activity
GO:0031893	0.000143	8.856148	4.237001	vasopressin receptor binding
GO:0003847	0.000143	8.856148	4.282206	1-alkyl-2-acetylglycerophosphocholine esterase activity
GO:0050253	0.000143	8.856148	4.282206	retinyl-palmitate esterase activity
GO:1990699	0.000143	8.856148	4.282206	palmitoleyl hydrolase activity
GO:0004654	0.000143	8.856148	4.304065	polyribonucleotide nucleotidyltransferase activity
GO:0061501	0.000143	8.856148	4.304065	cyclic-GMP-AMP synthase activity
GO:0034617	0.000143	8.856148	4.435567	tetrahydrobiopterin binding
GO:0010420	0.000143	8.856148	4.470495	polyprenyldihydroxybenzoate methyltransferase activity
GO:0004348	0.000143	8.856148	4.584967	glucosylceramidase activity
GO:0016162	0.000143	8.856148	4.584967	cellulose 1,4-beta-cellobiosidase activity
GO:0047701	0.000143	8.856148	4.584967	beta-L-arabinosidase activity
GO:0004666	0.000143	8.856148	4.615121	prostaglandin-endoperoxide synthase activity
GO:0080103	0.000143	8.856148	4.615121	4-methylthiopropyl glucosinolate S-oxygenase activity
GO:0070615	0.000143	8.856148	4.650144	nucleosome-dependent ATPase activity
GO:0004399	0.000143	8.856148	4.669084	histidinol dehydrogenase activity
GO:0004420	0.000143	8.856148	4.669084	hydroxymethylglutaryl-CoA reductase (NADPH) activity
GO:0008831	0.000143	8.856148	4.669084	dTDP-4-dehydrorhamnose reductase activity
GO:0016618	0.000143	8.856148	4.669084	hydroxypyruvate reductase activity
GO:0018454	0.000143	8.856148	4.669084	acetoacetyl-CoA reductase activity
GO:0042282	0.000143	8.856148	4.669084	hydroxymethylglutaryl-CoA reductase activity
GO:0047036	0.000143	8.856148	4.669084	codeinone reductase (NADPH) activity
GO:0047560	0.000143	8.856148	4.669084	3-dehydrosphinganine reductase activity
GO:0047910	0.000143	8.856148	4.669084	galactose 1-dehydrogenase (NADP+) activity
GO:0050019	0.000143	8.856148	4.669084	L-arabinitol 4-dehydrogenase activity
GO:0015066	0.000143	8.856148	4.674696	alpha-amylase inhibitor activity
GO:0097603	0.000143	8.856148	4.687671	temperature-gated ion channel activity
GO:0042085	0.000143	8.856148	4.753590	5-methyltetrahydropteroyltri-L-glutamate-dependent methyltransferase activity
GO:0043852	0.000143	8.856148	4.753590	monomethylamine methyltransferase activity
GO:0042296	0.000143	8.856148	4.779123	ISG15 transferase activity
GO:0019154	0.000143	8.856148	4.790820	glycolate dehydrogenase activity
GO:0045703	0.000143	8.856148	4.790820	ketoreductase activity
GO:0051990	0.000143	8.856148	4.790820	(R)-2-hydroxyglutarate dehydrogenase activity
GO:0010698	0.000143	8.856148	4.818667	acetyltransferase activator activity
GO:0051120	0.000143	8.856148	4.825109	hepoxilin A3 synthase activity
GO:0016762	0.000143	8.856148	4.870607	xyloglucan:xyloglucosyl transferase activity
GO:0033818	0.000143	8.856148	4.870607	beta-ketoacyl-acyl-carrier-protein synthase III activity
GO:0033819	0.000143	8.856148	4.870607	lipoyl(octanoyl) transferase activity
GO:0045140	0.000143	8.856148	4.870607	inositol phosphoceramide synthase activity
GO:0004992	0.000143	8.856148	4.893352	platelet activating factor receptor activity
GO:0004999	0.000143	8.856148	4.893352	vasoactive intestinal polypeptide receptor activity
GO:0008502	0.000143	8.856148	4.893352	melatonin receptor activity
GO:0015056	0.000143	8.856148	4.893352	corticotrophin-releasing factor receptor activity
GO:0034416	0.000143	8.856148	4.965638	bisphosphoglycerate phosphatase activity
GO:0052642	0.000143	8.856148	4.965638	lysophosphatidic acid phosphatase activity
GO:0042731	0.000143	8.856148	5.058790	PH domain binding
GO:0050693	0.000143	8.856148	5.058790	LBD domain binding
GO:0071532	0.000143	8.856148	5.058790	ankyrin repeat binding
GO:0001007	0.000143	8.856148	5.102302	transcription factor activity, RNA polymerase III transcription factor binding
GO:0030280	0.000143	8.856148	5.150977	structural constituent of epidermis
GO:0008933	0.000143	8.856148	5.187386	lytic transglycosylase activity
GO:0004711	0.000143	8.856148	5.231109	ribosomal protein S6 kinase activity
GO:0031634	0.000143	8.856148	5.311234	replication fork barrier binding
GO:0072510	0.000143	8.856148	5.320079	trivalent inorganic cation transmembrane transporter activity
GO:0045340	0.000143	8.856148	5.354698	mercury ion binding
GO:0070003	0.000143	8.856148	5.414321	threonine-type peptidase activity
GO:0032404	0.000143	8.856148	5.525453	mismatch repair complex binding
GO:0035650	0.000143	8.856148	5.525453	AP-1 adaptor complex binding
GO:0044323	0.000143	8.856148	5.558371	retinoic acid-responsive element binding
GO:0030337	0.000143	8.856148	5.633360	DNA polymerase processivity factor activity
GO:0008486	0.000143	8.856148	5.636217	diphosphoinositol-polyphosphate diphosphatase activity
GO:0034353	0.000143	8.856148	5.636217	RNA pyrophosphohydrolase activity
GO:0050380	0.000143	8.856148	5.636217	undecaprenyl-diphosphatase activity
GO:0052841	0.000143	8.856148	5.636217	inositol bisdiphosphate tetrakisphosphate diphosphatase activity
GO:0052842	0.000143	8.856148	5.636217	inositol diphosphate pentakisphosphate diphosphatase activity
GO:1902444	0.000143	8.856148	5.715711	riboflavin binding
GO:0001565	0.000143	8.856148	5.720967	phorbol ester receptor activity
GO:0070053	0.000143	8.856148	5.720967	thrombospondin receptor activity
GO:0010428	0.000143	8.856148	5.745564	methyl-CpNpG binding
GO:0001199	0.000143	8.856148	5.852202	transcription factor activity, metal ion regulated sequence-specific DNA binding
GO:0004371	0.000143	8.856148	5.934365	glycerone kinase activity
GO:0004417	0.000143	8.856148	5.934365	hydroxyethylthiazole kinase activity
GO:0004496	0.000143	8.856148	5.934365	mevalonate kinase activity
GO:0008531	0.000143	8.856148	5.934365	riboflavin kinase activity
GO:0042736	0.000143	8.856148	5.934365	NADH kinase activity
GO:0032791	0.000143	8.856148	5.953243	lead ion binding
GO:0005119	0.000143	8.856148	5.993463	smoothened binding
GO:0005124	0.000143	8.856148	5.993463	scavenger receptor binding
GO:0005176	0.000143	8.856148	5.993463	ErbB-2 class receptor binding
GO:0032190	0.000143	8.856148	6.187853	acrosin binding
GO:0046992	0.000143	8.856148	6.330790	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond
GO:0070643	0.000143	8.856148	6.330790	vitamin D 25-hydroxylase activity
GO:0010844	0.000143	8.856148	6.474199	recombination hotspot binding
GO:0071667	0.000143	8.856148	6.959588	DNA/RNA hybrid binding
GO:0016824	0.000143	8.856148	7.024293	hydrolase activity, acting on acid halide bonds
GO:0002046	0.000143	8.856148	7.673409	opsin binding
GO:0097108	0.000143	8.856148	7.673409	hedgehog family protein binding
GO:0097655	0.000143	8.856148	7.673409	serpin family protein binding
GO:1990430	0.000143	8.856148	7.673409	extracellular matrix protein binding
GO:0008265	0.000143	8.856148	8.089360	Mo-molybdopterin cofactor sulfurase activity
GO:0000035	0.000143	8.856148	8.223734	acyl binding
GO:0001026	0.000114	9.079292	0.000000	TFIIIB-type transcription factor activity
GO:0001165	0.000114	9.079292	0.000000	RNA polymerase I upstream control element sequence-specific DNA binding
GO:0001200	0.000114	9.079292	0.000000	RNA polymerase II transcription factor activity, metal ion regulated sequence-specific DNA binding
GO:0001201	0.000114	9.079292	0.000000	RNA polymerase II transcription factor activity, metal ion regulated core promoter proximal region sequence-specific binding
GO:0004135	0.000114	9.079292	0.000000	amylo-alpha-1,6-glucosidase activity
GO:0004342	0.000114	9.079292	0.000000	glucosamine-6-phosphate deaminase activity
GO:0005163	0.000114	9.079292	0.000000	nerve growth factor receptor binding
GO:0005298	0.000114	9.079292	0.000000	proline:sodium symporter activity
GO:0005308	0.000114	9.079292	0.000000	creatine transmembrane transporter activity
GO:0005325	0.000114	9.079292	0.000000	peroxisomal fatty-acyl-CoA transporter activity
GO:0008010	0.000114	9.079292	0.000000	structural constituent of chitin-based larval cuticle
GO:0008458	0.000114	9.079292	0.000000	carnitine O-octanoyltransferase activity
GO:0008794	0.000114	9.079292	0.000000	arsenate reductase (glutaredoxin) activity
GO:0015091	0.000114	9.079292	0.000000	ferric iron transmembrane transporter activity
GO:0015228	0.000114	9.079292	0.000000	coenzyme A transmembrane transporter activity
GO:0015233	0.000114	9.079292	0.000000	pantothenate transmembrane transporter activity
GO:0015275	0.000114	9.079292	0.000000	stretch-activated, cation-selective, calcium channel activity
GO:0015420	0.000114	9.079292	0.000000	cobalamin-transporting ATPase activity
GO:0015422	0.000114	9.079292	0.000000	oligosaccharide-transporting ATPase activity
GO:0015423	0.000114	9.079292	0.000000	maltose-transporting ATPase activity
GO:0015431	0.000114	9.079292	0.000000	glutathione S-conjugate-exporting ATPase activity
GO:0016992	0.000114	9.079292	0.000000	lipoate synthase activity
GO:0019797	0.000114	9.079292	0.000000	procollagen-proline 3-dioxygenase activity
GO:0022848	0.000114	9.079292	0.000000	acetylcholine-gated cation channel activity
GO:0022870	0.000114	9.079292	0.000000	protein-N(PI)-phosphohistidine-mannose phosphotransferase system transporter activity
GO:0022885	0.000114	9.079292	0.000000	bacteriocin transmembrane transporter activity
GO:0030171	0.000114	9.079292	0.000000	voltage-gated proton channel activity
GO:0030409	0.000114	9.079292	0.000000	glutamate formimidoyltransferase activity
GO:0032038	0.000114	9.079292	0.000000	myosin II heavy chain binding
GO:0032575	0.000114	9.079292	0.000000	ATP-dependent 5'-3' RNA helicase activity
GO:0034188	0.000114	9.079292	0.000000	apolipoprotein A-I receptor activity
GO:0034291	0.000114	9.079292	0.000000	canonical holin activity
GO:0034988	0.000114	9.079292	0.000000	Fc-gamma receptor I complex binding
GO:0038062	0.000114	9.079292	0.000000	protein tyrosine kinase collagen receptor activity
GO:0042912	0.000114	9.079292	0.000000	colicin transmembrane transporter activity
GO:0042950	0.000114	9.079292	0.000000	salicin transmembrane transporter activity
GO:0042978	0.000114	9.079292	0.000000	ornithine decarboxylase activator activity
GO:0043110	0.000114	9.079292	0.000000	rDNA spacer replication fork barrier binding
GO:0050311	0.000114	9.079292	0.000000	sulfite reductase (ferredoxin) activity
GO:0050736	0.000114	9.079292	0.000000	O-malonyltransferase activity
GO:0051736	0.000114	9.079292	0.000000	ATP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0051747	0.000114	9.079292	0.000000	cytosine C-5 DNA demethylase activity
GO:0052757	0.000114	9.079292	0.000000	chondroitin hydrolase activity
GO:0055054	0.000114	9.079292	0.000000	fructose:proton symporter activity
GO:0055105	0.000114	9.079292	0.000000	ubiquitin-protein transferase inhibitor activity
GO:0061656	0.000114	9.079292	0.000000	SUMO conjugating enzyme activity
GO:0070009	0.000114	9.079292	0.000000	serine-type aminopeptidase activity
GO:0070041	0.000114	9.079292	0.000000	rRNA (uridine-C5-)-methyltransferase activity
GO:0070042	0.000114	9.079292	0.000000	rRNA (uridine-N3-)-methyltransferase activity
GO:0070139	0.000114	9.079292	0.000000	SUMO-specific endopeptidase activity
GO:0070280	0.000114	9.079292	0.000000	pyridoxal binding
GO:0070854	0.000114	9.079292	0.000000	myosin VI heavy chain binding
GO:0080139	0.000114	9.079292	0.000000	borate efflux transmembrane transporter activity
GO:0097199	0.000114	9.079292	0.000000	cysteine-type endopeptidase activity involved in apoptotic signaling pathway
GO:1903089	0.000114	9.079292	0.000000	5-amino-1-ribofuranosylimidazole-4-carboxamide transporter activity
GO:0000404	0.000114	9.079292	0.223144	heteroduplex DNA loop binding
GO:0000906	0.000114	9.079292	0.223144	6,7-dimethyl-8-ribityllumazine synthase activity
GO:0004008	0.000114	9.079292	0.223144	copper-exporting ATPase activity
GO:0004077	0.000114	9.079292	0.223144	biotin-[acetyl-CoA-carboxylase] ligase activity
GO:0004395	0.000114	9.079292	0.223144	hexaprenyldihydroxybenzoate methyltransferase activity
GO:0005366	0.000114	9.079292	0.223144	myo-inositol:proton symporter activity
GO:0008481	0.000114	9.079292	0.223144	sphinganine kinase activity
GO:0008490	0.000114	9.079292	0.223144	arsenite secondary active transmembrane transporter activity
GO:0008700	0.000114	9.079292	0.223144	4-hydroxy-2-oxoglutarate aldolase activity
GO:0009037	0.000114	9.079292	0.223144	tyrosine-based site-specific recombinase activity
GO:0015546	0.000114	9.079292	0.223144	sulfathiazole transmembrane transporter activity
GO:0031894	0.000114	9.079292	0.223144	V1A vasopressin receptor binding
GO:0032405	0.000114	9.079292	0.223144	MutLalpha complex binding
GO:0032407	0.000114	9.079292	0.223144	MutSalpha complex binding
GO:0034459	0.000114	9.079292	0.223144	ATP-dependent 3'-5' RNA helicase activity
GO:0036318	0.000114	9.079292	0.223144	peptide pheromone receptor activity
GO:0046404	0.000114	9.079292	0.223144	ATP-dependent polydeoxyribonucleotide 5'-hydroxyl-kinase activity
GO:0046429	0.000114	9.079292	0.223144	4-hydroxy-3-methylbut-2-en-1-yl diphosphate synthase activity
GO:0046993	0.000114	9.079292	0.223144	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond, with oxygen as acceptor
GO:0050302	0.000114	9.079292	0.223144	indole-3-acetaldehyde oxidase activity
GO:0061513	0.000114	9.079292	0.223144	glucose 6-phosphate:inorganic phosphate antiporter activity
GO:0097604	0.000114	9.079292	0.223144	temperature-gated cation channel activity
GO:1901680	0.000114	9.079292	0.223144	sulfur-containing amino acid secondary active transmembrane transporter activity
GO:1902098	0.000114	9.079292	0.223144	calcitriol binding
GO:0000179	0.000114	9.079292	0.405465	rRNA (adenine-N6,N6-)-dimethyltransferase activity
GO:0001681	0.000114	9.079292	0.405465	sialate O-acetylesterase activity
GO:0004943	0.000114	9.079292	0.405465	C3a anaphylatoxin receptor activity
GO:0005214	0.000114	9.079292	0.405465	structural constituent of chitin-based cuticle
GO:0005371	0.000114	9.079292	0.405465	tricarboxylate secondary active transmembrane transporter activity
GO:0008263	0.000114	9.079292	0.405465	pyrimidine-specific mismatch base pair DNA N-glycosylase activity
GO:0015212	0.000114	9.079292	0.405465	cytidine transmembrane transporter activity
GO:0044377	0.000114	9.079292	0.405465	RNA polymerase II core promoter proximal region sequence-specific DNA binding, bending
GO:0046526	0.000114	9.079292	0.405465	D-xylulose reductase activity
GO:0060175	0.000114	9.079292	0.405465	brain-derived neurotrophic factor-activated receptor activity
GO:0071633	0.000114	9.079292	0.405465	dihydroceramidase activity
GO:1902282	0.000114	9.079292	0.405465	voltage-gated potassium channel activity involved in ventricular cardiac muscle cell action potential repolarization
GO:1904929	0.000114	9.079292	0.405465	coreceptor activity involved in Wnt signaling pathway, planar cell polarity pathway
GO:0001031	0.000114	9.079292	0.559616	RNA polymerase III type 2 promoter DNA binding
GO:0001032	0.000114	9.079292	0.559616	RNA polymerase III type 3 promoter DNA binding
GO:0001621	0.000114	9.079292	0.559616	ADP receptor activity
GO:0004076	0.000114	9.079292	0.559616	biotin synthase activity
GO:0004756	0.000114	9.079292	0.559616	selenide, water dikinase activity
GO:0005018	0.000114	9.079292	0.559616	platelet-derived growth factor alpha-receptor activity
GO:0015152	0.000114	9.079292	0.559616	glucose-6-phosphate transmembrane transporter activity
GO:0017099	0.000114	9.079292	0.559616	very-long-chain-acyl-CoA dehydrogenase activity
GO:0019156	0.000114	9.079292	0.559616	isoamylase activity
GO:0031707	0.000114	9.079292	0.559616	endothelin A receptor binding
GO:0038052	0.000114	9.079292	0.559616	RNA polymerase II transcription factor activity, estrogen-activated sequence-specific DNA binding
GO:0042163	0.000114	9.079292	0.559616	interleukin-12 beta subunit binding
GO:0042164	0.000114	9.079292	0.559616	interleukin-12 alpha subunit binding
GO:0080109	0.000114	9.079292	0.559616	indole-3-acetonitrile nitrile hydratase activity
GO:0005502	0.000114	9.079292	0.693147	11-cis retinal binding
GO:0008922	0.000114	9.079292	0.693147	long-chain fatty acid [acyl-carrier-protein] ligase activity
GO:0015362	0.000114	9.079292	0.693147	high-affinity sodium:dicarboxylate symporter activity
GO:0019959	0.000114	9.079292	0.693147	interleukin-8 binding
GO:0030985	0.000114	9.079292	0.693147	high molecular weight kininogen binding
GO:0031686	0.000114	9.079292	0.693147	A1 adenosine receptor binding
GO:0031826	0.000114	9.079292	0.693147	type 2A serotonin receptor binding
GO:0035597	0.000114	9.079292	0.693147	N6-isopentenyladenosine methylthiotransferase activity
GO:0035598	0.000114	9.079292	0.693147	N6-threonylcarbomyladenosine methylthiotransferase activity
GO:0046583	0.000114	9.079292	0.693147	cation efflux transmembrane transporter activity
GO:0047381	0.000114	9.079292	0.693147	dodecanoyl-[acyl-carrier-protein] hydrolase activity
GO:0070698	0.000114	9.079292	0.693147	type I activin receptor binding
GO:0070699	0.000114	9.079292	0.693147	type II activin receptor binding
GO:0070996	0.000114	9.079292	0.693147	type 1 melanocortin receptor binding
GO:0004941	0.000114	9.079292	0.810930	beta2-adrenergic receptor activity
GO:0008459	0.000114	9.079292	0.810930	chondroitin 6-sulfotransferase activity
GO:0019767	0.000114	9.079292	0.810930	IgE receptor activity
GO:0031802	0.000114	9.079292	0.810930	type 5 metabotropic glutamate receptor binding
GO:0047052	0.000114	9.079292	0.810930	(S)-stylopine synthase activity
GO:0051431	0.000114	9.079292	0.810930	corticotropin-releasing hormone receptor 2 binding
GO:0061507	0.000114	9.079292	0.810930	cyclic-GMP-AMP binding
GO:0003920	0.000114	9.079292	0.916291	GMP reductase activity
GO:0005052	0.000114	9.079292	0.916291	peroxisome matrix targeting signal-1 binding
GO:0030696	0.000114	9.079292	0.916291	tRNA (m5U54) methyltransferase activity
GO:0046995	0.000114	9.079292	0.916291	oxidoreductase activity, acting on hydrogen as donor, with other known acceptors
GO:0047427	0.000114	9.079292	0.916291	cyanoalanine nitrilase activity
GO:0052665	0.000114	9.079292	0.916291	tRNA (uracil-2'-O-)-methyltransferase activity
GO:0016971	0.000114	9.079292	1.011601	flavin-linked sulfhydryl oxidase activity
GO:0031703	0.000114	9.079292	1.011601	type 2 angiotensin receptor binding
GO:0034736	0.000114	9.079292	1.011601	cholesterol O-acyltransferase activity
GO:0050524	0.000114	9.079292	1.011601	coenzyme-B sulfoethylthiotransferase activity
GO:0051266	0.000114	9.079292	1.011601	sirohydrochlorin ferrochelatase activity
GO:0004441	0.000114	9.079292	1.098612	inositol-1,4-bisphosphate 1-phosphatase activity
GO:0005304	0.000114	9.079292	1.098612	L-valine transmembrane transporter activity
GO:0008412	0.000114	9.079292	1.098612	4-hydroxybenzoate octaprenyltransferase activity
GO:0008930	0.000114	9.079292	1.098612	methylthioadenosine nucleosidase activity
GO:0045031	0.000114	9.079292	1.098612	ATP-activated adenosine receptor activity
GO:0051063	0.000114	9.079292	1.098612	CDP reductase activity
GO:0001851	0.000114	9.079292	1.178655	complement component C3b binding
GO:0015225	0.000114	9.079292	1.178655	biotin transporter activity
GO:0047571	0.000114	9.079292	1.178655	3-oxosteroid 1-dehydrogenase activity
GO:0070915	0.000114	9.079292	1.178655	lysophosphatidic acid receptor activity
GO:0071791	0.000114	9.079292	1.178655	chemokine (C-C motif) ligand 5 binding
GO:0086038	0.000114	9.079292	1.178655	calcium:sodium antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:1990439	0.000114	9.079292	1.178655	MAP kinase threonine phosphatase activity
GO:0004141	0.000114	9.079292	1.252763	dethiobiotin synthase activity
GO:0004780	0.000114	9.079292	1.252763	sulfate adenylyltransferase (ADP) activity
GO:0005150	0.000114	9.079292	1.252763	interleukin-1, Type I receptor binding
GO:0005464	0.000114	9.079292	1.252763	UDP-xylose transmembrane transporter activity
GO:0052666	0.000114	9.079292	1.252763	tRNA (cytosine-2'-O-)-methyltransferase activity
GO:0004138	0.000114	9.079292	1.321756	deoxyguanosine kinase activity
GO:0008999	0.000114	9.079292	1.321756	ribosomal-protein-alanine N-acetyltransferase activity
GO:0016005	0.000114	9.079292	1.321756	phospholipase A2 activator activity
GO:0051718	0.000114	9.079292	1.321756	DNA (cytosine-5-)-methyltransferase activity, acting on CpG substrates
GO:0015573	0.000114	9.079292	1.386294	beta-glucoside transmembrane transporter activity
GO:0016149	0.000114	9.079292	1.386294	translation release factor activity, codon specific
GO:0032931	0.000114	9.079292	1.386294	histone acetyltransferase activity (H3-K56 specific)
GO:0001646	0.000114	9.079292	1.446919	cAMP receptor activity
GO:0008119	0.000114	9.079292	1.446919	thiopurine S-methyltransferase activity
GO:0060230	0.000114	9.079292	1.446919	lipoprotein lipase activator activity
GO:0090584	0.000114	9.079292	1.446919	protein-phosphocysteine-galactitol-phosphotransferase system transporter activity
GO:0090585	0.000114	9.079292	1.446919	protein-phosphocysteine-L-ascorbate-phosphotransferase system transporter activity
GO:0000823	0.000114	9.079292	1.504077	inositol-1,4,5-trisphosphate 6-kinase activity
GO:0001735	0.000114	9.079292	1.504077	prenylcysteine oxidase activity
GO:0008482	0.000114	9.079292	1.504077	sulfite oxidase activity
GO:0009007	0.000114	9.079292	1.504077	site-specific DNA-methyltransferase (adenine-specific) activity
GO:0035373	0.000114	9.079292	1.504077	chondroitin sulfate proteoglycan binding
GO:0051870	0.000114	9.079292	1.504077	methotrexate binding
GO:0052833	0.000114	9.079292	1.504077	inositol monophosphate 4-phosphatase activity
GO:0001075	0.000114	9.079292	1.558145	transcription factor activity, RNA polymerase II core promoter sequence-specific binding involved in preinitiation complex assembly
GO:0001139	0.000114	9.079292	1.558145	transcription factor activity, core RNA polymerase II recruiting
GO:0003726	0.000114	9.079292	1.558145	double-stranded RNA adenosine deaminase activity
GO:0003911	0.000114	9.079292	1.558145	DNA ligase (NAD+) activity
GO:0004960	0.000114	9.079292	1.558145	thromboxane receptor activity
GO:0034186	0.000114	9.079292	1.558145	apolipoprotein A-I binding
GO:0030298	0.000114	9.079292	1.609438	receptor signaling protein tyrosine kinase activator activity
GO:0030429	0.000114	9.079292	1.609438	kynureninase activity
GO:0046538	0.000114	9.079292	1.609438	2,3-bisphosphoglycerate-dependent phosphoglycerate mutase activity
GO:0015398	0.000114	9.079292	1.658228	high-affinity secondary active ammonium transmembrane transporter activity
GO:0023024	0.000114	9.079292	1.658228	MHC class I protein complex binding
GO:0043185	0.000114	9.079292	1.658228	vascular endothelial growth factor receptor 3 binding
GO:0051996	0.000114	9.079292	1.658228	squalene synthase activity
GO:0004463	0.000114	9.079292	1.704748	leukotriene-A4 hydrolase activity
GO:0046576	0.000114	9.079292	1.704748	rhamnogalacturonan alpha-L-rhamnopyranosyl-(1->4)-alpha-D-galactopyranosyluronide lyase activity
GO:0046577	0.000114	9.079292	1.704748	long-chain-alcohol oxidase activity
GO:0002196	0.000114	9.079292	1.749200	Ser-tRNA(Ala) hydrolase activity
GO:0004851	0.000114	9.079292	1.749200	uroporphyrin-III C-methyltransferase activity
GO:0004963	0.000114	9.079292	1.749200	follicle-stimulating hormone receptor activity
GO:0005461	0.000114	9.079292	1.749200	UDP-glucuronic acid transmembrane transporter activity
GO:0016263	0.000114	9.079292	1.749200	glycoprotein-N-acetylgalactosamine 3-beta-galactosyltransferase activity
GO:0070991	0.000114	9.079292	1.749200	medium-chain-acyl-CoA dehydrogenase activity
GO:0097003	0.000114	9.079292	1.749200	adipokinetic hormone receptor activity
GO:0001092	0.000114	9.079292	1.791759	TFIIA-class transcription factor binding
GO:0008554	0.000114	9.079292	1.791759	sodium-exporting ATPase activity, phosphorylative mechanism
GO:0070137	0.000114	9.079292	1.791759	ubiquitin-like protein-specific endopeptidase activity
GO:0004612	0.000114	9.079292	1.832581	phosphoenolpyruvate carboxykinase (ATP) activity
GO:0030585	0.000114	9.079292	1.832581	phosphoenolpyruvate carboxykinase (diphosphate) activity
GO:0031692	0.000114	9.079292	1.832581	alpha-1B adrenergic receptor binding
GO:0031697	0.000114	9.079292	1.832581	beta-1 adrenergic receptor binding
GO:0036042	0.000114	9.079292	1.871802	long-chain fatty acyl-CoA binding
GO:0071077	0.000114	9.079292	1.871802	adenosine 3',5'-bisphosphate transmembrane transporter activity
GO:0031735	0.000114	9.079292	1.909543	CCR10 chemokine receptor binding
GO:0034057	0.000114	9.079292	1.909543	RNA strand-exchange activity
GO:0060072	0.000114	9.079292	1.909543	large conductance calcium-activated potassium channel activity
GO:0070506	0.000114	9.079292	1.909543	high-density lipoprotein particle receptor activity
GO:0070653	0.000114	9.079292	1.909543	high-density lipoprotein particle receptor binding
GO:0015131	0.000114	9.079292	1.945910	oxaloacetate transmembrane transporter activity
GO:0015138	0.000114	9.079292	1.945910	fumarate transmembrane transporter activity
GO:0018710	0.000114	9.079292	1.945910	acetone carboxylase activity
GO:0031752	0.000114	9.079292	1.945910	D5 dopamine receptor binding
GO:0033914	0.000114	9.079292	1.945910	xylan 1,3-beta-xylosidase activity
GO:1903763	0.000114	9.079292	1.945910	gap junction channel activity involved in cell communication by electrical coupling
GO:0033843	0.000114	9.079292	2.014903	xyloglucan 6-xylosyltransferase activity
GO:0035478	0.000114	9.079292	2.014903	chylomicron binding
GO:0050518	0.000114	9.079292	2.014903	2-C-methyl-D-erythritol 4-phosphate cytidylyltransferase activity
GO:0008823	0.000114	9.079292	2.047693	cupric reductase activity
GO:0016309	0.000114	9.079292	2.047693	1-phosphatidylinositol-5-phosphate 4-kinase activity
GO:0046921	0.000114	9.079292	2.079442	alpha-(1->6)-fucosyltransferase activity
GO:0004635	0.000114	9.079292	2.110213	phosphoribosyl-AMP cyclohydrolase activity
GO:0072345	0.000114	9.079292	2.110213	NAADP-sensitive calcium-release channel activity
GO:0000341	0.000114	9.079292	2.140066	RNA trimethylguanosine cap binding
GO:0008661	0.000114	9.079292	2.140066	1-deoxy-D-xylulose-5-phosphate synthase activity
GO:0034005	0.000114	9.079292	2.140066	germacrene-A synthase activity
GO:0050816	0.000114	9.079292	2.140066	phosphothreonine binding
GO:0030407	0.000114	9.079292	2.169054	formimidoyltransferase activity
GO:0047693	0.000114	9.079292	2.169054	ATP diphosphatase activity
GO:0047840	0.000114	9.079292	2.169054	dCTP diphosphatase activity
GO:0008254	0.000114	9.079292	2.197225	3'-nucleotidase activity
GO:0016534	0.000114	9.079292	2.197225	cyclin-dependent protein kinase 5 activator activity
GO:0042131	0.000114	9.079292	2.224624	thiamine phosphate phosphatase activity
GO:0003996	0.000114	9.079292	2.251292	acyl-CoA ligase activity
GO:0018861	0.000114	9.079292	2.251292	4-chlorobenzoate-CoA ligase activity
GO:0004397	0.000114	9.079292	2.277267	histidine ammonia-lyase activity
GO:0001000	0.000114	9.079292	2.302585	bacterial-type RNA polymerase core enzyme binding
GO:0005110	0.000114	9.079292	2.302585	frizzled-2 binding
GO:0033931	0.000114	9.079292	2.302585	endogalactosaminidase activity
GO:0004038	0.000114	9.079292	2.327278	allantoinase activity
GO:0008545	0.000114	9.079292	2.327278	JUN kinase kinase activity
GO:0017168	0.000114	9.079292	2.327278	5-oxoprolinase (ATP-hydrolyzing) activity
GO:0071209	0.000114	9.079292	2.327278	U7 snRNA binding
GO:0003835	0.000114	9.079292	2.351375	beta-galactoside alpha-2,6-sialyltransferase activity
GO:0019976	0.000114	9.079292	2.351375	interleukin-2 binding
GO:0030283	0.000114	9.079292	2.374906	testosterone dehydrogenase [NAD(P)] activity
GO:0047006	0.000114	9.079292	2.374906	17-alpha,20-alpha-dihydroxypregn-4-en-3-one dehydrogenase activity
GO:0035800	0.000114	9.079292	2.397895	deubiquitinase activator activity
GO:0001181	0.000114	9.079292	2.420368	transcription factor activity, core RNA polymerase I binding
GO:0008783	0.000114	9.079292	2.442347	agmatinase activity
GO:0019145	0.000114	9.079292	2.442347	aminobutyraldehyde dehydrogenase activity
GO:0047652	0.000114	9.079292	2.442347	allantoate deiminase activity
GO:0071522	0.000114	9.079292	2.442347	ureidoglycine aminohydrolase activity
GO:0003850	0.000114	9.079292	2.525729	2-deoxyglucose-6-phosphatase activity
GO:0008877	0.000114	9.079292	2.525729	glucose-1-phosphatase activity
GO:0003878	0.000114	9.079292	2.564949	ATP citrate synthase activity
GO:0008854	0.000114	9.079292	2.564949	exodeoxyribonuclease V activity
GO:0004380	0.000114	9.079292	2.583998	glycoprotein-fucosylgalactoside alpha-N-acetylgalactosaminyltransferase activity
GO:0008489	0.000114	9.079292	2.583998	UDP-galactose:glucosylceramide beta-1,4-galactosyltransferase activity
GO:0008921	0.000114	9.079292	2.583998	lipopolysaccharide-1,6-galactosyltransferase activity
GO:0050211	0.000114	9.079292	2.583998	procollagen galactosyltransferase activity
GO:0008801	0.000114	9.079292	2.602690	beta-phosphoglucomutase activity
GO:0008966	0.000114	9.079292	2.602690	phosphoglucosamine mutase activity
GO:0008973	0.000114	9.079292	2.602690	phosphopentomutase activity
GO:0032542	0.000114	9.079292	2.602690	sulfiredoxin activity
GO:0016603	0.000114	9.079292	2.656757	glutaminyl-peptide cyclotransferase activity
GO:0031073	0.000114	9.079292	2.656757	cholesterol 26-hydroxylase activity
GO:2001069	0.000114	9.079292	2.656757	glycogen binding
GO:0030942	0.000114	9.079292	2.674149	endoplasmic reticulum signal peptide binding
GO:0042409	0.000114	9.079292	2.674149	caffeoyl-CoA O-methyltransferase activity
GO:0047782	0.000114	9.079292	2.691243	coniferin beta-glucosidase activity
GO:0050509	0.000114	9.079292	2.708050	N-acetylglucosaminyl-proteoglycan 4-beta-glucuronosyltransferase activity
GO:0050550	0.000114	9.079292	2.708050	pinene synthase activity
GO:0003860	0.000114	9.079292	2.724580	3-hydroxyisobutyryl-CoA hydrolase activity
GO:0004034	0.000114	9.079292	2.724580	aldose 1-epimerase activity
GO:0008742	0.000114	9.079292	2.724580	L-ribulose-phosphate 4-epimerase activity
GO:0004139	0.000114	9.079292	2.740840	deoxyribose-phosphate aldolase activity
GO:0008117	0.000114	9.079292	2.740840	sphinganine-1-phosphate aldolase activity
GO:0031770	0.000114	9.079292	2.740840	growth hormone-releasing hormone receptor binding
GO:0034257	0.000114	9.079292	2.740840	nicotinamide riboside transmembrane transporter activity
GO:0052812	0.000114	9.079292	2.756840	phosphatidylinositol-3,4-bisphosphate 5-kinase activity
GO:0008965	0.000114	9.079292	2.772589	phosphoenolpyruvate-protein phosphotransferase activity
GO:0003949	0.000114	9.079292	2.788093	1-(5-phosphoribosyl)-5-[(5-phosphoribosylamino)methylideneamino]imidazole-4-carboxamide isomerase activity
GO:0019146	0.000114	9.079292	2.788093	arabinose-5-phosphate isomerase activity
GO:0004123	0.000114	9.079292	2.803360	cystathionine gamma-lyase activity
GO:0004408	0.000114	9.079292	2.803360	holocytochrome-c synthase activity
GO:0008431	0.000114	9.079292	2.803360	vitamin E binding
GO:0019148	0.000114	9.079292	2.803360	D-cysteine desulfhydrase activity
GO:0070279	0.000114	9.079292	2.803360	vitamin B6 binding
GO:0015195	0.000114	9.079292	2.818398	L-threonine transmembrane transporter activity
GO:0046810	0.000114	9.079292	2.818398	host cell extracellular matrix binding
GO:0050270	0.000114	9.079292	2.818398	S-adenosylhomocysteine deaminase activity
GO:0008824	0.000114	9.079292	2.833213	cyanate hydratase activity
GO:0005130	0.000114	9.079292	2.847812	granulocyte colony-stimulating factor receptor binding
GO:0005137	0.000114	9.079292	2.847812	interleukin-5 receptor binding
GO:0015218	0.000114	9.079292	2.847812	pyrimidine nucleotide transmembrane transporter activity
GO:0052810	0.000114	9.079292	2.862201	1-phosphatidylinositol-5-kinase activity
GO:0004155	0.000114	9.079292	2.876386	6,7-dihydropteridine reductase activity
GO:0004487	0.000114	9.079292	2.876386	methylenetetrahydrofolate dehydrogenase (NAD+) activity
GO:0016034	0.000114	9.079292	2.876386	maleylacetoacetate isomerase activity
GO:0016492	0.000114	9.079292	2.876386	G-protein coupled neurotensin receptor activity
GO:0001406	0.000114	9.079292	2.890372	glycerophosphodiester transmembrane transporter activity
GO:1990174	0.000114	9.079292	2.890372	phosphodiesterase decapping endonuclease activity
GO:0015127	0.000114	9.079292	2.917771	bilirubin transmembrane transporter activity
GO:0015139	0.000114	9.079292	2.917771	alpha-ketoglutarate transmembrane transporter activity
GO:0003829	0.000114	9.079292	2.931194	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0005368	0.000114	9.079292	2.931194	taurine transmembrane transporter activity
GO:0008455	0.000114	9.079292	2.931194	alpha-1,6-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0050508	0.000114	9.079292	2.931194	glucuronosyl-N-acetylglucosaminyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0046899	0.000114	9.079292	2.957511	nucleoside triphosphate adenylate kinase activity
GO:0008663	0.000114	9.079292	2.970414	2',3'-cyclic-nucleotide 2'-phosphodiesterase activity
GO:0032574	0.000114	9.079292	2.970414	5'-3' RNA helicase activity
GO:0030348	0.000114	9.079292	2.983153	syntaxin-3 binding
GO:0004814	0.000114	9.079292	3.044522	arginine-tRNA ligase activity
GO:0004817	0.000114	9.079292	3.044522	cysteine-tRNA ligase activity
GO:0004819	0.000114	9.079292	3.044522	glutamine-tRNA ligase activity
GO:0004822	0.000114	9.079292	3.044522	isoleucine-tRNA ligase activity
GO:0004829	0.000114	9.079292	3.044522	threonine-tRNA ligase activity
GO:0097177	0.000114	9.079292	3.044522	mitochondrial ribosome binding
GO:0031151	0.000114	9.079292	3.068053	histone methyltransferase activity (H3-K79 specific)
GO:0004107	0.000114	9.079292	3.091042	chorismate synthase activity
GO:0034008	0.000114	9.079292	3.091042	R-linalool synthase activity
GO:0034768	0.000114	9.079292	3.091042	(E)-beta-ocimene synthase activity
GO:0003976	0.000114	9.079292	3.124565	UDP-N-acetylglucosamine-lysosomal-enzyme N-acetylglucosaminephosphotransferase activity
GO:0047493	0.000114	9.079292	3.124565	ceramide cholinephosphotransferase activity
GO:0004454	0.000114	9.079292	3.135494	ketohexokinase activity
GO:0008834	0.000114	9.079292	3.135494	di-trans,poly-cis-decaprenylcistransferase activity
GO:0015499	0.000114	9.079292	3.146305	formate transmembrane transporter activity
GO:0004631	0.000114	9.079292	3.218876	phosphomevalonate kinase activity
GO:0005008	0.000114	9.079292	3.218876	hepatocyte growth factor-activated receptor activity
GO:0005011	0.000114	9.079292	3.218876	macrophage colony-stimulating factor receptor activity
GO:0008972	0.000114	9.079292	3.218876	phosphomethylpyrimidine kinase activity
GO:0003875	0.000114	9.079292	3.238678	ADP-ribosylarginine hydrolase activity
GO:0008763	0.000114	9.079292	3.248435	UDP-N-acetylmuramate-L-alanine ligase activity
GO:0008841	0.000114	9.079292	3.248435	dihydrofolate synthase activity
GO:0047527	0.000114	9.079292	3.248435	2,3-dihydroxybenzoate-serine ligase activity
GO:0047730	0.000114	9.079292	3.248435	carnosine synthase activity
GO:0047364	0.000114	9.079292	3.295837	desulfoglucosinolate sulfotransferase activity
GO:0047894	0.000114	9.079292	3.295837	flavonol 3-sulfotransferase activity
GO:1990135	0.000114	9.079292	3.295837	flavonoid sulfotransferase activity
GO:0000246	0.000114	9.079292	3.305054	delta24(24-1) sterol reductase activity
GO:0004099	0.000114	9.079292	3.305054	chitin deacetylase activity
GO:0008839	0.000114	9.079292	3.305054	4-hydroxy-tetrahydrodipicolinate reductase
GO:0016629	0.000114	9.079292	3.305054	12-oxophytodienoate reductase activity
GO:0047598	0.000114	9.079292	3.305054	7-dehydrocholesterol reductase activity
GO:0050213	0.000114	9.079292	3.305054	progesterone 5-alpha-reductase activity
GO:0008127	0.000114	9.079292	3.314186	quercetin 2,3-dioxygenase activity
GO:0016167	0.000114	9.079292	3.314186	glial cell-derived neurotrophic factor receptor activity
GO:0030368	0.000114	9.079292	3.314186	interleukin-17 receptor activity
GO:1990136	0.000114	9.079292	3.314186	linoleate 9S-lipoxygenase activity
GO:0033222	0.000114	9.079292	3.332205	xylose binding
GO:0048244	0.000114	9.079292	3.332205	phytanoyl-CoA dioxygenase activity
GO:0019961	0.000114	9.079292	3.375880	interferon binding
GO:0016856	0.000114	9.079292	3.409496	racemase and epimerase activity, acting on hydroxy acids and derivatives
GO:0018537	0.000114	9.079292	3.409496	coenzyme F420-dependent N5,N10-methenyltetrahydromethanopterin reductase activity
GO:0050113	0.000114	9.079292	3.417727	inositol oxygenase activity
GO:0004400	0.000114	9.079292	3.465736	histidinol-phosphate transaminase activity
GO:0004760	0.000114	9.079292	3.465736	serine-pyruvate transaminase activity
GO:0008793	0.000114	9.079292	3.465736	aromatic-amino-acid:2-oxoglutarate aminotransferase activity
GO:0010285	0.000114	9.079292	3.465736	L,L-diaminopimelate aminotransferase activity
GO:0003843	0.000114	9.079292	3.504055	1,3-beta-D-glucan synthase activity
GO:0047209	0.000114	9.079292	3.504055	coniferyl-alcohol glucosyltransferase activity
GO:0047228	0.000114	9.079292	3.504055	1,2-diacylglycerol 3-glucosyltransferase activity
GO:0050403	0.000114	9.079292	3.504055	trans-zeatin O-beta-D-glucosyltransferase activity
GO:0050502	0.000114	9.079292	3.504055	cis-zeatin O-beta-D-glucosyltransferase activity
GO:0080045	0.000114	9.079292	3.504055	quercetin 3'-O-glucosyltransferase activity
GO:0004727	0.000114	9.079292	3.511545	prenylated protein tyrosine phosphatase activity
GO:0016890	0.000114	9.079292	3.569533	site-specific endodeoxyribonuclease activity, specific for altered base
GO:0010011	0.000114	9.079292	3.576550	auxin binding
GO:0004447	0.000114	9.079292	3.604138	iodide peroxidase activity
GO:0036393	0.000114	9.079292	3.604138	thiocyanate peroxidase activity
GO:0019785	0.000114	9.079292	3.650658	ISG15-specific protease activity
GO:0071567	0.000114	9.079292	3.650658	UFM1 hydrolase activity
GO:0004358	0.000114	9.079292	3.663562	glutamate N-acetyltransferase activity
GO:0017188	0.000114	9.079292	3.663562	aspartate N-acetyltransferase activity
GO:0019134	0.000114	9.079292	3.663562	glucosamine-1-phosphate N-acetyltransferase activity
GO:0046027	0.000114	9.079292	3.663562	phospholipid:diacylglycerol acyltransferase activity
GO:0052858	0.000114	9.079292	3.663562	peptidyl-lysine N-acetyltransferase activity, acting on acetyl phosphate as donor
GO:0005183	0.000114	9.079292	3.669951	gonadotropin hormone-releasing hormone activity
GO:0016084	0.000114	9.079292	3.669951	myostimulatory hormone activity
GO:0016913	0.000114	9.079292	3.669951	follicle-stimulating hormone activity
GO:0004498	0.000114	9.079292	3.688879	calcidiol 1-monooxygenase activity
GO:0004506	0.000114	9.079292	3.688879	squalene monooxygenase activity
GO:0010295	0.000114	9.079292	3.688879	(+)-abscisic acid 8'-hydroxylase activity
GO:0018636	0.000114	9.079292	3.688879	phenanthrene 9,10-monooxygenase activity
GO:0019113	0.000114	9.079292	3.688879	limonene monooxygenase activity
GO:0036199	0.000114	9.079292	3.688879	cholest-4-en-3-one 26-monooxygenase activity
GO:0050051	0.000114	9.079292	3.688879	leukotriene-B4 20-monooxygenase activity
GO:0003942	0.000114	9.079292	3.707456	N-acetyl-gamma-glutamyl-phosphate reductase activity
GO:0004043	0.000114	9.079292	3.707456	L-aminoadipate-semialdehyde dehydrogenase activity
GO:0004073	0.000114	9.079292	3.707456	aspartate-semialdehyde dehydrogenase activity
GO:0004350	0.000114	9.079292	3.707456	glutamate-5-semialdehyde dehydrogenase activity
GO:0008883	0.000114	9.079292	3.707456	glutamyl-tRNA reductase activity
GO:0008886	0.000114	9.079292	3.707456	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (non-phosphorylating) activity
GO:0000107	0.000114	9.079292	3.719651	imidazoleglycerol-phosphate synthase activity
GO:0004845	0.000114	9.079292	3.719651	uracil phosphoribosyltransferase activity
GO:0008479	0.000114	9.079292	3.719651	queuine tRNA-ribosyltransferase activity
GO:0052657	0.000114	9.079292	3.719651	guanine phosphoribosyltransferase activity
GO:1990404	0.000114	9.079292	3.719651	protein ADP-ribosylase activity
GO:0004583	0.000114	9.079292	3.725693	dolichyl-phosphate-glucose-glycolipid alpha-glucosyltransferase activity
GO:0009011	0.000114	9.079292	3.725693	starch synthase activity
GO:0045027	0.000114	9.079292	3.766997	DNA end binding
GO:0016862	0.000114	9.079292	3.778492	intramolecular oxidoreductase activity, interconverting keto- and enol-groups
GO:0004163	0.000114	9.079292	3.812203	diphosphomevalonate decarboxylase activity
GO:0008836	0.000114	9.079292	3.812203	diaminopimelate decarboxylase activity
GO:0008948	0.000114	9.079292	3.812203	oxaloacetate decarboxylase activity
GO:0045153	0.000114	9.079292	3.812203	electron transporter, transferring electrons within CoQH2-cytochrome c reductase complex activity
GO:0050080	0.000114	9.079292	3.812203	malonyl-CoA decarboxylase activity
GO:0004494	0.000114	9.079292	3.828641	methylmalonyl-CoA mutase activity
GO:0052691	0.000114	9.079292	3.828641	UDP-arabinopyranose mutase activity
GO:0071885	0.000114	9.079292	3.881564	N-terminal protein N-methyltransferase activity
GO:1990829	0.000114	9.079292	3.881564	C-rich single-stranded DNA binding
GO:0080101	0.000114	9.079292	3.984344	phosphatidyl-N-dimethylethanolamine N-methyltransferase activity
GO:0071997	0.000114	9.079292	3.998201	glutathione S-conjugate-transporting ATPase activity
GO:0003921	0.000114	9.079292	4.020877	GMP synthase activity
GO:0042943	0.000114	9.079292	4.029806	D-amino acid transmembrane transporter activity
GO:0004951	0.000114	9.079292	4.043051	cholecystokinin receptor activity
GO:0060182	0.000114	9.079292	4.043051	apelin receptor activity
GO:0016673	0.000114	9.079292	4.056123	oxidoreductase activity, acting on a sulfur group of donors, iron-sulfur protein as acceptor
GO:0047179	0.000114	9.079292	4.090169	platelet-activating factor acetyltransferase activity
GO:0003837	0.000114	9.079292	4.139159	beta-ureidopropionase activity
GO:0003948	0.000114	9.079292	4.139159	N4-(beta-N-acetylglucosaminyl)-L-asparaginase activity
GO:0009039	0.000114	9.079292	4.139159	urease activity
GO:0017064	0.000114	9.079292	4.139159	fatty acid amide hydrolase activity
GO:0017159	0.000114	9.079292	4.139159	pantetheine hydrolase activity
GO:0036055	0.000114	9.079292	4.139159	protein-succinyllysine desuccinylase activity
GO:0047708	0.000114	9.079292	4.139159	biotinidase activity
GO:0008321	0.000114	9.079292	4.170534	Ral guanyl-nucleotide exchange factor activity
GO:0043199	0.000114	9.079292	4.215824	sulfate binding
GO:0004789	0.000114	9.079292	4.280132	thiamine-phosphate diphosphorylase activity
GO:0008676	0.000114	9.079292	4.280132	3-deoxy-8-phosphooctulonate synthase activity
GO:0050347	0.000114	9.079292	4.280132	trans-octaprenyltranstransferase activity
GO:0052381	0.000114	9.079292	4.280132	tRNA dimethylallyltransferase activity
GO:0005128	0.000114	9.079292	4.353499	erythropoietin receptor binding
GO:0061597	0.000114	9.079292	4.385147	cyclic pyranopterin monophosphate synthase activity
GO:0004122	0.000114	9.079292	4.403666	cystathionine beta-synthase activity
GO:0004160	0.000114	9.079292	4.403666	dihydroxy-acid dehydratase activity
GO:0004655	0.000114	9.079292	4.403666	porphobilinogen synthase activity
GO:0004664	0.000114	9.079292	4.403666	prephenate dehydratase activity
GO:0008460	0.000114	9.079292	4.403666	dTDP-glucose 4,6-dehydratase activity
GO:0047456	0.000114	9.079292	4.403666	2-methylisocitrate dehydratase activity
GO:0047558	0.000114	9.079292	4.403666	3-cyanoalanine hydratase activity
GO:0050151	0.000114	9.079292	4.403666	oleate hydratase activity
GO:0061503	0.000114	9.079292	4.403666	tRNA threonylcarbamoyladenosine dehydratase
GO:0015094	0.000114	9.079292	4.424847	lead ion transmembrane transporter activity
GO:0031711	0.000114	9.079292	4.460144	bradykinin receptor binding
GO:0031871	0.000114	9.079292	4.460144	proteinase activated receptor binding
GO:0004341	0.000114	9.079292	4.505350	gluconolactonase activity
GO:0050528	0.000114	9.079292	4.505350	acyloxyacyl hydrolase activity
GO:0051499	0.000114	9.079292	4.505350	D-aminoacyl-tRNA deacylase activity
GO:0051723	0.000114	9.079292	4.505350	protein methylesterase activity
GO:0047657	0.000114	9.079292	4.519067	alpha-1,3-glucan synthase activity
GO:0017125	0.000114	9.079292	4.527209	deoxycytidyl transferase activity
GO:0045289	0.000114	9.079292	4.564348	luciferin monooxygenase activity
GO:0097363	0.000114	9.079292	4.587515	protein O-GlcNAc transferase activity
GO:0030775	0.000114	9.079292	4.693639	glucuronoxylan 4-O-methyltransferase activity
GO:0035827	0.000114	9.079292	4.711780	rubidium ion transmembrane transporter activity
GO:0009392	0.000114	9.079292	4.738389	N-acetyl-anhydromuramoyl-L-alanine amidase activity
GO:0010178	0.000114	9.079292	4.738389	IAA-amino acid conjugate hydrolase activity
GO:0030305	0.000114	9.079292	4.808111	heparanase activity
GO:0033906	0.000114	9.079292	4.808111	hyaluronoglucuronidase activity
GO:0033916	0.000114	9.079292	4.808111	beta-agarase activity
GO:0033925	0.000114	9.079292	4.808111	mannosyl-glycoprotein endo-beta-N-acetylglucosaminidase activity
GO:0033939	0.000114	9.079292	4.808111	xylan alpha-1,2-glucuronosidase activity
GO:0046558	0.000114	9.079292	4.808111	arabinan endo-1,5-alpha-L-arabinosidase activity
GO:0047911	0.000114	9.079292	4.808111	galacturan 1,4-alpha-galacturonidase activity
GO:0051670	0.000114	9.079292	4.808111	inulinase activity
GO:0042389	0.000114	9.079292	4.838264	omega-3 fatty acid desaturase activity
GO:0045485	0.000114	9.079292	4.838264	omega-6 fatty acid desaturase activity
GO:0080102	0.000114	9.079292	4.838264	3-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080104	0.000114	9.079292	4.838264	5-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080106	0.000114	9.079292	4.838264	7-methylthiopropyl glucosinolate S-oxygenase activity
GO:0004455	0.000114	9.079292	4.892227	ketol-acid reductoisomerase activity
GO:0008677	0.000114	9.079292	4.892227	2-dehydropantoate 2-reductase activity
GO:0008703	0.000114	9.079292	4.892227	5-amino-6-(5-phosphoribosylamino)uracil reductase activity
GO:0008926	0.000114	9.079292	4.892227	mannitol-1-phosphate 5-dehydrogenase activity
GO:0018455	0.000114	9.079292	4.892227	alcohol dehydrogenase [NAD(P)+] activity
GO:0030266	0.000114	9.079292	4.892227	quinate 3-dehydrogenase (NAD+) activity
GO:0034256	0.000114	9.079292	4.892227	chlorophyll(ide) b reductase activity
GO:0045290	0.000114	9.079292	4.892227	D-arabinose 1-dehydrogenase [NAD(P)+] activity
GO:0060241	0.000114	9.079292	4.897840	lysozyme inhibitor activity
GO:1990846	0.000114	9.079292	4.897840	ribonucleoside-diphosphate reductase inhibitor activity
GO:0019777	0.000114	9.079292	5.002267	Atg12 transferase activity
GO:0008812	0.000114	9.079292	5.013963	choline dehydrogenase activity
GO:0008710	0.000114	9.079292	5.093750	8-amino-7-oxononanoate synthase activity
GO:0016210	0.000114	9.079292	5.093750	naringenin-chalcone synthase activity
GO:0033815	0.000114	9.079292	5.093750	biphenyl synthase activity
GO:0047879	0.000114	9.079292	5.093750	erythronolide synthase activity
GO:0000121	0.000114	9.079292	5.188781	glycerol-1-phosphatase activity
GO:0004063	0.000114	9.079292	5.188781	aryldialkylphosphatase activity
GO:0008967	0.000114	9.079292	5.188781	phosphoglycolate phosphatase activity
GO:0033883	0.000114	9.079292	5.188781	pyridoxal phosphatase activity
GO:0043726	0.000114	9.079292	5.188781	5-amino-6-(5-phosphoribitylamino)uracil phosphatase activity
GO:0043423	0.000114	9.079292	5.278115	3-phosphoinositide-dependent protein kinase binding
GO:0032090	0.000114	9.079292	5.281934	Pyrin domain binding
GO:0033149	0.000114	9.079292	5.281934	FFAT motif binding
GO:0035851	0.000114	9.079292	5.281934	Krueppel-associated box domain binding
GO:0043398	0.000114	9.079292	5.281934	HLH domain binding
GO:0070976	0.000114	9.079292	5.281934	TIR domain binding
GO:0071535	0.000114	9.079292	5.281934	RING-like zinc finger domain binding
GO:0097016	0.000114	9.079292	5.281934	L27 domain binding
GO:1990525	0.000114	9.079292	5.281934	BIR domain binding
GO:0034290	0.000114	9.079292	5.339939	holin activity
GO:0017129	0.000114	9.079292	5.367144	triglyceride binding
GO:0032422	0.000114	9.079292	5.407172	purine-rich negative regulatory element binding
GO:0008920	0.000114	9.079292	5.410529	lipopolysaccharide heptosyltransferase activity
GO:0004676	0.000114	9.079292	5.454252	3-phosphoinositide-dependent protein kinase activity
GO:0016852	0.000114	9.079292	5.576896	sirohydrochlorin cobaltochelatase activity
GO:0051373	0.000114	9.079292	5.614040	FATZ binding
GO:0070012	0.000114	9.079292	5.719492	oligopeptidase activity
GO:0044729	0.000114	9.079292	5.722768	hemi-methylated DNA-binding
GO:0035651	0.000114	9.079292	5.748596	AP-3 adaptor complex binding
GO:0010736	0.000114	9.079292	5.781515	serum response element binding
GO:0008281	0.000114	9.079292	5.792251	sulfonylurea receptor activity
GO:0009884	0.000114	9.079292	5.792251	cytokinin receptor activity
GO:0004636	0.000114	9.079292	5.859361	phosphoribosyl-ATP diphosphatase activity
GO:0008768	0.000114	9.079292	5.859361	UDP-sugar diphosphatase activity
GO:0010429	0.000114	9.079292	5.968708	methyl-CpNpN binding
GO:0001073	0.000114	9.079292	6.075346	transcription antitermination factor activity, DNA binding
GO:0046316	0.000114	9.079292	6.157509	gluconokinase activity
GO:0052836	0.000114	9.079292	6.157509	inositol 5-diphosphate pentakisphosphate 5-kinase activity
GO:0052839	0.000114	9.079292	6.157509	inositol diphosphate tetrakisphosphate kinase activity
GO:0005055	0.000114	9.079292	6.169611	laminin receptor activity
GO:0030226	0.000114	9.079292	6.169611	apolipoprotein receptor activity
GO:0031992	0.000114	9.079292	6.171179	energy transducer activity
GO:0046911	0.000114	9.079292	6.176387	metal chelating activity
GO:0005118	0.000114	9.079292	6.216606	sevenless binding
GO:0017098	0.000114	9.079292	6.216606	sulfonylurea receptor binding
GO:0030156	0.000114	9.079292	6.216606	benzodiazepine receptor binding
GO:1990460	0.000114	9.079292	6.216606	leptin receptor binding
GO:0071208	0.000114	9.079292	6.319418	histone pre-mRNA DCP binding
GO:0071890	0.000114	9.079292	6.381393	bicarbonate binding
GO:0044547	0.000114	9.079292	6.410997	DNA topoisomerase binding
GO:0000170	0.000114	9.079292	6.553933	sphingosine hydroxylase activity
GO:0003826	0.000114	9.079292	6.553933	alpha-ketoacid dehydrogenase activity
GO:0015039	0.000114	9.079292	6.553933	NADPH-adrenodoxin reductase activity
GO:0033797	0.000114	9.079292	6.553933	selenate reductase activity
GO:0015607	0.000114	9.079292	6.564560	fatty-acyl-CoA transporter activity
GO:0016827	0.000114	9.079292	7.247437	hydrolase activity, acting on acid carbon-phosphorus bonds
GO:0016785	0.000114	9.079292	7.342456	transferase activity, transferring selenium-containing groups
GO:0032767	0.000114	9.079292	7.896553	copper-dependent protein binding
GO:0046980	0.000114	9.079292	7.896553	tapasin binding
GO:0070678	0.000114	9.079292	7.896553	preprotein binding
GO:0008987	0.000114	9.079292	8.312503	quinolinate synthetase A activity
GO:0010280	0.000114	9.079292	8.312503	UDP-L-rhamnose synthase activity
GO:0050436	0.000114	9.079292	8.446878	microfibril binding
GO:0050824	0.000114	9.079292	8.446878	water binding
GO:0000102	0.000086	9.366974	0.000000	L-methionine secondary active transmembrane transporter activity
GO:0000213	0.000086	9.366974	0.000000	tRNA-intron endonuclease activity
GO:0000997	0.000086	9.366974	0.000000	mitochondrial RNA polymerase core promoter sequence-specific DNA binding
GO:0001044	0.000086	9.366974	0.000000	mitochondrial RNA polymerase regulatory region sequence-specific DNA binding
GO:0001147	0.000086	9.366974	0.000000	transcription termination site sequence-specific DNA binding
GO:0002058	0.000086	9.366974	0.000000	uracil binding
GO:0003957	0.000086	9.366974	0.000000	NAD(P)+ transhydrogenase (B-specific) activity
GO:0003963	0.000086	9.366974	0.000000	RNA-3'-phosphate cyclase activity
GO:0004149	0.000086	9.366974	0.000000	dihydrolipoyllysine-residue succinyltransferase activity
GO:0004855	0.000086	9.366974	0.000000	xanthine oxidase activity
GO:0005152	0.000086	9.366974	0.000000	interleukin-1 receptor antagonist activity
GO:0005309	0.000086	9.366974	0.000000	creatine:sodium symporter activity
GO:0005330	0.000086	9.366974	0.000000	dopamine:sodium symporter activity
GO:0005369	0.000086	9.366974	0.000000	taurine:sodium symporter activity
GO:0005477	0.000086	9.366974	0.000000	pyruvate secondary active transmembrane transporter activity
GO:0008403	0.000086	9.366974	0.000000	25-hydroxycholecalciferol-24-hydroxylase activity
GO:0008425	0.000086	9.366974	0.000000	2-polyprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0008507	0.000086	9.366974	0.000000	sodium:iodide symporter activity
GO:0008510	0.000086	9.366974	0.000000	sodium:bicarbonate symporter activity
GO:0008516	0.000086	9.366974	0.000000	hexose uniporter activity
GO:0008551	0.000086	9.366974	0.000000	cadmium-exporting ATPase activity
GO:0008725	0.000086	9.366974	0.000000	DNA-3-methyladenine glycosylase activity
GO:0008832	0.000086	9.366974	0.000000	dGTPase activity
GO:0008924	0.000086	9.366974	0.000000	malate dehydrogenase (quinone) activity
GO:0008942	0.000086	9.366974	0.000000	nitrite reductase [NAD(P)H] activity
GO:0009036	0.000086	9.366974	0.000000	Type II site-specific deoxyribonuclease activity
GO:0009784	0.000086	9.366974	0.000000	transmembrane receptor histidine kinase activity
GO:0015067	0.000086	9.366974	0.000000	amidinotransferase activity
GO:0015366	0.000086	9.366974	0.000000	malate:proton symporter activity
GO:0015375	0.000086	9.366974	0.000000	glycine:sodium symporter activity
GO:0015382	0.000086	9.366974	0.000000	sodium:sulfate symporter activity
GO:0015388	0.000086	9.366974	0.000000	potassium uptake transmembrane transporter activity
GO:0015389	0.000086	9.366974	0.000000	pyrimidine- and adenine-specific:sodium symporter activity
GO:0015403	0.000086	9.366974	0.000000	thiamine uptake transmembrane transporter activity
GO:0015407	0.000086	9.366974	0.000000	monosaccharide-transporting ATPase activity
GO:0015446	0.000086	9.366974	0.000000	arsenite-transmembrane transporting ATPase activity
GO:0015462	0.000086	9.366974	0.000000	protein-transmembrane transporting ATPase activity
GO:0015478	0.000086	9.366974	0.000000	oligosaccharide transporting porin activity
GO:0015495	0.000086	9.366974	0.000000	gamma-aminobutyric acid:proton symporter activity
GO:0015506	0.000086	9.366974	0.000000	nucleoside:proton symporter activity
GO:0015648	0.000086	9.366974	0.000000	lipid-linked peptidoglycan transporter activity
GO:0015654	0.000086	9.366974	0.000000	tellurite uptake transmembrane transporter activity
GO:0016163	0.000086	9.366974	0.000000	nitrogenase activity
GO:0016430	0.000086	9.366974	0.000000	tRNA (adenine-N6-)-methyltransferase activity
GO:0016751	0.000086	9.366974	0.000000	S-succinyltransferase activity
GO:0016760	0.000086	9.366974	0.000000	cellulose synthase (UDP-forming) activity
GO:0018576	0.000086	9.366974	0.000000	catechol 1,2-dioxygenase activity
GO:0030412	0.000086	9.366974	0.000000	formimidoyltetrahydrofolate cyclodeaminase activity
GO:0030697	0.000086	9.366974	0.000000	S-adenosylmethionine-dependent tRNA (m5U54) methyltransferase activity
GO:0031418	0.000086	9.366974	0.000000	L-ascorbic acid binding
GO:0031755	0.000086	9.366974	0.000000	Edg-2 lysophosphatidic acid receptor binding
GO:0031765	0.000086	9.366974	0.000000	type 2 galanin receptor binding
GO:0031766	0.000086	9.366974	0.000000	type 3 galanin receptor binding
GO:0032567	0.000086	9.366974	0.000000	dGTP binding
GO:0033682	0.000086	9.366974	0.000000	ATP-dependent 5'-3' DNA/RNA helicase activity
GO:0034041	0.000086	9.366974	0.000000	sterol-transporting ATPase activity
GO:0034437	0.000086	9.366974	0.000000	glycoprotein transporter activity
GO:0036263	0.000086	9.366974	0.000000	L-DOPA monooxygenase activity
GO:0036264	0.000086	9.366974	0.000000	dopamine monooxygenase activity
GO:0044604	0.000086	9.366974	0.000000	phytochelatin transmembrane transporter ATPase activity
GO:0046811	0.000086	9.366974	0.000000	histone deacetylase inhibitor activity
GO:0047011	0.000086	9.366974	0.000000	2-dehydropantolactone reductase (A-specific) activity
GO:0047091	0.000086	9.366974	0.000000	L-lysine 6-monooxygenase (NADPH) activity
GO:0047312	0.000086	9.366974	0.000000	L-phenylalanine:pyruvate aminotransferase activity
GO:0050782	0.000086	9.366974	0.000000	galactose uniporter activity
GO:0051032	0.000086	9.366974	0.000000	nucleic acid transmembrane transporter activity
GO:0051033	0.000086	9.366974	0.000000	RNA transmembrane transporter activity
GO:0052624	0.000086	9.366974	0.000000	2-phytyl-1,4-naphthoquinone methyltransferase activity
GO:0070138	0.000086	9.366974	0.000000	ubiquitin-like protein-specific isopeptidase activity
GO:0070140	0.000086	9.366974	0.000000	SUMO-specific isopeptidase activity
GO:0070677	0.000086	9.366974	0.000000	rRNA (cytosine-2'-O-)-methyltransferase activity
GO:0070855	0.000086	9.366974	0.000000	myosin VI head/neck binding
GO:0070856	0.000086	9.366974	0.000000	myosin VI light chain binding
GO:0072320	0.000086	9.366974	0.000000	volume-sensitive chloride channel activity
GO:0072547	0.000086	9.366974	0.000000	tricoumaroylspermidine meta-hydroxylase activity
GO:0072548	0.000086	9.366974	0.000000	dicoumaroyl monocaffeoyl spermidine meta-hydroxylase activity
GO:0072549	0.000086	9.366974	0.000000	monocoumaroyl dicaffeoyl spermidine meta-hydroxylase activity
GO:0080049	0.000086	9.366974	0.000000	L-gulono-1,4-lactone dehydrogenase activity
GO:0080122	0.000086	9.366974	0.000000	AMP transmembrane transporter activity
GO:0098782	0.000086	9.366974	0.000000	mechanically-gated potassium channel activity
GO:1990259	0.000086	9.366974	0.000000	histone-glutamine methyltransferase activity
GO:1990948	0.000086	9.366974	0.000000	ubiquitin ligase inhibitor activity
GO:2001227	0.000086	9.366974	0.000000	quercitrin binding
GO:0001202	0.000086	9.366974	0.287682	RNA polymerase II transcription factor activity, copper ion regulated core promoter proximal region sequence-specific binding
GO:0004054	0.000086	9.366974	0.287682	arginine kinase activity
GO:0004878	0.000086	9.366974	0.287682	complement component C5a receptor activity
GO:0008692	0.000086	9.366974	0.287682	3-hydroxybutyryl-CoA epimerase activity
GO:0009670	0.000086	9.366974	0.287682	triose-phosphate:phosphate antiporter activity
GO:0010179	0.000086	9.366974	0.287682	IAA-Ala conjugate hydrolase activity
GO:0015517	0.000086	9.366974	0.287682	galactose:proton symporter activity
GO:0018674	0.000086	9.366974	0.287682	(S)-limonene 3-monooxygenase activity
GO:0019810	0.000086	9.366974	0.287682	putrescine binding
GO:0019962	0.000086	9.366974	0.287682	type I interferon binding
GO:0032041	0.000086	9.366974	0.287682	NAD-dependent histone deacetylase activity (H3-K14 specific)
GO:0034649	0.000086	9.366974	0.287682	histone demethylase activity (H3-monomethyl-K4 specific)
GO:0042951	0.000086	9.366974	0.287682	arbutin transmembrane transporter activity
GO:0045509	0.000086	9.366974	0.287682	interleukin-27 receptor activity
GO:0047068	0.000086	9.366974	0.287682	N5,N10-methenyltetrahydromethanopterin hydrogenase activity
GO:0050178	0.000086	9.366974	0.287682	phenylpyruvate tautomerase activity
GO:0050825	0.000086	9.366974	0.287682	ice binding
GO:0051500	0.000086	9.366974	0.287682	D-tyrosyl-tRNA(Tyr) deacylase activity
GO:0051978	0.000086	9.366974	0.287682	lysophospholipid transporter activity
GO:0086075	0.000086	9.366974	0.287682	gap junction channel activity involved in cardiac conduction electrical coupling
GO:0001566	0.000086	9.366974	0.510826	non-kinase phorbol ester receptor activity
GO:0004026	0.000086	9.366974	0.510826	alcohol O-acetyltransferase activity
GO:0004083	0.000086	9.366974	0.510826	bisphosphoglycerate 2-phosphatase activity
GO:0004355	0.000086	9.366974	0.510826	glutamate synthase (NADPH) activity
GO:0005046	0.000086	9.366974	0.510826	KDEL sequence binding
GO:0008480	0.000086	9.366974	0.510826	sarcosine dehydrogenase activity
GO:0016040	0.000086	9.366974	0.510826	glutamate synthase (NADH) activity
GO:0018787	0.000086	9.366974	0.510826	4-chlorobenzoyl-CoA dehalogenase activity
GO:0030351	0.000086	9.366974	0.510826	inositol-1,3,4,5,6-pentakisphosphate 3-phosphatase activity
GO:0030883	0.000086	9.366974	0.510826	endogenous lipid antigen binding
GO:0030884	0.000086	9.366974	0.510826	exogenous lipid antigen binding
GO:0031516	0.000086	9.366974	0.510826	far-red light photoreceptor activity
GO:0031896	0.000086	9.366974	0.510826	V2 vasopressin receptor binding
GO:0031963	0.000086	9.366974	0.510826	cortisol receptor activity
GO:0038049	0.000086	9.366974	0.510826	transcription factor activity, ligand-activated RNA polymerase II transcription factor binding
GO:0043733	0.000086	9.366974	0.510826	DNA-3-methylbase glycosylase activity
GO:0045030	0.000086	9.366974	0.510826	UTP-activated nucleotide receptor activity
GO:0047865	0.000086	9.366974	0.510826	dimethylglycine dehydrogenase activity
GO:0051507	0.000086	9.366974	0.510826	beta-sitosterol UDP-glucosyltransferase activity
GO:0052634	0.000086	9.366974	0.510826	C-19 gibberellin 2-beta-dioxygenase activity
GO:0052635	0.000086	9.366974	0.510826	C-20 gibberellin 2-beta-dioxygenase activity
GO:0080115	0.000086	9.366974	0.510826	myosin XI tail binding
GO:0086059	0.000086	9.366974	0.510826	voltage-gated calcium channel activity involved SA node cell action potential
GO:0000701	0.000086	9.366974	0.693147	purine-specific mismatch base pair DNA N-glycosylase activity
GO:0001068	0.000086	9.366974	0.693147	transcription regulatory region RNA binding
GO:0004944	0.000086	9.366974	0.693147	C5a anaphylatoxin receptor activity
GO:0005362	0.000086	9.366974	0.693147	low-affinity glucose:sodium symporter activity
GO:0008732	0.000086	9.366974	0.693147	L-allo-threonine aldolase activity
GO:0008988	0.000086	9.366974	0.693147	rRNA (adenine-N6-)-methyltransferase activity
GO:0030342	0.000086	9.366974	0.693147	1-alpha,25-dihydroxyvitamin D3 24-hydroxylase activity
GO:0031843	0.000086	9.366974	0.693147	type 2 neuropeptide Y receptor binding
GO:0032067	0.000086	9.366974	0.693147	Type IV site-specific deoxyribonuclease activity
GO:0032556	0.000086	9.366974	0.693147	pyrimidine deoxyribonucleotide binding
GO:0032560	0.000086	9.366974	0.693147	guanyl deoxyribonucleotide binding
GO:0036456	0.000086	9.366974	0.693147	L-methionine-(S)-S-oxide reductase activity
GO:0042329	0.000086	9.366974	0.693147	structural constituent of collagen and cuticulin-based cuticle
GO:0042497	0.000086	9.366974	0.693147	triacyl lipopeptide binding
GO:0042498	0.000086	9.366974	0.693147	diacyl lipopeptide binding
GO:0046029	0.000086	9.366974	0.693147	mannitol dehydrogenase activity
GO:0061759	0.000086	9.366974	0.693147	alpha-ketoglutarate reductase activity
GO:0070774	0.000086	9.366974	0.693147	phytoceramidase activity
GO:0070890	0.000086	9.366974	0.693147	sodium-dependent L-ascorbate transmembrane transporter activity
GO:0080041	0.000086	9.366974	0.693147	ADP-ribose pyrophosphohydrolase activity
GO:0086089	0.000086	9.366974	0.693147	voltage-gated potassium channel activity involved in atrial cardiac muscle cell action potential repolarization
GO:1990163	0.000086	9.366974	0.693147	ATP-dependent four-way junction helicase activity
GO:0004923	0.000086	9.366974	0.847298	leukemia inhibitory factor receptor activity
GO:0005019	0.000086	9.366974	0.847298	platelet-derived growth factor beta-receptor activity
GO:0005300	0.000086	9.366974	0.847298	high-affinity tryptophan transmembrane transporter activity
GO:0015231	0.000086	9.366974	0.847298	5-formyltetrahydrofolate transporter activity
GO:0030294	0.000086	9.366974	0.847298	receptor signaling protein tyrosine kinase inhibitor activity
GO:0032396	0.000086	9.366974	0.847298	inhibitory MHC class I receptor activity
GO:0035620	0.000086	9.366974	0.847298	ceramide transporter activity
GO:0070260	0.000086	9.366974	0.847298	5'-tyrosyl-DNA phosphodiesterase activity
GO:1990081	0.000086	9.366974	0.847298	trimethylamine receptor activity
GO:0001168	0.000086	9.366974	0.980829	transcription factor activity, RNA polymerase I upstream control element sequence-specific binding
GO:0002061	0.000086	9.366974	0.980829	pyrimidine nucleobase binding
GO:0004504	0.000086	9.366974	0.980829	peptidylglycine monooxygenase activity
GO:0004918	0.000086	9.366974	0.980829	interleukin-8 receptor activity
GO:0005503	0.000086	9.366974	0.980829	all-trans retinal binding
GO:0008523	0.000086	9.366974	0.980829	sodium-dependent multivitamin transmembrane transporter activity
GO:0008693	0.000086	9.366974	0.980829	3-hydroxydecanoyl-[acyl-carrier-protein] dehydratase activity
GO:0015361	0.000086	9.366974	0.980829	low-affinity sodium:dicarboxylate symporter activity
GO:0016295	0.000086	9.366974	0.980829	myristoyl-[acyl-carrier-protein] hydrolase activity
GO:0016296	0.000086	9.366974	0.980829	palmitoyl-[acyl-carrier-protein] hydrolase activity
GO:0031687	0.000086	9.366974	0.980829	A2A adenosine receptor binding
GO:0031780	0.000086	9.366974	0.980829	corticotropin hormone receptor binding
GO:0031783	0.000086	9.366974	0.980829	type 5 melanocortin receptor binding
GO:0047451	0.000086	9.366974	0.980829	3-hydroxyoctanoyl-[acyl-carrier-protein] dehydratase activity
GO:0050446	0.000086	9.366974	0.980829	azobenzene reductase activity
GO:1990447	0.000086	9.366974	0.980829	U2 snRNP binding
GO:0000831	0.000086	9.366974	1.098612	inositol hexakisphosphate 6-kinase activity
GO:0004522	0.000086	9.366974	1.098612	ribonuclease A activity
GO:0004906	0.000086	9.366974	1.098612	interferon-gamma receptor activity
GO:0005169	0.000086	9.366974	1.098612	neurotrophin TRKB receptor binding
GO:0008803	0.000086	9.366974	1.098612	bis(5'-nucleosyl)-tetraphosphatase (symmetrical) activity
GO:0010331	0.000086	9.366974	1.098612	gibberellin binding
GO:0015080	0.000086	9.366974	1.098612	silver ion transmembrane transporter activity
GO:0015148	0.000086	9.366974	1.098612	D-xylose transmembrane transporter activity
GO:0022852	0.000086	9.366974	1.098612	glycine-gated chloride ion channel activity
GO:0031798	0.000086	9.366974	1.098612	type 1 metabotropic glutamate receptor binding
GO:0031800	0.000086	9.366974	1.098612	type 3 metabotropic glutamate receptor binding
GO:0033678	0.000086	9.366974	1.098612	5'-3' DNA/RNA helicase activity
GO:0042900	0.000086	9.366974	1.098612	arabinose transmembrane transporter activity
GO:0047053	0.000086	9.366974	1.098612	(S)-cheilanthifoline synthase activity
GO:0086062	0.000086	9.366974	1.098612	voltage-gated sodium channel activity involved in Purkinje myocyte action potential
GO:0086063	0.000086	9.366974	1.098612	voltage-gated sodium channel activity involved in SA node cell action potential
GO:0097158	0.000086	9.366974	1.098612	pre-mRNA intronic pyrimidine-rich binding
GO:0001605	0.000086	9.366974	1.203973	adrenomedullin receptor activity
GO:0001632	0.000086	9.366974	1.203973	leukotriene B4 receptor activity
GO:0001635	0.000086	9.366974	1.203973	calcitonin gene-related peptide receptor activity
GO:0005053	0.000086	9.366974	1.203973	peroxisome matrix targeting signal-2 binding
GO:0010465	0.000086	9.366974	1.203973	nerve growth factor receptor activity
GO:0016362	0.000086	9.366974	1.203973	activin receptor activity, type II
GO:0032138	0.000086	9.366974	1.203973	single base insertion or deletion binding
GO:0032139	0.000086	9.366974	1.203973	dinucleotide insertion or deletion binding
GO:0033328	0.000086	9.366974	1.203973	peroxisome membrane targeting sequence binding
GO:0034042	0.000086	9.366974	1.203973	5-formyluracil DNA N-glycosylase activity
GO:0034043	0.000086	9.366974	1.203973	5-hydroxymethyluracil DNA N-glycosylase activity
GO:0047821	0.000086	9.366974	1.203973	D-glutamate oxidase activity
GO:0080007	0.000086	9.366974	1.203973	S-nitrosoglutathione reductase activity
GO:0003914	0.000086	9.366974	1.299283	DNA (6-4) photolyase activity
GO:0008160	0.000086	9.366974	1.299283	protein tyrosine phosphatase activator activity
GO:0008405	0.000086	9.366974	1.299283	arachidonic acid 11,12-epoxygenase activity
GO:0008513	0.000086	9.366974	1.299283	secondary active organic cation transmembrane transporter activity
GO:0034737	0.000086	9.366974	1.299283	ergosterol O-acyltransferase activity
GO:0070043	0.000086	9.366974	1.299283	rRNA (guanine-N7-)-methyltransferase activity
GO:0000825	0.000086	9.366974	1.386294	inositol tetrakisphosphate 6-kinase activity
GO:0004776	0.000086	9.366974	1.386294	succinate-CoA ligase (GDP-forming) activity
GO:0005153	0.000086	9.366974	1.386294	interleukin-8 receptor binding
GO:0008666	0.000086	9.366974	1.386294	2,3,4,5-tetrahydropyridine-2,6-dicarboxylate N-succinyltransferase activity
GO:0015319	0.000086	9.366974	1.386294	sodium:inorganic phosphate symporter activity
GO:0019811	0.000086	9.366974	1.386294	cocaine binding
GO:0030487	0.000086	9.366974	1.386294	inositol-4,5-bisphosphate 5-phosphatase activity
GO:0030617	0.000086	9.366974	1.386294	transforming growth factor beta receptor, inhibitory cytoplasmic mediator activity
GO:0031724	0.000086	9.366974	1.386294	CXCR5 chemokine receptor binding
GO:0035403	0.000086	9.366974	1.386294	histone kinase activity (H3-T6 specific)
GO:0036313	0.000086	9.366974	1.386294	phosphatidylinositol 3-kinase catalytic subunit binding
GO:0047622	0.000086	9.366974	1.386294	adenosine nucleosidase activity
GO:0050797	0.000086	9.366974	1.386294	thymidylate synthase (FAD) activity
GO:0051717	0.000086	9.366974	1.386294	inositol-1,3,4,5-tetrakisphosphate 3-phosphatase activity
GO:0052828	0.000086	9.366974	1.386294	inositol-3,4-bisphosphate 4-phosphatase activity
GO:0061750	0.000086	9.366974	1.386294	acid sphingomyelin phosphodiesterase activity
GO:0070224	0.000086	9.366974	1.386294	sulfide:quinone oxidoreductase activity
GO:1902121	0.000086	9.366974	1.386294	lithocholic acid binding
GO:0001855	0.000086	9.366974	1.466337	complement component C4b binding
GO:0018392	0.000086	9.366974	1.466337	glycoprotein 3-alpha-L-fucosyltransferase activity
GO:0034597	0.000086	9.366974	1.466337	phosphatidylinositol-4,5-bisphosphate 4-phosphatase activity
GO:0035717	0.000086	9.366974	1.466337	chemokine (C-C motif) ligand 7 binding
GO:0000100	0.000086	9.366974	1.540445	S-methylmethionine transmembrane transporter activity
GO:0001626	0.000086	9.366974	1.540445	nociceptin receptor activity
GO:0005151	0.000086	9.366974	1.540445	interleukin-1, Type II receptor binding
GO:0005333	0.000086	9.366974	1.540445	norepinephrine transmembrane transporter activity
GO:0008860	0.000086	9.366974	1.540445	ferredoxin-NAD+ reductase activity
GO:0015044	0.000086	9.366974	1.540445	rubredoxin-NAD+ reductase activity
GO:0015046	0.000086	9.366974	1.540445	rubredoxin-NADP reductase activity
GO:0018169	0.000086	9.366974	1.540445	ribosomal S6-glutamic acid ligase activity
GO:0038046	0.000086	9.366974	1.540445	enkephalin receptor activity
GO:0042931	0.000086	9.366974	1.540445	enterobactin transporter activity
GO:0052794	0.000086	9.366974	1.540445	exo-alpha-(2->3)-sialidase activity
GO:0004137	0.000086	9.366974	1.609438	deoxycytidine kinase activity
GO:0008720	0.000086	9.366974	1.609438	D-lactate dehydrogenase activity
GO:0017065	0.000086	9.366974	1.609438	single-strand selective uracil DNA N-glycosylase activity
GO:0034189	0.000086	9.366974	1.609438	very-low-density lipoprotein particle binding
GO:0051719	0.000086	9.366974	1.609438	DNA (cytosine-5-)-methyltransferase activity, acting on CpN substrates
GO:0052654	0.000086	9.366974	1.609438	L-leucine transaminase activity
GO:0052655	0.000086	9.366974	1.609438	L-valine transaminase activity
GO:0052656	0.000086	9.366974	1.609438	L-isoleucine transaminase activity
GO:0070738	0.000086	9.366974	1.609438	tubulin-glycine ligase activity
GO:1990189	0.000086	9.366974	1.609438	peptide-serine-N-acetyltransferase activity
GO:0001785	0.000086	9.366974	1.673976	prostaglandin J receptor activity
GO:0004572	0.000086	9.366974	1.673976	mannosyl-oligosaccharide 1,3-1,6-alpha-mannosidase activity
GO:0004958	0.000086	9.366974	1.673976	prostaglandin F receptor activity
GO:0008115	0.000086	9.366974	1.673976	sarcosine oxidase activity
GO:0008861	0.000086	9.366974	1.673976	formate C-acetyltransferase activity
GO:0016150	0.000086	9.366974	1.673976	translation release factor activity, codon nonspecific
GO:0034722	0.000086	9.366974	1.673976	gamma-glutamyl-peptidase activity
GO:0036374	0.000086	9.366974	1.673976	glutathione hydrolase activity
GO:0036408	0.000086	9.366974	1.673976	histone acetyltransferase activity (H3-K14 specific)
GO:0043995	0.000086	9.366974	1.673976	histone acetyltransferase activity (H4-K5 specific)
GO:0043997	0.000086	9.366974	1.673976	histone acetyltransferase activity (H4-K12 specific)
GO:0050031	0.000086	9.366974	1.673976	L-pipecolate oxidase activity
GO:1902417	0.000086	9.366974	1.673976	(+)-abscisic acid D-glucopyranosyl ester transmembrane transporter activity
GO:0000402	0.000086	9.366974	1.734601	crossed form four-way junction DNA binding
GO:0004071	0.000086	9.366974	1.734601	aspartate-ammonia ligase activity
GO:0005026	0.000086	9.366974	1.734601	transforming growth factor beta receptor activity, type II
GO:0044682	0.000086	9.366974	1.734601	archaeal-specific GTP cyclohydrolase activity
GO:0050626	0.000086	9.366974	1.734601	trimethylamine-N-oxide reductase (cytochrome c) activity
GO:0070123	0.000086	9.366974	1.734601	transforming growth factor beta receptor activity, type III
GO:0090566	0.000086	9.366974	1.734601	protein-phosphocysteine-N,N'-diacetylchitobiose phosphotransferase system transporter activity
GO:0003863	0.000086	9.366974	1.791759	3-methyl-2-oxobutanoate dehydrogenase (2-methylpropanoyl-transferring) activity
GO:0005090	0.000086	9.366974	1.791759	Sar guanyl-nucleotide exchange factor activity
GO:0015378	0.000086	9.366974	1.791759	sodium:chloride symporter activity
GO:0015639	0.000086	9.366974	1.791759	ferrous iron uptake transmembrane transporter activity
GO:0050269	0.000086	9.366974	1.791759	coniferyl-aldehyde dehydrogenase activity
GO:0052832	0.000086	9.366974	1.791759	inositol monophosphate 3-phosphatase activity
GO:0071886	0.000086	9.366974	1.791759	1-(4-iodo-2,5-dimethoxyphenyl)propan-2-amine binding
GO:0004097	0.000086	9.366974	1.845827	catechol oxidase activity
GO:0009916	0.000086	9.366974	1.845827	alternative oxidase activity
GO:0097079	0.000086	9.366974	1.845827	selenite:proton symporter activity
GO:0001089	0.000086	9.366974	1.897120	transcription factor activity, TFIIF-class transcription factor binding
GO:0004884	0.000086	9.366974	1.897120	ecdysteroid hormone receptor activity
GO:0009905	0.000086	9.366974	1.897120	ent-copalyl diphosphate synthase activity
GO:0016732	0.000086	9.366974	1.897120	oxidoreductase activity, acting on iron-sulfur proteins as donors, dinitrogen as acceptor
GO:0017082	0.000086	9.366974	1.897120	mineralocorticoid receptor activity
GO:0050483	0.000086	9.366974	1.897120	IMP 5'-nucleotidase activity
GO:0008495	0.000086	9.366974	1.945910	protoheme IX farnesyltransferase activity
GO:0043183	0.000086	9.366974	1.945910	vascular endothelial growth factor receptor 1 binding
GO:0003885	0.000086	9.366974	1.992430	D-arabinono-1,4-lactone oxidase activity
GO:0016213	0.000086	9.366974	1.992430	linoleoyl-CoA desaturase activity
GO:0017105	0.000086	9.366974	1.992430	acyl-CoA delta11-desaturase activity
GO:0032866	0.000086	9.366974	1.992430	D-xylose:NADP reductase activity
GO:0050385	0.000086	9.366974	1.992430	ureidoglycolate lyase activity
GO:0004964	0.000086	9.366974	2.036882	luteinizing hormone receptor activity
GO:0004968	0.000086	9.366974	2.036882	gonadotropin-releasing hormone receptor activity
GO:0005463	0.000086	9.366974	2.036882	UDP-N-acetylgalactosamine transmembrane transporter activity
GO:0010341	0.000086	9.366974	2.036882	gibberellin carboxyl-O-methyltransferase activity
GO:0017161	0.000086	9.366974	2.036882	inositol-1,3,4-trisphosphate 4-phosphatase activity
GO:0030580	0.000086	9.366974	2.036882	quinone cofactor methyltransferase activity
GO:0051381	0.000086	9.366974	2.036882	histamine binding
GO:0052829	0.000086	9.366974	2.036882	inositol-1,3,4-trisphosphate 1-phosphatase activity
GO:0070539	0.000086	9.366974	2.036882	linoleic acid binding
GO:0070540	0.000086	9.366974	2.036882	stearic acid binding
GO:0001096	0.000086	9.366974	2.079442	TFIIF-class transcription factor binding
GO:0001097	0.000086	9.366974	2.079442	TFIIH-class transcription factor binding
GO:0008176	0.000086	9.366974	2.079442	tRNA (guanine-N7-)-methyltransferase activity
GO:0001850	0.000086	9.366974	2.120264	complement component C3a binding
GO:0001856	0.000086	9.366974	2.120264	complement component C5a binding
GO:0008885	0.000086	9.366974	2.120264	glutathionylspermidine synthase activity
GO:0031691	0.000086	9.366974	2.120264	alpha-1A adrenergic receptor binding
GO:0031696	0.000086	9.366974	2.120264	alpha-2C adrenergic receptor binding
GO:0031699	0.000086	9.366974	2.120264	beta-3 adrenergic receptor binding
GO:0072545	0.000086	9.366974	2.120264	tyrosine binding
GO:0010475	0.000086	9.366974	2.159484	galactose-1-phosphate guanylyltransferase (GDP) activity
GO:0015227	0.000086	9.366974	2.159484	acyl carnitine transmembrane transporter activity
GO:0047341	0.000086	9.366974	2.159484	fucose-1-phosphate guanylyltransferase activity
GO:0047517	0.000086	9.366974	2.159484	1,4-beta-D-xylan synthase activity
GO:0015244	0.000086	9.366974	2.197225	fluconazole transporter activity
GO:0031732	0.000086	9.366974	2.197225	CCR7 chemokine receptor binding
GO:0047100	0.000086	9.366974	2.197225	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (phosphorylating) activity
GO:0003943	0.000086	9.366974	2.233592	N-acetylgalactosamine-4-sulfatase activity
GO:0004773	0.000086	9.366974	2.233592	steryl-sulfatase activity
GO:0008837	0.000086	9.366974	2.233592	diaminopimelate epimerase activity
GO:0008881	0.000086	9.366974	2.233592	glutamate racemase activity
GO:0018741	0.000086	9.366974	2.233592	alkyl sulfatase activity
GO:0019158	0.000086	9.366974	2.233592	mannokinase activity
GO:0031751	0.000086	9.366974	2.233592	D4 dopamine receptor binding
GO:0033905	0.000086	9.366974	2.233592	xylan endo-1,3-beta-xylosidase activity
GO:0047656	0.000086	9.366974	2.233592	alpha,alpha-trehalose phosphorylase activity
GO:0050500	0.000086	9.366974	2.233592	1,3-beta-galactosyl-N-acetylhexosamine phosphorylase activity
GO:0015542	0.000086	9.366974	2.268684	sugar efflux transmembrane transporter activity
GO:0001409	0.000086	9.366974	2.302585	guanine nucleotide transmembrane transporter activity
GO:0008690	0.000086	9.366974	2.302585	3-deoxy-manno-octulosonate cytidylyltransferase activity
GO:0008781	0.000086	9.366974	2.302585	N-acylneuraminate cytidylyltransferase activity
GO:0044716	0.000086	9.366974	2.302585	8-oxo-GDP phosphatase activity
GO:0090450	0.000086	9.366974	2.302585	inosine-diphosphatase activity
GO:0090632	0.000086	9.366974	2.302585	N-glycolylneuraminic acid (Neu5Gc) cytidylyltransferase activity
GO:0090633	0.000086	9.366974	2.302585	keto-deoxynonulosonic acid (KDN) cytidylyltransferase activity
GO:0003952	0.000086	9.366974	2.335375	NAD+ synthase (glutamine-hydrolyzing) activity
GO:0008579	0.000086	9.366974	2.335375	JUN kinase phosphatase activity
GO:0030586	0.000086	9.366974	2.335375	[methionine synthase] reductase activity
GO:0047783	0.000086	9.366974	2.335375	corticosterone 18-monooxygenase activity
GO:1902379	0.000086	9.366974	2.335375	chemoattractant activity involved in axon guidance
GO:0004569	0.000086	9.366974	2.367124	glycoprotein endo-alpha-1,2-mannosidase activity
GO:0034431	0.000086	9.366974	2.367124	bis(5'-adenosyl)-hexaphosphatase activity
GO:0008980	0.000086	9.366974	2.397895	propionate kinase activity
GO:0015373	0.000086	9.366974	2.427748	monovalent anion:sodium symporter activity
GO:0050467	0.000086	9.366974	2.427748	pentalenene synthase activity
GO:0000406	0.000086	9.366974	2.456736	double-strand/single-strand DNA junction binding
GO:0001791	0.000086	9.366974	2.456736	IgM binding
GO:0004479	0.000086	9.366974	2.456736	methionyl-tRNA formyltransferase activity
GO:0008390	0.000086	9.366974	2.456736	testosterone 16-alpha-hydroxylase activity
GO:0008773	0.000086	9.366974	2.456736	[protein-PII] uridylyltransferase activity
GO:0008828	0.000086	9.366974	2.456736	dATP pyrophosphohydrolase activity
GO:0016727	0.000086	9.366974	2.456736	oxidoreductase activity, acting on CH or CH2 groups, oxygen as acceptor
GO:0030627	0.000086	9.366974	2.456736	pre-mRNA 5'-splice site binding
GO:0032500	0.000086	9.366974	2.456736	muramyl dipeptide binding
GO:0036218	0.000086	9.366974	2.456736	dTTP diphosphatase activity
GO:0036219	0.000086	9.366974	2.456736	GTP diphosphatase activity
GO:0036220	0.000086	9.366974	2.456736	ITP diphosphatase activity
GO:0036221	0.000086	9.366974	2.456736	UTP diphosphatase activity
GO:0036222	0.000086	9.366974	2.456736	XTP diphosphatase activity
GO:0045131	0.000086	9.366974	2.456736	pre-mRNA branch point binding
GO:0052630	0.000086	9.366974	2.456736	UDP-N-acetylgalactosamine diphosphorylase activity
GO:0071207	0.000086	9.366974	2.456736	histone pre-mRNA stem-loop binding
GO:0009673	0.000086	9.366974	2.484907	low-affinity phosphate transmembrane transporter activity
GO:0019778	0.000086	9.366974	2.484907	Atg12 activating enzyme activity
GO:0019779	0.000086	9.366974	2.484907	Atg8 activating enzyme activity
GO:0019780	0.000086	9.366974	2.484907	FAT10 activating enzyme activity
GO:0042292	0.000086	9.366974	2.484907	URM1 activating enzyme activity
GO:0071566	0.000086	9.366974	2.484907	UFM1 activating enzyme activity
GO:0008756	0.000086	9.366974	2.538974	o-succinylbenzoate-CoA ligase activity
GO:0015334	0.000086	9.366974	2.538974	high-affinity oligopeptide transporter activity
GO:0031218	0.000086	9.366974	2.538974	arabinogalactan endo-1,4-beta-galactosidase activity
GO:0044654	0.000086	9.366974	2.538974	starch alpha-glucosidase activity
GO:0052883	0.000086	9.366974	2.564949	tyrosine ammonia-lyase activity
GO:0000994	0.000086	9.366974	2.590267	RNA polymerase III core binding
GO:0044610	0.000086	9.366974	2.590267	FMN transmembrane transporter activity
GO:0030622	0.000086	9.366974	2.614960	U4atac snRNA binding
GO:0030623	0.000086	9.366974	2.614960	U5 snRNA binding
GO:0034512	0.000086	9.366974	2.614960	box C/D snoRNA binding
GO:0008118	0.000086	9.366974	2.639057	N-acetyllactosaminide alpha-2,3-sialyltransferase activity
GO:0019970	0.000086	9.366974	2.639057	interleukin-11 binding
GO:0019981	0.000086	9.366974	2.639057	interleukin-6 binding
GO:0047150	0.000086	9.366974	2.639057	betaine-homocysteine S-methyltransferase activity
GO:0008709	0.000086	9.366974	2.662588	cholate 7-alpha-dehydrogenase activity
GO:0035410	0.000086	9.366974	2.662588	dihydrotestosterone 17-beta-dehydrogenase activity
GO:0044594	0.000086	9.366974	2.662588	17-beta-hydroxysteroid dehydrogenase (NAD+) activity
GO:0047045	0.000086	9.366974	2.662588	testosterone 17-beta-dehydrogenase (NADP+) activity
GO:0005287	0.000086	9.366974	2.685577	high-affinity basic amino acid transmembrane transporter activity
GO:0015633	0.000086	9.366974	2.708050	zinc transporting ATPase activity
GO:0034017	0.000086	9.366974	2.708050	trans-2-decenoyl-acyl-carrier-protein isomerase activity
GO:0052815	0.000086	9.366974	2.708050	medium-chain acyl-CoA hydrolase activity
GO:0004848	0.000086	9.366974	2.730029	ureidoglycolate hydrolase activity
GO:0008911	0.000086	9.366974	2.730029	lactaldehyde dehydrogenase activity
GO:0008957	0.000086	9.366974	2.730029	phenylacetaldehyde dehydrogenase activity
GO:0016403	0.000086	9.366974	2.730029	dimethylargininase activity
GO:0016990	0.000086	9.366974	2.730029	arginine deiminase activity
GO:0047632	0.000086	9.366974	2.730029	agmatine deiminase activity
GO:0050061	0.000086	9.366974	2.730029	long-chain-aldehyde dehydrogenase activity
GO:0005174	0.000086	9.366974	2.793208	CD40 receptor binding
GO:0005175	0.000086	9.366974	2.793208	CD27 receptor binding
GO:0050208	0.000086	9.366974	2.793208	polysialic-acid O-acetyltransferase activity
GO:0004998	0.000086	9.366974	2.813411	transferrin receptor activity
GO:0061714	0.000086	9.366974	2.813411	folic acid receptor activity
GO:0070287	0.000086	9.366974	2.813411	ferritin receptor activity
GO:0090432	0.000086	9.366974	2.813411	myristoyl-CoA ligase activity
GO:0044378	0.000086	9.366974	2.833213	non-sequence-specific DNA binding, bending
GO:0004410	0.000086	9.366974	2.852631	homocitrate synthase activity
GO:0010177	0.000086	9.366974	2.852631	2-(2'-methylthio)ethylmalate synthase activity
GO:0051800	0.000086	9.366974	2.852631	phosphatidylinositol-3,4-bisphosphate 3-phosphatase activity
GO:0008785	0.000086	9.366974	2.871680	alkyl hydroperoxide reductase activity
GO:0047220	0.000086	9.366974	2.871680	galactosylxylosylprotein 3-beta-galactosyltransferase activity
GO:0004610	0.000086	9.366974	2.890372	phosphoacetylglucosamine mutase activity
GO:0032051	0.000086	9.366974	2.908721	clathrin light chain binding
GO:0038071	0.000086	9.366974	2.908721	MAP kinase activity involved in conjugation with cellular fusion
GO:0010297	0.000086	9.366974	2.944439	heteropolysaccharide binding
GO:0019010	0.000086	9.366974	2.961831	farnesoic acid O-methyltransferase activity
GO:0033799	0.000086	9.366974	2.961831	myricetin 3'-O-methyltransferase activity
GO:0047668	0.000086	9.366974	2.978925	amygdalin beta-glucosidase activity
GO:0046987	0.000086	9.366974	2.995732	N-acetyllactosamine beta-1,3-glucuronosyltransferase activity
GO:0046988	0.000086	9.366974	2.995732	asioloorosomucoid beta-1,3-glucuronosyltransferase activity
GO:0046989	0.000086	9.366974	2.995732	galactosyl beta-1,3 N-acetylgalactosamine beta-1,3-glucuronosyltransferase activity
GO:0004778	0.000086	9.366974	3.012262	succinyl-CoA hydrolase activity
GO:0010489	0.000086	9.366974	3.012262	UDP-4-keto-6-deoxy-glucose-3,5-epimerase activity
GO:0018739	0.000086	9.366974	3.012262	4-hydroxybenzoyl-CoA thioesterase activity
GO:0050121	0.000086	9.366974	3.012262	N-acylglucosamine 2-epimerase activity
GO:0009025	0.000086	9.366974	3.028522	tagatose-bisphosphate aldolase activity
GO:0031704	0.000086	9.366974	3.028522	apelin receptor binding
GO:0031763	0.000086	9.366974	3.028522	galanin receptor binding
GO:0031877	0.000086	9.366974	3.028522	somatostatin receptor binding
GO:0033984	0.000086	9.366974	3.028522	indole-3-glycerol-phosphate lyase activity
GO:0035575	0.000086	9.366974	3.028522	histone demethylase activity (H4-K20 specific)
GO:0046593	0.000086	9.366974	3.028522	mandelonitrile lyase activity
GO:0061609	0.000086	9.366974	3.028522	fructose-1-phosphate aldolase activity
GO:0097023	0.000086	9.366974	3.028522	fructose 6-phosphate aldolase activity
GO:1990050	0.000086	9.366974	3.028522	phosphatidic acid transporter activity
GO:0016656	0.000086	9.366974	3.044522	monodehydroascorbate reductase (NADH) activity
GO:0008696	0.000086	9.366974	3.060271	4-amino-4-deoxychorismate lyase activity
GO:0008701	0.000086	9.366974	3.060271	4-hydroxy-2-oxovalerate aldolase activity
GO:0008747	0.000086	9.366974	3.060271	N-acetylneuraminate lyase activity
GO:0008813	0.000086	9.366974	3.060271	chorismate lyase activity
GO:0047443	0.000086	9.366974	3.060271	4-hydroxy-4-methyl-2-oxoglutarate aldolase activity
GO:0047777	0.000086	9.366974	3.060271	(3S)-citramalyl-CoA lyase activity
GO:0050236	0.000086	9.366974	3.075775	pyridoxine:NADP 4-dehydrogenase activity
GO:1901149	0.000086	9.366974	3.075775	salicylic acid binding
GO:0034010	0.000086	9.366974	3.091042	sulfolactate sulfo-lyase activity
GO:0044540	0.000086	9.366974	3.091042	L-cystine L-cysteine-lyase (deaminating)
GO:0047804	0.000086	9.366974	3.091042	cysteine-S-conjugate beta-lyase activity
GO:1903924	0.000086	9.366974	3.091042	estradiol binding
GO:0004132	0.000086	9.366974	3.106080	dCMP deaminase activity
GO:0008829	0.000086	9.366974	3.106080	dCTP deaminase activity
GO:0030729	0.000086	9.366974	3.106080	acetoacetate-CoA ligase activity
GO:0043955	0.000086	9.366974	3.106080	3-hydroxypropionyl-CoA synthetase activity
GO:0050203	0.000086	9.366974	3.106080	oxalate-CoA ligase activity
GO:0090409	0.000086	9.366974	3.106080	malonyl-CoA synthetase activity
GO:0016843	0.000086	9.366974	3.120895	amine-lyase activity
GO:0005136	0.000086	9.366974	3.135494	interleukin-4 receptor binding
GO:0001607	0.000086	9.366974	3.164068	neuromedin U receptor activity
GO:0004486	0.000086	9.366974	3.164068	methylenetetrahydrofolate dehydrogenase [NAD(P)+] activity
GO:0008269	0.000086	9.366974	3.164068	JAK pathway signal transduction adaptor activity
GO:0047126	0.000086	9.366974	3.164068	N5-(carboxyethyl)ornithine synthase activity
GO:0052875	0.000086	9.366974	3.164068	riboflavin reductase (NADH) activity
GO:0015150	0.000086	9.366974	3.178054	fucose transmembrane transporter activity
GO:0032131	0.000086	9.366974	3.205453	alkylated DNA binding
GO:1901239	0.000086	9.366974	3.205453	malonate(1-) transmembrane transporter activity
GO:1990165	0.000086	9.366974	3.205453	single-strand break-containing DNA binding
GO:2001147	0.000086	9.366974	3.205453	camalexin binding
GO:0003827	0.000086	9.366974	3.218876	alpha-1,3-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0004577	0.000086	9.366974	3.218876	N-acetylglucosaminyldiphosphodolichol N-acetylglucosaminyltransferase activity
GO:0008454	0.000086	9.366974	3.218876	alpha-1,3-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0030144	0.000086	9.366974	3.218876	alpha-1,6-mannosylglycoprotein 6-beta-N-acetylglucosaminyltransferase activity
GO:0033829	0.000086	9.366974	3.218876	O-fucosylpeptide 3-beta-N-acetylglucosaminyltransferase activity
GO:0042328	0.000086	9.366974	3.218876	heparan sulfate N-acetylglucosaminyltransferase activity
GO:0061542	0.000086	9.366974	3.295837	3-demethylubiquinone-n 3-O-methyltransferase activity
GO:0001962	0.000086	9.366974	3.308107	alpha-1,3-galactosyltransferase activity
GO:0031278	0.000086	9.366974	3.308107	alpha-1,2-galactosyltransferase activity
GO:0047268	0.000086	9.366974	3.308107	galactinol-raffinose galactosyltransferase activity
GO:0004820	0.000086	9.366974	3.332205	glycine-tRNA ligase activity
GO:0004827	0.000086	9.366974	3.332205	proline-tRNA ligase activity
GO:0045129	0.000086	9.366974	3.332205	NAD-independent histone deacetylase activity
GO:0061628	0.000086	9.366974	3.367296	H3K27me3 modified histone binding
GO:1990889	0.000086	9.366974	3.367296	H4K20me3 modified histone binding
GO:0008685	0.000086	9.366974	3.378725	2-C-methyl-D-erythritol 2,4-cyclodiphosphate synthase activity
GO:0008929	0.000086	9.366974	3.378725	methylglyoxal synthase activity
GO:0008963	0.000086	9.366974	3.412247	phospho-N-acetylmuramoyl-pentapeptide-transferase activity
GO:0008671	0.000086	9.366974	3.423176	2-dehydro-3-deoxygalactonokinase activity
GO:0008993	0.000086	9.366974	3.423176	rhamnulokinase activity
GO:0045547	0.000086	9.366974	3.423176	dehydrodolichyl diphosphate synthase activity
GO:0061598	0.000086	9.366974	3.476099	molybdopterin adenylyltransferase activity
GO:0004989	0.000086	9.366974	3.496508	octopamine receptor activity
GO:0008226	0.000086	9.366974	3.496508	tyramine receptor activity
GO:0008718	0.000086	9.366974	3.496508	D-amino-acid dehydrogenase activity
GO:0035755	0.000086	9.366974	3.516508	cardiolipin hydrolase activity
GO:0050290	0.000086	9.366974	3.516508	sphingomyelin phosphodiesterase D activity
GO:0070290	0.000086	9.366974	3.516508	N-acylphosphatidylethanolamine-specific phospholipase D activity
GO:0070635	0.000086	9.366974	3.526361	nicotinamide riboside hydrolase activity
GO:0070694	0.000086	9.366974	3.526361	deoxyribonucleoside 5'-monophosphate N-glycosidase activity
GO:0004835	0.000086	9.366974	3.536117	tubulin-tyrosine ligase activity
GO:0008765	0.000086	9.366974	3.536117	UDP-N-acetylmuramoylalanyl-D-glutamate-2,6-diaminopimelate ligase activity
GO:0017178	0.000086	9.366974	3.536117	diphthine-ammonia ligase activity
GO:0050565	0.000086	9.366974	3.536117	aerobactin synthase activity
GO:0008597	0.000086	9.366974	3.574217	calcium-dependent protein serine/threonine phosphatase regulator activity
GO:0042801	0.000086	9.366974	3.574217	polo kinase kinase activity
GO:0004027	0.000086	9.366974	3.583519	alcohol sulfotransferase activity
GO:0016232	0.000086	9.366974	3.583519	HNK-1 sulfotransferase activity
GO:0050659	0.000086	9.366974	3.583519	N-acetylgalactosamine 4-sulfate 6-O-sulfotransferase activity
GO:0050698	0.000086	9.366974	3.583519	proteoglycan sulfotransferase activity
GO:0080118	0.000086	9.366974	3.583519	brassinosteroid sulfotransferase activity
GO:0008977	0.000086	9.366974	3.592736	prephenate dehydrogenase activity
GO:0016156	0.000086	9.366974	3.592736	fumarate reductase (NADH) activity
GO:0032440	0.000086	9.366974	3.592736	2-alkenal reductase [NAD(P)] activity
GO:0043115	0.000086	9.366974	3.592736	precorrin-2 dehydrogenase activity
GO:0043958	0.000086	9.366974	3.592736	acryloyl-CoA reductase activity
GO:0047115	0.000086	9.366974	3.592736	trans-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0050118	0.000086	9.366974	3.592736	N-acetyldiaminopimelate deacetylase activity
GO:0050119	0.000086	9.366974	3.592736	N-acetylglucosamine deacetylase activity
GO:0050614	0.000086	9.366974	3.592736	delta24-sterol reductase activity
GO:0002114	0.000086	9.366974	3.601868	interleukin-33 receptor activity
GO:0004051	0.000086	9.366974	3.601868	arachidonate 5-lipoxygenase activity
GO:0004903	0.000086	9.366974	3.601868	growth hormone receptor activity
GO:0004912	0.000086	9.366974	3.601868	interleukin-3 receptor activity
GO:0004915	0.000086	9.366974	3.601868	interleukin-6 receptor activity
GO:0004920	0.000086	9.366974	3.601868	interleukin-10 receptor activity
GO:0004921	0.000086	9.366974	3.601868	interleukin-11 receptor activity
GO:0004925	0.000086	9.366974	3.601868	prolactin receptor activity
GO:0010309	0.000086	9.366974	3.601868	acireductone dioxygenase [iron(II)-requiring] activity
GO:0017172	0.000086	9.366974	3.601868	cysteine dioxygenase activity
GO:0019114	0.000086	9.366974	3.601868	catechol dioxygenase activity
GO:0050054	0.000086	9.366974	3.601868	lignostilbene alpha beta-dioxygenase activity
GO:0050313	0.000086	9.366974	3.601868	sulfur dioxygenase activity
GO:0050587	0.000086	9.366974	3.601868	chlorite O2-lyase activity
GO:0051118	0.000086	9.366974	3.601868	glucan endo-1,3-alpha-glucosidase activity
GO:0004597	0.000086	9.366974	3.619887	peptide-aspartate beta-dioxygenase activity
GO:0008336	0.000086	9.366974	3.619887	gamma-butyrobetaine dioxygenase activity
GO:0045431	0.000086	9.366974	3.619887	flavonol synthase activity
GO:0050353	0.000086	9.366974	3.619887	trimethyllysine dioxygenase activity
GO:0018025	0.000086	9.366974	3.663562	calmodulin-lysine N-methyltransferase activity
GO:0042015	0.000086	9.366974	3.663562	interleukin-20 binding
GO:0043120	0.000086	9.366974	3.663562	tumor necrosis factor binding
GO:0051916	0.000086	9.366974	3.663562	granulocyte colony-stimulating factor binding
GO:0070379	0.000086	9.366974	3.663562	high mobility group box 1 binding
GO:0004493	0.000086	9.366974	3.697178	methylmalonyl-CoA epimerase activity
GO:0008111	0.000086	9.366974	3.697178	alpha-methylacyl-CoA racemase activity
GO:0033853	0.000086	9.366974	3.753418	aspartate-prephenate aminotransferase activity
GO:0033854	0.000086	9.366974	3.753418	glutamate-prephenate aminotransferase activity
GO:0033855	0.000086	9.366974	3.753418	nicotianamine aminotransferase activity
GO:0047589	0.000086	9.366974	3.753418	5-aminovalerate transaminase activity
GO:0047958	0.000086	9.366974	3.753418	glycine:2-oxoglutarate aminotransferase activity
GO:0050048	0.000086	9.366974	3.753418	L-leucine:2-oxoglutarate aminotransferase activity
GO:0070546	0.000086	9.366974	3.753418	L-phenylalanine aminotransferase activity
GO:0071164	0.000086	9.366974	3.776585	RNA trimethylguanosine synthase activity
GO:0004581	0.000086	9.366974	3.791737	dolichyl-phosphate beta-glucosyltransferase activity
GO:0008919	0.000086	9.366974	3.791737	lipopolysaccharide glucosyltransferase I activity
GO:0046524	0.000086	9.366974	3.791737	sucrose-phosphate synthase activity
GO:0047213	0.000086	9.366974	3.791737	anthocyanidin 3-O-glucosyltransferase activity
GO:0047807	0.000086	9.366974	3.791737	cytokinin 7-beta-glucosyltransferase activity
GO:0050139	0.000086	9.366974	3.791737	nicotinate glucosyltransferase activity
GO:0052638	0.000086	9.366974	3.791737	indole-3-butyrate beta-glucosyltransferase activity
GO:0080002	0.000086	9.366974	3.791737	UDP-glucose:4-aminobenzoate acylglucosyltransferase activity
GO:0080062	0.000086	9.366974	3.791737	cytokinin 9-beta-glucosyltransferase activity
GO:0030946	0.000086	9.366974	3.799228	protein tyrosine phosphatase activity, metal-dependent
GO:1990238	0.000086	9.366974	3.857215	double-stranded DNA endodeoxyribonuclease activity
GO:0004130	0.000086	9.366974	3.891820	cytochrome-c peroxidase activity
GO:0015647	0.000086	9.366974	3.891820	peptidoglycan transporter activity
GO:0016688	0.000086	9.366974	3.891820	L-ascorbate peroxidase activity
GO:0016692	0.000086	9.366974	3.891820	NADH peroxidase activity
GO:0047888	0.000086	9.366974	3.891820	fatty acid peroxidase activity
GO:0005171	0.000086	9.366974	3.944813	hepatocyte growth factor receptor binding
GO:0008437	0.000086	9.366974	3.957634	thyrotropin-releasing hormone activity
GO:0018659	0.000086	9.366974	3.976562	4-hydroxybenzoate 3-monooxygenase activity
GO:0018662	0.000086	9.366974	3.976562	phenol 2-monooxygenase activity
GO:0033770	0.000086	9.366974	3.976562	2-hydroxyisoflavanone synthase activity
GO:0036202	0.000086	9.366974	3.976562	ent-cassa-12,15-diene 11-hydroxylase activity
GO:0051777	0.000086	9.366974	3.976562	ent-kaurenoate oxidase activity
GO:0072533	0.000086	9.366974	3.976562	tri-(coumaroyl or caffeoyl) spermidine meta-hydroxylase activity
GO:0004491	0.000086	9.366974	3.995138	methylmalonate-semialdehyde dehydrogenase (acylating) activity
GO:0016621	0.000086	9.366974	3.995138	cinnamoyl-CoA reductase activity
GO:0043796	0.000086	9.366974	3.995138	glyceraldehyde dehydrogenase (NADP) activity
GO:0048001	0.000086	9.366974	3.995138	erythrose-4-phosphate dehydrogenase activity
GO:0000310	0.000086	9.366974	4.007333	xanthine phosphoribosyltransferase activity
GO:0004048	0.000086	9.366974	4.007333	anthranilate phosphoribosyltransferase activity
GO:0009032	0.000086	9.366974	4.007333	thymidine phosphorylase activity
GO:0047286	0.000086	9.366974	4.007333	NAD+-diphthamide ADP-ribosyltransferase activity
GO:0016759	0.000086	9.366974	4.013375	cellulose synthase activity
GO:0033823	0.000086	9.366974	4.013375	procollagen glucosyltransferase activity
GO:0033832	0.000086	9.366974	4.013375	alpha,alpha-trehalose phosphorylase (configuration-retaining) activity
GO:0033838	0.000086	9.366974	4.013375	flavonol-3-O-glucoside glucosyltransferase activity
GO:0042281	0.000086	9.366974	4.013375	dolichyl pyrophosphate Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0090440	0.000086	9.366974	4.019382	abscisic acid transporter activity
GO:0030519	0.000086	9.366974	4.025352	snoRNP binding
GO:0003692	0.000086	9.366974	4.054679	left-handed Z-DNA binding
GO:0045142	0.000086	9.366974	4.054679	triplex DNA binding
GO:0004796	0.000086	9.366974	4.066174	thromboxane-A synthase activity
GO:0008116	0.000086	9.366974	4.066174	prostaglandin-I synthase activity
GO:0018845	0.000086	9.366974	4.066174	2-hydroxychromene-2-carboxylate isomerase activity
GO:0050220	0.000086	9.366974	4.066174	prostaglandin-E synthase activity
GO:0004837	0.000086	9.366974	4.099885	tyrosine decarboxylase activity
GO:0008488	0.000086	9.366974	4.099885	gamma-glutamyl carboxylase activity
GO:0008694	0.000086	9.366974	4.099885	3-octaprenyl-4-hydroxybenzoate carboxy-lyase activity
GO:0008780	0.000086	9.366974	4.099885	acyl-[acyl-carrier-protein]-UDP-N-acetylglucosamine O-acyltransferase activity
GO:0008923	0.000086	9.366974	4.099885	lysine decarboxylase activity
GO:0008949	0.000086	9.366974	4.099885	oxalyl-CoA decarboxylase activity
GO:0016984	0.000086	9.366974	4.099885	ribulose-bisphosphate carboxylase activity
GO:0033982	0.000086	9.366974	4.099885	3-dehydro-L-gulonate-6-phosphate decarboxylase activity
GO:0045154	0.000086	9.366974	4.099885	electron transporter, transferring electrons within cytochrome c oxidase complex activity
GO:0045155	0.000086	9.366974	4.099885	electron transporter, transferring electrons from CoQH2-cytochrome c reductase complex and cytochrome c oxidase complex activity
GO:0046028	0.000086	9.366974	4.099885	electron transporter, transferring electrons from cytochrome b6/f complex of photosystem II activity
GO:0047173	0.000086	9.366974	4.099885	phosphatidylcholine-retinol O-acyltransferase activity
GO:0047433	0.000086	9.366974	4.099885	branched-chain-2-oxoacid decarboxylase activity
GO:0047613	0.000086	9.366974	4.099885	aconitate decarboxylase activity
GO:0047688	0.000086	9.366974	4.099885	aspartate 4-decarboxylase activity
GO:0008767	0.000086	9.366974	4.116323	UDP-galactopyranose mutase activity
GO:0047471	0.000086	9.366974	4.116323	maltose alpha-D-glucosyltransferase activity
GO:0030270	0.000086	9.366974	4.204693	formylmethanofuran-tetrahydromethanopterin N-formyltransferase activity
GO:0080072	0.000086	9.366974	4.204693	spermidine:sinapoyl CoA N-acyltransferase activity
GO:0080073	0.000086	9.366974	4.204693	spermidine:coumaroyl CoA N-acyltransferase activity
GO:0003786	0.000086	9.366974	4.229264	actin lateral binding
GO:1903135	0.000086	9.366974	4.253246	cupric ion binding
GO:1903136	0.000086	9.366974	4.253246	cuprous ion binding
GO:0000773	0.000086	9.366974	4.272026	phosphatidyl-N-methylethanolamine N-methyltransferase activity
GO:0004603	0.000086	9.366974	4.272026	phenylethanolamine N-methyltransferase activity
GO:0008112	0.000086	9.366974	4.272026	nicotinamide N-methyltransferase activity
GO:0019828	0.000086	9.366974	4.290459	aspartic-type endopeptidase inhibitor activity
GO:0047395	0.000086	9.366974	4.295015	glycerophosphoinositol glycerophosphodiesterase activity
GO:0004075	0.000086	9.366974	4.308559	biotin carboxylase activity
GO:0072590	0.000086	9.366974	4.308559	N-acetyl-L-aspartate-L-glutamate ligase activity
GO:0097020	0.000086	9.366974	4.313034	COPII adaptor activity
GO:0043794	0.000086	9.366974	4.326338	formate dehydrogenase (coenzyme F420) activity
GO:0004990	0.000086	9.366974	4.330733	oxytocin receptor activity
GO:0015098	0.000086	9.366974	4.339467	molybdate ion transmembrane transporter activity
GO:0015104	0.000086	9.366974	4.339467	antimonite transmembrane transporter activity
GO:0015113	0.000086	9.366974	4.339467	nitrite transmembrane transporter activity
GO:0015118	0.000086	9.366974	4.339467	tellurite transmembrane transporter activity
GO:0030504	0.000086	9.366974	4.339467	inorganic diphosphate transmembrane transporter activity
GO:1903425	0.000086	9.366974	4.339467	fluoride transmembrane transporter activity
GO:0009389	0.000086	9.366974	4.343805	dimethyl sulfoxide reductase activity
GO:0009917	0.000086	9.366974	4.352426	sterol 5-alpha reductase activity
GO:0016166	0.000086	9.366974	4.352426	phytoene dehydrogenase activity
GO:0016632	0.000086	9.366974	4.352426	oxidoreductase activity, acting on the CH-CH group of donors, cytochrome as acceptor
GO:0051786	0.000086	9.366974	4.352426	all-trans-retinol 13,14-reductase activity
GO:0060422	0.000086	9.366974	4.352426	peptidyl-dipeptidase inhibitor activity
GO:0008959	0.000086	9.366974	4.377851	phosphate acetyltransferase activity
GO:0046566	0.000086	9.366974	4.386185	DOPA dioxygenase activity
GO:0000171	0.000086	9.366974	4.394449	ribonuclease MRP activity
GO:0043404	0.000086	9.366974	4.394449	corticotropin-releasing hormone receptor activity
GO:0004039	0.000086	9.366974	4.426841	allophanate hydrolase activity
GO:0008418	0.000086	9.366974	4.426841	protein-N-terminal asparagine amidohydrolase activity
GO:0019807	0.000086	9.366974	4.426841	aspartoacylase activity
GO:0036054	0.000086	9.366974	4.426841	protein-malonyllysine demalonylase activity
GO:0043530	0.000086	9.366974	4.426841	adenosine 5'-monophosphoramidase activity
GO:0050152	0.000086	9.366974	4.426841	omega-amidase activity
GO:0061690	0.000086	9.366974	4.426841	lipoamidase activity
GO:0061697	0.000086	9.366974	4.426841	protein-glutaryllysine deglutarylase activity
GO:0070773	0.000086	9.366974	4.426841	protein-N-terminal glutamine amidohydrolase activity
GO:0071713	0.000086	9.366974	4.426841	para-aminobenzoyl-glutamate hydrolase activity
GO:0030977	0.000086	9.366974	4.529009	taurine binding
GO:0003961	0.000086	9.366974	4.567814	O-acetylhomoserine aminocarboxypropyltransferase activity
GO:0008389	0.000086	9.366974	4.567814	coumarin 7-hydroxylase activity
GO:0008760	0.000086	9.366974	4.567814	UDP-N-acetylglucosamine 1-carboxyvinyltransferase activity
GO:0008817	0.000086	9.366974	4.567814	cob(I)yrinic acid a,c-diamide adenosyltransferase activity
GO:0016768	0.000086	9.366974	4.567814	spermine synthase activity
GO:0019135	0.000086	9.366974	4.567814	deoxyhypusine monooxygenase activity
GO:0034038	0.000086	9.366974	4.567814	deoxyhypusine synthase activity
GO:0044689	0.000086	9.366974	4.567814	7,8-didemethyl-8-hydroxy-5-deazariboflavin synthase activity
GO:0050292	0.000086	9.366974	4.567814	steroid 9-alpha-monooxygenase activity
GO:0052622	0.000086	9.366974	4.567814	ATP dimethylallyltransferase activity
GO:0052623	0.000086	9.366974	4.567814	ADP dimethylallyltransferase activity
GO:0005133	0.000086	9.366974	4.641181	interferon-gamma receptor binding
GO:0005147	0.000086	9.366974	4.641181	oncostatin-M receptor binding
GO:0045517	0.000086	9.366974	4.641181	interleukin-20 receptor binding
GO:0045523	0.000086	9.366974	4.641181	interleukin-27 receptor binding
GO:0004424	0.000086	9.366974	4.691348	imidazoleglycerol-phosphate dehydratase activity
GO:0008124	0.000086	9.366974	4.691348	4-alpha-hydroxytetrahydrobiopterin dehydratase activity
GO:0008735	0.000086	9.366974	4.691348	carnitine dehydratase activity
GO:0008867	0.000086	9.366974	4.691348	galactarate dehydratase activity
GO:0008869	0.000086	9.366974	4.691348	galactonate dehydratase activity
GO:0018819	0.000086	9.366974	4.691348	lactoyl-CoA dehydratase activity
GO:0018820	0.000086	9.366974	4.691348	cyanamide hydratase activity
GO:0033987	0.000086	9.366974	4.691348	2-hydroxyisoflavanone dehydratase activity
GO:0046570	0.000086	9.366974	4.691348	methylthioribulose 1-phosphate dehydratase activity
GO:0047808	0.000086	9.366974	4.691348	D(-)-tartrate dehydratase activity
GO:0047868	0.000086	9.366974	4.691348	dimethylmaleate hydratase activity
GO:0050023	0.000086	9.366974	4.691348	L-fuconate dehydratase activity
GO:0050377	0.000086	9.366974	4.691348	UDP-glucose 4,6-dehydratase activity
GO:0050474	0.000086	9.366974	4.691348	(S)-norcoclaurine synthase activity
GO:1990825	0.000086	9.366974	4.733270	sequence-specific mRNA binding
GO:0031714	0.000086	9.366974	4.747826	C5a anaphylatoxin chemotactic receptor binding
GO:0031753	0.000086	9.366974	4.747826	endothelial differentiation G-protein coupled receptor binding
GO:0031775	0.000086	9.366974	4.747826	lutropin-choriogonadotropic hormone receptor binding
GO:0031859	0.000086	9.366974	4.747826	platelet activating factor receptor binding
GO:0031862	0.000086	9.366974	4.747826	prostanoid receptor binding
GO:0046573	0.000086	9.366974	4.793032	lactonohydrolase activity
GO:0047746	0.000086	9.366974	4.793032	chlorophyllase activity
GO:0052793	0.000086	9.366974	4.793032	pectin acetylesterase activity
GO:0052885	0.000086	9.366974	4.793032	all-trans-retinyl-ester hydrolase, 11-cis retinol forming activity
GO:0008915	0.000086	9.366974	4.806750	lipid-A-disaccharide synthase activity
GO:0003912	0.000086	9.366974	4.814891	DNA nucleotidylexotransferase activity
GO:0097259	0.000086	9.366974	4.852030	20-aldehyde-leukotriene B4 20-monooxygenase activity
GO:0008518	0.000086	9.366974	4.880273	reduced folate carrier activity
GO:0004164	0.000086	9.366974	4.981321	diphthine synthase activity
GO:0030744	0.000086	9.366974	4.981321	luteolin O-methyltransferase activity
GO:0030746	0.000086	9.366974	4.981321	isoflavone 4'-O-methyltransferase activity
GO:0051741	0.000086	9.366974	4.981321	2-methyl-6-phytyl-1,4-benzoquinone methyltransferase activity
GO:0000016	0.000086	9.366974	5.095793	lactase activity
GO:0016977	0.000086	9.366974	5.095793	chitosanase activity
GO:0033934	0.000086	9.366974	5.095793	glucan 1,4-alpha-maltotriohydrolase activity
GO:0033957	0.000086	9.366974	5.095793	lambda-carrageenase activity
GO:0046559	0.000086	9.366974	5.095793	alpha-glucuronidase activity
GO:0080176	0.000086	9.366974	5.095793	xyloglucan 1,6-alpha-xylosidase activity
GO:0052631	0.000086	9.366974	5.125946	sphingolipid delta-8 desaturase activity
GO:0080105	0.000086	9.366974	5.125946	6-methylthiopropyl glucosinolate S-oxygenase activity
GO:0070463	0.000086	9.366974	5.160969	tubulin-dependent ATPase activity
GO:0000252	0.000086	9.366974	5.179909	C-3 sterol dehydrogenase (C-4 sterol decarboxylase) activity
GO:0000721	0.000086	9.366974	5.179909	(R,R)-butanediol dehydrogenase activity
GO:0008114	0.000086	9.366974	5.179909	phosphogluconate 2-dehydrogenase activity
GO:0008465	0.000086	9.366974	5.179909	glycerate dehydrogenase activity
GO:0008679	0.000086	9.366974	5.179909	2-hydroxy-3-oxopropionate reductase activity
GO:0008691	0.000086	9.366974	5.179909	3-hydroxybutyryl-CoA dehydrogenase activity
GO:0008875	0.000086	9.366974	5.179909	gluconate dehydrogenase activity
GO:0008888	0.000086	9.366974	5.179909	glycerol dehydrogenase [NAD+] activity
GO:0010490	0.000086	9.366974	5.179909	UDP-4-keto-rhamnose-4-keto-reductase activity
GO:0016404	0.000086	9.366974	5.179909	15-hydroxyprostaglandin dehydrogenase (NAD+) activity
GO:0019152	0.000086	9.366974	5.179909	acetoin dehydrogenase activity
GO:0030604	0.000086	9.366974	5.179909	1-deoxy-D-xylulose-5-phosphate reductoisomerase activity
GO:0031132	0.000086	9.366974	5.179909	serine 3-dehydrogenase activity
GO:0033705	0.000086	9.366974	5.179909	GDP-4-dehydro-6-deoxy-D-mannose reductase activity
GO:0033833	0.000086	9.366974	5.179909	hydroxymethylfurfural reductase (NADH) activity
GO:0036441	0.000086	9.366974	5.179909	2-dehydropantolactone reductase activity
GO:0047012	0.000086	9.366974	5.179909	sterol-4-alpha-carboxylate 3-dehydrogenase (decarboxylating) activity
GO:0047017	0.000086	9.366974	5.179909	prostaglandin-F synthase activity
GO:0047046	0.000086	9.366974	5.179909	homoisocitrate dehydrogenase activity
GO:0047681	0.000086	9.366974	5.179909	aryl-alcohol dehydrogenase (NADP+) activity
GO:0047728	0.000086	9.366974	5.179909	carnitine 3-dehydrogenase activity
GO:0047837	0.000086	9.366974	5.179909	D-xylose 1-dehydrogenase (NADP+) activity
GO:0047939	0.000086	9.366974	5.179909	L-glucuronate reductase activity
GO:0047952	0.000086	9.366974	5.179909	glycerol-3-phosphate dehydrogenase [NAD(P)+] activity
GO:0050104	0.000086	9.366974	5.179909	L-gulonate 3-dehydrogenase activity
GO:1990002	0.000086	9.366974	5.179909	methylglyoxal reductase (NADPH-dependent, acetol producing)
GO:0046910	0.000086	9.366974	5.185522	pectinesterase inhibitor activity
GO:0055104	0.000086	9.366974	5.185522	ligase inhibitor activity
GO:0090353	0.000086	9.366974	5.185522	polygalacturonase inhibitor activity
GO:0035049	0.000086	9.366974	5.264416	juvenile hormone acid methyltransferase activity
GO:0043791	0.000086	9.366974	5.264416	dimethylamine methyltransferase activity
GO:0043834	0.000086	9.366974	5.264416	trimethylamine methyltransferase activity
GO:0044683	0.000086	9.366974	5.264416	methylthiol:coenzyme M methyltransferase activity
GO:0051749	0.000086	9.366974	5.264416	indole acetic acid carboxyl methyltransferase activity
GO:0098603	0.000086	9.366974	5.264416	selenol Se-methyltransferase activity
GO:0071568	0.000086	9.366974	5.289949	UFM1 transferase activity
GO:0018468	0.000086	9.366974	5.301645	alcohol dehydrogenase (acceptor) activity
GO:0042469	0.000086	9.366974	5.301645	versicolorin reductase activity
GO:0097258	0.000086	9.366974	5.301645	20-hydroxy-leukotriene B4 omega oxidase activity
GO:0016752	0.000086	9.366974	5.381432	sinapoyltransferase activity
GO:0033201	0.000086	9.366974	5.381432	alpha-1,4-glucan synthase activity
GO:0043764	0.000086	9.366974	5.381432	UDP-3-O-[3-hydroxymyristoyl] glucosamine N-acyltransferase activity
GO:0046919	0.000086	9.366974	5.381432	pyruvyltransferase activity
GO:0047181	0.000086	9.366974	5.381432	benzophenone synthase activity
GO:0047634	0.000086	9.366974	5.381432	agmatine N4-coumaroyltransferase activity
GO:0050200	0.000086	9.366974	5.381432	plasmalogen synthase activity
GO:0050266	0.000086	9.366974	5.381432	rosmarinate synthase activity
GO:0050734	0.000086	9.366974	5.381432	hydroxycinnamoyltransferase activity
GO:0090439	0.000086	9.366974	5.381432	tetraketide alpha-pyrone synthase activity
GO:1990698	0.000086	9.366974	5.381432	palmitoleoyltransferase activity
GO:0004997	0.000086	9.366974	5.404178	thyrotropin-releasing hormone receptor activity
GO:0015055	0.000086	9.366974	5.404178	secretin receptor activity
GO:0036505	0.000086	9.366974	5.404178	prosaposin receptor activity
GO:1901683	0.000086	9.366974	5.446737	arsenate ion transmembrane transporter activity
GO:0034200	0.000086	9.366974	5.476464	D,D-heptose 1,7-bisphosphate phosphatase activity
GO:0050124	0.000086	9.366974	5.476464	N-acylneuraminate-9-phosphatase activity
GO:0050278	0.000086	9.366974	5.476464	sedoheptulose-bisphosphatase activity
GO:0052731	0.000086	9.366974	5.476464	phosphocholine phosphatase activity
GO:0052732	0.000086	9.366974	5.476464	phosphoethanolamine phosphatase activity
GO:0070780	0.000086	9.366974	5.476464	dihydrosphingosine-1-phosphate phosphatase activity
GO:0010461	0.000086	9.366974	5.483413	light-activated ion channel activity
GO:0032089	0.000086	9.366974	5.569616	NACHT domain binding
GO:0036004	0.000086	9.366974	5.569616	GAF domain binding
GO:0036143	0.000086	9.366974	5.569616	kringle domain binding
GO:0050682	0.000086	9.366974	5.569616	AF-2 domain binding
GO:0050692	0.000086	9.366974	5.569616	DBD domain binding
GO:0070080	0.000086	9.366974	5.569616	titin Z domain binding
GO:0090541	0.000086	9.366974	5.569616	MIT domain binding
GO:0008147	0.000086	9.366974	5.661802	structural constituent of bone
GO:0016793	0.000086	9.366974	5.754687	triphosphoric monoester hydrolase activity
GO:0016848	0.000086	9.366974	5.864578	carbon-halide lyase activity
GO:0070122	0.000086	9.366974	6.007174	isopeptidase activity
GO:0050333	0.000086	9.366974	6.027475	thiamin-triphosphatase activity
GO:0036461	0.000086	9.366974	6.036279	BLOC-2 complex binding
GO:1904713	0.000086	9.366974	6.036279	beta-catenin destruction complex binding
GO:0001018	0.000086	9.366974	6.069197	mitochondrial RNA polymerase regulatory region DNA binding
GO:0001160	0.000086	9.366974	6.069197	transcription termination site DNA binding
GO:0032810	0.000086	9.366974	6.069197	sterol response element binding
GO:0035538	0.000086	9.366974	6.069197	carbohydrate response element binding
GO:0070361	0.000086	9.366974	6.069197	mitochondrial light strand promoter anti-sense binding
GO:0030369	0.000086	9.366974	6.079933	ICAM-3 receptor activity
GO:0038025	0.000086	9.366974	6.079933	reelin receptor activity
GO:0038131	0.000086	9.366974	6.079933	neuregulin receptor activity
GO:0042349	0.000086	9.366974	6.144186	guiding stereospecific synthesis activity
GO:0000298	0.000086	9.366974	6.147043	endopolyphosphatase activity
GO:0008894	0.000086	9.366974	6.147043	guanosine-5'-triphosphate,3'-diphosphate diphosphatase activity
GO:0010945	0.000086	9.366974	6.147043	CoA pyrophosphatase activity
GO:0019177	0.000086	9.366974	6.147043	dihydroneopterin triphosphate pyrophosphohydrolase activity
GO:0047874	0.000086	9.366974	6.147043	dolichyldiphosphatase activity
GO:0052751	0.000086	9.366974	6.147043	GDP-mannose hydrolase activity
GO:0047323	0.000086	9.366974	6.229825	[3-methyl-2-oxobutanoate dehydrogenase (acetyl-transferring)] kinase activity
GO:0004874	0.000086	9.366974	6.231793	aryl hydrocarbon receptor activity
GO:0050785	0.000086	9.366974	6.231793	advanced glycation end-product receptor activity
GO:0072572	0.000086	9.366974	6.277270	poly-ADP-D-ribose binding
GO:0004168	0.000086	9.366974	6.445191	dolichol kinase activity
GO:0008887	0.000086	9.366974	6.445191	glycerate kinase activity
GO:0009029	0.000086	9.366974	6.445191	tetraacyldisaccharide 4'-kinase activity
GO:0046522	0.000086	9.366974	6.445191	S-methyl-5-thioribose kinase activity
GO:0050201	0.000086	9.366974	6.445191	fucokinase activity
GO:0050277	0.000086	9.366974	6.445191	sedoheptulokinase activity
GO:0050354	0.000086	9.366974	6.445191	triokinase activity
GO:0005121	0.000086	9.366974	6.504288	Toll binding
GO:0042610	0.000086	9.366974	6.504288	CD8 receptor binding
GO:0050827	0.000086	9.366974	6.504288	toxin receptor binding
GO:0010276	0.000086	9.366974	6.566203	phytol kinase activity
GO:0034336	0.000086	9.366974	6.607101	misfolded RNA binding
GO:0061752	0.000086	9.366974	6.607101	telomeric repeat-containing RNA binding
GO:0035379	0.000086	9.366974	6.622293	carbon dioxide transmembrane transporter activity
GO:0090416	0.000086	9.366974	6.733799	nicotinate transporter activity
GO:0061547	0.000086	9.366974	6.786341	glycogen synthase activity, transferring glucose-1-phosphate
GO:0008682	0.000086	9.366974	6.841615	2-octoprenyl-3-methyl-6-methoxy-1,4-benzoquinone hydroxylase activity
GO:0034567	0.000086	9.366974	6.841615	chromate reductase activity
GO:0043880	0.000086	9.366974	6.841615	crotonyl-CoA reductase activity
GO:0043914	0.000086	9.366974	6.841615	NADPH:sulfur oxidoreductase activity
GO:0045550	0.000086	9.366974	6.841615	geranylgeranyl reductase activity
GO:0080132	0.000086	9.366974	6.841615	fatty acid alpha-hydroxylase activity
GO:0000031	0.000086	9.366974	7.630138	mannosylphosphate transferase activity
GO:0008665	0.000086	9.366974	7.630138	2'-phosphotransferase activity
GO:0019776	0.000086	9.366974	7.630138	Atg8 ligase activity
GO:0061599	0.000086	9.366974	7.630138	molybdopterin molybdotransferase activity
GO:0010313	0.000086	9.366974	8.184235	phytochrome binding
GO:0031682	0.000086	9.366974	8.184235	G-protein gamma-subunit binding
GO:0043532	0.000086	9.366974	8.184235	angiostatin binding
GO:0043364	0.000086	9.366974	8.600185	catalysis of free radical formation
GO:0031409	0.000086	9.366974	8.734560	pigment binding
GO:0097243	0.000086	9.366974	8.734560	flavonoid binding
GO:1902670	0.000086	9.366974	8.734560	carbon dioxide binding
GO:0000215	0.000057	9.772439	0.000000	tRNA 2'-phosphotransferase activity
GO:0000985	0.000057	9.772439	0.000000	bacterial-type RNA polymerase core promoter sequence-specific DNA binding
GO:0001002	0.000057	9.772439	0.000000	RNA polymerase III type 1 promoter sequence-specific DNA binding
GO:0001065	0.000057	9.772439	0.000000	mitochondrial single subunit type RNA polymerase activity
GO:0001138	0.000057	9.772439	0.000000	transcription factor activity, TFIIH-class transcription factor recruiting
GO:0001140	0.000057	9.772439	0.000000	transcriptional activator activity, bacterial-type RNA polymerase core promoter proximal region sequence-specific binding
GO:0001152	0.000057	9.772439	0.000000	transcription factor activity, RNA polymerase III type 1 promoter sequence-specific binding, TFIIIC recruiting
GO:0001204	0.000057	9.772439	0.000000	bacterial-type RNA polymerase transcription factor activity, metal ion regulated sequence-specific DNA binding
GO:0001214	0.000057	9.772439	0.000000	RNA polymerase II transcriptional repressor activity, metal ion regulated core promoter proximal region sequence-specific binding
GO:0002935	0.000057	9.772439	0.000000	tRNA (adenine-C2-)-methyltransferase activity
GO:0004313	0.000057	9.772439	0.000000	[acyl-carrier-protein] S-acetyltransferase activity
GO:0004728	0.000057	9.772439	0.000000	receptor signaling protein tyrosine phosphatase activity
GO:0004734	0.000057	9.772439	0.000000	pyrimidodiazepine synthase activity
GO:0004979	0.000057	9.772439	0.000000	beta-endorphin receptor activity
GO:0005224	0.000057	9.772439	0.000000	ATP-binding and phosphorylation-dependent chloride channel activity
GO:0005276	0.000057	9.772439	0.000000	vesicular hydrogen:amino acid antiporter activity
GO:0005289	0.000057	9.772439	0.000000	high-affinity arginine transmembrane transporter activity
GO:0005291	0.000057	9.772439	0.000000	high-affinity L-histidine transmembrane transporter activity
GO:0005292	0.000057	9.772439	0.000000	high-affinity lysine transmembrane transporter activity
GO:0005316	0.000057	9.772439	0.000000	high-affinity inorganic phosphate:sodium symporter activity
GO:0005334	0.000057	9.772439	0.000000	norepinephrine:sodium symporter activity
GO:0005335	0.000057	9.772439	0.000000	serotonin:sodium symporter activity
GO:0005367	0.000057	9.772439	0.000000	myo-inositol:sodium symporter activity
GO:0005469	0.000057	9.772439	0.000000	succinate:fumarate antiporter activity
GO:0008316	0.000057	9.772439	0.000000	structural constituent of vitelline membrane
GO:0008512	0.000057	9.772439	0.000000	sulfate:proton symporter activity
GO:0008555	0.000057	9.772439	0.000000	chloride-transporting ATPase activity
GO:0008734	0.000057	9.772439	0.000000	L-aspartate oxidase activity
GO:0008876	0.000057	9.772439	0.000000	quinoprotein glucose dehydrogenase activity
GO:0008899	0.000057	9.772439	0.000000	homoserine O-succinyltransferase activity
GO:0008901	0.000057	9.772439	0.000000	ferredoxin hydrogenase activity
GO:0009400	0.000057	9.772439	0.000000	receptor signaling protein serine/threonine phosphatase activity
GO:0009671	0.000057	9.772439	0.000000	nitrate:proton symporter activity
GO:0009674	0.000057	9.772439	0.000000	potassium:sodium symporter activity
GO:0009675	0.000057	9.772439	0.000000	high-affinity sulfate:proton symporter activity
GO:0009885	0.000057	9.772439	0.000000	transmembrane histidine kinase cytokinin receptor activity
GO:0009940	0.000057	9.772439	0.000000	amino-terminal vacuolar sorting propeptide binding
GO:0009974	0.000057	9.772439	0.000000	zeinoxanthin epsilon hydroxylase activity
GO:0010175	0.000057	9.772439	0.000000	sphingosine transmembrane transporter activity
GO:0010176	0.000057	9.772439	0.000000	homogentisate phytyltransferase activity
GO:0010347	0.000057	9.772439	0.000000	L-galactose-1-phosphate phosphatase activity
GO:0010486	0.000057	9.772439	0.000000	manganese:proton antiporter activity
GO:0010542	0.000057	9.772439	0.000000	nitrate efflux transmembrane transporter activity
GO:0010855	0.000057	9.772439	0.000000	adenylate cyclase inhibitor activity
GO:0015132	0.000057	9.772439	0.000000	prostaglandin transmembrane transporter activity
GO:0015133	0.000057	9.772439	0.000000	uronic acid transmembrane transporter activity
GO:0015134	0.000057	9.772439	0.000000	hexuronate transmembrane transporter activity
GO:0015159	0.000057	9.772439	0.000000	polysaccharide transmembrane transporter activity
GO:0015327	0.000057	9.772439	0.000000	cystine:glutamate antiporter activity
GO:0015328	0.000057	9.772439	0.000000	cystine secondary active transmembrane transporter activity
GO:0015341	0.000057	9.772439	0.000000	zinc efflux active transmembrane transporter activity
GO:0015360	0.000057	9.772439	0.000000	acetate:proton symporter activity
GO:0015367	0.000057	9.772439	0.000000	oxoglutarate:malate antiporter activity
GO:0015390	0.000057	9.772439	0.000000	purine-specific nucleoside:sodium symporter activity
GO:0015471	0.000057	9.772439	0.000000	nucleoside-specific channel forming porin activity
GO:0015481	0.000057	9.772439	0.000000	maltose transporting porin activity
GO:0015483	0.000057	9.772439	0.000000	long-chain fatty acid transporting porin activity
GO:0015487	0.000057	9.772439	0.000000	melibiose:monovalent cation symporter activity
GO:0015496	0.000057	9.772439	0.000000	putrescine:ornithine antiporter activity
GO:0015513	0.000057	9.772439	0.000000	nitrite uptake transmembrane transporter activity
GO:0015518	0.000057	9.772439	0.000000	arabinose:proton symporter activity
GO:0015527	0.000057	9.772439	0.000000	glycerol-phosphate:inorganic phosphate antiporter activity
GO:0015528	0.000057	9.772439	0.000000	lactose:proton symporter activity
GO:0015535	0.000057	9.772439	0.000000	fucose:proton symporter activity
GO:0015558	0.000057	9.772439	0.000000	p-aminobenzoyl-glutamate uptake transmembrane transporter activity
GO:0015565	0.000057	9.772439	0.000000	threonine efflux transmembrane transporter activity
GO:0015569	0.000057	9.772439	0.000000	p-aminobenzoyl-glutamate transmembrane transporter activity
GO:0015636	0.000057	9.772439	0.000000	short-chain fatty acid uptake transporter activity
GO:0015649	0.000057	9.772439	0.000000	2-keto-3-deoxygluconate:proton symporter activity
GO:0015652	0.000057	9.772439	0.000000	quaternary ammonium group:proton symporter activity
GO:0015653	0.000057	9.772439	0.000000	glycine betaine:proton symporter activity
GO:0015659	0.000057	9.772439	0.000000	formate uptake transmembrane transporter activity
GO:0015660	0.000057	9.772439	0.000000	formate efflux transmembrane transporter activity
GO:0015661	0.000057	9.772439	0.000000	L-lysine efflux transmembrane transporter activity
GO:0016041	0.000057	9.772439	0.000000	glutamate synthase (ferredoxin) activity
GO:0016205	0.000057	9.772439	0.000000	selenocysteine methyltransferase activity
GO:0016250	0.000057	9.772439	0.000000	N-sulfoglucosamine sulfohydrolase activity
GO:0016463	0.000057	9.772439	0.000000	zinc-exporting ATPase activity
GO:0016699	0.000057	9.772439	0.000000	oxidoreductase activity, acting on hydrogen as donor, iron-sulfur protein as acceptor
GO:0016750	0.000057	9.772439	0.000000	O-succinyltransferase activity
GO:0016753	0.000057	9.772439	0.000000	O-sinapoyltransferase activity
GO:0016754	0.000057	9.772439	0.000000	sinapoylglucose-malate O-sinapoyltransferase activity
GO:0019119	0.000057	9.772439	0.000000	phenanthrene-9,10-epoxide hydrolase activity
GO:0022850	0.000057	9.772439	0.000000	serotonin-gated cation channel activity
GO:0022877	0.000057	9.772439	0.000000	protein-N(PI)-phosphohistidine-fructose phosphotransferase system transporter activity
GO:0022883	0.000057	9.772439	0.000000	zinc efflux transmembrane transporter activity
GO:0030108	0.000057	9.772439	0.000000	HLA-A specific activating MHC class I receptor activity
GO:0030251	0.000057	9.772439	0.000000	guanylate cyclase inhibitor activity
GO:0031263	0.000057	9.772439	0.000000	amine-transporting ATPase activity
GO:0031458	0.000057	9.772439	0.000000	betaine-transporting ATPase activity
GO:0031459	0.000057	9.772439	0.000000	glycine betaine-transporting ATPase activity
GO:0031741	0.000057	9.772439	0.000000	type B gastrin/cholecystokinin receptor binding
GO:0031771	0.000057	9.772439	0.000000	type 1 hypocretin receptor binding
GO:0031772	0.000057	9.772439	0.000000	type 2 hypocretin receptor binding
GO:0031777	0.000057	9.772439	0.000000	type 1 melanin-concentrating hormone receptor binding
GO:0031812	0.000057	9.772439	0.000000	P2Y1 nucleotide receptor binding
GO:0031835	0.000057	9.772439	0.000000	substance P receptor binding
GO:0031857	0.000057	9.772439	0.000000	type 1 parathyroid hormone receptor binding
GO:0031925	0.000057	9.772439	0.000000	pyridoxal transmembrane transporter activity
GO:0031927	0.000057	9.772439	0.000000	pyridoxamine transmembrane transporter activity
GO:0031928	0.000057	9.772439	0.000000	pyridoxine transmembrane transporter activity
GO:0032031	0.000057	9.772439	0.000000	myosin I head/neck binding
GO:0032033	0.000057	9.772439	0.000000	myosin II light chain binding
GO:0032035	0.000057	9.772439	0.000000	myosin II tail binding
GO:0032548	0.000057	9.772439	0.000000	pyrimidine deoxyribonucleoside binding
GO:0032577	0.000057	9.772439	0.000000	phosphatidylcholine:cardiolipin O-linoleoyltransferase activity
GO:0033570	0.000057	9.772439	0.000000	transferrin transmembrane transporter activity
GO:0033863	0.000057	9.772439	0.000000	ribose 1,5-bisphosphate phosphokinase activity
GO:0033919	0.000057	9.772439	0.000000	glucan 1,3-alpha-glucosidase activity
GO:0034001	0.000057	9.772439	0.000000	chondroitin-sulfate-ABC exolyase activity
GO:0034228	0.000057	9.772439	0.000000	ethanolamine transmembrane transporter activity
GO:0034319	0.000057	9.772439	0.000000	alcohol O-butanoyltransferase activity
GO:0034321	0.000057	9.772439	0.000000	alcohol O-octanoyltransferase activity
GO:0034323	0.000057	9.772439	0.000000	O-butanoyltransferase activity
GO:0034590	0.000057	9.772439	0.000000	L-hydroxyproline transmembrane transporter activity
GO:0034603	0.000057	9.772439	0.000000	pyruvate dehydrogenase [NAD(P)+] activity
GO:0034604	0.000057	9.772439	0.000000	pyruvate dehydrogenase (NAD+) activity
GO:0034611	0.000057	9.772439	0.000000	oligoribonucleotidase activity
GO:0035005	0.000057	9.772439	0.000000	1-phosphatidylinositol-4-phosphate 3-kinase activity
GO:0035100	0.000057	9.772439	0.000000	ecdysone binding
GO:0035401	0.000057	9.772439	0.000000	histone kinase activity (H3-Y41 specific)
GO:0035439	0.000057	9.772439	0.000000	halimadienyl-diphosphate synthase activity
GO:0035594	0.000057	9.772439	0.000000	ganglioside binding
GO:0035614	0.000057	9.772439	0.000000	snRNA stem-loop binding
GO:0036121	0.000057	9.772439	0.000000	double-stranded DNA-dependent ATP-dependent DNA helicase activity
GO:0038051	0.000057	9.772439	0.000000	glucocorticoid-activated RNA polymerase II transcription factor binding transcription factor activity
GO:0038078	0.000057	9.772439	0.000000	MAP kinase phosphatase activity involved in regulation of innate immune response
GO:0042917	0.000057	9.772439	0.000000	alkylphosphonate transmembrane transporter activity
GO:0042944	0.000057	9.772439	0.000000	D-alanine transmembrane transporter activity
GO:0042945	0.000057	9.772439	0.000000	D-serine transmembrane transporter activity
GO:0042958	0.000057	9.772439	0.000000	maltodextrin transmembrane transporter activity
GO:0043365	0.000057	9.772439	0.000000	[formate-C-acetyltransferase]-activating enzyme activity
GO:0043858	0.000057	9.772439	0.000000	arginine:ornithine antiporter activity
GO:0043872	0.000057	9.772439	0.000000	lysine:cadaverine antiporter activity
GO:0043887	0.000057	9.772439	0.000000	melibiose:sodium symporter activity
GO:0043893	0.000057	9.772439	0.000000	acetate:cation symporter activity
GO:0045513	0.000057	9.772439	0.000000	interleukin-27 binding
GO:0047111	0.000057	9.772439	0.000000	formate dehydrogenase (cytochrome-c-553) activity
GO:0047172	0.000057	9.772439	0.000000	shikimate O-hydroxycinnamoyltransferase activity
GO:0047205	0.000057	9.772439	0.000000	quinate O-hydroxycinnamoyltransferase activity
GO:0047739	0.000057	9.772439	0.000000	cephalosporin-C deacetylase activity
GO:0047862	0.000057	9.772439	0.000000	diisopropyl-fluorophosphatase activity
GO:0048032	0.000057	9.772439	0.000000	galacturonate binding
GO:0048474	0.000057	9.772439	0.000000	D-methionine transmembrane transporter activity
GO:0050002	0.000057	9.772439	0.000000	D-proline reductase (dithiol) activity
GO:0050046	0.000057	9.772439	0.000000	lathosterol oxidase activity
GO:0050306	0.000057	9.772439	0.000000	sucrose 1F-fructosyltransferase activity
GO:0050362	0.000057	9.772439	0.000000	L-tryptophan:2-oxoglutarate aminotransferase activity
GO:0050737	0.000057	9.772439	0.000000	O-hydroxycinnamoyltransferase activity
GO:0051065	0.000057	9.772439	0.000000	CTP reductase activity
GO:0051108	0.000057	9.772439	0.000000	carnitine-CoA ligase activity
GO:0051730	0.000057	9.772439	0.000000	GTP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0051738	0.000057	9.772439	0.000000	xanthophyll binding
GO:0052668	0.000057	9.772439	0.000000	farnesol kinase activity
GO:0052669	0.000057	9.772439	0.000000	CTP:2-trans,-6-trans-farnesol kinase activity
GO:0052670	0.000057	9.772439	0.000000	geraniol kinase activity
GO:0052671	0.000057	9.772439	0.000000	geranylgeraniol kinase activity
GO:0052817	0.000057	9.772439	0.000000	very long chain acyl-CoA hydrolase activity
GO:0052826	0.000057	9.772439	0.000000	inositol hexakisphosphate 2-phosphatase activity
GO:0052871	0.000057	9.772439	0.000000	alpha-tocopherol omega-hydroxylase activity
GO:0055055	0.000057	9.772439	0.000000	D-glucose:proton symporter activity
GO:0070040	0.000057	9.772439	0.000000	rRNA (adenine-C2-)-methyltransferase activity
GO:0070819	0.000057	9.772439	0.000000	menaquinone-dependent protoporphyrinogen oxidase activity
GO:0071424	0.000057	9.772439	0.000000	rRNA (cytosine-N4-)-methyltransferase activity
GO:0072550	0.000057	9.772439	0.000000	triferuloylspermidine meta-hydroxylase activity
GO:0072551	0.000057	9.772439	0.000000	diferuloyl mono-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072552	0.000057	9.772439	0.000000	monoferuloyl di-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0080059	0.000057	9.772439	0.000000	flavonol 3-O-arabinosyltransferase activity
GO:0080097	0.000057	9.772439	0.000000	L-tryptophan:pyruvate aminotransferase activity
GO:0080138	0.000057	9.772439	0.000000	borate uptake transmembrane transporter activity
GO:0090448	0.000057	9.772439	0.000000	glucosinolate:proton symporter activity
GO:0090554	0.000057	9.772439	0.000000	phosphatidylcholine-translocating ATPase activity
GO:0097098	0.000057	9.772439	0.000000	DNA/RNA hybrid annealing activity
GO:0097383	0.000057	9.772439	0.000000	dIDP diphosphatase activity
GO:0097626	0.000057	9.772439	0.000000	low-affinity L-arginine transmembrane transporter activity
GO:0098640	0.000057	9.772439	0.000000	integrin binding involved in cell-matrix adhesion
GO:0098848	0.000057	9.772439	0.000000	alpha-D-ribose 1-methylphosphonate 5-phosphate C-P-lyase activity
GO:1901549	0.000057	9.772439	0.000000	malonic acid uptake transmembrane transporter activity
GO:1901603	0.000057	9.772439	0.000000	biotin transmembrane transporter activity
GO:1902388	0.000057	9.772439	0.000000	ceramide 1-phosphate transporter activity
GO:1904265	0.000057	9.772439	0.000000	ubiquitin-specific protease activity involved in negative regulation of retrograde protein transport, ER to cytosol
GO:1905131	0.000057	9.772439	0.000000	carcinine transmembrane transporter activity
GO:1990043	0.000057	9.772439	0.000000	5' deoxyribonuclease (pyrimidine dimer) activity
GO:1990518	0.000057	9.772439	0.000000	single-stranded DNA-dependent ATP-dependent 3'-5' DNA helicase activity
GO:1990760	0.000057	9.772439	0.000000	osmolarity-sensing cation channel activity
GO:0000992	0.000057	9.772439	0.405465	polymerase III regulatory region sequence-specific DNA binding
GO:0001153	0.000057	9.772439	0.405465	transcription factor activity, RNA polymerase III transcription factor recruiting
GO:0002059	0.000057	9.772439	0.405465	thymine binding
GO:0003689	0.000057	9.772439	0.405465	DNA clamp loader activity
GO:0004978	0.000057	9.772439	0.405465	corticotropin receptor activity
GO:0005307	0.000057	9.772439	0.405465	choline:sodium symporter activity
GO:0005352	0.000057	9.772439	0.405465	alpha-glucoside:proton symporter activity
GO:0008873	0.000057	9.772439	0.405465	gluconate 2-dehydrogenase activity
GO:0008874	0.000057	9.772439	0.405465	gluconate 5-dehydrogenase activity
GO:0009703	0.000057	9.772439	0.405465	nitrate reductase (NADH) activity
GO:0015068	0.000057	9.772439	0.405465	glycine amidinotransferase activity
GO:0015124	0.000057	9.772439	0.405465	allantoate transmembrane transporter activity
GO:0015147	0.000057	9.772439	0.405465	L-arabinose transmembrane transporter activity
GO:0015519	0.000057	9.772439	0.405465	D-xylose:proton symporter activity
GO:0015538	0.000057	9.772439	0.405465	sialic acid:proton symporter activity
GO:0016633	0.000057	9.772439	0.405465	galactonolactone dehydrogenase activity
GO:0018833	0.000057	9.772439	0.405465	DDT-dehydrochlorinase activity
GO:0019149	0.000057	9.772439	0.405465	3-chloro-D-alanine dehydrochlorinase activity
GO:0022820	0.000057	9.772439	0.405465	potassium ion symporter activity
GO:0030107	0.000057	9.772439	0.405465	HLA-A specific inhibitory MHC class I receptor activity
GO:0030109	0.000057	9.772439	0.405465	HLA-B specific inhibitory MHC class I receptor activity
GO:0030549	0.000057	9.772439	0.405465	acetylcholine receptor activator activity
GO:0031626	0.000057	9.772439	0.405465	beta-endorphin binding
GO:0031715	0.000057	9.772439	0.405465	C5L2 anaphylatoxin chemotactic receptor binding
GO:0031764	0.000057	9.772439	0.405465	type 1 galanin receptor binding
GO:0031867	0.000057	9.772439	0.405465	EP4 subtype prostaglandin E2 receptor binding
GO:0031870	0.000057	9.772439	0.405465	thromboxane A2 receptor binding
GO:0031878	0.000057	9.772439	0.405465	type 1 somatostatin receptor binding
GO:0032132	0.000057	9.772439	0.405465	O6-alkylguanine-DNA binding
GO:0032141	0.000057	9.772439	0.405465	single cytosine insertion binding
GO:0033739	0.000057	9.772439	0.405465	preQ1 synthase activity
GO:0035400	0.000057	9.772439	0.405465	histone tyrosine kinase activity
GO:0036105	0.000057	9.772439	0.405465	peroxisome membrane class-1 targeting sequence binding
GO:0036307	0.000057	9.772439	0.405465	23S rRNA (adenine(2030)-N(6))-methyltransferase activity
GO:0036487	0.000057	9.772439	0.405465	nitric-oxide synthase inhibitor activity
GO:0042960	0.000057	9.772439	0.405465	antimonite secondary active transmembrane transporter activity
GO:0043333	0.000057	9.772439	0.405465	2-octaprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043334	0.000057	9.772439	0.405465	2-hexaprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043879	0.000057	9.772439	0.405465	glycolate transmembrane transporter activity
GO:0044596	0.000057	9.772439	0.405465	3-demethylubiquinone-10 3-O-methyltransferase activity
GO:0045352	0.000057	9.772439	0.405465	interleukin-1 Type I receptor antagonist activity
GO:0045353	0.000057	9.772439	0.405465	interleukin-1 Type II receptor antagonist activity
GO:0050464	0.000057	9.772439	0.405465	nitrate reductase (NADPH) activity
GO:0052907	0.000057	9.772439	0.405465	23S rRNA (adenine(1618)-N(6))-methyltransferase activity
GO:0061543	0.000057	9.772439	0.405465	3-demethylubiquinone-6 3-O-methyltransferase activity
GO:0061663	0.000057	9.772439	0.405465	NEDD8 ligase activity
GO:0070039	0.000057	9.772439	0.405465	rRNA (guanosine-2'-O-)-methyltransferase activity
GO:0071714	0.000057	9.772439	0.405465	icosanoid transmembrane transporter activity
GO:0080015	0.000057	9.772439	0.405465	sabinene synthase activity
GO:0080016	0.000057	9.772439	0.405465	(-)-E-beta-caryophyllene synthase activity
GO:0080017	0.000057	9.772439	0.405465	alpha-humulene synthase activity
GO:0080130	0.000057	9.772439	0.405465	L-phenylalanine:2-oxoglutarate aminotransferase activity
GO:0086077	0.000057	9.772439	0.405465	gap junction channel activity involved in AV node cell-bundle of His cell electrical coupling
GO:0097434	0.000057	9.772439	0.405465	succinate:proton symporter activity
GO:1901604	0.000057	9.772439	0.405465	dethiobiotin transmembrane transporter activity
GO:0001861	0.000057	9.772439	0.693147	complement component C4b receptor activity
GO:0004125	0.000057	9.772439	0.693147	L-seryl-tRNASec selenium transferase activity
GO:0004877	0.000057	9.772439	0.693147	complement component C3b receptor activity
GO:0004933	0.000057	9.772439	0.693147	mating-type a-factor pheromone receptor activity
GO:0004934	0.000057	9.772439	0.693147	mating-type alpha-factor pheromone receptor activity
GO:0004961	0.000057	9.772439	0.693147	thromboxane A2 receptor activity
GO:0008424	0.000057	9.772439	0.693147	glycoprotein 6-alpha-L-fucosyltransferase activity
GO:0008713	0.000057	9.772439	0.693147	ADP-heptose-lipopolysaccharide heptosyltransferase activity
GO:0008809	0.000057	9.772439	0.693147	carnitine racemase activity
GO:0008908	0.000057	9.772439	0.693147	isochorismatase activity
GO:0010210	0.000057	9.772439	0.693147	IAA-Phe conjugate hydrolase activity
GO:0010211	0.000057	9.772439	0.693147	IAA-Leu conjugate hydrolase activity
GO:0010296	0.000057	9.772439	0.693147	prenylcysteine methylesterase activity
GO:0015439	0.000057	9.772439	0.693147	heme-transporting ATPase activity
GO:0015576	0.000057	9.772439	0.693147	sorbitol transmembrane transporter activity
GO:0016216	0.000057	9.772439	0.693147	isopenicillin-N synthase activity
GO:0018675	0.000057	9.772439	0.693147	(S)-limonene 6-monooxygenase activity
GO:0019768	0.000057	9.772439	0.693147	high-affinity IgE receptor activity
GO:0019809	0.000057	9.772439	0.693147	spermidine binding
GO:0019964	0.000057	9.772439	0.693147	interferon-gamma binding
GO:0031713	0.000057	9.772439	0.693147	B2 bradykinin receptor binding
GO:0033756	0.000057	9.772439	0.693147	Oplophorus-luciferin 2-monooxygenase activity
GO:0033793	0.000057	9.772439	0.693147	aureusidin synthase activity
GO:0033892	0.000057	9.772439	0.693147	deoxyribonuclease (pyrimidine dimer) activity
GO:0033978	0.000057	9.772439	0.693147	phosphonopyruvate hydrolase activity
GO:0036320	0.000057	9.772439	0.693147	mating-type P-factor pheromone receptor activity
GO:0038022	0.000057	9.772439	0.693147	G-protein coupled olfactory receptor activity
GO:0043828	0.000057	9.772439	0.693147	tRNA 2-selenouridine synthase activity
GO:0046568	0.000057	9.772439	0.693147	3-methylbutanol:NAD(P) oxidoreductase activity
GO:0047077	0.000057	9.772439	0.693147	Photinus-luciferin 4-monooxygenase (ATP-hydrolyzing) activity
GO:0047400	0.000057	9.772439	0.693147	phosphonoacetate hydrolase activity
GO:0048257	0.000057	9.772439	0.693147	3'-flap endonuclease activity
GO:0050163	0.000057	9.772439	0.693147	oxaloacetate tautomerase activity
GO:0050194	0.000057	9.772439	0.693147	phosphonoacetaldehyde hydrolase activity
GO:0051722	0.000057	9.772439	0.693147	protein C-terminal methylesterase activity
GO:0051911	0.000057	9.772439	0.693147	Methanosarcina-phenazine hydrogenase activity
GO:0071967	0.000057	9.772439	0.693147	lipopolysaccharide core heptosyltransferase activity
GO:0080066	0.000057	9.772439	0.693147	3-methylthiopropyl-desulfoglucosinolate sulfotransferase activity
GO:0080067	0.000057	9.772439	0.693147	4-methylthiobutyl-desulfoglucosinolate sulfotransferase activity
GO:0080068	0.000057	9.772439	0.693147	5-methylthiopentyl-desulfoglucosinolate sulfotransferase activity
GO:0080069	0.000057	9.772439	0.693147	7-methylthioheptyl-desulfoglucosinolate sulfotransferase activity
GO:0080070	0.000057	9.772439	0.693147	8-methylthiooctyl-desulfoglucosinolate sulfotransferase activity
GO:0080071	0.000057	9.772439	0.693147	indol-3-yl-methyl-desulfoglucosinolate sulfotransferase activity
GO:0097358	0.000057	9.772439	0.693147	D-leucyl-tRNA(Leu) deacylase activity
GO:0097689	0.000057	9.772439	0.693147	iron channel activity
GO:0098621	0.000057	9.772439	0.693147	phosphoseryl-selenocysteinyl-tRNA selenium transferase activity
GO:1902387	0.000057	9.772439	0.693147	ceramide 1-phosphate binding
GO:1903794	0.000057	9.772439	0.693147	cortisol binding
GO:1903875	0.000057	9.772439	0.693147	corticosterone binding
GO:1903878	0.000057	9.772439	0.693147	11-deoxycorticosterone binding
GO:1990681	0.000057	9.772439	0.693147	protein phosphatase type 2A inhibitor activity
GO:0001733	0.000057	9.772439	0.916291	galactosylceramide sulfotransferase activity
GO:0004078	0.000057	9.772439	0.916291	biotin-[methylcrotonoyl-CoA-carboxylase] ligase activity
GO:0004080	0.000057	9.772439	0.916291	biotin-[propionyl-CoA-carboxylase (ATP-hydrolyzing)] ligase activity
GO:0004754	0.000057	9.772439	0.916291	saccharopine dehydrogenase (NAD+, L-lysine-forming) activity
GO:0004755	0.000057	9.772439	0.916291	saccharopine dehydrogenase (NADP+, L-glutamate-forming) activity
GO:0008744	0.000057	9.772439	0.916291	L-xylulokinase activity
GO:0008932	0.000057	9.772439	0.916291	lytic endotransglycosylase activity
GO:0008979	0.000057	9.772439	0.916291	prophage integrase activity
GO:0010293	0.000057	9.772439	0.916291	abscisic aldehyde oxidase activity
GO:0015083	0.000057	9.772439	0.916291	aluminum ion transmembrane transporter activity
GO:0015505	0.000057	9.772439	0.916291	uracil:cation symporter activity
GO:0015638	0.000057	9.772439	0.916291	microcin uptake transporter activity
GO:0018786	0.000057	9.772439	0.916291	haloalkane dehalogenase activity
GO:0023030	0.000057	9.772439	0.916291	MHC class Ib protein binding, via antigen binding groove
GO:0031517	0.000057	9.772439	0.916291	red light photoreceptor activity
GO:0031895	0.000057	9.772439	0.916291	V1B vasopressin receptor binding
GO:0032358	0.000057	9.772439	0.916291	oxidized pyrimidine DNA binding
GO:0034417	0.000057	9.772439	0.916291	bisphosphoglycerate 3-phosphatase activity
GO:0036468	0.000057	9.772439	0.916291	L-dopa decarboxylase activity
GO:0043916	0.000057	9.772439	0.916291	DNA-7-methylguanine glycosylase activity
GO:0044595	0.000057	9.772439	0.916291	decaprenyldihydroxybenzoate methyltransferase activity
GO:0045015	0.000057	9.772439	0.916291	HDEL sequence binding
GO:0045029	0.000057	9.772439	0.916291	UDP-activated nucleotide receptor activity
GO:0047042	0.000057	9.772439	0.916291	androsterone dehydrogenase (B-specific) activity
GO:0047130	0.000057	9.772439	0.916291	saccharopine dehydrogenase (NADP+, L-lysine-forming) activity
GO:0047131	0.000057	9.772439	0.916291	saccharopine dehydrogenase (NAD+, L-glutamate-forming) activity
GO:0047315	0.000057	9.772439	0.916291	kynurenine-glyoxylate transaminase activity
GO:0047651	0.000057	9.772439	0.916291	alkylhalidase activity
GO:0047787	0.000057	9.772439	0.916291	delta4-3-oxosteroid 5beta-reductase activity
GO:0050485	0.000057	9.772439	0.916291	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond, with a disulfide as acceptor
GO:0050610	0.000057	9.772439	0.916291	methylarsonate reductase activity
GO:0051505	0.000057	9.772439	0.916291	cholesterol UDP-glucosyltransferase activity
GO:0051506	0.000057	9.772439	0.916291	ergosterol UDP-glucosyltransferase activity
GO:0051508	0.000057	9.772439	0.916291	stigmasterol UDP-glucosyltransferase activity
GO:0051509	0.000057	9.772439	0.916291	tomatidine UDP-glucosyltransferase activity
GO:0052581	0.000057	9.772439	0.916291	(-)-isopiperitenone reductase activity
GO:0052820	0.000057	9.772439	0.916291	DNA-1,N6-ethenoadenine N-glycosylase activity
GO:0052825	0.000057	9.772439	0.916291	inositol-1,3,4,5,6-pentakisphosphate 1-phosphatase activity
GO:0052912	0.000057	9.772439	0.916291	23S rRNA (guanine(748)-N(1))-methyltransferase activity
GO:0070038	0.000057	9.772439	0.916291	rRNA (pseudouridine-N3-)-methyltransferase activity
GO:0071734	0.000057	9.772439	0.916291	biotin-[pyruvate-carboxylase] ligase activity
GO:0080099	0.000057	9.772439	0.916291	L-methionine:2-oxoglutarate aminotransferase activity
GO:0086056	0.000057	9.772439	0.916291	voltage-gated calcium channel activity involved in AV node cell action potential
GO:0090415	0.000057	9.772439	0.916291	7-hydroxymethyl chlorophyll a reductase activity
GO:1902118	0.000057	9.772439	0.916291	calcidiol binding
GO:1990651	0.000057	9.772439	0.916291	inositol-1,2,4,5,6-pentakisphosphate 5-phosphatase activity
GO:1990943	0.000057	9.772439	0.916291	mating type region replication fork barrier binding
GO:0002055	0.000057	9.772439	1.098612	adenine binding
GO:0004147	0.000057	9.772439	1.098612	dihydrolipoamide branched chain acyltransferase activity
GO:0004460	0.000057	9.772439	1.098612	L-lactate dehydrogenase (cytochrome) activity
GO:0004876	0.000057	9.772439	1.098612	complement component C3a receptor activity
GO:0008029	0.000057	9.772439	1.098612	pentraxin receptor activity
GO:0018477	0.000057	9.772439	1.098612	benzaldehyde dehydrogenase (NADP+) activity
GO:0034202	0.000057	9.772439	1.098612	glycolipid-translocating activity
GO:0036308	0.000057	9.772439	1.098612	16S rRNA (guanine(1516)-N(2))-methyltransferase activity
GO:0038186	0.000057	9.772439	1.098612	lithocholic acid receptor activity
GO:0046575	0.000057	9.772439	1.098612	rhamnogalacturonan acetylesterase activity
GO:0047595	0.000057	9.772439	1.098612	6-hydroxynicotinate reductase activity
GO:0050421	0.000057	9.772439	1.098612	nitrite reductase (NO-forming) activity
GO:0050619	0.000057	9.772439	1.098612	phytochromobilin:ferredoxin oxidoreductase activity
GO:0051267	0.000057	9.772439	1.098612	CP2 mannose-ethanolamine phosphotransferase activity
GO:0051743	0.000057	9.772439	1.098612	red chlorophyll catabolite reductase activity
GO:0052913	0.000057	9.772439	1.098612	16S rRNA (guanine(966)-N(2))-methyltransferase activity
GO:0052914	0.000057	9.772439	1.098612	16S rRNA (guanine(1207)-N(2))-methyltransferase activity
GO:0052916	0.000057	9.772439	1.098612	23S rRNA (guanine(1835)-N(2))-methyltransferase activity
GO:0080042	0.000057	9.772439	1.098612	ADP-glucose pyrophosphohydrolase activity
GO:0086087	0.000057	9.772439	1.098612	voltage-gated potassium channel activity involved in bundle of His cell action potential repolarization
GO:0086090	0.000057	9.772439	1.098612	voltage-gated potassium channel activity involved in SA node cell action potential repolarization
GO:1990930	0.000057	9.772439	1.098612	RNA N1-methyladenosine dioxygenase activity
GO:1990931	0.000057	9.772439	1.098612	RNA N6-methyladenosine dioxygenase activity
GO:0004085	0.000057	9.772439	1.252763	butyryl-CoA dehydrogenase activity
GO:0005360	0.000057	9.772439	1.252763	insulin-responsive hydrogen:glucose symporter activity
GO:0008986	0.000057	9.772439	1.252763	pyruvate, water dikinase activity
GO:0022893	0.000057	9.772439	1.252763	low-affinity tryptophan transmembrane transporter activity
GO:0031721	0.000057	9.772439	1.252763	hemoglobin alpha binding
GO:0031722	0.000057	9.772439	1.252763	hemoglobin beta binding
GO:0032397	0.000057	9.772439	1.252763	activating MHC class I receptor activity
GO:0043797	0.000057	9.772439	1.252763	glyceraldehyde-3-phosphate dehydrogenase (ferredoxin) activity
GO:0043873	0.000057	9.772439	1.252763	pyruvate-flavodoxin oxidoreductase activity
GO:0047058	0.000057	9.772439	1.252763	vitamin-K-epoxide reductase (warfarin-insensitive) activity
GO:0047553	0.000057	9.772439	1.252763	2-oxoglutarate synthase activity
GO:0050521	0.000057	9.772439	1.252763	alpha-glucan, water dikinase activity
GO:0051752	0.000057	9.772439	1.252763	phosphoglucan, water dikinase activity
GO:0052737	0.000057	9.772439	1.252763	pyruvate dehydrogenase (quinone) activity
GO:0052861	0.000057	9.772439	1.252763	glucan endo-1,3-beta-glucanase activity, C-3 substituted reducing group
GO:0070337	0.000057	9.772439	1.252763	3'-flap-structured DNA binding
GO:0070338	0.000057	9.772439	1.252763	5'-flap-structured DNA binding
GO:0097372	0.000057	9.772439	1.252763	NAD-dependent histone deacetylase activity (H3-K18 specific)
GO:1902557	0.000057	9.772439	1.252763	5'-adenylyl sulfate transmembrane transporter activity
GO:2001080	0.000057	9.772439	1.252763	chitosan binding
GO:0004909	0.000057	9.772439	1.386294	interleukin-1, Type I, activating receptor activity
GO:0005295	0.000057	9.772439	1.386294	neutral amino acid:sodium symporter activity
GO:0008123	0.000057	9.772439	1.386294	cholesterol 7-alpha-monooxygenase activity
GO:0031851	0.000057	9.772439	1.386294	kappa-type opioid receptor binding
GO:0034419	0.000057	9.772439	1.386294	L-2-hydroxyglutarate oxidase activity
GO:0035599	0.000057	9.772439	1.386294	aspartic acid methylthiotransferase activity
GO:0052590	0.000057	9.772439	1.386294	sn-glycerol-3-phosphate:ubiquinone oxidoreductase activity
GO:0052853	0.000057	9.772439	1.386294	long-chain-(S)-2-hydroxy-long-chain-acid oxidase activity
GO:0080098	0.000057	9.772439	1.386294	L-tyrosine:pyruvate aminotransferase activity
GO:0097627	0.000057	9.772439	1.386294	high-affinity L-ornithine transmembrane transporter activity
GO:0098604	0.000057	9.772439	1.386294	adenosylselenohomocysteinase activity
GO:0000830	0.000057	9.772439	1.504077	inositol hexakisphosphate 4-kinase activity
GO:0000832	0.000057	9.772439	1.504077	inositol hexakisphosphate 5-kinase activity
GO:0001155	0.000057	9.772439	1.504077	TFIIIA-class transcription factor binding
GO:0001792	0.000057	9.772439	1.504077	polymeric immunoglobulin receptor activity
GO:0008493	0.000057	9.772439	1.504077	tetracycline transporter activity
GO:0010277	0.000057	9.772439	1.504077	chlorophyllide a oxygenase [overall] activity
GO:0010491	0.000057	9.772439	1.504077	UTP:arabinose-1-phosphate uridylyltransferase activity
GO:0015052	0.000057	9.772439	1.504077	beta3-adrenergic receptor activity
GO:0015591	0.000057	9.772439	1.504077	D-ribose transmembrane transporter activity
GO:0017103	0.000057	9.772439	1.504077	UTP:galactose-1-phosphate uridylyltransferase activity
GO:0043829	0.000057	9.772439	1.504077	tRNA-specific adenosine-37 deaminase activity
GO:0047055	0.000057	9.772439	1.504077	salutaridine synthase activity
GO:0047056	0.000057	9.772439	1.504077	(S)-canadine synthase activity
GO:0047338	0.000057	9.772439	1.504077	UTP:xylose-1-phosphate uridylyltransferase activity
GO:0047991	0.000057	9.772439	1.504077	hydroxylamine oxidase activity
GO:0050172	0.000057	9.772439	1.504077	phenylalanine 2-monooxygenase activity
GO:0052664	0.000057	9.772439	1.504077	nitroalkane oxidase activity
GO:0052717	0.000057	9.772439	1.504077	tRNA-specific adenosine-34 deaminase activity
GO:0052723	0.000057	9.772439	1.504077	inositol hexakisphosphate 1-kinase activity
GO:0052724	0.000057	9.772439	1.504077	inositol hexakisphosphate 3-kinase activity
GO:0052925	0.000057	9.772439	1.504077	dol-P-Man:Man(5)GlcNAc(2)-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0061608	0.000057	9.772439	1.504077	nuclear import signal receptor activity
GO:0070027	0.000057	9.772439	1.504077	carbon monoxide sensor activity
GO:0086060	0.000057	9.772439	1.504077	voltage-gated sodium channel activity involved in AV node cell action potential
GO:0086061	0.000057	9.772439	1.504077	voltage-gated sodium channel activity involved in bundle of His cell action potential
GO:0001631	0.000057	9.772439	1.609438	cysteinyl leukotriene receptor activity
GO:0005500	0.000057	9.772439	1.609438	juvenile hormone binding
GO:0008928	0.000057	9.772439	1.609438	mannose-1-phosphate guanylyltransferase (GDP) activity
GO:0010471	0.000057	9.772439	1.609438	GDP-galactose:mannose-1-phosphate guanylyltransferase activity
GO:0015344	0.000057	9.772439	1.609438	siderophore uptake transmembrane transporter activity
GO:0016443	0.000057	9.772439	1.609438	bidentate ribonuclease III activity
GO:0016496	0.000057	9.772439	1.609438	substance P receptor activity
GO:0016497	0.000057	9.772439	1.609438	substance K receptor activity
GO:0017061	0.000057	9.772439	1.609438	S-methyl-5-thioadenosine phosphorylase activity
GO:0018545	0.000057	9.772439	1.609438	NAD(P)H nitroreductase activity
GO:0018762	0.000057	9.772439	1.609438	aliphatic nitrilase activity
GO:0030338	0.000057	9.772439	1.609438	CMP-N-acetylneuraminate monooxygenase activity
GO:0033748	0.000057	9.772439	1.609438	hydrogenase (acceptor) activity
GO:0034022	0.000057	9.772439	1.609438	3-(hydroxyamino)phenol mutase activity
GO:0042658	0.000057	9.772439	1.609438	MHC class II protein binding, via antigen binding groove
GO:0043771	0.000057	9.772439	1.609438	cytidine kinase activity
GO:0044750	0.000057	9.772439	1.609438	high-affinity nickel cation transmembrane transporter activity
GO:0045435	0.000057	9.772439	1.609438	lycopene epsilon cyclase activity
GO:0046423	0.000057	9.772439	1.609438	allene-oxide cyclase activity
GO:0047921	0.000057	9.772439	1.609438	aminoglycoside 2'-N-acetyltransferase activity
GO:0051735	0.000057	9.772439	1.609438	GTP-dependent polynucleotide kinase activity
GO:0052905	0.000057	9.772439	1.609438	tRNA (guanine(9)-N(1))-methyltransferase activity
GO:0052906	0.000057	9.772439	1.609438	tRNA (guanine(37)-N(1))-methyltransferase activity
GO:0008404	0.000057	9.772439	1.704748	arachidonic acid 14,15-epoxygenase activity
GO:0018423	0.000057	9.772439	1.704748	protein C-terminal leucine carboxyl O-methyltransferase activity
GO:0031531	0.000057	9.772439	1.704748	thyrotropin-releasing hormone receptor binding
GO:0033932	0.000057	9.772439	1.704748	1,3-alpha-L-fucosidase activity
GO:0033938	0.000057	9.772439	1.704748	1,6-alpha-L-fucosidase activity
GO:0034738	0.000057	9.772439	1.704748	lanosterol O-acyltransferase activity
GO:0042286	0.000057	9.772439	1.704748	glutamate-1-semialdehyde 2,1-aminomutase activity
GO:0042924	0.000057	9.772439	1.704748	neuromedin U binding
GO:0043337	0.000057	9.772439	1.704748	CDP-diacylglycerol-phosphatidylglycerol phosphatidyltransferase activity
GO:0046817	0.000057	9.772439	1.704748	chemokine receptor antagonist activity
GO:0047513	0.000057	9.772439	1.704748	1,2-alpha-L-fucosidase activity
GO:0052692	0.000057	9.772439	1.704748	raffinose alpha-galactosidase activity
GO:0072317	0.000057	9.772439	1.704748	glucan endo-1,3-beta-D-glucosidase activity involved in ascospore release from ascus
GO:0086082	0.000057	9.772439	1.704748	cell adhesive protein binding involved in AV node cell-bundle of His cell communication
GO:0090483	0.000057	9.772439	1.704748	phosphatidylglycerol-phosphatidylethanolamine phosphatidyltransferase activity
GO:1901982	0.000057	9.772439	1.704748	maltose binding
GO:0002083	0.000057	9.772439	1.791759	4-hydroxybenzoate decaprenyltransferase activity
GO:0004319	0.000057	9.772439	1.791759	enoyl-[acyl-carrier-protein] reductase (NADPH, B-specific) activity
GO:0004378	0.000057	9.772439	1.791759	GDP-Man:Man1GlcNAc2-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0004578	0.000057	9.772439	1.791759	chitobiosyldiphosphodolichol beta-mannosyltransferase activity
GO:0008521	0.000057	9.772439	1.791759	acetyl-CoA transporter activity
GO:0015568	0.000057	9.772439	1.791759	L-idonate transmembrane transporter activity
GO:0019118	0.000057	9.772439	1.791759	phenanthrene-epoxide hydrolase activity
GO:0030352	0.000057	9.772439	1.791759	inositol-1,4,5,6-tetrakisphosphate 6-phosphatase activity
GO:0030616	0.000057	9.772439	1.791759	transforming growth factor beta receptor, common-partner cytoplasmic mediator activity
GO:0031723	0.000057	9.772439	1.791759	CXCR4 chemokine receptor binding
GO:0032942	0.000057	9.772439	1.791759	inositol tetrakisphosphate 2-kinase activity
GO:0033250	0.000057	9.772439	1.791759	penicillinase activity
GO:0033251	0.000057	9.772439	1.791759	cephalosporinase activity
GO:0045032	0.000057	9.772439	1.791759	ADP-activated adenosine receptor activity
GO:0046428	0.000057	9.772439	1.791759	1,4-dihydroxy-2-naphthoate octaprenyltransferase activity
GO:0047259	0.000057	9.772439	1.791759	glucomannan 4-beta-mannosyltransferase activity
GO:0047316	0.000057	9.772439	1.791759	glutamine-phenylpyruvate transaminase activity
GO:0047326	0.000057	9.772439	1.791759	inositol tetrakisphosphate 5-kinase activity
GO:0047945	0.000057	9.772439	1.791759	L-glutamine:pyruvate aminotransferase activity
GO:0047969	0.000057	9.772439	1.791759	glyoxylate oxidase activity
GO:0050267	0.000057	9.772439	1.791759	rubber cis-polyprenylcistransferase activity
GO:0052830	0.000057	9.772439	1.791759	inositol-1,3,4,6-tetrakisphosphate 6-phosphatase activity
GO:0052831	0.000057	9.772439	1.791759	inositol-1,3,4,6-tetrakisphosphate 1-phosphatase activity
GO:0070674	0.000057	9.772439	1.791759	hypoxanthine dehydrogenase activity
GO:0072585	0.000057	9.772439	1.791759	xanthosine nucleotidase activity
GO:0080100	0.000057	9.772439	1.791759	L-glutamine:2-oxoglutarate aminotransferase activity
GO:0089715	0.000057	9.772439	1.791759	tRNA m6t6A37 methyltransferase activity
GO:1901974	0.000057	9.772439	1.791759	glycerate transmembrane transporter activity
GO:1902122	0.000057	9.772439	1.791759	chenodeoxycholic acid binding
GO:1904593	0.000057	9.772439	1.791759	prostaglandin binding
GO:1990244	0.000057	9.772439	1.791759	histone kinase activity (H2A-T120 specific)
GO:1990649	0.000057	9.772439	1.791759	inositol-1,2,4,5-tetrakisphosphate 5-phosphatase activity
GO:1990650	0.000057	9.772439	1.791759	inositol-2,4,5,6-tetrakisphosphate 5-phosphatase activity
GO:0008998	0.000057	9.772439	1.871802	ribonucleoside-triphosphate reductase activity
GO:0010852	0.000057	9.772439	1.871802	cyclase inhibitor activity
GO:0010854	0.000057	9.772439	1.871802	adenylate cyclase regulator activity
GO:0035715	0.000057	9.772439	1.871802	chemokine (C-C motif) ligand 2 binding
GO:0035716	0.000057	9.772439	1.871802	chemokine (C-C motif) ligand 12 binding
GO:0035757	0.000057	9.772439	1.871802	chemokine (C-C motif) ligand 19 binding
GO:0035758	0.000057	9.772439	1.871802	chemokine (C-C motif) ligand 21 binding
GO:0044022	0.000057	9.772439	1.871802	histone kinase activity (H3-S28 specific)
GO:0044025	0.000057	9.772439	1.871802	histone kinase activity (H2B-S14 specific)
GO:0047568	0.000057	9.772439	1.871802	3-oxo-5-beta-steroid 4-dehydrogenase activity
GO:0051432	0.000057	9.772439	1.871802	BH1 domain binding
GO:0051435	0.000057	9.772439	1.871802	BH4 domain binding
GO:0072371	0.000057	9.772439	1.871802	histone kinase activity (H2A-S121 specific)
GO:0005456	0.000057	9.772439	1.945910	CMP-N-acetylneuraminate transmembrane transporter activity
GO:0008664	0.000057	9.772439	1.945910	2'-5'-RNA ligase activity
GO:0036326	0.000057	9.772439	1.945910	VEGF-A-activated receptor activity
GO:0036327	0.000057	9.772439	1.945910	VEGF-B-activated receptor activity
GO:0038047	0.000057	9.772439	1.945910	morphine receptor activity
GO:0038048	0.000057	9.772439	1.945910	dynorphin receptor activity
GO:0052735	0.000057	9.772439	1.945910	tRNA (cytosine-3-)-methyltransferase activity
GO:0052796	0.000057	9.772439	1.945910	exo-alpha-(2->8)-sialidase activity
GO:1901235	0.000057	9.772439	1.945910	(R)-carnitine transmembrane transporter activity
GO:0001864	0.000057	9.772439	2.014903	pentraxin binding
GO:0004136	0.000057	9.772439	2.014903	deoxyadenosine kinase activity
GO:0010013	0.000057	9.772439	2.014903	N-1-naphthylphthalamic acid binding
GO:0015575	0.000057	9.772439	2.014903	mannitol transmembrane transporter activity
GO:0016230	0.000057	9.772439	2.014903	sphingomyelin phosphodiesterase activator activity
GO:0016596	0.000057	9.772439	2.014903	thienylcyclohexylpiperidine binding
GO:0033736	0.000057	9.772439	2.014903	L-lysine 6-oxidase activity
GO:0097507	0.000057	9.772439	2.014903	hypoxanthine DNA N-glycosylase activity
GO:0097508	0.000057	9.772439	2.014903	xanthine DNA N-glycosylase activity
GO:0097509	0.000057	9.772439	2.014903	oxanine DNA N-glycosylase activity
GO:1990190	0.000057	9.772439	2.014903	peptide-glutamate-N-acetyltransferase activity
GO:1990583	0.000057	9.772439	2.014903	phospholipase D activator activity
GO:0001734	0.000057	9.772439	2.079442	mRNA (N6-adenosine)-methyltransferase activity
GO:0008890	0.000057	9.772439	2.079442	glycine C-acetyltransferase activity
GO:0016501	0.000057	9.772439	2.079442	prostacyclin receptor activity
GO:0043996	0.000057	9.772439	2.079442	histone acetyltransferase activity (H4-K8 specific)
GO:0044016	0.000057	9.772439	2.079442	histone acetyltransferase activity (H3-K4 specific)
GO:0046972	0.000057	9.772439	2.079442	histone acetyltransferase activity (H4-K16 specific)
GO:0050131	0.000057	9.772439	2.079442	N-methyl-L-amino-acid oxidase activity
GO:0051698	0.000057	9.772439	2.079442	saccharopine oxidase activity
GO:0051699	0.000057	9.772439	2.079442	proline oxidase activity
GO:0051871	0.000057	9.772439	2.079442	dihydrofolic acid binding
GO:0052901	0.000057	9.772439	2.079442	spermine:oxygen oxidoreductase (spermidine-forming) activity
GO:0052904	0.000057	9.772439	2.079442	N1-acetylspermidine:oxygen oxidoreductase (3-acetamidopropanal-forming) activity
GO:1990400	0.000057	9.772439	2.079442	mitochondrial ribosomal large subunit rRNA binding
GO:1990534	0.000057	9.772439	2.079442	thermospermine oxidase activity
GO:0000401	0.000057	9.772439	2.140066	open form four-way junction DNA binding
GO:0004790	0.000057	9.772439	2.140066	thioether S-methyltransferase activity
GO:0015126	0.000057	9.772439	2.140066	canalicular bile acid transmembrane transporter activity
GO:0051075	0.000057	9.772439	2.140066	S-adenosylmethionine:tRNA ribosyltransferase-isomerase activity
GO:0090564	0.000057	9.772439	2.140066	protein-phosphocysteine-glucose phosphotransferase system transporter activity
GO:0090565	0.000057	9.772439	2.140066	protein-phosphocysteine-mannitol phosphotransferase system transporter activity
GO:0090581	0.000057	9.772439	2.140066	protein-phosphocysteine-mannosylglycerate-phosphotransferase system transporter activity
GO:0090582	0.000057	9.772439	2.140066	protein-phosphocysteine-D-fructose-phosphotransferase system transporter activity
GO:0090586	0.000057	9.772439	2.140066	protein-phosphocysteine-N-acetylglucosamine phosphotransferase system transporter activity
GO:0090588	0.000057	9.772439	2.140066	protein-phosphocysteine-N-acetylmuramate phosphotransferase system transporter activity
GO:0090589	0.000057	9.772439	2.140066	protein-phosphocysteine-trehalose phosphotransferase system transporter activity
GO:0008098	0.000057	9.772439	2.197225	5S rRNA primary transcript binding
GO:0008788	0.000057	9.772439	2.197225	alpha,alpha-phosphotrehalase activity
GO:0019115	0.000057	9.772439	2.197225	benzaldehyde dehydrogenase activity
GO:0033608	0.000057	9.772439	2.197225	formyl-CoA transferase activity
GO:0035642	0.000057	9.772439	2.197225	histone methyltransferase activity (H3-R17 specific)
GO:0036412	0.000057	9.772439	2.197225	acetyl-CoA:oxalate CoA-transferase
GO:0043785	0.000057	9.772439	2.197225	cinnamoyl-CoA:phenyllactate CoA-transferase activity
GO:0043821	0.000057	9.772439	2.197225	propionyl-CoA:succinate CoA-transferase activity
GO:0047369	0.000057	9.772439	2.197225	succinate-hydroxymethylglutarate CoA-transferase activity
GO:0050479	0.000057	9.772439	2.197225	glyceryl-ether monooxygenase activity
GO:0052835	0.000057	9.772439	2.197225	inositol-3,4,6-trisphosphate 1-kinase activity
GO:0070611	0.000057	9.772439	2.197225	histone methyltransferase activity (H3-R2 specific)
GO:0070612	0.000057	9.772439	2.197225	histone methyltransferase activity (H2A-R3 specific)
GO:0097063	0.000057	9.772439	2.197225	cadmium ion sensor activity
GO:1903876	0.000057	9.772439	2.197225	11-deoxycortisol binding
GO:0038117	0.000057	9.772439	2.251292	C-C motif chemokine 19 receptor activity
GO:0038121	0.000057	9.772439	2.251292	C-C motif chemokine 21 receptor activity
GO:0048031	0.000057	9.772439	2.251292	trisaccharide binding
GO:0050149	0.000057	9.772439	2.251292	o-aminophenol oxidase activity
GO:0050513	0.000057	9.772439	2.251292	glycoprotein 2-beta-D-xylosyltransferase activity
GO:1990119	0.000057	9.772439	2.251292	ATP-dependent RNA helicase inhibitor activity
GO:0001084	0.000057	9.772439	2.302585	transcription factor activity, TFIID-class binding
GO:0001087	0.000057	9.772439	2.302585	transcription factor activity, TFIIB-class binding
GO:0001088	0.000057	9.772439	2.302585	transcription factor activity, TFIIE-class binding
GO:0001090	0.000057	9.772439	2.302585	transcription factor activity, TFIIH-class binding
GO:0018771	0.000057	9.772439	2.302585	2-hydroxy-6-oxonona-2,4-dienedioate hydrolase activity
GO:0018773	0.000057	9.772439	2.302585	acetylpyruvate hydrolase activity
GO:0030385	0.000057	9.772439	2.302585	ferredoxin:thioredoxin reductase activity
GO:0032441	0.000057	9.772439	2.302585	pheophorbide a oxygenase activity
GO:0034545	0.000057	9.772439	2.302585	fumarylpyruvate hydrolase activity
GO:0034820	0.000057	9.772439	2.302585	4,9-DSHA hydrolase activity
GO:0043857	0.000057	9.772439	2.302585	N-acetylornithine carbamoyltransferase activity
GO:0050180	0.000057	9.772439	2.302585	phloretin hydrolase activity
GO:0050484	0.000057	9.772439	2.302585	GMP 5'-nucleotidase activity
GO:0050559	0.000057	9.772439	2.302585	copalyl diphosphate synthase activity
GO:0051498	0.000057	9.772439	2.302585	syn-copalyl diphosphate synthase activity
GO:0052823	0.000057	9.772439	2.302585	2-hydroxy-6-oxonona-2,4,7-trienedioate hydrolase activity
GO:0032136	0.000057	9.772439	2.351375	adenine/cytosine mispair binding
GO:0035485	0.000057	9.772439	2.351375	adenine/guanine mispair binding
GO:0035487	0.000057	9.772439	2.351375	thymine/thymine mispair binding
GO:0050146	0.000057	9.772439	2.351375	nucleoside phosphotransferase activity
GO:0086037	0.000057	9.772439	2.351375	sodium:potassium-exchanging ATPase activity involved in regulation of cardiac muscle cell membrane potential
GO:1904162	0.000057	9.772439	2.351375	5'-3' exodeoxyribonuclease activity involved in UV-damage excision repair
GO:1990599	0.000057	9.772439	2.351375	3' overhang single-stranded DNA endodeoxyribonuclease activity
GO:1990601	0.000057	9.772439	2.351375	5' overhang single-stranded DNA endodeoxyribonuclease activity
GO:0015021	0.000057	9.772439	2.397895	heparin-sulfate lyase activity
GO:0019960	0.000057	9.772439	2.397895	C-X3-C chemokine binding
GO:0030340	0.000057	9.772439	2.397895	hyaluronate lyase activity
GO:0030341	0.000057	9.772439	2.397895	chondroitin AC lyase activity
GO:0031530	0.000057	9.772439	2.397895	gonadotropin-releasing hormone receptor binding
GO:0033961	0.000057	9.772439	2.397895	cis-stilbene-oxide hydrolase activity
GO:0033963	0.000057	9.772439	2.397895	cholesterol-5,6-oxide hydrolase activity
GO:0033999	0.000057	9.772439	2.397895	chondroitin B lyase activity
GO:0034246	0.000057	9.772439	2.397895	mitochondrial RNA polymerase binding promoter specificity activity
GO:0038082	0.000057	9.772439	2.397895	MAP kinase phosphatase activity involved in regulation of osmosensory signaling pathway
GO:0047408	0.000057	9.772439	2.397895	alkenylglycerophosphocholine hydrolase activity
GO:0047409	0.000057	9.772439	2.397895	alkenylglycerophosphoethanolamine hydrolase activity
GO:0047486	0.000057	9.772439	2.397895	chondroitin ABC lyase activity
GO:0047488	0.000057	9.772439	2.397895	heparin lyase activity
GO:0047492	0.000057	9.772439	2.397895	xanthan lyase activity
GO:0047977	0.000057	9.772439	2.397895	hepoxilin-epoxide hydrolase activity
GO:0047979	0.000057	9.772439	2.397895	hexose oxidase activity
GO:0050450	0.000057	9.772439	2.397895	citrate (Re)-synthase activity
GO:0070626	0.000057	9.772439	2.397895	(S)-2-(5-amino-1-(5-phospho-D-ribosyl)imidazole-4-carboxamido)succinate AMP-lyase (fumarate-forming) activity
GO:0097005	0.000057	9.772439	2.397895	adipokinetic hormone receptor binding
GO:0000319	0.000057	9.772439	2.442347	sulfite transmembrane transporter activity
GO:0003853	0.000057	9.772439	2.442347	2-methylacyl-CoA dehydrogenase activity
GO:0004361	0.000057	9.772439	2.442347	glutaryl-CoA dehydrogenase activity
GO:0015473	0.000057	9.772439	2.442347	fimbrial usher porin activity
GO:0015490	0.000057	9.772439	2.442347	cadaverine transmembrane transporter activity
GO:0016937	0.000057	9.772439	2.442347	short-branched-chain-acyl-CoA dehydrogenase activity
GO:0030273	0.000057	9.772439	2.442347	melanin-concentrating hormone receptor activity
GO:0035472	0.000057	9.772439	2.442347	choriogonadotropin hormone receptor activity
GO:0043907	0.000057	9.772439	2.442347	Cys-tRNA(Pro) hydrolase activity
GO:0070892	0.000057	9.772439	2.442347	lipoteichoic acid receptor activity
GO:1901707	0.000057	9.772439	2.442347	leptomycin B binding
GO:1990272	0.000057	9.772439	2.442347	anti-Mullerian hormone receptor activity
GO:1990640	0.000057	9.772439	2.442347	inositol-2,4,5-triphosphate 5-phosphatase activity
GO:1990648	0.000057	9.772439	2.442347	inositol-4,5,6-triphosphate 5-phosphatase activity
GO:1990915	0.000057	9.772439	2.442347	structural constituent of ascospore wall
GO:0001095	0.000057	9.772439	2.484907	TFIIE-class transcription factor binding
GO:0015635	0.000057	9.772439	2.484907	short-chain fatty acid transporter activity
GO:0008726	0.000057	9.772439	2.525729	alkanesulfonate monooxygenase activity
GO:0008795	0.000057	9.772439	2.525729	NAD+ synthase activity
GO:0031695	0.000057	9.772439	2.525729	alpha-2B adrenergic receptor binding
GO:0034024	0.000057	9.772439	2.525729	glutamate-putrescine ligase activity
GO:0035446	0.000057	9.772439	2.525729	cysteine-glucosaminylinositol ligase activity
GO:0047479	0.000057	9.772439	2.525729	trypanothione synthase activity
GO:1901584	0.000057	9.772439	2.525729	tetrapeptide transmembrane transporter activity
GO:0008820	0.000057	9.772439	2.564949	cobinamide phosphate guanylyltransferase activity
GO:0010472	0.000057	9.772439	2.564949	GDP-galactose:glucose-1-phosphate guanylyltransferase activity
GO:0010473	0.000057	9.772439	2.564949	GDP-galactose:myoinositol-1-phosphate guanylyltransferase activity
GO:0010474	0.000057	9.772439	2.564949	glucose-1-phosphate guanylyltransferase (GDP) activity
GO:0015043	0.000057	9.772439	2.564949	leghemoglobin reductase activity
GO:0015503	0.000057	9.772439	2.564949	glutathione-regulated potassium exporter activity
GO:0043814	0.000057	9.772439	2.564949	phospholactate guanylyltransferase activity
GO:0044600	0.000057	9.772439	2.564949	protein guanylyltransferase activity
GO:0061603	0.000057	9.772439	2.564949	molybdenum cofactor guanylyltransferase activity
GO:0000704	0.000057	9.772439	2.602690	pyrimidine dimer DNA N-glycosylase activity
GO:0022894	0.000057	9.772439	2.602690	Intermediate conductance calcium-activated potassium channel activity
GO:0030975	0.000057	9.772439	2.602690	thiamine binding
GO:0031729	0.000057	9.772439	2.602690	CCR4 chemokine receptor binding
GO:0086039	0.000057	9.772439	2.602690	calcium-transporting ATPase activity involved in regulation of cardiac muscle cell membrane potential
GO:0004098	0.000057	9.772439	2.639057	cerebroside-sulfatase activity
GO:0004423	0.000057	9.772439	2.639057	iduronate-2-sulfatase activity
GO:0009018	0.000057	9.772439	2.639057	sucrose phosphorylase activity
GO:0016677	0.000057	9.772439	2.639057	oxidoreductase activity, acting on a heme group of donors, nitrogenous group as acceptor
GO:0018114	0.000057	9.772439	2.639057	threonine racemase activity
GO:0031220	0.000057	9.772439	2.639057	maltodextrin phosphorylase activity
GO:0043737	0.000057	9.772439	2.639057	deoxyribonuclease V activity
GO:0046553	0.000057	9.772439	2.639057	D-malate dehydrogenase (decarboxylating) activity
GO:0046554	0.000057	9.772439	2.639057	malate dehydrogenase (NADP+) activity
GO:0047726	0.000057	9.772439	2.639057	iron-cytochrome-c reductase activity
GO:0050175	0.000057	9.772439	2.639057	phenylalanine dehydrogenase activity
GO:0050303	0.000057	9.772439	2.639057	lysine 6-dehydrogenase activity
GO:1990919	0.000057	9.772439	2.674149	nuclear membrane proteasome anchor
GO:0004787	0.000057	9.772439	2.708050	thiamine-pyrophosphatase activity
GO:0005228	0.000057	9.772439	2.708050	intracellular sodium activated potassium channel activity
GO:0009046	0.000057	9.772439	2.708050	zinc D-Ala-D-Ala carboxypeptidase activity
GO:0016437	0.000057	9.772439	2.708050	tRNA cytidylyltransferase activity
GO:0036384	0.000057	9.772439	2.708050	cytidine diphosphatase activity
GO:0044717	0.000057	9.772439	2.708050	8-hydroxy-dADP phosphatase activity
GO:0061473	0.000057	9.772439	2.708050	murein tripeptide carboxypeptidase activity
GO:0061602	0.000057	9.772439	2.708050	molybdenum cofactor cytidylyltransferase activity
GO:0086040	0.000057	9.772439	2.708050	sodium:proton antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0033787	0.000057	9.772439	2.740840	cyanocobalamin reductase (cyanide-eliminating) activity
GO:0050444	0.000057	9.772439	2.740840	aquacobalamin reductase (NADPH) activity
GO:0052869	0.000057	9.772439	2.740840	arachidonic acid omega-hydroxylase activity
GO:0080133	0.000057	9.772439	2.740840	midchain alkane hydroxylase activity
GO:0008496	0.000057	9.772439	2.772589	mannan endo-1,6-alpha-mannosidase activity
GO:0015486	0.000057	9.772439	2.772589	glycoside-pentoside-hexuronide:cation symporter activity
GO:0017060	0.000057	9.772439	2.772589	3-galactosyl-N-acetylglucosaminide 4-alpha-L-fucosyltransferase activity
GO:0047884	0.000057	9.772439	2.772589	FAD diphosphatase activity
GO:0008804	0.000057	9.772439	2.803360	carbamate kinase activity
GO:0034074	0.000057	9.772439	2.803360	marneral synthase activity
GO:0034075	0.000057	9.772439	2.803360	arabidiol synthase activity
GO:0034076	0.000057	9.772439	2.803360	cucurbitadienol synthase activity
GO:0042561	0.000057	9.772439	2.803360	alpha-amyrin synthase activity
GO:0047761	0.000057	9.772439	2.803360	butyrate kinase activity
GO:0047900	0.000057	9.772439	2.803360	formate kinase activity
GO:0051746	0.000057	9.772439	2.803360	thalianol synthase activity
GO:0080011	0.000057	9.772439	2.803360	baruol synthase activity
GO:0001587	0.000057	9.772439	2.833213	Gq/11-coupled serotonin receptor activity
GO:0008662	0.000057	9.772439	2.833213	1-phosphofructokinase activity
GO:0043544	0.000057	9.772439	2.833213	lipoamide binding
GO:0047461	0.000057	9.772439	2.833213	(+)-delta-cadinene synthase activity
GO:0050439	0.000057	9.772439	2.833213	2-hydroxy-3-oxoadipate synthase activity
GO:0052578	0.000057	9.772439	2.833213	alpha-farnesene synthase activity
GO:0070204	0.000057	9.772439	2.833213	2-succinyl-5-enolpyruvyl-6-hydroxy-3-cyclohexene-1-carboxylic-acid synthase activity
GO:0004501	0.000057	9.772439	2.862201	ecdysone 20-monooxygenase activity
GO:0008387	0.000057	9.772439	2.862201	steroid 7-alpha-hydroxylase activity
GO:0008397	0.000057	9.772439	2.862201	sterol 12-alpha-hydroxylase activity
GO:0032448	0.000057	9.772439	2.862201	DNA hairpin binding
GO:0033791	0.000057	9.772439	2.862201	3alpha,7alpha,12alpha-trihydroxy-5beta-cholestanoyl-CoA 24-hydroxylase activity
GO:0036217	0.000057	9.772439	2.862201	dGTP diphosphatase activity
GO:0044713	0.000057	9.772439	2.862201	2-hydroxy-adenosine triphosphate pyrophosphatase activity
GO:0044714	0.000057	9.772439	2.862201	2-hydroxy-(deoxy)adenosine-triphosphate pyrophosphatase activity
GO:0047350	0.000057	9.772439	2.862201	glucuronate-1-phosphate uridylyltransferase activity
GO:0070320	0.000057	9.772439	2.862201	inward rectifier potassium channel inhibitor activity
GO:0072541	0.000057	9.772439	2.862201	peroxynitrite reductase activity
GO:0015320	0.000057	9.772439	2.890372	phosphate ion carrier activity
GO:0016275	0.000057	9.772439	2.890372	[cytochrome c]-arginine N-methyltransferase activity
GO:0019702	0.000057	9.772439	2.890372	protein-arginine N5-methyltransferase activity
GO:0019782	0.000057	9.772439	2.890372	ISG15 activating enzyme activity
GO:0090631	0.000057	9.772439	2.890372	pre-miRNA transporter activity
GO:0015155	0.000057	9.772439	2.917771	lactose transmembrane transporter activity
GO:0015156	0.000057	9.772439	2.917771	melibiose transmembrane transporter activity
GO:0015130	0.000057	9.772439	2.944439	mevalonate transmembrane transporter activity
GO:0015530	0.000057	9.772439	2.944439	shikimate transmembrane transporter activity
GO:0018858	0.000057	9.772439	2.944439	benzoate-CoA ligase activity
GO:0018860	0.000057	9.772439	2.944439	anthranilate-CoA ligase activity
GO:0033920	0.000057	9.772439	2.944439	6-phospho-beta-galactosidase activity
GO:0033929	0.000057	9.772439	2.944439	blood-group-substance endo-1,4-beta-galactosidase activity
GO:0044653	0.000057	9.772439	2.944439	dextrin alpha-glucosidase activity
GO:0071618	0.000057	9.772439	2.944439	lysophosphatidylethanolamine acyltransferase activity
GO:0071884	0.000057	9.772439	2.944439	vitamin D receptor activator activity
GO:0090600	0.000057	9.772439	2.944439	alpha-1,3-glucosidase activity
GO:0008797	0.000057	9.772439	2.970414	aspartate ammonia-lyase activity
GO:0008838	0.000057	9.772439	2.970414	diaminopropionate ammonia-lyase activity
GO:0030848	0.000057	9.772439	2.970414	threo-3-hydroxyaspartate ammonia-lyase activity
GO:0097573	0.000057	9.772439	2.970414	glutathione oxidoreductase activity
GO:0003944	0.000057	9.772439	2.995732	N-acetylglucosamine-1-phosphodiester alpha-N-acetylglucosaminidase activity
GO:0004561	0.000057	9.772439	2.995732	alpha-N-acetylglucosaminidase activity
GO:0008456	0.000057	9.772439	2.995732	alpha-N-acetylgalactosaminidase activity
GO:1904492	0.000057	9.772439	2.995732	Ac-Asp-Glu binding
GO:0010301	0.000057	9.772439	3.020425	xanthoxin dehydrogenase activity
GO:0030624	0.000057	9.772439	3.020425	U6atac snRNA binding
GO:0030626	0.000057	9.772439	3.020425	U12 snRNA binding
GO:0033971	0.000057	9.772439	3.020425	hydroxyisourate hydrolase activity
GO:0043792	0.000057	9.772439	3.020425	enamidase activity
GO:0047789	0.000057	9.772439	3.020425	creatininase activity
GO:0051109	0.000057	9.772439	3.020425	crotonobetaine-CoA ligase activity
GO:0004513	0.000057	9.772439	3.044522	neolactotetraosylceramide alpha-2,3-sialyltransferase activity
GO:0016495	0.000057	9.772439	3.044522	C-X3-C chemokine receptor activity
GO:0019978	0.000057	9.772439	3.044522	interleukin-3 binding
GO:0047288	0.000057	9.772439	3.044522	monosialoganglioside sialyltransferase activity
GO:0047290	0.000057	9.772439	3.044522	(alpha-N-acetylneuraminyl-2,3-beta-galactosyl-1,3)-N-acetyl-galactosaminide 6-alpha-sialyltransferase activity
GO:0047291	0.000057	9.772439	3.044522	lactosylceramide alpha-2,3-sialyltransferase activity
GO:0052798	0.000057	9.772439	3.044522	beta-galactoside alpha-2,3-sialyltransferase activity
GO:0061627	0.000057	9.772439	3.044522	S-methylmethionine-homocysteine S-methyltransferase activity
GO:0033813	0.000057	9.772439	3.068053	deacetylcephalosporin-C acetyltransferase activity
GO:0033814	0.000057	9.772439	3.068053	propanoyl-CoA C-acyltransferase activity
GO:0047022	0.000057	9.772439	3.068053	7-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0047044	0.000057	9.772439	3.068053	androstan-3-alpha,17-beta-diol dehydrogenase activity
GO:0097030	0.000057	9.772439	3.068053	CENP-A containing nucleosome binding
GO:0097625	0.000057	9.772439	3.091042	low-affinity basic amino acid transmembrane transporter activity
GO:0000006	0.000057	9.772439	3.113515	high-affinity zinc uptake transmembrane transporter activity
GO:0000007	0.000057	9.772439	3.113515	low-affinity zinc ion transmembrane transporter activity
GO:0030366	0.000057	9.772439	3.113515	molybdopterin synthase activity
GO:0047614	0.000057	9.772439	3.113515	aconitate delta-isomerase activity
GO:0050100	0.000057	9.772439	3.113515	methylitaconate delta-isomerase activity
GO:0051750	0.000057	9.772439	3.113515	delta3,5-delta2,4-dienoyl-CoA isomerase activity
GO:0052816	0.000057	9.772439	3.113515	long-chain acyl-CoA hydrolase activity
GO:0061708	0.000057	9.772439	3.113515	tRNA-5-taurinomethyluridine 2-sulfurtransferase
GO:0009015	0.000057	9.772439	3.135494	N-succinylarginine dihydrolase activity
GO:0018467	0.000057	9.772439	3.135494	formaldehyde dehydrogenase activity
GO:0018756	0.000057	9.772439	3.135494	ammeline aminohydrolase activity
GO:0033723	0.000057	9.772439	3.135494	fluoroacetaldehyde dehydrogenase activity
GO:0047106	0.000057	9.772439	3.135494	4-hydroxyphenylacetaldehyde dehydrogenase activity
GO:0047971	0.000057	9.772439	3.135494	guanidinobutyrase activity
GO:0050569	0.000057	9.772439	3.135494	glycolaldehyde dehydrogenase activity
GO:0052814	0.000057	9.772439	3.135494	medium-chain-aldehyde dehydrogenase activity
GO:0050418	0.000057	9.772439	3.157000	hydroxylamine reductase activity
GO:0043783	0.000057	9.772439	3.178054	oxidoreductase activity, oxidizing metal ions with flavin as acceptor
GO:0044748	0.000057	9.772439	3.178054	3'-5'-exoribonuclease activity involved in mature miRNA 3'-end processing
GO:1990838	0.000057	9.772439	3.178054	poly(U)-specific exoribonuclease activity, producing 3' uridine cyclic phosphate ends
GO:0008811	0.000057	9.772439	3.198673	chloramphenicol O-acetyltransferase activity
GO:0008859	0.000057	9.772439	3.198673	exoribonuclease II activity
GO:0008870	0.000057	9.772439	3.198673	galactoside O-acetyltransferase activity
GO:0008925	0.000057	9.772439	3.198673	maltose O-acetyltransferase activity
GO:0010327	0.000057	9.772439	3.198673	acetyl CoA:(Z)-3-hexen-1-ol acetyltransferase activity
GO:0045462	0.000057	9.772439	3.198673	trichothecene 3-O-acetyltransferase activity
GO:0046990	0.000057	9.772439	3.198673	N-hydroxyarylamine O-acetyltransferase activity
GO:0047192	0.000057	9.772439	3.198673	1-alkylglycerophosphocholine O-acetyltransferase activity
GO:0050133	0.000057	9.772439	3.198673	N6-hydroxylysine O-acetyltransferase activity
GO:0004446	0.000057	9.772439	3.218876	inositol-hexakisphosphate phosphatase activity
GO:0004808	0.000057	9.772439	3.218876	tRNA (5-methylaminomethyl-2-thiouridylate)-methyltransferase activity
GO:0047386	0.000057	9.772439	3.218876	fructose-2,6-bisphosphate 6-phosphatase activity
GO:0070456	0.000057	9.772439	3.218876	galactose-1-phosphate phosphatase activity
GO:0090433	0.000057	9.772439	3.218876	palmitoyl-CoA ligase activity
GO:0090434	0.000057	9.772439	3.218876	oleoyl-CoA ligase activity
GO:0045300	0.000057	9.772439	3.238678	acyl-[acyl-carrier-protein] desaturase activity
GO:0008852	0.000057	9.772439	3.258097	exodeoxyribonuclease I activity
GO:0008853	0.000057	9.772439	3.258097	exodeoxyribonuclease III activity
GO:0008855	0.000057	9.772439	3.258097	exodeoxyribonuclease VII activity
GO:0003945	0.000057	9.772439	3.277145	N-acetyllactosamine synthase activity
GO:0003947	0.000057	9.772439	3.277145	(N-acetylneuraminyl)-galactosylglucosylceramide N-acetylgalactosaminyltransferase activity
GO:0004381	0.000057	9.772439	3.277145	fucosylgalactoside 3-alpha-galactosyltransferase activity
GO:0004461	0.000057	9.772439	3.277145	lactose synthase activity
GO:0010488	0.000057	9.772439	3.277145	UDP-galactose:N-glycan beta-1,3-galactosyltransferase activity
GO:0033207	0.000057	9.772439	3.277145	beta-1,4-N-acetylgalactosaminyltransferase activity
GO:0035248	0.000057	9.772439	3.277145	alpha-1,4-N-acetylgalactosaminyltransferase activity
GO:0035496	0.000057	9.772439	3.277145	lipopolysaccharide-1,5-galactosyltransferase activity
GO:0046509	0.000057	9.772439	3.277145	1,2-diacylglycerol 3-beta-galactosyltransferase activity
GO:0046525	0.000057	9.772439	3.277145	xylosylprotein 4-beta-galactosyltransferase activity
GO:0047237	0.000057	9.772439	3.277145	glucuronylgalactosylproteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0047263	0.000057	9.772439	3.277145	N-acylsphingosine galactosyltransferase activity
GO:0047277	0.000057	9.772439	3.277145	globoside alpha-N-acetylgalactosaminyltransferase activity
GO:0050512	0.000057	9.772439	3.277145	lactosylceramide 4-alpha-galactosyltransferase activity
GO:0050627	0.000057	9.772439	3.277145	mycothione reductase activity
GO:0098622	0.000057	9.772439	3.277145	selenodiglutathione-disulfide reductase activity
GO:0001055	0.000057	9.772439	3.295837	RNA polymerase II activity
GO:0001056	0.000057	9.772439	3.295837	RNA polymerase III activity
GO:0001064	0.000057	9.772439	3.295837	single subunit type RNA polymerase activity
GO:0001691	0.000057	9.772439	3.295837	pseudophosphatase activity
GO:0004082	0.000057	9.772439	3.295837	bisphosphoglycerate mutase activity
GO:0008968	0.000057	9.772439	3.295837	D-sedoheptulose 7-phosphate isomerase activity
GO:0051264	0.000057	9.772439	3.295837	mono-olein transacylation activity
GO:0051265	0.000057	9.772439	3.295837	diolein transacylation activity
GO:0038067	0.000057	9.772439	3.314186	MAP kinase activity involved in cell wall organization or biogenesis
GO:0038079	0.000057	9.772439	3.314186	MAP kinase activity involved in osmosensory signaling pathway
GO:0097682	0.000057	9.772439	3.314186	intracellular phosphatidylinositol-3,5-bisphosphate-sensitive cation channel activity
GO:0017131	0.000057	9.772439	3.332205	uridine-rich cytoplasmic polyadenylylation element binding
GO:0008914	0.000057	9.772439	3.349904	leucyltransferase activity
GO:0009815	0.000057	9.772439	3.349904	1-aminocyclopropane-1-carboxylate oxidase activity
GO:0010012	0.000057	9.772439	3.349904	steroid 22-alpha hydroxylase activity
GO:0032935	0.000057	9.772439	3.349904	sterol sensor activity
GO:0035302	0.000057	9.772439	3.349904	ecdysteroid 25-hydroxylase activity
GO:0042767	0.000057	9.772439	3.349904	ecdysteroid 22-hydroxylase activity
GO:0042768	0.000057	9.772439	3.349904	ecdysteroid 2-hydroxylase activity
GO:0047206	0.000057	9.772439	3.349904	UDP-N-acetylmuramoylpentapeptide-lysine N6-alanyltransferase activity
GO:0048028	0.000057	9.772439	3.349904	galacturonan binding
GO:0052598	0.000057	9.772439	3.349904	histamine oxidase activity
GO:0052868	0.000057	9.772439	3.349904	protein-lysine lysyltransferase activity
GO:2001062	0.000057	9.772439	3.349904	xylan binding
GO:0010209	0.000057	9.772439	3.367296	vacuolar sorting signal binding
GO:0030941	0.000057	9.772439	3.367296	chloroplast targeting sequence binding
GO:0033800	0.000057	9.772439	3.367296	isoflavone 7-O-methyltransferase activity
GO:0033802	0.000057	9.772439	3.367296	isoliquiritigenin 2'-O-methyltransferase activity
GO:0034479	0.000057	9.772439	3.367296	phosphatidylglycerol phospholipase C activity
GO:0046406	0.000057	9.772439	3.367296	magnesium protoporphyrin IX methyltransferase activity
GO:0050429	0.000057	9.772439	3.367296	calcium-dependent phospholipase C activity
GO:0052712	0.000057	9.772439	3.367296	inositol phosphosphingolipid phospholipase activity
GO:0008706	0.000057	9.772439	3.384390	6-phospho-beta-glucosidase activity
GO:0043849	0.000057	9.772439	3.384390	Ras palmitoyltransferase activity
GO:0050224	0.000057	9.772439	3.384390	prunasin beta-glucosidase activity
GO:0050247	0.000057	9.772439	3.384390	raucaffricine beta-glucosidase activity
GO:0050295	0.000057	9.772439	3.384390	steryl-beta-glucosidase activity
GO:0050422	0.000057	9.772439	3.384390	strictosidine beta-glucosidase activity
GO:0051993	0.000057	9.772439	3.384390	abscisic acid glucose ester beta-glucosidase activity
GO:0080081	0.000057	9.772439	3.384390	4-methylumbelliferyl-beta-D-glucopyranoside beta-glucosidase activity
GO:0080082	0.000057	9.772439	3.384390	esculin beta-glucosidase activity
GO:0009899	0.000057	9.772439	3.401197	ent-kaurene synthase activity
GO:0034002	0.000057	9.772439	3.401197	(R)-limonene synthase activity
GO:0034009	0.000057	9.772439	3.401197	isoprene synthase activity
GO:0050552	0.000057	9.772439	3.401197	(4S)-limonene synthase activity
GO:0003974	0.000057	9.772439	3.417727	UDP-N-acetylglucosamine 4-epimerase activity
GO:0008712	0.000057	9.772439	3.417727	ADP-glyceromanno-heptose 6-epimerase activity
GO:0034015	0.000057	9.772439	3.417727	L-ribulose-5-phosphate 3-epimerase activity
GO:0034700	0.000057	9.772439	3.417727	allulose 6-phosphate 3-epimerase activity
GO:0047464	0.000057	9.772439	3.417727	heparosan-N-sulfate-glucuronate 5-epimerase activity
GO:0047918	0.000057	9.772439	3.417727	GDP-mannose 3,5-epimerase activity
GO:0047938	0.000057	9.772439	3.417727	glucose-6-phosphate 1-epimerase activity
GO:0047994	0.000057	9.772439	3.417727	hydroxymethylglutaryl-CoA hydrolase activity
GO:0050378	0.000057	9.772439	3.417727	UDP-glucuronate 4-epimerase activity
GO:0050379	0.000057	9.772439	3.417727	UDP-glucuronate 5'-epimerase activity
GO:0061522	0.000057	9.772439	3.417727	1,4-dihydroxy-2-naphthoyl-CoA thioesterase activity
GO:0008672	0.000057	9.772439	3.433987	2-dehydro-3-deoxyglucarate aldolase activity
GO:0008738	0.000057	9.772439	3.433987	L-fuculose-phosphate aldolase activity
GO:0008994	0.000057	9.772439	3.433987	rhamnulose-1-phosphate aldolase activity
GO:0031739	0.000057	9.772439	3.433987	cholecystokinin receptor binding
GO:0031773	0.000057	9.772439	3.433987	kisspeptin receptor binding
GO:0031776	0.000057	9.772439	3.433987	melanin-concentrating hormone receptor binding
GO:0031834	0.000057	9.772439	3.433987	neurokinin receptor binding
GO:0031854	0.000057	9.772439	3.433987	orexigenic neuropeptide QRFP receptor binding
GO:0031858	0.000057	9.772439	3.433987	pituitary adenylate cyclase-activating polypeptide receptor binding
GO:0031861	0.000057	9.772439	3.433987	prolactin-releasing peptide receptor binding
GO:0033746	0.000057	9.772439	3.433987	histone demethylase activity (H3-R2 specific)
GO:0033749	0.000057	9.772439	3.433987	histone demethylase activity (H4-R3 specific)
GO:0042324	0.000057	9.772439	3.433987	hypocretin receptor binding
GO:0042922	0.000057	9.772439	3.433987	neuromedin U receptor binding
GO:0047440	0.000057	9.772439	3.433987	2-dehydro-3-deoxy-D-pentonate aldolase activity
GO:0047442	0.000057	9.772439	3.433987	17-alpha-hydroxyprogesterone aldolase activity
GO:0050179	0.000057	9.772439	3.433987	phenylserine aldolase activity
GO:0061595	0.000057	9.772439	3.433987	6-deoxy-6-sulfofructose-1-phosphate aldolase activity
GO:0070406	0.000057	9.772439	3.433987	glutamine binding
GO:0071858	0.000057	9.772439	3.433987	corazonin receptor binding
GO:0071859	0.000057	9.772439	3.433987	neuropeptide F receptor binding
GO:0071861	0.000057	9.772439	3.433987	tachykinin receptor binding
GO:1904121	0.000057	9.772439	3.433987	phosphatidylethanolamine transporter activity
GO:0043866	0.000057	9.772439	3.449988	adenylyl-sulfate reductase (thioredoxin) activity
GO:0031924	0.000057	9.772439	3.465736	vitamin B6 transporter activity
GO:0043904	0.000057	9.772439	3.465736	isochorismate pyruvate lyase activity
GO:0047529	0.000057	9.772439	3.465736	2,3-dimethylmalate lyase activity
GO:0008697	0.000057	9.772439	3.481240	4-deoxy-L-threo-5-hexosulose-uronate ketol-isomerase activity
GO:0008733	0.000057	9.772439	3.481240	L-arabinose isomerase activity
GO:0008736	0.000057	9.772439	3.481240	L-fucose isomerase activity
GO:0008740	0.000057	9.772439	3.481240	L-rhamnose isomerase activity
GO:0008786	0.000057	9.772439	3.481240	allose 6-phosphate isomerase activity
GO:0008790	0.000057	9.772439	3.481240	arabinose isomerase activity
GO:0008903	0.000057	9.772439	3.481240	hydroxypyruvate isomerase activity
GO:0009045	0.000057	9.772439	3.481240	xylose isomerase activity
GO:0046523	0.000057	9.772439	3.481240	S-methyl-5-thioribose-1-phosphate isomerase activity
GO:0047828	0.000057	9.772439	3.481240	D-lyxose ketol-isomerase activity
GO:0050089	0.000057	9.772439	3.481240	mannose isomerase activity
GO:0018826	0.000057	9.772439	3.496508	methionine gamma-lyase activity
GO:0034011	0.000057	9.772439	3.496508	L-cysteate sulfo-lyase activity
GO:0043768	0.000057	9.772439	3.496508	S-ribosylhomocysteine lyase activity
GO:0047982	0.000057	9.772439	3.496508	homocysteine desulfhydrase activity
GO:0071796	0.000057	9.772439	3.496508	K6-linked polyubiquitin binding
GO:0080108	0.000057	9.772439	3.496508	S-alkylthiohydroximate lyase activity
GO:0098600	0.000057	9.772439	3.496508	selenomethionine gamma-lyase activity
GO:0098606	0.000057	9.772439	3.496508	selenocystathionine gamma-lyase activity
GO:0098607	0.000057	9.772439	3.496508	methylselenocysteine deselenhydrase activity
GO:1903879	0.000057	9.772439	3.496508	11beta-hydroxyprogesterone binding
GO:1903880	0.000057	9.772439	3.496508	17alpha-hydroxyprogesterone binding
GO:1990411	0.000057	9.772439	3.496508	hercynylcysteine sulfoxide lyase activity (ergothioneine-forming)
GO:1990412	0.000057	9.772439	3.496508	hercynylselenocysteine lyase activity (selenoneine-forming)
GO:1990450	0.000057	9.772439	3.496508	linear polyubiquitin binding
GO:0008771	0.000057	9.772439	3.511545	[citrate (pro-3S)-lyase] ligase activity
GO:0008835	0.000057	9.772439	3.511545	diaminohydroxyphosphoribosylaminopyrimidine deaminase activity
GO:0010859	0.000057	9.772439	3.511545	calcium-dependent cysteine-type endopeptidase inhibitor activity
GO:0033973	0.000057	9.772439	3.511545	dCTP deaminase (dUMP-forming) activity
GO:0035888	0.000057	9.772439	3.511545	isoguanine deaminase activity
GO:0042410	0.000057	9.772439	3.511545	6-carboxyhexanoate-CoA ligase activity
GO:0047676	0.000057	9.772439	3.511545	arachidonate-CoA ligase activity
GO:0047747	0.000057	9.772439	3.511545	cholate-CoA ligase activity
GO:0047974	0.000057	9.772439	3.511545	guanosine deaminase activity
GO:0050197	0.000057	9.772439	3.511545	phytanate-CoA ligase activity
GO:0050228	0.000057	9.772439	3.511545	pterin deaminase activity
GO:0050279	0.000057	9.772439	3.511545	sepiapterin deaminase activity
GO:0070251	0.000057	9.772439	3.511545	pristanate-CoA ligase activity
GO:0005129	0.000057	9.772439	3.540959	granulocyte macrophage colony-stimulating factor receptor binding
GO:0005139	0.000057	9.772439	3.540959	interleukin-7 receptor binding
GO:0005141	0.000057	9.772439	3.540959	interleukin-10 receptor binding
GO:0005142	0.000057	9.772439	3.540959	interleukin-11 receptor binding
GO:0030233	0.000057	9.772439	3.540959	deoxynucleotide transmembrane transporter activity
GO:0042970	0.000057	9.772439	3.555348	homoserine transmembrane transporter activity
GO:0008752	0.000057	9.772439	3.569533	FMN reductase activity
GO:0010349	0.000057	9.772439	3.569533	L-galactose dehydrogenase activity
GO:0016155	0.000057	9.772439	3.569533	formyltetrahydrofolate dehydrogenase activity
GO:0033560	0.000057	9.772439	3.569533	folate reductase activity
GO:0035643	0.000057	9.772439	3.569533	L-DOPA receptor activity
GO:0036382	0.000057	9.772439	3.569533	flavin reductase (NADH) activity
GO:0042263	0.000057	9.772439	3.569533	neuropeptide F receptor activity
GO:0046608	0.000057	9.772439	3.569533	carotenoid isomerase activity
GO:0047040	0.000057	9.772439	3.569533	pteridine reductase activity
GO:0047127	0.000057	9.772439	3.569533	thiomorpholine-carboxylate dehydrogenase activity
GO:0050076	0.000057	9.772439	3.569533	maleate isomerase activity
GO:0050241	0.000057	9.772439	3.569533	pyrroline-2-carboxylate reductase activity
GO:0071172	0.000057	9.772439	3.569533	dihydromonapterin reductase activity
GO:0072544	0.000057	9.772439	3.569533	L-DOPA binding
GO:0090471	0.000057	9.772439	3.569533	9,15,9'-tri-cis-zeta-carotene isomerase activity
GO:0043822	0.000057	9.772439	3.583519	ribonuclease M5 activity
GO:0070551	0.000057	9.772439	3.583519	endoribonuclease activity, cleaving siRNA-paired mRNA
GO:0090624	0.000057	9.772439	3.583519	endoribonuclease activity, cleaving miRNA-paired mRNA
GO:0045183	0.000057	9.772439	3.597312	translation factor activity, non-nucleic acid binding
GO:0034658	0.000057	9.772439	3.610918	isopropylmalate transmembrane transporter activity
GO:0001888	0.000057	9.772439	3.624341	glucuronyl-galactosyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0003830	0.000057	9.772439	3.624341	beta-1,4-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0004166	0.000057	9.772439	3.624341	dolichyl-phosphate alpha-N-acetylglucosaminyltransferase activity
GO:0008457	0.000057	9.772439	3.624341	beta-galactosyl-N-acetylglucosaminylgalactosylglucosyl-ceramide beta-1,3-acetylglucosaminyltransferase activity
GO:0008917	0.000057	9.772439	3.624341	lipopolysaccharide N-acetylglucosaminyltransferase activity
GO:0033830	0.000057	9.772439	3.624341	Skp1-protein-hydroxyproline N-acetylglucosaminyltransferase activity
GO:0046981	0.000057	9.772439	3.624341	beta-1,4-mannosylglycolipid beta-1,3-N-acetylglucosaminyltransferase activity
GO:0047223	0.000057	9.772439	3.624341	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,3-N-acetylglucosaminyltransferase activity
GO:0047225	0.000057	9.772439	3.624341	acetylgalactosaminyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0050511	0.000057	9.772439	3.624341	undecaprenyldiphospho-muramoylpentapeptide beta-N-acetylglucosaminyltransferase activity
GO:0047507	0.000057	9.772439	3.650658	(deoxy)nucleoside-phosphate kinase activity
GO:0043924	0.000057	9.772439	3.676301	suramin binding
GO:0033219	0.000057	9.772439	3.701302	urea binding
GO:0043431	0.000057	9.772439	3.701302	2-octaprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0047145	0.000057	9.772439	3.701302	demethylsterigmatocystin 6-O-methyltransferase activity
GO:0047763	0.000057	9.772439	3.701302	caffeate O-methyltransferase activity
GO:0050342	0.000057	9.772439	3.701302	tocopherol O-methyltransferase activity
GO:0080012	0.000057	9.772439	3.701302	trihydroxyferuloyl spermidine O-methyltransferase activity
GO:0080076	0.000057	9.772439	3.701302	caffeoyl CoA:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080077	0.000057	9.772439	3.701302	trihydroxyferuloyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080078	0.000057	9.772439	3.701302	tricaffeoyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080150	0.000057	9.772439	3.701302	S-adenosyl-L-methionine:benzoic acid carboxyl methyl transferase activity
GO:0047274	0.000057	9.772439	3.713572	galactinol-sucrose galactosyltransferase activity
GO:0004821	0.000057	9.772439	3.737670	histidine-tRNA ligase activity
GO:0050560	0.000057	9.772439	3.737670	aspartate-tRNA(Asn) ligase activity
GO:0050561	0.000057	9.772439	3.737670	glutamate-tRNA(Gln) ligase activity
GO:0050809	0.000057	9.772439	3.737670	diazepam binding
GO:0098619	0.000057	9.772439	3.737670	selenocysteine-tRNA ligase activity
GO:1990162	0.000057	9.772439	3.737670	histone deacetylase activity (H3-K4 specific)
GO:0034012	0.000057	9.772439	3.749504	FAD-AMP lyase (cyclizing) activity
GO:0001761	0.000057	9.772439	3.761200	beta-alanine transmembrane transporter activity
GO:0031737	0.000057	9.772439	3.761200	CX3C chemokine receptor binding
GO:0034007	0.000057	9.772439	3.784190	S-linalool synthase activity
GO:0046567	0.000057	9.772439	3.784190	aphidicolan-16 beta-ol synthase activity
GO:0050459	0.000057	9.772439	3.784190	ethanolamine-phosphate phospho-lyase activity
GO:0052674	0.000057	9.772439	3.784190	ent-pimara-9(11),15-diene synthase activity
GO:0052679	0.000057	9.772439	3.784190	terpentetriene synthase activity
GO:0080013	0.000057	9.772439	3.784190	(E,E)-geranyllinalool synthase activity
GO:0047264	0.000057	9.772439	3.795489	heteroglycan alpha-mannosyltransferase activity
GO:0008960	0.000057	9.772439	3.817712	phosphatidylglycerol-membrane-oligosaccharide glycerophosphotransferase activity
GO:0043761	0.000057	9.772439	3.817712	archaetidylserine synthase activity
GO:0043838	0.000057	9.772439	3.817712	phosphatidylethanolamine:Kdo2-lipid A phosphoethanolamine transferase activity
GO:0046917	0.000057	9.772439	3.817712	triphosphoribosyl-dephospho-CoA synthase activity
GO:0061693	0.000057	9.772439	3.817712	alpha-D-ribose 1-methylphosphonate 5-triphosphate synthase activity
GO:0089702	0.000057	9.772439	3.817712	undecaprenyl-phosphate glucose phosphotransferase activity
GO:0097690	0.000057	9.772439	3.817712	iron channel inhibitor activity
GO:0004747	0.000057	9.772439	3.828641	ribokinase activity
GO:0008737	0.000057	9.772439	3.828641	L-fuculokinase activity
GO:0008741	0.000057	9.772439	3.828641	ribulokinase activity
GO:0008787	0.000057	9.772439	3.828641	allose kinase activity
GO:0009702	0.000057	9.772439	3.828641	L-arabinokinase activity
GO:0010354	0.000057	9.772439	3.828641	homogentisate prenyltransferase activity
GO:0003877	0.000057	9.772439	3.881564	ATP adenylyltransferase activity
GO:0008668	0.000057	9.772439	3.881564	(2,3-dihydroxybenzoyl)adenylate synthase activity
GO:0008882	0.000057	9.772439	3.881564	[glutamate-ammonia-ligase] adenylyltransferase activity
GO:0033786	0.000057	9.772439	3.881564	heptose-1-phosphate adenylyltransferase activity
GO:0061605	0.000057	9.772439	3.881564	molybdopterin-synthase adenylyltransferase activity
GO:0016643	0.000057	9.772439	3.901973	oxidoreductase activity, acting on the CH-NH2 group of donors, iron-sulfur protein as acceptor
GO:0044318	0.000057	9.772439	3.901973	L-aspartate:fumarate oxidoreductase activity
GO:1990080	0.000057	9.772439	3.901973	2-phenylethylamine receptor activity
GO:0005020	0.000057	9.772439	3.912023	stem cell factor receptor activity
GO:0009030	0.000057	9.772439	3.912023	thiamine-phosphate kinase activity
GO:0033857	0.000057	9.772439	3.912023	diphosphoinositol-pentakisphosphate kinase activity
GO:0036332	0.000057	9.772439	3.912023	placental growth factor-activated receptor activity
GO:0043723	0.000057	9.772439	3.921973	2,5-diamino-6-ribitylamino-4(3H)-pyrimidinone 5'-phosphate deaminase activity
GO:0008714	0.000057	9.772439	3.931826	AMP nucleosidase activity
GO:0008782	0.000057	9.772439	3.931826	adenosylhomocysteine nucleosidase activity
GO:0033785	0.000057	9.772439	3.931826	heptose 7-phosphate kinase activity
GO:0033958	0.000057	9.772439	3.931826	DNA-deoxyinosine glycosylase activity
GO:0047405	0.000057	9.772439	3.931826	pyrimidine-5'-nucleotide nucleosidase activity
GO:0047407	0.000057	9.772439	3.931826	ADP-ribosyl-[dinitrogen reductase] hydrolase activity
GO:0070636	0.000057	9.772439	3.931826	nicotinic acid riboside hydrolase activity
GO:0008764	0.000057	9.772439	3.941582	UDP-N-acetylmuramoylalanine-D-glutamate ligase activity
GO:0008766	0.000057	9.772439	3.941582	UDP-N-acetylmuramoylalanyl-D-glutamyl-2,6-diaminopimelate-D-alanyl-D-alanine ligase activity
GO:0009976	0.000057	9.772439	3.941582	tocopherol cyclase activity
GO:0043751	0.000057	9.772439	3.941582	polyphosphate:AMP phosphotransferase activity
GO:0043774	0.000057	9.772439	3.941582	coenzyme F420-2 alpha-glutamyl ligase activity
GO:0047480	0.000057	9.772439	3.941582	UDP-N-acetylmuramoyl-tripeptide-D-alanyl-D-alanine ligase activity
GO:0050564	0.000057	9.772439	3.941582	N-(5-amino-5-carboxypentanoyl)-L-cysteinyl-D-valine synthase activity
GO:0052618	0.000057	9.772439	3.941582	coenzyme F420-0:L-glutamate ligase activity
GO:0017020	0.000057	9.772439	3.979682	myosin phosphatase regulator activity
GO:0030362	0.000057	9.772439	3.979682	protein phosphatase type 4 regulator activity
GO:0045130	0.000057	9.772439	3.988984	keratan sulfotransferase activity
GO:0080131	0.000057	9.772439	3.988984	hydroxyjasmonate sulfotransferase activity
GO:0098744	0.000057	9.772439	3.988984	1-phosphatidylinositol 4-kinase activator activity
GO:0000225	0.000057	9.772439	3.998201	N-acetylglucosaminylphosphatidylinositol deacetylase activity
GO:0004159	0.000057	9.772439	3.998201	dihydrouracil dehydrogenase (NAD+) activity
GO:0004665	0.000057	9.772439	3.998201	prephenate dehydrogenase (NADP+) activity
GO:0008667	0.000057	9.772439	3.998201	2,3-dihydro-2,3-dihydroxybenzoate dehydrogenase activity
GO:0008748	0.000057	9.772439	3.998201	N-ethylmaleimide reductase activity
GO:0008777	0.000057	9.772439	3.998201	acetylornithine deacetylase activity
GO:0018504	0.000057	9.772439	3.998201	cis-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0018506	0.000057	9.772439	3.998201	maleylacetate reductase activity
GO:0018507	0.000057	9.772439	3.998201	cis-3,4-dihydrophenanthrene-3,4-diol dehydrogenase activity
GO:0033729	0.000057	9.772439	3.998201	anthocyanidin reductase activity
GO:0035798	0.000057	9.772439	3.998201	2-alkenal reductase (NADP+) activity
GO:0036134	0.000057	9.772439	3.998201	12-hydroxyheptadecatrienoic acid synthase activity
GO:0043957	0.000057	9.772439	3.998201	acryloyl-CoA reductase (NADP+) activity
GO:0047120	0.000057	9.772439	3.998201	(3S,4R)-3,4-dihydroxycyclohexa-1,5-diene-1,4-dicarboxylate dehydrogenase activity
GO:0047522	0.000057	9.772439	3.998201	15-oxoprostaglandin 13-oxidase activity
GO:0047540	0.000057	9.772439	3.998201	2-enoate reductase activity
GO:0052579	0.000057	9.772439	3.998201	(+)-pulegone reductase, (+)-isomenthone as substrate, activity
GO:0052580	0.000057	9.772439	3.998201	(+)-pulegone reductase, (-)-menthone as substrate, activity
GO:0003868	0.000057	9.772439	4.007333	4-hydroxyphenylpyruvate dioxygenase activity
GO:0004573	0.000057	9.772439	4.007333	mannosyl-oligosaccharide glucosidase activity
GO:0004900	0.000057	9.772439	4.007333	erythropoietin receptor activity
GO:0004902	0.000057	9.772439	4.007333	granulocyte colony-stimulating factor receptor activity
GO:0004913	0.000057	9.772439	4.007333	interleukin-4 receptor activity
GO:0004914	0.000057	9.772439	4.007333	interleukin-5 receptor activity
GO:0004917	0.000057	9.772439	4.007333	interleukin-7 receptor activity
GO:0004919	0.000057	9.772439	4.007333	interleukin-9 receptor activity
GO:0004924	0.000057	9.772439	4.007333	oncostatin-M receptor activity
GO:0010308	0.000057	9.772439	4.007333	acireductone dioxygenase (Ni2+-requiring) activity
GO:0018564	0.000057	9.772439	4.007333	carbazole 1,9a-dioxygenase activity
GO:0018582	0.000057	9.772439	4.007333	1-hydroxy-2-naphthoate 1,2-dioxygenase activity
GO:0036238	0.000057	9.772439	4.007333	gallate dioxygenase activity
GO:0036403	0.000057	9.772439	4.007333	arachidonate 8(S)-lipoxygenase activity
GO:0038021	0.000057	9.772439	4.007333	leptin receptor activity
GO:0038164	0.000057	9.772439	4.007333	thrombopoietin receptor activity
GO:0042008	0.000057	9.772439	4.007333	interleukin-18 receptor activity
GO:0042018	0.000057	9.772439	4.007333	interleukin-22 receptor activity
GO:0047070	0.000057	9.772439	4.007333	3-carboxyethylcatechol 2,3-dioxygenase activity
GO:0047071	0.000057	9.772439	4.007333	3,4-dihydroxy-9,10-secoandrosta-1,3,5(10)-triene-9,17-dione 4,5-dioxygenase activity
GO:0047075	0.000057	9.772439	4.007333	2,5-dihydroxypyridine 5,6-dioxygenase activity
GO:0047078	0.000057	9.772439	4.007333	3-hydroxy-4-oxoquinoline 2,4-dioxygenase activity
GO:0047800	0.000057	9.772439	4.007333	cysteamine dioxygenase activity
GO:0047917	0.000057	9.772439	4.007333	GDP-glucosidase activity
GO:0047922	0.000057	9.772439	4.007333	gentisate 1,2-dioxygenase activity
GO:0050081	0.000057	9.772439	4.007333	maltose-6'-phosphate glucosidase activity
GO:0050585	0.000057	9.772439	4.007333	4-hydroxymandelate synthase activity
GO:0052878	0.000057	9.772439	4.007333	linoleate 8R-lipoxygenase activity
GO:0000907	0.000057	9.772439	4.025352	sulfonate dioxygenase activity
GO:0000908	0.000057	9.772439	4.025352	taurine dioxygenase activity
GO:0033759	0.000057	9.772439	4.025352	flavone synthase activity
GO:0033760	0.000057	9.772439	4.025352	2'-deoxymugineic-acid 2'-dioxygenase activity
GO:0036139	0.000057	9.772439	4.025352	peptidyl-histidine dioxygenase activity
GO:0036140	0.000057	9.772439	4.025352	peptidyl-asparagine 3-dioxygenase activity
GO:0031473	0.000057	9.772439	4.060443	myosin III binding
GO:0000277	0.000057	9.772439	4.069027	[cytochrome c]-lysine N-methyltransferase activity
GO:0002113	0.000057	9.772439	4.069027	interleukin-33 binding
GO:0019975	0.000057	9.772439	4.069027	interleukin-17 binding
GO:0035718	0.000057	9.772439	4.069027	macrophage migration inhibitory factor binding
GO:0042007	0.000057	9.772439	4.069027	interleukin-18 binding
GO:0042017	0.000057	9.772439	4.069027	interleukin-22 binding
GO:0070119	0.000057	9.772439	4.069027	ciliary neurotrophic factor binding
GO:0005252	0.000057	9.772439	4.094345	open rectifier potassium channel activity
GO:0016648	0.000057	9.772439	4.102643	oxidoreductase activity, acting on the CH-NH group of donors, disulfide as acceptor
GO:0030268	0.000057	9.772439	4.102643	methylenetetrahydromethanopterin dehydrogenase activity
GO:0031997	0.000057	9.772439	4.119037	N-terminal myristoylation domain binding
GO:1903877	0.000057	9.772439	4.127134	21-deoxycortisol binding
GO:0009016	0.000057	9.772439	4.158883	succinyldiaminopimelate transaminase activity
GO:0009042	0.000057	9.772439	4.158883	valine-pyruvate transaminase activity
GO:0016223	0.000057	9.772439	4.158883	beta-alanine-pyruvate transaminase activity
GO:0019180	0.000057	9.772439	4.158883	dTDP-4-amino-4,6-dideoxygalactose transaminase activity
GO:0033094	0.000057	9.772439	4.158883	butane-1,4-diamine:2-oxoglutarate aminotransferase activity
GO:0043825	0.000057	9.772439	4.158883	succinylornithine transaminase activity
GO:0045303	0.000057	9.772439	4.158883	diaminobutyrate-2-oxoglutarate transaminase activity
GO:0047305	0.000057	9.772439	4.158883	(R)-3-amino-2-methylpropionate-pyruvate transaminase activity
GO:0047801	0.000057	9.772439	4.158883	L-cysteine:2-oxoglutarate aminotransferase activity
GO:0047810	0.000057	9.772439	4.158883	D-alanine:2-oxoglutarate aminotransferase activity
GO:0050281	0.000057	9.772439	4.158883	serine-glyoxylate transaminase activity
GO:0070529	0.000057	9.772439	4.158883	L-tryptophan aminotransferase activity
GO:0034084	0.000057	9.772439	4.166665	steryl deacetylase activity
GO:0061463	0.000057	9.772439	4.166665	O-acetyl-ADP-ribose deacetylase activity
GO:0033856	0.000057	9.772439	4.189655	pyridoxine 5'-phosphate synthase activity
GO:0035605	0.000057	9.772439	4.189655	peptidyl-cysteine S-nitrosylase activity
GO:0005476	0.000057	9.772439	4.197202	carnitine:acyl carnitine antiporter activity
GO:0010294	0.000057	9.772439	4.197202	abscisic acid glucosyltransferase activity
GO:0047215	0.000057	9.772439	4.197202	indole-3-acetate beta-glucosyltransferase activity
GO:0047243	0.000057	9.772439	4.197202	flavanone 7-O-beta-glucosyltransferase activity
GO:0047251	0.000057	9.772439	4.197202	thiohydroximate beta-D-glucosyltransferase activity
GO:0047270	0.000057	9.772439	4.197202	lipopolysaccharide glucosyltransferase II activity
GO:0047893	0.000057	9.772439	4.197202	flavonol 3-O-glucosyltransferase activity
GO:0050004	0.000057	9.772439	4.197202	isoflavone 7-O-glucosyltransferase activity
GO:0050275	0.000057	9.772439	4.197202	scopoletin glucosyltransferase activity
GO:0050284	0.000057	9.772439	4.197202	sinapate 1-glucosyltransferase activity
GO:0050506	0.000057	9.772439	4.197202	vomilenine glucosyltransferase activity
GO:0052639	0.000057	9.772439	4.197202	salicylic acid glucosyltransferase (ester-forming) activity
GO:0052640	0.000057	9.772439	4.197202	salicylic acid glucosyltransferase (glucoside-forming) activity
GO:0052641	0.000057	9.772439	4.197202	benzoic acid glucosyltransferase activity
GO:0080018	0.000057	9.772439	4.197202	anthocyanin 5-O-glucosyltransferase activity
GO:1904454	0.000057	9.772439	4.204693	ubiquitin-specific protease activity involved in positive regulation of ERAD pathway
GO:1904455	0.000057	9.772439	4.204693	ubiquitin-specific protease activity involved in negative regulation of ERAD pathway
GO:0015592	0.000057	9.772439	4.226834	methylgalactoside transmembrane transporter activity
GO:0038106	0.000057	9.772439	4.269697	choriogonadotropin hormone binding
GO:0044373	0.000057	9.772439	4.269697	cytokinin binding
GO:1904399	0.000057	9.772439	4.290459	heparan sulfate binding
GO:0015100	0.000057	9.772439	4.310799	vanadium ion transmembrane transporter activity
GO:0030116	0.000057	9.772439	4.350278	glial cell-derived neurotrophic factor receptor binding
GO:0046941	0.000057	9.772439	4.356709	azetidine-2-carboxylic acid acetyltransferase activity
GO:0047198	0.000057	9.772439	4.356709	cysteine-S-conjugate N-acetyltransferase activity
GO:0047812	0.000057	9.772439	4.356709	D-amino-acid N-acetyltransferase activity
GO:0047981	0.000057	9.772439	4.356709	histidine N-acetyltransferase activity
GO:0051392	0.000057	9.772439	4.356709	tRNA N-acetyltransferase activity
GO:1990883	0.000057	9.772439	4.356709	rRNA cytidine N-acetyltransferase activity
GO:0002153	0.000057	9.772439	4.369448	steroid receptor RNA activator RNA binding
GO:1990137	0.000057	9.772439	4.369448	plant seed peroxidase activity
GO:0009540	0.000057	9.772439	4.382027	zeaxanthin epoxidase [overall] activity
GO:0016710	0.000057	9.772439	4.382027	trans-cinnamate 4-monooxygenase activity
GO:0016711	0.000057	9.772439	4.382027	flavonoid 3'-monooxygenase activity
GO:0018601	0.000057	9.772439	4.382027	4-nitrophenol 2-monooxygenase activity
GO:0018631	0.000057	9.772439	4.382027	phenylacetate hydroxylase activity
GO:0018633	0.000057	9.772439	4.382027	dimethyl sulfide monooxygenase activity
GO:0018663	0.000057	9.772439	4.382027	2,6-dihydroxypyridine 3-monooxygenase activity
GO:0018664	0.000057	9.772439	4.382027	benzoate 4-monooxygenase activity
GO:0018668	0.000057	9.772439	4.382027	3-hydroxybenzoate 4-monooxygenase activity
GO:0018669	0.000057	9.772439	4.382027	3-hydroxybenzoate 6-monooxygenase activity
GO:0018671	0.000057	9.772439	4.382027	4-hydroxybenzoate 3-monooxygenase [NAD(P)H] activity
GO:0033776	0.000057	9.772439	4.382027	phenylacetone monooxygenase activity
GO:0033778	0.000057	9.772439	4.382027	7alpha-hydroxycholest-4-en-3-one 12alpha-hydroxylase activity
GO:0033781	0.000057	9.772439	4.382027	cholesterol 24-hydroxylase activity
GO:0033784	0.000057	9.772439	4.382027	senecionine N-oxygenase activity
GO:0036201	0.000057	9.772439	4.382027	ent-isokaurene C2-hydroxylase activity
GO:0036203	0.000057	9.772439	4.382027	taxoid 14-beta-hydroxylase activity
GO:0036209	0.000057	9.772439	4.382027	9beta-pimara-7,15-diene oxidase activity
GO:0036239	0.000057	9.772439	4.382027	taxoid 7beta-hydroxylase activity
GO:0047084	0.000057	9.772439	4.382027	methyltetrahydroprotoberberine 14-monooxygenase activity
GO:0047087	0.000057	9.772439	4.382027	protopine 6-monooxygenase activity
GO:0047094	0.000057	9.772439	4.382027	3-hydroxyphenylacetate 6-hydroxylase activity
GO:0048529	0.000057	9.772439	4.382027	magnesium-protoporphyrin IX monomethyl ester (oxidative) cyclase activity
GO:0050593	0.000057	9.772439	4.382027	N-methylcoclaurine 3'-monooxygenase activity
GO:0052582	0.000057	9.772439	4.382027	(+)-menthofuran synthase activity
GO:0052615	0.000057	9.772439	4.382027	ent-kaurene oxidase activity
GO:0052662	0.000057	9.772439	4.382027	zeaxanthin epoxidase activity
GO:0052870	0.000057	9.772439	4.382027	tocopherol omega-hydroxylase activity
GO:0052872	0.000057	9.772439	4.382027	tocotrienol omega-hydroxylase activity
GO:0072532	0.000057	9.772439	4.382027	tri-(feruloyl or hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0097007	0.000057	9.772439	4.382027	4,8,12-trimethyltrideca-1,3,7,11-tetraene synthase activity
GO:0097008	0.000057	9.772439	4.382027	(3E)-4,8-dimethyl-1,3,7-nonatriene synthase activity
GO:0017084	0.000057	9.772439	4.400603	delta1-pyrroline-5-carboxylate synthetase activity
GO:0018478	0.000057	9.772439	4.400603	malonate-semialdehyde dehydrogenase (acetylating) activity
GO:0034602	0.000057	9.772439	4.400603	oxoglutarate dehydrogenase (NAD+) activity
GO:0034832	0.000057	9.772439	4.400603	geranial dehydrogenase activity
GO:0036458	0.000057	9.772439	4.400603	hepatocyte growth factor binding
GO:0038132	0.000057	9.772439	4.400603	neuregulin binding
GO:0047101	0.000057	9.772439	4.400603	2-oxoisovalerate dehydrogenase (acylating) activity
GO:0047105	0.000057	9.772439	4.400603	4-trimethylammoniobutyraldehyde dehydrogenase activity
GO:0047533	0.000057	9.772439	4.400603	2,5-dioxovalerate dehydrogenase (NADP+) activity
GO:0047949	0.000057	9.772439	4.400603	glutarate-semialdehyde dehydrogenase activity
GO:0050608	0.000057	9.772439	4.400603	vanillin dehydrogenase activity
GO:0008939	0.000057	9.772439	4.412798	nicotinate-nucleotide-dimethylbenzimidazole phosphoribosyltransferase activity
GO:0030591	0.000057	9.772439	4.412798	NAD DNA ADP-ribosyltransferase activity
GO:0047975	0.000057	9.772439	4.412798	guanosine phosphorylase activity
GO:0033820	0.000057	9.772439	4.418841	DNA alpha-glucosyltransferase activity
GO:0033821	0.000057	9.772439	4.418841	DNA beta-glucosyltransferase activity
GO:0033825	0.000057	9.772439	4.418841	oligosaccharide 4-alpha-D-glucosyltransferase activity
GO:0042283	0.000057	9.772439	4.418841	dolichyl pyrophosphate Glc1Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:1990275	0.000057	9.772439	4.430817	preribosome binding
GO:0070335	0.000057	9.772439	4.442651	aspartate binding
GO:0018846	0.000057	9.772439	4.471639	styrene-oxide isomerase activity
GO:0034020	0.000057	9.772439	4.471639	neoxanthin synthase activity
GO:0001760	0.000057	9.772439	4.505350	aminocarboxymuconate-semialdehyde decarboxylase activity
GO:0004492	0.000057	9.772439	4.505350	methylmalonyl-CoA decarboxylase activity
GO:0004782	0.000057	9.772439	4.505350	sulfinoalanine decarboxylase activity
GO:0008683	0.000057	9.772439	4.505350	2-oxoglutarate decarboxylase activity
GO:0008779	0.000057	9.772439	4.505350	acyl-[acyl-carrier-protein]-phospholipid O-acyltransferase activity
GO:0009028	0.000057	9.772439	4.505350	tartronate-semialdehyde synthase activity
GO:0010298	0.000057	9.772439	4.505350	dihydrocamalexic acid decarboxylase activity
GO:0018803	0.000057	9.772439	4.505350	4-(2-carboxyphenyl)-2-oxobut-3-enoate aldolase activity
GO:0032576	0.000057	9.772439	4.505350	O-linoleoyltransferase activity
GO:0045157	0.000057	9.772439	4.505350	electron transporter, transferring electrons within the noncyclic electron transport pathway of photosynthesis activity
GO:0046564	0.000057	9.772439	4.505350	oxalate decarboxylase activity
GO:0047159	0.000057	9.772439	4.505350	1-alkenylglycerophosphocholine O-acyltransferase activity
GO:0047191	0.000057	9.772439	4.505350	1-alkylglycerophosphocholine O-acyltransferase activity
GO:0047434	0.000057	9.772439	4.505350	indolepyruvate decarboxylase activity
GO:0047605	0.000057	9.772439	4.505350	acetolactate decarboxylase activity
GO:0050177	0.000057	9.772439	4.505350	phenylpyruvate decarboxylase activity
GO:0050252	0.000057	9.772439	4.505350	retinol O-fatty-acyltransferase activity
GO:0051997	0.000057	9.772439	4.505350	2-oxo-4-hydroxy-4-carboxy-5-ureidoimidazoline decarboxylase activity
GO:0080095	0.000057	9.772439	4.505350	phosphatidylethanolamine-sterol O-acyltransferase activity
GO:0080096	0.000057	9.772439	4.505350	phosphatidate-sterol O-acyltransferase activity
GO:0036455	0.000057	9.772439	4.510860	iron-sulfur transferase activity
GO:0034023	0.000057	9.772439	4.521789	5-(carboxyamino)imidazole ribonucleotide mutase activity
GO:0047470	0.000057	9.772439	4.521789	(1,4)-alpha-D-glucan 1-alpha-D-glucosylmutase activity
GO:0047548	0.000057	9.772439	4.521789	2-methyleneglutarate mutase activity
GO:0090438	0.000057	9.772439	4.521789	camelliol C synthase activity
GO:1990955	0.000057	9.772439	4.574711	G-rich single-stranded DNA binding
GO:0050640	0.000057	9.772439	4.610158	isopenicillin-N N-acyltransferase activity
GO:0080074	0.000057	9.772439	4.610158	spermidine:caffeoyl CoA N-acyltransferase activity
GO:0080075	0.000057	9.772439	4.610158	spermidine:feruloyl CoA N-acyltransferase activity
GO:0080089	0.000057	9.772439	4.610158	sinapoyl spermidine:sinapoyl CoA N-acyltransferase activity
GO:1990890	0.000057	9.772439	4.615121	netrin receptor binding
GO:0098623	0.000057	9.772439	4.644391	selenite reductase activity
GO:0098624	0.000057	9.772439	4.644391	3'-Phosphoadenylylselenate reductase activity
GO:0098625	0.000057	9.772439	4.644391	methylselenol reductase activity
GO:0098626	0.000057	9.772439	4.644391	methylseleninic acid reductase activity
GO:0097077	0.000057	9.772439	4.658711	copper ion sensor activity
GO:0018064	0.000057	9.772439	4.677491	protein-histidine N-methyltransferase activity
GO:0046539	0.000057	9.772439	4.677491	histamine N-methyltransferase activity
GO:0005395	0.000057	9.772439	4.691348	eye pigment precursor transporter activity
GO:0008770	0.000057	9.772439	4.700480	[acyl-carrier-protein] phosphodiesterase activity
GO:0036317	0.000057	9.772439	4.700480	tyrosyl-RNA phosphodiesterase activity
GO:0044603	0.000057	9.772439	4.700480	protein adenylylhydrolase activity
GO:0047390	0.000057	9.772439	4.700480	glycerophosphocholine cholinephosphodiesterase activity
GO:0004847	0.000057	9.772439	4.714025	urea carboxylase activity
GO:0032267	0.000057	9.772439	4.714025	tRNA(Ile)-lysidine synthase activity
GO:0034028	0.000057	9.772439	4.714025	5-(carboxyamino)imidazole ribonucleotide synthase activity
GO:0061483	0.000057	9.772439	4.714025	sulfinylpropanyl adenylate synthase
GO:0072591	0.000057	9.772439	4.714025	citrate-L-glutamate ligase activity
GO:1990644	0.000057	9.772439	4.718499	microtubule site clamp
GO:0016622	0.000057	9.772439	4.731803	oxidoreductase activity, acting on the aldehyde or oxo group of donors, cytochrome as acceptor
GO:0033737	0.000057	9.772439	4.731803	1-pyrroline dehydrogenase activity
GO:0043795	0.000057	9.772439	4.731803	glyceraldehyde oxidoreductase activity
GO:0047770	0.000057	9.772439	4.731803	carboxylate reductase activity
GO:0051268	0.000057	9.772439	4.731803	alpha-keto amide reductase activity
GO:0051269	0.000057	9.772439	4.731803	alpha-keto ester reductase activity
GO:0001604	0.000057	9.772439	4.736198	urotensin II receptor activity
GO:0008261	0.000057	9.772439	4.736198	allatostatin receptor activity
GO:0015054	0.000057	9.772439	4.736198	gastrin receptor activity
GO:0015115	0.000057	9.772439	4.744932	silicate transmembrane transporter activity
GO:0009918	0.000057	9.772439	4.757891	sterol delta7 reductase activity
GO:0080004	0.000057	9.772439	4.757891	thalian-diol desaturase activity
GO:0043894	0.000057	9.772439	4.783316	acetyl-CoA synthetase acetyltransferase activity
GO:0097641	0.000057	9.772439	4.791650	alpha-ketoglutarate-dependent xanthine dioxygenase activity
GO:0008995	0.000057	9.772439	4.799914	ribonuclease E activity
GO:0008996	0.000057	9.772439	4.799914	ribonuclease G activity
GO:0008997	0.000057	9.772439	4.799914	ribonuclease R activity
GO:0061649	0.000057	9.772439	4.824306	ubiquitinated histone binding
GO:0008864	0.000057	9.772439	4.832306	formyltetrahydrofolate deformylase activity
GO:0008884	0.000057	9.772439	4.832306	glutathionylspermidine amidase activity
GO:0009014	0.000057	9.772439	4.832306	succinyl-diaminopimelate desuccinylase activity
GO:0009017	0.000057	9.772439	4.832306	succinylglutamate desuccinylase activity
GO:0018750	0.000057	9.772439	4.832306	biuret amidohydrolase activity
GO:0019159	0.000057	9.772439	4.832306	nicotinamide-nucleotide amidase activity
GO:0019875	0.000057	9.772439	4.832306	6-aminohexanoate-dimer hydrolase activity
GO:0033966	0.000057	9.772439	4.832306	N-substituted formamide deformylase activity
GO:0033969	0.000057	9.772439	4.832306	gamma-glutamyl-gamma-aminobutyrate hydrolase activity
GO:0036311	0.000057	9.772439	4.832306	chitin disaccharide deacetylase activity
GO:0043864	0.000057	9.772439	4.832306	indoleacetamide hydrolase activity
GO:0047411	0.000057	9.772439	4.832306	2-(acetamidomethylene)succinate hydrolase activity
GO:0047412	0.000057	9.772439	4.832306	N-(long-chain-acyl)ethanolamine deacylase activity
GO:0047417	0.000057	9.772439	4.832306	N-carbamoyl-D-amino acid hydrolase activity
GO:0047680	0.000057	9.772439	4.832306	aryl-acylamidase activity
GO:0050001	0.000057	9.772439	4.832306	D-glutaminase activity
GO:0050126	0.000057	9.772439	4.832306	N-carbamoylputrescine amidase activity
GO:0050129	0.000057	9.772439	4.832306	N-formylglutamate deformylase activity
GO:0050537	0.000057	9.772439	4.832306	mandelamide amidase activity
GO:0050568	0.000057	9.772439	4.832306	protein-glutamine glutaminase activity
GO:0019914	0.000057	9.772439	4.871373	cyclin-dependent protein kinase activating kinase regulator activity
GO:0035730	0.000057	9.772439	4.934474	S-nitrosoglutathione binding
GO:0010307	0.000057	9.772439	4.955827	acetylglutamate kinase regulator activity
GO:0000010	0.000057	9.772439	4.973280	trans-hexaprenyltranstransferase activity
GO:0018690	0.000057	9.772439	4.973280	4-methoxybenzoate monooxygenase (O-demethylating) activity
GO:0033847	0.000057	9.772439	4.973280	O-phosphoserine sulfhydrylase activity
GO:0033848	0.000057	9.772439	4.973280	N2-(2-carboxyethyl)arginine synthase activity
GO:0047444	0.000057	9.772439	4.973280	N-acylneuraminate-9-phosphate synthase activity
GO:0052922	0.000057	9.772439	4.973280	hexaprenyl diphosphate synthase (geranylgeranyl-diphosphate specific) activity
GO:0072374	0.000057	9.772439	4.973280	carotene epsilon hydroxylase activity
GO:0090560	0.000057	9.772439	4.973280	2-(3-amino-3-carboxypropyl)histidine synthase activity
GO:0098601	0.000057	9.772439	4.973280	selenomethionine adenosyltransferase activity
GO:0005144	0.000057	9.772439	5.046646	interleukin-13 receptor binding
GO:0030380	0.000057	9.772439	5.046646	interleukin-17E receptor binding
GO:0032003	0.000057	9.772439	5.046646	interleukin-28 receptor binding
GO:0045518	0.000057	9.772439	5.046646	interleukin-22 receptor binding
GO:0097216	0.000057	9.772439	5.059425	guanosine tetraphosphate binding
GO:0009034	0.000057	9.772439	5.078294	tryptophanase activity
GO:0050371	0.000057	9.772439	5.078294	tyrosine phenol-lyase activity
GO:0071771	0.000057	9.772439	5.078294	aldehyde decarbonylase activity
GO:0003859	0.000057	9.772439	5.096813	3-hydroxybutyryl-CoA dehydratase activity
GO:0004409	0.000057	9.772439	5.096813	homoaconitate hydratase activity
GO:0004456	0.000057	9.772439	5.096813	phosphogluconate dehydratase activity
GO:0004490	0.000057	9.772439	5.096813	methylglutaconyl-CoA hydratase activity
GO:0004730	0.000057	9.772439	5.096813	pseudouridylate synthase activity
GO:0008684	0.000057	9.772439	5.096813	2-oxopent-4-enoate hydratase activity
GO:0008872	0.000057	9.772439	5.096813	glucarate dehydratase activity
GO:0009978	0.000057	9.772439	5.096813	allene oxide synthase activity
GO:0016153	0.000057	9.772439	5.096813	urocanate hydratase activity
GO:0018818	0.000057	9.772439	5.096813	acetylene hydratase activity
GO:0030411	0.000057	9.772439	5.096813	scytalone dehydratase activity
GO:0033989	0.000057	9.772439	5.096813	3alpha,7alpha,12alpha-trihydroxy-5beta-cholest-24-enoyl-CoA hydratase activity
GO:0043956	0.000057	9.772439	5.096813	3-hydroxypropionyl-CoA dehydratase activity
GO:0047449	0.000057	9.772439	5.096813	2-dehydro-3-deoxy-L-arabinonate dehydratase activity
GO:0047584	0.000057	9.772439	5.096813	4-oxalmesaconate hydratase activity
GO:0047675	0.000057	9.772439	5.096813	arabinonate dehydratase activity
GO:0050015	0.000057	9.772439	5.096813	kievitone hydratase activity
GO:0050020	0.000057	9.772439	5.096813	L-arabinonate dehydratase activity
GO:0050032	0.000057	9.772439	5.096813	L-rhamnonate dehydratase activity
GO:0050401	0.000057	9.772439	5.096813	xylonate dehydratase activity
GO:0050549	0.000057	9.772439	5.096813	cyclohexyl-isocyanide hydratase activity
GO:0052855	0.000057	9.772439	5.096813	ADP-dependent NAD(P)H-hydrate dehydratase activity
GO:0070497	0.000057	9.772439	5.096813	6-carboxy-5,6,7,8-tetrahydropterin synthase activity
GO:0098605	0.000057	9.772439	5.096813	selenocystathionine beta-synthase activity
GO:1990594	0.000057	9.772439	5.096813	L-altrarate dehydratase activity
GO:0031700	0.000057	9.772439	5.153292	adrenomedullin receptor binding
GO:0031768	0.000057	9.772439	5.153292	ghrelin receptor binding
GO:0031769	0.000057	9.772439	5.153292	glucagon receptor binding
GO:0031811	0.000057	9.772439	5.153292	G-protein coupled nucleotide receptor binding
GO:0031855	0.000057	9.772439	5.153292	oxytocin receptor binding
GO:0031856	0.000057	9.772439	5.153292	parathyroid hormone receptor binding
GO:0031883	0.000057	9.772439	5.153292	taste receptor binding
GO:0018733	0.000057	9.772439	5.198497	3,4-dihydrocoumarin hydrolase activity
GO:0035460	0.000057	9.772439	5.198497	L-ascorbate 6-phosphate lactonase activity
GO:0035560	0.000057	9.772439	5.198497	pheophoridase activity
GO:0047554	0.000057	9.772439	5.198497	2-pyrone-4,6-dicarboxylate lactonase activity
GO:0047585	0.000057	9.772439	5.198497	4-pyridoxolactonase activity
GO:0047619	0.000057	9.772439	5.198497	acylcarnitine hydrolase activity
GO:0047658	0.000057	9.772439	5.198497	alpha-amino-acid esterase activity
GO:0047856	0.000057	9.772439	5.198497	dihydrocoumarin hydrolase activity
GO:0050021	0.000057	9.772439	5.198497	L-arabinonolactonase activity
GO:0050185	0.000057	9.772439	5.198497	phosphatidylinositol deacylase activity
GO:0050285	0.000057	9.772439	5.198497	sinapine esterase activity
GO:0052884	0.000057	9.772439	5.198497	all-trans-retinyl-palmitate hydrolase, 11-cis retinol forming activity
GO:0061685	0.000057	9.772439	5.198497	diphthine methylesterase activity
GO:0080124	0.000057	9.772439	5.198497	pheophytinase activity
GO:0090499	0.000057	9.772439	5.198497	pimelyl-[acyl-carrier protein] methyl ester esterase activity
GO:0047230	0.000057	9.772439	5.212215	flavonol-3-O-glucoside L-rhamnosyltransferase activity
GO:0047257	0.000057	9.772439	5.212215	diglucosyl diacylglycerol synthase activity
GO:0047262	0.000057	9.772439	5.212215	polygalacturonate 4-alpha-galacturonosyltransferase activity
GO:0009022	0.000057	9.772439	5.220356	tRNA nucleotidyltransferase activity
GO:0050519	0.000057	9.772439	5.220356	holo-citrate lyase synthase activity
GO:0061710	0.000057	9.772439	5.220356	L-threonylcarbamoyladenylate synthase
GO:0010291	0.000057	9.772439	5.257495	carotene beta-ring hydroxylase activity
GO:0031172	0.000057	9.772439	5.257495	ornithine N5-monooxygenase activity
GO:0046409	0.000057	9.772439	5.257495	p-coumarate 3-hydroxylase activity
GO:0052694	0.000057	9.772439	5.257495	jasmonoyl-isoleucine-12-hydroxylase activity
GO:1990482	0.000057	9.772439	5.280662	sphingolipid alpha-glucuronosyltransferase activity
GO:0030731	0.000057	9.772439	5.386786	guanidinoacetate N-methyltransferase activity
GO:0030748	0.000057	9.772439	5.386786	amine N-methyltransferase activity
GO:0030751	0.000057	9.772439	5.386786	licodione 2'-O-methyltransferase activity
GO:0030755	0.000057	9.772439	5.386786	quercetin 3-O-methyltransferase activity
GO:0030760	0.000057	9.772439	5.386786	pyridine N-methyltransferase activity
GO:0030761	0.000057	9.772439	5.386786	8-hydroxyquercitin 8-O-methyltransferase activity
GO:0030766	0.000057	9.772439	5.386786	11-O-demethyl-17-O-deacetylvindoline O-methyltransferase activity
GO:0030769	0.000057	9.772439	5.386786	macrocin O-methyltransferase activity
GO:0030770	0.000057	9.772439	5.386786	demethylmacrocin O-methyltransferase activity
GO:0030791	0.000057	9.772439	5.386786	arsenite methyltransferase activity
GO:0030792	0.000057	9.772439	5.386786	methylarsonite methyltransferase activity
GO:0030794	0.000057	9.772439	5.386786	(S)-coclaurine-N-methyltransferase activity
GO:0030795	0.000057	9.772439	5.386786	jasmonate O-methyltransferase activity
GO:0030798	0.000057	9.772439	5.386786	trans-aconitate 2-methyltransferase activity
GO:0046547	0.000057	9.772439	5.386786	trans-aconitate 3-methyltransferase activity
GO:0052706	0.000057	9.772439	5.386786	histidine N-methyltransferase activity
GO:0043250	0.000057	9.772439	5.416100	sodium-dependent organic anion transmembrane transporter activity
GO:0050334	0.000057	9.772439	5.431536	thiaminase activity
GO:1990206	0.000057	9.772439	5.431536	jasmonyl-Ile conjugate hydrolase activity
GO:0003940	0.000057	9.772439	5.501258	L-iduronidase activity
GO:0004336	0.000057	9.772439	5.501258	galactosylceramidase activity
GO:0010303	0.000057	9.772439	5.501258	limit dextrinase activity
GO:0017042	0.000057	9.772439	5.501258	glycosylceramidase activity
GO:0031216	0.000057	9.772439	5.501258	neopullulanase activity
GO:0033922	0.000057	9.772439	5.501258	peptidoglycan beta-N-acetylmuramidase activity
GO:0033942	0.000057	9.772439	5.501258	4-alpha-D-\{(1->4)-alpha-D-glucano}trehalose trehalohydrolase activity
GO:0033945	0.000057	9.772439	5.501258	oligoxyloglucan reducing-end-specific cellobiohydrolase activity
GO:0042972	0.000057	9.772439	5.501258	licheninase activity
GO:0047876	0.000057	9.772439	5.501258	endoglycosylceramidase activity
GO:0051060	0.000057	9.772439	5.501258	pullulanase activity
GO:0052748	0.000057	9.772439	5.501258	baicalin beta-D-glucuronidase activity
GO:0070205	0.000057	9.772439	5.527443	2-succinyl-6-hydroxy-2,4-cyclohexadiene-1-carboxylate synthase activity
GO:0008681	0.000057	9.772439	5.531411	2-octaprenyl-6-methoxyphenol hydroxylase activity
GO:0016720	0.000057	9.772439	5.531411	delta12-fatty acid dehydrogenase activity
GO:0018585	0.000057	9.772439	5.531411	fluorene oxygenase activity
GO:0044876	0.000057	9.772439	5.531411	hercynylselenocysteine synthase
GO:0052637	0.000057	9.772439	5.531411	delta 3-trans-hexadecenoic acid phosphatidylglycerol desaturase activity
GO:0061686	0.000057	9.772439	5.531411	hercynylcysteine sulfoxide synthase
GO:0008946	0.000057	9.772439	5.533389	oligonucleotidase activity
GO:0036402	0.000057	9.772439	5.566434	proteasome-activating ATPase activity
GO:1990833	0.000057	9.772439	5.566434	clathrin-uncoating ATPase activity
GO:0008754	0.000057	9.772439	5.575949	O antigen ligase activity
GO:0000140	0.000057	9.772439	5.585374	acylglycerone-phosphate reductase activity
GO:0004552	0.000057	9.772439	5.585374	octanol dehydrogenase activity
GO:0004757	0.000057	9.772439	5.585374	sepiapterin reductase activity
GO:0008442	0.000057	9.772439	5.585374	3-hydroxyisobutyrate dehydrogenase activity
GO:0008762	0.000057	9.772439	5.585374	UDP-N-acetylmuramate dehydrogenase activity
GO:0008866	0.000057	9.772439	5.585374	fructuronate reductase activity
GO:0008868	0.000057	9.772439	5.585374	galactitol-1-phosphate 5-dehydrogenase activity
GO:0008912	0.000057	9.772439	5.585374	lactaldehyde reductase activity
GO:0009027	0.000057	9.772439	5.585374	tartrate dehydrogenase activity
GO:0009040	0.000057	9.772439	5.585374	ureidoglycolate dehydrogenase activity
GO:0018457	0.000057	9.772439	5.585374	perillyl-alcohol dehydrogenase activity
GO:0018458	0.000057	9.772439	5.585374	isopiperitenol dehydrogenase activity
GO:0018459	0.000057	9.772439	5.585374	carveol dehydrogenase activity
GO:0018461	0.000057	9.772439	5.585374	fluoren-9-ol dehydrogenase activity
GO:0019147	0.000057	9.772439	5.585374	(R)-aminopropanol dehydrogenase activity
GO:0019151	0.000057	9.772439	5.585374	galactose 1-dehydrogenase activity
GO:0019170	0.000057	9.772439	5.585374	methylglyoxal reductase (NADH-dependent) activity
GO:0032115	0.000057	9.772439	5.585374	sorbose reductase activity
GO:0033708	0.000057	9.772439	5.585374	isocitrate-homoisocitrate dehydrogenase activity
GO:0033709	0.000057	9.772439	5.585374	D-arabinitol dehydrogenase, D-ribulose forming (NADP+) activity
GO:0033711	0.000057	9.772439	5.585374	4-phosphoerythronate dehydrogenase activity
GO:0033845	0.000057	9.772439	5.585374	hydroxymethylfurfural reductase (NADPH) activity
GO:0035527	0.000057	9.772439	5.585374	3-hydroxypropionate dehydrogenase (NADP+) activity
GO:0036130	0.000057	9.772439	5.585374	prostaglandin H2 endoperoxidase reductase activity
GO:0036131	0.000057	9.772439	5.585374	prostaglandin D2 11-ketoreductase activity
GO:0036132	0.000057	9.772439	5.585374	13-prostaglandin reductase activity
GO:0036185	0.000057	9.772439	5.585374	13-lipoxin reductase activity
GO:0042356	0.000057	9.772439	5.585374	GDP-4-dehydro-D-rhamnose reductase activity
GO:0043718	0.000057	9.772439	5.585374	2-hydroxymethylglutarate dehydrogenase activity
GO:0043892	0.000057	9.772439	5.585374	methylglyoxal reductase (NADPH-dependent) activity
GO:0045552	0.000057	9.772439	5.585374	dihydrokaempferol 4-reductase activity
GO:0047016	0.000057	9.772439	5.585374	cholest-5-ene-3-beta,7-alpha-diol 3-beta-dehydrogenase activity
GO:0047018	0.000057	9.772439	5.585374	indole-3-acetaldehyde reductase (NADH) activity
GO:0047019	0.000057	9.772439	5.585374	indole-3-acetaldehyde reductase (NADPH) activity
GO:0047020	0.000057	9.772439	5.585374	15-hydroxyprostaglandin-D dehydrogenase (NADP+) activity
GO:0047037	0.000057	9.772439	5.585374	salutaridine reductase (NADPH) activity
GO:0047038	0.000057	9.772439	5.585374	D-arabinitol 2-dehydrogenase activity
GO:0047039	0.000057	9.772439	5.585374	tetrahydroxynaphthalene reductase activity
GO:0047512	0.000057	9.772439	5.585374	(S,S)-butanediol dehydrogenase activity
GO:0047516	0.000057	9.772439	5.585374	1,3-propanediol dehydrogenase activity
GO:0047577	0.000057	9.772439	5.585374	4-hydroxybutyrate dehydrogenase activity
GO:0047718	0.000057	9.772439	5.585374	indanol dehydrogenase activity
GO:0047880	0.000057	9.772439	5.585374	erythrulose reductase activity
GO:0047886	0.000057	9.772439	5.585374	farnesol dehydrogenase activity
GO:0047919	0.000057	9.772439	5.585374	GDP-mannose 6-dehydrogenase activity
GO:0047964	0.000057	9.772439	5.585374	glyoxylate reductase activity
GO:0047995	0.000057	9.772439	5.585374	hydroxyphenylpyruvate reductase activity
GO:0050022	0.000057	9.772439	5.585374	L-arabinose 1-dehydrogenase (NAD+) activity
GO:0050085	0.000057	9.772439	5.585374	mannitol 2-dehydrogenase (NADP+) activity
GO:0050086	0.000057	9.772439	5.585374	mannitol 2-dehydrogenase activity
GO:0050093	0.000057	9.772439	5.585374	methanol dehydrogenase activity
GO:0050221	0.000057	9.772439	5.585374	prostaglandin-E2 9-reductase activity
GO:0050235	0.000057	9.772439	5.585374	pyridoxal 4-dehydrogenase activity
GO:0050268	0.000057	9.772439	5.585374	coniferyl-alcohol dehydrogenase activity
GO:0050388	0.000057	9.772439	5.585374	uronate dehydrogenase activity
GO:0050570	0.000057	9.772439	5.585374	4-hydroxythreonine-4-phosphate dehydrogenase activity
GO:0050572	0.000057	9.772439	5.585374	L-idonate 5-dehydrogenase activity
GO:0050573	0.000057	9.772439	5.585374	dTDP-4-dehydro-6-deoxyglucose reductase activity
GO:0050606	0.000057	9.772439	5.585374	4-carboxy-2-hydroxymuconate semialdehyde hemiacetal dehydrogenase activity
GO:0052677	0.000057	9.772439	5.585374	D-arabinitol dehydrogenase, D-xylulose forming (NADP+) activity
GO:0052734	0.000057	9.772439	5.585374	shikimate 3-dehydrogenase (NAD+) activity
GO:0061596	0.000057	9.772439	5.585374	3-sulfolactaldehyde reductase activity
GO:0089714	0.000057	9.772439	5.585374	UDP-N-acetyl-D-mannosamine dehydrogenase activity
GO:1990042	0.000057	9.772439	5.585374	glycerol dehydrogenase [NAD(P)+] activity
GO:0036479	0.000057	9.772439	5.590987	peroxidase inhibitor activity
GO:0060703	0.000057	9.772439	5.590987	deoxyribonuclease inhibitor activity
GO:0090369	0.000057	9.772439	5.590987	ornithine carbamoyltransferase inhibitor activity
GO:0051995	0.000057	9.772439	5.669881	Se-methyltransferase activity
GO:0098615	0.000057	9.772439	5.669881	dimethyl selenide methyltransferase activity
GO:0004344	0.000057	9.772439	5.707110	glucose dehydrogenase activity
GO:0033719	0.000057	9.772439	5.707110	2-oxo-acid reductase activity
GO:0047809	0.000057	9.772439	5.707110	D-2-hydroxy-acid dehydrogenase activity
GO:0047904	0.000057	9.772439	5.707110	fructose 5-dehydrogenase activity
GO:0047988	0.000057	9.772439	5.707110	hydroxyacid-oxoacid transhydrogenase activity
GO:0097256	0.000057	9.772439	5.707110	phenyllactate dehydrogenase activity
GO:0097257	0.000057	9.772439	5.707110	leukotriene B4 12-hydroxy dehydrogenase activity
GO:0099615	0.000057	9.772439	5.707110	(D)-2-hydroxyglutarate-pyruvate transhydrogenase activity
GO:0030290	0.000057	9.772439	5.734958	sphingolipid activator protein activity
GO:0036470	0.000057	9.772439	5.734958	tyrosine 3-monooxygenase activator activity
GO:0036478	0.000057	9.772439	5.734958	L-dopa decarboxylase activator activity
GO:0044692	0.000057	9.772439	5.734958	exoribonuclease activator activity
GO:0046863	0.000057	9.772439	5.734958	ribulose-1,5-bisphosphate carboxylase/oxygenase activator activity
GO:0061632	0.000057	9.772439	5.734958	RNA lariat debranching enzyme activator activity
GO:1990521	0.000057	9.772439	5.734958	m7G(5')pppN diphosphatase activator activity
GO:0008719	0.000057	9.772439	5.741399	dihydroneopterin triphosphate 2'-epimerase activity
GO:0061593	0.000057	9.772439	5.741399	sulfoquinovose isomerase activity
GO:0097260	0.000057	9.772439	5.741399	eoxin A4 synthase activity
GO:0008951	0.000057	9.772439	5.786897	palmitoleoyl [acyl-carrier-protein]-dependent acyltransferase activity
GO:0017118	0.000057	9.772439	5.786897	lipoyltransferase activity
GO:0033809	0.000057	9.772439	5.786897	anthocyanin 6''-O-malonyltransferase activity
GO:0033810	0.000057	9.772439	5.786897	anthocyanin 5-O-glucoside 6'''-O-malonyltransferase activity
GO:0033812	0.000057	9.772439	5.786897	3-oxoadipyl-CoA thiolase activity
GO:0033817	0.000057	9.772439	5.786897	beta-ketoacyl-acyl-carrier-protein synthase II activity
GO:0034326	0.000057	9.772439	5.786897	butanoyltransferase activity
GO:0035447	0.000057	9.772439	5.786897	mycothiol synthase activity
GO:0043875	0.000057	9.772439	5.786897	2-ketobutyrate formate-lyase activity
GO:0047178	0.000057	9.772439	5.786897	glycerophospholipid acyltransferase (CoA-dependent) activity
GO:0047203	0.000057	9.772439	5.786897	13-hydroxylupinine O-tigloyltransferase activity
GO:0047260	0.000057	9.772439	5.786897	alpha,alpha-trehalose-phosphate synthase (GDP-forming) activity
GO:0047600	0.000057	9.772439	5.786897	abequosyltransferase activity
GO:0047962	0.000057	9.772439	5.786897	glycine N-benzoyltransferase activity
GO:0047963	0.000057	9.772439	5.786897	glycine N-choloyltransferase activity
GO:0050182	0.000057	9.772439	5.786897	phosphate butyryltransferase activity
GO:0050632	0.000057	9.772439	5.786897	propionyl-CoA C2-trimethyltridecanoyltransferase activity
GO:0050637	0.000057	9.772439	5.786897	lovastatin nonaketide synthase activity
GO:0050738	0.000057	9.772439	5.786897	fructosyltransferase activity
GO:0090430	0.000057	9.772439	5.786897	caffeoyl-CoA: alcohol caffeoyl transferase activity
GO:0001616	0.000057	9.772439	5.809643	growth hormone secretagogue receptor activity
GO:0001634	0.000057	9.772439	5.809643	pituitary adenylate cyclase-activating polypeptide receptor activity
GO:0016519	0.000057	9.772439	5.809643	gastric inhibitory peptide receptor activity
GO:0070553	0.000057	9.772439	5.809643	nicotinic acid receptor activity
GO:1990576	0.000057	9.772439	5.809643	G-protein coupled glucose receptor activity
GO:1990595	0.000057	9.772439	5.809643	mast cell secretagogue receptor activity
GO:0008707	0.000057	9.772439	5.881929	4-phytase activity
GO:0016158	0.000057	9.772439	5.881929	3-phytase activity
GO:0019143	0.000057	9.772439	5.881929	3-deoxy-manno-octulosonate-8-phosphatase activity
GO:0019178	0.000057	9.772439	5.881929	NADP phosphatase activity
GO:0043755	0.000057	9.772439	5.881929	alpha-ribazole phosphatase activity
GO:0043874	0.000057	9.772439	5.881929	acireductone synthase activity
GO:0047538	0.000057	9.772439	5.881929	2-carboxy-D-arabinitol-1-phosphatase activity
GO:0047846	0.000057	9.772439	5.881929	deoxynucleotide 3'-phosphatase activity
GO:0047954	0.000057	9.772439	5.881929	glycerol-2-phosphatase activity
GO:0050084	0.000057	9.772439	5.881929	mannitol-1-phosphatase activity
GO:0050115	0.000057	9.772439	5.881929	myosin-light-chain-phosphatase activity
GO:0050192	0.000057	9.772439	5.881929	phosphoglycerate phosphatase activity
GO:0050408	0.000057	9.772439	5.881929	[pyruvate kinase]-phosphatase activity
GO:0097657	0.000057	9.772439	5.881929	3',5'-nucleotide bisphosphate phosphatase activity
GO:0042624	0.000057	9.772439	5.921578	ATPase activity, uncoupled
GO:0032399	0.000057	9.772439	5.975081	HECT domain binding
GO:0032427	0.000057	9.772439	5.975081	GBD domain binding
GO:0035500	0.000057	9.772439	5.975081	MH2 domain binding
GO:0035501	0.000057	9.772439	5.975081	MH1 domain binding
GO:0044198	0.000057	9.772439	5.975081	zf-TRAF domain binding
GO:0050683	0.000057	9.772439	5.975081	AF-1 domain binding
GO:0070974	0.000057	9.772439	5.975081	POU domain binding
GO:0070975	0.000057	9.772439	5.975081	FHA domain binding
GO:0070984	0.000057	9.772439	5.975081	SET domain binding
GO:0071906	0.000057	9.772439	5.975081	CRD domain binding
GO:0090488	0.000057	9.772439	5.975081	polo box domain specific binding
GO:0097161	0.000057	9.772439	5.975081	DH domain binding
GO:0097162	0.000057	9.772439	5.975081	MADS box domain binding
GO:1990175	0.000057	9.772439	5.975081	EH domain binding
GO:1990444	0.000057	9.772439	5.975081	F-box domain binding
GO:1990808	0.000057	9.772439	5.975081	F-bar domain binding
GO:0035804	0.000057	9.772439	6.067268	structural constituent of egg coat
GO:0008961	0.000057	9.772439	6.103677	phosphatidylglycerol-prolipoprotein diacylglyceryl transferase activity
GO:0034211	0.000057	9.772439	6.147399	GTP-dependent protein kinase activity
GO:0072518	0.000057	9.772439	6.147399	Rho-dependent protein serine/threonine kinase activity
GO:1901640	0.000057	9.772439	6.159095	XTP binding
GO:1901641	0.000057	9.772439	6.159095	ITP binding
GO:0016795	0.000057	9.772439	6.160152	phosphoric triester hydrolase activity
GO:0032546	0.000057	9.772439	6.223568	deoxyribonucleoside binding
GO:0003693	0.000057	9.772439	6.227524	P-element binding
GO:0071443	0.000057	9.772439	6.227524	tDNA binding
GO:0018835	0.000057	9.772439	6.270043	carbon phosphorus lyase activity
GO:1990147	0.000057	9.772439	6.307187	talin binding
GO:0070002	0.000057	9.772439	6.330612	glutamic-type peptidase activity
GO:0098633	0.000057	9.772439	6.441744	collagen fibril binding
GO:1904841	0.000057	9.772439	6.441744	TORC2 complex binding
GO:1904931	0.000057	9.772439	6.441744	MCM complex binding
GO:1990448	0.000057	9.772439	6.441744	exon-exon junction complex binding
GO:1990593	0.000057	9.772439	6.441744	nascent polypeptide-associated complex binding
GO:0070362	0.000057	9.772439	6.474662	mitochondrial heavy strand promoter anti-sense binding
GO:0070363	0.000057	9.772439	6.474662	mitochondrial light strand promoter sense binding
GO:0070594	0.000057	9.772439	6.474662	juvenile hormone response element binding
GO:0070644	0.000057	9.772439	6.474662	vitamin D response element binding
GO:0071820	0.000057	9.772439	6.474662	N-box binding
GO:0016524	0.000057	9.772439	6.485398	latrotoxin receptor activity
GO:0030379	0.000057	9.772439	6.485398	neurotensin receptor activity, non-G-protein coupled
GO:0032394	0.000057	9.772439	6.485398	MHC class Ib receptor activity
GO:0035034	0.000057	9.772439	6.549651	histone acetyltransferase regulator activity
GO:0048270	0.000057	9.772439	6.549651	methionine adenosyltransferase regulator activity
GO:0060308	0.000057	9.772439	6.549651	GTP cyclohydrolase I regulator activity
GO:0070917	0.000057	9.772439	6.549651	inositol phosphoceramide synthase regulator activity
GO:0000810	0.000057	9.772439	6.552508	diacylglycerol diphosphate phosphatase activity
GO:0008715	0.000057	9.772439	6.552508	CDP-diacylglycerol diphosphatase activity
GO:0008758	0.000057	9.772439	6.552508	UDP-2,3-diacylglucosamine hydrolase activity
GO:0043135	0.000057	9.772439	6.552508	5-phosphoribosyl 1-pyrophosphate pyrophosphatase activity
GO:0047734	0.000057	9.772439	6.552508	CDP-glycerol diphosphatase activity
GO:0052840	0.000057	9.772439	6.552508	inositol diphosphate tetrakisphosphate diphosphatase activity
GO:0097382	0.000057	9.772439	6.552508	deoxynucleoside-diphosphatase activity
GO:0044606	0.000057	9.772439	6.558907	phosphocholine hydrolase activity
GO:1903981	0.000057	9.772439	6.632002	enterobactin binding
GO:0008772	0.000057	9.772439	6.635290	[isocitrate dehydrogenase (NADP+)] kinase activity
GO:1901916	0.000057	9.772439	6.635290	protein kinase activity involved in regulation of protein localization to cell division site involved in cytokinesis
GO:0030377	0.000057	9.772439	6.637258	urokinase plasminogen activator receptor activity
GO:0038198	0.000057	9.772439	6.637258	auxin receptor activity
GO:0038199	0.000057	9.772439	6.637258	ethylene receptor activity
GO:1904067	0.000057	9.772439	6.682735	ascr#2 binding
GO:1904599	0.000057	9.772439	6.682735	advanced glycation end-product binding
GO:0001011	0.000057	9.772439	6.768493	transcription factor activity, sequence-specific DNA binding, RNA polymerase recruiting
GO:0008906	0.000057	9.772439	6.850656	inosine kinase activity
GO:0009024	0.000057	9.772439	6.850656	tagatose-6-phosphate kinase activity
GO:0019140	0.000057	9.772439	6.850656	inositol 3-kinase activity
GO:0019165	0.000057	9.772439	6.850656	thiamine kinase activity
GO:0043843	0.000057	9.772439	6.850656	ADP-specific glucokinase activity
GO:0047324	0.000057	9.772439	6.850656	phosphoenolpyruvate-glycerone phosphotransferase activity
GO:0047330	0.000057	9.772439	6.850656	polyphosphate-glucose phosphotransferase activity
GO:0047620	0.000057	9.772439	6.850656	acylglycerol kinase activity
GO:0047878	0.000057	9.772439	6.850656	erythritol kinase activity
GO:0047912	0.000057	9.772439	6.850656	galacturonokinase activity
GO:0047931	0.000057	9.772439	6.850656	glucosamine kinase activity
GO:0047933	0.000057	9.772439	6.850656	glucose-1,6-bisphosphate synthase activity
GO:0047940	0.000057	9.772439	6.850656	glucuronokinase activity
GO:0047992	0.000057	9.772439	6.850656	hydroxylysine kinase activity
GO:0050225	0.000057	9.772439	6.850656	pseudouridine kinase activity
GO:0050262	0.000057	9.772439	6.850656	ribosylnicotinamide kinase activity
GO:0050515	0.000057	9.772439	6.850656	4-(cytidine 5'-diphospho)-2-C-methyl-D-erythritol kinase activity
GO:0043743	0.000057	9.772439	6.877296	LPPG:FO 2-phospho-L-lactate transferase activity
GO:0043899	0.000057	9.772439	6.877296	phosphoserine:homoserine phosphotransferase activity
GO:0044605	0.000057	9.772439	6.877296	phosphocholine transferase activity
GO:0052673	0.000057	9.772439	6.877296	prenol kinase activity
GO:0061594	0.000057	9.772439	6.877296	6-deoxy-6-sulfofructose kinase activity
GO:0098617	0.000057	9.772439	6.877296	adenylylselenate kinase activity
GO:0098620	0.000057	9.772439	6.877296	seryl-selenocysteinyl-tRNA kinase activity
GO:0008849	0.000057	9.772439	6.881925	enterochelin esterase activity
GO:0005115	0.000057	9.772439	6.909753	receptor tyrosine kinase-like orphan receptor binding
GO:0039552	0.000057	9.772439	6.909753	RIG-I binding
GO:1990631	0.000057	9.772439	6.909753	ErbB-4 class receptor binding
GO:1901691	0.000057	9.772439	6.937314	proton binding
GO:0030387	0.000057	9.772439	6.971669	fructosamine-3-kinase activity
GO:0071518	0.000057	9.772439	6.971669	autoinducer-2 kinase activity
GO:0033204	0.000057	9.772439	7.012566	ribonuclease P RNA binding
GO:0042835	0.000057	9.772439	7.012566	BRE binding
GO:1990605	0.000057	9.772439	7.012566	GU repeat RNA binding
GO:0010290	0.000057	9.772439	7.027758	chlorophyll catabolite transmembrane transporter activity
GO:0030184	0.000057	9.772439	7.027758	nitric oxide transmembrane transporter activity
GO:0015604	0.000057	9.772439	7.098376	organic phosphonate transmembrane transporter activity
GO:0022865	0.000057	9.772439	7.098376	transmembrane electron transfer carrier
GO:0032145	0.000057	9.772439	7.104144	succinate-semialdehyde dehydrogenase binding
GO:0035226	0.000057	9.772439	7.104144	glutamate-cysteine ligase catalytic subunit binding
GO:0044388	0.000057	9.772439	7.104144	small protein activating enzyme binding
GO:0044549	0.000057	9.772439	7.104144	GTP cyclohydrolase binding
GO:1990827	0.000057	9.772439	7.104144	deaminase binding
GO:0090417	0.000057	9.772439	7.139264	N-methylnicotinate transporter activity
GO:0004836	0.000057	9.772439	7.247081	tyramine-beta hydroxylase activity
GO:0010242	0.000057	9.772439	7.247081	oxygen evolving activity
GO:0019168	0.000057	9.772439	7.247081	2-octaprenylphenol hydroxylase activity
GO:0033798	0.000057	9.772439	7.247081	thyroxine 5-deiodinase activity
GO:0042380	0.000057	9.772439	7.247081	hydroxymethylbutenyl pyrophosphate reductase activity
GO:0046422	0.000057	9.772439	7.247081	violaxanthin de-epoxidase activity
GO:0050781	0.000057	9.772439	7.247081	ortho-trichlorophenol reductive dehalogenase activity
GO:0051744	0.000057	9.772439	7.247081	3,8-divinyl protochlorophyllide a 8-vinyl reductase activity
GO:0052614	0.000057	9.772439	7.247081	uracil oxygenase activity
GO:0052693	0.000057	9.772439	7.247081	epoxyqueuosine reductase activity
GO:0016826	0.000057	9.772439	7.940584	hydrolase activity, acting on acid sulfur-nitrogen bonds
GO:0035274	0.000057	9.772439	8.185907	diphenyl phthalate binding
GO:0035275	0.000057	9.772439	8.185907	dibutyl phthalate binding
GO:0097160	0.000057	9.772439	8.185907	polychlorinated biphenyl binding
GO:0001918	0.000057	9.772439	8.589700	farnesylated protein binding
GO:0008267	0.000057	9.772439	8.589700	poly-glutamine tract binding
GO:0042988	0.000057	9.772439	8.589700	X11-like protein binding
GO:0043221	0.000057	9.772439	8.589700	SMC family protein binding
GO:0045152	0.000057	9.772439	8.589700	antisigma factor binding
GO:0045569	0.000057	9.772439	8.589700	TRAIL binding
GO:0097677	0.000057	9.772439	8.589700	STAT family protein binding
GO:1902496	0.000057	9.772439	8.589700	protein binding involved in negative regulation of telomere maintenance via telomerase
GO:1990763	0.000057	9.772439	8.589700	arrestin family protein binding
GO:0000384	0.000057	9.772439	9.005650	first spliceosomal transesterification activity
GO:0000386	0.000057	9.772439	9.005650	second spliceosomal transesterification activity
GO:1990055	0.000057	9.772439	9.005650	phenylacetaldehyde synthase activity
GO:0035731	0.000057	9.772439	9.140025	dinitrosyl-iron complex binding
GO:1904012	0.000057	9.772439	9.140025	platinum binding
GO:1904013	0.000057	9.772439	9.140025	xenon atom binding
GO:1904483	0.000057	9.772439	9.140025	synthetic cannabinoid binding
GO:1904493	0.000057	9.772439	9.140025	tetrahydrofolyl-poly(glutamate) polymer binding
