GO:0003674	1.000000	molecular_function
GO:0005488	0.531295	binding
GO:0003824	0.464487	catalytic activity
GO:0005515	0.306419	protein binding
GO:0097159	0.204612	organic cyclic compound binding
GO:1901363	0.201163	heterocyclic compound binding
GO:0016740	0.176053	transferase activity
GO:0016787	0.160092	hydrolase activity
GO:0003676	0.150060	nucleic acid binding
GO:0043167	0.114690	ion binding
GO:0003677	0.092345	DNA binding
GO:0005215	0.080858	transporter activity
GO:0016491	0.080003	oxidoreductase activity
GO:0016772	0.075700	transferase activity, transferring phosphorus-containing groups
GO:0022892	0.071824	substrate-specific transporter activity
GO:0042802	0.071054	identical protein binding
GO:0019899	0.069344	enzyme binding
GO:0022857	0.068945	transmembrane transporter activity
GO:0043168	0.067320	anion binding
GO:0022891	0.064242	substrate-specific transmembrane transporter activity
GO:0003723	0.063273	RNA binding
GO:0016301	0.060736	kinase activity
GO:0036094	0.060309	small molecule binding
GO:0044877	0.059254	macromolecular complex binding
GO:0043169	0.058684	cation binding
GO:0005102	0.057088	receptor binding
GO:0004871	0.056176	signal transducer activity
GO:0098772	0.056034	molecular function regulator
GO:0016788	0.055521	hydrolase activity, acting on ester bonds
GO:0016773	0.055264	phosphotransferase activity, alcohol group as acceptor
GO:0046872	0.054837	metal ion binding
GO:0060089	0.054552	molecular transducer activity
GO:0004872	0.054466	receptor activity
GO:0015075	0.053469	ion transmembrane transporter activity
GO:0001071	0.049763	nucleic acid binding transcription factor activity
GO:0003700	0.049564	transcription factor activity, sequence-specific DNA binding
GO:0046983	0.049222	protein dimerization activity
GO:0043565	0.047996	sequence-specific DNA binding
GO:0097367	0.045488	carbohydrate derivative binding
GO:1901265	0.044548	nucleoside phosphate binding
GO:0000166	0.044548	nucleotide binding
GO:0038023	0.043465	signaling receptor activity
GO:0004672	0.043379	protein kinase activity
GO:0099600	0.041755	transmembrane receptor activity
GO:0016817	0.040329	hydrolase activity, acting on acid anhydrides
GO:0016818	0.040187	hydrolase activity, acting on acid anhydrides, in phosphorus-containing anhydrides
GO:0016462	0.039930	pyrophosphatase activity
GO:0030234	0.039816	enzyme regulator activity
GO:0044822	0.039218	poly(A) RNA binding
GO:0008324	0.037593	cation transmembrane transporter activity
GO:0004888	0.037337	transmembrane signaling receptor activity
GO:0001067	0.037251	regulatory region nucleic acid binding
GO:0000975	0.037109	regulatory region DNA binding
GO:0044212	0.036938	transcription regulatory region DNA binding
GO:0032403	0.035741	protein complex binding
GO:0017111	0.035427	nucleoside-triphosphatase activity
GO:0042803	0.034914	protein homodimerization activity
GO:0003690	0.034829	double-stranded DNA binding
GO:0008233	0.034715	peptidase activity
GO:0032553	0.032007	ribonucleotide binding
GO:0070011	0.031979	peptidase activity, acting on L-amino acid peptides
GO:0008092	0.031238	cytoskeletal protein binding
GO:0017076	0.030981	purine nucleotide binding
GO:0032555	0.030183	purine ribonucleotide binding
GO:0046914	0.030126	transition metal ion binding
GO:0016829	0.030097	lyase activity
GO:0022890	0.029100	inorganic cation transmembrane transporter activity
GO:1990837	0.028843	sequence-specific double-stranded DNA binding
GO:0001882	0.028729	nucleoside binding
GO:0032549	0.028530	ribonucleoside binding
GO:0001883	0.028530	purine nucleoside binding
GO:0032550	0.028444	purine ribonucleoside binding
GO:0042578	0.026962	phosphoric ester hydrolase activity
GO:0035639	0.026934	purine ribonucleoside triphosphate binding
GO:0000981	0.026706	RNA polymerase II transcription factor activity, sequence-specific DNA binding
GO:0004674	0.026620	protein serine/threonine kinase activity
GO:0016757	0.025480	transferase activity, transferring glycosyl groups
GO:0019900	0.025452	kinase binding
GO:0008134	0.025366	transcription factor binding
GO:0000976	0.025167	transcription regulatory region sequence-specific DNA binding
GO:0005198	0.024568	structural molecule activity
GO:0000988	0.024511	transcription factor activity, protein binding
GO:0008289	0.024397	lipid binding
GO:0022803	0.023770	passive transmembrane transporter activity
GO:0015267	0.023742	channel activity
GO:0000989	0.023400	transcription factor activity, transcription factor binding
GO:0046873	0.023143	metal ion transmembrane transporter activity
GO:0019904	0.022402	protein domain specific binding
GO:0019901	0.022317	protein kinase binding
GO:0030554	0.021975	adenyl nucleotide binding
GO:0016746	0.021918	transferase activity, transferring acyl groups
GO:0022838	0.021804	substrate-specific channel activity
GO:0032559	0.021433	adenyl ribonucleotide binding
GO:0016887	0.021234	ATPase activity
GO:0005216	0.020550	ion channel activity
GO:0016791	0.020407	phosphatase activity
GO:0001012	0.020264	RNA polymerase II regulatory region DNA binding
GO:0003682	0.020036	chromatin binding
GO:0008509	0.019808	anion transmembrane transporter activity
GO:0000977	0.019808	RNA polymerase II regulatory region sequence-specific DNA binding
GO:0003712	0.019295	transcription cofactor activity
GO:0005524	0.019238	ATP binding
GO:0022804	0.019096	active transmembrane transporter activity
GO:0004930	0.018982	G-protein coupled receptor activity
GO:0046982	0.018953	protein heterodimerization activity
GO:0004175	0.018925	endopeptidase activity
GO:0016758	0.018554	transferase activity, transferring hexosyl groups
GO:0016747	0.018554	transferase activity, transferring acyl groups other than amino-acyl groups
GO:0015077	0.018383	monovalent inorganic cation transmembrane transporter activity
GO:0048037	0.018184	cofactor binding
GO:0016741	0.018070	transferase activity, transferring one-carbon groups
GO:0016853	0.017728	isomerase activity
GO:0008047	0.017614	enzyme activator activity
GO:0016614	0.017129	oxidoreductase activity, acting on CH-OH group of donors
GO:0016798	0.017072	hydrolase activity, acting on glycosyl bonds
GO:0019787	0.016930	ubiquitin-like protein transferase activity
GO:0008168	0.016502	methyltransferase activity
GO:0022836	0.015562	gated channel activity
GO:0004842	0.015391	ubiquitin-protein transferase activity
GO:0005261	0.015305	cation channel activity
GO:0004857	0.015248	enzyme inhibitor activity
GO:0000982	0.015248	transcription factor activity, RNA polymerase II core promoter proximal region sequence-specific binding
GO:0016616	0.015163	oxidoreductase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0016874	0.015020	ligase activity
GO:0042623	0.014878	ATPase activity, coupled
GO:0008270	0.014650	zinc ion binding
GO:0004518	0.014393	nuclease activity
GO:0016705	0.014365	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen
GO:0016835	0.014308	carbon-oxygen lyase activity
GO:0050839	0.014051	cell adhesion molecule binding
GO:0001228	0.013994	transcriptional activator activity, RNA polymerase II transcription regulatory region sequence-specific binding
GO:0005543	0.013937	phospholipid binding
GO:0004553	0.013937	hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0000287	0.013595	magnesium ion binding
GO:0016810	0.012997	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds
GO:0008514	0.012797	organic anion transmembrane transporter activity
GO:0050662	0.012712	coenzyme binding
GO:0001159	0.012683	core promoter proximal region DNA binding
GO:0000987	0.012541	core promoter proximal region sequence-specific DNA binding
GO:0005509	0.012512	calcium ion binding
GO:0008757	0.012427	S-adenosylmethionine-dependent methyltransferase activity
GO:0003779	0.011999	actin binding
GO:0017171	0.011543	serine hydrolase activity
GO:0060589	0.011486	nucleoside-triphosphatase regulator activity
GO:0008236	0.011401	serine-type peptidase activity
GO:0015291	0.011230	secondary active transmembrane transporter activity
GO:0008194	0.011173	UDP-glycosyltransferase activity
GO:0033218	0.011144	amide binding
GO:0000978	0.011116	RNA polymerase II core promoter proximal region sequence-specific DNA binding
GO:0004497	0.010916	monooxygenase activity
GO:0001077	0.010717	transcriptional activator activity, RNA polymerase II core promoter proximal region sequence-specific binding
GO:0005342	0.010603	organic acid transmembrane transporter activity
GO:0016779	0.010517	nucleotidyltransferase activity
GO:0046943	0.010318	carboxylic acid transmembrane transporter activity
GO:0052689	0.010289	carboxylic ester hydrolase activity
GO:0015631	0.010289	tubulin binding
GO:0003713	0.010118	transcription coactivator activity
GO:0005085	0.009975	guanyl-nucleotide exchange factor activity
GO:0019001	0.009947	guanyl nucleotide binding
GO:0004721	0.009861	phosphoprotein phosphatase activity
GO:0003924	0.009861	GTPase activity
GO:0001664	0.009833	G-protein coupled receptor binding
GO:0032561	0.009747	guanyl ribonucleotide binding
GO:0043177	0.009690	organic acid binding
GO:0003729	0.009690	mRNA binding
GO:0031406	0.009605	carboxylic acid binding
GO:0072509	0.009548	divalent inorganic cation transmembrane transporter activity
GO:0051020	0.009491	GTPase binding
GO:0042277	0.009462	peptide binding
GO:0030695	0.009462	GTPase regulator activity
GO:0016836	0.009291	hydro-lyase activity
GO:0016830	0.009120	carbon-carbon lyase activity
GO:0022853	0.009006	active ion transmembrane transporter activity
GO:0044389	0.008949	ubiquitin-like protein ligase binding
GO:0045296	0.008864	cadherin binding
GO:0016298	0.008864	lipase activity
GO:0005126	0.008835	cytokine receptor binding
GO:0004519	0.008835	endonuclease activity
GO:0031625	0.008721	ubiquitin protein ligase binding
GO:0004252	0.008721	serine-type endopeptidase activity
GO:0003735	0.008664	structural constituent of ribosome
GO:0098631	0.008379	protein binding involved in cell adhesion
GO:0035091	0.008379	phosphatidylinositol binding
GO:0031267	0.008379	small GTPase binding
GO:0005525	0.008265	GTP binding
GO:0098632	0.008237	protein binding involved in cell-cell adhesion
GO:0016765	0.008208	transferase activity, transferring alkyl or aryl (other than methyl) groups
GO:0005057	0.008180	receptor signaling protein activity
GO:0003714	0.008151	transcription corepressor activity
GO:0019207	0.008066	kinase regulator activity
GO:0008234	0.007952	cysteine-type peptidase activity
GO:0017016	0.007923	Ras GTPase binding
GO:1901681	0.007895	sulfur compound binding
GO:0098641	0.007895	cadherin binding involved in cell-cell adhesion
GO:0061134	0.007838	peptidase regulator activity
GO:0005096	0.007809	GTPase activator activity
GO:0004713	0.007809	protein tyrosine kinase activity
GO:0030246	0.007724	carbohydrate binding
GO:0022832	0.007638	voltage-gated channel activity
GO:0005244	0.007581	voltage-gated ion channel activity
GO:0022834	0.007496	ligand-gated channel activity
GO:0015276	0.007439	ligand-gated ion channel activity
GO:0019887	0.007410	protein kinase regulator activity
GO:0005088	0.007353	Ras guanyl-nucleotide exchange factor activity
GO:0008017	0.007325	microtubule binding
GO:0060090	0.007154	binding, bridging
GO:0016811	0.007125	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amides
GO:0015079	0.007097	potassium ion transmembrane transporter activity
GO:0042393	0.007068	histone binding
GO:0015399	0.007068	primary active transmembrane transporter activity
GO:0016209	0.007040	antioxidant activity
GO:0008237	0.007011	metallopeptidase activity
GO:0015405	0.006926	P-P-bond-hydrolysis-driven transmembrane transporter activity
GO:0004540	0.006897	ribonuclease activity
GO:0001653	0.006897	peptide receptor activity
GO:0015085	0.006869	calcium ion transmembrane transporter activity
GO:0051213	0.006840	dioxygenase activity
GO:0008022	0.006840	protein C-terminus binding
GO:0016407	0.006783	acetyltransferase activity
GO:0004620	0.006698	phospholipase activity
GO:0030414	0.006612	peptidase inhibitor activity
GO:0016627	0.006612	oxidoreductase activity, acting on the CH-CH group of donors
GO:0043492	0.006584	ATPase activity, coupled to movement of substances
GO:0016667	0.006555	oxidoreductase activity, acting on a sulfur group of donors
GO:0015103	0.006527	inorganic anion transmembrane transporter activity
GO:0015081	0.006527	sodium ion transmembrane transporter activity
GO:0061135	0.006470	endopeptidase regulator activity
GO:0008528	0.006470	G-protein coupled peptide receptor activity
GO:0001047	0.006470	core promoter binding
GO:0016903	0.006441	oxidoreductase activity, acting on the aldehyde or oxo group of donors
GO:0015171	0.006384	amino acid transmembrane transporter activity
GO:0030674	0.006356	protein binding, bridging
GO:1901981	0.006327	phosphatidylinositol phosphate binding
GO:0016879	0.006327	ligase activity, forming carbon-nitrogen bonds
GO:0001227	0.006270	transcriptional repressor activity, RNA polymerase II transcription regulatory region sequence-specific binding
GO:0008081	0.006242	phosphoric diester hydrolase activity
GO:0008170	0.006213	N-methyltransferase activity
GO:0004866	0.006213	endopeptidase inhibitor activity
GO:0042626	0.006185	ATPase activity, coupled to transmembrane movement of substances
GO:0016820	0.006185	hydrolase activity, acting on acid anhydrides, catalyzing transmembrane movement of substances
GO:0019902	0.006071	phosphatase binding
GO:0008238	0.005985	exopeptidase activity
GO:0005507	0.005985	copper ion binding
GO:0016651	0.005900	oxidoreductase activity, acting on NAD(P)H
GO:0051015	0.005843	actin filament binding
GO:0001076	0.005814	transcription factor activity, RNA polymerase II transcription factor binding
GO:0016247	0.005786	channel regulator activity
GO:0004386	0.005786	helicase activity
GO:0016410	0.005700	N-acyltransferase activity
GO:0005539	0.005700	glycosaminoglycan binding
GO:0022843	0.005643	voltage-gated cation channel activity
GO:0046906	0.005586	tetrapyrrole binding
GO:0008276	0.005501	protein methyltransferase activity
GO:0003697	0.005501	single-stranded DNA binding
GO:0051427	0.005444	hormone receptor binding
GO:0001085	0.005444	RNA polymerase II transcription factor binding
GO:0032182	0.005415	ubiquitin-like protein binding
GO:0061659	0.005387	ubiquitin-like protein ligase activity
GO:0005506	0.005387	iron ion binding
GO:0004536	0.005358	deoxyribonuclease activity
GO:0016866	0.005216	intramolecular transferase activity
GO:0005267	0.005187	potassium channel activity
GO:0005262	0.005187	calcium channel activity
GO:0016782	0.005159	transferase activity, transferring sulfur-containing groups
GO:0015293	0.005159	symporter activity
GO:0016831	0.005130	carboxy-lyase activity
GO:0009055	0.005130	electron carrier activity
GO:0008374	0.005130	O-acyltransferase activity
GO:0008144	0.005102	drug binding
GO:0061630	0.005045	ubiquitin protein ligase activity
GO:0005516	0.005045	calmodulin binding
GO:1901476	0.004959	carbohydrate transporter activity
GO:0016860	0.004959	intramolecular oxidoreductase activity
GO:0005125	0.004959	cytokine activity
GO:0004527	0.004931	exonuclease activity
GO:0043566	0.004902	structure-specific DNA binding
GO:0015144	0.004902	carbohydrate transmembrane transporter activity
GO:0015294	0.004874	solute:cation symporter activity
GO:0016597	0.004817	amino acid binding
GO:0020037	0.004788	heme binding
GO:0043130	0.004760	ubiquitin binding
GO:0043021	0.004760	ribonucleoprotein complex binding
GO:0005319	0.004731	lipid transporter activity
GO:0050660	0.004703	flavin adenine dinucleotide binding
GO:0046527	0.004703	glucosyltransferase activity
GO:0019903	0.004703	protein phosphatase binding
GO:0016763	0.004674	transferase activity, transferring pentosyl groups
GO:0015078	0.004646	hydrogen ion transmembrane transporter activity
GO:0030145	0.004617	manganese ion binding
GO:0019838	0.004617	growth factor binding
GO:0016620	0.004617	oxidoreductase activity, acting on the aldehyde or oxo group of donors, NAD or NADP as acceptor
GO:0016709	0.004532	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of one atom of oxygen
GO:0051540	0.004503	metal cluster binding
GO:0051536	0.004503	iron-sulfur cluster binding
GO:0035257	0.004475	nuclear hormone receptor binding
GO:0016684	0.004475	oxidoreductase activity, acting on peroxide as acceptor
GO:0003727	0.004475	single-stranded RNA binding
GO:0005179	0.004446	hormone activity
GO:0051082	0.004418	unfolded protein binding
GO:0008080	0.004418	N-acetyltransferase activity
GO:0003774	0.004418	motor activity
GO:0001078	0.004418	transcriptional repressor activity, RNA polymerase II core promoter proximal region sequence-specific binding
GO:0070851	0.004389	growth factor receptor binding
GO:0016877	0.004389	ligase activity, forming carbon-sulfur bonds
GO:0019783	0.004361	ubiquitin-like protein-specific protease activity
GO:0003705	0.004361	transcription factor activity, RNA polymerase II distal enhancer sequence-specific binding
GO:0008094	0.004304	DNA-dependent ATPase activity
GO:0042625	0.004247	ATPase coupled ion transmembrane transporter activity
GO:0001046	0.004247	core promoter sequence-specific DNA binding
GO:0046915	0.004218	transition metal ion transmembrane transporter activity
GO:1901505	0.004190	carbohydrate derivative transporter activity
GO:0004601	0.004161	peroxidase activity
GO:0044325	0.004104	ion channel binding
GO:0051287	0.004047	NAD binding
GO:0042562	0.004047	hormone binding
GO:0008565	0.004047	protein transporter activity
GO:0002020	0.004047	protease binding
GO:0004520	0.004019	endodeoxyribonuclease activity
GO:0043178	0.003962	alcohol binding
GO:0008201	0.003962	heparin binding
GO:0043621	0.003933	protein self-association
GO:0015179	0.003933	L-amino acid transmembrane transporter activity
GO:0004521	0.003933	endoribonuclease activity
GO:0019199	0.003905	transmembrane receptor protein kinase activity
GO:0033293	0.003848	monocarboxylic acid binding
GO:0004722	0.003819	protein serine/threonine phosphatase activity
GO:0101005	0.003791	ubiquitinyl hydrolase activity
GO:0004725	0.003791	protein tyrosine phosphatase activity
GO:0035251	0.003762	UDP-glucosyltransferase activity
GO:0015297	0.003762	antiporter activity
GO:0050661	0.003734	NADP binding
GO:0016769	0.003734	transferase activity, transferring nitrogenous groups
GO:0070035	0.003705	purine NTP-dependent helicase activity
GO:0051119	0.003705	sugar transmembrane transporter activity
GO:0030165	0.003705	PDZ domain binding
GO:0008173	0.003705	RNA methyltransferase activity
GO:0008026	0.003705	ATP-dependent helicase activity
GO:0005230	0.003677	extracellular ligand-gated ion channel activity
GO:0005200	0.003677	structural constituent of cytoskeleton
GO:0004222	0.003677	metalloendopeptidase activity
GO:0036459	0.003648	thiol-dependent ubiquitinyl hydrolase activity
GO:0019213	0.003648	deacetylase activity
GO:0008135	0.003648	translation factor activity, RNA binding
GO:0072341	0.003620	modified amino acid binding
GO:0019829	0.003620	cation-transporting ATPase activity
GO:0008483	0.003620	transaminase activity
GO:0001948	0.003620	glycoprotein binding
GO:0035326	0.003591	enhancer binding
GO:0004843	0.003591	thiol-dependent ubiquitin-specific protease activity
GO:1902936	0.003563	phosphatidylinositol bisphosphate binding
GO:0008083	0.003506	growth factor activity
GO:0005496	0.003506	steroid binding
GO:0047485	0.003477	protein N-terminus binding
GO:0005178	0.003477	integrin binding
GO:0000149	0.003477	SNARE binding
GO:0031072	0.003449	heat shock protein binding
GO:0019208	0.003449	phosphatase regulator activity
GO:0017137	0.003449	Rab GTPase binding
GO:0016701	0.003449	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen
GO:0016854	0.003420	racemase and epimerase activity
GO:0016645	0.003420	oxidoreductase activity, acting on the CH-NH group of donors
GO:0005249	0.003392	voltage-gated potassium channel activity
GO:0016278	0.003363	lysine N-methyltransferase activity
GO:0015108	0.003363	chloride transmembrane transporter activity
GO:0019205	0.003335	nucleobase-containing compound kinase activity
GO:0019955	0.003306	cytokine binding
GO:0016279	0.003306	protein-lysine N-methyltransferase activity
GO:0005253	0.003306	anion channel activity
GO:0042826	0.003278	histone deacetylase binding
GO:0042054	0.003278	histone methyltransferase activity
GO:0017022	0.003278	myosin binding
GO:0004197	0.003278	cysteine-type endopeptidase activity
GO:0048029	0.003164	monosaccharide binding
GO:0016706	0.003164	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, 2-oxoglutarate as one donor, and incorporation of one atom each of oxygen into both donors
GO:0003678	0.003164	DNA helicase activity
GO:0001191	0.003164	transcriptional repressor activity, RNA polymerase II transcription factor binding
GO:0008013	0.003135	beta-catenin binding
GO:0003730	0.003135	mRNA 3'-UTR binding
GO:0030594	0.003107	neurotransmitter receptor activity
GO:0016702	0.003107	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of two atoms of oxygen
GO:0015926	0.003107	glucosidase activity
GO:0004896	0.003107	cytokine receptor activity
GO:0001158	0.003107	enhancer sequence-specific DNA binding
GO:0016796	0.003078	exonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0016628	0.003078	oxidoreductase activity, acting on the CH-CH group of donors, NAD or NADP as acceptor
GO:0019209	0.003050	kinase activator activity
GO:0015932	0.003050	nucleobase-containing compound transmembrane transporter activity
GO:0008146	0.003050	sulfotransferase activity
GO:0001104	0.003050	RNA polymerase II transcription cofactor activity
GO:0019888	0.003021	protein phosphatase regulator activity
GO:0004867	0.003021	serine-type endopeptidase inhibitor activity
GO:0004702	0.003021	receptor signaling protein serine/threonine kinase activity
GO:1901677	0.002993	phosphate transmembrane transporter activity
GO:0070491	0.002964	repressing transcription factor binding
GO:0033613	0.002964	activating transcription factor binding
GO:0051087	0.002936	chaperone binding
GO:0019843	0.002936	rRNA binding
GO:0051117	0.002907	ATPase binding
GO:0016881	0.002907	acid-amino acid ligase activity
GO:0016776	0.002907	phosphotransferase activity, phosphate group as acceptor
GO:0009975	0.002907	cyclase activity
GO:0008408	0.002907	3'-5' exonuclease activity
GO:0051539	0.002879	4 iron, 4 sulfur cluster binding
GO:0030295	0.002879	protein kinase activator activity
GO:0019200	0.002879	carbohydrate kinase activity
GO:0016799	0.002879	hydrolase activity, hydrolyzing N-glycosyl compounds
GO:0019842	0.002850	vitamin binding
GO:0016814	0.002850	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amidines
GO:0004714	0.002822	transmembrane receptor protein tyrosine kinase activity
GO:0032947	0.002793	protein complex scaffold
GO:0031490	0.002793	chromatin DNA binding
GO:0016638	0.002793	oxidoreductase activity, acting on the CH-NH2 group of donors
GO:0008227	0.002793	G-protein coupled amine receptor activity
GO:0030170	0.002765	pyridoxal phosphate binding
GO:0019210	0.002765	kinase inhibitor activity
GO:0016893	0.002765	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0003725	0.002765	double-stranded RNA binding
GO:1901618	0.002736	organic hydroxy compound transmembrane transporter activity
GO:0099516	0.002736	ion antiporter activity
GO:0070566	0.002736	adenylyltransferase activity
GO:0008519	0.002736	ammonium transmembrane transporter activity
GO:0003823	0.002708	antigen binding
GO:0033558	0.002679	protein deacetylase activity
GO:0035591	0.002651	signaling adaptor activity
GO:0015036	0.002651	disulfide oxidoreductase activity
GO:0005546	0.002651	phosphatidylinositol-4,5-bisphosphate binding
GO:0017048	0.002622	Rho GTPase binding
GO:0016790	0.002622	thiolester hydrolase activity
GO:0016248	0.002622	channel inhibitor activity
GO:0008028	0.002622	monocarboxylic acid transmembrane transporter activity
GO:0004860	0.002622	protein kinase inhibitor activity
GO:0034061	0.002594	DNA polymerase activity
GO:0004659	0.002594	prenyltransferase activity
GO:0046332	0.002565	SMAD binding
GO:0016780	0.002565	phosphotransferase activity, for other substituted phosphate groups
GO:0008200	0.002565	ion channel inhibitor activity
GO:0005254	0.002565	chloride channel activity
GO:0090484	0.002508	drug transporter activity
GO:0015662	0.002508	ATPase activity, coupled to transmembrane movement of ions, phosphorylative mechanism
GO:0000030	0.002508	mannosyltransferase activity
GO:0051219	0.002480	phosphoprotein binding
GO:0016849	0.002480	phosphorus-oxygen lyase activity
GO:0016838	0.002480	carbon-oxygen lyase activity, acting on phosphates
GO:0015605	0.002480	organophosphate ester transmembrane transporter activity
GO:0035064	0.002451	methylated histone binding
GO:0004177	0.002451	aminopeptidase activity
GO:0042379	0.002423	chemokine receptor binding
GO:0032451	0.002423	demethylase activity
GO:0018024	0.002423	histone-lysine N-methyltransferase activity
GO:0017124	0.002423	SH3 domain binding
GO:0015459	0.002423	potassium channel regulator activity
GO:0015175	0.002423	neutral amino acid transmembrane transporter activity
GO:0015145	0.002423	monosaccharide transmembrane transporter activity
GO:0016875	0.002394	ligase activity, forming carbon-oxygen bonds
GO:0098531	0.002366	transcription factor activity, direct ligand regulated sequence-specific DNA binding
GO:0043022	0.002366	ribosome binding
GO:0042162	0.002366	telomeric DNA binding
GO:0035004	0.002366	phosphatidylinositol 3-kinase activity
GO:0016876	0.002366	ligase activity, forming aminoacyl-tRNA and related compounds
GO:0004812	0.002366	aminoacyl-tRNA ligase activity
GO:0004407	0.002366	histone deacetylase activity
GO:0035258	0.002337	steroid hormone receptor binding
GO:0008378	0.002309	galactosyltransferase activity
GO:0005231	0.002309	excitatory extracellular ligand-gated ion channel activity
GO:0005089	0.002309	Rho guanyl-nucleotide exchange factor activity
GO:0048306	0.002280	calcium-dependent protein binding
GO:0015298	0.002280	solute:cation antiporter activity
GO:0008171	0.002280	O-methyltransferase activity
GO:0004879	0.002280	RNA polymerase II transcription factor activity, ligand-activated sequence-specific DNA binding
GO:0004180	0.002280	carboxypeptidase activity
GO:0034212	0.002252	peptide N-acetyltransferase activity
GO:0004364	0.002252	glutathione transferase activity
GO:0003777	0.002252	microtubule motor activity
GO:1990782	0.002223	protein tyrosine kinase binding
GO:0070405	0.002223	ammonium ion binding
GO:0042887	0.002223	amide transmembrane transporter activity
GO:0019905	0.002223	syntaxin binding
GO:0019003	0.002223	GDP binding
GO:0005504	0.002223	fatty acid binding
GO:0004623	0.002195	phospholipase A2 activity
GO:0004112	0.002195	cyclic-nucleotide phosphodiesterase activity
GO:0003724	0.002195	RNA helicase activity
GO:0019239	0.002166	deaminase activity
GO:0000979	0.002166	RNA polymerase II core promoter sequence-specific DNA binding
GO:1901682	0.002109	sulfur compound transmembrane transporter activity
GO:0008375	0.002109	acetylglucosaminyltransferase activity
GO:0005310	0.002081	dicarboxylic acid transmembrane transporter activity
GO:0003684	0.002081	damaged DNA binding
GO:0000980	0.002081	RNA polymerase II distal enhancer sequence-specific DNA binding
GO:0052866	0.002052	phosphatidylinositol phosphate phosphatase activity
GO:0045182	0.002052	translation regulator activity
GO:0003887	0.002052	DNA-directed DNA polymerase activity
GO:0060590	0.002024	ATPase regulator activity
GO:0016891	0.002024	endoribonuclease activity, producing 5'-phosphomonoesters
GO:0015296	0.002024	anion:cation symporter activity
GO:0015149	0.002024	hexose transmembrane transporter activity
GO:0003743	0.002024	translation initiation factor activity
GO:0000049	0.002024	tRNA binding
GO:0016859	0.001995	cis-trans isomerase activity
GO:0016646	0.001995	oxidoreductase activity, acting on the CH-NH group of donors, NAD or NADP as acceptor
GO:0015238	0.001995	drug transmembrane transporter activity
GO:0008188	0.001995	neuropeptide receptor activity
GO:0052742	0.001967	phosphatidylinositol kinase activity
GO:0050897	0.001967	cobalt ion binding
GO:0016538	0.001967	cyclin-dependent protein serine/threonine kinase regulator activity
GO:0015491	0.001967	cation:cation antiporter activity
GO:0005245	0.001967	voltage-gated calcium channel activity
GO:0004003	0.001967	ATP-dependent DNA helicase activity
GO:0061733	0.001938	peptide-lysine-N-acetyltransferase activity
GO:0051018	0.001938	protein kinase A binding
GO:0030971	0.001938	receptor tyrosine kinase binding
GO:0030545	0.001938	receptor regulator activity
GO:0015215	0.001938	nucleotide transmembrane transporter activity
GO:0005518	0.001938	collagen binding
GO:0005272	0.001938	sodium channel activity
GO:0005080	0.001938	protein kinase C binding
GO:0002039	0.001938	p53 binding
GO:0098811	0.001910	transcriptional repressor activity, RNA polymerase II activating transcription factor binding
GO:0019203	0.001910	carbohydrate phosphatase activity
GO:0016840	0.001910	carbon-nitrogen lyase activity
GO:0008186	0.001910	RNA-dependent ATPase activity
GO:0001190	0.001910	transcriptional activator activity, RNA polymerase II transcription factor binding
GO:0050840	0.001881	extracellular matrix binding
GO:0016878	0.001881	acid-thiol ligase activity
GO:0015370	0.001881	solute:sodium symporter activity
GO:0008066	0.001881	glutamate receptor activity
GO:0004869	0.001881	cysteine-type endopeptidase inhibitor activity
GO:0004532	0.001881	exoribonuclease activity
GO:0001102	0.001881	RNA polymerase II activating transcription factor binding
GO:0031593	0.001853	polyubiquitin binding
GO:0016846	0.001853	carbon-sulfur lyase activity
GO:0008009	0.001853	chemokine activity
GO:0071949	0.001824	FAD binding
GO:0030551	0.001824	cyclic nucleotide binding
GO:0016861	0.001824	intramolecular oxidoreductase activity, interconverting aldoses and ketoses
GO:0015295	0.001824	solute:proton symporter activity
GO:0004033	0.001824	aldo-keto reductase (NADP) activity
GO:0097110	0.001796	scaffold protein binding
GO:0051183	0.001796	vitamin transporter activity
GO:0016833	0.001796	oxo-acid-lyase activity
GO:0016775	0.001796	phosphotransferase activity, nitrogenous group as acceptor
GO:0004712	0.001796	protein serine/threonine/tyrosine kinase activity
GO:0052813	0.001767	phosphatidylinositol bisphosphate kinase activity
GO:0019825	0.001767	oxygen binding
GO:0016671	0.001767	oxidoreductase activity, acting on a sulfur group of donors, disulfide as acceptor
GO:0016655	0.001767	oxidoreductase activity, acting on NAD(P)H, quinone or similar compound as acceptor
GO:0010181	0.001767	FMN binding
GO:0071855	0.001739	neuropeptide receptor binding
GO:0034062	0.001739	RNA polymerase activity
GO:0032452	0.001739	histone demethylase activity
GO:0017046	0.001739	peptide hormone binding
GO:0016896	0.001739	exoribonuclease activity, producing 5'-phosphomonoesters
GO:0016832	0.001739	aldehyde-lyase activity
GO:0008198	0.001739	ferrous iron binding
GO:0008175	0.001739	tRNA methyltransferase activity
GO:0005548	0.001739	phospholipid transporter activity
GO:0005337	0.001739	nucleoside transmembrane transporter activity
GO:0005201	0.001739	extracellular matrix structural constituent
GO:0004402	0.001739	histone acetyltransferase activity
GO:0004312	0.001739	fatty acid synthase activity
GO:0004114	0.001739	3',5'-cyclic-nucleotide phosphodiesterase activity
GO:0032266	0.001710	phosphatidylinositol-3-phosphate binding
GO:0031369	0.001710	translation initiation factor binding
GO:0019840	0.001710	isoprenoid binding
GO:0016857	0.001710	racemase and epimerase activity, acting on carbohydrates and derivatives
GO:0016289	0.001710	CoA hydrolase activity
GO:0015197	0.001710	peptide transporter activity
GO:0046934	0.001682	phosphatidylinositol-4,5-bisphosphate 3-kinase activity
GO:0015020	0.001682	glucuronosyltransferase activity
GO:0010333	0.001682	terpene synthase activity
GO:0004004	0.001682	ATP-dependent RNA helicase activity
GO:0070063	0.001653	RNA polymerase binding
GO:0022839	0.001653	ion gated channel activity
GO:0019104	0.001653	DNA N-glycosylase activity
GO:0016409	0.001653	palmitoyltransferase activity
GO:0016229	0.001653	steroid dehydrogenase activity
GO:0008422	0.001653	beta-glucosidase activity
GO:0005070	0.001653	SH3/SH2 adaptor activity
GO:0003755	0.001653	peptidyl-prolyl cis-trans isomerase activity
GO:0022884	0.001625	macromolecule transmembrane transporter activity
GO:0019201	0.001625	nucleotide kinase activity
GO:0015645	0.001625	fatty acid ligase activity
GO:0015101	0.001625	organic cation transmembrane transporter activity
GO:0005048	0.001625	signal sequence binding
GO:0004629	0.001625	phospholipase C activity
GO:0001098	0.001625	basal transcription machinery binding
GO:0032934	0.001596	sterol binding
GO:0030247	0.001596	polysaccharide binding
GO:0016755	0.001596	transferase activity, transferring amino-acyl groups
GO:0016641	0.001596	oxidoreductase activity, acting on the CH-NH2 group of donors, oxygen as acceptor
GO:0015299	0.001596	solute:proton antiporter activity
GO:0008395	0.001596	steroid hydroxylase activity
GO:0005355	0.001596	glucose transmembrane transporter activity
GO:0001871	0.001596	pattern binding
GO:0030291	0.001568	protein serine/threonine kinase inhibitor activity
GO:0008187	0.001568	poly-pyrimidine tract binding
GO:0005217	0.001568	intracellular ligand-gated ion channel activity
GO:0043531	0.001539	ADP binding
GO:0030276	0.001539	clathrin binding
GO:0015923	0.001539	mannosidase activity
GO:0008235	0.001539	metalloexopeptidase activity
GO:0004707	0.001539	MAP kinase activity
GO:0001786	0.001539	phosphatidylserine binding
GO:0019212	0.001511	phosphatase inhibitor activity
GO:0016868	0.001511	intramolecular transferase activity, phosphotransferases
GO:0016411	0.001511	acylglycerol O-acyltransferase activity
GO:0004529	0.001511	exodeoxyribonuclease activity
GO:0003899	0.001511	DNA-directed RNA polymerase activity
GO:0003688	0.001511	DNA replication origin binding
GO:0072349	0.001482	modified amino acid transmembrane transporter activity
GO:0035250	0.001482	UDP-galactosyltransferase activity
GO:0022829	0.001482	wide pore channel activity
GO:0017147	0.001482	Wnt-protein binding
GO:0017080	0.001482	sodium channel regulator activity
GO:0016668	0.001482	oxidoreductase activity, acting on a sulfur group of donors, NAD(P) as acceptor
GO:0016303	0.001482	1-phosphatidylinositol-3-kinase activity
GO:0008527	0.001482	taste receptor activity
GO:0008376	0.001482	acetylgalactosaminyltransferase activity
GO:0001099	0.001482	basal RNA polymerase II transcription machinery binding
GO:0046912	0.001454	transferase activity, transferring acyl groups, acyl groups converted into alkyl on transfer
GO:0034593	0.001454	phosphatidylinositol bisphosphate phosphatase activity
GO:0022835	0.001454	transmitter-gated channel activity
GO:0022824	0.001454	transmitter-gated ion channel activity
GO:0019894	0.001454	kinesin binding
GO:0016895	0.001454	exodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0005484	0.001454	SNAP receptor activity
GO:0005184	0.001454	neuropeptide hormone activity
GO:0004806	0.001454	triglyceride lipase activity
GO:0016717	0.001425	oxidoreductase activity, acting on paired donors, with oxidation of a pair of donors resulting in the reduction of molecular oxygen to two molecules of water
GO:0008409	0.001425	5'-3' exonuclease activity
GO:0008301	0.001425	DNA binding, bending
GO:0005547	0.001425	phosphatidylinositol-3,4,5-trisphosphate binding
GO:0052745	0.001397	inositol phosphate phosphatase activity
GO:0050308	0.001397	sugar-phosphatase activity
GO:0038024	0.001397	cargo receptor activity
GO:0030374	0.001397	ligand-dependent nuclear receptor transcription coactivator activity
GO:0015205	0.001397	nucleobase transmembrane transporter activity
GO:0008320	0.001397	protein transmembrane transporter activity
GO:0004683	0.001397	calmodulin-dependent protein kinase activity
GO:0004467	0.001397	long-chain fatty acid-CoA ligase activity
GO:0004016	0.001397	adenylate cyclase activity
GO:0000146	0.001397	microfilament motor activity
GO:0070888	0.001368	E-box binding
GO:0051879	0.001368	Hsp90 protein binding
GO:0051537	0.001368	2 iron, 2 sulfur cluster binding
GO:0032813	0.001368	tumor necrosis factor receptor superfamily binding
GO:0016413	0.001368	O-acetyltransferase activity
GO:0008266	0.001368	poly(U) RNA binding
GO:0005501	0.001368	retinoid binding
GO:0005381	0.001368	iron ion transmembrane transporter activity
GO:0005246	0.001368	calcium channel regulator activity
GO:0001103	0.001368	RNA polymerase II repressing transcription factor binding
GO:0061650	0.001340	ubiquitin-like protein conjugating enzyme activity
GO:0045502	0.001340	dynein binding
GO:0035254	0.001340	glutamate receptor binding
GO:0033612	0.001340	receptor serine/threonine kinase binding
GO:0016722	0.001340	oxidoreductase activity, oxidizing metal ions
GO:0015665	0.001340	alcohol transmembrane transporter activity
GO:0000175	0.001340	3'-5'-exoribonuclease activity
GO:0097472	0.001311	cyclin-dependent protein kinase activity
GO:0030331	0.001311	estrogen receptor binding
GO:0016661	0.001311	oxidoreductase activity, acting on other nitrogenous compounds as donors
GO:0008106	0.001311	alcohol dehydrogenase (NADP+) activity
GO:0004864	0.001311	protein phosphatase inhibitor activity
GO:0004673	0.001311	protein histidine kinase activity
GO:0003707	0.001311	steroid hormone receptor activity
GO:0036442	0.001283	hydrogen-exporting ATPase activity
GO:0016813	0.001283	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amidines
GO:0008649	0.001283	rRNA methyltransferase activity
GO:0008307	0.001283	structural constituent of muscle
GO:0005372	0.001283	water transmembrane transporter activity
GO:0004029	0.001283	aldehyde dehydrogenase (NAD) activity
GO:0070717	0.001254	poly-purine tract binding
GO:0070001	0.001254	aspartic-type peptidase activity
GO:0061631	0.001254	ubiquitin conjugating enzyme activity
GO:0048487	0.001254	beta-tubulin binding
GO:0048365	0.001254	Rac GTPase binding
GO:0047617	0.001254	acyl-CoA hydrolase activity
GO:0043425	0.001254	bHLH transcription factor binding
GO:0016863	0.001254	intramolecular oxidoreductase activity, transposing C=C bonds
GO:0016783	0.001254	sulfurtransferase activity
GO:0005385	0.001254	zinc ion transmembrane transporter activity
GO:0004693	0.001254	cyclin-dependent protein serine/threonine kinase activity
GO:0003916	0.001254	DNA topoisomerase activity
GO:0000990	0.001254	transcription factor activity, core RNA polymerase binding
GO:0051184	0.001226	cofactor transporter activity
GO:0042805	0.001226	actinin binding
GO:0030544	0.001226	Hsp70 protein binding
GO:0016504	0.001226	peptidase activator activity
GO:0015250	0.001226	water channel activity
GO:0015174	0.001226	basic amino acid transmembrane transporter activity
GO:0003906	0.001226	DNA-(apurinic or apyrimidinic site) lyase activity
GO:1904680	0.001197	peptide transmembrane transporter activity
GO:0070402	0.001197	NADPH binding
GO:0070273	0.001197	phosphatidylinositol-4-phosphate binding
GO:0050997	0.001197	quaternary ammonium group binding
GO:0046875	0.001197	ephrin receptor binding
GO:0043028	0.001197	cysteine-type endopeptidase regulator activity involved in apoptotic process
GO:0042605	0.001197	peptide antigen binding
GO:0033764	0.001197	steroid dehydrogenase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0031491	0.001197	nucleosome binding
GO:0016408	0.001197	C-acyltransferase activity
GO:0005227	0.001197	calcium activated cation channel activity
GO:0004190	0.001197	aspartic-type endopeptidase activity
GO:0004115	0.001197	3',5'-cyclic-AMP phosphodiesterase activity
GO:0001965	0.001197	G-protein alpha-subunit binding
GO:0001637	0.001197	G-protein coupled chemoattractant receptor activity
GO:0001105	0.001197	RNA polymerase II transcription coactivator activity
GO:0019789	0.001169	SUMO transferase activity
GO:0015562	0.001169	efflux transmembrane transporter activity
GO:0015485	0.001169	cholesterol binding
GO:0008373	0.001169	sialyltransferase activity
GO:0008172	0.001169	S-methyltransferase activity
GO:0004950	0.001169	chemokine receptor activity
GO:0004089	0.001169	carbonate dehydratase activity
GO:0030515	0.001140	snoRNA binding
GO:0017069	0.001140	snRNA binding
GO:0016812	0.001140	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amides
GO:0016405	0.001140	CoA-ligase activity
GO:0005242	0.001140	inward rectifier potassium channel activity
GO:0004708	0.001140	MAP kinase kinase activity
GO:0004022	0.001140	alcohol dehydrogenase (NAD) activity
GO:1900750	0.001112	oligopeptide binding
GO:0043548	0.001112	phosphatidylinositol 3-kinase binding
GO:0043175	0.001112	RNA polymerase core enzyme binding
GO:0042169	0.001112	SH2 domain binding
GO:0016917	0.001112	GABA receptor activity
GO:0016721	0.001112	oxidoreductase activity, acting on superoxide radicals as acceptor
GO:0015929	0.001112	hexosaminidase activity
GO:0005537	0.001112	mannose binding
GO:0005154	0.001112	epidermal growth factor receptor binding
GO:0005109	0.001112	frizzled binding
GO:0004970	0.001112	ionotropic glutamate receptor activity
GO:0001530	0.001112	lipopolysaccharide binding
GO:0043295	0.001083	glutathione binding
GO:0030552	0.001083	cAMP binding
GO:0016864	0.001083	intramolecular oxidoreductase activity, transposing S-S bonds
GO:0016841	0.001083	ammonia-lyase activity
GO:0015172	0.001083	acidic amino acid transmembrane transporter activity
GO:0015035	0.001083	protein disulfide oxidoreductase activity
GO:0009881	0.001083	photoreceptor activity
GO:0004784	0.001083	superoxide dismutase activity
GO:0004602	0.001083	glutathione peroxidase activity
GO:0003756	0.001083	protein disulfide isomerase activity
GO:0001221	0.001083	transcription cofactor binding
GO:0090599	0.001055	alpha-glucosidase activity
GO:0071617	0.001055	lysophospholipid acyltransferase activity
GO:0051721	0.001055	protein phosphatase 2A binding
GO:0030546	0.001055	receptor activator activity
GO:0030371	0.001055	translation repressor activity
GO:0030332	0.001055	cyclin binding
GO:0015925	0.001055	galactosidase activity
GO:0015198	0.001055	oligopeptide transporter activity
GO:0015157	0.001055	oligosaccharide transmembrane transporter activity
GO:0015026	0.001055	coreceptor activity
GO:0005112	0.001055	Notch binding
GO:0004984	0.001055	olfactory receptor activity
GO:0004675	0.001055	transmembrane receptor protein serine/threonine kinase activity
GO:0004435	0.001055	phosphatidylinositol phospholipase C activity
GO:0050699	0.001026	WW domain binding
GO:0042974	0.001026	retinoic acid receptor binding
GO:0034595	0.001026	phosphatidylinositol phosphate 5-phosphatase activity
GO:0031420	0.001026	alkali metal ion binding
GO:0016273	0.001026	arginine N-methyltransferase activity
GO:0015154	0.001026	disaccharide transmembrane transporter activity
GO:0005345	0.001026	purine nucleobase transmembrane transporter activity
GO:0004889	0.001026	acetylcholine-activated cation-selective channel activity
GO:0004715	0.001026	non-membrane spanning protein tyrosine kinase activity
GO:0003993	0.001026	acid phosphatase activity
GO:0001671	0.001026	ATPase activator activity
GO:0001540	0.001026	beta-amyloid binding
GO:0001134	0.001026	transcription factor activity, transcription factor recruiting
GO:0043539	0.000998	protein serine/threonine kinase activator activity
GO:0017091	0.000998	AU-rich element binding
GO:0016274	0.000998	protein-arginine N-methyltransferase activity
GO:0015114	0.000998	phosphate ion transmembrane transporter activity
GO:0008641	0.000998	small protein activating enzyme activity
GO:0008252	0.000998	nucleotidase activity
GO:0005544	0.000998	calcium-dependent phospholipid binding
GO:0005487	0.000998	nucleocytoplasmic transporter activity
GO:0005451	0.000998	monovalent cation:proton antiporter activity
GO:0004622	0.000998	lysophospholipase activity
GO:0003785	0.000998	actin monomer binding
GO:0001205	0.000998	transcriptional activator activity, RNA polymerase II distal enhancer sequence-specific binding
GO:0099589	0.000969	serotonin receptor activity
GO:0090079	0.000969	translation regulator activity, nucleic acid binding
GO:0070628	0.000969	proteasome binding
GO:0070569	0.000969	uridylyltransferase activity
GO:0070403	0.000969	NAD+ binding
GO:0051920	0.000969	peroxiredoxin activity
GO:0047429	0.000969	nucleoside-triphosphate diphosphatase activity
GO:0036002	0.000969	pre-mRNA binding
GO:0019870	0.000969	potassium channel inhibitor activity
GO:0019865	0.000969	immunoglobulin binding
GO:0016742	0.000969	hydroxymethyl-, formyl- and related transferase activity
GO:0016725	0.000969	oxidoreductase activity, acting on CH or CH2 groups
GO:0015211	0.000969	purine nucleoside transmembrane transporter activity
GO:0008143	0.000969	poly(A) binding
GO:0005375	0.000969	copper ion transmembrane transporter activity
GO:0005343	0.000969	organic acid:sodium symporter activity
GO:0004653	0.000969	polypeptide N-acetylgalactosaminyltransferase activity
GO:0004383	0.000969	guanylate cyclase activity
GO:0000217	0.000969	DNA secondary structure binding
GO:1905030	0.000941	voltage-gated ion channel activity involved in regulation of postsynaptic membrane potential
GO:0099528	0.000941	G-protein coupled neurotransmitter receptor activity
GO:0051059	0.000941	NF-kappaB binding
GO:0045309	0.000941	protein phosphorylated amino acid binding
GO:0044769	0.000941	ATPase activity, coupled to transmembrane movement of ions, rotational mechanism
GO:0044390	0.000941	ubiquitin-like protein conjugating enzyme binding
GO:0043394	0.000941	proteoglycan binding
GO:0042287	0.000941	MHC protein binding
GO:0017112	0.000941	Rab guanyl-nucleotide exchange factor activity
GO:0016855	0.000941	racemase and epimerase activity, acting on amino acids and derivatives
GO:0016744	0.000941	transferase activity, transferring aldehyde or ketonic groups
GO:0015037	0.000941	peptide disulfide oxidoreductase activity
GO:0010334	0.000941	sesquiterpene synthase activity
GO:0008556	0.000941	potassium-transporting ATPase activity
GO:0008443	0.000941	phosphofructokinase activity
GO:0005313	0.000941	L-glutamate transmembrane transporter activity
GO:0005248	0.000941	voltage-gated sodium channel activity
GO:0004993	0.000941	G-protein coupled serotonin receptor activity
GO:0003950	0.000941	NAD+ ADP-ribosyltransferase activity
GO:0001968	0.000941	fibronectin binding
GO:0000339	0.000941	RNA cap binding
GO:0099604	0.000912	ligand-gated calcium channel activity
GO:0080025	0.000912	phosphatidylinositol-3,5-bisphosphate binding
GO:0051019	0.000912	mitogen-activated protein kinase binding
GO:0043236	0.000912	laminin binding
GO:0031559	0.000912	oxidosqualene cyclase activity
GO:0030507	0.000912	spectrin binding
GO:0019238	0.000912	cyclohydrolase activity
GO:0019206	0.000912	nucleoside kinase activity
GO:0017056	0.000912	structural constituent of nuclear pore
GO:0016886	0.000912	ligase activity, forming phosphoric ester bonds
GO:0016774	0.000912	phosphotransferase activity, carboxyl group as acceptor
GO:0016615	0.000912	malate dehydrogenase activity
GO:0015278	0.000912	calcium-release channel activity
GO:0004709	0.000912	MAP kinase kinase kinase activity
GO:0004549	0.000912	tRNA-specific ribonuclease activity
GO:0000155	0.000912	phosphorelay sensor kinase activity
GO:1990939	0.000884	ATP-dependent microtubule motor activity
GO:0098847	0.000884	sequence-specific single stranded DNA binding
GO:0051393	0.000884	alpha-actinin binding
GO:0046966	0.000884	thyroid hormone receptor binding
GO:0043014	0.000884	alpha-tubulin binding
GO:0042171	0.000884	lysophosphatidic acid acyltransferase activity
GO:0035035	0.000884	histone acetyltransferase binding
GO:0017025	0.000884	TBP-class protein binding
GO:0015203	0.000884	polyamine transmembrane transporter activity
GO:0015038	0.000884	glutathione disulfide oxidoreductase activity
GO:0008417	0.000884	fucosyltransferase activity
GO:0005402	0.000884	cation:sugar symporter activity
GO:0005338	0.000884	nucleotide-sugar transmembrane transporter activity
GO:0005158	0.000884	insulin receptor binding
GO:0004559	0.000884	alpha-mannosidase activity
GO:0004551	0.000884	nucleotide diphosphatase activity
GO:0070300	0.000855	phosphatidic acid binding
GO:0070008	0.000855	serine-type exopeptidase activity
GO:0050664	0.000855	oxidoreductase activity, acting on NAD(P)H, oxygen as acceptor
GO:0043047	0.000855	single-stranded telomeric DNA binding
GO:0042056	0.000855	chemoattractant activity
GO:0036361	0.000855	racemase activity, acting on amino acids and derivatives
GO:0035255	0.000855	ionotropic glutamate receptor binding
GO:0017134	0.000855	fibroblast growth factor binding
GO:0016884	0.000855	carbon-nitrogen ligase activity, with glutamine as amido-N-donor
GO:0016723	0.000855	oxidoreductase activity, oxidizing metal ions, NAD or NADP as acceptor
GO:0016713	0.000855	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced iron-sulfur protein as one donor, and incorporation of one atom of oxygen
GO:0016307	0.000855	phosphatidylinositol phosphate kinase activity
GO:0015248	0.000855	sterol transporter activity
GO:0008601	0.000855	protein phosphatase type 2A regulator activity
GO:0008308	0.000855	voltage-gated anion channel activity
GO:0008138	0.000855	protein tyrosine/serine/threonine phosphatase activity
GO:0005251	0.000855	delayed rectifier potassium channel activity
GO:0005160	0.000855	transforming growth factor beta receptor binding
GO:0004935	0.000855	adrenergic receptor activity
GO:0001106	0.000855	RNA polymerase II transcription corepressor activity
GO:0071814	0.000827	protein-lipid complex binding
GO:0071813	0.000827	lipoprotein particle binding
GO:0070567	0.000827	cytidylyltransferase activity
GO:0050681	0.000827	androgen receptor binding
GO:0043138	0.000827	3'-5' DNA helicase activity
GO:0042285	0.000827	xylosyltransferase activity
GO:0032794	0.000827	GTPase activating protein binding
GO:0031624	0.000827	ubiquitin conjugating enzyme binding
GO:0030547	0.000827	receptor inhibitor activity
GO:0030506	0.000827	ankyrin binding
GO:0017110	0.000827	nucleoside-diphosphatase activity
GO:0015464	0.000827	acetylcholine receptor activity
GO:0015385	0.000827	sodium:proton antiporter activity
GO:0015216	0.000827	purine nucleotide transmembrane transporter activity
GO:0015095	0.000827	magnesium ion transmembrane transporter activity
GO:0008157	0.000827	protein phosphatase 1 binding
GO:0004697	0.000827	protein kinase C activity
GO:0004181	0.000827	metallocarboxypeptidase activity
GO:0004096	0.000827	catalase activity
GO:0061505	0.000798	DNA topoisomerase II activity
GO:0047555	0.000798	3',5'-cyclic-GMP phosphodiesterase activity
GO:0046961	0.000798	proton-transporting ATPase activity, rotational mechanism
GO:0043495	0.000798	protein anchor
GO:0043015	0.000798	gamma-tubulin binding
GO:0035173	0.000798	histone kinase activity
GO:0031435	0.000798	mitogen-activated protein kinase kinase kinase binding
GO:0016894	0.000798	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 3'-phosphomonoesters
GO:0016801	0.000798	hydrolase activity, acting on ether bonds
GO:0015368	0.000798	calcium:cation antiporter activity
GO:0015301	0.000798	anion:anion antiporter activity
GO:0015002	0.000798	heme-copper terminal oxidase activity
GO:0005351	0.000798	sugar:proton symporter activity
GO:0005212	0.000798	structural constituent of eye lens
GO:0005092	0.000798	GDP-dissociation inhibitor activity
GO:0004550	0.000798	nucleoside diphosphate kinase activity
GO:0003954	0.000798	NADH dehydrogenase activity
GO:0003918	0.000798	DNA topoisomerase type II (ATP-hydrolyzing) activity
GO:0097599	0.000770	xylanase activity
GO:0071889	0.000770	14-3-3 protein binding
GO:0050780	0.000770	dopamine receptor binding
GO:0047661	0.000770	amino-acid racemase activity
GO:0031543	0.000770	peptidyl-proline dioxygenase activity
GO:0016888	0.000770	endodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0016885	0.000770	ligase activity, forming carbon-carbon bonds
GO:0016675	0.000770	oxidoreductase activity, acting on a heme group of donors
GO:0016639	0.000770	oxidoreductase activity, acting on the CH-NH2 group of donors, NAD or NADP as acceptor
GO:0016151	0.000770	nickel cation binding
GO:0015556	0.000770	C4-dicarboxylate transmembrane transporter activity
GO:0009982	0.000770	pseudouridine synthase activity
GO:0008536	0.000770	Ran GTPase binding
GO:0008484	0.000770	sulfuric ester hydrolase activity
GO:0008327	0.000770	methyl-CpG binding
GO:0005520	0.000770	insulin-like growth factor binding
GO:0005243	0.000770	gap junction channel activity
GO:0004953	0.000770	icosanoid receptor activity
GO:0004890	0.000770	GABA-A receptor activity
GO:0004690	0.000770	cyclic nucleotide-dependent protein kinase activity
GO:0004645	0.000770	phosphorylase activity
GO:0004396	0.000770	hexokinase activity
GO:0004185	0.000770	serine-type carboxypeptidase activity
GO:0000993	0.000770	RNA polymerase II core binding
GO:0000182	0.000770	rDNA binding
GO:0070577	0.000741	lysine-acetylated histone binding
GO:0070325	0.000741	lipoprotein particle receptor binding
GO:0048020	0.000741	CCR chemokine receptor binding
GO:0046965	0.000741	retinoid X receptor binding
GO:0045118	0.000741	azole transporter activity
GO:0043891	0.000741	glyceraldehyde-3-phosphate dehydrogenase (NAD(P)+) (phosphorylating) activity
GO:0043027	0.000741	cysteine-type endopeptidase inhibitor activity involved in apoptotic process
GO:0042165	0.000741	neurotransmitter binding
GO:0030228	0.000741	lipoprotein particle receptor activity
GO:0016634	0.000741	oxidoreductase activity, acting on the CH-CH group of donors, oxygen as acceptor
GO:0015269	0.000741	calcium-activated potassium channel activity
GO:0015166	0.000741	polyol transmembrane transporter activity
GO:0008296	0.000741	3'-5'-exodeoxyribonuclease activity
GO:0005536	0.000741	glucose binding
GO:0005521	0.000741	lamin binding
GO:0005388	0.000741	calcium-transporting ATPase activity
GO:0005384	0.000741	manganese ion transmembrane transporter activity
GO:0005353	0.000741	fructose transmembrane transporter activity
GO:0005104	0.000741	fibroblast growth factor receptor binding
GO:0004017	0.000741	adenylate kinase activity
GO:0000295	0.000741	adenine nucleotide transmembrane transporter activity
GO:0070568	0.000713	guanylyltransferase activity
GO:0051861	0.000713	glycolipid binding
GO:0050998	0.000713	nitric-oxide synthase binding
GO:0050431	0.000713	transforming growth factor beta binding
GO:0044183	0.000713	protein binding involved in protein folding
GO:0035586	0.000713	purinergic receptor activity
GO:0016679	0.000713	oxidoreductase activity, acting on diphenols and related substances as donors
GO:0016653	0.000713	oxidoreductase activity, acting on NAD(P)H, heme protein as acceptor
GO:0016160	0.000713	amylase activity
GO:0015651	0.000713	quaternary ammonium group transmembrane transporter activity
GO:0005346	0.000713	purine ribonucleotide transmembrane transporter activity
GO:0004861	0.000713	cyclin-dependent protein serine/threonine kinase inhibitor activity
GO:0004630	0.000713	phospholipase D activity
GO:0004439	0.000713	phosphatidylinositol-4,5-bisphosphate 5-phosphatase activity
GO:0000062	0.000713	fatty-acyl-CoA binding
GO:0070412	0.000684	R-SMAD binding
GO:0051010	0.000684	microtubule plus-end binding
GO:0043424	0.000684	protein histidine kinase binding
GO:0043325	0.000684	phosphatidylinositol-3,4-bisphosphate binding
GO:0043024	0.000684	ribosomal small subunit binding
GO:0042834	0.000684	peptidoglycan binding
GO:0035673	0.000684	oligopeptide transmembrane transporter activity
GO:0034237	0.000684	protein kinase A regulatory subunit binding
GO:0031690	0.000684	adrenergic receptor binding
GO:0019871	0.000684	sodium channel inhibitor activity
GO:0019202	0.000684	amino acid kinase activity
GO:0016880	0.000684	acid-ammonia (or amide) ligase activity
GO:0016712	0.000684	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced flavin or flavoprotein as one donor, and incorporation of one atom of oxygen
GO:0016676	0.000684	oxidoreductase activity, acting on a heme group of donors, oxygen as acceptor
GO:0015450	0.000684	P-P-bond-hydrolysis-driven protein transmembrane transporter activity
GO:0015280	0.000684	ligand-gated sodium channel activity
GO:0008239	0.000684	dipeptidyl-peptidase activity
GO:0008061	0.000684	chitin binding
GO:0005159	0.000684	insulin-like growth factor receptor binding
GO:0004611	0.000684	phosphoenolpyruvate carboxykinase activity
GO:0004129	0.000684	cytochrome-c oxidase activity
GO:0003988	0.000684	acetyl-CoA C-acyltransferase activity
GO:0003680	0.000684	AT DNA binding
GO:0001848	0.000684	complement binding
GO:0000156	0.000684	phosphorelay response regulator activity
GO:0080043	0.000656	quercetin 3-O-glucosyltransferase activity
GO:0070064	0.000656	proline-rich region binding
GO:0052744	0.000656	phosphatidylinositol monophosphate phosphatase activity
GO:0048256	0.000656	flap endonuclease activity
GO:0047372	0.000656	acylglycerol lipase activity
GO:0042800	0.000656	histone methyltransferase activity (H3-K4 specific)
GO:0034979	0.000656	NAD-dependent protein deacetylase activity
GO:0034483	0.000656	heparan sulfate sulfotransferase activity
GO:0032036	0.000656	myosin heavy chain binding
GO:0030742	0.000656	GTP-dependent protein binding
GO:0017075	0.000656	syntaxin-1 binding
GO:0016922	0.000656	ligand-dependent nuclear receptor binding
GO:0016423	0.000656	tRNA (guanine) methyltransferase activity
GO:0015245	0.000656	fatty acid transporter activity
GO:0010314	0.000656	phosphatidylinositol-5-phosphate binding
GO:0008379	0.000656	thioredoxin peroxidase activity
GO:0008169	0.000656	C-methyltransferase activity
GO:0004526	0.000656	ribonuclease P activity
GO:0004365	0.000656	glyceraldehyde-3-phosphate dehydrogenase (NAD+) (phosphorylating) activity
GO:0004198	0.000656	calcium-dependent cysteine-type endopeptidase activity
GO:0004143	0.000656	diacylglycerol kinase activity
GO:0003746	0.000656	translation elongation factor activity
GO:0001091	0.000656	RNA polymerase II basal transcription factor binding
GO:1990841	0.000627	promoter-specific chromatin binding
GO:0071837	0.000627	HMG box domain binding
GO:0070696	0.000627	transmembrane receptor protein serine/threonine kinase binding
GO:0051787	0.000627	misfolded protein binding
GO:0048531	0.000627	beta-1,3-galactosyltransferase activity
GO:0046977	0.000627	TAP binding
GO:0046030	0.000627	inositol trisphosphate phosphatase activity
GO:0043274	0.000627	phospholipase binding
GO:0038187	0.000627	pattern recognition receptor activity
GO:0036041	0.000627	long-chain fatty acid binding
GO:0034236	0.000627	protein kinase A catalytic subunit binding
GO:0030955	0.000627	potassium ion binding
GO:0017169	0.000627	CDP-alcohol phosphatidyltransferase activity
GO:0016500	0.000627	protein-hormone receptor activity
GO:0015288	0.000627	porin activity
GO:0015165	0.000627	pyrimidine nucleotide-sugar transmembrane transporter activity
GO:0010340	0.000627	carboxyl-O-methyltransferase activity
GO:0008515	0.000627	sucrose transmembrane transporter activity
GO:0008329	0.000627	signaling pattern recognition receptor activity
GO:0005199	0.000627	structural constituent of cell wall
GO:0005003	0.000627	ephrin receptor activity
GO:0004791	0.000627	thioredoxin-disulfide reductase activity
GO:0004563	0.000627	beta-N-acetylhexosaminidase activity
GO:0004144	0.000627	diacylglycerol O-acyltransferase activity
GO:0003995	0.000627	acyl-CoA dehydrogenase activity
GO:0003841	0.000627	1-acylglycerol-3-phosphate O-acyltransferase activity
GO:0002161	0.000627	aminoacyl-tRNA editing activity
GO:0000293	0.000627	ferric-chelate reductase activity
GO:0000099	0.000627	sulfur amino acid transmembrane transporter activity
GO:1901474	0.000599	azole transmembrane transporter activity
GO:0099602	0.000599	neurotransmitter receptor regulator activity
GO:0097617	0.000599	annealing activity
GO:0090482	0.000599	vitamin transmembrane transporter activity
GO:0051428	0.000599	peptide hormone receptor binding
GO:0050750	0.000599	low-density lipoprotein particle receptor binding
GO:0048038	0.000599	quinone binding
GO:0048018	0.000599	receptor agonist activity
GO:0043855	0.000599	cyclic nucleotide-gated ion channel activity
GO:0036440	0.000599	citrate synthase activity
GO:0033549	0.000599	MAP kinase phosphatase activity
GO:0032183	0.000599	SUMO binding
GO:0030548	0.000599	acetylcholine receptor regulator activity
GO:0019956	0.000599	chemokine binding
GO:0019237	0.000599	centromeric DNA binding
GO:0016899	0.000599	oxidoreductase activity, acting on the CH-OH group of donors, oxygen as acceptor
GO:0016842	0.000599	amidine-lyase activity
GO:0016837	0.000599	carbon-oxygen lyase activity, acting on polysaccharides
GO:0016803	0.000599	ether hydrolase activity
GO:0016215	0.000599	acyl-CoA desaturase activity
GO:0015271	0.000599	outward rectifier potassium channel activity
GO:0008970	0.000599	phosphatidylcholine 1-acylhydrolase activity
GO:0008927	0.000599	mannonate dehydratase activity
GO:0008599	0.000599	protein phosphatase type 1 regulator activity
GO:0008139	0.000599	nuclear localization sequence binding
GO:0005545	0.000599	1-phosphatidylinositol binding
GO:0005315	0.000599	inorganic phosphate transmembrane transporter activity
GO:0005221	0.000599	intracellular cyclic nucleotide activated cation channel activity
GO:0005123	0.000599	death receptor binding
GO:0004936	0.000599	alpha-adrenergic receptor activity
GO:0004745	0.000599	retinol dehydrogenase activity
GO:0004568	0.000599	chitinase activity
GO:0004565	0.000599	beta-galactosidase activity
GO:0004438	0.000599	phosphatidylinositol-3-phosphatase activity
GO:0004300	0.000599	enoyl-CoA hydratase activity
GO:0004032	0.000599	alditol:NADP+ 1-oxidoreductase activity
GO:0003994	0.000599	aconitate hydratase activity
GO:0003857	0.000599	3-hydroxyacyl-CoA dehydrogenase activity
GO:0000996	0.000599	core DNA-dependent RNA polymerase binding promoter specificity activity
GO:0048185	0.000570	activin binding
GO:0048027	0.000570	mRNA 5'-UTR binding
GO:0046703	0.000570	natural killer cell lectin-like receptor binding
GO:0043395	0.000570	heparan sulfate proteoglycan binding
GO:0042288	0.000570	MHC class I protein binding
GO:0035312	0.000570	5'-3' exodeoxyribonuclease activity
GO:0035198	0.000570	miRNA binding
GO:0034594	0.000570	phosphatidylinositol trisphosphate phosphatase activity
GO:0032453	0.000570	histone demethylase activity (H3-K4 specific)
GO:0031489	0.000570	myosin V binding
GO:0031210	0.000570	phosphatidylcholine binding
GO:0030983	0.000570	mismatched DNA binding
GO:0030898	0.000570	actin-dependent ATPase activity
GO:0030169	0.000570	low-density lipoprotein particle binding
GO:0023023	0.000570	MHC protein complex binding
GO:0022821	0.000570	potassium ion antiporter activity
GO:0016987	0.000570	sigma factor activity
GO:0016889	0.000570	endodeoxyribonuclease activity, producing 3'-phosphomonoesters
GO:0016778	0.000570	diphosphotransferase activity
GO:0016530	0.000570	metallochaperone activity
GO:0016421	0.000570	CoA carboxylase activity
GO:0016308	0.000570	1-phosphatidylinositol-4-phosphate 5-kinase activity
GO:0016208	0.000570	AMP binding
GO:0015643	0.000570	toxic substance binding
GO:0015116	0.000570	sulfate transmembrane transporter activity
GO:0009922	0.000570	fatty acid elongase activity
GO:0008574	0.000570	ATP-dependent microtubule motor activity, plus-end-directed
GO:0008318	0.000570	protein prenyltransferase activity
GO:0008297	0.000570	single-stranded DNA exodeoxyribonuclease activity
GO:0008195	0.000570	phosphatidate phosphatase activity
GO:0005522	0.000570	profilin binding
GO:0005391	0.000570	sodium:potassium-exchanging ATPase activity
GO:0005172	0.000570	vascular endothelial growth factor receptor binding
GO:0004952	0.000570	dopamine neurotransmitter receptor activity
GO:0004634	0.000570	phosphopyruvate hydratase activity
GO:0004564	0.000570	beta-fructofuranosidase activity
GO:0004337	0.000570	geranyltranstransferase activity
GO:0004311	0.000570	farnesyltranstransferase activity
GO:0001017	0.000570	bacterial-type RNA polymerase regulatory region DNA binding
GO:0000014	0.000570	single-stranded DNA endodeoxyribonuclease activity
GO:0070401	0.000542	NADP+ binding
GO:0051998	0.000542	protein carboxyl O-methyltransferase activity
GO:0050136	0.000542	NADH dehydrogenase (quinone) activity
GO:0043140	0.000542	ATP-dependent 3'-5' DNA helicase activity
GO:0043023	0.000542	ribosomal large subunit binding
GO:0042936	0.000542	dipeptide transporter activity
GO:0034450	0.000542	ubiquitin-ubiquitin ligase activity
GO:0033038	0.000542	bitter taste receptor activity
GO:0030296	0.000542	protein tyrosine kinase activator activity
GO:0030275	0.000542	LRR domain binding
GO:0019855	0.000542	calcium channel inhibitor activity
GO:0017160	0.000542	Ral GTPase binding
GO:0016872	0.000542	intramolecular lyase activity
GO:0016823	0.000542	hydrolase activity, acting on acid carbon-carbon bonds, in ketonic substances
GO:0016822	0.000542	hydrolase activity, acting on acid carbon-carbon bonds
GO:0016743	0.000542	carboxyl- or carbamoyltransferase activity
GO:0016730	0.000542	oxidoreductase activity, acting on iron-sulfur proteins as donors
GO:0016594	0.000542	glycine binding
GO:0016502	0.000542	nucleotide receptor activity
GO:0015578	0.000542	mannose transmembrane transporter activity
GO:0015193	0.000542	L-proline transmembrane transporter activity
GO:0015181	0.000542	arginine transmembrane transporter activity
GO:0015112	0.000542	nitrate transmembrane transporter activity
GO:0009008	0.000542	DNA-methyltransferase activity
GO:0008253	0.000542	5'-nucleotidase activity
GO:0008137	0.000542	NADH dehydrogenase (ubiquinone) activity
GO:0005527	0.000542	macrolide binding
GO:0005416	0.000542	cation:amino acid symporter activity
GO:0005164	0.000542	tumor necrosis factor receptor binding
GO:0005078	0.000542	MAP-kinase scaffold activity
GO:0004691	0.000542	cAMP-dependent protein kinase activity
GO:0004619	0.000542	phosphoglycerate mutase activity
GO:0004567	0.000542	beta-mannosidase activity
GO:0004448	0.000542	isocitrate dehydrogenase activity
GO:0004124	0.000542	cysteine synthase activity
GO:0003872	0.000542	6-phosphofructokinase activity
GO:0003796	0.000542	lysozyme activity
GO:0001223	0.000542	transcription coactivator binding
GO:0001083	0.000542	transcription factor activity, RNA polymerase II basal transcription factor binding
GO:0000984	0.000542	bacterial-type RNA polymerase regulatory region sequence-specific DNA binding
GO:0000900	0.000542	translation repressor activity, nucleic acid binding
GO:1901338	0.000513	catecholamine binding
GO:0070742	0.000513	C2H2 zinc finger domain binding
GO:0070492	0.000513	oligosaccharide binding
GO:0046625	0.000513	sphingolipid binding
GO:0045294	0.000513	alpha-catenin binding
GO:0043225	0.000513	anion transmembrane-transporting ATPase activity
GO:0043176	0.000513	amine binding
GO:0042813	0.000513	Wnt-activated receptor activity
GO:0042030	0.000513	ATPase inhibitor activity
GO:0035925	0.000513	mRNA 3'-UTR AU-rich region binding
GO:0035252	0.000513	UDP-xylosyltransferase activity
GO:0034185	0.000513	apolipoprotein binding
GO:0032454	0.000513	histone demethylase activity (H3-K9 specific)
GO:0031681	0.000513	G-protein beta-subunit binding
GO:0031005	0.000513	filamin binding
GO:0017166	0.000513	vinculin binding
GO:0017151	0.000513	DEAD/H-box RNA helicase binding
GO:0017136	0.000513	NAD-dependent histone deacetylase activity
GO:0017127	0.000513	cholesterol transporter activity
GO:0016682	0.000513	oxidoreductase activity, acting on diphenols and related substances as donors, oxygen as acceptor
GO:0016635	0.000513	oxidoreductase activity, acting on the CH-CH group of donors, quinone or related compound as acceptor
GO:0016595	0.000513	glutamate binding
GO:0016493	0.000513	C-C chemokine receptor activity
GO:0015204	0.000513	urea transmembrane transporter activity
GO:0008553	0.000513	hydrogen-exporting ATPase activity, phosphorylative mechanism
GO:0008191	0.000513	metalloendopeptidase inhibitor activity
GO:0005534	0.000513	galactose binding
GO:0005347	0.000513	ATP transmembrane transporter activity
GO:0005086	0.000513	ARF guanyl-nucleotide exchange factor activity
GO:0005041	0.000513	low-density lipoprotein receptor activity
GO:0004954	0.000513	prostanoid receptor activity
GO:0004523	0.000513	RNA-DNA hybrid ribonuclease activity
GO:0004457	0.000513	lactate dehydrogenase activity
GO:0004106	0.000513	chorismate mutase activity
GO:0004000	0.000513	adenosine deaminase activity
GO:0003964	0.000513	RNA-directed DNA polymerase activity
GO:0003909	0.000513	DNA ligase activity
GO:0000991	0.000513	transcription factor activity, core RNA polymerase II binding
GO:0000983	0.000513	transcription factor activity, RNA polymerase II core promoter sequence-specific
GO:0000340	0.000513	RNA 7-methylguanosine cap binding
GO:1990239	0.000485	steroid hormone binding
GO:0070530	0.000485	K63-linked polyubiquitin binding
GO:0070182	0.000485	DNA polymerase binding
GO:0070034	0.000485	telomerase RNA binding
GO:0052834	0.000485	inositol monophosphate phosphatase activity
GO:0051766	0.000485	inositol trisphosphate kinase activity
GO:0048156	0.000485	tau protein binding
GO:0046870	0.000485	cadmium ion binding
GO:0044548	0.000485	S100 protein binding
GO:0044213	0.000485	intronic transcription regulatory region DNA binding
GO:0043422	0.000485	protein kinase B binding
GO:0043142	0.000485	single-stranded DNA-dependent ATPase activity
GO:0035381	0.000485	ATP-gated ion channel activity
GO:0031434	0.000485	mitogen-activated protein kinase kinase binding
GO:0031386	0.000485	protein tag
GO:0030976	0.000485	thiamine pyrophosphate binding
GO:0030553	0.000485	cGMP binding
GO:0030550	0.000485	acetylcholine receptor inhibitor activity
GO:0023026	0.000485	MHC class II protein complex binding
GO:0019863	0.000485	IgE binding
GO:0019198	0.000485	transmembrane receptor protein phosphatase activity
GO:0018685	0.000485	alkane 1-monooxygenase activity
GO:0017108	0.000485	5'-flap endonuclease activity
GO:0016805	0.000485	dipeptidase activity
GO:0016714	0.000485	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced pteridine as one donor, and incorporation of one atom of oxygen
GO:0016670	0.000485	oxidoreductase activity, acting on a sulfur group of donors, oxygen as acceptor
GO:0016624	0.000485	oxidoreductase activity, acting on the aldehyde or oxo group of donors, disulfide as acceptor
GO:0016505	0.000485	peptidase activator activity involved in apoptotic process
GO:0016417	0.000485	S-acyltransferase activity
GO:0015927	0.000485	trehalase activity
GO:0015377	0.000485	cation:chloride symporter activity
GO:0015093	0.000485	ferrous iron transmembrane transporter activity
GO:0008499	0.000485	UDP-galactose:beta-N-acetylglucosamine beta-1,3-galactosyltransferase activity
GO:0008469	0.000485	histone-arginine N-methyltransferase activity
GO:0008430	0.000485	selenium binding
GO:0008410	0.000485	CoA-transferase activity
GO:0008353	0.000485	RNA polymerase II carboxy-terminal domain kinase activity
GO:0008097	0.000485	5S rRNA binding
GO:0005540	0.000485	hyaluronic acid binding
GO:0005344	0.000485	oxygen transporter activity
GO:0005326	0.000485	neurotransmitter transporter activity
GO:0005229	0.000485	intracellular calcium activated chloride channel activity
GO:0005165	0.000485	neurotrophin receptor binding
GO:0005035	0.000485	death receptor activity
GO:0005001	0.000485	transmembrane receptor protein tyrosine phosphatase activity
GO:0004792	0.000485	thiosulfate sulfurtransferase activity
GO:0004652	0.000485	polynucleotide adenylyltransferase activity
GO:0004332	0.000485	fructose-bisphosphate aldolase activity
GO:0004030	0.000485	aldehyde dehydrogenase [NAD(P)+] activity
GO:0003691	0.000485	double-stranded telomeric DNA binding
GO:0001972	0.000485	retinoic acid binding
GO:0001618	0.000485	virus receptor activity
GO:0001135	0.000485	transcription factor activity, RNA polymerase II transcription factor recruiting
GO:0000702	0.000485	oxidized base lesion DNA N-glycosylase activity
GO:0090563	0.000456	protein-phosphocysteine-sugar phosphotransferase activity
GO:0080044	0.000456	quercetin 7-O-glucosyltransferase activity
GO:0070404	0.000456	NADH binding
GO:0060229	0.000456	lipase activator activity
GO:0055103	0.000456	ligase regulator activity
GO:0051378	0.000456	serotonin binding
GO:0050321	0.000456	tau-protein kinase activity
GO:0042975	0.000456	peroxisome proliferator activated receptor binding
GO:0042910	0.000456	xenobiotic transporter activity
GO:0042301	0.000456	phosphate ion binding
GO:0042166	0.000456	acetylcholine binding
GO:0042132	0.000456	fructose 1,6-bisphosphate 1-phosphatase activity
GO:0034596	0.000456	phosphatidylinositol phosphate 4-phosphatase activity
GO:0034335	0.000456	DNA supercoiling activity
GO:0030215	0.000456	semaphorin receptor binding
GO:0030159	0.000456	receptor signaling complex scaffold activity
GO:0016662	0.000456	oxidoreductase activity, acting on other nitrogenous compounds as donors, cytochrome as acceptor
GO:0016211	0.000456	ammonia ligase activity
GO:0016175	0.000456	superoxide-generating NADPH oxidase activity
GO:0015658	0.000456	branched-chain amino acid transmembrane transporter activity
GO:0015199	0.000456	amino-acid betaine transmembrane transporter activity
GO:0015189	0.000456	L-lysine transmembrane transporter activity
GO:0015125	0.000456	bile acid transmembrane transporter activity
GO:0008810	0.000456	cellulase activity
GO:0008603	0.000456	cAMP-dependent protein kinase regulator activity
GO:0008504	0.000456	monoamine transmembrane transporter activity
GO:0008079	0.000456	translation termination factor activity
GO:0005549	0.000456	odorant binding
GO:0005528	0.000456	FK506 binding
GO:0005523	0.000456	tropomyosin binding
GO:0005247	0.000456	voltage-gated chloride channel activity
GO:0005024	0.000456	transforming growth factor beta-activated receptor activity
GO:0004931	0.000456	extracellular ATP-gated cation channel activity
GO:0004768	0.000456	stearoyl-CoA 9-desaturase activity
GO:0004743	0.000456	pyruvate kinase activity
GO:0004614	0.000456	phosphoglucomutase activity
GO:0004556	0.000456	alpha-amylase activity
GO:0004499	0.000456	N,N-dimethylaniline monooxygenase activity
GO:0004470	0.000456	malic enzyme activity
GO:0004427	0.000456	inorganic diphosphatase activity
GO:0004340	0.000456	glucokinase activity
GO:0004065	0.000456	arylsulfatase activity
GO:0003933	0.000456	GTP cyclohydrolase activity
GO:0001784	0.000456	phosphotyrosine binding
GO:0001614	0.000456	purinergic nucleotide receptor activity
GO:0001222	0.000456	transcription corepressor binding
GO:0000986	0.000456	bacterial-type RNA polymerase core promoter proximal region sequence-specific DNA binding
GO:0000774	0.000456	adenyl-nucleotide exchange factor activity
GO:0000400	0.000456	four-way junction DNA binding
GO:0000026	0.000456	alpha-1,2-mannosyltransferase activity
GO:1990381	0.000428	ubiquitin-specific protease binding
GO:0070181	0.000428	small ribosomal subunit rRNA binding
GO:0070180	0.000428	large ribosomal subunit rRNA binding
GO:0055106	0.000428	ubiquitin-protein transferase regulator activity
GO:0055056	0.000428	D-glucose transmembrane transporter activity
GO:0047498	0.000428	calcium-dependent phospholipase A2 activity
GO:0045295	0.000428	gamma-catenin binding
GO:0043139	0.000428	5'-3' DNA helicase activity
GO:0043121	0.000428	neurotrophin binding
GO:0042947	0.000428	glucoside transmembrane transporter activity
GO:0035259	0.000428	glucocorticoid receptor binding
GO:0032217	0.000428	riboflavin transporter activity
GO:0031545	0.000428	peptidyl-proline 4-dioxygenase activity
GO:0031492	0.000428	nucleosomal DNA binding
GO:0030284	0.000428	estrogen receptor activity
GO:0022833	0.000428	mechanically gated channel activity
GO:0019534	0.000428	toxin transporter activity
GO:0019211	0.000428	phosphatase activator activity
GO:0019103	0.000428	pyrimidine nucleotide binding
GO:0017081	0.000428	chloride channel regulator activity
GO:0016989	0.000428	sigma factor antagonist activity
GO:0016929	0.000428	SUMO-specific protease activity
GO:0016748	0.000428	succinyltransferase activity
GO:0016647	0.000428	oxidoreductase activity, acting on the CH-NH group of donors, oxygen as acceptor
GO:0016453	0.000428	C-acetyltransferase activity
GO:0015924	0.000428	mannosyl-oligosaccharide mannosidase activity
GO:0015563	0.000428	uptake transmembrane transporter activity
GO:0015279	0.000428	store-operated calcium channel activity
GO:0015217	0.000428	ADP transmembrane transporter activity
GO:0015187	0.000428	glycine transmembrane transporter activity
GO:0015186	0.000428	L-glutamine transmembrane transporter activity
GO:0015173	0.000428	aromatic amino acid transmembrane transporter activity
GO:0010485	0.000428	H4 histone acetyltransferase activity
GO:0010484	0.000428	H3 histone acetyltransferase activity
GO:0008656	0.000428	cysteine-type endopeptidase activator activity involved in apoptotic process
GO:0008559	0.000428	xenobiotic-transporting ATPase activity
GO:0008526	0.000428	phosphatidylinositol transporter activity
GO:0008432	0.000428	JUN kinase binding
GO:0008391	0.000428	arachidonic acid monooxygenase activity
GO:0008331	0.000428	high voltage-gated calcium channel activity
GO:0008242	0.000428	omega peptidase activity
GO:0008174	0.000428	mRNA methyltransferase activity
GO:0008131	0.000428	primary amine oxidase activity
GO:0005283	0.000428	sodium:amino acid symporter activity
GO:0005237	0.000428	inhibitory extracellular ligand-gated ion channel activity
GO:0005161	0.000428	platelet-derived growth factor receptor binding
GO:0005095	0.000428	GTPase inhibitor activity
GO:0005031	0.000428	tumor necrosis factor-activated receptor activity
GO:0004972	0.000428	NMDA glutamate receptor activity
GO:0004955	0.000428	prostaglandin receptor activity
GO:0004862	0.000428	cAMP-dependent protein kinase inhibitor activity
GO:0004805	0.000428	trehalose-phosphatase activity
GO:0004575	0.000428	sucrose alpha-glucosidase activity
GO:0004345	0.000428	glucose-6-phosphate dehydrogenase activity
GO:0004126	0.000428	cytidine deaminase activity
GO:0004067	0.000428	asparaginase activity
GO:0004062	0.000428	aryl sulfotransferase activity
GO:0004049	0.000428	anthranilate synthase activity
GO:0004035	0.000428	alkaline phosphatase activity
GO:0003747	0.000428	translation release factor activity
GO:0001161	0.000428	intronic transcription regulatory region sequence-specific DNA binding
GO:0000104	0.000428	succinate dehydrogenase activity
GO:0097506	0.000399	deaminated base DNA N-glycosylase activity
GO:0070735	0.000399	protein-glycine ligase activity
GO:0055102	0.000399	lipase inhibitor activity
GO:0050811	0.000399	GABA receptor binding
GO:0050291	0.000399	sphingosine N-acyltransferase activity
GO:0046975	0.000399	histone methyltransferase activity (H3-K36 specific)
GO:0045159	0.000399	myosin II binding
GO:0043546	0.000399	molybdopterin cofactor binding
GO:0042806	0.000399	fucose binding
GO:0035197	0.000399	siRNA binding
GO:0034987	0.000399	immunoglobulin receptor binding
GO:0034485	0.000399	phosphatidylinositol-3,4,5-trisphosphate 5-phosphatase activity
GO:0031957	0.000399	very long-chain fatty acid-CoA ligase activity
GO:0031748	0.000399	D1 dopamine receptor binding
GO:0031419	0.000399	cobalamin binding
GO:0031402	0.000399	sodium ion binding
GO:0031176	0.000399	endo-1,4-beta-xylanase activity
GO:0030676	0.000399	Rac guanyl-nucleotide exchange factor activity
GO:0019215	0.000399	intermediate filament binding
GO:0019136	0.000399	deoxynucleoside kinase activity
GO:0017154	0.000399	semaphorin receptor activity
GO:0017049	0.000399	GTP-Rho binding
GO:0016724	0.000399	oxidoreductase activity, oxidizing metal ions, oxygen as acceptor
GO:0016406	0.000399	carnitine O-acyltransferase activity
GO:0016290	0.000399	palmitoyl-CoA hydrolase activity
GO:0016004	0.000399	phospholipase activator activity
GO:0015277	0.000399	kainate selective glutamate receptor activity
GO:0015220	0.000399	choline transmembrane transporter activity
GO:0015168	0.000399	glycerol transmembrane transporter activity
GO:0015142	0.000399	tricarboxylic acid transmembrane transporter activity
GO:0010857	0.000399	calcium-dependent protein kinase activity
GO:0008494	0.000399	translation activator activity
GO:0008309	0.000399	double-stranded DNA exodeoxyribonuclease activity
GO:0008199	0.000399	ferric iron binding
GO:0008179	0.000399	adenylate cyclase binding
GO:0005542	0.000399	folic acid binding
GO:0005131	0.000399	growth hormone receptor binding
GO:0005068	0.000399	transmembrane receptor protein tyrosine kinase adaptor activity
GO:0005044	0.000399	scavenger receptor activity
GO:0004844	0.000399	uracil DNA N-glycosylase activity
GO:0004738	0.000399	pyruvate dehydrogenase activity
GO:0004661	0.000399	protein geranylgeranyltransferase activity
GO:0004650	0.000399	polygalacturonase activity
GO:0004596	0.000399	peptide alpha-N-acetyltransferase activity
GO:0004558	0.000399	alpha-1,4-glucosidase activity
GO:0004517	0.000399	nitric-oxide synthase activity
GO:0004430	0.000399	1-phosphatidylinositol 4-kinase activity
GO:0004385	0.000399	guanylate kinase activity
GO:0004356	0.000399	glutamate-ammonia ligase activity
GO:0004322	0.000399	ferroxidase activity
GO:0004303	0.000399	estradiol 17-beta-dehydrogenase activity
GO:0004084	0.000399	branched-chain-amino-acid transaminase activity
GO:0004072	0.000399	aspartate kinase activity
GO:0004012	0.000399	phospholipid-translocating ATPase activity
GO:0003896	0.000399	DNA primase activity
GO:0003886	0.000399	DNA (cytosine-5-)-methyltransferase activity
GO:0003840	0.000399	gamma-glutamyltransferase activity
GO:0001846	0.000399	opsonin binding
GO:0001716	0.000399	L-amino-acid oxidase activity
GO:0001595	0.000399	angiotensin receptor activity
GO:0001054	0.000399	RNA polymerase I activity
GO:0001013	0.000399	RNA polymerase I regulatory region DNA binding
GO:0001010	0.000399	transcription factor activity, sequence-specific DNA binding transcription factor recruiting
GO:0097153	0.000371	cysteine-type endopeptidase activity involved in apoptotic process
GO:0070739	0.000371	protein-glutamic acid ligase activity
GO:0070411	0.000371	I-SMAD binding
GO:0070324	0.000371	thyroid hormone binding
GO:0052629	0.000371	phosphatidylinositol-3,5-bisphosphate 3-phosphatase activity
GO:0050815	0.000371	phosphoserine binding
GO:0048407	0.000371	platelet-derived growth factor binding
GO:0046974	0.000371	histone methyltransferase activity (H3-K9 specific)
GO:0046812	0.000371	host cell surface binding
GO:0046790	0.000371	virion binding
GO:0046556	0.000371	alpha-L-arabinofuranosidase activity
GO:0043560	0.000371	insulin receptor substrate binding
GO:0043008	0.000371	ATP-dependent protein binding
GO:0042937	0.000371	tripeptide transporter activity
GO:0042927	0.000371	siderophore transporter activity
GO:0042123	0.000371	glucanosyltransferase activity
GO:0042043	0.000371	neurexin family protein binding
GO:0036122	0.000371	BMP binding
GO:0035242	0.000371	protein-arginine omega-N asymmetric methyltransferase activity
GO:0035241	0.000371	protein-arginine omega-N monomethyltransferase activity
GO:0034713	0.000371	type I transforming growth factor beta receptor binding
GO:0033691	0.000371	sialic acid binding
GO:0033130	0.000371	acetylcholine receptor binding
GO:0031996	0.000371	thioesterase binding
GO:0031432	0.000371	titin binding
GO:0030151	0.000371	molybdenum ion binding
GO:0019841	0.000371	retinol binding
GO:0019781	0.000371	NEDD8 activating enzyme activity
GO:0017040	0.000371	ceramidase activity
GO:0016997	0.000371	alpha-sialidase activity
GO:0016907	0.000371	G-protein coupled acetylcholine receptor activity
GO:0016882	0.000371	cyclo-ligase activity
GO:0016731	0.000371	oxidoreductase activity, acting on iron-sulfur proteins as donors, NAD or NADP as acceptor
GO:0016531	0.000371	copper chaperone activity
GO:0016435	0.000371	rRNA (guanine) methyltransferase activity
GO:0016427	0.000371	tRNA (cytosine) methyltransferase activity
GO:0016412	0.000371	serine O-acyltransferase activity
GO:0015928	0.000371	fucosidase activity
GO:0015321	0.000371	sodium-dependent phosphate transmembrane transporter activity
GO:0015232	0.000371	heme transporter activity
GO:0015226	0.000371	carnitine transmembrane transporter activity
GO:0015106	0.000371	bicarbonate transmembrane transporter activity
GO:0015087	0.000371	cobalt ion transmembrane transporter activity
GO:0010385	0.000371	double-stranded methylated DNA binding
GO:0009931	0.000371	calcium-dependent protein serine/threonine kinase activity
GO:0009927	0.000371	histidine phosphotransfer kinase activity
GO:0008964	0.000371	phosphoenolpyruvate carboxylase activity
GO:0008658	0.000371	penicillin binding
GO:0008534	0.000371	oxidized purine nucleobase lesion DNA N-glycosylase activity
GO:0008452	0.000371	RNA ligase activity
GO:0008381	0.000371	mechanically-gated ion channel activity
GO:0008310	0.000371	single-stranded DNA 3'-5' exodeoxyribonuclease activity
GO:0008190	0.000371	eukaryotic initiation factor 4E binding
GO:0005354	0.000371	galactose transmembrane transporter activity
GO:0005275	0.000371	amine transmembrane transporter activity
GO:0005186	0.000371	pheromone activity
GO:0005149	0.000371	interleukin-1 receptor binding
GO:0005021	0.000371	vascular endothelial growth factor-activated receptor activity
GO:0004985	0.000371	opioid receptor activity
GO:0004977	0.000371	melanocortin receptor activity
GO:0004938	0.000371	alpha2-adrenergic receptor activity
GO:0004779	0.000371	sulfate adenylyltransferase activity
GO:0004679	0.000371	AMP-activated protein kinase activity
GO:0004571	0.000371	mannosyl-oligosaccharide 1,2-alpha-mannosidase activity
GO:0004535	0.000371	poly(A)-specific ribonuclease activity
GO:0004534	0.000371	5'-3' exoribonuclease activity
GO:0004362	0.000371	glutathione-disulfide reductase activity
GO:0004308	0.000371	exo-alpha-sialidase activity
GO:0004053	0.000371	arginase activity
GO:0003997	0.000371	acyl-CoA oxidase activity
GO:0003978	0.000371	UDP-glucose 4-epimerase activity
GO:0003951	0.000371	NAD+ kinase activity
GO:0003917	0.000371	DNA topoisomerase type I activity
GO:0001640	0.000371	adenylate cyclase inhibiting G-protein coupled glutamate receptor activity
GO:0001132	0.000371	RNA polymerase II transcription factor activity, TBP-class protein binding
GO:0001130	0.000371	bacterial-type RNA polymerase transcription factor activity, sequence-specific DNA binding
GO:0001094	0.000371	TFIID-class transcription factor binding
GO:0000009	0.000371	alpha-1,6-mannosyltransferase activity
GO:0070016	0.000342	armadillo repeat domain binding
GO:0061665	0.000342	SUMO ligase activity
GO:0051400	0.000342	BH domain binding
GO:0051139	0.000342	metal ion:proton antiporter activity
GO:0050072	0.000342	m7G(5')pppN diphosphatase activity
GO:0048039	0.000342	ubiquinone binding
GO:0046920	0.000342	alpha-(1->3)-fucosyltransferase activity
GO:0045499	0.000342	chemorepellent activity
GO:0045125	0.000342	bioactive lipid receptor activity
GO:0043522	0.000342	leucine zipper domain binding
GO:0042979	0.000342	ornithine decarboxylase regulator activity
GO:0042124	0.000342	1,3-beta-glucanosyltransferase activity
GO:0035325	0.000342	Toll-like receptor binding
GO:0035240	0.000342	dopamine binding
GO:0035174	0.000342	histone serine kinase activity
GO:0033765	0.000342	steroid dehydrogenase activity, acting on the CH-CH group of donors
GO:0032027	0.000342	myosin light chain binding
GO:0031994	0.000342	insulin-like growth factor I binding
GO:0031683	0.000342	G-protein beta/gamma-subunit complex binding
GO:0031177	0.000342	phosphopantetheine binding
GO:0030620	0.000342	U2 snRNA binding
GO:0030346	0.000342	protein phosphatase 2B binding
GO:0030235	0.000342	nitric-oxide synthase regulator activity
GO:0030060	0.000342	L-malate dehydrogenase activity
GO:0019957	0.000342	C-C chemokine binding
GO:0019798	0.000342	procollagen-proline dioxygenase activity
GO:0019172	0.000342	glyoxalase III activity
GO:0017034	0.000342	Rap guanyl-nucleotide exchange factor activity
GO:0016933	0.000342	extracellular-glycine-gated ion channel activity
GO:0016909	0.000342	SAP kinase activity
GO:0016901	0.000342	oxidoreductase activity, acting on the CH-OH group of donors, quinone or similar compound as acceptor
GO:0016728	0.000342	oxidoreductase activity, acting on CH or CH2 groups, disulfide as acceptor
GO:0016708	0.000342	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of two atoms of oxygen into one donor
GO:0016669	0.000342	oxidoreductase activity, acting on a sulfur group of donors, cytochrome as acceptor
GO:0016174	0.000342	NAD(P)H oxidase activity
GO:0016015	0.000342	morphogen activity
GO:0015489	0.000342	putrescine transmembrane transporter activity
GO:0015467	0.000342	G-protein activated inward rectifier potassium channel activity
GO:0015440	0.000342	peptide-transporting ATPase activity
GO:0015386	0.000342	potassium:proton antiporter activity
GO:0015141	0.000342	succinate transmembrane transporter activity
GO:0010851	0.000342	cyclase regulator activity
GO:0008940	0.000342	nitrate reductase activity
GO:0008821	0.000342	crossover junction endodeoxyribonuclease activity
GO:0008184	0.000342	glycogen phosphorylase activity
GO:0008020	0.000342	G-protein coupled photoreceptor activity
GO:0005459	0.000342	UDP-galactose transmembrane transporter activity
GO:0005452	0.000342	inorganic anion exchanger activity
GO:0005432	0.000342	calcium:sodium antiporter activity
GO:0005324	0.000342	long-chain fatty acid transporter activity
GO:0005223	0.000342	intracellular cGMP activated cation channel activity
GO:0004723	0.000342	calcium-dependent protein serine/threonine phosphatase activity
GO:0004694	0.000342	eukaryotic translation initiation factor 2alpha kinase activity
GO:0004647	0.000342	phosphoserine phosphatase activity
GO:0004555	0.000342	alpha,alpha-trehalase activity
GO:0004459	0.000342	L-lactate dehydrogenase activity
GO:0004392	0.000342	heme oxygenase (decyclizing) activity
GO:0004366	0.000342	glycerol-3-phosphate O-acyltransferase activity
GO:0004347	0.000342	glucose-6-phosphate isomerase activity
GO:0004176	0.000342	ATP-dependent peptidase activity
GO:0004128	0.000342	cytochrome-b5 reductase activity, acting on NAD(P)H
GO:0004111	0.000342	creatine kinase activity
GO:0004108	0.000342	citrate (Si)-synthase activity
GO:0003985	0.000342	acetyl-CoA C-acetyltransferase activity
GO:0003955	0.000342	NAD(P)H dehydrogenase (quinone) activity
GO:0003708	0.000342	retinoic acid receptor activity
GO:0003696	0.000342	satellite DNA binding
GO:0001163	0.000342	RNA polymerase I regulatory region sequence-specific DNA binding
GO:0001162	0.000342	RNA polymerase II intronic transcription regulatory region sequence-specific DNA binding
GO:1901567	0.000314	fatty acid derivative binding
GO:0098518	0.000314	polynucleotide phosphatase activity
GO:0080161	0.000314	auxin transmembrane transporter activity
GO:0070733	0.000314	protein adenylyltransferase activity
GO:0070679	0.000314	inositol 1,4,5 trisphosphate binding
GO:0070548	0.000314	L-glutamine aminotransferase activity
GO:0070006	0.000314	metalloaminopeptidase activity
GO:0061731	0.000314	ribonucleoside-diphosphate reductase activity
GO:0052743	0.000314	inositol tetrakisphosphate phosphatase activity
GO:0051765	0.000314	inositol tetrakisphosphate kinase activity
GO:0051192	0.000314	prosthetic group binding
GO:0051185	0.000314	coenzyme transporter activity
GO:0050786	0.000314	RAGE receptor binding
GO:0050543	0.000314	icosatetraenoic acid binding
GO:0050542	0.000314	icosanoid binding
GO:0047580	0.000314	4-hydroxyproline epimerase activity
GO:0045236	0.000314	CXCR chemokine receptor binding
GO:0043813	0.000314	phosphatidylinositol-3,5-bisphosphate 5-phosphatase activity
GO:0042879	0.000314	aldonate transmembrane transporter activity
GO:0042134	0.000314	rRNA primary transcript binding
GO:0042083	0.000314	5,10-methylenetetrahydrofolate-dependent methyltransferase activity
GO:0036312	0.000314	phosphatidylinositol 3-kinase regulatory subunit binding
GO:0035613	0.000314	RNA stem-loop binding
GO:0035438	0.000314	cyclic-di-GMP binding
GO:0035184	0.000314	histone threonine kinase activity
GO:0034046	0.000314	poly(G) binding
GO:0033592	0.000314	RNA strand annealing activity
GO:0032552	0.000314	deoxyribonucleotide binding
GO:0032296	0.000314	double-stranded RNA-specific ribonuclease activity
GO:0032052	0.000314	bile acid binding
GO:0030249	0.000314	guanylate cyclase regulator activity
GO:0019187	0.000314	beta-1,4-mannosyltransferase activity
GO:0019139	0.000314	cytokinin dehydrogenase activity
GO:0018492	0.000314	carbon-monoxide dehydrogenase (acceptor) activity
GO:0016749	0.000314	N-succinyltransferase activity
GO:0016726	0.000314	oxidoreductase activity, acting on CH or CH2 groups, NAD or NADP as acceptor
GO:0016672	0.000314	oxidoreductase activity, acting on a sulfur group of donors, quinone or similar compound as acceptor
GO:0016623	0.000314	oxidoreductase activity, acting on the aldehyde or oxo group of donors, oxygen as acceptor
GO:0016436	0.000314	rRNA (uridine) methyltransferase activity
GO:0016426	0.000314	tRNA (adenine) methyltransferase activity
GO:0016416	0.000314	O-palmitoyltransferase activity
GO:0016312	0.000314	inositol bisphosphate phosphatase activity
GO:0016262	0.000314	protein N-acetylglucosaminyltransferase activity
GO:0016165	0.000314	linoleate 13S-lipoxygenase activity
GO:0016018	0.000314	cyclosporin A binding
GO:0015616	0.000314	DNA translocase activity
GO:0015086	0.000314	cadmium ion transmembrane transporter activity
GO:0008934	0.000314	inositol monophosphate 1-phosphatase activity
GO:0008800	0.000314	beta-lactamase activity
GO:0008569	0.000314	ATP-dependent microtubule motor activity, minus-end-directed
GO:0008477	0.000314	purine nucleosidase activity
GO:0008113	0.000314	peptide-methionine (S)-S-oxide reductase activity
GO:0005436	0.000314	sodium:phosphate symporter activity
GO:0005363	0.000314	maltose transmembrane transporter activity
GO:0005350	0.000314	pyrimidine nucleobase transmembrane transporter activity
GO:0005113	0.000314	patched binding
GO:0005072	0.000314	transforming growth factor beta receptor, cytoplasmic mediator activity
GO:0004994	0.000314	somatostatin receptor activity
GO:0004887	0.000314	thyroid hormone receptor activity
GO:0004865	0.000314	protein serine/threonine phosphatase inhibitor activity
GO:0004807	0.000314	triose-phosphate isomerase activity
GO:0004774	0.000314	succinate-CoA ligase activity
GO:0004767	0.000314	sphingomyelin phosphodiesterase activity
GO:0004748	0.000314	ribonucleoside-diphosphate reductase activity, thioredoxin disulfide as acceptor
GO:0004668	0.000314	protein-arginine deiminase activity
GO:0004609	0.000314	phosphatidylserine decarboxylase activity
GO:0004478	0.000314	methionine adenosyltransferase activity
GO:0004465	0.000314	lipoprotein lipase activity
GO:0004415	0.000314	hyalurononglucosaminidase activity
GO:0004376	0.000314	glycolipid mannosyltransferase activity
GO:0004372	0.000314	glycine hydroxymethyltransferase activity
GO:0004352	0.000314	glutamate dehydrogenase (NAD+) activity
GO:0004351	0.000314	glutamate decarboxylase activity
GO:0004315	0.000314	3-oxoacyl-[acyl-carrier-protein] synthase activity
GO:0004301	0.000314	epoxide hydrolase activity
GO:0004170	0.000314	dUTP diphosphatase activity
GO:0004165	0.000314	dodecenoyl-CoA delta-isomerase activity
GO:0004090	0.000314	carbonyl reductase (NADPH) activity
GO:0004052	0.000314	arachidonate 12-lipoxygenase activity
GO:0004028	0.000314	3-chloroallyl aldehyde dehydrogenase activity
GO:0004014	0.000314	adenosylmethionine decarboxylase activity
GO:0003989	0.000314	acetyl-CoA carboxylase activity
GO:0003987	0.000314	acetate-CoA ligase activity
GO:0003984	0.000314	acetolactate synthase activity
GO:0003979	0.000314	UDP-glucose 6-dehydrogenase activity
GO:0003958	0.000314	NADPH-hemoprotein reductase activity
GO:0003941	0.000314	L-serine ammonia-lyase activity
GO:0003938	0.000314	IMP dehydrogenase activity
GO:0003910	0.000314	DNA ligase (ATP) activity
GO:0003828	0.000314	alpha-N-acetylneuraminate alpha-2,8-sialyltransferase activity
GO:0003810	0.000314	protein-glutamine gamma-glutamyltransferase activity
GO:0002094	0.000314	polyprenyltransferase activity
GO:0001884	0.000314	pyrimidine nucleoside binding
GO:0001758	0.000314	retinal dehydrogenase activity
GO:0001609	0.000314	G-protein coupled adenosine receptor activity
GO:0001591	0.000314	dopamine neurotransmitter receptor activity, coupled via Gi/Go
GO:0001129	0.000314	RNA polymerase II transcription factor activity, TBP-class protein binding, involved in preinitiation complex assembly
GO:0000822	0.000314	inositol hexakisphosphate binding
GO:0098809	0.000285	nitrite reductase activity
GO:0098505	0.000285	G-rich strand telomeric DNA binding
GO:0097602	0.000285	cullin family protein binding
GO:0086080	0.000285	protein binding involved in heterotypic cell-cell adhesion
GO:0072542	0.000285	protein phosphatase activator activity
GO:0071933	0.000285	Arp2/3 complex binding
GO:0070513	0.000285	death domain binding
GO:0070410	0.000285	co-SMAD binding
GO:0070283	0.000285	radical SAM enzyme activity
GO:0052650	0.000285	NADP-retinol dehydrogenase activity
GO:0051880	0.000285	G-quadruplex DNA binding
GO:0051864	0.000285	histone demethylase activity (H3-K36 specific)
GO:0051371	0.000285	muscle alpha-actinin binding
GO:0050544	0.000285	arachidonic acid binding
GO:0050497	0.000285	transferase activity, transferring alkylthio groups
GO:0050440	0.000285	2-methylcitrate synthase activity
GO:0050309	0.000285	sugar-terminal-phosphatase activity
GO:0050265	0.000285	RNA uridylyltransferase activity
GO:0048030	0.000285	disaccharide binding
GO:0048019	0.000285	receptor antagonist activity
GO:0047929	0.000285	gluconate dehydratase activity
GO:0047631	0.000285	ADP-ribose diphosphatase activity
GO:0046933	0.000285	proton-transporting ATP synthase activity, rotational mechanism
GO:0045551	0.000285	cinnamyl-alcohol dehydrogenase activity
GO:0044620	0.000285	ACP phosphopantetheine attachment site binding
GO:0043559	0.000285	insulin binding
GO:0042973	0.000285	glucan endo-1,3-beta-D-glucosidase activity
GO:0042923	0.000285	neuropeptide binding
GO:0039706	0.000285	co-receptor binding
GO:0036310	0.000285	annealing helicase activity
GO:0035497	0.000285	cAMP response element binding
GO:0034584	0.000285	piRNA binding
GO:0034338	0.000285	short-chain carboxylesterase activity
GO:0033041	0.000285	sweet taste receptor activity
GO:0031701	0.000285	angiotensin receptor binding
GO:0031493	0.000285	nucleosomal histone binding
GO:0030600	0.000285	feruloyl esterase activity
GO:0030599	0.000285	pectinesterase activity
GO:0030572	0.000285	phosphatidyltransferase activity
GO:0030274	0.000285	LIM domain binding
GO:0030250	0.000285	guanylate cyclase activator activity
GO:0022842	0.000285	narrow pore channel activity
GO:0022840	0.000285	leak channel activity
GO:0019826	0.000285	oxygen sensor activity
GO:0016985	0.000285	mannan endo-1,4-beta-mannosidase activity
GO:0016972	0.000285	thiol oxidase activity
GO:0016934	0.000285	extracellular-glycine-gated chloride channel activity
GO:0016869	0.000285	intramolecular transferase activity, transferring amino groups
GO:0016767	0.000285	geranylgeranyl-diphosphate geranylgeranyltransferase activity
GO:0015184	0.000285	L-cystine transmembrane transporter activity
GO:0015140	0.000285	malate transmembrane transporter activity
GO:0015137	0.000285	citrate transmembrane transporter activity
GO:0015088	0.000285	copper uptake transmembrane transporter activity
GO:0010853	0.000285	cyclase activator activity
GO:0010283	0.000285	pinoresinol reductase activity
GO:0009378	0.000285	four-way junction helicase activity
GO:0009041	0.000285	uridylate kinase activity
GO:0008428	0.000285	ribonuclease inhibitor activity
GO:0008392	0.000285	arachidonic acid epoxygenase activity
GO:0008312	0.000285	7S RNA binding
GO:0005471	0.000285	ATP:ADP antiporter activity
GO:0005290	0.000285	L-histidine transmembrane transporter activity
GO:0005114	0.000285	type II transforming growth factor beta receptor binding
GO:0004983	0.000285	neuropeptide Y receptor activity
GO:0004799	0.000285	thymidylate synthase activity
GO:0004781	0.000285	sulfate adenylyltransferase (ATP) activity
GO:0004775	0.000285	succinate-CoA ligase (ADP-forming) activity
GO:0004772	0.000285	sterol O-acyltransferase activity
GO:0004739	0.000285	pyruvate dehydrogenase (acetyl-transferring) activity
GO:0004726	0.000285	non-membrane spanning protein tyrosine phosphatase activity
GO:0004705	0.000285	JUN kinase activity
GO:0004560	0.000285	alpha-L-fucosidase activity
GO:0004557	0.000285	alpha-galactosidase activity
GO:0004451	0.000285	isocitrate lyase activity
GO:0004449	0.000285	isocitrate dehydrogenase (NAD+) activity
GO:0004359	0.000285	glutaminase activity
GO:0004346	0.000285	glucose-6-phosphatase activity
GO:0004338	0.000285	glucan exo-1,3-beta-glucosidase activity
GO:0004331	0.000285	fructose-2,6-bisphosphate 2-phosphatase activity
GO:0004325	0.000285	ferrochelatase activity
GO:0004318	0.000285	enoyl-[acyl-carrier-protein] reductase (NADH) activity
GO:0004169	0.000285	dolichyl-phosphate-mannose-protein mannosyltransferase activity
GO:0004161	0.000285	dimethylallyltranstransferase activity
GO:0004060	0.000285	arylamine N-acetyltransferase activity
GO:0004031	0.000285	aldehyde oxidase activity
GO:0003999	0.000285	adenine phosphoribosyltransferase activity
GO:0003934	0.000285	GTP cyclohydrolase I activity
GO:0003913	0.000285	DNA photolyase activity
GO:0003880	0.000285	protein C-terminal carboxyl O-methyltransferase activity
GO:0003844	0.000285	1,4-alpha-glucan branching enzyme activity
GO:0003831	0.000285	beta-N-acetylglucosaminylglycopeptide beta-1,4-galactosyltransferase activity
GO:0002162	0.000285	dystroglycan binding
GO:0001164	0.000285	RNA polymerase I CORE element sequence-specific DNA binding
GO:0001133	0.000285	RNA polymerase II transcription factor activity, sequence-specific transcription regulatory region DNA binding
GO:0000772	0.000285	mating pheromone activity
GO:0000036	0.000285	ACP phosphopantetheine attachment site binding involved in fatty acid biosynthetic process
GO:1990459	0.000257	transferrin receptor binding
GO:1990247	0.000257	N6-methyladenosine-containing RNA binding
GO:1904264	0.000257	ubiquitin protein ligase activity involved in ERAD pathway
GO:0098599	0.000257	palmitoyl hydrolase activity
GO:0097642	0.000257	calcitonin family receptor activity
GO:0097371	0.000257	MDM2/MDM4 family protein binding
GO:0097109	0.000257	neuroligin family protein binding
GO:0097027	0.000257	ubiquitin-protein transferase activator activity
GO:0080146	0.000257	L-cysteine desulfhydrase activity
GO:0071916	0.000257	dipeptide transmembrane transporter activity
GO:0070740	0.000257	tubulin-glutamic acid ligase activity
GO:0070097	0.000257	delta-catenin binding
GO:0061133	0.000257	endopeptidase activator activity
GO:0051959	0.000257	dynein light intermediate chain binding
GO:0051731	0.000257	polynucleotide 5'-hydroxyl-kinase activity
GO:0051011	0.000257	microtubule minus-end binding
GO:0050486	0.000257	intramolecular transferase activity, transferring hydroxy groups
GO:0048406	0.000257	nerve growth factor binding
GO:0047184	0.000257	1-acylglycerophosphocholine O-acyltransferase activity
GO:0047144	0.000257	2-acylglycerol-3-phosphate O-acyltransferase activity
GO:0047035	0.000257	testosterone dehydrogenase (NAD+) activity
GO:0046592	0.000257	polyamine oxidase activity
GO:0045545	0.000257	syndecan binding
GO:0045505	0.000257	dynein intermediate chain binding
GO:0045134	0.000257	uridine-diphosphatase activity
GO:0043208	0.000257	glycosphingolipid binding
GO:0043141	0.000257	ATP-dependent 5'-3' DNA helicase activity
GO:0042289	0.000257	MHC class II protein binding
GO:0036080	0.000257	purine nucleotide-sugar transmembrane transporter activity
GO:0035612	0.000257	AP-2 adaptor complex binding
GO:0035514	0.000257	DNA demethylase activity
GO:0034069	0.000257	aminoglycoside N-acetyltransferase activity
GO:0033743	0.000257	peptide-methionine (R)-S-oxide reductase activity
GO:0033300	0.000257	dehydroascorbic acid transporter activity
GO:0032557	0.000257	pyrimidine ribonucleotide binding
GO:0032554	0.000257	purine deoxyribonucleotide binding
GO:0032551	0.000257	pyrimidine ribonucleoside binding
GO:0032135	0.000257	DNA insertion or deletion binding
GO:0031698	0.000257	beta-2 adrenergic receptor binding
GO:0031404	0.000257	chloride ion binding
GO:0030957	0.000257	Tat protein binding
GO:0030598	0.000257	rRNA N-glycosylase activity
GO:0030597	0.000257	RNA glycosylase activity
GO:0022858	0.000257	alanine transmembrane transporter activity
GO:0022841	0.000257	potassium ion leak channel activity
GO:0019869	0.000257	chloride channel inhibitor activity
GO:0019864	0.000257	IgG binding
GO:0019788	0.000257	NEDD8 transferase activity
GO:0019784	0.000257	NEDD8-specific protease activity
GO:0018812	0.000257	3-hydroxyacyl-CoA dehydratase activity
GO:0017050	0.000257	D-erythro-sphingosine kinase activity
GO:0017017	0.000257	MAP kinase tyrosine/serine/threonine phosphatase activity
GO:0017002	0.000257	activin-activated receptor activity
GO:0016847	0.000257	1-aminocyclopropane-1-carboxylate synthase activity
GO:0016815	0.000257	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in nitriles
GO:0016716	0.000257	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, another compound as one donor, and incorporation of one atom of oxygen
GO:0016695	0.000257	oxidoreductase activity, acting on hydrogen as donor
GO:0016657	0.000257	oxidoreductase activity, acting on NAD(P)H, nitrogenous group as acceptor
GO:0016652	0.000257	oxidoreductase activity, acting on NAD(P)H, NAD(P) as acceptor
GO:0016415	0.000257	octanoyltransferase activity
GO:0016300	0.000257	tRNA (uracil) methyltransferase activity
GO:0015603	0.000257	iron chelate transmembrane transporter activity
GO:0015369	0.000257	calcium:proton antiporter activity
GO:0015343	0.000257	siderophore transmembrane transporter activity
GO:0015266	0.000257	protein channel activity
GO:0015183	0.000257	L-aspartate transmembrane transporter activity
GO:0015180	0.000257	L-alanine transmembrane transporter activity
GO:0015151	0.000257	alpha-glucoside transmembrane transporter activity
GO:0015099	0.000257	nickel cation transmembrane transporter activity
GO:0010997	0.000257	anaphase-promoting complex binding
GO:0010487	0.000257	thermospermine synthase activity
GO:0010436	0.000257	carotenoid dioxygenase activity
GO:0009977	0.000257	proton motive force dependent protein transmembrane transporter activity
GO:0009019	0.000257	tRNA (guanine-N1-)-methyltransferase activity
GO:0009001	0.000257	serine O-acetyltransferase activity
GO:0008905	0.000257	mannose-phosphate guanylyltransferase activity
GO:0008745	0.000257	N-acetylmuramoyl-L-alanine amidase activity
GO:0008506	0.000257	sucrose:proton symporter activity
GO:0008441	0.000257	3'(2'),5'-bisphosphate nucleotidase activity
GO:0008440	0.000257	inositol-1,4,5-trisphosphate 3-kinase activity
GO:0008420	0.000257	CTD phosphatase activity
GO:0008294	0.000257	calcium- and calmodulin-responsive adenylate cyclase activity
GO:0008240	0.000257	tripeptidyl-peptidase activity
GO:0008192	0.000257	RNA guanylyltransferase activity
GO:0008073	0.000257	ornithine decarboxylase inhibitor activity
GO:0008046	0.000257	axon guidance receptor activity
GO:0005148	0.000257	prolactin receptor binding
GO:0005087	0.000257	Ran guanyl-nucleotide exchange factor activity
GO:0005034	0.000257	osmosensor activity
GO:0005030	0.000257	neurotrophin receptor activity
GO:0005007	0.000257	fibroblast growth factor-activated receptor activity
GO:0005005	0.000257	transmembrane-ephrin receptor activity
GO:0005000	0.000257	vasopressin receptor activity
GO:0004995	0.000257	tachykinin receptor activity
GO:0004982	0.000257	N-formyl peptide receptor activity
GO:0004974	0.000257	leukotriene receptor activity
GO:0004969	0.000257	histamine receptor activity
GO:0004859	0.000257	phospholipase inhibitor activity
GO:0004802	0.000257	transketolase activity
GO:0004800	0.000257	thyroxine 5'-deiodinase activity
GO:0004771	0.000257	sterol esterase activity
GO:0004740	0.000257	pyruvate dehydrogenase (acetyl-transferring) kinase activity
GO:0004731	0.000257	purine-nucleoside phosphorylase activity
GO:0004698	0.000257	calcium-dependent protein kinase C activity
GO:0004657	0.000257	proline dehydrogenase activity
GO:0004656	0.000257	procollagen-proline 4-dioxygenase activity
GO:0004605	0.000257	phosphatidate cytidylyltransferase activity
GO:0004585	0.000257	ornithine carbamoyltransferase activity
GO:0004525	0.000257	ribonuclease III activity
GO:0004512	0.000257	inositol-3-phosphate synthase activity
GO:0004505	0.000257	phenylalanine 4-monooxygenase activity
GO:0004476	0.000257	mannose-6-phosphate isomerase activity
GO:0004474	0.000257	malate synthase activity
GO:0004468	0.000257	lysine N-acetyltransferase activity, acting on acetyl phosphate as donor
GO:0004445	0.000257	inositol-polyphosphate 5-phosphatase activity
GO:0004422	0.000257	hypoxanthine phosphoribosyltransferase activity
GO:0004416	0.000257	hydroxyacylglutathione hydrolase activity
GO:0004382	0.000257	guanosine-diphosphatase activity
GO:0004373	0.000257	glycogen (starch) synthase activity
GO:0004367	0.000257	glycerol-3-phosphate dehydrogenase [NAD+] activity
GO:0004152	0.000257	dihydroorotate dehydrogenase activity
GO:0004148	0.000257	dihydrolipoyl dehydrogenase activity
GO:0004133	0.000257	glycogen debranching enzyme activity
GO:0004104	0.000257	cholinesterase activity
GO:0004088	0.000257	carbamoyl-phosphate synthase (glutamine-hydrolyzing) activity
GO:0004064	0.000257	arylesterase activity
GO:0004046	0.000257	aminoacylase activity
GO:0004020	0.000257	adenylylsulfate kinase activity
GO:0004019	0.000257	adenylosuccinate synthase activity
GO:0003972	0.000257	RNA ligase (ATP) activity
GO:0003884	0.000257	D-amino-acid oxidase activity
GO:0003870	0.000257	5-aminolevulinate synthase activity
GO:0003855	0.000257	3-dehydroquinate dehydratase activity
GO:0003846	0.000257	2-acylglycerol O-acyltransferase activity
GO:0001872	0.000257	(1->3)-beta-D-glucan binding
GO:0001730	0.000257	2'-5'-oligoadenylate synthetase activity
GO:0001727	0.000257	lipid kinase activity
GO:0001608	0.000257	G-protein coupled nucleotide receptor activity
GO:0000703	0.000257	oxidized pyrimidine nucleobase lesion DNA N-glycosylase activity
GO:0000405	0.000257	bubble DNA binding
GO:0000285	0.000257	1-phosphatidylinositol-3-phosphate 5-kinase activity
GO:0000268	0.000257	peroxisome targeting sequence binding
GO:0000257	0.000257	nitrilase activity
GO:0097493	0.000228	structural molecule activity conferring elasticity
GO:0097351	0.000228	toxin-antitoxin pair type II binding
GO:0097157	0.000228	pre-mRNA intronic binding
GO:0086006	0.000228	voltage-gated sodium channel activity involved in cardiac muscle cell action potential
GO:0080079	0.000228	cellobiose glucosidase activity
GO:0080030	0.000228	methyl indole-3-acetate esterase activity
GO:0071972	0.000228	peptidoglycan L,D-transpeptidase activity
GO:0071558	0.000228	histone demethylase activity (H3-K27 specific)
GO:0070891	0.000228	lipoteichoic acid binding
GO:0070883	0.000228	pre-miRNA binding
GO:0070704	0.000228	sterol desaturase activity
GO:0070700	0.000228	BMP receptor binding
GO:0070051	0.000228	fibrinogen binding
GO:0070025	0.000228	carbon monoxide binding
GO:0052716	0.000228	hydroquinone:oxygen oxidoreductase activity
GO:0052659	0.000228	inositol-1,3,4,5-tetrakisphosphate 5-phosphatase activity
GO:0052621	0.000228	diguanylate cyclase activity
GO:0051748	0.000228	UTP-monosaccharide-1-phosphate uridylyltransferase activity
GO:0051429	0.000228	corticotropin-releasing hormone receptor binding
GO:0050700	0.000228	CARD domain binding
GO:0050525	0.000228	cutinase activity
GO:0048495	0.000228	Roundabout binding
GO:0047714	0.000228	galactolipase activity
GO:0047635	0.000228	alanine-oxo-acid transaminase activity
GO:0047623	0.000228	adenosine-phosphate deaminase activity
GO:0047499	0.000228	calcium-independent phospholipase A2 activity
GO:0046996	0.000228	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, with NAD(P)H as one donor, and the other dehydrogenated
GO:0046789	0.000228	host cell surface receptor binding
GO:0045735	0.000228	nutrient reservoir activity
GO:0045174	0.000228	glutathione dehydrogenase (ascorbate) activity
GO:0045145	0.000228	single-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0042895	0.000228	antibiotic transporter activity
GO:0042809	0.000228	vitamin D receptor binding
GO:0042799	0.000228	histone methyltransferase activity (H4-K20 specific)
GO:0042609	0.000228	CD4 receptor binding
GO:0042392	0.000228	sphingosine-1-phosphate phosphatase activity
GO:0042086	0.000228	5-methyl-5,6,7,8-tetrahydromethanopterin-dependent methyltransferase activity
GO:0042084	0.000228	5-methyltetrahydrofolate-dependent methyltransferase activity
GO:0035473	0.000228	lipase binding
GO:0035256	0.000228	G-protein coupled glutamate receptor binding
GO:0034739	0.000228	histone deacetylase activity (H4-K16 specific)
GO:0034711	0.000228	inhibin binding
GO:0034513	0.000228	box H/ACA snoRNA binding
GO:0034481	0.000228	chondroitin sulfotransferase activity
GO:0034452	0.000228	dynactin binding
GO:0033677	0.000228	DNA/RNA helicase activity
GO:0033192	0.000228	calmodulin-dependent protein phosphatase activity
GO:0031370	0.000228	eukaryotic initiation factor 4G binding
GO:0031208	0.000228	POZ domain binding
GO:0031127	0.000228	alpha-(1,2)-fucosyltransferase activity
GO:0031071	0.000228	cysteine desulfurase activity
GO:0031013	0.000228	troponin I binding
GO:0030306	0.000228	ADP-ribosylation factor binding
GO:0030269	0.000228	tetrahydromethanopterin S-methyltransferase activity
GO:0030248	0.000228	cellulose binding
GO:0022889	0.000228	serine transmembrane transporter activity
GO:0019992	0.000228	diacylglycerol binding
GO:0019966	0.000228	interleukin-1 binding
GO:0019763	0.000228	immunoglobulin receptor activity
GO:0019166	0.000228	trans-2-enoyl-CoA reductase (NADPH) activity
GO:0017116	0.000228	single-stranded DNA-dependent ATP-dependent DNA helicase activity
GO:0017070	0.000228	U6 snRNA binding
GO:0017024	0.000228	myosin I binding
GO:0017018	0.000228	myosin phosphatase activity
GO:0016979	0.000228	lipoate-protein ligase activity
GO:0016892	0.000228	endoribonuclease activity, producing 3'-phosphomonoesters
GO:0016794	0.000228	diphosphoric monoester hydrolase activity
GO:0016703	0.000228	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of one atom of oxygen (internal monooxygenases or internal mixed function oxidases)
GO:0016663	0.000228	oxidoreductase activity, acting on other nitrogenous compounds as donors, oxygen as acceptor
GO:0016434	0.000228	rRNA (cytosine) methyltransferase activity
GO:0016433	0.000228	rRNA (adenine) methyltransferase activity
GO:0016420	0.000228	malonyltransferase activity
GO:0016231	0.000228	beta-N-acetylglucosaminidase activity
GO:0016176	0.000228	superoxide-generating NADPH oxidase activator activity
GO:0015417	0.000228	polyamine-transporting ATPase activity
GO:0015379	0.000228	potassium:chloride symporter activity
GO:0015347	0.000228	sodium-independent organic anion transmembrane transporter activity
GO:0015307	0.000228	drug:proton antiporter activity
GO:0015210	0.000228	uracil transmembrane transporter activity
GO:0015185	0.000228	gamma-aminobutyric acid transmembrane transporter activity
GO:0015146	0.000228	pentose transmembrane transporter activity
GO:0015105	0.000228	arsenite transmembrane transporter activity
GO:0010521	0.000228	telomerase inhibitor activity
GO:0010284	0.000228	lariciresinol reductase activity
GO:0009882	0.000228	blue light photoreceptor activity
GO:0009679	0.000228	hexose:proton symporter activity
GO:0009374	0.000228	biotin binding
GO:0009044	0.000228	xylan 1,4-beta-xylosidase activity
GO:0008897	0.000228	holo-[acyl-carrier-protein] synthase activity
GO:0008893	0.000228	guanosine-3',5'-bis(diphosphate) 3'-diphosphatase activity
GO:0008808	0.000228	cardiolipin synthase activity
GO:0008796	0.000228	bis(5'-nucleosyl)-tetraphosphatase activity
GO:0008746	0.000228	NAD(P)+ transhydrogenase activity
GO:0008705	0.000228	methionine synthase activity
GO:0008503	0.000228	benzodiazepine receptor activity
GO:0008467	0.000228	[heparan sulfate]-glucosamine 3-sulfotransferase 1 activity
GO:0008453	0.000228	alanine-glyoxylate transaminase activity
GO:0008429	0.000228	phosphatidylethanolamine binding
GO:0008401	0.000228	retinoic acid 4-hydroxylase activity
GO:0008251	0.000228	tRNA-specific adenosine deaminase activity
GO:0008177	0.000228	succinate dehydrogenase (ubiquinone) activity
GO:0008140	0.000228	cAMP response element binding protein binding
GO:0008108	0.000228	UDP-glucose:hexose-1-phosphate uridylyltransferase activity
GO:0008048	0.000228	calcium sensitive guanylate cyclase activator activity
GO:0005314	0.000228	high-affinity glutamate transmembrane transporter activity
GO:0005222	0.000228	intracellular cAMP activated cation channel activity
GO:0005167	0.000228	neurotrophin TRK receptor binding
GO:0005134	0.000228	interleukin-2 receptor binding
GO:0005004	0.000228	GPI-linked ephrin receptor activity
GO:0004957	0.000228	prostaglandin E receptor activity
GO:0004939	0.000228	beta-adrenergic receptor activity
GO:0004937	0.000228	alpha1-adrenergic receptor activity
GO:0004904	0.000228	interferon receptor activity
GO:0004886	0.000228	9-cis retinoic acid receptor activity
GO:0004839	0.000228	ubiquitin activating enzyme activity
GO:0004833	0.000228	tryptophan 2,3-dioxygenase activity
GO:0004803	0.000228	transposase activity
GO:0004764	0.000228	shikimate 3-dehydrogenase (NADP+) activity
GO:0004719	0.000228	protein-L-isoaspartate (D-aspartate) O-methyltransferase activity
GO:0004703	0.000228	G-protein coupled receptor kinase activity
GO:0004692	0.000228	cGMP-dependent protein kinase activity
GO:0004671	0.000228	protein C-terminal S-isoprenylcysteine carboxyl O-methyltransferase activity
GO:0004660	0.000228	protein farnesyltransferase activity
GO:0004616	0.000228	phosphogluconate dehydrogenase (decarboxylating) activity
GO:0004615	0.000228	phosphomannomutase activity
GO:0004594	0.000228	pantothenate kinase activity
GO:0004590	0.000228	orotidine-5'-phosphate decarboxylase activity
GO:0004586	0.000228	ornithine decarboxylase activity
GO:0004503	0.000228	monophenol monooxygenase activity
GO:0004475	0.000228	mannose-1-phosphate guanylyltransferase activity
GO:0004473	0.000228	malate dehydrogenase (decarboxylating) (NADP+) activity
GO:0004452	0.000228	isopentenyl-diphosphate delta-isomerase activity
GO:0004360	0.000228	glutamine-fructose-6-phosphate transaminase (isomerizing) activity
GO:0004357	0.000228	glutamate-cysteine ligase activity
GO:0004333	0.000228	fumarate hydratase activity
GO:0004305	0.000228	ethanolamine kinase activity
GO:0004151	0.000228	dihydroorotase activity
GO:0004146	0.000228	dihydrofolate reductase activity
GO:0004145	0.000228	diamine N-acetyltransferase activity
GO:0004100	0.000228	chitin synthase activity
GO:0004056	0.000228	argininosuccinate lyase activity
GO:0004024	0.000228	alcohol dehydrogenase activity, zinc-dependent
GO:0004021	0.000228	L-alanine:2-oxoglutarate aminotransferase activity
GO:0003983	0.000228	UTP:glucose-1-phosphate uridylyltransferase activity
GO:0003956	0.000228	NAD(P)+-protein-arginine ADP-ribosyltransferase activity
GO:0003876	0.000228	AMP deaminase activity
GO:0003867	0.000228	4-aminobutyrate transaminase activity
GO:0003849	0.000228	3-deoxy-7-phosphoheptulonate synthase activity
GO:0001849	0.000228	complement component C1q binding
GO:0001588	0.000228	dopamine neurotransmitter receptor activity, coupled via Gs
GO:0001224	0.000228	RNA polymerase II transcription cofactor binding
GO:0001206	0.000228	transcriptional repressor activity, RNA polymerase II distal enhancer sequence-specific binding
GO:0001131	0.000228	transcription factor activity, bacterial-type RNA polymerase core promoter proximal region sequence-specific binding
GO:0001025	0.000228	RNA polymerase III transcription factor binding
GO:0000828	0.000228	inositol hexakisphosphate kinase activity
GO:0000286	0.000228	alanine dehydrogenase activity
GO:0000150	0.000228	recombinase activity
GO:0000033	0.000228	alpha-1,3-mannosyltransferase activity
GO:2001070	0.000200	starch binding
GO:1990714	0.000200	hydroxyproline O-galactosyltransferase activity
GO:1990380	0.000200	Lys48-specific deubiquitinase activity
GO:1990254	0.000200	keratin filament binding
GO:1990188	0.000200	euchromatin binding
GO:1901375	0.000200	acetate ester transmembrane transporter activity
GO:0089721	0.000200	phosphoenolpyruvate transmembrane transporter activity
GO:0089720	0.000200	caspase binding
GO:0080046	0.000200	quercetin 4'-O-glucosyltransferase activity
GO:0080019	0.000200	fatty-acyl-CoA reductase (alcohol-forming) activity
GO:0071917	0.000200	triose-phosphate transmembrane transporter activity
GO:0071111	0.000200	cyclic-guanylate-specific phosphodiesterase activity
GO:0070990	0.000200	snRNP binding
GO:0070697	0.000200	activin receptor binding
GO:0070547	0.000200	L-tyrosine aminotransferase activity
GO:0070095	0.000200	fructose-6-phosphate binding
GO:0070026	0.000200	nitric oxide binding
GO:0052725	0.000200	inositol-1,3,4-trisphosphate 6-kinase activity
GO:0052658	0.000200	inositol-1,4,5-trisphosphate 5-phosphatase activity
GO:0051575	0.000200	5'-deoxyribose-5-phosphate lyase activity
GO:0051538	0.000200	3 iron, 4 sulfur cluster binding
GO:0051430	0.000200	corticotropin-releasing hormone receptor 1 binding
GO:0051379	0.000200	epinephrine binding
GO:0050833	0.000200	pyruvate transmembrane transporter activity
GO:0050520	0.000200	phosphatidylcholine synthase activity
GO:0050501	0.000200	hyaluronan synthase activity
GO:0050355	0.000200	triphosphatase activity
GO:0050346	0.000200	trans-L-3-hydroxyproline dehydratase activity
GO:0050343	0.000200	trans-2-enoyl-CoA reductase (NAD+) activity
GO:0050254	0.000200	rhodopsin kinase activity
GO:0050062	0.000200	long-chain-fatty-acyl-CoA reductase activity
GO:0047760	0.000200	butyrate-CoA ligase activity
GO:0047663	0.000200	aminoglycoside 6'-N-acetyltransferase activity
GO:0047066	0.000200	phospholipid-hydroperoxide glutathione peroxidase activity
GO:0046978	0.000200	TAP1 binding
GO:0046976	0.000200	histone methyltransferase activity (H3-K27 specific)
GO:0046857	0.000200	oxidoreductase activity, acting on other nitrogenous compounds as donors, with NAD or NADP as acceptor
GO:0046820	0.000200	4-amino-4-deoxychorismate synthase activity
GO:0046715	0.000200	borate transmembrane transporter activity
GO:0046555	0.000200	acetylxylan esterase activity
GO:0046421	0.000200	methylisocitrate lyase activity
GO:0045436	0.000200	lycopene beta cyclase activity
GO:0045322	0.000200	unmethylated CpG binding
GO:0043812	0.000200	phosphatidylinositol-4-phosphate phosphatase activity
GO:0043426	0.000200	MRF binding
GO:0043237	0.000200	laminin-1 binding
GO:0043184	0.000200	vascular endothelial growth factor receptor 2 binding
GO:0043035	0.000200	chromatin insulator sequence binding
GO:0042608	0.000200	T cell receptor binding
GO:0042300	0.000200	beta-amyrin synthase activity
GO:0036435	0.000200	K48-linked polyubiquitin binding
GO:0036033	0.000200	mediator complex binding
GO:0035596	0.000200	methylthiotransferase activity
GO:0035374	0.000200	chondroitin sulfate binding
GO:0034648	0.000200	histone demethylase activity (H3-dimethyl-K4 specific)
GO:0034647	0.000200	histone demethylase activity (H3-trimethyl-K4 specific)
GO:0034618	0.000200	arginine binding
GO:0034190	0.000200	apolipoprotein receptor binding
GO:0033862	0.000200	UMP kinase activity
GO:0033265	0.000200	choline binding
GO:0033229	0.000200	cysteine transmembrane transporter activity
GO:0032795	0.000200	heterotrimeric G-protein binding
GO:0032558	0.000200	adenyl deoxyribonucleotide binding
GO:0032050	0.000200	clathrin heavy chain binding
GO:0031821	0.000200	G-protein coupled serotonin receptor binding
GO:0031782	0.000200	type 4 melanocortin receptor binding
GO:0031779	0.000200	melanocortin receptor binding
GO:0031749	0.000200	D2 dopamine receptor binding
GO:0031726	0.000200	CCR1 chemokine receptor binding
GO:0031716	0.000200	calcitonin receptor binding
GO:0031702	0.000200	type 1 angiotensin receptor binding
GO:0031685	0.000200	adenosine receptor binding
GO:0031628	0.000200	opioid receptor binding
GO:0030984	0.000200	kininogen binding
GO:0030881	0.000200	beta-2-microglobulin binding
GO:0030619	0.000200	U1 snRNA binding
GO:0030570	0.000200	pectate lyase activity
GO:0030378	0.000200	serine racemase activity
GO:0030172	0.000200	troponin C binding
GO:0022897	0.000200	proton-dependent peptide secondary active transmembrane transporter activity
GO:0019958	0.000200	C-X-C chemokine binding
GO:0019911	0.000200	structural constituent of myelin sheath
GO:0019171	0.000200	3-hydroxyacyl-[acyl-carrier-protein] dehydratase activity
GO:0019107	0.000200	myristoyltransferase activity
GO:0017153	0.000200	sodium:dicarboxylate symporter activity
GO:0017150	0.000200	tRNA dihydrouridine synthase activity
GO:0017057	0.000200	6-phosphogluconolactonase activity
GO:0016936	0.000200	galactoside binding
GO:0016918	0.000200	retinal binding
GO:0016871	0.000200	cycloartenol synthase activity
GO:0016802	0.000200	trialkylsulfonium hydrolase activity
GO:0016715	0.000200	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced ascorbate as one donor, and incorporation of one atom of oxygen
GO:0016494	0.000200	C-X-C chemokine receptor activity
GO:0016454	0.000200	C-palmitoyltransferase activity
GO:0016429	0.000200	tRNA (adenine-N1-)-methyltransferase activity
GO:0016428	0.000200	tRNA (cytosine-5-)-methyltransferase activity
GO:0016361	0.000200	activin receptor activity, type I
GO:0016297	0.000200	acyl-[acyl-carrier-protein] hydrolase activity
GO:0016161	0.000200	beta-amylase activity
GO:0016019	0.000200	peptidoglycan receptor activity
GO:0015350	0.000200	methotrexate transporter activity
GO:0015333	0.000200	peptide:proton symporter activity
GO:0015254	0.000200	glycerol channel activity
GO:0015252	0.000200	hydrogen ion channel activity
GO:0015234	0.000200	thiamine transmembrane transporter activity
GO:0015229	0.000200	L-ascorbic acid transporter activity
GO:0015207	0.000200	adenine transmembrane transporter activity
GO:0015194	0.000200	L-serine transmembrane transporter activity
GO:0010329	0.000200	auxin efflux transmembrane transporter activity
GO:0009824	0.000200	AMP dimethylallyltransferase activity
GO:0009002	0.000200	serine-type D-Ala-D-Ala carboxypeptidase activity
GO:0008898	0.000200	S-adenosylmethionine-homocysteine S-methyltransferase activity
GO:0008889	0.000200	glycerophosphodiester phosphodiesterase activity
GO:0008825	0.000200	cyclopropane-fatty-acyl-phospholipid synthase activity
GO:0008759	0.000200	UDP-3-O-[3-hydroxymyristoyl] N-acetylglucosamine deacetylase activity
GO:0008675	0.000200	2-dehydro-3-deoxy-phosphogluconate aldolase activity
GO:0008525	0.000200	phosphatidylcholine transporter activity
GO:0008474	0.000200	palmitoyl-(protein) hydrolase activity
GO:0008449	0.000200	N-acetylglucosamine-6-sulfatase activity
GO:0008413	0.000200	8-oxo-7,8-dihydroguanosine triphosphate pyrophosphatase activity
GO:0008332	0.000200	low voltage-gated calcium channel activity
GO:0008311	0.000200	double-stranded DNA 3'-5' exodeoxyribonuclease activity
GO:0008273	0.000200	calcium, potassium:sodium antiporter activity
GO:0008142	0.000200	oxysterol binding
GO:0008093	0.000200	cytoskeletal adaptor activity
GO:0005460	0.000200	UDP-glucose transmembrane transporter activity
GO:0005365	0.000200	myo-inositol transmembrane transporter activity
GO:0005329	0.000200	dopamine transmembrane transporter activity
GO:0005302	0.000200	L-tyrosine transmembrane transporter activity
GO:0005277	0.000200	acetylcholine transmembrane transporter activity
GO:0005250	0.000200	A-type (transient outward) potassium channel activity
GO:0005234	0.000200	extracellular-glutamate-gated ion channel activity
GO:0005219	0.000200	ryanodine-sensitive calcium-release channel activity
GO:0005132	0.000200	type I interferon receptor binding
GO:0005049	0.000200	nuclear export signal receptor activity
GO:0004971	0.000200	AMPA glutamate receptor activity
GO:0004966	0.000200	galanin receptor activity
GO:0004908	0.000200	interleukin-1 receptor activity
GO:0004838	0.000200	L-tyrosine:2-oxoglutarate aminotransferase activity
GO:0004825	0.000200	methionine-tRNA ligase activity
GO:0004797	0.000200	thymidine kinase activity
GO:0004794	0.000200	L-threonine ammonia-lyase activity
GO:0004766	0.000200	spermidine synthase activity
GO:0004765	0.000200	shikimate kinase activity
GO:0004758	0.000200	serine C-palmitoyltransferase activity
GO:0004751	0.000200	ribose-5-phosphate isomerase activity
GO:0004735	0.000200	pyrroline-5-carboxylate reductase activity
GO:0004716	0.000200	receptor signaling protein tyrosine kinase activity
GO:0004687	0.000200	myosin light chain kinase activity
GO:0004663	0.000200	Rab geranylgeranyltransferase activity
GO:0004651	0.000200	polynucleotide 5'-phosphatase activity
GO:0004649	0.000200	poly(ADP-ribose) glycohydrolase activity
GO:0004617	0.000200	phosphoglycerate dehydrogenase activity
GO:0004576	0.000200	oligosaccharyl transferase activity
GO:0004574	0.000200	oligo-1,6-glucosidase activity
GO:0004528	0.000200	phosphodiesterase I activity
GO:0004489	0.000200	methylenetetrahydrofolate reductase (NAD(P)H) activity
GO:0004450	0.000200	isocitrate dehydrogenase (NADP+) activity
GO:0004368	0.000200	glycerol-3-phosphate dehydrogenase activity
GO:0004363	0.000200	glutathione synthase activity
GO:0004353	0.000200	glutamate dehydrogenase [NAD(P)+] activity
GO:0004335	0.000200	galactokinase activity
GO:0004324	0.000200	ferredoxin-NADP+ reductase activity
GO:0004127	0.000200	cytidylate kinase activity
GO:0004113	0.000200	2',3'-cyclic-nucleotide 3'-phosphodiesterase activity
GO:0004105	0.000200	choline-phosphate cytidylyltransferase activity
GO:0004095	0.000200	carnitine O-palmitoyltransferase activity
GO:0004059	0.000200	aralkylamine N-acetyltransferase activity
GO:0004044	0.000200	amidophosphoribosyltransferase activity
GO:0004040	0.000200	amidase activity
GO:0004013	0.000200	adenosylhomocysteinase activity
GO:0004001	0.000200	adenosine kinase activity
GO:0003990	0.000200	acetylcholinesterase activity
GO:0003986	0.000200	acetyl-CoA hydrolase activity
GO:0003977	0.000200	UDP-N-acetylglucosamine diphosphorylase activity
GO:0003973	0.000200	(S)-2-hydroxy-acid oxidase activity
GO:0003968	0.000200	RNA-directed RNA polymerase activity
GO:0003939	0.000200	L-iditol 2-dehydrogenase activity
GO:0003919	0.000200	FMN adenylyltransferase activity
GO:0003836	0.000200	beta-galactoside (CMP) alpha-2,3-sialyltransferase activity
GO:0003825	0.000200	alpha,alpha-trehalose-phosphate synthase (UDP-forming) activity
GO:0003681	0.000200	bent DNA binding
GO:0002151	0.000200	G-quadruplex RNA binding
GO:0002054	0.000200	nucleobase binding
GO:0001167	0.000200	RNA polymerase I transcription factor activity, sequence-specific DNA binding
GO:0001070	0.000200	RNA binding transcription factor activity
GO:0000829	0.000200	inositol heptakisphosphate kinase activity
GO:0000403	0.000200	Y-form DNA binding
GO:0000064	0.000200	L-ornithine transmembrane transporter activity
GO:1990715	0.000171	mRNA CDS binding
GO:1990538	0.000171	xylan O-acetyltransferase activity
GO:1990405	0.000171	protein antigen binding
GO:1901702	0.000171	salt transmembrane transporter activity
GO:0098748	0.000171	endocytic adaptor activity
GO:0098634	0.000171	protein binding involved in cell-matrix adhesion
GO:0098519	0.000171	nucleotide phosphatase activity, acting on free nucleotides
GO:0097322	0.000171	7SK snRNA binding
GO:0097163	0.000171	sulfur carrier activity
GO:0097100	0.000171	supercoiled DNA binding
GO:0086083	0.000171	cell adhesive protein binding involved in bundle of His cell-Purkinje myocyte communication
GO:0080039	0.000171	xyloglucan endotransglucosylase activity
GO:0080031	0.000171	methyl salicylate esterase activity
GO:0071614	0.000171	linoleic acid epoxygenase activity
GO:0071253	0.000171	connexin binding
GO:0070878	0.000171	primary miRNA binding
GO:0070853	0.000171	myosin VI binding
GO:0070818	0.000171	protoporphyrinogen oxidase activity
GO:0070815	0.000171	peptidyl-lysine 5-dioxygenase activity
GO:0070728	0.000171	leucine binding
GO:0070579	0.000171	methylcytosine dioxygenase activity
GO:0070573	0.000171	metallodipeptidase activity
GO:0070538	0.000171	oleic acid binding
GO:0070336	0.000171	flap-structured DNA binding
GO:0070259	0.000171	tyrosyl-DNA phosphodiesterase activity
GO:0070087	0.000171	chromo shadow domain binding
GO:0070004	0.000171	cysteine-type exopeptidase activity
GO:0061578	0.000171	Lys63-specific deubiquitinase activity
GO:0061575	0.000171	cyclin-dependent protein serine/threonine kinase activator activity
GO:0060228	0.000171	phosphatidylcholine-sterol O-acyltransferase activator activity
GO:0060002	0.000171	plus-end directed microfilament motor activity
GO:0055131	0.000171	C3HC4-type RING finger domain binding
GO:0052890	0.000171	oxidoreductase activity, acting on the CH-CH group of donors, with a flavin as acceptor
GO:0052738	0.000171	oxidoreductase activity, acting on the aldehyde or oxo group of donors, with a quinone or similar compound as acceptor
GO:0052736	0.000171	beta-glucanase activity
GO:0052726	0.000171	inositol-1,3,4-trisphosphate 5-kinase activity
GO:0051989	0.000171	coproporphyrinogen dehydrogenase activity
GO:0051912	0.000171	CoB--CoM heterodisulfide reductase activity
GO:0051753	0.000171	mannan synthase activity
GO:0051734	0.000171	ATP-dependent polynucleotide kinase activity
GO:0051525	0.000171	NFAT protein binding
GO:0051434	0.000171	BH3 domain binding
GO:0051425	0.000171	PTB domain binding
GO:0051021	0.000171	GDP-dissociation inhibitor binding
GO:0050733	0.000171	RS domain binding
GO:0050649	0.000171	testosterone 6-beta-hydroxylase activity
GO:0050567	0.000171	glutaminyl-tRNA synthase (glutamine-hydrolyzing) activity
GO:0050473	0.000171	arachidonate 15-lipoxygenase activity
GO:0050263	0.000171	ribosylpyrimidine nucleosidase activity
GO:0050017	0.000171	L-3-cyanoalanine synthase activity
GO:0048403	0.000171	brain-derived neurotrophic factor binding
GO:0048040	0.000171	UDP-glucuronate decarboxylase activity
GO:0047844	0.000171	deoxycytidine deaminase activity
GO:0047769	0.000171	arogenate dehydratase activity
GO:0047724	0.000171	inosine nucleosidase activity
GO:0047710	0.000171	bis(5'-adenosyl)-triphosphatase activity
GO:0047696	0.000171	beta-adrenergic receptor kinase activity
GO:0047627	0.000171	adenylylsulfatase activity
GO:0047547	0.000171	2-methylcitrate dehydratase activity
GO:0047490	0.000171	pectin lyase activity
GO:0047196	0.000171	long-chain-alcohol O-fatty-acyltransferase activity
GO:0047134	0.000171	protein-disulfide reductase activity
GO:0046979	0.000171	TAP2 binding
GO:0046964	0.000171	3'-phosphoadenosine 5'-phosphosulfate transmembrane transporter activity
GO:0046935	0.000171	1-phosphatidylinositol-3-kinase regulator activity
GO:0046922	0.000171	peptide-O-fucosyltransferase activity
GO:0046905	0.000171	phytoene synthase activity
GO:0046624	0.000171	sphingolipid transporter activity
GO:0046537	0.000171	2,3-bisphosphoglycerate-independent phosphoglycerate mutase activity
GO:0045549	0.000171	9-cis-epoxycarotenoid dioxygenase activity
GO:0045504	0.000171	dynein heavy chain binding
GO:0045437	0.000171	uridine nucleosidase activity
GO:0045028	0.000171	G-protein coupled purinergic nucleotide receptor activity
GO:0043856	0.000171	anti-sigma factor antagonist activity
GO:0043750	0.000171	phosphatidylinositol alpha-mannosyltransferase activity
GO:0043515	0.000171	kinetochore binding
GO:0043262	0.000171	adenosine-diphosphatase activity
GO:0043136	0.000171	glycerol-3-phosphatase activity
GO:0042903	0.000171	tubulin deacetylase activity
GO:0042602	0.000171	riboflavin reductase (NADPH) activity
GO:0042299	0.000171	lupeol synthase activity
GO:0038191	0.000171	neuropilin binding
GO:0038100	0.000171	nodal binding
GO:0038085	0.000171	vascular endothelial growth factor binding
GO:0038036	0.000171	sphingosine-1-phosphate receptor activity
GO:0035939	0.000171	microsatellite binding
GO:0035375	0.000171	zymogen binding
GO:0035368	0.000171	selenocysteine insertion sequence binding
GO:0035299	0.000171	inositol pentakisphosphate 2-kinase activity
GO:0035243	0.000171	protein-arginine omega-N symmetric methyltransferase activity
GO:0035175	0.000171	histone kinase activity (H3-S10 specific)
GO:0035014	0.000171	phosphatidylinositol 3-kinase regulator activity
GO:0034511	0.000171	U3 snoRNA binding
GO:0034235	0.000171	GPI anchor binding
GO:0034056	0.000171	estrogen response element binding
GO:0033680	0.000171	ATP-dependent DNA/RNA helicase activity
GO:0033142	0.000171	progesterone receptor binding
GO:0032843	0.000171	hydroperoxide reductase activity
GO:0032564	0.000171	dATP binding
GO:0032395	0.000171	MHC class II receptor activity
GO:0032393	0.000171	MHC class I receptor activity
GO:0032184	0.000171	SUMO polymer binding
GO:0032093	0.000171	SAM domain binding
GO:0031995	0.000171	insulin-like growth factor II binding
GO:0031852	0.000171	mu-type opioid receptor binding
GO:0031730	0.000171	CCR5 chemokine receptor binding
GO:0031705	0.000171	bombesin receptor binding
GO:0031433	0.000171	telethonin binding
GO:0031014	0.000171	troponin T binding
GO:0030943	0.000171	mitochondrion targeting sequence binding
GO:0030621	0.000171	U4 snRNA binding
GO:0030618	0.000171	transforming growth factor beta receptor, pathway-specific cytoplasmic mediator activity
GO:0030611	0.000171	arsenate reductase activity
GO:0030527	0.000171	structural constituent of chromatin
GO:0030492	0.000171	hemoglobin binding
GO:0030395	0.000171	lactose binding
GO:0030350	0.000171	iron-responsive element binding
GO:0030297	0.000171	transmembrane receptor protein tyrosine kinase activator activity
GO:0030292	0.000171	protein tyrosine kinase inhibitor activity
GO:0030267	0.000171	glyoxylate reductase (NADP) activity
GO:0030023	0.000171	extracellular matrix constituent conferring elasticity
GO:0030021	0.000171	extracellular matrix structural constituent conferring compression resistance
GO:0022851	0.000171	GABA-gated chloride ion channel activity
GO:0019972	0.000171	interleukin-12 binding
GO:0019948	0.000171	SUMO activating enzyme activity
GO:0019862	0.000171	IgA binding
GO:0019799	0.000171	tubulin N-acetyltransferase activity
GO:0019137	0.000171	thioglucosidase activity
GO:0018822	0.000171	nitrile hydratase activity
GO:0018628	0.000171	terephthalate 1,2-dioxygenase activity
GO:0017128	0.000171	phospholipid scramblase activity
GO:0017095	0.000171	heparan sulfate 6-O-sulfotransferase activity
GO:0016941	0.000171	natriuretic peptide receptor activity
GO:0016900	0.000171	oxidoreductase activity, acting on the CH-OH group of donors, disulfide as acceptor
GO:0016819	0.000171	hydrolase activity, acting on acid anhydrides, in sulfonyl-containing anhydrides
GO:0016807	0.000171	cysteine-type carboxypeptidase activity
GO:0016781	0.000171	phosphotransferase activity, paired acceptors
GO:0016756	0.000171	glutathione gamma-glutamylcysteinyltransferase activity
GO:0016625	0.000171	oxidoreductase activity, acting on the aldehyde or oxo group of donors, iron-sulfur protein as acceptor
GO:0016532	0.000171	superoxide dismutase copper chaperone activity
GO:0016521	0.000171	pituitary adenylate cyclase activating polypeptide activity
GO:0016520	0.000171	growth hormone-releasing hormone receptor activity
GO:0016503	0.000171	pheromone receptor activity
GO:0016499	0.000171	orexin receptor activity
GO:0016414	0.000171	O-octanoyltransferase activity
GO:0016157	0.000171	sucrose synthase activity
GO:0015606	0.000171	spermidine transmembrane transporter activity
GO:0015574	0.000171	trehalose transmembrane transporter activity
GO:0015349	0.000171	thyroid hormone transmembrane transporter activity
GO:0015292	0.000171	uniporter activity
GO:0015272	0.000171	ATP-activated inward rectifier potassium channel activity
GO:0015265	0.000171	urea channel activity
GO:0015235	0.000171	cobalamin transporter activity
GO:0015196	0.000171	L-tryptophan transmembrane transporter activity
GO:0015188	0.000171	L-isoleucine transmembrane transporter activity
GO:0015143	0.000171	urate transmembrane transporter activity
GO:0015129	0.000171	lactate transmembrane transporter activity
GO:0015120	0.000171	phosphoglycerate transmembrane transporter activity
GO:0015119	0.000171	hexose phosphate transmembrane transporter activity
GO:0010861	0.000171	thyroid hormone receptor activator activity
GO:0010858	0.000171	calcium-dependent protein kinase regulator activity
GO:0010427	0.000171	abscisic acid binding
GO:0010279	0.000171	indole-3-acetic acid amido synthetase activity
GO:0008976	0.000171	polyphosphate kinase activity
GO:0008955	0.000171	peptidoglycan glycosyltransferase activity
GO:0008941	0.000171	nitric oxide dioxygenase activity
GO:0008909	0.000171	isochorismate synthase activity
GO:0008902	0.000171	hydroxymethylpyrimidine kinase activity
GO:0008900	0.000171	hydrogen:potassium-exchanging ATPase activity
GO:0008879	0.000171	glucose-1-phosphate thymidylyltransferase activity
GO:0008865	0.000171	fructokinase activity
GO:0008784	0.000171	alanine racemase activity
GO:0008743	0.000171	L-threonine 3-dehydrogenase activity
GO:0008728	0.000171	GTP diphosphokinase activity
GO:0008674	0.000171	2-dehydro-3-deoxy-6-phosphogalactonate aldolase activity
GO:0008673	0.000171	2-dehydro-3-deoxygluconokinase activity
GO:0008568	0.000171	microtubule-severing ATPase activity
GO:0008517	0.000171	folic acid transporter activity
GO:0008478	0.000171	pyridoxal kinase activity
GO:0008446	0.000171	GDP-mannose 4,6-dehydratase activity
GO:0008398	0.000171	sterol 14-demethylase activity
GO:0008107	0.000171	galactoside 2-alpha-L-fucosyltransferase activity
GO:0008035	0.000171	high-density lipoprotein particle binding
GO:0005499	0.000171	vitamin D binding
GO:0005497	0.000171	androgen binding
GO:0005356	0.000171	hydrogen:glucose symporter activity
GO:0005225	0.000171	volume-sensitive anion channel activity
GO:0005220	0.000171	inositol 1,4,5-trisphosphate-sensitive calcium-release channel activity
GO:0005168	0.000171	neurotrophin TRKA receptor binding
GO:0005166	0.000171	neurotrophin p75 receptor binding
GO:0005138	0.000171	interleukin-6 receptor binding
GO:0005127	0.000171	ciliary neurotrophic factor receptor binding
GO:0005094	0.000171	Rho GDP-dissociation inhibitor activity
GO:0005093	0.000171	Rab GDP-dissociation inhibitor activity
GO:0005047	0.000171	signal recognition particle binding
GO:0005017	0.000171	platelet-derived growth factor-activated receptor activity
GO:0004980	0.000171	melanocyte-stimulating hormone receptor activity
GO:0004949	0.000171	cannabinoid receptor activity
GO:0004945	0.000171	angiotensin type II receptor activity
GO:0004897	0.000171	ciliary neurotrophic factor receptor activity
GO:0004853	0.000171	uroporphyrinogen decarboxylase activity
GO:0004852	0.000171	uroporphyrinogen-III synthase activity
GO:0004846	0.000171	urate oxidase activity
GO:0004834	0.000171	tryptophan synthase activity
GO:0004832	0.000171	valine-tRNA ligase activity
GO:0004826	0.000171	phenylalanine-tRNA ligase activity
GO:0004824	0.000171	lysine-tRNA ligase activity
GO:0004815	0.000171	aspartate-tRNA ligase activity
GO:0004813	0.000171	alanine-tRNA ligase activity
GO:0004809	0.000171	tRNA (guanine-N2-)-methyltransferase activity
GO:0004801	0.000171	sedoheptulose-7-phosphate:D-glyceraldehyde-3-phosphate glyceronetransferase activity
GO:0004798	0.000171	thymidylate kinase activity
GO:0004729	0.000171	oxygen-dependent protoporphyrinogen oxidase activity
GO:0004706	0.000171	JUN kinase kinase kinase activity
GO:0004667	0.000171	prostaglandin-D synthase activity
GO:0004658	0.000171	propionyl-CoA carboxylase activity
GO:0004643	0.000171	phosphoribosylaminoimidazolecarboxamide formyltransferase activity
GO:0004595	0.000171	pantetheine-phosphate adenylyltransferase activity
GO:0004588	0.000171	orotate phosphoribosyltransferase activity
GO:0004587	0.000171	ornithine-oxo-acid transaminase activity
GO:0004579	0.000171	dolichyl-diphosphooligosaccharide-protein glycotransferase activity
GO:0004566	0.000171	beta-glucuronidase activity
GO:0004515	0.000171	nicotinate-nucleotide adenylyltransferase activity
GO:0004514	0.000171	nicotinate-nucleotide diphosphorylase (carboxylating) activity
GO:0004507	0.000171	steroid 11-beta-monooxygenase activity
GO:0004482	0.000171	mRNA (guanine-N7-)-methyltransferase activity
GO:0004477	0.000171	methenyltetrahydrofolate cyclohydrolase activity
GO:0004471	0.000171	malate dehydrogenase (decarboxylating) (NAD+) activity
GO:0004466	0.000171	long-chain-acyl-CoA dehydrogenase activity
GO:0004462	0.000171	lactoylglutathione lyase activity
GO:0004421	0.000171	hydroxymethylglutaryl-CoA synthase activity
GO:0004418	0.000171	hydroxymethylbilane synthase activity
GO:0004412	0.000171	homoserine dehydrogenase activity
GO:0004379	0.000171	glycylpeptide N-tetradecanoyltransferase activity
GO:0004354	0.000171	glutamate dehydrogenase (NADP+) activity
GO:0004329	0.000171	formate-tetrahydrofolate ligase activity
GO:0004326	0.000171	tetrahydrofolylpolyglutamate synthase activity
GO:0004321	0.000171	fatty-acyl-CoA synthase activity
GO:0004310	0.000171	farnesyl-diphosphate farnesyltransferase activity
GO:0004307	0.000171	ethanolaminephosphotransferase activity
GO:0004304	0.000171	estrone sulfotransferase activity
GO:0004167	0.000171	dopachrome isomerase activity
GO:0004140	0.000171	dephospho-CoA kinase activity
GO:0004121	0.000171	cystathionine beta-lyase activity
GO:0004118	0.000171	cGMP-stimulated cyclic-nucleotide phosphodiesterase activity
GO:0004117	0.000171	calmodulin-dependent cyclic-nucleotide phosphodiesterase activity
GO:0004109	0.000171	coproporphyrinogen oxidase activity
GO:0004103	0.000171	choline kinase activity
GO:0004102	0.000171	choline O-acetyltransferase activity
GO:0004070	0.000171	aspartate carbamoyltransferase activity
GO:0004069	0.000171	L-aspartate:2-oxoglutarate aminotransferase activity
GO:0004061	0.000171	arylformamidase activity
GO:0004045	0.000171	aminoacyl-tRNA hydrolase activity
GO:0003992	0.000171	N2-acetyl-L-ornithine:2-oxoglutarate 5-aminotransferase activity
GO:0003980	0.000171	UDP-glucose:glycoprotein glucosyltransferase activity
GO:0003937	0.000171	IMP cyclohydrolase activity
GO:0003879	0.000171	ATP phosphoribosyltransferase activity
GO:0003873	0.000171	6-phosphofructo-2-kinase activity
GO:0003864	0.000171	3-methyl-2-oxobutanoate hydroxymethyltransferase activity
GO:0003854	0.000171	3-beta-hydroxy-delta5-steroid dehydrogenase activity
GO:0003852	0.000171	2-isopropylmalate synthase activity
GO:0003845	0.000171	11-beta-hydroxysteroid dehydrogenase [NAD(P)] activity
GO:0003721	0.000171	telomerase RNA reverse transcriptase activity
GO:0002135	0.000171	CTP binding
GO:0002134	0.000171	UTP binding
GO:0001875	0.000171	lipopolysaccharide receptor activity
GO:0001642	0.000171	group III metabotropic glutamate receptor activity
GO:0001601	0.000171	peptide YY receptor activity
GO:0001594	0.000171	trace-amine receptor activity
GO:0001537	0.000171	N-acetylgalactosamine 4-O-sulfotransferase activity
GO:0001517	0.000171	N-acetylglucosamine 6-O-sulfotransferase activity
GO:0001515	0.000171	opioid peptide activity
GO:0001179	0.000171	RNA polymerase I transcription factor binding
GO:0001082	0.000171	transcription factor activity, RNA polymerase I transcription factor binding
GO:0001072	0.000171	transcription antitermination factor activity, RNA binding
GO:0001053	0.000171	plastid sigma factor activity
GO:0001016	0.000171	RNA polymerase III regulatory region DNA binding
GO:0000827	0.000171	inositol-1,3,4,5,6-pentakisphosphate kinase activity
GO:0000309	0.000171	nicotinamide-nucleotide adenylyltransferase activity
GO:0000254	0.000171	C-4 methylsterol oxidase activity
GO:0000250	0.000171	lanosterol synthase activity
GO:0000034	0.000171	adenine deaminase activity
GO:1990932	0.000143	5.8S rRNA binding
GO:1990446	0.000143	U1 snRNP binding
GO:1990269	0.000143	RNA polymerase II C-terminal domain phosphoserine binding
GO:1990226	0.000143	histone methyltransferase binding
GO:1901611	0.000143	phosphatidylglycerol binding
GO:0098639	0.000143	collagen binding involved in cell-matrix adhesion
GO:0097200	0.000143	cysteine-type endopeptidase activity involved in execution phase of apoptosis
GO:0090447	0.000143	glycerol-3-phosphate 2-O-acyltransferase activity
GO:0086008	0.000143	voltage-gated potassium channel activity involved in cardiac muscle cell action potential repolarization
GO:0080107	0.000143	8-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080084	0.000143	5S rDNA binding
GO:0080083	0.000143	beta-gentiobiose beta-glucosidase activity
GO:0080032	0.000143	methyl jasmonate esterase activity
GO:0072328	0.000143	alkene binding
GO:0071987	0.000143	WD40-repeat domain binding
GO:0071936	0.000143	coreceptor activity involved in Wnt signaling pathway
GO:0071862	0.000143	protein phosphatase type 1 activator activity
GO:0071723	0.000143	lipopeptide binding
GO:0071074	0.000143	eukaryotic initiation factor eIF2 binding
GO:0070840	0.000143	dynein complex binding
GO:0070736	0.000143	protein-glycine ligase activity, initiating
GO:0070576	0.000143	vitamin D 24-hydroxylase activity
GO:0070330	0.000143	aromatase activity
GO:0070061	0.000143	fructose binding
GO:0061676	0.000143	importin-alpha family protein binding
GO:0061629	0.000143	RNA polymerase II sequence-specific DNA binding transcription factor binding
GO:0060698	0.000143	endoribonuclease inhibitor activity
GO:0055100	0.000143	adiponectin binding
GO:0052873	0.000143	FMN reductase (NADPH) activity
GO:0052856	0.000143	NADHX epimerase activity
GO:0052851	0.000143	ferric-chelate reductase (NADPH) activity
GO:0052811	0.000143	1-phosphatidylinositol-3-phosphate 4-kinase activity
GO:0052636	0.000143	arabinosyltransferase activity
GO:0052597	0.000143	diamine oxidase activity
GO:0051908	0.000143	double-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0051903	0.000143	S-(hydroxymethyl)glutathione dehydrogenase activity
GO:0051740	0.000143	ethylene binding
GO:0051724	0.000143	NAD transporter activity
GO:0051380	0.000143	norepinephrine binding
GO:0051377	0.000143	mannose-ethanolamine phosphotransferase activity
GO:0051022	0.000143	Rho GDP-dissociation inhibitor binding
GO:0050613	0.000143	delta14-sterol reductase activity
GO:0050577	0.000143	GDP-L-fucose synthase activity
GO:0050545	0.000143	sulfopyruvate decarboxylase activity
GO:0050368	0.000143	tyrosine 2,3-aminomutase activity
GO:0050314	0.000143	sym-norspermidine synthase activity
GO:0050294	0.000143	steroid sulfotransferase activity
GO:0050145	0.000143	nucleoside phosphate kinase activity
GO:0050038	0.000143	L-xylulose reductase (NADP+) activity
GO:0048248	0.000143	CXCR3 chemokine receptor binding
GO:0047936	0.000143	glucose 1-dehydrogenase [NAD(P)] activity
GO:0047869	0.000143	dimethylpropiothetin dethiomethylase activity
GO:0047756	0.000143	chondroitin 4-sulfotransferase activity
GO:0047545	0.000143	2-hydroxyglutarate dehydrogenase activity
GO:0047391	0.000143	alkylglycerophosphoethanolamine phosphodiesterase activity
GO:0047334	0.000143	diphosphate-fructose-6-phosphate 1-phosphotransferase activity
GO:0047325	0.000143	inositol tetrakisphosphate 1-kinase activity
GO:0047280	0.000143	nicotinamide phosphoribosyltransferase activity
GO:0047238	0.000143	glucuronosyl-N-acetylgalactosaminyl-proteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0047216	0.000143	inositol 3-alpha-galactosyltransferase activity
GO:0047110	0.000143	phenylglyoxylate dehydrogenase (acylating) activity
GO:0047086	0.000143	ketosteroid monooxygenase activity
GO:0047057	0.000143	vitamin-K-epoxide reductase (warfarin-sensitive) activity
GO:0046970	0.000143	NAD-dependent histone deacetylase activity (H4-K16 specific)
GO:0046871	0.000143	N-acetylgalactosamine binding
GO:0046848	0.000143	hydroxyapatite binding
GO:0045503	0.000143	dynein light chain binding
GO:0045148	0.000143	tripeptide aminopeptidase activity
GO:0045127	0.000143	N-acetylglucosamine kinase activity
GO:0044736	0.000143	acid-sensing ion channel activity
GO:0044374	0.000143	sequence-specific DNA binding, bending
GO:0044020	0.000143	histone methyltransferase activity (H4-R3 specific)
GO:0043865	0.000143	methionine transmembrane transporter activity
GO:0043798	0.000143	glycerate 2-kinase activity
GO:0043734	0.000143	DNA-N1-methyladenine dioxygenase activity
GO:0043533	0.000143	inositol 1,3,4,5 tetrakisphosphate binding
GO:0043273	0.000143	CTPase activity
GO:0043211	0.000143	carbohydrate-transporting ATPase activity
GO:0043125	0.000143	ErbB-3 class receptor binding
GO:0042954	0.000143	lipoprotein transporter activity
GO:0042907	0.000143	xanthine transmembrane transporter activity
GO:0042781	0.000143	3'-tRNA processing endoribonuclease activity
GO:0042586	0.000143	peptide deformylase activity
GO:0042577	0.000143	lipid phosphatase activity
GO:0042500	0.000143	aspartic endopeptidase activity, intramembrane cleaving
GO:0042302	0.000143	structural constituent of cuticle
GO:0042284	0.000143	sphingolipid delta-4 desaturase activity
GO:0038181	0.000143	bile acid receptor activity
GO:0038064	0.000143	collagen receptor activity
GO:0036397	0.000143	formate dehydrogenase (quinone) activity
GO:0036009	0.000143	protein-glutamine N-methyltransferase activity
GO:0035877	0.000143	death effector domain binding
GO:0035870	0.000143	dITP diphosphatase activity
GO:0035615	0.000143	clathrin adaptor activity
GO:0035516	0.000143	oxidative DNA demethylase activity
GO:0035515	0.000143	oxidative RNA demethylase activity
GO:0035276	0.000143	ethanol binding
GO:0035033	0.000143	histone deacetylase regulator activity
GO:0034701	0.000143	tripeptidase activity
GO:0034634	0.000143	glutathione transmembrane transporter activity
GO:0034458	0.000143	3'-5' RNA helicase activity
GO:0034432	0.000143	bis(5'-adenosyl)-pentaphosphatase activity
GO:0034040	0.000143	lipid-transporting ATPase activity
GO:0033946	0.000143	xyloglucan-specific endo-beta-1,4-glucanase activity
GO:0033907	0.000143	beta-D-fucosidase activity
GO:0033850	0.000143	Z-farnesyl diphosphate synthase activity
GO:0033754	0.000143	indoleamine 2,3-dioxygenase activity
GO:0033744	0.000143	L-methionine:thioredoxin-disulfide S-oxidoreductase activity
GO:0033721	0.000143	aldehyde dehydrogenase (NADP+) activity
GO:0033699	0.000143	DNA 5'-adenosine monophosphate hydrolase activity
GO:0033676	0.000143	double-stranded DNA-dependent ATPase activity
GO:0033550	0.000143	MAP kinase tyrosine phosphatase activity
GO:0033188	0.000143	sphingomyelin synthase activity
GO:0033170	0.000143	protein-DNA loading ATPase activity
GO:0032977	0.000143	membrane insertase activity
GO:0031849	0.000143	olfactory receptor binding
GO:0031841	0.000143	neuropeptide Y receptor binding
GO:0031762	0.000143	follicle-stimulating hormone receptor binding
GO:0031731	0.000143	CCR6 chemokine receptor binding
GO:0031727	0.000143	CCR2 chemokine receptor binding
GO:0031694	0.000143	alpha-2A adrenergic receptor binding
GO:0031405	0.000143	lipoic acid binding
GO:0031403	0.000143	lithium ion binding
GO:0031320	0.000143	hexitol dehydrogenase activity
GO:0030911	0.000143	TPR domain binding
GO:0030899	0.000143	calcium-dependent ATPase activity
GO:0030735	0.000143	carnosine N-methyltransferase activity
GO:0030628	0.000143	pre-mRNA 3'-splice site binding
GO:0030613	0.000143	oxidoreductase activity, acting on phosphorus or arsenic in donors
GO:0030523	0.000143	dihydrolipoamide S-acyltransferase activity
GO:0030375	0.000143	thyroid hormone receptor coactivator activity
GO:0030345	0.000143	structural constituent of tooth enamel
GO:0030229	0.000143	very-low-density lipoprotein particle receptor activity
GO:0030020	0.000143	extracellular matrix structural constituent conferring tensile strength
GO:0019808	0.000143	polyamine binding
GO:0019707	0.000143	protein-cysteine S-acyltransferase activity
GO:0019531	0.000143	oxalate transmembrane transporter activity
GO:0019153	0.000143	protein-disulfide reductase (glutathione) activity
GO:0019144	0.000143	ADP-sugar diphosphatase activity
GO:0019002	0.000143	GMP binding
GO:0018738	0.000143	S-formylglutathione hydrolase activity
GO:0018479	0.000143	benzaldehyde dehydrogenase (NAD+) activity
GO:0017174	0.000143	glycine N-methyltransferase activity
GO:0017162	0.000143	aryl hydrocarbon receptor binding
GO:0017113	0.000143	dihydropyrimidine dehydrogenase (NADP+) activity
GO:0017089	0.000143	glycolipid transporter activity
GO:0017077	0.000143	oxidative phosphorylation uncoupler activity
GO:0017005	0.000143	3'-tyrosyl-DNA phosphodiesterase activity
GO:0016966	0.000143	nitric oxide reductase activity
GO:0016898	0.000143	oxidoreductase activity, acting on the CH-OH group of donors, cytochrome as acceptor
GO:0016636	0.000143	oxidoreductase activity, acting on the CH-CH group of donors, iron-sulfur protein as acceptor
GO:0016509	0.000143	long-chain-3-hydroxyacyl-CoA dehydrogenase activity
GO:0016508	0.000143	long-chain-enoyl-CoA hydratase activity
GO:0016419	0.000143	S-malonyltransferase activity
GO:0016418	0.000143	S-acetyltransferase activity
GO:0016401	0.000143	palmitoyl-CoA oxidase activity
GO:0016287	0.000143	glycerone-phosphate O-acyltransferase activity
GO:0016286	0.000143	small conductance calcium-activated potassium channel activity
GO:0016277	0.000143	[myelin basic protein]-arginine N-methyltransferase activity
GO:0016168	0.000143	chlorophyll binding
GO:0015930	0.000143	glutamate synthase activity
GO:0015922	0.000143	aspartate oxidase activity
GO:0015666	0.000143	restriction endodeoxyribonuclease activity
GO:0015620	0.000143	ferric-enterobactin transmembrane transporter activity
GO:0015433	0.000143	peptide antigen-transporting ATPase activity
GO:0015415	0.000143	phosphate ion transmembrane-transporting ATPase activity
GO:0015410	0.000143	manganese-transporting ATPase activity
GO:0015391	0.000143	nucleobase:cation symporter activity
GO:0015322	0.000143	secondary active oligopeptide transmembrane transporter activity
GO:0015315	0.000143	organophosphate:inorganic phosphate antiporter activity
GO:0015230	0.000143	FAD transmembrane transporter activity
GO:0015222	0.000143	serotonin transmembrane transporter activity
GO:0015221	0.000143	lipopolysaccharide transmembrane transporter activity
GO:0015214	0.000143	pyrimidine nucleoside transmembrane transporter activity
GO:0015200	0.000143	methylammonium transmembrane transporter activity
GO:0015192	0.000143	L-phenylalanine transmembrane transporter activity
GO:0015182	0.000143	L-asparagine transmembrane transporter activity
GO:0015136	0.000143	sialic acid transmembrane transporter activity
GO:0015121	0.000143	phosphoenolpyruvate:phosphate antiporter activity
GO:0015018	0.000143	galactosylgalactosylxylosylprotein 3-beta-glucuronosyltransferase activity
GO:0015016	0.000143	[heparan sulfate]-glucosamine N-sulfotransferase activity
GO:0010328	0.000143	auxin influx transmembrane transporter activity
GO:0009383	0.000143	rRNA (cytosine-C5-)-methyltransferase activity
GO:0009013	0.000143	succinate-semialdehyde dehydrogenase [NAD(P)+] activity
GO:0009009	0.000143	site-specific recombinase activity
GO:0009000	0.000143	selenocysteine lyase activity
GO:0008990	0.000143	rRNA (guanine-N2-)-methyltransferase activity
GO:0008969	0.000143	phosphohistidine phosphatase activity
GO:0008962	0.000143	phosphatidylglycerophosphatase activity
GO:0008936	0.000143	nicotinamidase activity
GO:0008935	0.000143	1,4-dihydroxy-2-naphthoyl-CoA synthase activity
GO:0008907	0.000143	integrase activity
GO:0008878	0.000143	glucose-1-phosphate adenylyltransferase activity
GO:0008840	0.000143	4-hydroxy-tetrahydrodipicolinate synthase
GO:0008830	0.000143	dTDP-4-dehydrorhamnose 3,5-epimerase activity
GO:0008802	0.000143	betaine-aldehyde dehydrogenase activity
GO:0008792	0.000143	arginine decarboxylase activity
GO:0008761	0.000143	UDP-N-acetylglucosamine 2-epimerase activity
GO:0008721	0.000143	D-serine ammonia-lyase activity
GO:0008670	0.000143	2,4-dienoyl-CoA reductase (NADPH) activity
GO:0008613	0.000143	diuretic hormone activity
GO:0008532	0.000143	N-acetyllactosaminide beta-1,3-N-acetylglucosaminyltransferase activity
GO:0008511	0.000143	sodium:potassium:chloride symporter activity
GO:0008476	0.000143	protein-tyrosine sulfotransferase activity
GO:0008475	0.000143	procollagen-lysine 5-dioxygenase activity
GO:0008466	0.000143	glycogenin glucosyltransferase activity
GO:0008444	0.000143	CDP-diacylglycerol-glycerol-3-phosphate 3-phosphatidyltransferase activity
GO:0008427	0.000143	calcium-dependent protein kinase inhibitor activity
GO:0008396	0.000143	oxysterol 7-alpha-hydroxylase activity
GO:0008349	0.000143	MAP kinase kinase kinase kinase activity
GO:0008330	0.000143	protein tyrosine/threonine phosphatase activity
GO:0008260	0.000143	3-oxoacid CoA-transferase activity
GO:0008241	0.000143	peptidyl-dipeptidase activity
GO:0008193	0.000143	tRNA guanylyltransferase activity
GO:0008158	0.000143	hedgehog receptor activity
GO:0008126	0.000143	acetylesterase activity
GO:0008120	0.000143	ceramide glucosyltransferase activity
GO:0008084	0.000143	imaginal disc growth factor receptor binding
GO:0005550	0.000143	pheromone binding
GO:0005519	0.000143	cytoskeletal regulatory protein binding
GO:0005483	0.000143	soluble NSF attachment protein activity
GO:0005462	0.000143	UDP-N-acetylglucosamine transmembrane transporter activity
GO:0005457	0.000143	GDP-fucose transmembrane transporter activity
GO:0005427	0.000143	proton-dependent oligopeptide secondary active transmembrane transporter activity
GO:0005415	0.000143	nucleoside:sodium symporter activity
GO:0005412	0.000143	glucose:sodium symporter activity
GO:0005364	0.000143	maltose:proton symporter activity
GO:0005294	0.000143	neutral L-amino acid secondary active transmembrane transporter activity
GO:0005213	0.000143	structural constituent of chorion
GO:0005146	0.000143	leukemia inhibitory factor receptor binding
GO:0005111	0.000143	type 2 fibroblast growth factor receptor binding
GO:0005105	0.000143	type 1 fibroblast growth factor receptor binding
GO:0005042	0.000143	netrin receptor activity
GO:0005025	0.000143	transforming growth factor beta receptor activity, type I
GO:0005009	0.000143	insulin-activated receptor activity
GO:0004996	0.000143	thyroid-stimulating hormone receptor activity
GO:0004991	0.000143	parathyroid hormone receptor activity
GO:0004965	0.000143	G-protein coupled GABA receptor activity
GO:0004962	0.000143	endothelin receptor activity
GO:0004948	0.000143	calcitonin receptor activity
GO:0004942	0.000143	anaphylatoxin receptor activity
GO:0004911	0.000143	interleukin-2 receptor activity
GO:0004905	0.000143	type I interferon receptor activity
GO:0004875	0.000143	complement receptor activity
GO:0004854	0.000143	xanthine dehydrogenase activity
GO:0004849	0.000143	uridine kinase activity
GO:0004828	0.000143	serine-tRNA ligase activity
GO:0004793	0.000143	threonine aldolase activity
GO:0004788	0.000143	thiamine diphosphokinase activity
GO:0004777	0.000143	succinate-semialdehyde dehydrogenase (NAD+) activity
GO:0004769	0.000143	steroid delta-isomerase activity
GO:0004746	0.000143	riboflavin synthase activity
GO:0004741	0.000143	[pyruvate dehydrogenase (lipoamide)] phosphatase activity
GO:0004733	0.000143	pyridoxamine-phosphate oxidase activity
GO:0004720	0.000143	protein-lysine 6-oxidase activity
GO:0004704	0.000143	NF-kappaB-inducing kinase activity
GO:0004689	0.000143	phosphorylase kinase activity
GO:0004686	0.000143	elongation factor-2 kinase activity
GO:0004677	0.000143	DNA-dependent protein kinase activity
GO:0004662	0.000143	CAAX-protein geranylgeranyltransferase activity
GO:0004644	0.000143	phosphoribosylglycinamide formyltransferase activity
GO:0004642	0.000143	phosphoribosylformylglycinamidine synthase activity
GO:0004641	0.000143	phosphoribosylformylglycinamidine cyclo-ligase activity
GO:0004640	0.000143	phosphoribosylanthranilate isomerase activity
GO:0004639	0.000143	phosphoribosylaminoimidazolesuccinocarboxamide synthase activity
GO:0004637	0.000143	phosphoribosylamine-glycine ligase activity
GO:0004633	0.000143	phosphopantothenoylcysteine decarboxylase activity
GO:0004604	0.000143	phosphoadenylyl-sulfate reductase (thioredoxin) activity
GO:0004591	0.000143	oxoglutarate dehydrogenase (succinyl-transferring) activity
GO:0004531	0.000143	deoxyribonuclease II activity
GO:0004516	0.000143	nicotinate phosphoribosyltransferase activity
GO:0004488	0.000143	methylenetetrahydrofolate dehydrogenase (NADP+) activity
GO:0004411	0.000143	homogentisate 1,2-dioxygenase activity
GO:0004401	0.000143	histidinol-phosphatase activity
GO:0004370	0.000143	glycerol kinase activity
GO:0004343	0.000143	glucosamine 6-phosphate N-acetyltransferase activity
GO:0004316	0.000143	3-oxoacyl-[acyl-carrier-protein] reductase (NADPH) activity
GO:0004314	0.000143	[acyl-carrier-protein] S-malonyltransferase activity
GO:0004309	0.000143	exopolyphosphatase activity
GO:0004157	0.000143	dihydropyrimidinase activity
GO:0004156	0.000143	dihydropteroate synthase activity
GO:0004142	0.000143	diacylglycerol cholinephosphotransferase activity
GO:0004134	0.000143	4-alpha-glucanotransferase activity
GO:0004066	0.000143	asparagine synthase (glutamine-hydrolyzing) activity
GO:0004055	0.000143	argininosuccinate synthase activity
GO:0004047	0.000143	aminomethyltransferase activity
GO:0004042	0.000143	acetyl-CoA:L-glutamate N-acetyltransferase activity
GO:0004018	0.000143	N6-(1,2-dicarboxyethyl)AMP AMP-lyase (fumarate-forming) activity
GO:0003998	0.000143	acylphosphatase activity
GO:0003975	0.000143	UDP-N-acetylglucosamine-dolichyl-phosphate N-acetylglucosaminephosphotransferase activity
GO:0003960	0.000143	NADPH:quinone reductase activity
GO:0003959	0.000143	NADPH dehydrogenase activity
GO:0003923	0.000143	GPI-anchor transamidase activity
GO:0003904	0.000143	deoxyribodipyrimidine photo-lyase activity
GO:0003883	0.000143	CTP synthase activity
GO:0003874	0.000143	6-pyruvoyltetrahydropterin synthase activity
GO:0003865	0.000143	3-oxo-5-alpha-steroid 4-dehydrogenase activity
GO:0003862	0.000143	3-isopropylmalate dehydrogenase activity
GO:0003858	0.000143	3-hydroxybutyrate dehydrogenase activity
GO:0003856	0.000143	3-dehydroquinate synthase activity
GO:0003842	0.000143	1-pyrroline-5-carboxylate dehydrogenase activity
GO:0003839	0.000143	gamma-glutamylcyclotransferase activity
GO:0003838	0.000143	sterol 24-C-methyltransferase activity
GO:0003834	0.000143	beta-carotene 15,15'-monooxygenase activity
GO:0003720	0.000143	telomerase activity
GO:0002060	0.000143	purine nucleobase binding
GO:0001847	0.000143	opsonin receptor activity
GO:0001641	0.000143	group II metabotropic glutamate receptor activity
GO:0001602	0.000143	pancreatic polypeptide receptor activity
GO:0001225	0.000143	RNA polymerase II transcription coactivator binding
GO:0001186	0.000143	transcription factor activity, RNA polymerase I transcription factor recruiting
GO:0001169	0.000143	transcription factor activity, RNA polymerase I CORE element sequence-specific binding
GO:0001156	0.000143	TFIIIC-class transcription factor binding
GO:0001128	0.000143	RNA polymerase II transcription coactivator activity involved in preinitiation complex assembly
GO:0001108	0.000143	bacterial-type RNA polymerase holo enzyme binding
GO:0001093	0.000143	TFIIB-class transcription factor binding
GO:0001069	0.000143	regulatory region RNA binding
GO:0000824	0.000143	inositol tetrakisphosphate 3-kinase activity
GO:0000700	0.000143	mismatch base pair DNA N-glycosylase activity
GO:0000253	0.000143	3-keto sterol reductase activity
GO:2001065	0.000114	mannan binding
GO:1990699	0.000114	palmitoleyl hydrolase activity
GO:1990430	0.000114	extracellular matrix protein binding
GO:1990422	0.000114	glyoxalase (glycolic acid-forming) activity
GO:1904288	0.000114	BAT3 complex binding
GO:1904047	0.000114	S-adenosyl-L-methionine binding
GO:1902444	0.000114	riboflavin binding
GO:1902271	0.000114	D3 vitamins binding
GO:1901612	0.000114	cardiolipin binding
GO:0098821	0.000114	BMP receptor activity
GO:0097655	0.000114	serpin family protein binding
GO:0097644	0.000114	calcitonin family binding
GO:0097603	0.000114	temperature-gated ion channel activity
GO:0097108	0.000114	hedgehog family protein binding
GO:0097001	0.000114	ceramide binding
GO:0086007	0.000114	voltage-gated calcium channel activity involved in cardiac muscle cell action potential
GO:0080116	0.000114	glucuronoxylan glucuronosyltransferase activity
GO:0080103	0.000114	4-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080061	0.000114	indole-3-acetonitrile nitrilase activity
GO:0080054	0.000114	low-affinity nitrate transmembrane transporter activity
GO:0080048	0.000114	GDP-D-glucose phosphorylase activity
GO:0080023	0.000114	3R-hydroxyacyl-CoA dehydratase activity
GO:0072586	0.000114	DNA topoisomerase (ATP-hydrolyzing) regulator activity
GO:0072510	0.000114	trivalent inorganic cation transmembrane transporter activity
GO:0072354	0.000114	histone kinase activity (H3-T3 specific)
GO:0071992	0.000114	phytochelatin transmembrane transporter activity
GO:0071991	0.000114	phytochelatin transporter activity
GO:0071667	0.000114	DNA/RNA hybrid binding
GO:0071553	0.000114	G-protein coupled pyrimidinergic nucleotide receptor activity
GO:0071532	0.000114	ankyrin repeat binding
GO:0070968	0.000114	pyrroloquinoline quinone binding
GO:0070967	0.000114	coenzyme F420 binding
GO:0070905	0.000114	serine binding
GO:0070737	0.000114	protein-glycine ligase activity, elongating
GO:0070643	0.000114	vitamin D 25-hydroxylase activity
GO:0070615	0.000114	nucleosome-dependent ATPase activity
GO:0070326	0.000114	very-low-density lipoprotein particle receptor binding
GO:0070191	0.000114	methionine-R-sulfoxide reductase activity
GO:0070053	0.000114	thrombospondin receptor activity
GO:0070052	0.000114	collagen V binding
GO:0070037	0.000114	rRNA (pseudouridine) methyltransferase activity
GO:0070003	0.000114	threonine-type peptidase activity
GO:0061501	0.000114	cyclic-GMP-AMP synthase activity
GO:0061459	0.000114	L-arginine transmembrane transporter activity
GO:0060001	0.000114	minus-end directed microfilament motor activity
GO:0055077	0.000114	gap junction hemi-channel activity
GO:0052857	0.000114	NADPHX epimerase activity
GO:0052842	0.000114	inositol diphosphate pentakisphosphate diphosphatase activity
GO:0052841	0.000114	inositol bisdiphosphate tetrakisphosphate diphosphatase activity
GO:0052827	0.000114	inositol pentakisphosphate phosphatase activity
GO:0052730	0.000114	sarcosine N-methyltransferase activity
GO:0052729	0.000114	dimethylglycine N-methyltransferase activity
GO:0052642	0.000114	lysophosphatidic acid phosphatase activity
GO:0052592	0.000114	oxidoreductase activity, acting on CH or CH2 groups, with an iron-sulfur protein as acceptor
GO:0051990	0.000114	(R)-2-hydroxyglutarate dehydrogenase activity
GO:0051733	0.000114	polydeoxyribonucleotide kinase activity
GO:0051732	0.000114	polyribonucleotide kinase activity
GO:0051424	0.000114	corticotropin-releasing hormone binding
GO:0051120	0.000114	hepoxilin A3 synthase activity
GO:0050694	0.000114	galactose 3-O-sulfotransferase activity
GO:0050693	0.000114	LBD domain binding
GO:0050656	0.000114	3'-phosphoadenosine 5'-phosphosulfate binding
GO:0050583	0.000114	hydrogen dehydrogenase (NADP+) activity
GO:0050551	0.000114	myrcene synthase activity
GO:0050510	0.000114	N-acetylgalactosaminyl-proteoglycan 3-beta-glucuronosyltransferase activity
GO:0050380	0.000114	undecaprenyl-diphosphatase activity
GO:0050373	0.000114	UDP-arabinose 4-epimerase activity
GO:0050341	0.000114	thymine dioxygenase activity
GO:0050338	0.000114	thiosulfate dehydrogenase activity
GO:0050253	0.000114	retinyl-palmitate esterase activity
GO:0050218	0.000114	propionate-CoA ligase activity
GO:0050138	0.000114	nicotinate dehydrogenase activity
GO:0050105	0.000114	L-gulonolactone oxidase activity
GO:0050083	0.000114	malyl-CoA lyase activity
GO:0050019	0.000114	L-arabinitol 4-dehydrogenase activity
GO:0048763	0.000114	calcium-induced calcium release activity
GO:0048408	0.000114	epidermal growth factor binding
GO:0048273	0.000114	mitogen-activated protein kinase p38 binding
GO:0048101	0.000114	calcium- and calmodulin-regulated 3',5'-cyclic-GMP phosphodiesterase activity
GO:0047910	0.000114	galactose 1-dehydrogenase (NADP+) activity
GO:0047757	0.000114	chondroitin-glucuronate 5-epimerase activity
GO:0047727	0.000114	isobutyryl-CoA mutase activity
GO:0047701	0.000114	beta-L-arabinosidase activity
GO:0047560	0.000114	3-dehydrosphinganine reductase activity
GO:0047536	0.000114	2-aminoadipate transaminase activity
GO:0047475	0.000114	phenylacetate-CoA ligase activity
GO:0047453	0.000114	ATP-dependent NAD(P)H-hydrate dehydratase activity
GO:0047389	0.000114	glycerophosphocholine phosphodiesterase activity
GO:0047036	0.000114	codeinone reductase (NADPH) activity
GO:0047023	0.000114	androsterone dehydrogenase activity
GO:0046997	0.000114	oxidoreductase activity, acting on the CH-NH group of donors, flavin as acceptor
GO:0046992	0.000114	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond
GO:0046969	0.000114	NAD-dependent histone deacetylase activity (H3-K9 specific)
GO:0046923	0.000114	ER retention sequence binding
GO:0046557	0.000114	glucan endo-1,6-beta-glucosidase activity
GO:0046403	0.000114	polynucleotide 3'-phosphatase activity
GO:0045703	0.000114	ketoreductase activity
GO:0045548	0.000114	phenylalanine ammonia-lyase activity
GO:0045544	0.000114	gibberellin 20-oxidase activity
GO:0045543	0.000114	gibberellin 2-beta-dioxygenase activity
GO:0045340	0.000114	mercury ion binding
GO:0045181	0.000114	glutamate synthase activity, NAD(P)H as acceptor
GO:0045156	0.000114	electron transporter, transferring electrons within the cyclic electron transport pathway of photosynthesis activity
GO:0045140	0.000114	inositol phosphoceramide synthase activity
GO:0044715	0.000114	8-oxo-dGDP phosphatase activity
GO:0044323	0.000114	retinoic acid-responsive element binding
GO:0043919	0.000114	agmatine aminopropyltransferase activity
GO:0043918	0.000114	cadaverine aminopropyltransferase activity
GO:0043906	0.000114	Ala-tRNA(Pro) hydrolase activity
GO:0043852	0.000114	monomethylamine methyltransferase activity
GO:0043765	0.000114	T/G mismatch-specific endonuclease activity
GO:0043682	0.000114	copper-transporting ATPase activity
GO:0042736	0.000114	NADH kinase activity
GO:0042731	0.000114	PH domain binding
GO:0042296	0.000114	ISG15 transferase activity
GO:0042282	0.000114	hydroxymethylglutaryl-CoA reductase activity
GO:0042279	0.000114	nitrite reductase (cytochrome, ammonia-forming) activity
GO:0042085	0.000114	5-methyltetrahydropteroyltri-L-glutamate-dependent methyltransferase activity
GO:0036137	0.000114	kynurenine aminotransferase activity
GO:0035727	0.000114	lysophosphatidic acid binding
GO:0035671	0.000114	enone reductase activity
GO:0035663	0.000114	Toll-like receptor 2 binding
GO:0035662	0.000114	Toll-like receptor 4 binding
GO:0035650	0.000114	AP-1 adaptor complex binding
GO:0035539	0.000114	8-oxo-7,8-dihydrodeoxyguanosine triphosphate pyrophosphatase activity
GO:0035529	0.000114	NADH pyrophosphatase activity
GO:0035402	0.000114	histone kinase activity (H3-T11 specific)
GO:0034986	0.000114	iron chaperone activity
GO:0034875	0.000114	caffeine oxidase activity
GO:0034784	0.000114	pivalyl-CoA mutase activity
GO:0034714	0.000114	type III transforming growth factor beta receptor binding
GO:0034639	0.000114	L-amino acid efflux transmembrane transporter activity
GO:0034632	0.000114	retinol transporter activity
GO:0034617	0.000114	tetrahydrobiopterin binding
GO:0034480	0.000114	phosphatidylcholine phospholipase C activity
GO:0034416	0.000114	bisphosphoglycerate phosphatase activity
GO:0034353	0.000114	RNA pyrophosphohydrolase activity
GO:0034318	0.000114	alcohol O-acyltransferase activity
GO:0034191	0.000114	apolipoprotein A-I receptor binding
GO:0034039	0.000114	8-oxo-7,8-dihydroguanine DNA N-glycosylase activity
GO:0033819	0.000114	lipoyl(octanoyl) transferase activity
GO:0033818	0.000114	beta-ketoacyl-acyl-carrier-protein synthase III activity
GO:0033695	0.000114	oxidoreductase activity, acting on CH or CH2 groups, quinone or similar compound as acceptor
GO:0033164	0.000114	glycolipid 6-alpha-mannosyltransferase activity
GO:0032896	0.000114	palmitoyl-CoA 9-desaturase activity
GO:0032841	0.000114	calcitonin binding
GO:0032791	0.000114	lead ion binding
GO:0032450	0.000114	maltose alpha-glucosidase activity
GO:0032404	0.000114	mismatch repair complex binding
GO:0032357	0.000114	oxidized purine DNA binding
GO:0032356	0.000114	oxidized DNA binding
GO:0032216	0.000114	glucosaminyl-phosphotidylinositol O-acyltransferase activity
GO:0032190	0.000114	acrosin binding
GO:0032137	0.000114	guanine/thymine mispair binding
GO:0032129	0.000114	histone deacetylase activity (H3-K9 specific)
GO:0032037	0.000114	myosin I heavy chain binding
GO:0032029	0.000114	myosin tail binding
GO:0032028	0.000114	myosin head/neck binding
GO:0031956	0.000114	medium-chain fatty acid-CoA ligase activity
GO:0031893	0.000114	vasopressin receptor binding
GO:0031781	0.000114	type 3 melanocortin receptor binding
GO:0031750	0.000114	D3 dopamine receptor binding
GO:0031708	0.000114	endothelin B receptor binding
GO:0031634	0.000114	replication fork barrier binding
GO:0031544	0.000114	peptidyl-proline 3-dioxygenase activity
GO:0031078	0.000114	histone deacetylase activity (H3-K14 specific)
GO:0030882	0.000114	lipid antigen binding
GO:0030614	0.000114	oxidoreductase activity, acting on phosphorus or arsenic in donors, disulfide as acceptor
GO:0030343	0.000114	vitamin D3 25-hydroxylase activity
GO:0030337	0.000114	DNA polymerase processivity factor activity
GO:0030280	0.000114	structural constituent of epidermis
GO:0030272	0.000114	5-formyltetrahydrofolate cyclo-ligase activity
GO:0030160	0.000114	GKAP/Homer scaffold activity
GO:0030158	0.000114	protein xylosyltransferase activity
GO:0023029	0.000114	MHC class Ib protein binding
GO:0019912	0.000114	cyclin-dependent protein kinase activating kinase activity
GO:0019834	0.000114	phospholipase A2 inhibitor activity
GO:0019770	0.000114	IgG receptor activity
GO:0019706	0.000114	protein-cysteine S-palmitoyltransferase activity
GO:0019154	0.000114	glycolate dehydrogenase activity
GO:0019120	0.000114	hydrolase activity, acting on acid halide bonds, in C-halide compounds
GO:0018708	0.000114	thiol S-methyltransferase activity
GO:0018488	0.000114	aryl-aldehyde oxidase activity
GO:0018454	0.000114	acetoacetyl-CoA reductase activity
GO:0018271	0.000114	biotin-protein ligase activity
GO:0017176	0.000114	phosphatidylinositol N-acetylglucosaminyltransferase activity
GO:0017096	0.000114	acetylserotonin O-methyltransferase activity
GO:0016906	0.000114	sterol 3-beta-glucosyltransferase activity
GO:0016905	0.000114	myosin heavy chain kinase activity
GO:0016867	0.000114	intramolecular transferase activity, transferring acyl groups
GO:0016824	0.000114	hydrolase activity, acting on acid halide bonds
GO:0016784	0.000114	3-mercaptopyruvate sulfurtransferase activity
GO:0016762	0.000114	xyloglucan:xyloglucosyl transferase activity
GO:0016707	0.000114	gibberellin 3-beta-dioxygenase activity
GO:0016696	0.000114	oxidoreductase activity, acting on hydrogen as donor, NAD or NADP as acceptor
GO:0016681	0.000114	oxidoreductase activity, acting on diphenols and related substances as donors, cytochrome as acceptor
GO:0016649	0.000114	oxidoreductase activity, acting on the CH-NH group of donors, quinone or similar compound as acceptor
GO:0016642	0.000114	oxidoreductase activity, acting on the CH-NH2 group of donors, disulfide as acceptor
GO:0016631	0.000114	enoyl-[acyl-carrier-protein] reductase activity
GO:0016618	0.000114	hydroxypyruvate reductase activity
GO:0016608	0.000114	growth hormone-releasing hormone activity
GO:0016422	0.000114	mRNA (2'-O-methyladenosine-N6-)-methyltransferase activity
GO:0016402	0.000114	pristanoyl-CoA oxidase activity
GO:0016316	0.000114	phosphatidylinositol-3,4-bisphosphate 4-phosphatase activity
GO:0016314	0.000114	phosphatidylinositol-3,4,5-trisphosphate 3-phosphatase activity
GO:0016212	0.000114	kynurenine-oxoglutarate transaminase activity
GO:0016207	0.000114	4-coumarate-CoA ligase activity
GO:0016206	0.000114	catechol O-methyltransferase activity
GO:0016162	0.000114	cellulose 1,4-beta-cellobiosidase activity
GO:0016002	0.000114	sulfite reductase activity
GO:0015594	0.000114	putrescine-importing ATPase activity
GO:0015526	0.000114	hexose-phosphate:inorganic phosphate antiporter activity
GO:0015501	0.000114	glutamate:sodium symporter activity
GO:0015453	0.000114	oxidoreduction-driven active transmembrane transporter activity
GO:0015437	0.000114	lipopolysaccharide-transporting ATPase activity
GO:0015432	0.000114	bile acid-exporting ATPase activity
GO:0015421	0.000114	oligopeptide-transporting ATPase activity
GO:0015355	0.000114	secondary active monocarboxylate transmembrane transporter activity
GO:0015213	0.000114	uridine transmembrane transporter activity
GO:0015208	0.000114	guanine transmembrane transporter activity
GO:0015191	0.000114	L-methionine transmembrane transporter activity
GO:0015190	0.000114	L-leucine transmembrane transporter activity
GO:0015169	0.000114	glycerol-3-phosphate transmembrane transporter activity
GO:0015128	0.000114	gluconate transmembrane transporter activity
GO:0015123	0.000114	acetate transmembrane transporter activity
GO:0015111	0.000114	iodide transmembrane transporter activity
GO:0015066	0.000114	alpha-amylase inhibitor activity
GO:0015065	0.000114	uridine nucleotide receptor activity
GO:0015057	0.000114	thrombin receptor activity
GO:0015056	0.000114	corticotrophin-releasing factor receptor activity
GO:0010844	0.000114	recombination hotspot binding
GO:0010698	0.000114	acetyltransferase activator activity
GO:0010428	0.000114	methyl-CpNpG binding
GO:0010420	0.000114	polyprenyldihydroxybenzoate methyltransferase activity
GO:0010326	0.000114	methionine-oxo-acid transaminase activity
GO:0009973	0.000114	adenylyl-sulfate reductase activity
GO:0009883	0.000114	red or far-red light photoreceptor activity
GO:0009678	0.000114	hydrogen-translocating pyrophosphatase activity
GO:0009486	0.000114	cytochrome bo3 ubiquinol oxidase activity
GO:0009384	0.000114	N-acylmannosamine kinase activity
GO:0009020	0.000114	tRNA (guanosine-2'-O-)-methyltransferase activity
GO:0008989	0.000114	rRNA (guanine-N1-)-methyltransferase activity
GO:0008982	0.000114	protein-N(PI)-phosphohistidine-sugar phosphotransferase activity
GO:0008933	0.000114	lytic transglycosylase activity
GO:0008892	0.000114	guanine deaminase activity
GO:0008891	0.000114	glycolate oxidase activity
GO:0008863	0.000114	formate dehydrogenase (NAD+) activity
GO:0008843	0.000114	endochitinase activity
GO:0008831	0.000114	dTDP-4-dehydrorhamnose reductase activity
GO:0008798	0.000114	beta-aspartyl-peptidase activity
GO:0008776	0.000114	acetate kinase activity
GO:0008775	0.000114	acetate CoA-transferase activity
GO:0008774	0.000114	acetaldehyde dehydrogenase (acetylating) activity
GO:0008753	0.000114	NADPH dehydrogenase (quinone) activity
GO:0008750	0.000114	NAD(P)+ transhydrogenase (AB-specific) activity
GO:0008716	0.000114	D-alanine-D-alanine ligase activity
GO:0008686	0.000114	3,4-dihydroxy-2-butanone-4-phosphate synthase activity
GO:0008657	0.000114	DNA topoisomerase (ATP-hydrolyzing) inhibitor activity
GO:0008650	0.000114	rRNA (uridine-2'-O-)-methyltransferase activity
GO:0008609	0.000114	alkylglycerone-phosphate synthase activity
GO:0008607	0.000114	phosphorylase kinase regulator activity
GO:0008531	0.000114	riboflavin kinase activity
GO:0008520	0.000114	L-ascorbate:sodium symporter activity
GO:0008508	0.000114	bile acid:sodium symporter activity
GO:0008502	0.000114	melatonin receptor activity
GO:0008486	0.000114	diphosphoinositol-polyphosphate diphosphatase activity
GO:0008470	0.000114	isovaleryl-CoA dehydrogenase activity
GO:0008448	0.000114	N-acetylglucosamine-6-phosphate deacetylase activity
GO:0008445	0.000114	D-aspartate oxidase activity
GO:0008434	0.000114	calcitriol receptor activity
GO:0008426	0.000114	protein kinase C inhibitor activity
GO:0008419	0.000114	RNA lariat debranching enzyme activity
GO:0008386	0.000114	cholesterol monooxygenase (side-chain-cleaving) activity
GO:0008384	0.000114	IkappaB kinase activity
GO:0008271	0.000114	secondary active sulfate transmembrane transporter activity
GO:0008265	0.000114	Mo-molybdopterin cofactor sulfurase activity
GO:0008121	0.000114	ubiquinol-cytochrome-c reductase activity
GO:0008109	0.000114	N-acetyllactosaminide beta-1,6-N-acetylglucosaminyltransferase activity
GO:0008068	0.000114	extracellular-glutamate-gated chloride channel activity
GO:0005458	0.000114	GDP-mannose transmembrane transporter activity
GO:0005358	0.000114	high-affinity hydrogen:glucose symporter activity
GO:0005332	0.000114	gamma-aminobutyric acid:sodium symporter activity
GO:0005328	0.000114	neurotransmitter:sodium symporter activity
GO:0005280	0.000114	hydrogen:amino acid symporter activity
GO:0005274	0.000114	allantoin uptake transmembrane transporter activity
GO:0005232	0.000114	serotonin-activated cation-selective channel activity
GO:0005176	0.000114	ErbB-2 class receptor binding
GO:0005173	0.000114	stem cell factor receptor binding
GO:0005157	0.000114	macrophage colony-stimulating factor receptor binding
GO:0005143	0.000114	interleukin-12 receptor binding
GO:0005135	0.000114	interleukin-3 receptor binding
GO:0005124	0.000114	scavenger receptor binding
GO:0005119	0.000114	smoothened binding
GO:0005010	0.000114	insulin-like growth factor-activated receptor activity
GO:0005006	0.000114	epidermal growth factor-activated receptor activity
GO:0004999	0.000114	vasoactive intestinal polypeptide receptor activity
GO:0004992	0.000114	platelet activating factor receptor activity
GO:0004967	0.000114	glucagon receptor activity
GO:0004956	0.000114	prostaglandin D receptor activity
GO:0004947	0.000114	bradykinin receptor activity
GO:0004946	0.000114	bombesin receptor activity
GO:0004940	0.000114	beta1-adrenergic receptor activity
GO:0004932	0.000114	mating-type factor pheromone receptor activity
GO:0004883	0.000114	glucocorticoid receptor activity
GO:0004882	0.000114	androgen receptor activity
GO:0004873	0.000114	asialoglycoprotein receptor activity
GO:0004856	0.000114	xylulokinase activity
GO:0004850	0.000114	uridine phosphorylase activity
GO:0004831	0.000114	tyrosine-tRNA ligase activity
GO:0004830	0.000114	tryptophan-tRNA ligase activity
GO:0004823	0.000114	leucine-tRNA ligase activity
GO:0004818	0.000114	glutamate-tRNA ligase activity
GO:0004816	0.000114	asparagine-tRNA ligase activity
GO:0004810	0.000114	tRNA adenylyltransferase activity
GO:0004795	0.000114	threonine synthase activity
GO:0004753	0.000114	saccharopine dehydrogenase activity
GO:0004750	0.000114	ribulose-phosphate 3-epimerase activity
GO:0004749	0.000114	ribose phosphate diphosphokinase activity
GO:0004744	0.000114	retinal isomerase activity
GO:0004742	0.000114	dihydrolipoyllysine-residue acetyltransferase activity
GO:0004737	0.000114	pyruvate decarboxylase activity
GO:0004736	0.000114	pyruvate carboxylase activity
GO:0004724	0.000114	magnesium-dependent protein serine/threonine phosphatase activity
GO:0004711	0.000114	ribosomal protein S6 kinase activity
GO:0004699	0.000114	calcium-independent protein kinase C activity
GO:0004666	0.000114	prostaglandin-endoperoxide synthase activity
GO:0004654	0.000114	polyribonucleotide nucleotidyltransferase activity
GO:0004648	0.000114	O-phospho-L-serine:2-oxoglutarate aminotransferase activity
GO:0004638	0.000114	phosphoribosylaminoimidazole carboxylase activity
GO:0004632	0.000114	phosphopantothenate--cysteine ligase activity
GO:0004621	0.000114	glycosylphosphatidylinositol phospholipase D activity
GO:0004618	0.000114	phosphoglycerate kinase activity
GO:0004613	0.000114	phosphoenolpyruvate carboxykinase (GTP) activity
GO:0004608	0.000114	phosphatidylethanolamine N-methyltransferase activity
GO:0004607	0.000114	phosphatidylcholine-sterol O-acyltransferase activity
GO:0004598	0.000114	peptidylamidoglycolate lyase activity
GO:0004592	0.000114	pantoate-beta-alanine ligase activity
GO:0004584	0.000114	dolichyl-phosphate-mannose-glycolipid alpha-mannosyltransferase activity
GO:0004582	0.000114	dolichyl-phosphate beta-D-mannosyltransferase activity
GO:0004530	0.000114	deoxyribonuclease I activity
GO:0004511	0.000114	tyrosine 3-monooxygenase activity
GO:0004510	0.000114	tryptophan 5-monooxygenase activity
GO:0004509	0.000114	steroid 21-monooxygenase activity
GO:0004508	0.000114	steroid 17-alpha-monooxygenase activity
GO:0004502	0.000114	kynurenine 3-monooxygenase activity
GO:0004500	0.000114	dopamine beta-monooxygenase activity
GO:0004496	0.000114	mevalonate kinase activity
GO:0004485	0.000114	methylcrotonoyl-CoA carboxylase activity
GO:0004484	0.000114	mRNA guanylyltransferase activity
GO:0004483	0.000114	mRNA (nucleoside-2'-O-)-methyltransferase activity
GO:0004464	0.000114	leukotriene-C4 synthase activity
GO:0004458	0.000114	D-lactate dehydrogenase (cytochrome) activity
GO:0004425	0.000114	indole-3-glycerol-phosphate synthase activity
GO:0004420	0.000114	hydroxymethylglutaryl-CoA reductase (NADPH) activity
GO:0004419	0.000114	hydroxymethylglutaryl-CoA lyase activity
GO:0004417	0.000114	hydroxyethylthiazole kinase activity
GO:0004414	0.000114	homoserine O-acetyltransferase activity
GO:0004413	0.000114	homoserine kinase activity
GO:0004399	0.000114	histidinol dehydrogenase activity
GO:0004398	0.000114	histidine decarboxylase activity
GO:0004394	0.000114	heparan sulfate 2-O-sulfotransferase activity
GO:0004377	0.000114	GDP-Man:Man3GlcNAc2-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0004375	0.000114	glycine dehydrogenase (decarboxylating) activity
GO:0004371	0.000114	glycerone kinase activity
GO:0004349	0.000114	glutamate 5-kinase activity
GO:0004348	0.000114	glucosylceramidase activity
GO:0004339	0.000114	glucan 1,4-alpha-glucosidase activity
GO:0004334	0.000114	fumarylacetoacetase activity
GO:0004306	0.000114	ethanolamine-phosphate cytidylyltransferase activity
GO:0004298	0.000114	threonine-type endopeptidase activity
GO:0004174	0.000114	electron-transferring-flavoprotein dehydrogenase activity
GO:0004150	0.000114	dihydroneopterin aldolase activity
GO:0004131	0.000114	cytosine deaminase activity
GO:0004119	0.000114	cGMP-inhibited cyclic-nucleotide phosphodiesterase activity
GO:0004092	0.000114	carnitine O-acetyltransferase activity
GO:0004087	0.000114	carbamoyl-phosphate synthase (ammonia) activity
GO:0004081	0.000114	bis(5'-nucleosyl)-tetraphosphatase (asymmetrical) activity
GO:0004074	0.000114	biliverdin reductase activity
GO:0004068	0.000114	aspartate 1-decarboxylase activity
GO:0004058	0.000114	aromatic-L-amino-acid decarboxylase activity
GO:0004057	0.000114	arginyltransferase activity
GO:0004015	0.000114	adenosylmethionine-8-amino-7-oxononanoate transaminase activity
GO:0003991	0.000114	acetylglutamate kinase activity
GO:0003962	0.000114	cystathionine gamma-synthase activity
GO:0003953	0.000114	NAD+ nucleosidase activity
GO:0003935	0.000114	GTP cyclohydrolase II activity
GO:0003922	0.000114	GMP synthase (glutamine-hydrolyzing) activity
GO:0003908	0.000114	methylated-DNA-[protein]-cysteine S-methyltransferase activity
GO:0003905	0.000114	alkylbase DNA N-glycosylase activity
GO:0003882	0.000114	CDP-diacylglycerol-serine O-phosphatidyltransferase activity
GO:0003881	0.000114	CDP-diacylglycerol-inositol 3-phosphatidyltransferase activity
GO:0003871	0.000114	5-methyltetrahydropteroyltriglutamate-homocysteine S-methyltransferase activity
GO:0003866	0.000114	3-phosphoshikimate 1-carboxyvinyltransferase activity
GO:0003861	0.000114	3-isopropylmalate dehydratase activity
GO:0003848	0.000114	2-amino-4-hydroxy-6-hydroxymethyldihydropteridine diphosphokinase activity
GO:0003847	0.000114	1-alkyl-2-acetylglycerophosphocholine esterase activity
GO:0002046	0.000114	opsin binding
GO:0001729	0.000114	ceramide kinase activity
GO:0001665	0.000114	alpha-N-acetylgalactosaminide alpha-2,6-sialyltransferase activity
GO:0001639	0.000114	PLC activating G-protein coupled glutamate receptor activity
GO:0001596	0.000114	angiotensin type I receptor activity
GO:0001565	0.000114	phorbol ester receptor activity
GO:0001226	0.000114	RNA polymerase II transcription corepressor binding
GO:0001217	0.000114	bacterial-type RNA polymerase transcriptional repressor activity, sequence-specific DNA binding
GO:0001216	0.000114	bacterial-type RNA polymerase transcriptional activator activity, sequence-specific DNA binding
GO:0001199	0.000114	transcription factor activity, metal ion regulated sequence-specific DNA binding
GO:0001187	0.000114	transcription factor activity, RNA polymerase I CORE element binding transcription factor recruiting
GO:0001141	0.000114	transcriptional repressor activity, bacterial-type RNA polymerase core promoter proximal region sequence-specific binding
GO:0001042	0.000114	RNA polymerase I core binding
GO:0001030	0.000114	RNA polymerase III type 1 promoter DNA binding
GO:0001007	0.000114	transcription factor activity, RNA polymerase III transcription factor binding
GO:0000995	0.000114	transcription factor activity, core RNA polymerase III binding
GO:0000334	0.000114	3-hydroxyanthranilate 3,4-dioxygenase activity
GO:0000297	0.000114	spermine transmembrane transporter activity
GO:0000249	0.000114	C-22 sterol desaturase activity
GO:0000248	0.000114	C-5 sterol desaturase activity
GO:0000247	0.000114	C-8 sterol isomerase activity
GO:0000224	0.000114	peptide-N4-(N-acetyl-beta-glucosaminyl)asparagine amidase activity
GO:0000210	0.000114	NAD+ diphosphatase activity
GO:0000095	0.000114	S-adenosyl-L-methionine transmembrane transporter activity
GO:0000035	0.000114	acyl binding
GO:2001069	0.000086	glycogen binding
GO:1990846	0.000086	ribonucleoside-diphosphate reductase inhibitor activity
GO:1990829	0.000086	C-rich single-stranded DNA binding
GO:1990525	0.000086	BIR domain binding
GO:1990460	0.000086	leptin receptor binding
GO:1990439	0.000086	MAP kinase threonine phosphatase activity
GO:1990404	0.000086	protein ADP-ribosylase activity
GO:1990174	0.000086	phosphodiesterase decapping endonuclease activity
GO:1990136	0.000086	linoleate 9S-lipoxygenase activity
GO:1990135	0.000086	flavonoid sulfotransferase activity
GO:1904929	0.000086	coreceptor activity involved in Wnt signaling pathway, planar cell polarity pathway
GO:1903763	0.000086	gap junction channel activity involved in cell communication by electrical coupling
GO:1903089	0.000086	5-amino-1-ribofuranosylimidazole-4-carboxamide transporter activity
GO:1902282	0.000086	voltage-gated potassium channel activity involved in ventricular cardiac muscle cell action potential repolarization
GO:1902098	0.000086	calcitriol binding
GO:1901680	0.000086	sulfur-containing amino acid secondary active transmembrane transporter activity
GO:0097604	0.000086	temperature-gated cation channel activity
GO:0097363	0.000086	protein O-GlcNAc transferase activity
GO:0097199	0.000086	cysteine-type endopeptidase activity involved in apoptotic signaling pathway
GO:0097177	0.000086	mitochondrial ribosome binding
GO:0097016	0.000086	L27 domain binding
GO:0097003	0.000086	adipokinetic hormone receptor activity
GO:0090585	0.000086	protein-phosphocysteine-L-ascorbate-phosphotransferase system transporter activity
GO:0090584	0.000086	protein-phosphocysteine-galactitol-phosphotransferase system transporter activity
GO:0086038	0.000086	calcium:sodium antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0080139	0.000086	borate efflux transmembrane transporter activity
GO:0080109	0.000086	indole-3-acetonitrile nitrile hydratase activity
GO:0080106	0.000086	7-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080104	0.000086	5-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080102	0.000086	3-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080101	0.000086	phosphatidyl-N-dimethylethanolamine N-methyltransferase activity
GO:0080045	0.000086	quercetin 3'-O-glucosyltransferase activity
GO:0072345	0.000086	NAADP-sensitive calcium-release channel activity
GO:0071997	0.000086	glutathione S-conjugate-transporting ATPase activity
GO:0071890	0.000086	bicarbonate binding
GO:0071885	0.000086	N-terminal protein N-methyltransferase activity
GO:0071791	0.000086	chemokine (C-C motif) ligand 5 binding
GO:0071633	0.000086	dihydroceramidase activity
GO:0071567	0.000086	UFM1 hydrolase activity
GO:0071535	0.000086	RING-like zinc finger domain binding
GO:0071522	0.000086	ureidoglycine aminohydrolase activity
GO:0071209	0.000086	U7 snRNA binding
GO:0071208	0.000086	histone pre-mRNA DCP binding
GO:0071077	0.000086	adenosine 3',5'-bisphosphate transmembrane transporter activity
GO:0070996	0.000086	type 1 melanocortin receptor binding
GO:0070991	0.000086	medium-chain-acyl-CoA dehydrogenase activity
GO:0070976	0.000086	TIR domain binding
GO:0070915	0.000086	lysophosphatidic acid receptor activity
GO:0070854	0.000086	myosin VI heavy chain binding
GO:0070699	0.000086	type II activin receptor binding
GO:0070698	0.000086	type I activin receptor binding
GO:0070678	0.000086	preprotein binding
GO:0070653	0.000086	high-density lipoprotein particle receptor binding
GO:0070506	0.000086	high-density lipoprotein particle receptor activity
GO:0070280	0.000086	pyridoxal binding
GO:0070279	0.000086	vitamin B6 binding
GO:0070139	0.000086	SUMO-specific endopeptidase activity
GO:0070137	0.000086	ubiquitin-like protein-specific endopeptidase activity
GO:0070042	0.000086	rRNA (uridine-N3-)-methyltransferase activity
GO:0070041	0.000086	rRNA (uridine-C5-)-methyltransferase activity
GO:0070012	0.000086	oligopeptidase activity
GO:0070009	0.000086	serine-type aminopeptidase activity
GO:0061656	0.000086	SUMO conjugating enzyme activity
GO:0061597	0.000086	cyclic pyranopterin monophosphate synthase activity
GO:0061513	0.000086	glucose 6-phosphate:inorganic phosphate antiporter activity
GO:0061507	0.000086	cyclic-GMP-AMP binding
GO:0061503	0.000086	tRNA threonylcarbamoyladenosine dehydratase
GO:0060241	0.000086	lysozyme inhibitor activity
GO:0060230	0.000086	lipoprotein lipase activator activity
GO:0060182	0.000086	apelin receptor activity
GO:0060175	0.000086	brain-derived neurotrophic factor-activated receptor activity
GO:0060072	0.000086	large conductance calcium-activated potassium channel activity
GO:0055105	0.000086	ubiquitin-protein transferase inhibitor activity
GO:0055054	0.000086	fructose:proton symporter activity
GO:0052858	0.000086	peptidyl-lysine N-acetyltransferase activity, acting on acetyl phosphate as donor
GO:0052839	0.000086	inositol diphosphate tetrakisphosphate kinase activity
GO:0052836	0.000086	inositol 5-diphosphate pentakisphosphate 5-kinase activity
GO:0052833	0.000086	inositol monophosphate 4-phosphatase activity
GO:0052812	0.000086	phosphatidylinositol-3,4-bisphosphate 5-kinase activity
GO:0052810	0.000086	1-phosphatidylinositol-5-kinase activity
GO:0052757	0.000086	chondroitin hydrolase activity
GO:0052691	0.000086	UDP-arabinopyranose mutase activity
GO:0052666	0.000086	tRNA (cytosine-2'-O-)-methyltransferase activity
GO:0052665	0.000086	tRNA (uracil-2'-O-)-methyltransferase activity
GO:0052657	0.000086	guanine phosphoribosyltransferase activity
GO:0052381	0.000086	tRNA dimethylallyltransferase activity
GO:0051996	0.000086	squalene synthase activity
GO:0051870	0.000086	methotrexate binding
GO:0051747	0.000086	cytosine C-5 DNA demethylase activity
GO:0051736	0.000086	ATP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0051723	0.000086	protein methylesterase activity
GO:0051718	0.000086	DNA (cytosine-5-)-methyltransferase activity, acting on CpG substrates
GO:0051670	0.000086	inulinase activity
GO:0051499	0.000086	D-aminoacyl-tRNA deacylase activity
GO:0051431	0.000086	corticotropin-releasing hormone receptor 2 binding
GO:0051373	0.000086	FATZ binding
GO:0051266	0.000086	sirohydrochlorin ferrochelatase activity
GO:0051063	0.000086	CDP reductase activity
GO:0050824	0.000086	water binding
GO:0050816	0.000086	phosphothreonine binding
GO:0050736	0.000086	O-malonyltransferase activity
GO:0050550	0.000086	pinene synthase activity
GO:0050528	0.000086	acyloxyacyl hydrolase activity
GO:0050524	0.000086	coenzyme-B sulfoethylthiotransferase activity
GO:0050518	0.000086	2-C-methyl-D-erythritol 4-phosphate cytidylyltransferase activity
GO:0050509	0.000086	N-acetylglucosaminyl-proteoglycan 4-beta-glucuronosyltransferase activity
GO:0050508	0.000086	glucuronosyl-N-acetylglucosaminyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0050502	0.000086	cis-zeatin O-beta-D-glucosyltransferase activity
GO:0050436	0.000086	microfibril binding
GO:0050403	0.000086	trans-zeatin O-beta-D-glucosyltransferase activity
GO:0050347	0.000086	trans-octaprenyltranstransferase activity
GO:0050311	0.000086	sulfite reductase (ferredoxin) activity
GO:0050302	0.000086	indole-3-acetaldehyde oxidase activity
GO:0050270	0.000086	S-adenosylhomocysteine deaminase activity
GO:0050213	0.000086	progesterone 5-alpha-reductase activity
GO:0050211	0.000086	procollagen galactosyltransferase activity
GO:0050151	0.000086	oleate hydratase activity
GO:0050113	0.000086	inositol oxygenase activity
GO:0050080	0.000086	malonyl-CoA decarboxylase activity
GO:0050051	0.000086	leukotriene-B4 20-monooxygenase activity
GO:0048244	0.000086	phytanoyl-CoA dioxygenase activity
GO:0047911	0.000086	galacturan 1,4-alpha-galacturonidase activity
GO:0047894	0.000086	flavonol 3-sulfotransferase activity
GO:0047879	0.000086	erythronolide synthase activity
GO:0047840	0.000086	dCTP diphosphatase activity
GO:0047782	0.000086	coniferin beta-glucosidase activity
GO:0047730	0.000086	carnosine synthase activity
GO:0047708	0.000086	biotinidase activity
GO:0047693	0.000086	ATP diphosphatase activity
GO:0047657	0.000086	alpha-1,3-glucan synthase activity
GO:0047652	0.000086	allantoate deiminase activity
GO:0047598	0.000086	7-dehydrocholesterol reductase activity
GO:0047571	0.000086	3-oxosteroid 1-dehydrogenase activity
GO:0047558	0.000086	3-cyanoalanine hydratase activity
GO:0047527	0.000086	2,3-dihydroxybenzoate-serine ligase activity
GO:0047493	0.000086	ceramide cholinephosphotransferase activity
GO:0047456	0.000086	2-methylisocitrate dehydratase activity
GO:0047427	0.000086	cyanoalanine nitrilase activity
GO:0047381	0.000086	dodecanoyl-[acyl-carrier-protein] hydrolase activity
GO:0047364	0.000086	desulfoglucosinolate sulfotransferase activity
GO:0047228	0.000086	1,2-diacylglycerol 3-glucosyltransferase activity
GO:0047209	0.000086	coniferyl-alcohol glucosyltransferase activity
GO:0047179	0.000086	platelet-activating factor acetyltransferase activity
GO:0047052	0.000086	(S)-stylopine synthase activity
GO:0047006	0.000086	17-alpha,20-alpha-dihydroxypregn-4-en-3-one dehydrogenase activity
GO:0046995	0.000086	oxidoreductase activity, acting on hydrogen as donor, with other known acceptors
GO:0046993	0.000086	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond, with oxygen as acceptor
GO:0046980	0.000086	tapasin binding
GO:0046921	0.000086	alpha-(1->6)-fucosyltransferase activity
GO:0046911	0.000086	metal chelating activity
GO:0046899	0.000086	nucleoside triphosphate adenylate kinase activity
GO:0046810	0.000086	host cell extracellular matrix binding
GO:0046583	0.000086	cation efflux transmembrane transporter activity
GO:0046577	0.000086	long-chain-alcohol oxidase activity
GO:0046576	0.000086	rhamnogalacturonan alpha-L-rhamnopyranosyl-(1->4)-alpha-D-galactopyranosyluronide lyase activity
GO:0046558	0.000086	arabinan endo-1,5-alpha-L-arabinosidase activity
GO:0046538	0.000086	2,3-bisphosphoglycerate-dependent phosphoglycerate mutase activity
GO:0046526	0.000086	D-xylulose reductase activity
GO:0046429	0.000086	4-hydroxy-3-methylbut-2-en-1-yl diphosphate synthase activity
GO:0046404	0.000086	ATP-dependent polydeoxyribonucleotide 5'-hydroxyl-kinase activity
GO:0046316	0.000086	gluconokinase activity
GO:0046027	0.000086	phospholipid:diacylglycerol acyltransferase activity
GO:0045485	0.000086	omega-6 fatty acid desaturase activity
GO:0045290	0.000086	D-arabinose 1-dehydrogenase [NAD(P)+] activity
GO:0045289	0.000086	luciferin monooxygenase activity
GO:0045153	0.000086	electron transporter, transferring electrons within CoQH2-cytochrome c reductase complex activity
GO:0045031	0.000086	ATP-activated adenosine receptor activity
GO:0045027	0.000086	DNA end binding
GO:0044729	0.000086	hemi-methylated DNA-binding
GO:0044547	0.000086	DNA topoisomerase binding
GO:0044377	0.000086	RNA polymerase II core promoter proximal region sequence-specific DNA binding, bending
GO:0043726	0.000086	5-amino-6-(5-phosphoribitylamino)uracil phosphatase activity
GO:0043423	0.000086	3-phosphoinositide-dependent protein kinase binding
GO:0043398	0.000086	HLH domain binding
GO:0043199	0.000086	sulfate binding
GO:0043185	0.000086	vascular endothelial growth factor receptor 3 binding
GO:0043110	0.000086	rDNA spacer replication fork barrier binding
GO:0042978	0.000086	ornithine decarboxylase activator activity
GO:0042950	0.000086	salicin transmembrane transporter activity
GO:0042943	0.000086	D-amino acid transmembrane transporter activity
GO:0042912	0.000086	colicin transmembrane transporter activity
GO:0042409	0.000086	caffeoyl-CoA O-methyltransferase activity
GO:0042389	0.000086	omega-3 fatty acid desaturase activity
GO:0042164	0.000086	interleukin-12 alpha subunit binding
GO:0042163	0.000086	interleukin-12 beta subunit binding
GO:0042131	0.000086	thiamine phosphate phosphatase activity
GO:0038062	0.000086	protein tyrosine kinase collagen receptor activity
GO:0038052	0.000086	RNA polymerase II transcription factor activity, estrogen-activated sequence-specific DNA binding
GO:0036393	0.000086	thiocyanate peroxidase activity
GO:0036318	0.000086	peptide pheromone receptor activity
GO:0036199	0.000086	cholest-4-en-3-one 26-monooxygenase activity
GO:0036055	0.000086	protein-succinyllysine desuccinylase activity
GO:0036042	0.000086	long-chain fatty acyl-CoA binding
GO:0035851	0.000086	Krueppel-associated box domain binding
GO:0035827	0.000086	rubidium ion transmembrane transporter activity
GO:0035800	0.000086	deubiquitinase activator activity
GO:0035651	0.000086	AP-3 adaptor complex binding
GO:0035598	0.000086	N6-threonylcarbomyladenosine methylthiotransferase activity
GO:0035597	0.000086	N6-isopentenyladenosine methylthiotransferase activity
GO:0035478	0.000086	chylomicron binding
GO:0035373	0.000086	chondroitin sulfate proteoglycan binding
GO:0034988	0.000086	Fc-gamma receptor I complex binding
GO:0034768	0.000086	(E)-beta-ocimene synthase activity
GO:0034736	0.000086	cholesterol O-acyltransferase activity
GO:0034459	0.000086	ATP-dependent 3'-5' RNA helicase activity
GO:0034291	0.000086	canonical holin activity
GO:0034290	0.000086	holin activity
GO:0034257	0.000086	nicotinamide riboside transmembrane transporter activity
GO:0034256	0.000086	chlorophyll(ide) b reductase activity
GO:0034188	0.000086	apolipoprotein A-I receptor activity
GO:0034186	0.000086	apolipoprotein A-I binding
GO:0034057	0.000086	RNA strand-exchange activity
GO:0034008	0.000086	R-linalool synthase activity
GO:0034005	0.000086	germacrene-A synthase activity
GO:0033939	0.000086	xylan alpha-1,2-glucuronosidase activity
GO:0033931	0.000086	endogalactosaminidase activity
GO:0033925	0.000086	mannosyl-glycoprotein endo-beta-N-acetylglucosaminidase activity
GO:0033916	0.000086	beta-agarase activity
GO:0033914	0.000086	xylan 1,3-beta-xylosidase activity
GO:0033906	0.000086	hyaluronoglucuronidase activity
GO:0033883	0.000086	pyridoxal phosphatase activity
GO:0033843	0.000086	xyloglucan 6-xylosyltransferase activity
GO:0033815	0.000086	biphenyl synthase activity
GO:0033797	0.000086	selenate reductase activity
GO:0033222	0.000086	xylose binding
GO:0033149	0.000086	FFAT motif binding
GO:0032931	0.000086	histone acetyltransferase activity (H3-K56 specific)
GO:0032767	0.000086	copper-dependent protein binding
GO:0032575	0.000086	ATP-dependent 5'-3' RNA helicase activity
GO:0032574	0.000086	5'-3' RNA helicase activity
GO:0032542	0.000086	sulfiredoxin activity
GO:0032422	0.000086	purine-rich negative regulatory element binding
GO:0032407	0.000086	MutSalpha complex binding
GO:0032405	0.000086	MutLalpha complex binding
GO:0032090	0.000086	Pyrin domain binding
GO:0032038	0.000086	myosin II heavy chain binding
GO:0031992	0.000086	energy transducer activity
GO:0031894	0.000086	V1A vasopressin receptor binding
GO:0031871	0.000086	proteinase activated receptor binding
GO:0031826	0.000086	type 2A serotonin receptor binding
GO:0031802	0.000086	type 5 metabotropic glutamate receptor binding
GO:0031770	0.000086	growth hormone-releasing hormone receptor binding
GO:0031752	0.000086	D5 dopamine receptor binding
GO:0031735	0.000086	CCR10 chemokine receptor binding
GO:0031711	0.000086	bradykinin receptor binding
GO:0031707	0.000086	endothelin A receptor binding
GO:0031703	0.000086	type 2 angiotensin receptor binding
GO:0031697	0.000086	beta-1 adrenergic receptor binding
GO:0031692	0.000086	alpha-1B adrenergic receptor binding
GO:0031686	0.000086	A1 adenosine receptor binding
GO:0031151	0.000086	histone methyltransferase activity (H3-K79 specific)
GO:0031073	0.000086	cholesterol 26-hydroxylase activity
GO:0030985	0.000086	high molecular weight kininogen binding
GO:0030942	0.000086	endoplasmic reticulum signal peptide binding
GO:0030775	0.000086	glucuronoxylan 4-O-methyltransferase activity
GO:0030696	0.000086	tRNA (m5U54) methyltransferase activity
GO:0030585	0.000086	phosphoenolpyruvate carboxykinase (diphosphate) activity
GO:0030429	0.000086	kynureninase activity
GO:0030409	0.000086	glutamate formimidoyltransferase activity
GO:0030407	0.000086	formimidoyltransferase activity
GO:0030368	0.000086	interleukin-17 receptor activity
GO:0030348	0.000086	syntaxin-3 binding
GO:0030305	0.000086	heparanase activity
GO:0030298	0.000086	receptor signaling protein tyrosine kinase activator activity
GO:0030283	0.000086	testosterone dehydrogenase [NAD(P)] activity
GO:0030266	0.000086	quinate 3-dehydrogenase (NAD+) activity
GO:0030226	0.000086	apolipoprotein receptor activity
GO:0030171	0.000086	voltage-gated proton channel activity
GO:0030156	0.000086	benzodiazepine receptor binding
GO:0023024	0.000086	MHC class I protein complex binding
GO:0022885	0.000086	bacteriocin transmembrane transporter activity
GO:0022870	0.000086	protein-N(PI)-phosphohistidine-mannose phosphotransferase system transporter activity
GO:0022848	0.000086	acetylcholine-gated cation channel activity
GO:0019976	0.000086	interleukin-2 binding
GO:0019961	0.000086	interferon binding
GO:0019959	0.000086	interleukin-8 binding
GO:0019797	0.000086	procollagen-proline 3-dioxygenase activity
GO:0019785	0.000086	ISG15-specific protease activity
GO:0019777	0.000086	Atg12 transferase activity
GO:0019767	0.000086	IgE receptor activity
GO:0019156	0.000086	isoamylase activity
GO:0019148	0.000086	D-cysteine desulfhydrase activity
GO:0019146	0.000086	arabinose-5-phosphate isomerase activity
GO:0019145	0.000086	aminobutyraldehyde dehydrogenase activity
GO:0019134	0.000086	glucosamine-1-phosphate N-acetyltransferase activity
GO:0019113	0.000086	limonene monooxygenase activity
GO:0018861	0.000086	4-chlorobenzoate-CoA ligase activity
GO:0018710	0.000086	acetone carboxylase activity
GO:0018636	0.000086	phenanthrene 9,10-monooxygenase activity
GO:0018537	0.000086	coenzyme F420-dependent N5,N10-methenyltetrahydromethanopterin reductase activity
GO:0018455	0.000086	alcohol dehydrogenase [NAD(P)+] activity
GO:0017188	0.000086	aspartate N-acetyltransferase activity
GO:0017168	0.000086	5-oxoprolinase (ATP-hydrolyzing) activity
GO:0017159	0.000086	pantetheine hydrolase activity
GO:0017129	0.000086	triglyceride binding
GO:0017125	0.000086	deoxycytidyl transferase activity
GO:0017099	0.000086	very-long-chain-acyl-CoA dehydrogenase activity
GO:0017098	0.000086	sulfonylurea receptor binding
GO:0017064	0.000086	fatty acid amide hydrolase activity
GO:0016992	0.000086	lipoate synthase activity
GO:0016971	0.000086	flavin-linked sulfhydryl oxidase activity
GO:0016913	0.000086	follicle-stimulating hormone activity
GO:0016890	0.000086	site-specific endodeoxyribonuclease activity, specific for altered base
GO:0016862	0.000086	intramolecular oxidoreductase activity, interconverting keto- and enol-groups
GO:0016856	0.000086	racemase and epimerase activity, acting on hydroxy acids and derivatives
GO:0016852	0.000086	sirohydrochlorin cobaltochelatase activity
GO:0016827	0.000086	hydrolase activity, acting on acid carbon-phosphorus bonds
GO:0016785	0.000086	transferase activity, transferring selenium-containing groups
GO:0016673	0.000086	oxidoreductase activity, acting on a sulfur group of donors, iron-sulfur protein as acceptor
GO:0016629	0.000086	12-oxophytodienoate reductase activity
GO:0016603	0.000086	glutaminyl-peptide cyclotransferase activity
GO:0016534	0.000086	cyclin-dependent protein kinase 5 activator activity
GO:0016492	0.000086	G-protein coupled neurotensin receptor activity
GO:0016309	0.000086	1-phosphatidylinositol-5-phosphate 4-kinase activity
GO:0016263	0.000086	glycoprotein-N-acetylgalactosamine 3-beta-galactosyltransferase activity
GO:0016210	0.000086	naringenin-chalcone synthase activity
GO:0016167	0.000086	glial cell-derived neurotrophic factor receptor activity
GO:0016149	0.000086	translation release factor activity, codon specific
GO:0016084	0.000086	myostimulatory hormone activity
GO:0016034	0.000086	maleylacetoacetate isomerase activity
GO:0016005	0.000086	phospholipase A2 activator activity
GO:0015607	0.000086	fatty-acyl-CoA transporter activity
GO:0015573	0.000086	beta-glucoside transmembrane transporter activity
GO:0015546	0.000086	sulfathiazole transmembrane transporter activity
GO:0015499	0.000086	formate transmembrane transporter activity
GO:0015431	0.000086	glutathione S-conjugate-exporting ATPase activity
GO:0015423	0.000086	maltose-transporting ATPase activity
GO:0015422	0.000086	oligosaccharide-transporting ATPase activity
GO:0015420	0.000086	cobalamin-transporting ATPase activity
GO:0015398	0.000086	high-affinity secondary active ammonium transmembrane transporter activity
GO:0015362	0.000086	high-affinity sodium:dicarboxylate symporter activity
GO:0015275	0.000086	stretch-activated, cation-selective, calcium channel activity
GO:0015233	0.000086	pantothenate transmembrane transporter activity
GO:0015228	0.000086	coenzyme A transmembrane transporter activity
GO:0015225	0.000086	biotin transporter activity
GO:0015218	0.000086	pyrimidine nucleotide transmembrane transporter activity
GO:0015212	0.000086	cytidine transmembrane transporter activity
GO:0015195	0.000086	L-threonine transmembrane transporter activity
GO:0015152	0.000086	glucose-6-phosphate transmembrane transporter activity
GO:0015139	0.000086	alpha-ketoglutarate transmembrane transporter activity
GO:0015138	0.000086	fumarate transmembrane transporter activity
GO:0015131	0.000086	oxaloacetate transmembrane transporter activity
GO:0015127	0.000086	bilirubin transmembrane transporter activity
GO:0015094	0.000086	lead ion transmembrane transporter activity
GO:0015091	0.000086	ferric iron transmembrane transporter activity
GO:0015039	0.000086	NADPH-adrenodoxin reductase activity
GO:0010736	0.000086	serum response element binding
GO:0010429	0.000086	methyl-CpNpN binding
GO:0010295	0.000086	(+)-abscisic acid 8'-hydroxylase activity
GO:0010285	0.000086	L,L-diaminopimelate aminotransferase activity
GO:0010280	0.000086	UDP-L-rhamnose synthase activity
GO:0010178	0.000086	IAA-amino acid conjugate hydrolase activity
GO:0010011	0.000086	auxin binding
GO:0009884	0.000086	cytokinin receptor activity
GO:0009392	0.000086	N-acetyl-anhydromuramoyl-L-alanine amidase activity
GO:0009039	0.000086	urease activity
GO:0009037	0.000086	tyrosine-based site-specific recombinase activity
GO:0009011	0.000086	starch synthase activity
GO:0009007	0.000086	site-specific DNA-methyltransferase (adenine-specific) activity
GO:0008999	0.000086	ribosomal-protein-alanine N-acetyltransferase activity
GO:0008987	0.000086	quinolinate synthetase A activity
GO:0008973	0.000086	phosphopentomutase activity
GO:0008972	0.000086	phosphomethylpyrimidine kinase activity
GO:0008967	0.000086	phosphoglycolate phosphatase activity
GO:0008966	0.000086	phosphoglucosamine mutase activity
GO:0008965	0.000086	phosphoenolpyruvate-protein phosphotransferase activity
GO:0008948	0.000086	oxaloacetate decarboxylase activity
GO:0008930	0.000086	methylthioadenosine nucleosidase activity
GO:0008926	0.000086	mannitol-1-phosphate 5-dehydrogenase activity
GO:0008922	0.000086	long-chain fatty acid [acyl-carrier-protein] ligase activity
GO:0008921	0.000086	lipopolysaccharide-1,6-galactosyltransferase activity
GO:0008920	0.000086	lipopolysaccharide heptosyltransferase activity
GO:0008886	0.000086	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (non-phosphorylating) activity
GO:0008883	0.000086	glutamyl-tRNA reductase activity
GO:0008877	0.000086	glucose-1-phosphatase activity
GO:0008854	0.000086	exodeoxyribonuclease V activity
GO:0008841	0.000086	dihydrofolate synthase activity
GO:0008839	0.000086	4-hydroxy-tetrahydrodipicolinate reductase
GO:0008836	0.000086	diaminopimelate decarboxylase activity
GO:0008834	0.000086	di-trans,poly-cis-decaprenylcistransferase activity
GO:0008824	0.000086	cyanate hydratase activity
GO:0008823	0.000086	cupric reductase activity
GO:0008812	0.000086	choline dehydrogenase activity
GO:0008801	0.000086	beta-phosphoglucomutase activity
GO:0008794	0.000086	arsenate reductase (glutaredoxin) activity
GO:0008793	0.000086	aromatic-amino-acid:2-oxoglutarate aminotransferase activity
GO:0008783	0.000086	agmatinase activity
GO:0008768	0.000086	UDP-sugar diphosphatase activity
GO:0008763	0.000086	UDP-N-acetylmuramate-L-alanine ligase activity
GO:0008742	0.000086	L-ribulose-phosphate 4-epimerase activity
GO:0008710	0.000086	8-amino-7-oxononanoate synthase activity
GO:0008703	0.000086	5-amino-6-(5-phosphoribosylamino)uracil reductase activity
GO:0008700	0.000086	4-hydroxy-2-oxoglutarate aldolase activity
GO:0008677	0.000086	2-dehydropantoate 2-reductase activity
GO:0008676	0.000086	3-deoxy-8-phosphooctulonate synthase activity
GO:0008663	0.000086	2',3'-cyclic-nucleotide 2'-phosphodiesterase activity
GO:0008661	0.000086	1-deoxy-D-xylulose-5-phosphate synthase activity
GO:0008554	0.000086	sodium-exporting ATPase activity, phosphorylative mechanism
GO:0008545	0.000086	JUN kinase kinase activity
GO:0008490	0.000086	arsenite secondary active transmembrane transporter activity
GO:0008489	0.000086	UDP-galactose:glucosylceramide beta-1,4-galactosyltransferase activity
GO:0008482	0.000086	sulfite oxidase activity
GO:0008481	0.000086	sphinganine kinase activity
GO:0008479	0.000086	queuine tRNA-ribosyltransferase activity
GO:0008460	0.000086	dTDP-glucose 4,6-dehydratase activity
GO:0008459	0.000086	chondroitin 6-sulfotransferase activity
GO:0008458	0.000086	carnitine O-octanoyltransferase activity
GO:0008455	0.000086	alpha-1,6-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0008431	0.000086	vitamin E binding
GO:0008412	0.000086	4-hydroxybenzoate octaprenyltransferase activity
GO:0008321	0.000086	Ral guanyl-nucleotide exchange factor activity
GO:0008281	0.000086	sulfonylurea receptor activity
GO:0008263	0.000086	pyrimidine-specific mismatch base pair DNA N-glycosylase activity
GO:0008254	0.000086	3'-nucleotidase activity
GO:0008127	0.000086	quercetin 2,3-dioxygenase activity
GO:0008119	0.000086	thiopurine S-methyltransferase activity
GO:0008117	0.000086	sphinganine-1-phosphate aldolase activity
GO:0008010	0.000086	structural constituent of chitin-based larval cuticle
GO:0005502	0.000086	11-cis retinal binding
GO:0005464	0.000086	UDP-xylose transmembrane transporter activity
GO:0005461	0.000086	UDP-glucuronic acid transmembrane transporter activity
GO:0005371	0.000086	tricarboxylate secondary active transmembrane transporter activity
GO:0005368	0.000086	taurine transmembrane transporter activity
GO:0005366	0.000086	myo-inositol:proton symporter activity
GO:0005325	0.000086	peroxisomal fatty-acyl-CoA transporter activity
GO:0005308	0.000086	creatine transmembrane transporter activity
GO:0005304	0.000086	L-valine transmembrane transporter activity
GO:0005298	0.000086	proline:sodium symporter activity
GO:0005214	0.000086	structural constituent of chitin-based cuticle
GO:0005183	0.000086	gonadotropin hormone-releasing hormone activity
GO:0005163	0.000086	nerve growth factor receptor binding
GO:0005150	0.000086	interleukin-1, Type I receptor binding
GO:0005137	0.000086	interleukin-5 receptor binding
GO:0005130	0.000086	granulocyte colony-stimulating factor receptor binding
GO:0005128	0.000086	erythropoietin receptor binding
GO:0005118	0.000086	sevenless binding
GO:0005110	0.000086	frizzled-2 binding
GO:0005055	0.000086	laminin receptor activity
GO:0005052	0.000086	peroxisome matrix targeting signal-1 binding
GO:0005018	0.000086	platelet-derived growth factor alpha-receptor activity
GO:0005011	0.000086	macrophage colony-stimulating factor receptor activity
GO:0005008	0.000086	hepatocyte growth factor-activated receptor activity
GO:0004963	0.000086	follicle-stimulating hormone receptor activity
GO:0004960	0.000086	thromboxane receptor activity
GO:0004951	0.000086	cholecystokinin receptor activity
GO:0004943	0.000086	C3a anaphylatoxin receptor activity
GO:0004941	0.000086	beta2-adrenergic receptor activity
GO:0004851	0.000086	uroporphyrin-III C-methyltransferase activity
GO:0004845	0.000086	uracil phosphoribosyltransferase activity
GO:0004829	0.000086	threonine-tRNA ligase activity
GO:0004822	0.000086	isoleucine-tRNA ligase activity
GO:0004819	0.000086	glutamine-tRNA ligase activity
GO:0004817	0.000086	cysteine-tRNA ligase activity
GO:0004814	0.000086	arginine-tRNA ligase activity
GO:0004789	0.000086	thiamine-phosphate diphosphorylase activity
GO:0004780	0.000086	sulfate adenylyltransferase (ADP) activity
GO:0004760	0.000086	serine-pyruvate transaminase activity
GO:0004756	0.000086	selenide, water dikinase activity
GO:0004727	0.000086	prenylated protein tyrosine phosphatase activity
GO:0004676	0.000086	3-phosphoinositide-dependent protein kinase activity
GO:0004664	0.000086	prephenate dehydratase activity
GO:0004655	0.000086	porphobilinogen synthase activity
GO:0004636	0.000086	phosphoribosyl-ATP diphosphatase activity
GO:0004635	0.000086	phosphoribosyl-AMP cyclohydrolase activity
GO:0004631	0.000086	phosphomevalonate kinase activity
GO:0004612	0.000086	phosphoenolpyruvate carboxykinase (ATP) activity
GO:0004583	0.000086	dolichyl-phosphate-glucose-glycolipid alpha-glucosyltransferase activity
GO:0004506	0.000086	squalene monooxygenase activity
GO:0004498	0.000086	calcidiol 1-monooxygenase activity
GO:0004494	0.000086	methylmalonyl-CoA mutase activity
GO:0004487	0.000086	methylenetetrahydrofolate dehydrogenase (NAD+) activity
GO:0004463	0.000086	leukotriene-A4 hydrolase activity
GO:0004455	0.000086	ketol-acid reductoisomerase activity
GO:0004454	0.000086	ketohexokinase activity
GO:0004447	0.000086	iodide peroxidase activity
GO:0004441	0.000086	inositol-1,4-bisphosphate 1-phosphatase activity
GO:0004408	0.000086	holocytochrome-c synthase activity
GO:0004400	0.000086	histidinol-phosphate transaminase activity
GO:0004397	0.000086	histidine ammonia-lyase activity
GO:0004395	0.000086	hexaprenyldihydroxybenzoate methyltransferase activity
GO:0004380	0.000086	glycoprotein-fucosylgalactoside alpha-N-acetylgalactosaminyltransferase activity
GO:0004358	0.000086	glutamate N-acetyltransferase activity
GO:0004350	0.000086	glutamate-5-semialdehyde dehydrogenase activity
GO:0004342	0.000086	glucosamine-6-phosphate deaminase activity
GO:0004341	0.000086	gluconolactonase activity
GO:0004163	0.000086	diphosphomevalonate decarboxylase activity
GO:0004160	0.000086	dihydroxy-acid dehydratase activity
GO:0004155	0.000086	6,7-dihydropteridine reductase activity
GO:0004141	0.000086	dethiobiotin synthase activity
GO:0004139	0.000086	deoxyribose-phosphate aldolase activity
GO:0004138	0.000086	deoxyguanosine kinase activity
GO:0004135	0.000086	amylo-alpha-1,6-glucosidase activity
GO:0004123	0.000086	cystathionine gamma-lyase activity
GO:0004122	0.000086	cystathionine beta-synthase activity
GO:0004107	0.000086	chorismate synthase activity
GO:0004099	0.000086	chitin deacetylase activity
GO:0004077	0.000086	biotin-[acetyl-CoA-carboxylase] ligase activity
GO:0004076	0.000086	biotin synthase activity
GO:0004073	0.000086	aspartate-semialdehyde dehydrogenase activity
GO:0004063	0.000086	aryldialkylphosphatase activity
GO:0004043	0.000086	L-aminoadipate-semialdehyde dehydrogenase activity
GO:0004038	0.000086	allantoinase activity
GO:0004034	0.000086	aldose 1-epimerase activity
GO:0004008	0.000086	copper-exporting ATPase activity
GO:0003996	0.000086	acyl-CoA ligase activity
GO:0003976	0.000086	UDP-N-acetylglucosamine-lysosomal-enzyme N-acetylglucosaminephosphotransferase activity
GO:0003949	0.000086	1-(5-phosphoribosyl)-5-[(5-phosphoribosylamino)methylideneamino]imidazole-4-carboxamide isomerase activity
GO:0003948	0.000086	N4-(beta-N-acetylglucosaminyl)-L-asparaginase activity
GO:0003942	0.000086	N-acetyl-gamma-glutamyl-phosphate reductase activity
GO:0003921	0.000086	GMP synthase activity
GO:0003920	0.000086	GMP reductase activity
GO:0003911	0.000086	DNA ligase (NAD+) activity
GO:0003878	0.000086	ATP citrate synthase activity
GO:0003875	0.000086	ADP-ribosylarginine hydrolase activity
GO:0003860	0.000086	3-hydroxyisobutyryl-CoA hydrolase activity
GO:0003850	0.000086	2-deoxyglucose-6-phosphatase activity
GO:0003843	0.000086	1,3-beta-D-glucan synthase activity
GO:0003837	0.000086	beta-ureidopropionase activity
GO:0003835	0.000086	beta-galactoside alpha-2,6-sialyltransferase activity
GO:0003829	0.000086	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0003826	0.000086	alpha-ketoacid dehydrogenase activity
GO:0003726	0.000086	double-stranded RNA adenosine deaminase activity
GO:0002196	0.000086	Ser-tRNA(Ala) hydrolase activity
GO:0001851	0.000086	complement component C3b binding
GO:0001735	0.000086	prenylcysteine oxidase activity
GO:0001681	0.000086	sialate O-acetylesterase activity
GO:0001646	0.000086	cAMP receptor activity
GO:0001621	0.000086	ADP receptor activity
GO:0001406	0.000086	glycerophosphodiester transmembrane transporter activity
GO:0001201	0.000086	RNA polymerase II transcription factor activity, metal ion regulated core promoter proximal region sequence-specific binding
GO:0001200	0.000086	RNA polymerase II transcription factor activity, metal ion regulated sequence-specific DNA binding
GO:0001181	0.000086	transcription factor activity, core RNA polymerase I binding
GO:0001165	0.000086	RNA polymerase I upstream control element sequence-specific DNA binding
GO:0001139	0.000086	transcription factor activity, core RNA polymerase II recruiting
GO:0001092	0.000086	TFIIA-class transcription factor binding
GO:0001075	0.000086	transcription factor activity, RNA polymerase II core promoter sequence-specific binding involved in preinitiation complex assembly
GO:0001073	0.000086	transcription antitermination factor activity, DNA binding
GO:0001032	0.000086	RNA polymerase III type 3 promoter DNA binding
GO:0001031	0.000086	RNA polymerase III type 2 promoter DNA binding
GO:0001026	0.000086	TFIIIB-type transcription factor activity
GO:0001000	0.000086	bacterial-type RNA polymerase core enzyme binding
GO:0000906	0.000086	6,7-dimethyl-8-ribityllumazine synthase activity
GO:0000823	0.000086	inositol-1,4,5-trisphosphate 6-kinase activity
GO:0000404	0.000086	heteroduplex DNA loop binding
GO:0000341	0.000086	RNA trimethylguanosine cap binding
GO:0000246	0.000086	delta24(24-1) sterol reductase activity
GO:0000179	0.000086	rRNA (adenine-N6,N6-)-dimethyltransferase activity
GO:0000170	0.000086	sphingosine hydroxylase activity
GO:0000121	0.000086	glycerol-1-phosphatase activity
GO:0000107	0.000086	imidazoleglycerol-phosphate synthase activity
GO:2001227	0.000057	quercitrin binding
GO:2001147	0.000057	camalexin binding
GO:1990948	0.000057	ubiquitin ligase inhibitor activity
GO:1990889	0.000057	H4K20me3 modified histone binding
GO:1990825	0.000057	sequence-specific mRNA binding
GO:1990698	0.000057	palmitoleoyltransferase activity
GO:1990447	0.000057	U2 snRNP binding
GO:1990259	0.000057	histone-glutamine methyltransferase activity
GO:1990238	0.000057	double-stranded DNA endodeoxyribonuclease activity
GO:1990189	0.000057	peptide-serine-N-acetyltransferase activity
GO:1990165	0.000057	single-strand break-containing DNA binding
GO:1990163	0.000057	ATP-dependent four-way junction helicase activity
GO:1990081	0.000057	trimethylamine receptor activity
GO:1990050	0.000057	phosphatidic acid transporter activity
GO:1990002	0.000057	methylglyoxal reductase (NADPH-dependent, acetol producing)
GO:1904713	0.000057	beta-catenin destruction complex binding
GO:1903924	0.000057	estradiol binding
GO:1903425	0.000057	fluoride transmembrane transporter activity
GO:1903136	0.000057	cuprous ion binding
GO:1903135	0.000057	cupric ion binding
GO:1902670	0.000057	carbon dioxide binding
GO:1902417	0.000057	(+)-abscisic acid D-glucopyranosyl ester transmembrane transporter activity
GO:1902379	0.000057	chemoattractant activity involved in axon guidance
GO:1902121	0.000057	lithocholic acid binding
GO:1901683	0.000057	arsenate ion transmembrane transporter activity
GO:1901239	0.000057	malonate(1-) transmembrane transporter activity
GO:1901149	0.000057	salicylic acid binding
GO:0098782	0.000057	mechanically-gated potassium channel activity
GO:0098603	0.000057	selenol Se-methyltransferase activity
GO:0097259	0.000057	20-aldehyde-leukotriene B4 20-monooxygenase activity
GO:0097258	0.000057	20-hydroxy-leukotriene B4 omega oxidase activity
GO:0097243	0.000057	flavonoid binding
GO:0097158	0.000057	pre-mRNA intronic pyrimidine-rich binding
GO:0097079	0.000057	selenite:proton symporter activity
GO:0097023	0.000057	fructose 6-phosphate aldolase activity
GO:0097020	0.000057	COPII adaptor activity
GO:0090633	0.000057	keto-deoxynonulosonic acid (KDN) cytidylyltransferase activity
GO:0090632	0.000057	N-glycolylneuraminic acid (Neu5Gc) cytidylyltransferase activity
GO:0090566	0.000057	protein-phosphocysteine-N,N'-diacetylchitobiose phosphotransferase system transporter activity
GO:0090541	0.000057	MIT domain binding
GO:0090450	0.000057	inosine-diphosphatase activity
GO:0090440	0.000057	abscisic acid transporter activity
GO:0090439	0.000057	tetraketide alpha-pyrone synthase activity
GO:0090432	0.000057	myristoyl-CoA ligase activity
GO:0090416	0.000057	nicotinate transporter activity
GO:0090409	0.000057	malonyl-CoA synthetase activity
GO:0090353	0.000057	polygalacturonase inhibitor activity
GO:0086089	0.000057	voltage-gated potassium channel activity involved in atrial cardiac muscle cell action potential repolarization
GO:0086075	0.000057	gap junction channel activity involved in cardiac conduction electrical coupling
GO:0086063	0.000057	voltage-gated sodium channel activity involved in SA node cell action potential
GO:0086062	0.000057	voltage-gated sodium channel activity involved in Purkinje myocyte action potential
GO:0086059	0.000057	voltage-gated calcium channel activity involved SA node cell action potential
GO:0080176	0.000057	xyloglucan 1,6-alpha-xylosidase activity
GO:0080132	0.000057	fatty acid alpha-hydroxylase activity
GO:0080122	0.000057	AMP transmembrane transporter activity
GO:0080118	0.000057	brassinosteroid sulfotransferase activity
GO:0080115	0.000057	myosin XI tail binding
GO:0080105	0.000057	6-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080073	0.000057	spermidine:coumaroyl CoA N-acyltransferase activity
GO:0080072	0.000057	spermidine:sinapoyl CoA N-acyltransferase activity
GO:0080062	0.000057	cytokinin 9-beta-glucosyltransferase activity
GO:0080049	0.000057	L-gulono-1,4-lactone dehydrogenase activity
GO:0080041	0.000057	ADP-ribose pyrophosphohydrolase activity
GO:0080007	0.000057	S-nitrosoglutathione reductase activity
GO:0080002	0.000057	UDP-glucose:4-aminobenzoate acylglucosyltransferase activity
GO:0072590	0.000057	N-acetyl-L-aspartate-L-glutamate ligase activity
GO:0072572	0.000057	poly-ADP-D-ribose binding
GO:0072549	0.000057	monocoumaroyl dicaffeoyl spermidine meta-hydroxylase activity
GO:0072548	0.000057	dicoumaroyl monocaffeoyl spermidine meta-hydroxylase activity
GO:0072547	0.000057	tricoumaroylspermidine meta-hydroxylase activity
GO:0072545	0.000057	tyrosine binding
GO:0072533	0.000057	tri-(coumaroyl or caffeoyl) spermidine meta-hydroxylase activity
GO:0072320	0.000057	volume-sensitive chloride channel activity
GO:0071886	0.000057	1-(4-iodo-2,5-dimethoxyphenyl)propan-2-amine binding
GO:0071713	0.000057	para-aminobenzoyl-glutamate hydrolase activity
GO:0071568	0.000057	UFM1 transferase activity
GO:0071566	0.000057	UFM1 activating enzyme activity
GO:0071207	0.000057	histone pre-mRNA stem-loop binding
GO:0071164	0.000057	RNA trimethylguanosine synthase activity
GO:0070890	0.000057	sodium-dependent L-ascorbate transmembrane transporter activity
GO:0070856	0.000057	myosin VI light chain binding
GO:0070855	0.000057	myosin VI head/neck binding
GO:0070780	0.000057	dihydrosphingosine-1-phosphate phosphatase activity
GO:0070774	0.000057	phytoceramidase activity
GO:0070773	0.000057	protein-N-terminal glutamine amidohydrolase activity
GO:0070738	0.000057	tubulin-glycine ligase activity
GO:0070694	0.000057	deoxyribonucleoside 5'-monophosphate N-glycosidase activity
GO:0070677	0.000057	rRNA (cytosine-2'-O-)-methyltransferase activity
GO:0070635	0.000057	nicotinamide riboside hydrolase activity
GO:0070546	0.000057	L-phenylalanine aminotransferase activity
GO:0070540	0.000057	stearic acid binding
GO:0070539	0.000057	linoleic acid binding
GO:0070463	0.000057	tubulin-dependent ATPase activity
GO:0070379	0.000057	high mobility group box 1 binding
GO:0070361	0.000057	mitochondrial light strand promoter anti-sense binding
GO:0070290	0.000057	N-acylphosphatidylethanolamine-specific phospholipase D activity
GO:0070287	0.000057	ferritin receptor activity
GO:0070260	0.000057	5'-tyrosyl-DNA phosphodiesterase activity
GO:0070224	0.000057	sulfide:quinone oxidoreductase activity
GO:0070140	0.000057	SUMO-specific isopeptidase activity
GO:0070138	0.000057	ubiquitin-like protein-specific isopeptidase activity
GO:0070123	0.000057	transforming growth factor beta receptor activity, type III
GO:0070122	0.000057	isopeptidase activity
GO:0070080	0.000057	titin Z domain binding
GO:0070043	0.000057	rRNA (guanine-N7-)-methyltransferase activity
GO:0061759	0.000057	alpha-ketoglutarate reductase activity
GO:0061752	0.000057	telomeric repeat-containing RNA binding
GO:0061750	0.000057	acid sphingomyelin phosphodiesterase activity
GO:0061714	0.000057	folic acid receptor activity
GO:0061697	0.000057	protein-glutaryllysine deglutarylase activity
GO:0061690	0.000057	lipoamidase activity
GO:0061628	0.000057	H3K27me3 modified histone binding
GO:0061609	0.000057	fructose-1-phosphate aldolase activity
GO:0061599	0.000057	molybdopterin molybdotransferase activity
GO:0061598	0.000057	molybdopterin adenylyltransferase activity
GO:0061547	0.000057	glycogen synthase activity, transferring glucose-1-phosphate
GO:0061542	0.000057	3-demethylubiquinone-n 3-O-methyltransferase activity
GO:0060422	0.000057	peptidyl-dipeptidase inhibitor activity
GO:0055104	0.000057	ligase inhibitor activity
GO:0052885	0.000057	all-trans-retinyl-ester hydrolase, 11-cis retinol forming activity
GO:0052883	0.000057	tyrosine ammonia-lyase activity
GO:0052875	0.000057	riboflavin reductase (NADH) activity
GO:0052832	0.000057	inositol monophosphate 3-phosphatase activity
GO:0052829	0.000057	inositol-1,3,4-trisphosphate 1-phosphatase activity
GO:0052828	0.000057	inositol-3,4-bisphosphate 4-phosphatase activity
GO:0052815	0.000057	medium-chain acyl-CoA hydrolase activity
GO:0052794	0.000057	exo-alpha-(2->3)-sialidase activity
GO:0052793	0.000057	pectin acetylesterase activity
GO:0052751	0.000057	GDP-mannose hydrolase activity
GO:0052732	0.000057	phosphoethanolamine phosphatase activity
GO:0052731	0.000057	phosphocholine phosphatase activity
GO:0052656	0.000057	L-isoleucine transaminase activity
GO:0052655	0.000057	L-valine transaminase activity
GO:0052654	0.000057	L-leucine transaminase activity
GO:0052638	0.000057	indole-3-butyrate beta-glucosyltransferase activity
GO:0052635	0.000057	C-20 gibberellin 2-beta-dioxygenase activity
GO:0052634	0.000057	C-19 gibberellin 2-beta-dioxygenase activity
GO:0052631	0.000057	sphingolipid delta-8 desaturase activity
GO:0052630	0.000057	UDP-N-acetylgalactosamine diphosphorylase activity
GO:0052624	0.000057	2-phytyl-1,4-naphthoquinone methyltransferase activity
GO:0052623	0.000057	ADP dimethylallyltransferase activity
GO:0052622	0.000057	ATP dimethylallyltransferase activity
GO:0051978	0.000057	lysophospholipid transporter activity
GO:0051916	0.000057	granulocyte colony-stimulating factor binding
GO:0051800	0.000057	phosphatidylinositol-3,4-bisphosphate 3-phosphatase activity
GO:0051786	0.000057	all-trans-retinol 13,14-reductase activity
GO:0051777	0.000057	ent-kaurenoate oxidase activity
GO:0051749	0.000057	indole acetic acid carboxyl methyltransferase activity
GO:0051741	0.000057	2-methyl-6-phytyl-1,4-benzoquinone methyltransferase activity
GO:0051719	0.000057	DNA (cytosine-5-)-methyltransferase activity, acting on CpN substrates
GO:0051717	0.000057	inositol-1,3,4,5-tetrakisphosphate 3-phosphatase activity
GO:0051507	0.000057	beta-sitosterol UDP-glucosyltransferase activity
GO:0051500	0.000057	D-tyrosyl-tRNA(Tyr) deacylase activity
GO:0051381	0.000057	histamine binding
GO:0051118	0.000057	glucan endo-1,3-alpha-glucosidase activity
GO:0051033	0.000057	RNA transmembrane transporter activity
GO:0051032	0.000057	nucleic acid transmembrane transporter activity
GO:0050827	0.000057	toxin receptor binding
GO:0050825	0.000057	ice binding
GO:0050797	0.000057	thymidylate synthase (FAD) activity
GO:0050785	0.000057	advanced glycation end-product receptor activity
GO:0050782	0.000057	galactose uniporter activity
GO:0050734	0.000057	hydroxycinnamoyltransferase activity
GO:0050698	0.000057	proteoglycan sulfotransferase activity
GO:0050692	0.000057	DBD domain binding
GO:0050682	0.000057	AF-2 domain binding
GO:0050659	0.000057	N-acetylgalactosamine 4-sulfate 6-O-sulfotransferase activity
GO:0050626	0.000057	trimethylamine-N-oxide reductase (cytochrome c) activity
GO:0050614	0.000057	delta24-sterol reductase activity
GO:0050587	0.000057	chlorite O2-lyase activity
GO:0050565	0.000057	aerobactin synthase activity
GO:0050500	0.000057	1,3-beta-galactosyl-N-acetylhexosamine phosphorylase activity
GO:0050483	0.000057	IMP 5'-nucleotidase activity
GO:0050474	0.000057	(S)-norcoclaurine synthase activity
GO:0050467	0.000057	pentalenene synthase activity
GO:0050446	0.000057	azobenzene reductase activity
GO:0050385	0.000057	ureidoglycolate lyase activity
GO:0050377	0.000057	UDP-glucose 4,6-dehydratase activity
GO:0050354	0.000057	triokinase activity
GO:0050353	0.000057	trimethyllysine dioxygenase activity
GO:0050333	0.000057	thiamin-triphosphatase activity
GO:0050313	0.000057	sulfur dioxygenase activity
GO:0050292	0.000057	steroid 9-alpha-monooxygenase activity
GO:0050290	0.000057	sphingomyelin phosphodiesterase D activity
GO:0050278	0.000057	sedoheptulose-bisphosphatase activity
GO:0050277	0.000057	sedoheptulokinase activity
GO:0050269	0.000057	coniferyl-aldehyde dehydrogenase activity
GO:0050266	0.000057	rosmarinate synthase activity
GO:0050236	0.000057	pyridoxine:NADP 4-dehydrogenase activity
GO:0050220	0.000057	prostaglandin-E synthase activity
GO:0050208	0.000057	polysialic-acid O-acetyltransferase activity
GO:0050203	0.000057	oxalate-CoA ligase activity
GO:0050201	0.000057	fucokinase activity
GO:0050200	0.000057	plasmalogen synthase activity
GO:0050178	0.000057	phenylpyruvate tautomerase activity
GO:0050152	0.000057	omega-amidase activity
GO:0050139	0.000057	nicotinate glucosyltransferase activity
GO:0050124	0.000057	N-acylneuraminate-9-phosphatase activity
GO:0050121	0.000057	N-acylglucosamine 2-epimerase activity
GO:0050119	0.000057	N-acetylglucosamine deacetylase activity
GO:0050118	0.000057	N-acetyldiaminopimelate deacetylase activity
GO:0050104	0.000057	L-gulonate 3-dehydrogenase activity
GO:0050061	0.000057	long-chain-aldehyde dehydrogenase activity
GO:0050054	0.000057	lignostilbene alpha beta-dioxygenase activity
GO:0050048	0.000057	L-leucine:2-oxoglutarate aminotransferase activity
GO:0050031	0.000057	L-pipecolate oxidase activity
GO:0050023	0.000057	L-fuconate dehydratase activity
GO:0048001	0.000057	erythrose-4-phosphate dehydrogenase activity
GO:0047958	0.000057	glycine:2-oxoglutarate aminotransferase activity
GO:0047952	0.000057	glycerol-3-phosphate dehydrogenase [NAD(P)+] activity
GO:0047939	0.000057	L-glucuronate reductase activity
GO:0047888	0.000057	fatty acid peroxidase activity
GO:0047874	0.000057	dolichyldiphosphatase activity
GO:0047868	0.000057	dimethylmaleate hydratase activity
GO:0047865	0.000057	dimethylglycine dehydrogenase activity
GO:0047837	0.000057	D-xylose 1-dehydrogenase (NADP+) activity
GO:0047821	0.000057	D-glutamate oxidase activity
GO:0047808	0.000057	D(-)-tartrate dehydratase activity
GO:0047807	0.000057	cytokinin 7-beta-glucosyltransferase activity
GO:0047804	0.000057	cysteine-S-conjugate beta-lyase activity
GO:0047783	0.000057	corticosterone 18-monooxygenase activity
GO:0047777	0.000057	(3S)-citramalyl-CoA lyase activity
GO:0047746	0.000057	chlorophyllase activity
GO:0047728	0.000057	carnitine 3-dehydrogenase activity
GO:0047688	0.000057	aspartate 4-decarboxylase activity
GO:0047681	0.000057	aryl-alcohol dehydrogenase (NADP+) activity
GO:0047668	0.000057	amygdalin beta-glucosidase activity
GO:0047656	0.000057	alpha,alpha-trehalose phosphorylase activity
GO:0047634	0.000057	agmatine N4-coumaroyltransferase activity
GO:0047632	0.000057	agmatine deiminase activity
GO:0047622	0.000057	adenosine nucleosidase activity
GO:0047613	0.000057	aconitate decarboxylase activity
GO:0047589	0.000057	5-aminovalerate transaminase activity
GO:0047517	0.000057	1,4-beta-D-xylan synthase activity
GO:0047471	0.000057	maltose alpha-D-glucosyltransferase activity
GO:0047451	0.000057	3-hydroxyoctanoyl-[acyl-carrier-protein] dehydratase activity
GO:0047443	0.000057	4-hydroxy-4-methyl-2-oxoglutarate aldolase activity
GO:0047433	0.000057	branched-chain-2-oxoacid decarboxylase activity
GO:0047395	0.000057	glycerophosphoinositol glycerophosphodiesterase activity
GO:0047341	0.000057	fucose-1-phosphate guanylyltransferase activity
GO:0047323	0.000057	[3-methyl-2-oxobutanoate dehydrogenase (acetyl-transferring)] kinase activity
GO:0047312	0.000057	L-phenylalanine:pyruvate aminotransferase activity
GO:0047286	0.000057	NAD+-diphthamide ADP-ribosyltransferase activity
GO:0047268	0.000057	galactinol-raffinose galactosyltransferase activity
GO:0047220	0.000057	galactosylxylosylprotein 3-beta-galactosyltransferase activity
GO:0047213	0.000057	anthocyanidin 3-O-glucosyltransferase activity
GO:0047181	0.000057	benzophenone synthase activity
GO:0047173	0.000057	phosphatidylcholine-retinol O-acyltransferase activity
GO:0047150	0.000057	betaine-homocysteine S-methyltransferase activity
GO:0047126	0.000057	N5-(carboxyethyl)ornithine synthase activity
GO:0047115	0.000057	trans-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0047100	0.000057	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (phosphorylating) activity
GO:0047091	0.000057	L-lysine 6-monooxygenase (NADPH) activity
GO:0047068	0.000057	N5,N10-methenyltetrahydromethanopterin hydrogenase activity
GO:0047053	0.000057	(S)-cheilanthifoline synthase activity
GO:0047046	0.000057	homoisocitrate dehydrogenase activity
GO:0047045	0.000057	testosterone 17-beta-dehydrogenase (NADP+) activity
GO:0047017	0.000057	prostaglandin-F synthase activity
GO:0047012	0.000057	sterol-4-alpha-carboxylate 3-dehydrogenase (decarboxylating) activity
GO:0047011	0.000057	2-dehydropantolactone reductase (A-specific) activity
GO:0046989	0.000057	galactosyl beta-1,3 N-acetylgalactosamine beta-1,3-glucuronosyltransferase activity
GO:0046988	0.000057	asioloorosomucoid beta-1,3-glucuronosyltransferase activity
GO:0046987	0.000057	N-acetyllactosamine beta-1,3-glucuronosyltransferase activity
GO:0046919	0.000057	pyruvyltransferase activity
GO:0046910	0.000057	pectinesterase inhibitor activity
GO:0046811	0.000057	histone deacetylase inhibitor activity
GO:0046593	0.000057	mandelonitrile lyase activity
GO:0046573	0.000057	lactonohydrolase activity
GO:0046570	0.000057	methylthioribulose 1-phosphate dehydratase activity
GO:0046566	0.000057	DOPA dioxygenase activity
GO:0046559	0.000057	alpha-glucuronidase activity
GO:0046524	0.000057	sucrose-phosphate synthase activity
GO:0046522	0.000057	S-methyl-5-thioribose kinase activity
GO:0046029	0.000057	mannitol dehydrogenase activity
GO:0046028	0.000057	electron transporter, transferring electrons from cytochrome b6/f complex of photosystem II activity
GO:0045550	0.000057	geranylgeranyl reductase activity
GO:0045547	0.000057	dehydrodolichyl diphosphate synthase activity
GO:0045523	0.000057	interleukin-27 receptor binding
GO:0045517	0.000057	interleukin-20 receptor binding
GO:0045509	0.000057	interleukin-27 receptor activity
GO:0045431	0.000057	flavonol synthase activity
GO:0045155	0.000057	electron transporter, transferring electrons from CoQH2-cytochrome c reductase complex and cytochrome c oxidase complex activity
GO:0045154	0.000057	electron transporter, transferring electrons within cytochrome c oxidase complex activity
GO:0045142	0.000057	triplex DNA binding
GO:0045131	0.000057	pre-mRNA branch point binding
GO:0045129	0.000057	NAD-independent histone deacetylase activity
GO:0045030	0.000057	UTP-activated nucleotide receptor activity
GO:0044716	0.000057	8-oxo-GDP phosphatase activity
GO:0044689	0.000057	7,8-didemethyl-8-hydroxy-5-deazariboflavin synthase activity
GO:0044683	0.000057	methylthiol:coenzyme M methyltransferase activity
GO:0044682	0.000057	archaeal-specific GTP cyclohydrolase activity
GO:0044654	0.000057	starch alpha-glucosidase activity
GO:0044610	0.000057	FMN transmembrane transporter activity
GO:0044604	0.000057	phytochelatin transmembrane transporter ATPase activity
GO:0044594	0.000057	17-beta-hydroxysteroid dehydrogenase (NAD+) activity
GO:0044540	0.000057	L-cystine L-cysteine-lyase (deaminating)
GO:0044378	0.000057	non-sequence-specific DNA binding, bending
GO:0043997	0.000057	histone acetyltransferase activity (H4-K12 specific)
GO:0043995	0.000057	histone acetyltransferase activity (H4-K5 specific)
GO:0043958	0.000057	acryloyl-CoA reductase activity
GO:0043955	0.000057	3-hydroxypropionyl-CoA synthetase activity
GO:0043914	0.000057	NADPH:sulfur oxidoreductase activity
GO:0043880	0.000057	crotonyl-CoA reductase activity
GO:0043834	0.000057	trimethylamine methyltransferase activity
GO:0043796	0.000057	glyceraldehyde dehydrogenase (NADP) activity
GO:0043794	0.000057	formate dehydrogenase (coenzyme F420) activity
GO:0043791	0.000057	dimethylamine methyltransferase activity
GO:0043764	0.000057	UDP-3-O-[3-hydroxymyristoyl] glucosamine N-acyltransferase activity
GO:0043733	0.000057	DNA-3-methylbase glycosylase activity
GO:0043532	0.000057	angiostatin binding
GO:0043530	0.000057	adenosine 5'-monophosphoramidase activity
GO:0043404	0.000057	corticotropin-releasing hormone receptor activity
GO:0043364	0.000057	catalysis of free radical formation
GO:0043183	0.000057	vascular endothelial growth factor receptor 1 binding
GO:0043120	0.000057	tumor necrosis factor binding
GO:0043115	0.000057	precorrin-2 dehydrogenase activity
GO:0042951	0.000057	arbutin transmembrane transporter activity
GO:0042931	0.000057	enterobactin transporter activity
GO:0042900	0.000057	arabinose transmembrane transporter activity
GO:0042801	0.000057	polo kinase kinase activity
GO:0042610	0.000057	CD8 receptor binding
GO:0042498	0.000057	diacyl lipopeptide binding
GO:0042497	0.000057	triacyl lipopeptide binding
GO:0042469	0.000057	versicolorin reductase activity
GO:0042349	0.000057	guiding stereospecific synthesis activity
GO:0042329	0.000057	structural constituent of collagen and cuticulin-based cuticle
GO:0042328	0.000057	heparan sulfate N-acetylglucosaminyltransferase activity
GO:0042292	0.000057	URM1 activating enzyme activity
GO:0042281	0.000057	dolichyl pyrophosphate Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0042015	0.000057	interleukin-20 binding
GO:0038131	0.000057	neuregulin receptor activity
GO:0038071	0.000057	MAP kinase activity involved in conjugation with cellular fusion
GO:0038049	0.000057	transcription factor activity, ligand-activated RNA polymerase II transcription factor binding
GO:0038046	0.000057	enkephalin receptor activity
GO:0038025	0.000057	reelin receptor activity
GO:0036505	0.000057	prosaposin receptor activity
GO:0036461	0.000057	BLOC-2 complex binding
GO:0036456	0.000057	L-methionine-(S)-S-oxide reductase activity
GO:0036441	0.000057	2-dehydropantolactone reductase activity
GO:0036408	0.000057	histone acetyltransferase activity (H3-K14 specific)
GO:0036374	0.000057	glutathione hydrolase activity
GO:0036313	0.000057	phosphatidylinositol 3-kinase catalytic subunit binding
GO:0036264	0.000057	dopamine monooxygenase activity
GO:0036263	0.000057	L-DOPA monooxygenase activity
GO:0036222	0.000057	XTP diphosphatase activity
GO:0036221	0.000057	UTP diphosphatase activity
GO:0036220	0.000057	ITP diphosphatase activity
GO:0036219	0.000057	GTP diphosphatase activity
GO:0036218	0.000057	dTTP diphosphatase activity
GO:0036202	0.000057	ent-cassa-12,15-diene 11-hydroxylase activity
GO:0036143	0.000057	kringle domain binding
GO:0036054	0.000057	protein-malonyllysine demalonylase activity
GO:0036004	0.000057	GAF domain binding
GO:0035755	0.000057	cardiolipin hydrolase activity
GO:0035717	0.000057	chemokine (C-C motif) ligand 7 binding
GO:0035620	0.000057	ceramide transporter activity
GO:0035575	0.000057	histone demethylase activity (H4-K20 specific)
GO:0035538	0.000057	carbohydrate response element binding
GO:0035410	0.000057	dihydrotestosterone 17-beta-dehydrogenase activity
GO:0035403	0.000057	histone kinase activity (H3-T6 specific)
GO:0035379	0.000057	carbon dioxide transmembrane transporter activity
GO:0035049	0.000057	juvenile hormone acid methyltransferase activity
GO:0034737	0.000057	ergosterol O-acyltransferase activity
GO:0034722	0.000057	gamma-glutamyl-peptidase activity
GO:0034649	0.000057	histone demethylase activity (H3-monomethyl-K4 specific)
GO:0034597	0.000057	phosphatidylinositol-4,5-bisphosphate 4-phosphatase activity
GO:0034567	0.000057	chromate reductase activity
GO:0034512	0.000057	box C/D snoRNA binding
GO:0034437	0.000057	glycoprotein transporter activity
GO:0034431	0.000057	bis(5'-adenosyl)-hexaphosphatase activity
GO:0034336	0.000057	misfolded RNA binding
GO:0034200	0.000057	D,D-heptose 1,7-bisphosphate phosphatase activity
GO:0034189	0.000057	very-low-density lipoprotein particle binding
GO:0034043	0.000057	5-hydroxymethyluracil DNA N-glycosylase activity
GO:0034042	0.000057	5-formyluracil DNA N-glycosylase activity
GO:0034041	0.000057	sterol-transporting ATPase activity
GO:0034038	0.000057	deoxyhypusine synthase activity
GO:0034017	0.000057	trans-2-decenoyl-acyl-carrier-protein isomerase activity
GO:0034010	0.000057	sulfolactate sulfo-lyase activity
GO:0033987	0.000057	2-hydroxyisoflavanone dehydratase activity
GO:0033984	0.000057	indole-3-glycerol-phosphate lyase activity
GO:0033982	0.000057	3-dehydro-L-gulonate-6-phosphate decarboxylase activity
GO:0033957	0.000057	lambda-carrageenase activity
GO:0033934	0.000057	glucan 1,4-alpha-maltotriohydrolase activity
GO:0033905	0.000057	xylan endo-1,3-beta-xylosidase activity
GO:0033855	0.000057	nicotianamine aminotransferase activity
GO:0033854	0.000057	glutamate-prephenate aminotransferase activity
GO:0033853	0.000057	aspartate-prephenate aminotransferase activity
GO:0033838	0.000057	flavonol-3-O-glucoside glucosyltransferase activity
GO:0033833	0.000057	hydroxymethylfurfural reductase (NADH) activity
GO:0033832	0.000057	alpha,alpha-trehalose phosphorylase (configuration-retaining) activity
GO:0033829	0.000057	O-fucosylpeptide 3-beta-N-acetylglucosaminyltransferase activity
GO:0033823	0.000057	procollagen glucosyltransferase activity
GO:0033799	0.000057	myricetin 3'-O-methyltransferase activity
GO:0033770	0.000057	2-hydroxyisoflavanone synthase activity
GO:0033705	0.000057	GDP-4-dehydro-6-deoxy-D-mannose reductase activity
GO:0033682	0.000057	ATP-dependent 5'-3' DNA/RNA helicase activity
GO:0033678	0.000057	5'-3' DNA/RNA helicase activity
GO:0033328	0.000057	peroxisome membrane targeting sequence binding
GO:0033201	0.000057	alpha-1,4-glucan synthase activity
GO:0032866	0.000057	D-xylose:NADP reductase activity
GO:0032810	0.000057	sterol response element binding
GO:0032567	0.000057	dGTP binding
GO:0032560	0.000057	guanyl deoxyribonucleotide binding
GO:0032556	0.000057	pyrimidine deoxyribonucleotide binding
GO:0032500	0.000057	muramyl dipeptide binding
GO:0032440	0.000057	2-alkenal reductase [NAD(P)] activity
GO:0032396	0.000057	inhibitory MHC class I receptor activity
GO:0032139	0.000057	dinucleotide insertion or deletion binding
GO:0032138	0.000057	single base insertion or deletion binding
GO:0032131	0.000057	alkylated DNA binding
GO:0032089	0.000057	NACHT domain binding
GO:0032067	0.000057	Type IV site-specific deoxyribonuclease activity
GO:0032051	0.000057	clathrin light chain binding
GO:0032041	0.000057	NAD-dependent histone deacetylase activity (H3-K14 specific)
GO:0031963	0.000057	cortisol receptor activity
GO:0031896	0.000057	V2 vasopressin receptor binding
GO:0031877	0.000057	somatostatin receptor binding
GO:0031862	0.000057	prostanoid receptor binding
GO:0031859	0.000057	platelet activating factor receptor binding
GO:0031843	0.000057	type 2 neuropeptide Y receptor binding
GO:0031800	0.000057	type 3 metabotropic glutamate receptor binding
GO:0031798	0.000057	type 1 metabotropic glutamate receptor binding
GO:0031783	0.000057	type 5 melanocortin receptor binding
GO:0031780	0.000057	corticotropin hormone receptor binding
GO:0031775	0.000057	lutropin-choriogonadotropic hormone receptor binding
GO:0031766	0.000057	type 3 galanin receptor binding
GO:0031765	0.000057	type 2 galanin receptor binding
GO:0031763	0.000057	galanin receptor binding
GO:0031755	0.000057	Edg-2 lysophosphatidic acid receptor binding
GO:0031753	0.000057	endothelial differentiation G-protein coupled receptor binding
GO:0031751	0.000057	D4 dopamine receptor binding
GO:0031732	0.000057	CCR7 chemokine receptor binding
GO:0031724	0.000057	CXCR5 chemokine receptor binding
GO:0031714	0.000057	C5a anaphylatoxin chemotactic receptor binding
GO:0031704	0.000057	apelin receptor binding
GO:0031699	0.000057	beta-3 adrenergic receptor binding
GO:0031696	0.000057	alpha-2C adrenergic receptor binding
GO:0031691	0.000057	alpha-1A adrenergic receptor binding
GO:0031687	0.000057	A2A adenosine receptor binding
GO:0031682	0.000057	G-protein gamma-subunit binding
GO:0031516	0.000057	far-red light photoreceptor activity
GO:0031418	0.000057	L-ascorbic acid binding
GO:0031409	0.000057	pigment binding
GO:0031278	0.000057	alpha-1,2-galactosyltransferase activity
GO:0031218	0.000057	arabinogalactan endo-1,4-beta-galactosidase activity
GO:0031132	0.000057	serine 3-dehydrogenase activity
GO:0030977	0.000057	taurine binding
GO:0030946	0.000057	protein tyrosine phosphatase activity, metal-dependent
GO:0030884	0.000057	exogenous lipid antigen binding
GO:0030883	0.000057	endogenous lipid antigen binding
GO:0030746	0.000057	isoflavone 4'-O-methyltransferase activity
GO:0030744	0.000057	luteolin O-methyltransferase activity
GO:0030729	0.000057	acetoacetate-CoA ligase activity
GO:0030697	0.000057	S-adenosylmethionine-dependent tRNA (m5U54) methyltransferase activity
GO:0030627	0.000057	pre-mRNA 5'-splice site binding
GO:0030623	0.000057	U5 snRNA binding
GO:0030622	0.000057	U4atac snRNA binding
GO:0030617	0.000057	transforming growth factor beta receptor, inhibitory cytoplasmic mediator activity
GO:0030604	0.000057	1-deoxy-D-xylulose-5-phosphate reductoisomerase activity
GO:0030586	0.000057	[methionine synthase] reductase activity
GO:0030580	0.000057	quinone cofactor methyltransferase activity
GO:0030519	0.000057	snoRNP binding
GO:0030504	0.000057	inorganic diphosphate transmembrane transporter activity
GO:0030487	0.000057	inositol-4,5-bisphosphate 5-phosphatase activity
GO:0030412	0.000057	formimidoyltetrahydrofolate cyclodeaminase activity
GO:0030369	0.000057	ICAM-3 receptor activity
GO:0030351	0.000057	inositol-1,3,4,5,6-pentakisphosphate 3-phosphatase activity
GO:0030342	0.000057	1-alpha,25-dihydroxyvitamin D3 24-hydroxylase activity
GO:0030294	0.000057	receptor signaling protein tyrosine kinase inhibitor activity
GO:0030270	0.000057	formylmethanofuran-tetrahydromethanopterin N-formyltransferase activity
GO:0030144	0.000057	alpha-1,6-mannosylglycoprotein 6-beta-N-acetylglucosaminyltransferase activity
GO:0022852	0.000057	glycine-gated chloride ion channel activity
GO:0019981	0.000057	interleukin-6 binding
GO:0019970	0.000057	interleukin-11 binding
GO:0019962	0.000057	type I interferon binding
GO:0019828	0.000057	aspartic-type endopeptidase inhibitor activity
GO:0019811	0.000057	cocaine binding
GO:0019810	0.000057	putrescine binding
GO:0019807	0.000057	aspartoacylase activity
GO:0019780	0.000057	FAT10 activating enzyme activity
GO:0019779	0.000057	Atg8 activating enzyme activity
GO:0019778	0.000057	Atg12 activating enzyme activity
GO:0019776	0.000057	Atg8 ligase activity
GO:0019177	0.000057	dihydroneopterin triphosphate pyrophosphohydrolase activity
GO:0019158	0.000057	mannokinase activity
GO:0019152	0.000057	acetoin dehydrogenase activity
GO:0019135	0.000057	deoxyhypusine monooxygenase activity
GO:0019114	0.000057	catechol dioxygenase activity
GO:0019010	0.000057	farnesoic acid O-methyltransferase activity
GO:0018845	0.000057	2-hydroxychromene-2-carboxylate isomerase activity
GO:0018820	0.000057	cyanamide hydratase activity
GO:0018819	0.000057	lactoyl-CoA dehydratase activity
GO:0018787	0.000057	4-chlorobenzoyl-CoA dehalogenase activity
GO:0018741	0.000057	alkyl sulfatase activity
GO:0018739	0.000057	4-hydroxybenzoyl-CoA thioesterase activity
GO:0018674	0.000057	(S)-limonene 3-monooxygenase activity
GO:0018662	0.000057	phenol 2-monooxygenase activity
GO:0018659	0.000057	4-hydroxybenzoate 3-monooxygenase activity
GO:0018576	0.000057	catechol 1,2-dioxygenase activity
GO:0018468	0.000057	alcohol dehydrogenase (acceptor) activity
GO:0018392	0.000057	glycoprotein 3-alpha-L-fucosyltransferase activity
GO:0018169	0.000057	ribosomal S6-glutamic acid ligase activity
GO:0018025	0.000057	calmodulin-lysine N-methyltransferase activity
GO:0017178	0.000057	diphthine-ammonia ligase activity
GO:0017172	0.000057	cysteine dioxygenase activity
GO:0017161	0.000057	inositol-1,3,4-trisphosphate 4-phosphatase activity
GO:0017105	0.000057	acyl-CoA delta11-desaturase activity
GO:0017082	0.000057	mineralocorticoid receptor activity
GO:0017065	0.000057	single-strand selective uracil DNA N-glycosylase activity
GO:0016990	0.000057	arginine deiminase activity
GO:0016984	0.000057	ribulose-bisphosphate carboxylase activity
GO:0016977	0.000057	chitosanase activity
GO:0016848	0.000057	carbon-halide lyase activity
GO:0016843	0.000057	amine-lyase activity
GO:0016793	0.000057	triphosphoric monoester hydrolase activity
GO:0016768	0.000057	spermine synthase activity
GO:0016760	0.000057	cellulose synthase (UDP-forming) activity
GO:0016759	0.000057	cellulose synthase activity
GO:0016752	0.000057	sinapoyltransferase activity
GO:0016751	0.000057	S-succinyltransferase activity
GO:0016732	0.000057	oxidoreductase activity, acting on iron-sulfur proteins as donors, dinitrogen as acceptor
GO:0016727	0.000057	oxidoreductase activity, acting on CH or CH2 groups, oxygen as acceptor
GO:0016692	0.000057	NADH peroxidase activity
GO:0016688	0.000057	L-ascorbate peroxidase activity
GO:0016656	0.000057	monodehydroascorbate reductase (NADH) activity
GO:0016632	0.000057	oxidoreductase activity, acting on the CH-CH group of donors, cytochrome as acceptor
GO:0016621	0.000057	cinnamoyl-CoA reductase activity
GO:0016430	0.000057	tRNA (adenine-N6-)-methyltransferase activity
GO:0016404	0.000057	15-hydroxyprostaglandin dehydrogenase (NAD+) activity
GO:0016403	0.000057	dimethylargininase activity
GO:0016362	0.000057	activin receptor activity, type II
GO:0016296	0.000057	palmitoyl-[acyl-carrier-protein] hydrolase activity
GO:0016295	0.000057	myristoyl-[acyl-carrier-protein] hydrolase activity
GO:0016232	0.000057	HNK-1 sulfotransferase activity
GO:0016213	0.000057	linoleoyl-CoA desaturase activity
GO:0016166	0.000057	phytoene dehydrogenase activity
GO:0016163	0.000057	nitrogenase activity
GO:0016156	0.000057	fumarate reductase (NADH) activity
GO:0016150	0.000057	translation release factor activity, codon nonspecific
GO:0016040	0.000057	glutamate synthase (NADH) activity
GO:0015654	0.000057	tellurite uptake transmembrane transporter activity
GO:0015648	0.000057	lipid-linked peptidoglycan transporter activity
GO:0015647	0.000057	peptidoglycan transporter activity
GO:0015639	0.000057	ferrous iron uptake transmembrane transporter activity
GO:0015633	0.000057	zinc transporting ATPase activity
GO:0015542	0.000057	sugar efflux transmembrane transporter activity
GO:0015517	0.000057	galactose:proton symporter activity
GO:0015506	0.000057	nucleoside:proton symporter activity
GO:0015495	0.000057	gamma-aminobutyric acid:proton symporter activity
GO:0015478	0.000057	oligosaccharide transporting porin activity
GO:0015462	0.000057	protein-transmembrane transporting ATPase activity
GO:0015446	0.000057	arsenite-transmembrane transporting ATPase activity
GO:0015407	0.000057	monosaccharide-transporting ATPase activity
GO:0015403	0.000057	thiamine uptake transmembrane transporter activity
GO:0015389	0.000057	pyrimidine- and adenine-specific:sodium symporter activity
GO:0015388	0.000057	potassium uptake transmembrane transporter activity
GO:0015382	0.000057	sodium:sulfate symporter activity
GO:0015378	0.000057	sodium:chloride symporter activity
GO:0015375	0.000057	glycine:sodium symporter activity
GO:0015373	0.000057	monovalent anion:sodium symporter activity
GO:0015366	0.000057	malate:proton symporter activity
GO:0015361	0.000057	low-affinity sodium:dicarboxylate symporter activity
GO:0015334	0.000057	high-affinity oligopeptide transporter activity
GO:0015319	0.000057	sodium:inorganic phosphate symporter activity
GO:0015244	0.000057	fluconazole transporter activity
GO:0015231	0.000057	5-formyltetrahydrofolate transporter activity
GO:0015227	0.000057	acyl carnitine transmembrane transporter activity
GO:0015150	0.000057	fucose transmembrane transporter activity
GO:0015148	0.000057	D-xylose transmembrane transporter activity
GO:0015118	0.000057	tellurite transmembrane transporter activity
GO:0015113	0.000057	nitrite transmembrane transporter activity
GO:0015104	0.000057	antimonite transmembrane transporter activity
GO:0015098	0.000057	molybdate ion transmembrane transporter activity
GO:0015080	0.000057	silver ion transmembrane transporter activity
GO:0015067	0.000057	amidinotransferase activity
GO:0015055	0.000057	secretin receptor activity
GO:0015046	0.000057	rubredoxin-NADP reductase activity
GO:0015044	0.000057	rubredoxin-NAD+ reductase activity
GO:0010945	0.000057	CoA pyrophosphatase activity
GO:0010490	0.000057	UDP-4-keto-rhamnose-4-keto-reductase activity
GO:0010489	0.000057	UDP-4-keto-6-deoxy-glucose-3,5-epimerase activity
GO:0010475	0.000057	galactose-1-phosphate guanylyltransferase (GDP) activity
GO:0010465	0.000057	nerve growth factor receptor activity
GO:0010461	0.000057	light-activated ion channel activity
GO:0010341	0.000057	gibberellin carboxyl-O-methyltransferase activity
GO:0010331	0.000057	gibberellin binding
GO:0010313	0.000057	phytochrome binding
GO:0010309	0.000057	acireductone dioxygenase [iron(II)-requiring] activity
GO:0010297	0.000057	heteropolysaccharide binding
GO:0010276	0.000057	phytol kinase activity
GO:0010179	0.000057	IAA-Ala conjugate hydrolase activity
GO:0010177	0.000057	2-(2'-methylthio)ethylmalate synthase activity
GO:0009917	0.000057	sterol 5-alpha reductase activity
GO:0009916	0.000057	alternative oxidase activity
GO:0009905	0.000057	ent-copalyl diphosphate synthase activity
GO:0009784	0.000057	transmembrane receptor histidine kinase activity
GO:0009673	0.000057	low-affinity phosphate transmembrane transporter activity
GO:0009670	0.000057	triose-phosphate:phosphate antiporter activity
GO:0009389	0.000057	dimethyl sulfoxide reductase activity
GO:0009036	0.000057	Type II site-specific deoxyribonuclease activity
GO:0009032	0.000057	thymidine phosphorylase activity
GO:0009029	0.000057	tetraacyldisaccharide 4'-kinase activity
GO:0009025	0.000057	tagatose-bisphosphate aldolase activity
GO:0008993	0.000057	rhamnulokinase activity
GO:0008988	0.000057	rRNA (adenine-N6-)-methyltransferase activity
GO:0008980	0.000057	propionate kinase activity
GO:0008977	0.000057	prephenate dehydrogenase activity
GO:0008963	0.000057	phospho-N-acetylmuramoyl-pentapeptide-transferase activity
GO:0008959	0.000057	phosphate acetyltransferase activity
GO:0008957	0.000057	phenylacetaldehyde dehydrogenase activity
GO:0008949	0.000057	oxalyl-CoA decarboxylase activity
GO:0008942	0.000057	nitrite reductase [NAD(P)H] activity
GO:0008929	0.000057	methylglyoxal synthase activity
GO:0008924	0.000057	malate dehydrogenase (quinone) activity
GO:0008923	0.000057	lysine decarboxylase activity
GO:0008919	0.000057	lipopolysaccharide glucosyltransferase I activity
GO:0008915	0.000057	lipid-A-disaccharide synthase activity
GO:0008911	0.000057	lactaldehyde dehydrogenase activity
GO:0008894	0.000057	guanosine-5'-triphosphate,3'-diphosphate diphosphatase activity
GO:0008888	0.000057	glycerol dehydrogenase [NAD+] activity
GO:0008887	0.000057	glycerate kinase activity
GO:0008885	0.000057	glutathionylspermidine synthase activity
GO:0008881	0.000057	glutamate racemase activity
GO:0008875	0.000057	gluconate dehydrogenase activity
GO:0008869	0.000057	galactonate dehydratase activity
GO:0008867	0.000057	galactarate dehydratase activity
GO:0008861	0.000057	formate C-acetyltransferase activity
GO:0008860	0.000057	ferredoxin-NAD+ reductase activity
GO:0008837	0.000057	diaminopimelate epimerase activity
GO:0008832	0.000057	dGTPase activity
GO:0008829	0.000057	dCTP deaminase activity
GO:0008828	0.000057	dATP pyrophosphohydrolase activity
GO:0008817	0.000057	cob(I)yrinic acid a,c-diamide adenosyltransferase activity
GO:0008813	0.000057	chorismate lyase activity
GO:0008803	0.000057	bis(5'-nucleosyl)-tetraphosphatase (symmetrical) activity
GO:0008785	0.000057	alkyl hydroperoxide reductase activity
GO:0008781	0.000057	N-acylneuraminate cytidylyltransferase activity
GO:0008780	0.000057	acyl-[acyl-carrier-protein]-UDP-N-acetylglucosamine O-acyltransferase activity
GO:0008773	0.000057	[protein-PII] uridylyltransferase activity
GO:0008767	0.000057	UDP-galactopyranose mutase activity
GO:0008765	0.000057	UDP-N-acetylmuramoylalanyl-D-glutamate-2,6-diaminopimelate ligase activity
GO:0008760	0.000057	UDP-N-acetylglucosamine 1-carboxyvinyltransferase activity
GO:0008756	0.000057	o-succinylbenzoate-CoA ligase activity
GO:0008747	0.000057	N-acetylneuraminate lyase activity
GO:0008735	0.000057	carnitine dehydratase activity
GO:0008732	0.000057	L-allo-threonine aldolase activity
GO:0008725	0.000057	DNA-3-methyladenine glycosylase activity
GO:0008720	0.000057	D-lactate dehydrogenase activity
GO:0008718	0.000057	D-amino-acid dehydrogenase activity
GO:0008709	0.000057	cholate 7-alpha-dehydrogenase activity
GO:0008701	0.000057	4-hydroxy-2-oxovalerate aldolase activity
GO:0008696	0.000057	4-amino-4-deoxychorismate lyase activity
GO:0008694	0.000057	3-octaprenyl-4-hydroxybenzoate carboxy-lyase activity
GO:0008693	0.000057	3-hydroxydecanoyl-[acyl-carrier-protein] dehydratase activity
GO:0008692	0.000057	3-hydroxybutyryl-CoA epimerase activity
GO:0008691	0.000057	3-hydroxybutyryl-CoA dehydrogenase activity
GO:0008690	0.000057	3-deoxy-manno-octulosonate cytidylyltransferase activity
GO:0008685	0.000057	2-C-methyl-D-erythritol 2,4-cyclodiphosphate synthase activity
GO:0008682	0.000057	2-octoprenyl-3-methyl-6-methoxy-1,4-benzoquinone hydroxylase activity
GO:0008679	0.000057	2-hydroxy-3-oxopropionate reductase activity
GO:0008671	0.000057	2-dehydro-3-deoxygalactonokinase activity
GO:0008666	0.000057	2,3,4,5-tetrahydropyridine-2,6-dicarboxylate N-succinyltransferase activity
GO:0008665	0.000057	2'-phosphotransferase activity
GO:0008597	0.000057	calcium-dependent protein serine/threonine phosphatase regulator activity
GO:0008579	0.000057	JUN kinase phosphatase activity
GO:0008551	0.000057	cadmium-exporting ATPase activity
GO:0008523	0.000057	sodium-dependent multivitamin transmembrane transporter activity
GO:0008518	0.000057	reduced folate carrier activity
GO:0008516	0.000057	hexose uniporter activity
GO:0008513	0.000057	secondary active organic cation transmembrane transporter activity
GO:0008510	0.000057	sodium:bicarbonate symporter activity
GO:0008507	0.000057	sodium:iodide symporter activity
GO:0008495	0.000057	protoheme IX farnesyltransferase activity
GO:0008488	0.000057	gamma-glutamyl carboxylase activity
GO:0008480	0.000057	sarcosine dehydrogenase activity
GO:0008465	0.000057	glycerate dehydrogenase activity
GO:0008454	0.000057	alpha-1,3-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0008437	0.000057	thyrotropin-releasing hormone activity
GO:0008425	0.000057	2-polyprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0008418	0.000057	protein-N-terminal asparagine amidohydrolase activity
GO:0008405	0.000057	arachidonic acid 11,12-epoxygenase activity
GO:0008403	0.000057	25-hydroxycholecalciferol-24-hydroxylase activity
GO:0008390	0.000057	testosterone 16-alpha-hydroxylase activity
GO:0008389	0.000057	coumarin 7-hydroxylase activity
GO:0008336	0.000057	gamma-butyrobetaine dioxygenase activity
GO:0008269	0.000057	JAK pathway signal transduction adaptor activity
GO:0008226	0.000057	tyramine receptor activity
GO:0008176	0.000057	tRNA (guanine-N7-)-methyltransferase activity
GO:0008160	0.000057	protein tyrosine phosphatase activator activity
GO:0008147	0.000057	structural constituent of bone
GO:0008124	0.000057	4-alpha-hydroxytetrahydrobiopterin dehydratase activity
GO:0008118	0.000057	N-acetyllactosaminide alpha-2,3-sialyltransferase activity
GO:0008116	0.000057	prostaglandin-I synthase activity
GO:0008115	0.000057	sarcosine oxidase activity
GO:0008114	0.000057	phosphogluconate 2-dehydrogenase activity
GO:0008112	0.000057	nicotinamide N-methyltransferase activity
GO:0008111	0.000057	alpha-methylacyl-CoA racemase activity
GO:0005503	0.000057	all-trans retinal binding
GO:0005477	0.000057	pyruvate secondary active transmembrane transporter activity
GO:0005463	0.000057	UDP-N-acetylgalactosamine transmembrane transporter activity
GO:0005369	0.000057	taurine:sodium symporter activity
GO:0005362	0.000057	low-affinity glucose:sodium symporter activity
GO:0005333	0.000057	norepinephrine transmembrane transporter activity
GO:0005330	0.000057	dopamine:sodium symporter activity
GO:0005309	0.000057	creatine:sodium symporter activity
GO:0005300	0.000057	high-affinity tryptophan transmembrane transporter activity
GO:0005287	0.000057	high-affinity basic amino acid transmembrane transporter activity
GO:0005175	0.000057	CD27 receptor binding
GO:0005174	0.000057	CD40 receptor binding
GO:0005171	0.000057	hepatocyte growth factor receptor binding
GO:0005169	0.000057	neurotrophin TRKB receptor binding
GO:0005153	0.000057	interleukin-8 receptor binding
GO:0005152	0.000057	interleukin-1 receptor antagonist activity
GO:0005151	0.000057	interleukin-1, Type II receptor binding
GO:0005147	0.000057	oncostatin-M receptor binding
GO:0005136	0.000057	interleukin-4 receptor binding
GO:0005133	0.000057	interferon-gamma receptor binding
GO:0005121	0.000057	Toll binding
GO:0005090	0.000057	Sar guanyl-nucleotide exchange factor activity
GO:0005053	0.000057	peroxisome matrix targeting signal-2 binding
GO:0005046	0.000057	KDEL sequence binding
GO:0005026	0.000057	transforming growth factor beta receptor activity, type II
GO:0005019	0.000057	platelet-derived growth factor beta-receptor activity
GO:0004998	0.000057	transferrin receptor activity
GO:0004997	0.000057	thyrotropin-releasing hormone receptor activity
GO:0004990	0.000057	oxytocin receptor activity
GO:0004989	0.000057	octopamine receptor activity
GO:0004968	0.000057	gonadotropin-releasing hormone receptor activity
GO:0004964	0.000057	luteinizing hormone receptor activity
GO:0004958	0.000057	prostaglandin F receptor activity
GO:0004944	0.000057	C5a anaphylatoxin receptor activity
GO:0004925	0.000057	prolactin receptor activity
GO:0004923	0.000057	leukemia inhibitory factor receptor activity
GO:0004921	0.000057	interleukin-11 receptor activity
GO:0004920	0.000057	interleukin-10 receptor activity
GO:0004918	0.000057	interleukin-8 receptor activity
GO:0004915	0.000057	interleukin-6 receptor activity
GO:0004912	0.000057	interleukin-3 receptor activity
GO:0004906	0.000057	interferon-gamma receptor activity
GO:0004903	0.000057	growth hormone receptor activity
GO:0004884	0.000057	ecdysteroid hormone receptor activity
GO:0004878	0.000057	complement component C5a receptor activity
GO:0004874	0.000057	aryl hydrocarbon receptor activity
GO:0004855	0.000057	xanthine oxidase activity
GO:0004848	0.000057	ureidoglycolate hydrolase activity
GO:0004837	0.000057	tyrosine decarboxylase activity
GO:0004835	0.000057	tubulin-tyrosine ligase activity
GO:0004827	0.000057	proline-tRNA ligase activity
GO:0004820	0.000057	glycine-tRNA ligase activity
GO:0004796	0.000057	thromboxane-A synthase activity
GO:0004778	0.000057	succinyl-CoA hydrolase activity
GO:0004776	0.000057	succinate-CoA ligase (GDP-forming) activity
GO:0004773	0.000057	steryl-sulfatase activity
GO:0004610	0.000057	phosphoacetylglucosamine mutase activity
GO:0004603	0.000057	phenylethanolamine N-methyltransferase activity
GO:0004597	0.000057	peptide-aspartate beta-dioxygenase activity
GO:0004581	0.000057	dolichyl-phosphate beta-glucosyltransferase activity
GO:0004577	0.000057	N-acetylglucosaminyldiphosphodolichol N-acetylglucosaminyltransferase activity
GO:0004572	0.000057	mannosyl-oligosaccharide 1,3-1,6-alpha-mannosidase activity
GO:0004569	0.000057	glycoprotein endo-alpha-1,2-mannosidase activity
GO:0004522	0.000057	ribonuclease A activity
GO:0004504	0.000057	peptidylglycine monooxygenase activity
GO:0004493	0.000057	methylmalonyl-CoA epimerase activity
GO:0004491	0.000057	methylmalonate-semialdehyde dehydrogenase (acylating) activity
GO:0004486	0.000057	methylenetetrahydrofolate dehydrogenase [NAD(P)+] activity
GO:0004479	0.000057	methionyl-tRNA formyltransferase activity
GO:0004424	0.000057	imidazoleglycerol-phosphate dehydratase activity
GO:0004410	0.000057	homocitrate synthase activity
GO:0004355	0.000057	glutamate synthase (NADPH) activity
GO:0004168	0.000057	dolichol kinase activity
GO:0004164	0.000057	diphthine synthase activity
GO:0004149	0.000057	dihydrolipoyllysine-residue succinyltransferase activity
GO:0004137	0.000057	deoxycytidine kinase activity
GO:0004132	0.000057	dCMP deaminase activity
GO:0004130	0.000057	cytochrome-c peroxidase activity
GO:0004097	0.000057	catechol oxidase activity
GO:0004083	0.000057	bisphosphoglycerate 2-phosphatase activity
GO:0004075	0.000057	biotin carboxylase activity
GO:0004071	0.000057	aspartate-ammonia ligase activity
GO:0004054	0.000057	arginine kinase activity
GO:0004051	0.000057	arachidonate 5-lipoxygenase activity
GO:0004048	0.000057	anthranilate phosphoribosyltransferase activity
GO:0004039	0.000057	allophanate hydrolase activity
GO:0004027	0.000057	alcohol sulfotransferase activity
GO:0004026	0.000057	alcohol O-acetyltransferase activity
GO:0003963	0.000057	RNA-3'-phosphate cyclase activity
GO:0003961	0.000057	O-acetylhomoserine aminocarboxypropyltransferase activity
GO:0003957	0.000057	NAD(P)+ transhydrogenase (B-specific) activity
GO:0003952	0.000057	NAD+ synthase (glutamine-hydrolyzing) activity
GO:0003943	0.000057	N-acetylgalactosamine-4-sulfatase activity
GO:0003914	0.000057	DNA (6-4) photolyase activity
GO:0003912	0.000057	DNA nucleotidylexotransferase activity
GO:0003885	0.000057	D-arabinono-1,4-lactone oxidase activity
GO:0003863	0.000057	3-methyl-2-oxobutanoate dehydrogenase (2-methylpropanoyl-transferring) activity
GO:0003827	0.000057	alpha-1,3-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0003786	0.000057	actin lateral binding
GO:0003692	0.000057	left-handed Z-DNA binding
GO:0002114	0.000057	interleukin-33 receptor activity
GO:0002061	0.000057	pyrimidine nucleobase binding
GO:0002058	0.000057	uracil binding
GO:0001962	0.000057	alpha-1,3-galactosyltransferase activity
GO:0001856	0.000057	complement component C5a binding
GO:0001855	0.000057	complement component C4b binding
GO:0001850	0.000057	complement component C3a binding
GO:0001791	0.000057	IgM binding
GO:0001785	0.000057	prostaglandin J receptor activity
GO:0001635	0.000057	calcitonin gene-related peptide receptor activity
GO:0001632	0.000057	leukotriene B4 receptor activity
GO:0001626	0.000057	nociceptin receptor activity
GO:0001607	0.000057	neuromedin U receptor activity
GO:0001605	0.000057	adrenomedullin receptor activity
GO:0001566	0.000057	non-kinase phorbol ester receptor activity
GO:0001409	0.000057	guanine nucleotide transmembrane transporter activity
GO:0001202	0.000057	RNA polymerase II transcription factor activity, copper ion regulated core promoter proximal region sequence-specific binding
GO:0001168	0.000057	transcription factor activity, RNA polymerase I upstream control element sequence-specific binding
GO:0001160	0.000057	transcription termination site DNA binding
GO:0001147	0.000057	transcription termination site sequence-specific DNA binding
GO:0001097	0.000057	TFIIH-class transcription factor binding
GO:0001096	0.000057	TFIIF-class transcription factor binding
GO:0001089	0.000057	transcription factor activity, TFIIF-class transcription factor binding
GO:0001068	0.000057	transcription regulatory region RNA binding
GO:0001044	0.000057	mitochondrial RNA polymerase regulatory region sequence-specific DNA binding
GO:0001018	0.000057	mitochondrial RNA polymerase regulatory region DNA binding
GO:0000997	0.000057	mitochondrial RNA polymerase core promoter sequence-specific DNA binding
GO:0000994	0.000057	RNA polymerase III core binding
GO:0000831	0.000057	inositol hexakisphosphate 6-kinase activity
GO:0000825	0.000057	inositol tetrakisphosphate 6-kinase activity
GO:0000773	0.000057	phosphatidyl-N-methylethanolamine N-methyltransferase activity
GO:0000721	0.000057	(R,R)-butanediol dehydrogenase activity
GO:0000701	0.000057	purine-specific mismatch base pair DNA N-glycosylase activity
GO:0000406	0.000057	double-strand/single-strand DNA junction binding
GO:0000402	0.000057	crossed form four-way junction DNA binding
GO:0000310	0.000057	xanthine phosphoribosyltransferase activity
GO:0000298	0.000057	endopolyphosphatase activity
GO:0000252	0.000057	C-3 sterol dehydrogenase (C-4 sterol decarboxylase) activity
GO:0000213	0.000057	tRNA-intron endonuclease activity
GO:0000171	0.000057	ribonuclease MRP activity
GO:0000102	0.000057	L-methionine secondary active transmembrane transporter activity
GO:0000100	0.000057	S-methylmethionine transmembrane transporter activity
GO:0000031	0.000057	mannosylphosphate transferase activity
GO:0000016	0.000057	lactase activity
GO:2001080	0.000029	chitosan binding
GO:2001062	0.000029	xylan binding
GO:1990955	0.000029	G-rich single-stranded DNA binding
GO:1990943	0.000029	mating type region replication fork barrier binding
GO:1990931	0.000029	RNA N6-methyladenosine dioxygenase activity
GO:1990930	0.000029	RNA N1-methyladenosine dioxygenase activity
GO:1990919	0.000029	nuclear membrane proteasome anchor
GO:1990915	0.000029	structural constituent of ascospore wall
GO:1990890	0.000029	netrin receptor binding
GO:1990883	0.000029	rRNA cytidine N-acetyltransferase activity
GO:1990838	0.000029	poly(U)-specific exoribonuclease activity, producing 3' uridine cyclic phosphate ends
GO:1990833	0.000029	clathrin-uncoating ATPase activity
GO:1990827	0.000029	deaminase binding
GO:1990808	0.000029	F-bar domain binding
GO:1990763	0.000029	arrestin family protein binding
GO:1990760	0.000029	osmolarity-sensing cation channel activity
GO:1990681	0.000029	protein phosphatase type 2A inhibitor activity
GO:1990651	0.000029	inositol-1,2,4,5,6-pentakisphosphate 5-phosphatase activity
GO:1990650	0.000029	inositol-2,4,5,6-tetrakisphosphate 5-phosphatase activity
GO:1990649	0.000029	inositol-1,2,4,5-tetrakisphosphate 5-phosphatase activity
GO:1990648	0.000029	inositol-4,5,6-triphosphate 5-phosphatase activity
GO:1990644	0.000029	microtubule site clamp
GO:1990640	0.000029	inositol-2,4,5-triphosphate 5-phosphatase activity
GO:1990631	0.000029	ErbB-4 class receptor binding
GO:1990605	0.000029	GU repeat RNA binding
GO:1990601	0.000029	5' overhang single-stranded DNA endodeoxyribonuclease activity
GO:1990599	0.000029	3' overhang single-stranded DNA endodeoxyribonuclease activity
GO:1990595	0.000029	mast cell secretagogue receptor activity
GO:1990594	0.000029	L-altrarate dehydratase activity
GO:1990593	0.000029	nascent polypeptide-associated complex binding
GO:1990583	0.000029	phospholipase D activator activity
GO:1990576	0.000029	G-protein coupled glucose receptor activity
GO:1990534	0.000029	thermospermine oxidase activity
GO:1990521	0.000029	m7G(5')pppN diphosphatase activator activity
GO:1990518	0.000029	single-stranded DNA-dependent ATP-dependent 3'-5' DNA helicase activity
GO:1990482	0.000029	sphingolipid alpha-glucuronosyltransferase activity
GO:1990450	0.000029	linear polyubiquitin binding
GO:1990448	0.000029	exon-exon junction complex binding
GO:1990444	0.000029	F-box domain binding
GO:1990412	0.000029	hercynylselenocysteine lyase activity (selenoneine-forming)
GO:1990411	0.000029	hercynylcysteine sulfoxide lyase activity (ergothioneine-forming)
GO:1990400	0.000029	mitochondrial ribosomal large subunit rRNA binding
GO:1990275	0.000029	preribosome binding
GO:1990272	0.000029	anti-Mullerian hormone receptor activity
GO:1990244	0.000029	histone kinase activity (H2A-T120 specific)
GO:1990206	0.000029	jasmonyl-Ile conjugate hydrolase activity
GO:1990190	0.000029	peptide-glutamate-N-acetyltransferase activity
GO:1990175	0.000029	EH domain binding
GO:1990162	0.000029	histone deacetylase activity (H3-K4 specific)
GO:1990147	0.000029	talin binding
GO:1990137	0.000029	plant seed peroxidase activity
GO:1990119	0.000029	ATP-dependent RNA helicase inhibitor activity
GO:1990080	0.000029	2-phenylethylamine receptor activity
GO:1990055	0.000029	phenylacetaldehyde synthase activity
GO:1990043	0.000029	5' deoxyribonuclease (pyrimidine dimer) activity
GO:1990042	0.000029	glycerol dehydrogenase [NAD(P)+] activity
GO:1905131	0.000029	carcinine transmembrane transporter activity
GO:1904931	0.000029	MCM complex binding
GO:1904841	0.000029	TORC2 complex binding
GO:1904599	0.000029	advanced glycation end-product binding
GO:1904593	0.000029	prostaglandin binding
GO:1904493	0.000029	tetrahydrofolyl-poly(glutamate) polymer binding
GO:1904492	0.000029	Ac-Asp-Glu binding
GO:1904483	0.000029	synthetic cannabinoid binding
GO:1904455	0.000029	ubiquitin-specific protease activity involved in negative regulation of ERAD pathway
GO:1904454	0.000029	ubiquitin-specific protease activity involved in positive regulation of ERAD pathway
GO:1904399	0.000029	heparan sulfate binding
GO:1904265	0.000029	ubiquitin-specific protease activity involved in negative regulation of retrograde protein transport, ER to cytosol
GO:1904162	0.000029	5'-3' exodeoxyribonuclease activity involved in UV-damage excision repair
GO:1904121	0.000029	phosphatidylethanolamine transporter activity
GO:1904067	0.000029	ascr#2 binding
GO:1904013	0.000029	xenon atom binding
GO:1904012	0.000029	platinum binding
GO:1903981	0.000029	enterobactin binding
GO:1903880	0.000029	17alpha-hydroxyprogesterone binding
GO:1903879	0.000029	11beta-hydroxyprogesterone binding
GO:1903878	0.000029	11-deoxycorticosterone binding
GO:1903877	0.000029	21-deoxycortisol binding
GO:1903876	0.000029	11-deoxycortisol binding
GO:1903875	0.000029	corticosterone binding
GO:1903794	0.000029	cortisol binding
GO:1902557	0.000029	5'-adenylyl sulfate transmembrane transporter activity
GO:1902496	0.000029	protein binding involved in negative regulation of telomere maintenance via telomerase
GO:1902388	0.000029	ceramide 1-phosphate transporter activity
GO:1902387	0.000029	ceramide 1-phosphate binding
GO:1902122	0.000029	chenodeoxycholic acid binding
GO:1902118	0.000029	calcidiol binding
GO:1901982	0.000029	maltose binding
GO:1901974	0.000029	glycerate transmembrane transporter activity
GO:1901916	0.000029	protein kinase activity involved in regulation of protein localization to cell division site involved in cytokinesis
GO:1901707	0.000029	leptomycin B binding
GO:1901691	0.000029	proton binding
GO:1901641	0.000029	ITP binding
GO:1901640	0.000029	XTP binding
GO:1901604	0.000029	dethiobiotin transmembrane transporter activity
GO:1901603	0.000029	biotin transmembrane transporter activity
GO:1901584	0.000029	tetrapeptide transmembrane transporter activity
GO:1901549	0.000029	malonic acid uptake transmembrane transporter activity
GO:1901235	0.000029	(R)-carnitine transmembrane transporter activity
GO:0099615	0.000029	(D)-2-hydroxyglutarate-pyruvate transhydrogenase activity
GO:0098848	0.000029	alpha-D-ribose 1-methylphosphonate 5-phosphate C-P-lyase activity
GO:0098744	0.000029	1-phosphatidylinositol 4-kinase activator activity
GO:0098640	0.000029	integrin binding involved in cell-matrix adhesion
GO:0098633	0.000029	collagen fibril binding
GO:0098626	0.000029	methylseleninic acid reductase activity
GO:0098625	0.000029	methylselenol reductase activity
GO:0098624	0.000029	3'-Phosphoadenylylselenate reductase activity
GO:0098623	0.000029	selenite reductase activity
GO:0098622	0.000029	selenodiglutathione-disulfide reductase activity
GO:0098621	0.000029	phosphoseryl-selenocysteinyl-tRNA selenium transferase activity
GO:0098620	0.000029	seryl-selenocysteinyl-tRNA kinase activity
GO:0098619	0.000029	selenocysteine-tRNA ligase activity
GO:0098617	0.000029	adenylylselenate kinase activity
GO:0098615	0.000029	dimethyl selenide methyltransferase activity
GO:0098607	0.000029	methylselenocysteine deselenhydrase activity
GO:0098606	0.000029	selenocystathionine gamma-lyase activity
GO:0098605	0.000029	selenocystathionine beta-synthase activity
GO:0098604	0.000029	adenosylselenohomocysteinase activity
GO:0098601	0.000029	selenomethionine adenosyltransferase activity
GO:0098600	0.000029	selenomethionine gamma-lyase activity
GO:0097690	0.000029	iron channel inhibitor activity
GO:0097689	0.000029	iron channel activity
GO:0097682	0.000029	intracellular phosphatidylinositol-3,5-bisphosphate-sensitive cation channel activity
GO:0097677	0.000029	STAT family protein binding
GO:0097657	0.000029	3',5'-nucleotide bisphosphate phosphatase activity
GO:0097641	0.000029	alpha-ketoglutarate-dependent xanthine dioxygenase activity
GO:0097627	0.000029	high-affinity L-ornithine transmembrane transporter activity
GO:0097626	0.000029	low-affinity L-arginine transmembrane transporter activity
GO:0097625	0.000029	low-affinity basic amino acid transmembrane transporter activity
GO:0097573	0.000029	glutathione oxidoreductase activity
GO:0097509	0.000029	oxanine DNA N-glycosylase activity
GO:0097508	0.000029	xanthine DNA N-glycosylase activity
GO:0097507	0.000029	hypoxanthine DNA N-glycosylase activity
GO:0097434	0.000029	succinate:proton symporter activity
GO:0097383	0.000029	dIDP diphosphatase activity
GO:0097382	0.000029	deoxynucleoside-diphosphatase activity
GO:0097372	0.000029	NAD-dependent histone deacetylase activity (H3-K18 specific)
GO:0097358	0.000029	D-leucyl-tRNA(Leu) deacylase activity
GO:0097260	0.000029	eoxin A4 synthase activity
GO:0097257	0.000029	leukotriene B4 12-hydroxy dehydrogenase activity
GO:0097256	0.000029	phenyllactate dehydrogenase activity
GO:0097216	0.000029	guanosine tetraphosphate binding
GO:0097162	0.000029	MADS box domain binding
GO:0097161	0.000029	DH domain binding
GO:0097160	0.000029	polychlorinated biphenyl binding
GO:0097098	0.000029	DNA/RNA hybrid annealing activity
GO:0097077	0.000029	copper ion sensor activity
GO:0097063	0.000029	cadmium ion sensor activity
GO:0097030	0.000029	CENP-A containing nucleosome binding
GO:0097008	0.000029	(3E)-4,8-dimethyl-1,3,7-nonatriene synthase activity
GO:0097007	0.000029	4,8,12-trimethyltrideca-1,3,7,11-tetraene synthase activity
GO:0097005	0.000029	adipokinetic hormone receptor binding
GO:0090631	0.000029	pre-miRNA transporter activity
GO:0090624	0.000029	endoribonuclease activity, cleaving miRNA-paired mRNA
GO:0090600	0.000029	alpha-1,3-glucosidase activity
GO:0090589	0.000029	protein-phosphocysteine-trehalose phosphotransferase system transporter activity
GO:0090588	0.000029	protein-phosphocysteine-N-acetylmuramate phosphotransferase system transporter activity
GO:0090586	0.000029	protein-phosphocysteine-N-acetylglucosamine phosphotransferase system transporter activity
GO:0090582	0.000029	protein-phosphocysteine-D-fructose-phosphotransferase system transporter activity
GO:0090581	0.000029	protein-phosphocysteine-mannosylglycerate-phosphotransferase system transporter activity
GO:0090565	0.000029	protein-phosphocysteine-mannitol phosphotransferase system transporter activity
GO:0090564	0.000029	protein-phosphocysteine-glucose phosphotransferase system transporter activity
GO:0090560	0.000029	2-(3-amino-3-carboxypropyl)histidine synthase activity
GO:0090554	0.000029	phosphatidylcholine-translocating ATPase activity
GO:0090499	0.000029	pimelyl-[acyl-carrier protein] methyl ester esterase activity
GO:0090488	0.000029	polo box domain specific binding
GO:0090483	0.000029	phosphatidylglycerol-phosphatidylethanolamine phosphatidyltransferase activity
GO:0090471	0.000029	9,15,9'-tri-cis-zeta-carotene isomerase activity
GO:0090448	0.000029	glucosinolate:proton symporter activity
GO:0090438	0.000029	camelliol C synthase activity
GO:0090434	0.000029	oleoyl-CoA ligase activity
GO:0090433	0.000029	palmitoyl-CoA ligase activity
GO:0090430	0.000029	caffeoyl-CoA: alcohol caffeoyl transferase activity
GO:0090417	0.000029	N-methylnicotinate transporter activity
GO:0090415	0.000029	7-hydroxymethyl chlorophyll a reductase activity
GO:0090369	0.000029	ornithine carbamoyltransferase inhibitor activity
GO:0089715	0.000029	tRNA m6t6A37 methyltransferase activity
GO:0089714	0.000029	UDP-N-acetyl-D-mannosamine dehydrogenase activity
GO:0089702	0.000029	undecaprenyl-phosphate glucose phosphotransferase activity
GO:0086090	0.000029	voltage-gated potassium channel activity involved in SA node cell action potential repolarization
GO:0086087	0.000029	voltage-gated potassium channel activity involved in bundle of His cell action potential repolarization
GO:0086082	0.000029	cell adhesive protein binding involved in AV node cell-bundle of His cell communication
GO:0086077	0.000029	gap junction channel activity involved in AV node cell-bundle of His cell electrical coupling
GO:0086061	0.000029	voltage-gated sodium channel activity involved in bundle of His cell action potential
GO:0086060	0.000029	voltage-gated sodium channel activity involved in AV node cell action potential
GO:0086056	0.000029	voltage-gated calcium channel activity involved in AV node cell action potential
GO:0086040	0.000029	sodium:proton antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0086039	0.000029	calcium-transporting ATPase activity involved in regulation of cardiac muscle cell membrane potential
GO:0086037	0.000029	sodium:potassium-exchanging ATPase activity involved in regulation of cardiac muscle cell membrane potential
GO:0080150	0.000029	S-adenosyl-L-methionine:benzoic acid carboxyl methyl transferase activity
GO:0080138	0.000029	borate uptake transmembrane transporter activity
GO:0080133	0.000029	midchain alkane hydroxylase activity
GO:0080131	0.000029	hydroxyjasmonate sulfotransferase activity
GO:0080130	0.000029	L-phenylalanine:2-oxoglutarate aminotransferase activity
GO:0080124	0.000029	pheophytinase activity
GO:0080108	0.000029	S-alkylthiohydroximate lyase activity
GO:0080100	0.000029	L-glutamine:2-oxoglutarate aminotransferase activity
GO:0080099	0.000029	L-methionine:2-oxoglutarate aminotransferase activity
GO:0080098	0.000029	L-tyrosine:pyruvate aminotransferase activity
GO:0080097	0.000029	L-tryptophan:pyruvate aminotransferase activity
GO:0080096	0.000029	phosphatidate-sterol O-acyltransferase activity
GO:0080095	0.000029	phosphatidylethanolamine-sterol O-acyltransferase activity
GO:0080089	0.000029	sinapoyl spermidine:sinapoyl CoA N-acyltransferase activity
GO:0080082	0.000029	esculin beta-glucosidase activity
GO:0080081	0.000029	4-methylumbelliferyl-beta-D-glucopyranoside beta-glucosidase activity
GO:0080078	0.000029	tricaffeoyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080077	0.000029	trihydroxyferuloyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080076	0.000029	caffeoyl CoA:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080075	0.000029	spermidine:feruloyl CoA N-acyltransferase activity
GO:0080074	0.000029	spermidine:caffeoyl CoA N-acyltransferase activity
GO:0080071	0.000029	indol-3-yl-methyl-desulfoglucosinolate sulfotransferase activity
GO:0080070	0.000029	8-methylthiooctyl-desulfoglucosinolate sulfotransferase activity
GO:0080069	0.000029	7-methylthioheptyl-desulfoglucosinolate sulfotransferase activity
GO:0080068	0.000029	5-methylthiopentyl-desulfoglucosinolate sulfotransferase activity
GO:0080067	0.000029	4-methylthiobutyl-desulfoglucosinolate sulfotransferase activity
GO:0080066	0.000029	3-methylthiopropyl-desulfoglucosinolate sulfotransferase activity
GO:0080059	0.000029	flavonol 3-O-arabinosyltransferase activity
GO:0080042	0.000029	ADP-glucose pyrophosphohydrolase activity
GO:0080018	0.000029	anthocyanin 5-O-glucosyltransferase activity
GO:0080017	0.000029	alpha-humulene synthase activity
GO:0080016	0.000029	(-)-E-beta-caryophyllene synthase activity
GO:0080015	0.000029	sabinene synthase activity
GO:0080013	0.000029	(E,E)-geranyllinalool synthase activity
GO:0080012	0.000029	trihydroxyferuloyl spermidine O-methyltransferase activity
GO:0080011	0.000029	baruol synthase activity
GO:0080004	0.000029	thalian-diol desaturase activity
GO:0072591	0.000029	citrate-L-glutamate ligase activity
GO:0072585	0.000029	xanthosine nucleotidase activity
GO:0072552	0.000029	monoferuloyl di-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072551	0.000029	diferuloyl mono-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072550	0.000029	triferuloylspermidine meta-hydroxylase activity
GO:0072544	0.000029	L-DOPA binding
GO:0072541	0.000029	peroxynitrite reductase activity
GO:0072532	0.000029	tri-(feruloyl or hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072518	0.000029	Rho-dependent protein serine/threonine kinase activity
GO:0072374	0.000029	carotene epsilon hydroxylase activity
GO:0072371	0.000029	histone kinase activity (H2A-S121 specific)
GO:0072317	0.000029	glucan endo-1,3-beta-D-glucosidase activity involved in ascospore release from ascus
GO:0071967	0.000029	lipopolysaccharide core heptosyltransferase activity
GO:0071906	0.000029	CRD domain binding
GO:0071884	0.000029	vitamin D receptor activator activity
GO:0071861	0.000029	tachykinin receptor binding
GO:0071859	0.000029	neuropeptide F receptor binding
GO:0071858	0.000029	corazonin receptor binding
GO:0071820	0.000029	N-box binding
GO:0071796	0.000029	K6-linked polyubiquitin binding
GO:0071771	0.000029	aldehyde decarbonylase activity
GO:0071734	0.000029	biotin-[pyruvate-carboxylase] ligase activity
GO:0071714	0.000029	icosanoid transmembrane transporter activity
GO:0071618	0.000029	lysophosphatidylethanolamine acyltransferase activity
GO:0071518	0.000029	autoinducer-2 kinase activity
GO:0071443	0.000029	tDNA binding
GO:0071424	0.000029	rRNA (cytosine-N4-)-methyltransferase activity
GO:0071172	0.000029	dihydromonapterin reductase activity
GO:0070984	0.000029	SET domain binding
GO:0070975	0.000029	FHA domain binding
GO:0070974	0.000029	POU domain binding
GO:0070917	0.000029	inositol phosphoceramide synthase regulator activity
GO:0070892	0.000029	lipoteichoic acid receptor activity
GO:0070819	0.000029	menaquinone-dependent protoporphyrinogen oxidase activity
GO:0070674	0.000029	hypoxanthine dehydrogenase activity
GO:0070644	0.000029	vitamin D response element binding
GO:0070636	0.000029	nicotinic acid riboside hydrolase activity
GO:0070626	0.000029	(S)-2-(5-amino-1-(5-phospho-D-ribosyl)imidazole-4-carboxamido)succinate AMP-lyase (fumarate-forming) activity
GO:0070612	0.000029	histone methyltransferase activity (H2A-R3 specific)
GO:0070611	0.000029	histone methyltransferase activity (H3-R2 specific)
GO:0070594	0.000029	juvenile hormone response element binding
GO:0070553	0.000029	nicotinic acid receptor activity
GO:0070551	0.000029	endoribonuclease activity, cleaving siRNA-paired mRNA
GO:0070529	0.000029	L-tryptophan aminotransferase activity
GO:0070497	0.000029	6-carboxy-5,6,7,8-tetrahydropterin synthase activity
GO:0070456	0.000029	galactose-1-phosphate phosphatase activity
GO:0070406	0.000029	glutamine binding
GO:0070363	0.000029	mitochondrial light strand promoter sense binding
GO:0070362	0.000029	mitochondrial heavy strand promoter anti-sense binding
GO:0070338	0.000029	5'-flap-structured DNA binding
GO:0070337	0.000029	3'-flap-structured DNA binding
GO:0070335	0.000029	aspartate binding
GO:0070320	0.000029	inward rectifier potassium channel inhibitor activity
GO:0070251	0.000029	pristanate-CoA ligase activity
GO:0070205	0.000029	2-succinyl-6-hydroxy-2,4-cyclohexadiene-1-carboxylate synthase activity
GO:0070204	0.000029	2-succinyl-5-enolpyruvyl-6-hydroxy-3-cyclohexene-1-carboxylic-acid synthase activity
GO:0070119	0.000029	ciliary neurotrophic factor binding
GO:0070040	0.000029	rRNA (adenine-C2-)-methyltransferase activity
GO:0070039	0.000029	rRNA (guanosine-2'-O-)-methyltransferase activity
GO:0070038	0.000029	rRNA (pseudouridine-N3-)-methyltransferase activity
GO:0070027	0.000029	carbon monoxide sensor activity
GO:0070002	0.000029	glutamic-type peptidase activity
GO:0061710	0.000029	L-threonylcarbamoyladenylate synthase
GO:0061708	0.000029	tRNA-5-taurinomethyluridine 2-sulfurtransferase
GO:0061693	0.000029	alpha-D-ribose 1-methylphosphonate 5-triphosphate synthase activity
GO:0061686	0.000029	hercynylcysteine sulfoxide synthase
GO:0061685	0.000029	diphthine methylesterase activity
GO:0061663	0.000029	NEDD8 ligase activity
GO:0061649	0.000029	ubiquitinated histone binding
GO:0061632	0.000029	RNA lariat debranching enzyme activator activity
GO:0061627	0.000029	S-methylmethionine-homocysteine S-methyltransferase activity
GO:0061608	0.000029	nuclear import signal receptor activity
GO:0061605	0.000029	molybdopterin-synthase adenylyltransferase activity
GO:0061603	0.000029	molybdenum cofactor guanylyltransferase activity
GO:0061602	0.000029	molybdenum cofactor cytidylyltransferase activity
GO:0061596	0.000029	3-sulfolactaldehyde reductase activity
GO:0061595	0.000029	6-deoxy-6-sulfofructose-1-phosphate aldolase activity
GO:0061594	0.000029	6-deoxy-6-sulfofructose kinase activity
GO:0061593	0.000029	sulfoquinovose isomerase activity
GO:0061543	0.000029	3-demethylubiquinone-6 3-O-methyltransferase activity
GO:0061522	0.000029	1,4-dihydroxy-2-naphthoyl-CoA thioesterase activity
GO:0061483	0.000029	sulfinylpropanyl adenylate synthase
GO:0061473	0.000029	murein tripeptide carboxypeptidase activity
GO:0061463	0.000029	O-acetyl-ADP-ribose deacetylase activity
GO:0060703	0.000029	deoxyribonuclease inhibitor activity
GO:0060308	0.000029	GTP cyclohydrolase I regulator activity
GO:0055055	0.000029	D-glucose:proton symporter activity
GO:0052925	0.000029	dol-P-Man:Man(5)GlcNAc(2)-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0052922	0.000029	hexaprenyl diphosphate synthase (geranylgeranyl-diphosphate specific) activity
GO:0052916	0.000029	23S rRNA (guanine(1835)-N(2))-methyltransferase activity
GO:0052914	0.000029	16S rRNA (guanine(1207)-N(2))-methyltransferase activity
GO:0052913	0.000029	16S rRNA (guanine(966)-N(2))-methyltransferase activity
GO:0052912	0.000029	23S rRNA (guanine(748)-N(1))-methyltransferase activity
GO:0052907	0.000029	23S rRNA (adenine(1618)-N(6))-methyltransferase activity
GO:0052906	0.000029	tRNA (guanine(37)-N(1))-methyltransferase activity
GO:0052905	0.000029	tRNA (guanine(9)-N(1))-methyltransferase activity
GO:0052904	0.000029	N1-acetylspermidine:oxygen oxidoreductase (3-acetamidopropanal-forming) activity
GO:0052901	0.000029	spermine:oxygen oxidoreductase (spermidine-forming) activity
GO:0052884	0.000029	all-trans-retinyl-palmitate hydrolase, 11-cis retinol forming activity
GO:0052878	0.000029	linoleate 8R-lipoxygenase activity
GO:0052872	0.000029	tocotrienol omega-hydroxylase activity
GO:0052871	0.000029	alpha-tocopherol omega-hydroxylase activity
GO:0052870	0.000029	tocopherol omega-hydroxylase activity
GO:0052869	0.000029	arachidonic acid omega-hydroxylase activity
GO:0052868	0.000029	protein-lysine lysyltransferase activity
GO:0052861	0.000029	glucan endo-1,3-beta-glucanase activity, C-3 substituted reducing group
GO:0052855	0.000029	ADP-dependent NAD(P)H-hydrate dehydratase activity
GO:0052853	0.000029	long-chain-(S)-2-hydroxy-long-chain-acid oxidase activity
GO:0052840	0.000029	inositol diphosphate tetrakisphosphate diphosphatase activity
GO:0052835	0.000029	inositol-3,4,6-trisphosphate 1-kinase activity
GO:0052831	0.000029	inositol-1,3,4,6-tetrakisphosphate 1-phosphatase activity
GO:0052830	0.000029	inositol-1,3,4,6-tetrakisphosphate 6-phosphatase activity
GO:0052826	0.000029	inositol hexakisphosphate 2-phosphatase activity
GO:0052825	0.000029	inositol-1,3,4,5,6-pentakisphosphate 1-phosphatase activity
GO:0052823	0.000029	2-hydroxy-6-oxonona-2,4,7-trienedioate hydrolase activity
GO:0052820	0.000029	DNA-1,N6-ethenoadenine N-glycosylase activity
GO:0052817	0.000029	very long chain acyl-CoA hydrolase activity
GO:0052816	0.000029	long-chain acyl-CoA hydrolase activity
GO:0052814	0.000029	medium-chain-aldehyde dehydrogenase activity
GO:0052798	0.000029	beta-galactoside alpha-2,3-sialyltransferase activity
GO:0052796	0.000029	exo-alpha-(2->8)-sialidase activity
GO:0052748	0.000029	baicalin beta-D-glucuronidase activity
GO:0052737	0.000029	pyruvate dehydrogenase (quinone) activity
GO:0052735	0.000029	tRNA (cytosine-3-)-methyltransferase activity
GO:0052734	0.000029	shikimate 3-dehydrogenase (NAD+) activity
GO:0052724	0.000029	inositol hexakisphosphate 3-kinase activity
GO:0052723	0.000029	inositol hexakisphosphate 1-kinase activity
GO:0052717	0.000029	tRNA-specific adenosine-34 deaminase activity
GO:0052712	0.000029	inositol phosphosphingolipid phospholipase activity
GO:0052706	0.000029	histidine N-methyltransferase activity
GO:0052694	0.000029	jasmonoyl-isoleucine-12-hydroxylase activity
GO:0052693	0.000029	epoxyqueuosine reductase activity
GO:0052692	0.000029	raffinose alpha-galactosidase activity
GO:0052679	0.000029	terpentetriene synthase activity
GO:0052677	0.000029	D-arabinitol dehydrogenase, D-xylulose forming (NADP+) activity
GO:0052674	0.000029	ent-pimara-9(11),15-diene synthase activity
GO:0052673	0.000029	prenol kinase activity
GO:0052671	0.000029	geranylgeraniol kinase activity
GO:0052670	0.000029	geraniol kinase activity
GO:0052669	0.000029	CTP:2-trans,-6-trans-farnesol kinase activity
GO:0052668	0.000029	farnesol kinase activity
GO:0052664	0.000029	nitroalkane oxidase activity
GO:0052662	0.000029	zeaxanthin epoxidase activity
GO:0052641	0.000029	benzoic acid glucosyltransferase activity
GO:0052640	0.000029	salicylic acid glucosyltransferase (glucoside-forming) activity
GO:0052639	0.000029	salicylic acid glucosyltransferase (ester-forming) activity
GO:0052637	0.000029	delta 3-trans-hexadecenoic acid phosphatidylglycerol desaturase activity
GO:0052618	0.000029	coenzyme F420-0:L-glutamate ligase activity
GO:0052615	0.000029	ent-kaurene oxidase activity
GO:0052614	0.000029	uracil oxygenase activity
GO:0052598	0.000029	histamine oxidase activity
GO:0052590	0.000029	sn-glycerol-3-phosphate:ubiquinone oxidoreductase activity
GO:0052582	0.000029	(+)-menthofuran synthase activity
GO:0052581	0.000029	(-)-isopiperitenone reductase activity
GO:0052580	0.000029	(+)-pulegone reductase, (-)-menthone as substrate, activity
GO:0052579	0.000029	(+)-pulegone reductase, (+)-isomenthone as substrate, activity
GO:0052578	0.000029	alpha-farnesene synthase activity
GO:0051997	0.000029	2-oxo-4-hydroxy-4-carboxy-5-ureidoimidazoline decarboxylase activity
GO:0051995	0.000029	Se-methyltransferase activity
GO:0051993	0.000029	abscisic acid glucose ester beta-glucosidase activity
GO:0051911	0.000029	Methanosarcina-phenazine hydrogenase activity
GO:0051871	0.000029	dihydrofolic acid binding
GO:0051752	0.000029	phosphoglucan, water dikinase activity
GO:0051750	0.000029	delta3,5-delta2,4-dienoyl-CoA isomerase activity
GO:0051746	0.000029	thalianol synthase activity
GO:0051744	0.000029	3,8-divinyl protochlorophyllide a 8-vinyl reductase activity
GO:0051743	0.000029	red chlorophyll catabolite reductase activity
GO:0051738	0.000029	xanthophyll binding
GO:0051735	0.000029	GTP-dependent polynucleotide kinase activity
GO:0051730	0.000029	GTP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0051722	0.000029	protein C-terminal methylesterase activity
GO:0051699	0.000029	proline oxidase activity
GO:0051698	0.000029	saccharopine oxidase activity
GO:0051509	0.000029	tomatidine UDP-glucosyltransferase activity
GO:0051508	0.000029	stigmasterol UDP-glucosyltransferase activity
GO:0051506	0.000029	ergosterol UDP-glucosyltransferase activity
GO:0051505	0.000029	cholesterol UDP-glucosyltransferase activity
GO:0051498	0.000029	syn-copalyl diphosphate synthase activity
GO:0051435	0.000029	BH4 domain binding
GO:0051432	0.000029	BH1 domain binding
GO:0051392	0.000029	tRNA N-acetyltransferase activity
GO:0051269	0.000029	alpha-keto ester reductase activity
GO:0051268	0.000029	alpha-keto amide reductase activity
GO:0051267	0.000029	CP2 mannose-ethanolamine phosphotransferase activity
GO:0051265	0.000029	diolein transacylation activity
GO:0051264	0.000029	mono-olein transacylation activity
GO:0051109	0.000029	crotonobetaine-CoA ligase activity
GO:0051108	0.000029	carnitine-CoA ligase activity
GO:0051075	0.000029	S-adenosylmethionine:tRNA ribosyltransferase-isomerase activity
GO:0051065	0.000029	CTP reductase activity
GO:0051060	0.000029	pullulanase activity
GO:0050809	0.000029	diazepam binding
GO:0050781	0.000029	ortho-trichlorophenol reductive dehalogenase activity
GO:0050738	0.000029	fructosyltransferase activity
GO:0050737	0.000029	O-hydroxycinnamoyltransferase activity
GO:0050683	0.000029	AF-1 domain binding
GO:0050640	0.000029	isopenicillin-N N-acyltransferase activity
GO:0050637	0.000029	lovastatin nonaketide synthase activity
GO:0050632	0.000029	propionyl-CoA C2-trimethyltridecanoyltransferase activity
GO:0050627	0.000029	mycothione reductase activity
GO:0050619	0.000029	phytochromobilin:ferredoxin oxidoreductase activity
GO:0050610	0.000029	methylarsonate reductase activity
GO:0050608	0.000029	vanillin dehydrogenase activity
GO:0050606	0.000029	4-carboxy-2-hydroxymuconate semialdehyde hemiacetal dehydrogenase activity
GO:0050593	0.000029	N-methylcoclaurine 3'-monooxygenase activity
GO:0050585	0.000029	4-hydroxymandelate synthase activity
GO:0050573	0.000029	dTDP-4-dehydro-6-deoxyglucose reductase activity
GO:0050572	0.000029	L-idonate 5-dehydrogenase activity
GO:0050570	0.000029	4-hydroxythreonine-4-phosphate dehydrogenase activity
GO:0050569	0.000029	glycolaldehyde dehydrogenase activity
GO:0050568	0.000029	protein-glutamine glutaminase activity
GO:0050564	0.000029	N-(5-amino-5-carboxypentanoyl)-L-cysteinyl-D-valine synthase activity
GO:0050561	0.000029	glutamate-tRNA(Gln) ligase activity
GO:0050560	0.000029	aspartate-tRNA(Asn) ligase activity
GO:0050559	0.000029	copalyl diphosphate synthase activity
GO:0050552	0.000029	(4S)-limonene synthase activity
GO:0050549	0.000029	cyclohexyl-isocyanide hydratase activity
GO:0050537	0.000029	mandelamide amidase activity
GO:0050521	0.000029	alpha-glucan, water dikinase activity
GO:0050519	0.000029	holo-citrate lyase synthase activity
GO:0050515	0.000029	4-(cytidine 5'-diphospho)-2-C-methyl-D-erythritol kinase activity
GO:0050513	0.000029	glycoprotein 2-beta-D-xylosyltransferase activity
GO:0050512	0.000029	lactosylceramide 4-alpha-galactosyltransferase activity
GO:0050511	0.000029	undecaprenyldiphospho-muramoylpentapeptide beta-N-acetylglucosaminyltransferase activity
GO:0050506	0.000029	vomilenine glucosyltransferase activity
GO:0050485	0.000029	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond, with a disulfide as acceptor
GO:0050484	0.000029	GMP 5'-nucleotidase activity
GO:0050479	0.000029	glyceryl-ether monooxygenase activity
GO:0050464	0.000029	nitrate reductase (NADPH) activity
GO:0050459	0.000029	ethanolamine-phosphate phospho-lyase activity
GO:0050450	0.000029	citrate (Re)-synthase activity
GO:0050444	0.000029	aquacobalamin reductase (NADPH) activity
GO:0050439	0.000029	2-hydroxy-3-oxoadipate synthase activity
GO:0050429	0.000029	calcium-dependent phospholipase C activity
GO:0050422	0.000029	strictosidine beta-glucosidase activity
GO:0050421	0.000029	nitrite reductase (NO-forming) activity
GO:0050418	0.000029	hydroxylamine reductase activity
GO:0050408	0.000029	[pyruvate kinase]-phosphatase activity
GO:0050401	0.000029	xylonate dehydratase activity
GO:0050388	0.000029	uronate dehydrogenase activity
GO:0050379	0.000029	UDP-glucuronate 5'-epimerase activity
GO:0050378	0.000029	UDP-glucuronate 4-epimerase activity
GO:0050371	0.000029	tyrosine phenol-lyase activity
GO:0050362	0.000029	L-tryptophan:2-oxoglutarate aminotransferase activity
GO:0050342	0.000029	tocopherol O-methyltransferase activity
GO:0050334	0.000029	thiaminase activity
GO:0050306	0.000029	sucrose 1F-fructosyltransferase activity
GO:0050303	0.000029	lysine 6-dehydrogenase activity
GO:0050295	0.000029	steryl-beta-glucosidase activity
GO:0050285	0.000029	sinapine esterase activity
GO:0050284	0.000029	sinapate 1-glucosyltransferase activity
GO:0050281	0.000029	serine-glyoxylate transaminase activity
GO:0050279	0.000029	sepiapterin deaminase activity
GO:0050275	0.000029	scopoletin glucosyltransferase activity
GO:0050268	0.000029	coniferyl-alcohol dehydrogenase activity
GO:0050267	0.000029	rubber cis-polyprenylcistransferase activity
GO:0050262	0.000029	ribosylnicotinamide kinase activity
GO:0050252	0.000029	retinol O-fatty-acyltransferase activity
GO:0050247	0.000029	raucaffricine beta-glucosidase activity
GO:0050241	0.000029	pyrroline-2-carboxylate reductase activity
GO:0050235	0.000029	pyridoxal 4-dehydrogenase activity
GO:0050228	0.000029	pterin deaminase activity
GO:0050225	0.000029	pseudouridine kinase activity
GO:0050224	0.000029	prunasin beta-glucosidase activity
GO:0050221	0.000029	prostaglandin-E2 9-reductase activity
GO:0050197	0.000029	phytanate-CoA ligase activity
GO:0050194	0.000029	phosphonoacetaldehyde hydrolase activity
GO:0050192	0.000029	phosphoglycerate phosphatase activity
GO:0050185	0.000029	phosphatidylinositol deacylase activity
GO:0050182	0.000029	phosphate butyryltransferase activity
GO:0050180	0.000029	phloretin hydrolase activity
GO:0050179	0.000029	phenylserine aldolase activity
GO:0050177	0.000029	phenylpyruvate decarboxylase activity
GO:0050175	0.000029	phenylalanine dehydrogenase activity
GO:0050172	0.000029	phenylalanine 2-monooxygenase activity
GO:0050163	0.000029	oxaloacetate tautomerase activity
GO:0050149	0.000029	o-aminophenol oxidase activity
GO:0050146	0.000029	nucleoside phosphotransferase activity
GO:0050133	0.000029	N6-hydroxylysine O-acetyltransferase activity
GO:0050131	0.000029	N-methyl-L-amino-acid oxidase activity
GO:0050129	0.000029	N-formylglutamate deformylase activity
GO:0050126	0.000029	N-carbamoylputrescine amidase activity
GO:0050115	0.000029	myosin-light-chain-phosphatase activity
GO:0050100	0.000029	methylitaconate delta-isomerase activity
GO:0050093	0.000029	methanol dehydrogenase activity
GO:0050089	0.000029	mannose isomerase activity
GO:0050086	0.000029	mannitol 2-dehydrogenase activity
GO:0050085	0.000029	mannitol 2-dehydrogenase (NADP+) activity
GO:0050084	0.000029	mannitol-1-phosphatase activity
GO:0050081	0.000029	maltose-6'-phosphate glucosidase activity
GO:0050076	0.000029	maleate isomerase activity
GO:0050046	0.000029	lathosterol oxidase activity
GO:0050032	0.000029	L-rhamnonate dehydratase activity
GO:0050022	0.000029	L-arabinose 1-dehydrogenase (NAD+) activity
GO:0050021	0.000029	L-arabinonolactonase activity
GO:0050020	0.000029	L-arabinonate dehydratase activity
GO:0050015	0.000029	kievitone hydratase activity
GO:0050004	0.000029	isoflavone 7-O-glucosyltransferase activity
GO:0050002	0.000029	D-proline reductase (dithiol) activity
GO:0050001	0.000029	D-glutaminase activity
GO:0048529	0.000029	magnesium-protoporphyrin IX monomethyl ester (oxidative) cyclase activity
GO:0048474	0.000029	D-methionine transmembrane transporter activity
GO:0048270	0.000029	methionine adenosyltransferase regulator activity
GO:0048257	0.000029	3'-flap endonuclease activity
GO:0048032	0.000029	galacturonate binding
GO:0048031	0.000029	trisaccharide binding
GO:0048028	0.000029	galacturonan binding
GO:0047995	0.000029	hydroxyphenylpyruvate reductase activity
GO:0047994	0.000029	hydroxymethylglutaryl-CoA hydrolase activity
GO:0047992	0.000029	hydroxylysine kinase activity
GO:0047991	0.000029	hydroxylamine oxidase activity
GO:0047988	0.000029	hydroxyacid-oxoacid transhydrogenase activity
GO:0047982	0.000029	homocysteine desulfhydrase activity
GO:0047981	0.000029	histidine N-acetyltransferase activity
GO:0047979	0.000029	hexose oxidase activity
GO:0047977	0.000029	hepoxilin-epoxide hydrolase activity
GO:0047975	0.000029	guanosine phosphorylase activity
GO:0047974	0.000029	guanosine deaminase activity
GO:0047971	0.000029	guanidinobutyrase activity
GO:0047969	0.000029	glyoxylate oxidase activity
GO:0047964	0.000029	glyoxylate reductase activity
GO:0047963	0.000029	glycine N-choloyltransferase activity
GO:0047962	0.000029	glycine N-benzoyltransferase activity
GO:0047954	0.000029	glycerol-2-phosphatase activity
GO:0047949	0.000029	glutarate-semialdehyde dehydrogenase activity
GO:0047945	0.000029	L-glutamine:pyruvate aminotransferase activity
GO:0047940	0.000029	glucuronokinase activity
GO:0047938	0.000029	glucose-6-phosphate 1-epimerase activity
GO:0047933	0.000029	glucose-1,6-bisphosphate synthase activity
GO:0047931	0.000029	glucosamine kinase activity
GO:0047922	0.000029	gentisate 1,2-dioxygenase activity
GO:0047921	0.000029	aminoglycoside 2'-N-acetyltransferase activity
GO:0047919	0.000029	GDP-mannose 6-dehydrogenase activity
GO:0047918	0.000029	GDP-mannose 3,5-epimerase activity
GO:0047917	0.000029	GDP-glucosidase activity
GO:0047912	0.000029	galacturonokinase activity
GO:0047904	0.000029	fructose 5-dehydrogenase activity
GO:0047900	0.000029	formate kinase activity
GO:0047893	0.000029	flavonol 3-O-glucosyltransferase activity
GO:0047886	0.000029	farnesol dehydrogenase activity
GO:0047884	0.000029	FAD diphosphatase activity
GO:0047880	0.000029	erythrulose reductase activity
GO:0047878	0.000029	erythritol kinase activity
GO:0047876	0.000029	endoglycosylceramidase activity
GO:0047862	0.000029	diisopropyl-fluorophosphatase activity
GO:0047856	0.000029	dihydrocoumarin hydrolase activity
GO:0047846	0.000029	deoxynucleotide 3'-phosphatase activity
GO:0047828	0.000029	D-lyxose ketol-isomerase activity
GO:0047812	0.000029	D-amino-acid N-acetyltransferase activity
GO:0047810	0.000029	D-alanine:2-oxoglutarate aminotransferase activity
GO:0047809	0.000029	D-2-hydroxy-acid dehydrogenase activity
GO:0047801	0.000029	L-cysteine:2-oxoglutarate aminotransferase activity
GO:0047800	0.000029	cysteamine dioxygenase activity
GO:0047789	0.000029	creatininase activity
GO:0047787	0.000029	delta4-3-oxosteroid 5beta-reductase activity
GO:0047770	0.000029	carboxylate reductase activity
GO:0047763	0.000029	caffeate O-methyltransferase activity
GO:0047761	0.000029	butyrate kinase activity
GO:0047747	0.000029	cholate-CoA ligase activity
GO:0047739	0.000029	cephalosporin-C deacetylase activity
GO:0047734	0.000029	CDP-glycerol diphosphatase activity
GO:0047726	0.000029	iron-cytochrome-c reductase activity
GO:0047718	0.000029	indanol dehydrogenase activity
GO:0047680	0.000029	aryl-acylamidase activity
GO:0047676	0.000029	arachidonate-CoA ligase activity
GO:0047675	0.000029	arabinonate dehydratase activity
GO:0047658	0.000029	alpha-amino-acid esterase activity
GO:0047651	0.000029	alkylhalidase activity
GO:0047620	0.000029	acylglycerol kinase activity
GO:0047619	0.000029	acylcarnitine hydrolase activity
GO:0047614	0.000029	aconitate delta-isomerase activity
GO:0047605	0.000029	acetolactate decarboxylase activity
GO:0047600	0.000029	abequosyltransferase activity
GO:0047595	0.000029	6-hydroxynicotinate reductase activity
GO:0047585	0.000029	4-pyridoxolactonase activity
GO:0047584	0.000029	4-oxalmesaconate hydratase activity
GO:0047577	0.000029	4-hydroxybutyrate dehydrogenase activity
GO:0047568	0.000029	3-oxo-5-beta-steroid 4-dehydrogenase activity
GO:0047554	0.000029	2-pyrone-4,6-dicarboxylate lactonase activity
GO:0047553	0.000029	2-oxoglutarate synthase activity
GO:0047548	0.000029	2-methyleneglutarate mutase activity
GO:0047540	0.000029	2-enoate reductase activity
GO:0047538	0.000029	2-carboxy-D-arabinitol-1-phosphatase activity
GO:0047533	0.000029	2,5-dioxovalerate dehydrogenase (NADP+) activity
GO:0047529	0.000029	2,3-dimethylmalate lyase activity
GO:0047522	0.000029	15-oxoprostaglandin 13-oxidase activity
GO:0047516	0.000029	1,3-propanediol dehydrogenase activity
GO:0047513	0.000029	1,2-alpha-L-fucosidase activity
GO:0047512	0.000029	(S,S)-butanediol dehydrogenase activity
GO:0047507	0.000029	(deoxy)nucleoside-phosphate kinase activity
GO:0047492	0.000029	xanthan lyase activity
GO:0047488	0.000029	heparin lyase activity
GO:0047486	0.000029	chondroitin ABC lyase activity
GO:0047480	0.000029	UDP-N-acetylmuramoyl-tripeptide-D-alanyl-D-alanine ligase activity
GO:0047479	0.000029	trypanothione synthase activity
GO:0047470	0.000029	(1,4)-alpha-D-glucan 1-alpha-D-glucosylmutase activity
GO:0047464	0.000029	heparosan-N-sulfate-glucuronate 5-epimerase activity
GO:0047461	0.000029	(+)-delta-cadinene synthase activity
GO:0047449	0.000029	2-dehydro-3-deoxy-L-arabinonate dehydratase activity
GO:0047444	0.000029	N-acylneuraminate-9-phosphate synthase activity
GO:0047442	0.000029	17-alpha-hydroxyprogesterone aldolase activity
GO:0047440	0.000029	2-dehydro-3-deoxy-D-pentonate aldolase activity
GO:0047434	0.000029	indolepyruvate decarboxylase activity
GO:0047417	0.000029	N-carbamoyl-D-amino acid hydrolase activity
GO:0047412	0.000029	N-(long-chain-acyl)ethanolamine deacylase activity
GO:0047411	0.000029	2-(acetamidomethylene)succinate hydrolase activity
GO:0047409	0.000029	alkenylglycerophosphoethanolamine hydrolase activity
GO:0047408	0.000029	alkenylglycerophosphocholine hydrolase activity
GO:0047407	0.000029	ADP-ribosyl-[dinitrogen reductase] hydrolase activity
GO:0047405	0.000029	pyrimidine-5'-nucleotide nucleosidase activity
GO:0047400	0.000029	phosphonoacetate hydrolase activity
GO:0047390	0.000029	glycerophosphocholine cholinephosphodiesterase activity
GO:0047386	0.000029	fructose-2,6-bisphosphate 6-phosphatase activity
GO:0047369	0.000029	succinate-hydroxymethylglutarate CoA-transferase activity
GO:0047350	0.000029	glucuronate-1-phosphate uridylyltransferase activity
GO:0047338	0.000029	UTP:xylose-1-phosphate uridylyltransferase activity
GO:0047330	0.000029	polyphosphate-glucose phosphotransferase activity
GO:0047326	0.000029	inositol tetrakisphosphate 5-kinase activity
GO:0047324	0.000029	phosphoenolpyruvate-glycerone phosphotransferase activity
GO:0047316	0.000029	glutamine-phenylpyruvate transaminase activity
GO:0047315	0.000029	kynurenine-glyoxylate transaminase activity
GO:0047305	0.000029	(R)-3-amino-2-methylpropionate-pyruvate transaminase activity
GO:0047291	0.000029	lactosylceramide alpha-2,3-sialyltransferase activity
GO:0047290	0.000029	(alpha-N-acetylneuraminyl-2,3-beta-galactosyl-1,3)-N-acetyl-galactosaminide 6-alpha-sialyltransferase activity
GO:0047288	0.000029	monosialoganglioside sialyltransferase activity
GO:0047277	0.000029	globoside alpha-N-acetylgalactosaminyltransferase activity
GO:0047274	0.000029	galactinol-sucrose galactosyltransferase activity
GO:0047270	0.000029	lipopolysaccharide glucosyltransferase II activity
GO:0047264	0.000029	heteroglycan alpha-mannosyltransferase activity
GO:0047263	0.000029	N-acylsphingosine galactosyltransferase activity
GO:0047262	0.000029	polygalacturonate 4-alpha-galacturonosyltransferase activity
GO:0047260	0.000029	alpha,alpha-trehalose-phosphate synthase (GDP-forming) activity
GO:0047259	0.000029	glucomannan 4-beta-mannosyltransferase activity
GO:0047257	0.000029	diglucosyl diacylglycerol synthase activity
GO:0047251	0.000029	thiohydroximate beta-D-glucosyltransferase activity
GO:0047243	0.000029	flavanone 7-O-beta-glucosyltransferase activity
GO:0047237	0.000029	glucuronylgalactosylproteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0047230	0.000029	flavonol-3-O-glucoside L-rhamnosyltransferase activity
GO:0047225	0.000029	acetylgalactosaminyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0047223	0.000029	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,3-N-acetylglucosaminyltransferase activity
GO:0047215	0.000029	indole-3-acetate beta-glucosyltransferase activity
GO:0047206	0.000029	UDP-N-acetylmuramoylpentapeptide-lysine N6-alanyltransferase activity
GO:0047205	0.000029	quinate O-hydroxycinnamoyltransferase activity
GO:0047203	0.000029	13-hydroxylupinine O-tigloyltransferase activity
GO:0047198	0.000029	cysteine-S-conjugate N-acetyltransferase activity
GO:0047192	0.000029	1-alkylglycerophosphocholine O-acetyltransferase activity
GO:0047191	0.000029	1-alkylglycerophosphocholine O-acyltransferase activity
GO:0047178	0.000029	glycerophospholipid acyltransferase (CoA-dependent) activity
GO:0047172	0.000029	shikimate O-hydroxycinnamoyltransferase activity
GO:0047159	0.000029	1-alkenylglycerophosphocholine O-acyltransferase activity
GO:0047145	0.000029	demethylsterigmatocystin 6-O-methyltransferase activity
GO:0047131	0.000029	saccharopine dehydrogenase (NAD+, L-glutamate-forming) activity
GO:0047130	0.000029	saccharopine dehydrogenase (NADP+, L-lysine-forming) activity
GO:0047127	0.000029	thiomorpholine-carboxylate dehydrogenase activity
GO:0047120	0.000029	(3S,4R)-3,4-dihydroxycyclohexa-1,5-diene-1,4-dicarboxylate dehydrogenase activity
GO:0047111	0.000029	formate dehydrogenase (cytochrome-c-553) activity
GO:0047106	0.000029	4-hydroxyphenylacetaldehyde dehydrogenase activity
GO:0047105	0.000029	4-trimethylammoniobutyraldehyde dehydrogenase activity
GO:0047101	0.000029	2-oxoisovalerate dehydrogenase (acylating) activity
GO:0047094	0.000029	3-hydroxyphenylacetate 6-hydroxylase activity
GO:0047087	0.000029	protopine 6-monooxygenase activity
GO:0047084	0.000029	methyltetrahydroprotoberberine 14-monooxygenase activity
GO:0047078	0.000029	3-hydroxy-4-oxoquinoline 2,4-dioxygenase activity
GO:0047077	0.000029	Photinus-luciferin 4-monooxygenase (ATP-hydrolyzing) activity
GO:0047075	0.000029	2,5-dihydroxypyridine 5,6-dioxygenase activity
GO:0047071	0.000029	3,4-dihydroxy-9,10-secoandrosta-1,3,5(10)-triene-9,17-dione 4,5-dioxygenase activity
GO:0047070	0.000029	3-carboxyethylcatechol 2,3-dioxygenase activity
GO:0047058	0.000029	vitamin-K-epoxide reductase (warfarin-insensitive) activity
GO:0047056	0.000029	(S)-canadine synthase activity
GO:0047055	0.000029	salutaridine synthase activity
GO:0047044	0.000029	androstan-3-alpha,17-beta-diol dehydrogenase activity
GO:0047042	0.000029	androsterone dehydrogenase (B-specific) activity
GO:0047040	0.000029	pteridine reductase activity
GO:0047039	0.000029	tetrahydroxynaphthalene reductase activity
GO:0047038	0.000029	D-arabinitol 2-dehydrogenase activity
GO:0047037	0.000029	salutaridine reductase (NADPH) activity
GO:0047022	0.000029	7-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0047020	0.000029	15-hydroxyprostaglandin-D dehydrogenase (NADP+) activity
GO:0047019	0.000029	indole-3-acetaldehyde reductase (NADPH) activity
GO:0047018	0.000029	indole-3-acetaldehyde reductase (NADH) activity
GO:0047016	0.000029	cholest-5-ene-3-beta,7-alpha-diol 3-beta-dehydrogenase activity
GO:0046990	0.000029	N-hydroxyarylamine O-acetyltransferase activity
GO:0046981	0.000029	beta-1,4-mannosylglycolipid beta-1,3-N-acetylglucosaminyltransferase activity
GO:0046972	0.000029	histone acetyltransferase activity (H4-K16 specific)
GO:0046941	0.000029	azetidine-2-carboxylic acid acetyltransferase activity
GO:0046917	0.000029	triphosphoribosyl-dephospho-CoA synthase activity
GO:0046863	0.000029	ribulose-1,5-bisphosphate carboxylase/oxygenase activator activity
GO:0046817	0.000029	chemokine receptor antagonist activity
GO:0046608	0.000029	carotenoid isomerase activity
GO:0046575	0.000029	rhamnogalacturonan acetylesterase activity
GO:0046568	0.000029	3-methylbutanol:NAD(P) oxidoreductase activity
GO:0046567	0.000029	aphidicolan-16 beta-ol synthase activity
GO:0046564	0.000029	oxalate decarboxylase activity
GO:0046554	0.000029	malate dehydrogenase (NADP+) activity
GO:0046553	0.000029	D-malate dehydrogenase (decarboxylating) activity
GO:0046547	0.000029	trans-aconitate 3-methyltransferase activity
GO:0046539	0.000029	histamine N-methyltransferase activity
GO:0046525	0.000029	xylosylprotein 4-beta-galactosyltransferase activity
GO:0046523	0.000029	S-methyl-5-thioribose-1-phosphate isomerase activity
GO:0046509	0.000029	1,2-diacylglycerol 3-beta-galactosyltransferase activity
GO:0046428	0.000029	1,4-dihydroxy-2-naphthoate octaprenyltransferase activity
GO:0046423	0.000029	allene-oxide cyclase activity
GO:0046422	0.000029	violaxanthin de-epoxidase activity
GO:0046409	0.000029	p-coumarate 3-hydroxylase activity
GO:0046406	0.000029	magnesium protoporphyrin IX methyltransferase activity
GO:0045569	0.000029	TRAIL binding
GO:0045552	0.000029	dihydrokaempferol 4-reductase activity
GO:0045518	0.000029	interleukin-22 receptor binding
GO:0045513	0.000029	interleukin-27 binding
GO:0045462	0.000029	trichothecene 3-O-acetyltransferase activity
GO:0045435	0.000029	lycopene epsilon cyclase activity
GO:0045353	0.000029	interleukin-1 Type II receptor antagonist activity
GO:0045352	0.000029	interleukin-1 Type I receptor antagonist activity
GO:0045303	0.000029	diaminobutyrate-2-oxoglutarate transaminase activity
GO:0045300	0.000029	acyl-[acyl-carrier-protein] desaturase activity
GO:0045183	0.000029	translation factor activity, non-nucleic acid binding
GO:0045157	0.000029	electron transporter, transferring electrons within the noncyclic electron transport pathway of photosynthesis activity
GO:0045152	0.000029	antisigma factor binding
GO:0045130	0.000029	keratan sulfotransferase activity
GO:0045032	0.000029	ADP-activated adenosine receptor activity
GO:0045029	0.000029	UDP-activated nucleotide receptor activity
GO:0045015	0.000029	HDEL sequence binding
GO:0044876	0.000029	hercynylselenocysteine synthase
GO:0044750	0.000029	high-affinity nickel cation transmembrane transporter activity
GO:0044748	0.000029	3'-5'-exoribonuclease activity involved in mature miRNA 3'-end processing
GO:0044717	0.000029	8-hydroxy-dADP phosphatase activity
GO:0044714	0.000029	2-hydroxy-(deoxy)adenosine-triphosphate pyrophosphatase activity
GO:0044713	0.000029	2-hydroxy-adenosine triphosphate pyrophosphatase activity
GO:0044692	0.000029	exoribonuclease activator activity
GO:0044653	0.000029	dextrin alpha-glucosidase activity
GO:0044606	0.000029	phosphocholine hydrolase activity
GO:0044605	0.000029	phosphocholine transferase activity
GO:0044603	0.000029	protein adenylylhydrolase activity
GO:0044600	0.000029	protein guanylyltransferase activity
GO:0044596	0.000029	3-demethylubiquinone-10 3-O-methyltransferase activity
GO:0044595	0.000029	decaprenyldihydroxybenzoate methyltransferase activity
GO:0044549	0.000029	GTP cyclohydrolase binding
GO:0044388	0.000029	small protein activating enzyme binding
GO:0044373	0.000029	cytokinin binding
GO:0044318	0.000029	L-aspartate:fumarate oxidoreductase activity
GO:0044198	0.000029	zf-TRAF domain binding
GO:0044025	0.000029	histone kinase activity (H2B-S14 specific)
GO:0044022	0.000029	histone kinase activity (H3-S28 specific)
GO:0044016	0.000029	histone acetyltransferase activity (H3-K4 specific)
GO:0043996	0.000029	histone acetyltransferase activity (H4-K8 specific)
GO:0043957	0.000029	acryloyl-CoA reductase (NADP+) activity
GO:0043956	0.000029	3-hydroxypropionyl-CoA dehydratase activity
GO:0043924	0.000029	suramin binding
GO:0043916	0.000029	DNA-7-methylguanine glycosylase activity
GO:0043907	0.000029	Cys-tRNA(Pro) hydrolase activity
GO:0043904	0.000029	isochorismate pyruvate lyase activity
GO:0043899	0.000029	phosphoserine:homoserine phosphotransferase activity
GO:0043894	0.000029	acetyl-CoA synthetase acetyltransferase activity
GO:0043893	0.000029	acetate:cation symporter activity
GO:0043892	0.000029	methylglyoxal reductase (NADPH-dependent) activity
GO:0043887	0.000029	melibiose:sodium symporter activity
GO:0043879	0.000029	glycolate transmembrane transporter activity
GO:0043875	0.000029	2-ketobutyrate formate-lyase activity
GO:0043874	0.000029	acireductone synthase activity
GO:0043873	0.000029	pyruvate-flavodoxin oxidoreductase activity
GO:0043872	0.000029	lysine:cadaverine antiporter activity
GO:0043866	0.000029	adenylyl-sulfate reductase (thioredoxin) activity
GO:0043864	0.000029	indoleacetamide hydrolase activity
GO:0043858	0.000029	arginine:ornithine antiporter activity
GO:0043857	0.000029	N-acetylornithine carbamoyltransferase activity
GO:0043849	0.000029	Ras palmitoyltransferase activity
GO:0043843	0.000029	ADP-specific glucokinase activity
GO:0043838	0.000029	phosphatidylethanolamine:Kdo2-lipid A phosphoethanolamine transferase activity
GO:0043829	0.000029	tRNA-specific adenosine-37 deaminase activity
GO:0043828	0.000029	tRNA 2-selenouridine synthase activity
GO:0043825	0.000029	succinylornithine transaminase activity
GO:0043822	0.000029	ribonuclease M5 activity
GO:0043821	0.000029	propionyl-CoA:succinate CoA-transferase activity
GO:0043814	0.000029	phospholactate guanylyltransferase activity
GO:0043797	0.000029	glyceraldehyde-3-phosphate dehydrogenase (ferredoxin) activity
GO:0043795	0.000029	glyceraldehyde oxidoreductase activity
GO:0043792	0.000029	enamidase activity
GO:0043785	0.000029	cinnamoyl-CoA:phenyllactate CoA-transferase activity
GO:0043783	0.000029	oxidoreductase activity, oxidizing metal ions with flavin as acceptor
GO:0043774	0.000029	coenzyme F420-2 alpha-glutamyl ligase activity
GO:0043771	0.000029	cytidine kinase activity
GO:0043768	0.000029	S-ribosylhomocysteine lyase activity
GO:0043761	0.000029	archaetidylserine synthase activity
GO:0043755	0.000029	alpha-ribazole phosphatase activity
GO:0043751	0.000029	polyphosphate:AMP phosphotransferase activity
GO:0043743	0.000029	LPPG:FO 2-phospho-L-lactate transferase activity
GO:0043737	0.000029	deoxyribonuclease V activity
GO:0043723	0.000029	2,5-diamino-6-ribitylamino-4(3H)-pyrimidinone 5'-phosphate deaminase activity
GO:0043718	0.000029	2-hydroxymethylglutarate dehydrogenase activity
GO:0043544	0.000029	lipoamide binding
GO:0043431	0.000029	2-octaprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043365	0.000029	[formate-C-acetyltransferase]-activating enzyme activity
GO:0043337	0.000029	CDP-diacylglycerol-phosphatidylglycerol phosphatidyltransferase activity
GO:0043334	0.000029	2-hexaprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043333	0.000029	2-octaprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043250	0.000029	sodium-dependent organic anion transmembrane transporter activity
GO:0043221	0.000029	SMC family protein binding
GO:0043135	0.000029	5-phosphoribosyl 1-pyrophosphate pyrophosphatase activity
GO:0042988	0.000029	X11-like protein binding
GO:0042972	0.000029	licheninase activity
GO:0042970	0.000029	homoserine transmembrane transporter activity
GO:0042960	0.000029	antimonite secondary active transmembrane transporter activity
GO:0042958	0.000029	maltodextrin transmembrane transporter activity
GO:0042945	0.000029	D-serine transmembrane transporter activity
GO:0042944	0.000029	D-alanine transmembrane transporter activity
GO:0042924	0.000029	neuromedin U binding
GO:0042922	0.000029	neuromedin U receptor binding
GO:0042917	0.000029	alkylphosphonate transmembrane transporter activity
GO:0042835	0.000029	BRE binding
GO:0042768	0.000029	ecdysteroid 2-hydroxylase activity
GO:0042767	0.000029	ecdysteroid 22-hydroxylase activity
GO:0042658	0.000029	MHC class II protein binding, via antigen binding groove
GO:0042624	0.000029	ATPase activity, uncoupled
GO:0042561	0.000029	alpha-amyrin synthase activity
GO:0042410	0.000029	6-carboxyhexanoate-CoA ligase activity
GO:0042380	0.000029	hydroxymethylbutenyl pyrophosphate reductase activity
GO:0042356	0.000029	GDP-4-dehydro-D-rhamnose reductase activity
GO:0042324	0.000029	hypocretin receptor binding
GO:0042286	0.000029	glutamate-1-semialdehyde 2,1-aminomutase activity
GO:0042283	0.000029	dolichyl pyrophosphate Glc1Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0042263	0.000029	neuropeptide F receptor activity
GO:0042018	0.000029	interleukin-22 receptor activity
GO:0042017	0.000029	interleukin-22 binding
GO:0042008	0.000029	interleukin-18 receptor activity
GO:0042007	0.000029	interleukin-18 binding
GO:0039552	0.000029	RIG-I binding
GO:0038199	0.000029	ethylene receptor activity
GO:0038198	0.000029	auxin receptor activity
GO:0038186	0.000029	lithocholic acid receptor activity
GO:0038164	0.000029	thrombopoietin receptor activity
GO:0038132	0.000029	neuregulin binding
GO:0038121	0.000029	C-C motif chemokine 21 receptor activity
GO:0038117	0.000029	C-C motif chemokine 19 receptor activity
GO:0038106	0.000029	choriogonadotropin hormone binding
GO:0038082	0.000029	MAP kinase phosphatase activity involved in regulation of osmosensory signaling pathway
GO:0038079	0.000029	MAP kinase activity involved in osmosensory signaling pathway
GO:0038078	0.000029	MAP kinase phosphatase activity involved in regulation of innate immune response
GO:0038067	0.000029	MAP kinase activity involved in cell wall organization or biogenesis
GO:0038051	0.000029	glucocorticoid-activated RNA polymerase II transcription factor binding transcription factor activity
GO:0038048	0.000029	dynorphin receptor activity
GO:0038047	0.000029	morphine receptor activity
GO:0038022	0.000029	G-protein coupled olfactory receptor activity
GO:0038021	0.000029	leptin receptor activity
GO:0036487	0.000029	nitric-oxide synthase inhibitor activity
GO:0036479	0.000029	peroxidase inhibitor activity
GO:0036478	0.000029	L-dopa decarboxylase activator activity
GO:0036470	0.000029	tyrosine 3-monooxygenase activator activity
GO:0036468	0.000029	L-dopa decarboxylase activity
GO:0036458	0.000029	hepatocyte growth factor binding
GO:0036455	0.000029	iron-sulfur transferase activity
GO:0036412	0.000029	acetyl-CoA:oxalate CoA-transferase
GO:0036403	0.000029	arachidonate 8(S)-lipoxygenase activity
GO:0036402	0.000029	proteasome-activating ATPase activity
GO:0036384	0.000029	cytidine diphosphatase activity
GO:0036382	0.000029	flavin reductase (NADH) activity
GO:0036332	0.000029	placental growth factor-activated receptor activity
GO:0036327	0.000029	VEGF-B-activated receptor activity
GO:0036326	0.000029	VEGF-A-activated receptor activity
GO:0036320	0.000029	mating-type P-factor pheromone receptor activity
GO:0036317	0.000029	tyrosyl-RNA phosphodiesterase activity
GO:0036311	0.000029	chitin disaccharide deacetylase activity
GO:0036308	0.000029	16S rRNA (guanine(1516)-N(2))-methyltransferase activity
GO:0036307	0.000029	23S rRNA (adenine(2030)-N(6))-methyltransferase activity
GO:0036239	0.000029	taxoid 7beta-hydroxylase activity
GO:0036238	0.000029	gallate dioxygenase activity
GO:0036217	0.000029	dGTP diphosphatase activity
GO:0036209	0.000029	9beta-pimara-7,15-diene oxidase activity
GO:0036203	0.000029	taxoid 14-beta-hydroxylase activity
GO:0036201	0.000029	ent-isokaurene C2-hydroxylase activity
GO:0036185	0.000029	13-lipoxin reductase activity
GO:0036140	0.000029	peptidyl-asparagine 3-dioxygenase activity
GO:0036139	0.000029	peptidyl-histidine dioxygenase activity
GO:0036134	0.000029	12-hydroxyheptadecatrienoic acid synthase activity
GO:0036132	0.000029	13-prostaglandin reductase activity
GO:0036131	0.000029	prostaglandin D2 11-ketoreductase activity
GO:0036130	0.000029	prostaglandin H2 endoperoxidase reductase activity
GO:0036121	0.000029	double-stranded DNA-dependent ATP-dependent DNA helicase activity
GO:0036105	0.000029	peroxisome membrane class-1 targeting sequence binding
GO:0035888	0.000029	isoguanine deaminase activity
GO:0035804	0.000029	structural constituent of egg coat
GO:0035798	0.000029	2-alkenal reductase (NADP+) activity
GO:0035758	0.000029	chemokine (C-C motif) ligand 21 binding
GO:0035757	0.000029	chemokine (C-C motif) ligand 19 binding
GO:0035731	0.000029	dinitrosyl-iron complex binding
GO:0035730	0.000029	S-nitrosoglutathione binding
GO:0035718	0.000029	macrophage migration inhibitory factor binding
GO:0035716	0.000029	chemokine (C-C motif) ligand 12 binding
GO:0035715	0.000029	chemokine (C-C motif) ligand 2 binding
GO:0035643	0.000029	L-DOPA receptor activity
GO:0035642	0.000029	histone methyltransferase activity (H3-R17 specific)
GO:0035614	0.000029	snRNA stem-loop binding
GO:0035605	0.000029	peptidyl-cysteine S-nitrosylase activity
GO:0035599	0.000029	aspartic acid methylthiotransferase activity
GO:0035594	0.000029	ganglioside binding
GO:0035560	0.000029	pheophoridase activity
GO:0035527	0.000029	3-hydroxypropionate dehydrogenase (NADP+) activity
GO:0035501	0.000029	MH1 domain binding
GO:0035500	0.000029	MH2 domain binding
GO:0035496	0.000029	lipopolysaccharide-1,5-galactosyltransferase activity
GO:0035487	0.000029	thymine/thymine mispair binding
GO:0035485	0.000029	adenine/guanine mispair binding
GO:0035472	0.000029	choriogonadotropin hormone receptor activity
GO:0035460	0.000029	L-ascorbate 6-phosphate lactonase activity
GO:0035447	0.000029	mycothiol synthase activity
GO:0035446	0.000029	cysteine-glucosaminylinositol ligase activity
GO:0035439	0.000029	halimadienyl-diphosphate synthase activity
GO:0035401	0.000029	histone kinase activity (H3-Y41 specific)
GO:0035400	0.000029	histone tyrosine kinase activity
GO:0035302	0.000029	ecdysteroid 25-hydroxylase activity
GO:0035275	0.000029	dibutyl phthalate binding
GO:0035274	0.000029	diphenyl phthalate binding
GO:0035248	0.000029	alpha-1,4-N-acetylgalactosaminyltransferase activity
GO:0035226	0.000029	glutamate-cysteine ligase catalytic subunit binding
GO:0035100	0.000029	ecdysone binding
GO:0035034	0.000029	histone acetyltransferase regulator activity
GO:0035005	0.000029	1-phosphatidylinositol-4-phosphate 3-kinase activity
GO:0034832	0.000029	geranial dehydrogenase activity
GO:0034820	0.000029	4,9-DSHA hydrolase activity
GO:0034738	0.000029	lanosterol O-acyltransferase activity
GO:0034700	0.000029	allulose 6-phosphate 3-epimerase activity
GO:0034658	0.000029	isopropylmalate transmembrane transporter activity
GO:0034611	0.000029	oligoribonucleotidase activity
GO:0034604	0.000029	pyruvate dehydrogenase (NAD+) activity
GO:0034603	0.000029	pyruvate dehydrogenase [NAD(P)+] activity
GO:0034602	0.000029	oxoglutarate dehydrogenase (NAD+) activity
GO:0034590	0.000029	L-hydroxyproline transmembrane transporter activity
GO:0034545	0.000029	fumarylpyruvate hydrolase activity
GO:0034479	0.000029	phosphatidylglycerol phospholipase C activity
GO:0034419	0.000029	L-2-hydroxyglutarate oxidase activity
GO:0034417	0.000029	bisphosphoglycerate 3-phosphatase activity
GO:0034326	0.000029	butanoyltransferase activity
GO:0034323	0.000029	O-butanoyltransferase activity
GO:0034321	0.000029	alcohol O-octanoyltransferase activity
GO:0034319	0.000029	alcohol O-butanoyltransferase activity
GO:0034246	0.000029	mitochondrial RNA polymerase binding promoter specificity activity
GO:0034228	0.000029	ethanolamine transmembrane transporter activity
GO:0034211	0.000029	GTP-dependent protein kinase activity
GO:0034202	0.000029	glycolipid-translocating activity
GO:0034084	0.000029	steryl deacetylase activity
GO:0034076	0.000029	cucurbitadienol synthase activity
GO:0034075	0.000029	arabidiol synthase activity
GO:0034074	0.000029	marneral synthase activity
GO:0034028	0.000029	5-(carboxyamino)imidazole ribonucleotide synthase activity
GO:0034024	0.000029	glutamate-putrescine ligase activity
GO:0034023	0.000029	5-(carboxyamino)imidazole ribonucleotide mutase activity
GO:0034022	0.000029	3-(hydroxyamino)phenol mutase activity
GO:0034020	0.000029	neoxanthin synthase activity
GO:0034015	0.000029	L-ribulose-5-phosphate 3-epimerase activity
GO:0034012	0.000029	FAD-AMP lyase (cyclizing) activity
GO:0034011	0.000029	L-cysteate sulfo-lyase activity
GO:0034009	0.000029	isoprene synthase activity
GO:0034007	0.000029	S-linalool synthase activity
GO:0034002	0.000029	(R)-limonene synthase activity
GO:0034001	0.000029	chondroitin-sulfate-ABC exolyase activity
GO:0033999	0.000029	chondroitin B lyase activity
GO:0033989	0.000029	3alpha,7alpha,12alpha-trihydroxy-5beta-cholest-24-enoyl-CoA hydratase activity
GO:0033978	0.000029	phosphonopyruvate hydrolase activity
GO:0033973	0.000029	dCTP deaminase (dUMP-forming) activity
GO:0033971	0.000029	hydroxyisourate hydrolase activity
GO:0033969	0.000029	gamma-glutamyl-gamma-aminobutyrate hydrolase activity
GO:0033966	0.000029	N-substituted formamide deformylase activity
GO:0033963	0.000029	cholesterol-5,6-oxide hydrolase activity
GO:0033961	0.000029	cis-stilbene-oxide hydrolase activity
GO:0033958	0.000029	DNA-deoxyinosine glycosylase activity
GO:0033945	0.000029	oligoxyloglucan reducing-end-specific cellobiohydrolase activity
GO:0033942	0.000029	4-alpha-D-\{(1->4)-alpha-D-glucano}trehalose trehalohydrolase activity
GO:0033938	0.000029	1,6-alpha-L-fucosidase activity
GO:0033932	0.000029	1,3-alpha-L-fucosidase activity
GO:0033929	0.000029	blood-group-substance endo-1,4-beta-galactosidase activity
GO:0033922	0.000029	peptidoglycan beta-N-acetylmuramidase activity
GO:0033920	0.000029	6-phospho-beta-galactosidase activity
GO:0033919	0.000029	glucan 1,3-alpha-glucosidase activity
GO:0033892	0.000029	deoxyribonuclease (pyrimidine dimer) activity
GO:0033863	0.000029	ribose 1,5-bisphosphate phosphokinase activity
GO:0033857	0.000029	diphosphoinositol-pentakisphosphate kinase activity
GO:0033856	0.000029	pyridoxine 5'-phosphate synthase activity
GO:0033848	0.000029	N2-(2-carboxyethyl)arginine synthase activity
GO:0033847	0.000029	O-phosphoserine sulfhydrylase activity
GO:0033845	0.000029	hydroxymethylfurfural reductase (NADPH) activity
GO:0033830	0.000029	Skp1-protein-hydroxyproline N-acetylglucosaminyltransferase activity
GO:0033825	0.000029	oligosaccharide 4-alpha-D-glucosyltransferase activity
GO:0033821	0.000029	DNA beta-glucosyltransferase activity
GO:0033820	0.000029	DNA alpha-glucosyltransferase activity
GO:0033817	0.000029	beta-ketoacyl-acyl-carrier-protein synthase II activity
GO:0033814	0.000029	propanoyl-CoA C-acyltransferase activity
GO:0033813	0.000029	deacetylcephalosporin-C acetyltransferase activity
GO:0033812	0.000029	3-oxoadipyl-CoA thiolase activity
GO:0033810	0.000029	anthocyanin 5-O-glucoside 6'''-O-malonyltransferase activity
GO:0033809	0.000029	anthocyanin 6''-O-malonyltransferase activity
GO:0033802	0.000029	isoliquiritigenin 2'-O-methyltransferase activity
GO:0033800	0.000029	isoflavone 7-O-methyltransferase activity
GO:0033798	0.000029	thyroxine 5-deiodinase activity
GO:0033793	0.000029	aureusidin synthase activity
GO:0033791	0.000029	3alpha,7alpha,12alpha-trihydroxy-5beta-cholestanoyl-CoA 24-hydroxylase activity
GO:0033787	0.000029	cyanocobalamin reductase (cyanide-eliminating) activity
GO:0033786	0.000029	heptose-1-phosphate adenylyltransferase activity
GO:0033785	0.000029	heptose 7-phosphate kinase activity
GO:0033784	0.000029	senecionine N-oxygenase activity
GO:0033781	0.000029	cholesterol 24-hydroxylase activity
GO:0033778	0.000029	7alpha-hydroxycholest-4-en-3-one 12alpha-hydroxylase activity
GO:0033776	0.000029	phenylacetone monooxygenase activity
GO:0033760	0.000029	2'-deoxymugineic-acid 2'-dioxygenase activity
GO:0033759	0.000029	flavone synthase activity
GO:0033756	0.000029	Oplophorus-luciferin 2-monooxygenase activity
GO:0033749	0.000029	histone demethylase activity (H4-R3 specific)
GO:0033748	0.000029	hydrogenase (acceptor) activity
GO:0033746	0.000029	histone demethylase activity (H3-R2 specific)
GO:0033739	0.000029	preQ1 synthase activity
GO:0033737	0.000029	1-pyrroline dehydrogenase activity
GO:0033736	0.000029	L-lysine 6-oxidase activity
GO:0033729	0.000029	anthocyanidin reductase activity
GO:0033723	0.000029	fluoroacetaldehyde dehydrogenase activity
GO:0033719	0.000029	2-oxo-acid reductase activity
GO:0033711	0.000029	4-phosphoerythronate dehydrogenase activity
GO:0033709	0.000029	D-arabinitol dehydrogenase, D-ribulose forming (NADP+) activity
GO:0033708	0.000029	isocitrate-homoisocitrate dehydrogenase activity
GO:0033608	0.000029	formyl-CoA transferase activity
GO:0033570	0.000029	transferrin transmembrane transporter activity
GO:0033560	0.000029	folate reductase activity
GO:0033251	0.000029	cephalosporinase activity
GO:0033250	0.000029	penicillinase activity
GO:0033219	0.000029	urea binding
GO:0033207	0.000029	beta-1,4-N-acetylgalactosaminyltransferase activity
GO:0033204	0.000029	ribonuclease P RNA binding
GO:0033094	0.000029	butane-1,4-diamine:2-oxoglutarate aminotransferase activity
GO:0032942	0.000029	inositol tetrakisphosphate 2-kinase activity
GO:0032935	0.000029	sterol sensor activity
GO:0032577	0.000029	phosphatidylcholine:cardiolipin O-linoleoyltransferase activity
GO:0032576	0.000029	O-linoleoyltransferase activity
GO:0032548	0.000029	pyrimidine deoxyribonucleoside binding
GO:0032546	0.000029	deoxyribonucleoside binding
GO:0032448	0.000029	DNA hairpin binding
GO:0032441	0.000029	pheophorbide a oxygenase activity
GO:0032427	0.000029	GBD domain binding
GO:0032399	0.000029	HECT domain binding
GO:0032397	0.000029	activating MHC class I receptor activity
GO:0032394	0.000029	MHC class Ib receptor activity
GO:0032358	0.000029	oxidized pyrimidine DNA binding
GO:0032267	0.000029	tRNA(Ile)-lysidine synthase activity
GO:0032145	0.000029	succinate-semialdehyde dehydrogenase binding
GO:0032141	0.000029	single cytosine insertion binding
GO:0032136	0.000029	adenine/cytosine mispair binding
GO:0032132	0.000029	O6-alkylguanine-DNA binding
GO:0032115	0.000029	sorbose reductase activity
GO:0032035	0.000029	myosin II tail binding
GO:0032033	0.000029	myosin II light chain binding
GO:0032031	0.000029	myosin I head/neck binding
GO:0032003	0.000029	interleukin-28 receptor binding
GO:0031997	0.000029	N-terminal myristoylation domain binding
GO:0031928	0.000029	pyridoxine transmembrane transporter activity
GO:0031927	0.000029	pyridoxamine transmembrane transporter activity
GO:0031925	0.000029	pyridoxal transmembrane transporter activity
GO:0031924	0.000029	vitamin B6 transporter activity
GO:0031895	0.000029	V1B vasopressin receptor binding
GO:0031883	0.000029	taste receptor binding
GO:0031878	0.000029	type 1 somatostatin receptor binding
GO:0031870	0.000029	thromboxane A2 receptor binding
GO:0031867	0.000029	EP4 subtype prostaglandin E2 receptor binding
GO:0031861	0.000029	prolactin-releasing peptide receptor binding
GO:0031858	0.000029	pituitary adenylate cyclase-activating polypeptide receptor binding
GO:0031857	0.000029	type 1 parathyroid hormone receptor binding
GO:0031856	0.000029	parathyroid hormone receptor binding
GO:0031855	0.000029	oxytocin receptor binding
GO:0031854	0.000029	orexigenic neuropeptide QRFP receptor binding
GO:0031851	0.000029	kappa-type opioid receptor binding
GO:0031835	0.000029	substance P receptor binding
GO:0031834	0.000029	neurokinin receptor binding
GO:0031812	0.000029	P2Y1 nucleotide receptor binding
GO:0031811	0.000029	G-protein coupled nucleotide receptor binding
GO:0031777	0.000029	type 1 melanin-concentrating hormone receptor binding
GO:0031776	0.000029	melanin-concentrating hormone receptor binding
GO:0031773	0.000029	kisspeptin receptor binding
GO:0031772	0.000029	type 2 hypocretin receptor binding
GO:0031771	0.000029	type 1 hypocretin receptor binding
GO:0031769	0.000029	glucagon receptor binding
GO:0031768	0.000029	ghrelin receptor binding
GO:0031764	0.000029	type 1 galanin receptor binding
GO:0031741	0.000029	type B gastrin/cholecystokinin receptor binding
GO:0031739	0.000029	cholecystokinin receptor binding
GO:0031737	0.000029	CX3C chemokine receptor binding
GO:0031729	0.000029	CCR4 chemokine receptor binding
GO:0031723	0.000029	CXCR4 chemokine receptor binding
GO:0031722	0.000029	hemoglobin beta binding
GO:0031721	0.000029	hemoglobin alpha binding
GO:0031715	0.000029	C5L2 anaphylatoxin chemotactic receptor binding
GO:0031713	0.000029	B2 bradykinin receptor binding
GO:0031700	0.000029	adrenomedullin receptor binding
GO:0031695	0.000029	alpha-2B adrenergic receptor binding
GO:0031626	0.000029	beta-endorphin binding
GO:0031531	0.000029	thyrotropin-releasing hormone receptor binding
GO:0031530	0.000029	gonadotropin-releasing hormone receptor binding
GO:0031517	0.000029	red light photoreceptor activity
GO:0031473	0.000029	myosin III binding
GO:0031459	0.000029	glycine betaine-transporting ATPase activity
GO:0031458	0.000029	betaine-transporting ATPase activity
GO:0031263	0.000029	amine-transporting ATPase activity
GO:0031220	0.000029	maltodextrin phosphorylase activity
GO:0031216	0.000029	neopullulanase activity
GO:0031172	0.000029	ornithine N5-monooxygenase activity
GO:0030975	0.000029	thiamine binding
GO:0030941	0.000029	chloroplast targeting sequence binding
GO:0030848	0.000029	threo-3-hydroxyaspartate ammonia-lyase activity
GO:0030798	0.000029	trans-aconitate 2-methyltransferase activity
GO:0030795	0.000029	jasmonate O-methyltransferase activity
GO:0030794	0.000029	(S)-coclaurine-N-methyltransferase activity
GO:0030792	0.000029	methylarsonite methyltransferase activity
GO:0030791	0.000029	arsenite methyltransferase activity
GO:0030770	0.000029	demethylmacrocin O-methyltransferase activity
GO:0030769	0.000029	macrocin O-methyltransferase activity
GO:0030766	0.000029	11-O-demethyl-17-O-deacetylvindoline O-methyltransferase activity
GO:0030761	0.000029	8-hydroxyquercitin 8-O-methyltransferase activity
GO:0030760	0.000029	pyridine N-methyltransferase activity
GO:0030755	0.000029	quercetin 3-O-methyltransferase activity
GO:0030751	0.000029	licodione 2'-O-methyltransferase activity
GO:0030748	0.000029	amine N-methyltransferase activity
GO:0030731	0.000029	guanidinoacetate N-methyltransferase activity
GO:0030626	0.000029	U12 snRNA binding
GO:0030624	0.000029	U6atac snRNA binding
GO:0030616	0.000029	transforming growth factor beta receptor, common-partner cytoplasmic mediator activity
GO:0030591	0.000029	NAD DNA ADP-ribosyltransferase activity
GO:0030549	0.000029	acetylcholine receptor activator activity
GO:0030411	0.000029	scytalone dehydratase activity
GO:0030387	0.000029	fructosamine-3-kinase activity
GO:0030385	0.000029	ferredoxin:thioredoxin reductase activity
GO:0030380	0.000029	interleukin-17E receptor binding
GO:0030379	0.000029	neurotensin receptor activity, non-G-protein coupled
GO:0030377	0.000029	urokinase plasminogen activator receptor activity
GO:0030366	0.000029	molybdopterin synthase activity
GO:0030362	0.000029	protein phosphatase type 4 regulator activity
GO:0030352	0.000029	inositol-1,4,5,6-tetrakisphosphate 6-phosphatase activity
GO:0030341	0.000029	chondroitin AC lyase activity
GO:0030340	0.000029	hyaluronate lyase activity
GO:0030338	0.000029	CMP-N-acetylneuraminate monooxygenase activity
GO:0030290	0.000029	sphingolipid activator protein activity
GO:0030273	0.000029	melanin-concentrating hormone receptor activity
GO:0030268	0.000029	methylenetetrahydromethanopterin dehydrogenase activity
GO:0030251	0.000029	guanylate cyclase inhibitor activity
GO:0030233	0.000029	deoxynucleotide transmembrane transporter activity
GO:0030184	0.000029	nitric oxide transmembrane transporter activity
GO:0030116	0.000029	glial cell-derived neurotrophic factor receptor binding
GO:0030109	0.000029	HLA-B specific inhibitory MHC class I receptor activity
GO:0030108	0.000029	HLA-A specific activating MHC class I receptor activity
GO:0030107	0.000029	HLA-A specific inhibitory MHC class I receptor activity
GO:0023030	0.000029	MHC class Ib protein binding, via antigen binding groove
GO:0022894	0.000029	Intermediate conductance calcium-activated potassium channel activity
GO:0022893	0.000029	low-affinity tryptophan transmembrane transporter activity
GO:0022883	0.000029	zinc efflux transmembrane transporter activity
GO:0022877	0.000029	protein-N(PI)-phosphohistidine-fructose phosphotransferase system transporter activity
GO:0022865	0.000029	transmembrane electron transfer carrier
GO:0022850	0.000029	serotonin-gated cation channel activity
GO:0022820	0.000029	potassium ion symporter activity
GO:0019978	0.000029	interleukin-3 binding
GO:0019975	0.000029	interleukin-17 binding
GO:0019964	0.000029	interferon-gamma binding
GO:0019960	0.000029	C-X3-C chemokine binding
GO:0019914	0.000029	cyclin-dependent protein kinase activating kinase regulator activity
GO:0019875	0.000029	6-aminohexanoate-dimer hydrolase activity
GO:0019809	0.000029	spermidine binding
GO:0019782	0.000029	ISG15 activating enzyme activity
GO:0019768	0.000029	high-affinity IgE receptor activity
GO:0019702	0.000029	protein-arginine N5-methyltransferase activity
GO:0019180	0.000029	dTDP-4-amino-4,6-dideoxygalactose transaminase activity
GO:0019178	0.000029	NADP phosphatase activity
GO:0019170	0.000029	methylglyoxal reductase (NADH-dependent) activity
GO:0019168	0.000029	2-octaprenylphenol hydroxylase activity
GO:0019165	0.000029	thiamine kinase activity
GO:0019159	0.000029	nicotinamide-nucleotide amidase activity
GO:0019151	0.000029	galactose 1-dehydrogenase activity
GO:0019149	0.000029	3-chloro-D-alanine dehydrochlorinase activity
GO:0019147	0.000029	(R)-aminopropanol dehydrogenase activity
GO:0019143	0.000029	3-deoxy-manno-octulosonate-8-phosphatase activity
GO:0019140	0.000029	inositol 3-kinase activity
GO:0019119	0.000029	phenanthrene-9,10-epoxide hydrolase activity
GO:0019118	0.000029	phenanthrene-epoxide hydrolase activity
GO:0019115	0.000029	benzaldehyde dehydrogenase activity
GO:0018860	0.000029	anthranilate-CoA ligase activity
GO:0018858	0.000029	benzoate-CoA ligase activity
GO:0018846	0.000029	styrene-oxide isomerase activity
GO:0018835	0.000029	carbon phosphorus lyase activity
GO:0018833	0.000029	DDT-dehydrochlorinase activity
GO:0018826	0.000029	methionine gamma-lyase activity
GO:0018818	0.000029	acetylene hydratase activity
GO:0018803	0.000029	4-(2-carboxyphenyl)-2-oxobut-3-enoate aldolase activity
GO:0018786	0.000029	haloalkane dehalogenase activity
GO:0018773	0.000029	acetylpyruvate hydrolase activity
GO:0018771	0.000029	2-hydroxy-6-oxonona-2,4-dienedioate hydrolase activity
GO:0018762	0.000029	aliphatic nitrilase activity
GO:0018756	0.000029	ammeline aminohydrolase activity
GO:0018750	0.000029	biuret amidohydrolase activity
GO:0018733	0.000029	3,4-dihydrocoumarin hydrolase activity
GO:0018690	0.000029	4-methoxybenzoate monooxygenase (O-demethylating) activity
GO:0018675	0.000029	(S)-limonene 6-monooxygenase activity
GO:0018671	0.000029	4-hydroxybenzoate 3-monooxygenase [NAD(P)H] activity
GO:0018669	0.000029	3-hydroxybenzoate 6-monooxygenase activity
GO:0018668	0.000029	3-hydroxybenzoate 4-monooxygenase activity
GO:0018664	0.000029	benzoate 4-monooxygenase activity
GO:0018663	0.000029	2,6-dihydroxypyridine 3-monooxygenase activity
GO:0018633	0.000029	dimethyl sulfide monooxygenase activity
GO:0018631	0.000029	phenylacetate hydroxylase activity
GO:0018601	0.000029	4-nitrophenol 2-monooxygenase activity
GO:0018585	0.000029	fluorene oxygenase activity
GO:0018582	0.000029	1-hydroxy-2-naphthoate 1,2-dioxygenase activity
GO:0018564	0.000029	carbazole 1,9a-dioxygenase activity
GO:0018545	0.000029	NAD(P)H nitroreductase activity
GO:0018507	0.000029	cis-3,4-dihydrophenanthrene-3,4-diol dehydrogenase activity
GO:0018506	0.000029	maleylacetate reductase activity
GO:0018504	0.000029	cis-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0018478	0.000029	malonate-semialdehyde dehydrogenase (acetylating) activity
GO:0018477	0.000029	benzaldehyde dehydrogenase (NADP+) activity
GO:0018467	0.000029	formaldehyde dehydrogenase activity
GO:0018461	0.000029	fluoren-9-ol dehydrogenase activity
GO:0018459	0.000029	carveol dehydrogenase activity
GO:0018458	0.000029	isopiperitenol dehydrogenase activity
GO:0018457	0.000029	perillyl-alcohol dehydrogenase activity
GO:0018423	0.000029	protein C-terminal leucine carboxyl O-methyltransferase activity
GO:0018114	0.000029	threonine racemase activity
GO:0018064	0.000029	protein-histidine N-methyltransferase activity
GO:0017131	0.000029	uridine-rich cytoplasmic polyadenylylation element binding
GO:0017118	0.000029	lipoyltransferase activity
GO:0017103	0.000029	UTP:galactose-1-phosphate uridylyltransferase activity
GO:0017084	0.000029	delta1-pyrroline-5-carboxylate synthetase activity
GO:0017061	0.000029	S-methyl-5-thioadenosine phosphorylase activity
GO:0017060	0.000029	3-galactosyl-N-acetylglucosaminide 4-alpha-L-fucosyltransferase activity
GO:0017042	0.000029	glycosylceramidase activity
GO:0017020	0.000029	myosin phosphatase regulator activity
GO:0016937	0.000029	short-branched-chain-acyl-CoA dehydrogenase activity
GO:0016826	0.000029	hydrolase activity, acting on acid sulfur-nitrogen bonds
GO:0016795	0.000029	phosphoric triester hydrolase activity
GO:0016754	0.000029	sinapoylglucose-malate O-sinapoyltransferase activity
GO:0016753	0.000029	O-sinapoyltransferase activity
GO:0016750	0.000029	O-succinyltransferase activity
GO:0016720	0.000029	delta12-fatty acid dehydrogenase activity
GO:0016711	0.000029	flavonoid 3'-monooxygenase activity
GO:0016710	0.000029	trans-cinnamate 4-monooxygenase activity
GO:0016699	0.000029	oxidoreductase activity, acting on hydrogen as donor, iron-sulfur protein as acceptor
GO:0016677	0.000029	oxidoreductase activity, acting on a heme group of donors, nitrogenous group as acceptor
GO:0016648	0.000029	oxidoreductase activity, acting on the CH-NH group of donors, disulfide as acceptor
GO:0016643	0.000029	oxidoreductase activity, acting on the CH-NH2 group of donors, iron-sulfur protein as acceptor
GO:0016633	0.000029	galactonolactone dehydrogenase activity
GO:0016622	0.000029	oxidoreductase activity, acting on the aldehyde or oxo group of donors, cytochrome as acceptor
GO:0016596	0.000029	thienylcyclohexylpiperidine binding
GO:0016524	0.000029	latrotoxin receptor activity
GO:0016519	0.000029	gastric inhibitory peptide receptor activity
GO:0016501	0.000029	prostacyclin receptor activity
GO:0016497	0.000029	substance K receptor activity
GO:0016496	0.000029	substance P receptor activity
GO:0016495	0.000029	C-X3-C chemokine receptor activity
GO:0016463	0.000029	zinc-exporting ATPase activity
GO:0016443	0.000029	bidentate ribonuclease III activity
GO:0016437	0.000029	tRNA cytidylyltransferase activity
GO:0016275	0.000029	[cytochrome c]-arginine N-methyltransferase activity
GO:0016250	0.000029	N-sulfoglucosamine sulfohydrolase activity
GO:0016230	0.000029	sphingomyelin phosphodiesterase activator activity
GO:0016223	0.000029	beta-alanine-pyruvate transaminase activity
GO:0016216	0.000029	isopenicillin-N synthase activity
GO:0016205	0.000029	selenocysteine methyltransferase activity
GO:0016158	0.000029	3-phytase activity
GO:0016155	0.000029	formyltetrahydrofolate dehydrogenase activity
GO:0016153	0.000029	urocanate hydratase activity
GO:0016041	0.000029	glutamate synthase (ferredoxin) activity
GO:0015661	0.000029	L-lysine efflux transmembrane transporter activity
GO:0015660	0.000029	formate efflux transmembrane transporter activity
GO:0015659	0.000029	formate uptake transmembrane transporter activity
GO:0015653	0.000029	glycine betaine:proton symporter activity
GO:0015652	0.000029	quaternary ammonium group:proton symporter activity
GO:0015649	0.000029	2-keto-3-deoxygluconate:proton symporter activity
GO:0015638	0.000029	microcin uptake transporter activity
GO:0015636	0.000029	short-chain fatty acid uptake transporter activity
GO:0015635	0.000029	short-chain fatty acid transporter activity
GO:0015604	0.000029	organic phosphonate transmembrane transporter activity
GO:0015592	0.000029	methylgalactoside transmembrane transporter activity
GO:0015591	0.000029	D-ribose transmembrane transporter activity
GO:0015576	0.000029	sorbitol transmembrane transporter activity
GO:0015575	0.000029	mannitol transmembrane transporter activity
GO:0015569	0.000029	p-aminobenzoyl-glutamate transmembrane transporter activity
GO:0015568	0.000029	L-idonate transmembrane transporter activity
GO:0015565	0.000029	threonine efflux transmembrane transporter activity
GO:0015558	0.000029	p-aminobenzoyl-glutamate uptake transmembrane transporter activity
GO:0015538	0.000029	sialic acid:proton symporter activity
GO:0015535	0.000029	fucose:proton symporter activity
GO:0015530	0.000029	shikimate transmembrane transporter activity
GO:0015528	0.000029	lactose:proton symporter activity
GO:0015527	0.000029	glycerol-phosphate:inorganic phosphate antiporter activity
GO:0015519	0.000029	D-xylose:proton symporter activity
GO:0015518	0.000029	arabinose:proton symporter activity
GO:0015513	0.000029	nitrite uptake transmembrane transporter activity
GO:0015505	0.000029	uracil:cation symporter activity
GO:0015503	0.000029	glutathione-regulated potassium exporter activity
GO:0015496	0.000029	putrescine:ornithine antiporter activity
GO:0015490	0.000029	cadaverine transmembrane transporter activity
GO:0015487	0.000029	melibiose:monovalent cation symporter activity
GO:0015486	0.000029	glycoside-pentoside-hexuronide:cation symporter activity
GO:0015483	0.000029	long-chain fatty acid transporting porin activity
GO:0015481	0.000029	maltose transporting porin activity
GO:0015473	0.000029	fimbrial usher porin activity
GO:0015471	0.000029	nucleoside-specific channel forming porin activity
GO:0015439	0.000029	heme-transporting ATPase activity
GO:0015390	0.000029	purine-specific nucleoside:sodium symporter activity
GO:0015367	0.000029	oxoglutarate:malate antiporter activity
GO:0015360	0.000029	acetate:proton symporter activity
GO:0015344	0.000029	siderophore uptake transmembrane transporter activity
GO:0015341	0.000029	zinc efflux active transmembrane transporter activity
GO:0015328	0.000029	cystine secondary active transmembrane transporter activity
GO:0015327	0.000029	cystine:glutamate antiporter activity
GO:0015320	0.000029	phosphate ion carrier activity
GO:0015159	0.000029	polysaccharide transmembrane transporter activity
GO:0015156	0.000029	melibiose transmembrane transporter activity
GO:0015155	0.000029	lactose transmembrane transporter activity
GO:0015147	0.000029	L-arabinose transmembrane transporter activity
GO:0015134	0.000029	hexuronate transmembrane transporter activity
GO:0015133	0.000029	uronic acid transmembrane transporter activity
GO:0015132	0.000029	prostaglandin transmembrane transporter activity
GO:0015130	0.000029	mevalonate transmembrane transporter activity
GO:0015126	0.000029	canalicular bile acid transmembrane transporter activity
GO:0015124	0.000029	allantoate transmembrane transporter activity
GO:0015115	0.000029	silicate transmembrane transporter activity
GO:0015100	0.000029	vanadium ion transmembrane transporter activity
GO:0015083	0.000029	aluminum ion transmembrane transporter activity
GO:0015068	0.000029	glycine amidinotransferase activity
GO:0015054	0.000029	gastrin receptor activity
GO:0015052	0.000029	beta3-adrenergic receptor activity
GO:0015043	0.000029	leghemoglobin reductase activity
GO:0015021	0.000029	heparin-sulfate lyase activity
GO:0010859	0.000029	calcium-dependent cysteine-type endopeptidase inhibitor activity
GO:0010855	0.000029	adenylate cyclase inhibitor activity
GO:0010854	0.000029	adenylate cyclase regulator activity
GO:0010852	0.000029	cyclase inhibitor activity
GO:0010542	0.000029	nitrate efflux transmembrane transporter activity
GO:0010491	0.000029	UTP:arabinose-1-phosphate uridylyltransferase activity
GO:0010488	0.000029	UDP-galactose:N-glycan beta-1,3-galactosyltransferase activity
GO:0010486	0.000029	manganese:proton antiporter activity
GO:0010474	0.000029	glucose-1-phosphate guanylyltransferase (GDP) activity
GO:0010473	0.000029	GDP-galactose:myoinositol-1-phosphate guanylyltransferase activity
GO:0010472	0.000029	GDP-galactose:glucose-1-phosphate guanylyltransferase activity
GO:0010471	0.000029	GDP-galactose:mannose-1-phosphate guanylyltransferase activity
GO:0010354	0.000029	homogentisate prenyltransferase activity
GO:0010349	0.000029	L-galactose dehydrogenase activity
GO:0010347	0.000029	L-galactose-1-phosphate phosphatase activity
GO:0010327	0.000029	acetyl CoA:(Z)-3-hexen-1-ol acetyltransferase activity
GO:0010308	0.000029	acireductone dioxygenase (Ni2+-requiring) activity
GO:0010307	0.000029	acetylglutamate kinase regulator activity
GO:0010303	0.000029	limit dextrinase activity
GO:0010301	0.000029	xanthoxin dehydrogenase activity
GO:0010298	0.000029	dihydrocamalexic acid decarboxylase activity
GO:0010296	0.000029	prenylcysteine methylesterase activity
GO:0010294	0.000029	abscisic acid glucosyltransferase activity
GO:0010293	0.000029	abscisic aldehyde oxidase activity
GO:0010291	0.000029	carotene beta-ring hydroxylase activity
GO:0010290	0.000029	chlorophyll catabolite transmembrane transporter activity
GO:0010277	0.000029	chlorophyllide a oxygenase [overall] activity
GO:0010242	0.000029	oxygen evolving activity
GO:0010211	0.000029	IAA-Leu conjugate hydrolase activity
GO:0010210	0.000029	IAA-Phe conjugate hydrolase activity
GO:0010209	0.000029	vacuolar sorting signal binding
GO:0010176	0.000029	homogentisate phytyltransferase activity
GO:0010175	0.000029	sphingosine transmembrane transporter activity
GO:0010013	0.000029	N-1-naphthylphthalamic acid binding
GO:0010012	0.000029	steroid 22-alpha hydroxylase activity
GO:0009978	0.000029	allene oxide synthase activity
GO:0009976	0.000029	tocopherol cyclase activity
GO:0009974	0.000029	zeinoxanthin epsilon hydroxylase activity
GO:0009940	0.000029	amino-terminal vacuolar sorting propeptide binding
GO:0009918	0.000029	sterol delta7 reductase activity
GO:0009899	0.000029	ent-kaurene synthase activity
GO:0009885	0.000029	transmembrane histidine kinase cytokinin receptor activity
GO:0009815	0.000029	1-aminocyclopropane-1-carboxylate oxidase activity
GO:0009703	0.000029	nitrate reductase (NADH) activity
GO:0009702	0.000029	L-arabinokinase activity
GO:0009675	0.000029	high-affinity sulfate:proton symporter activity
GO:0009674	0.000029	potassium:sodium symporter activity
GO:0009671	0.000029	nitrate:proton symporter activity
GO:0009540	0.000029	zeaxanthin epoxidase [overall] activity
GO:0009400	0.000029	receptor signaling protein serine/threonine phosphatase activity
GO:0009046	0.000029	zinc D-Ala-D-Ala carboxypeptidase activity
GO:0009045	0.000029	xylose isomerase activity
GO:0009042	0.000029	valine-pyruvate transaminase activity
GO:0009040	0.000029	ureidoglycolate dehydrogenase activity
GO:0009034	0.000029	tryptophanase activity
GO:0009030	0.000029	thiamine-phosphate kinase activity
GO:0009028	0.000029	tartronate-semialdehyde synthase activity
GO:0009027	0.000029	tartrate dehydrogenase activity
GO:0009024	0.000029	tagatose-6-phosphate kinase activity
GO:0009022	0.000029	tRNA nucleotidyltransferase activity
GO:0009018	0.000029	sucrose phosphorylase activity
GO:0009017	0.000029	succinylglutamate desuccinylase activity
GO:0009016	0.000029	succinyldiaminopimelate transaminase activity
GO:0009015	0.000029	N-succinylarginine dihydrolase activity
GO:0009014	0.000029	succinyl-diaminopimelate desuccinylase activity
GO:0008998	0.000029	ribonucleoside-triphosphate reductase activity
GO:0008997	0.000029	ribonuclease R activity
GO:0008996	0.000029	ribonuclease G activity
GO:0008995	0.000029	ribonuclease E activity
GO:0008994	0.000029	rhamnulose-1-phosphate aldolase activity
GO:0008986	0.000029	pyruvate, water dikinase activity
GO:0008979	0.000029	prophage integrase activity
GO:0008968	0.000029	D-sedoheptulose 7-phosphate isomerase activity
GO:0008961	0.000029	phosphatidylglycerol-prolipoprotein diacylglyceryl transferase activity
GO:0008960	0.000029	phosphatidylglycerol-membrane-oligosaccharide glycerophosphotransferase activity
GO:0008951	0.000029	palmitoleoyl [acyl-carrier-protein]-dependent acyltransferase activity
GO:0008946	0.000029	oligonucleotidase activity
GO:0008939	0.000029	nicotinate-nucleotide-dimethylbenzimidazole phosphoribosyltransferase activity
GO:0008932	0.000029	lytic endotransglycosylase activity
GO:0008928	0.000029	mannose-1-phosphate guanylyltransferase (GDP) activity
GO:0008925	0.000029	maltose O-acetyltransferase activity
GO:0008917	0.000029	lipopolysaccharide N-acetylglucosaminyltransferase activity
GO:0008914	0.000029	leucyltransferase activity
GO:0008912	0.000029	lactaldehyde reductase activity
GO:0008908	0.000029	isochorismatase activity
GO:0008906	0.000029	inosine kinase activity
GO:0008903	0.000029	hydroxypyruvate isomerase activity
GO:0008901	0.000029	ferredoxin hydrogenase activity
GO:0008899	0.000029	homoserine O-succinyltransferase activity
GO:0008890	0.000029	glycine C-acetyltransferase activity
GO:0008884	0.000029	glutathionylspermidine amidase activity
GO:0008882	0.000029	[glutamate-ammonia-ligase] adenylyltransferase activity
GO:0008876	0.000029	quinoprotein glucose dehydrogenase activity
GO:0008874	0.000029	gluconate 5-dehydrogenase activity
GO:0008873	0.000029	gluconate 2-dehydrogenase activity
GO:0008872	0.000029	glucarate dehydratase activity
GO:0008870	0.000029	galactoside O-acetyltransferase activity
GO:0008868	0.000029	galactitol-1-phosphate 5-dehydrogenase activity
GO:0008866	0.000029	fructuronate reductase activity
GO:0008864	0.000029	formyltetrahydrofolate deformylase activity
GO:0008859	0.000029	exoribonuclease II activity
GO:0008855	0.000029	exodeoxyribonuclease VII activity
GO:0008853	0.000029	exodeoxyribonuclease III activity
GO:0008852	0.000029	exodeoxyribonuclease I activity
GO:0008849	0.000029	enterochelin esterase activity
GO:0008838	0.000029	diaminopropionate ammonia-lyase activity
GO:0008835	0.000029	diaminohydroxyphosphoribosylaminopyrimidine deaminase activity
GO:0008820	0.000029	cobinamide phosphate guanylyltransferase activity
GO:0008811	0.000029	chloramphenicol O-acetyltransferase activity
GO:0008809	0.000029	carnitine racemase activity
GO:0008804	0.000029	carbamate kinase activity
GO:0008797	0.000029	aspartate ammonia-lyase activity
GO:0008795	0.000029	NAD+ synthase activity
GO:0008790	0.000029	arabinose isomerase activity
GO:0008788	0.000029	alpha,alpha-phosphotrehalase activity
GO:0008787	0.000029	allose kinase activity
GO:0008786	0.000029	allose 6-phosphate isomerase activity
GO:0008782	0.000029	adenosylhomocysteine nucleosidase activity
GO:0008779	0.000029	acyl-[acyl-carrier-protein]-phospholipid O-acyltransferase activity
GO:0008777	0.000029	acetylornithine deacetylase activity
GO:0008772	0.000029	[isocitrate dehydrogenase (NADP+)] kinase activity
GO:0008771	0.000029	[citrate (pro-3S)-lyase] ligase activity
GO:0008770	0.000029	[acyl-carrier-protein] phosphodiesterase activity
GO:0008766	0.000029	UDP-N-acetylmuramoylalanyl-D-glutamyl-2,6-diaminopimelate-D-alanyl-D-alanine ligase activity
GO:0008764	0.000029	UDP-N-acetylmuramoylalanine-D-glutamate ligase activity
GO:0008762	0.000029	UDP-N-acetylmuramate dehydrogenase activity
GO:0008758	0.000029	UDP-2,3-diacylglucosamine hydrolase activity
GO:0008754	0.000029	O antigen ligase activity
GO:0008752	0.000029	FMN reductase activity
GO:0008748	0.000029	N-ethylmaleimide reductase activity
GO:0008744	0.000029	L-xylulokinase activity
GO:0008741	0.000029	ribulokinase activity
GO:0008740	0.000029	L-rhamnose isomerase activity
GO:0008738	0.000029	L-fuculose-phosphate aldolase activity
GO:0008737	0.000029	L-fuculokinase activity
GO:0008736	0.000029	L-fucose isomerase activity
GO:0008734	0.000029	L-aspartate oxidase activity
GO:0008733	0.000029	L-arabinose isomerase activity
GO:0008726	0.000029	alkanesulfonate monooxygenase activity
GO:0008719	0.000029	dihydroneopterin triphosphate 2'-epimerase activity
GO:0008715	0.000029	CDP-diacylglycerol diphosphatase activity
GO:0008714	0.000029	AMP nucleosidase activity
GO:0008713	0.000029	ADP-heptose-lipopolysaccharide heptosyltransferase activity
GO:0008712	0.000029	ADP-glyceromanno-heptose 6-epimerase activity
GO:0008707	0.000029	4-phytase activity
GO:0008706	0.000029	6-phospho-beta-glucosidase activity
GO:0008697	0.000029	4-deoxy-L-threo-5-hexosulose-uronate ketol-isomerase activity
GO:0008684	0.000029	2-oxopent-4-enoate hydratase activity
GO:0008683	0.000029	2-oxoglutarate decarboxylase activity
GO:0008681	0.000029	2-octaprenyl-6-methoxyphenol hydroxylase activity
GO:0008672	0.000029	2-dehydro-3-deoxyglucarate aldolase activity
GO:0008668	0.000029	(2,3-dihydroxybenzoyl)adenylate synthase activity
GO:0008667	0.000029	2,3-dihydro-2,3-dihydroxybenzoate dehydrogenase activity
GO:0008664	0.000029	2'-5'-RNA ligase activity
GO:0008662	0.000029	1-phosphofructokinase activity
GO:0008555	0.000029	chloride-transporting ATPase activity
GO:0008521	0.000029	acetyl-CoA transporter activity
GO:0008512	0.000029	sulfate:proton symporter activity
GO:0008496	0.000029	mannan endo-1,6-alpha-mannosidase activity
GO:0008493	0.000029	tetracycline transporter activity
GO:0008457	0.000029	beta-galactosyl-N-acetylglucosaminylgalactosylglucosyl-ceramide beta-1,3-acetylglucosaminyltransferase activity
GO:0008456	0.000029	alpha-N-acetylgalactosaminidase activity
GO:0008442	0.000029	3-hydroxyisobutyrate dehydrogenase activity
GO:0008424	0.000029	glycoprotein 6-alpha-L-fucosyltransferase activity
GO:0008404	0.000029	arachidonic acid 14,15-epoxygenase activity
GO:0008397	0.000029	sterol 12-alpha-hydroxylase activity
GO:0008387	0.000029	steroid 7-alpha-hydroxylase activity
GO:0008316	0.000029	structural constituent of vitelline membrane
GO:0008267	0.000029	poly-glutamine tract binding
GO:0008261	0.000029	allatostatin receptor activity
GO:0008123	0.000029	cholesterol 7-alpha-monooxygenase activity
GO:0008098	0.000029	5S rRNA primary transcript binding
GO:0008029	0.000029	pentraxin receptor activity
GO:0005500	0.000029	juvenile hormone binding
GO:0005476	0.000029	carnitine:acyl carnitine antiporter activity
GO:0005469	0.000029	succinate:fumarate antiporter activity
GO:0005456	0.000029	CMP-N-acetylneuraminate transmembrane transporter activity
GO:0005395	0.000029	eye pigment precursor transporter activity
GO:0005367	0.000029	myo-inositol:sodium symporter activity
GO:0005360	0.000029	insulin-responsive hydrogen:glucose symporter activity
GO:0005352	0.000029	alpha-glucoside:proton symporter activity
GO:0005335	0.000029	serotonin:sodium symporter activity
GO:0005334	0.000029	norepinephrine:sodium symporter activity
GO:0005316	0.000029	high-affinity inorganic phosphate:sodium symporter activity
GO:0005307	0.000029	choline:sodium symporter activity
GO:0005295	0.000029	neutral amino acid:sodium symporter activity
GO:0005292	0.000029	high-affinity lysine transmembrane transporter activity
GO:0005291	0.000029	high-affinity L-histidine transmembrane transporter activity
GO:0005289	0.000029	high-affinity arginine transmembrane transporter activity
GO:0005276	0.000029	vesicular hydrogen:amino acid antiporter activity
GO:0005252	0.000029	open rectifier potassium channel activity
GO:0005228	0.000029	intracellular sodium activated potassium channel activity
GO:0005224	0.000029	ATP-binding and phosphorylation-dependent chloride channel activity
GO:0005144	0.000029	interleukin-13 receptor binding
GO:0005142	0.000029	interleukin-11 receptor binding
GO:0005141	0.000029	interleukin-10 receptor binding
GO:0005139	0.000029	interleukin-7 receptor binding
GO:0005129	0.000029	granulocyte macrophage colony-stimulating factor receptor binding
GO:0005115	0.000029	receptor tyrosine kinase-like orphan receptor binding
GO:0005020	0.000029	stem cell factor receptor activity
GO:0004979	0.000029	beta-endorphin receptor activity
GO:0004978	0.000029	corticotropin receptor activity
GO:0004961	0.000029	thromboxane A2 receptor activity
GO:0004934	0.000029	mating-type alpha-factor pheromone receptor activity
GO:0004933	0.000029	mating-type a-factor pheromone receptor activity
GO:0004924	0.000029	oncostatin-M receptor activity
GO:0004919	0.000029	interleukin-9 receptor activity
GO:0004917	0.000029	interleukin-7 receptor activity
GO:0004914	0.000029	interleukin-5 receptor activity
GO:0004913	0.000029	interleukin-4 receptor activity
GO:0004909	0.000029	interleukin-1, Type I, activating receptor activity
GO:0004902	0.000029	granulocyte colony-stimulating factor receptor activity
GO:0004900	0.000029	erythropoietin receptor activity
GO:0004877	0.000029	complement component C3b receptor activity
GO:0004876	0.000029	complement component C3a receptor activity
GO:0004847	0.000029	urea carboxylase activity
GO:0004836	0.000029	tyramine-beta hydroxylase activity
GO:0004821	0.000029	histidine-tRNA ligase activity
GO:0004808	0.000029	tRNA (5-methylaminomethyl-2-thiouridylate)-methyltransferase activity
GO:0004790	0.000029	thioether S-methyltransferase activity
GO:0004787	0.000029	thiamine-pyrophosphatase activity
GO:0004782	0.000029	sulfinoalanine decarboxylase activity
GO:0004757	0.000029	sepiapterin reductase activity
GO:0004755	0.000029	saccharopine dehydrogenase (NADP+, L-glutamate-forming) activity
GO:0004754	0.000029	saccharopine dehydrogenase (NAD+, L-lysine-forming) activity
GO:0004747	0.000029	ribokinase activity
GO:0004734	0.000029	pyrimidodiazepine synthase activity
GO:0004730	0.000029	pseudouridylate synthase activity
GO:0004728	0.000029	receptor signaling protein tyrosine phosphatase activity
GO:0004665	0.000029	prephenate dehydrogenase (NADP+) activity
GO:0004578	0.000029	chitobiosyldiphosphodolichol beta-mannosyltransferase activity
GO:0004573	0.000029	mannosyl-oligosaccharide glucosidase activity
GO:0004561	0.000029	alpha-N-acetylglucosaminidase activity
GO:0004552	0.000029	octanol dehydrogenase activity
GO:0004513	0.000029	neolactotetraosylceramide alpha-2,3-sialyltransferase activity
GO:0004501	0.000029	ecdysone 20-monooxygenase activity
GO:0004492	0.000029	methylmalonyl-CoA decarboxylase activity
GO:0004490	0.000029	methylglutaconyl-CoA hydratase activity
GO:0004461	0.000029	lactose synthase activity
GO:0004460	0.000029	L-lactate dehydrogenase (cytochrome) activity
GO:0004456	0.000029	phosphogluconate dehydratase activity
GO:0004446	0.000029	inositol-hexakisphosphate phosphatase activity
GO:0004423	0.000029	iduronate-2-sulfatase activity
GO:0004409	0.000029	homoaconitate hydratase activity
GO:0004381	0.000029	fucosylgalactoside 3-alpha-galactosyltransferase activity
GO:0004378	0.000029	GDP-Man:Man1GlcNAc2-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0004361	0.000029	glutaryl-CoA dehydrogenase activity
GO:0004344	0.000029	glucose dehydrogenase activity
GO:0004336	0.000029	galactosylceramidase activity
GO:0004319	0.000029	enoyl-[acyl-carrier-protein] reductase (NADPH, B-specific) activity
GO:0004313	0.000029	[acyl-carrier-protein] S-acetyltransferase activity
GO:0004166	0.000029	dolichyl-phosphate alpha-N-acetylglucosaminyltransferase activity
GO:0004159	0.000029	dihydrouracil dehydrogenase (NAD+) activity
GO:0004147	0.000029	dihydrolipoamide branched chain acyltransferase activity
GO:0004136	0.000029	deoxyadenosine kinase activity
GO:0004125	0.000029	L-seryl-tRNASec selenium transferase activity
GO:0004098	0.000029	cerebroside-sulfatase activity
GO:0004085	0.000029	butyryl-CoA dehydrogenase activity
GO:0004082	0.000029	bisphosphoglycerate mutase activity
GO:0004080	0.000029	biotin-[propionyl-CoA-carboxylase (ATP-hydrolyzing)] ligase activity
GO:0004078	0.000029	biotin-[methylcrotonoyl-CoA-carboxylase] ligase activity
GO:0003974	0.000029	UDP-N-acetylglucosamine 4-epimerase activity
GO:0003947	0.000029	(N-acetylneuraminyl)-galactosylglucosylceramide N-acetylgalactosaminyltransferase activity
GO:0003945	0.000029	N-acetyllactosamine synthase activity
GO:0003944	0.000029	N-acetylglucosamine-1-phosphodiester alpha-N-acetylglucosaminidase activity
GO:0003940	0.000029	L-iduronidase activity
GO:0003877	0.000029	ATP adenylyltransferase activity
GO:0003868	0.000029	4-hydroxyphenylpyruvate dioxygenase activity
GO:0003859	0.000029	3-hydroxybutyryl-CoA dehydratase activity
GO:0003853	0.000029	2-methylacyl-CoA dehydrogenase activity
GO:0003830	0.000029	beta-1,4-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0003693	0.000029	P-element binding
GO:0003689	0.000029	DNA clamp loader activity
GO:0002935	0.000029	tRNA (adenine-C2-)-methyltransferase activity
GO:0002153	0.000029	steroid receptor RNA activator RNA binding
GO:0002113	0.000029	interleukin-33 binding
GO:0002083	0.000029	4-hydroxybenzoate decaprenyltransferase activity
GO:0002059	0.000029	thymine binding
GO:0002055	0.000029	adenine binding
GO:0001918	0.000029	farnesylated protein binding
GO:0001888	0.000029	glucuronyl-galactosyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0001864	0.000029	pentraxin binding
GO:0001861	0.000029	complement component C4b receptor activity
GO:0001792	0.000029	polymeric immunoglobulin receptor activity
GO:0001761	0.000029	beta-alanine transmembrane transporter activity
GO:0001760	0.000029	aminocarboxymuconate-semialdehyde decarboxylase activity
GO:0001734	0.000029	mRNA (N6-adenosine)-methyltransferase activity
GO:0001733	0.000029	galactosylceramide sulfotransferase activity
GO:0001691	0.000029	pseudophosphatase activity
GO:0001634	0.000029	pituitary adenylate cyclase-activating polypeptide receptor activity
GO:0001631	0.000029	cysteinyl leukotriene receptor activity
GO:0001616	0.000029	growth hormone secretagogue receptor activity
GO:0001604	0.000029	urotensin II receptor activity
GO:0001587	0.000029	Gq/11-coupled serotonin receptor activity
GO:0001214	0.000029	RNA polymerase II transcriptional repressor activity, metal ion regulated core promoter proximal region sequence-specific binding
GO:0001204	0.000029	bacterial-type RNA polymerase transcription factor activity, metal ion regulated sequence-specific DNA binding
GO:0001155	0.000029	TFIIIA-class transcription factor binding
GO:0001153	0.000029	transcription factor activity, RNA polymerase III transcription factor recruiting
GO:0001152	0.000029	transcription factor activity, RNA polymerase III type 1 promoter sequence-specific binding, TFIIIC recruiting
GO:0001140	0.000029	transcriptional activator activity, bacterial-type RNA polymerase core promoter proximal region sequence-specific binding
GO:0001138	0.000029	transcription factor activity, TFIIH-class transcription factor recruiting
GO:0001095	0.000029	TFIIE-class transcription factor binding
GO:0001090	0.000029	transcription factor activity, TFIIH-class binding
GO:0001088	0.000029	transcription factor activity, TFIIE-class binding
GO:0001087	0.000029	transcription factor activity, TFIIB-class binding
GO:0001084	0.000029	transcription factor activity, TFIID-class binding
GO:0001065	0.000029	mitochondrial single subunit type RNA polymerase activity
GO:0001064	0.000029	single subunit type RNA polymerase activity
GO:0001056	0.000029	RNA polymerase III activity
GO:0001055	0.000029	RNA polymerase II activity
GO:0001011	0.000029	transcription factor activity, sequence-specific DNA binding, RNA polymerase recruiting
GO:0001002	0.000029	RNA polymerase III type 1 promoter sequence-specific DNA binding
GO:0000992	0.000029	polymerase III regulatory region sequence-specific DNA binding
GO:0000985	0.000029	bacterial-type RNA polymerase core promoter sequence-specific DNA binding
GO:0000908	0.000029	taurine dioxygenase activity
GO:0000907	0.000029	sulfonate dioxygenase activity
GO:0000832	0.000029	inositol hexakisphosphate 5-kinase activity
GO:0000830	0.000029	inositol hexakisphosphate 4-kinase activity
GO:0000810	0.000029	diacylglycerol diphosphate phosphatase activity
GO:0000704	0.000029	pyrimidine dimer DNA N-glycosylase activity
GO:0000401	0.000029	open form four-way junction DNA binding
GO:0000386	0.000029	second spliceosomal transesterification activity
GO:0000384	0.000029	first spliceosomal transesterification activity
GO:0000319	0.000029	sulfite transmembrane transporter activity
GO:0000277	0.000029	[cytochrome c]-lysine N-methyltransferase activity
GO:0000225	0.000029	N-acetylglucosaminylphosphatidylinositol deacetylase activity
GO:0000215	0.000029	tRNA 2'-phosphotransferase activity
GO:0000140	0.000029	acylglycerone-phosphate reductase activity
GO:0000010	0.000029	trans-hexaprenyltranstransferase activity
GO:0000007	0.000029	low-affinity zinc ion transmembrane transporter activity
GO:0000006	0.000029	high-affinity zinc uptake transmembrane transporter activity
